[2022-02-25 16:58] bradleypatton commented on #2624
So while collecting data to respond to your questions I think I've resolved the issue. However it's not clear why my changes got things working.

Here are the two classes (with comments stripped). Pretty basic POCOs

	public class ApplicationUser : IdentityUser {
		public int AccountId { get; set; }

		[MaxLength(250)]
		[Display(Name = "Display Name")]
		public string DisplayName { get; set; }

[2022-03-01 05:28] habbes commented on #2624
@bradleypatton thanks for sharing the additional information. I'm going to try and reproduce the issue then get back to you. Meanwhile, I still have a couple more questions:
- Is it possible to show the actual response data returned by the service both with and without using an OData controller? Do you have any `null` items in the collection by any chance?
- When you say you managed to resolve the

[2022-03-01 07:34] habbes commented on #2624
@bradleypatton I managed to reproduce the issue. It seems that when you apply the `Route()` attribute to the controller, the requests may get routed to the incorrect `Get` method. If you have a `GetAsync()` and `GetAsync(string id)` and you call `GET odata/Users`, it appears that the requests gets routed to the `GetAsync(string id)` overload. The `id` in this case would be null since it's not prov

[2022-03-01 07:43] habbes commented on #132
The model builder has been extracted to its own [standalone library here](https://github.com/OData/ModelBuilder). Closing this issue due to inactivity. If this is still an issue in the latest versions of the library, kindly create a new issue.

[2022-03-01 07:43] #132 closed

[2022-03-01 07:44] habbes commented on #116
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:44] #116 closed

[2022-03-01 07:44] habbes commented on #109
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:44] #109 closed

[2022-03-01 07:44] habbes commented on #102
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:44] #102 closed

[2022-03-01 07:45] habbes commented on #101
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:45] #101 closed

[2022-03-01 07:45] habbes commented on #94
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:45] #94 closed

[2022-03-01 07:45] habbes commented on #90
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:45] #90 closed

[2022-03-01 07:45] habbes commented on #83
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:45] #83 closed

[2022-03-01 07:45] habbes commented on #43
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:45] #43 closed

[2022-03-01 07:46] habbes commented on #33
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:46] #33 closed

[2022-03-01 07:46] habbes commented on #27
Closing this issue due to inactivity. If this issue still affects latest versions of the library, kindly create a new issue.

[2022-03-01 07:46] #27 closed

[2022-03-01 07:54] habbes commented on #418
Closing this issue. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:54] #418 closed

[2022-03-01 07:55] habbes commented on #404
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:55] #404 closed

[2022-03-01 07:55] habbes commented on #395
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:55] #395 closed

[2022-03-01 07:56] habbes commented on #357
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:56] #357 closed

[2022-03-01 07:57] habbes commented on #356
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:57] #356 closed

[2022-03-01 07:59] habbes commented on #289
Closing this issue as it appears to have been addressed in the linked PR. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:59] #289 closed

[2022-03-01 07:59] habbes commented on #288
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:59] #288 closed

[2022-03-01 07:59] habbes commented on #278
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:59] #278 closed

[2022-03-01 07:59] habbes commented on #230
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:59] #230 closed

[2022-03-01 07:59] habbes commented on #220
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:59] #220 closed

[2022-03-01 07:59] habbes commented on #212
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 07:59] #212 closed

[2022-03-01 08:01] habbes commented on #211
Closing this issue since it seems to have been addressed by the linked PR. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:01] #211 closed

[2022-03-01 08:02] habbes commented on #204
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:02] #204 closed

[2022-03-01 08:02] habbes commented on #174
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:02] #174 closed

[2022-03-01 08:03] habbes commented on #167
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:03] #167 closed

[2022-03-01 08:03] habbes commented on #165
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:04] habbes commented on #150
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:04] #150 closed

[2022-03-01 08:04] habbes commented on #136
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:04] #136 closed

[2022-03-01 08:14] habbes commented on #299
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:14] #299 closed

[2022-03-01 08:14] habbes commented on #315
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:14] #315 closed

[2022-03-01 08:15] habbes commented on #339
Closing this issue due to inactivity. If this still affects the latest versions of the library, kindly open a new issue.

[2022-03-01 08:15] #339 closed

[2022-03-01 09:13] habbes commented on #328
Closed since it appears the issue was addressed by the linked PR. If the issue still exists in the latest versions of the library, kindly open a new issue.

[2022-03-01 09:13] #328 closed

[2022-03-01 09:15] habbes commented on #165
Adding this to the backlog to be reviewed in the next prioritization cycle. Backlog reference: 1791150

[2022-03-01 09:16] habbes commented on #175
Adding this to the backlog to be reviewed in the next prioritization cycle. Backlog reference: 1791150

[2022-03-01 09:33] premiaware opened #2629 "Update from Microsoft.AspNet.OData v.7.5.11 to v.7.5.13 Delta is null"
I have update  Microsoft.AspNet.OData v.7.5.11 to v.7.5.13, i use DbGeography data type using this implementation

https://devblogs.microsoft.com/odata/how-to-consume-sql-spatial-data-with-web-api-v2-2-for-odata-v4/

with version v.7.5.11 e previous all working well,
if I update my project to v.7.5.13 stop working when I try to patch data with this error:

The request is invalid: Nullable values c

[2022-03-01 11:43] KenitoInc commented on #2485
Closing this since the customer was not using the `$count=true` query option.

[2022-03-01 11:43] #2485 closed

[2022-03-01 11:45] KenitoInc commented on #2367
Closing this since the customer did not share a full repro.

@TomekPi  Feel free to reopen this if you need more assistance.

[2022-03-01 11:45] #2367 closed

[2022-03-01 11:49] KenitoInc commented on #2437
Issue resolved by #2457

[2022-03-01 11:49] #2437 closed

[2022-03-01 11:57] KenitoInc commented on #2434
@ozanerdogan90 Was your issue resolved?
If not kindly share a repro

[2022-03-01 12:13] KenitoInc commented on #2465
Issue fixed by #2565

[2022-03-01 12:13] #2465 closed

[2022-03-01 12:26] KenitoInc commented on #2545
@MinhMit Did using EF Classic 6 resolve your issue?

[2022-03-01 12:39] KenitoInc commented on #2611
@akhilkohlimicrosoft Did you manage to resolve this?

[2022-03-01 13:13] KenitoInc commented on #2403
Fixed by #2523

[2022-03-01 13:13] #2403 closed

[2022-03-01 13:29] KenitoInc commented on #2260
@Kanac  This was released in v7.5.0 https://docs.microsoft.com/en-us/odata/changelog/webapi-7x#webapi-750

[2022-03-01 13:29] #2260 closed

[2022-03-01 16:09] corranrogue9 opened #2630 "`CRUDEntitySetShouldWork` test fails intermittently"
The test `CRUDEntitySetShouldWork` fails intermittently due to the use of a random number generator.

### Assemblies affected

Due to the nature of the random number generator, it is possible that the issue remains, but the repro doesn't work based on future commits, but this issue is definitely present for commit `5eb077d9a1d35e40005d4d86682cbd249d0ed819`.

### Reproduce steps

Update the test to

[2022-03-01 18:20] KenitoInc commented on #2629
Kind share the error stacktrace so that we can investigate this issue.
Note: we made some changes in v7.5.12 to ignore unmapped properties in Delta. PR #2544

[2022-03-01 20:23] Sreejithpin commented on #2629
@premiaware  We also had a PR where we return T from Path method, this is for handling complex types. If you could share more details would be great. We can sit and can troubleshoot

[2022-03-01 21:02] premiaware commented on #2629
Hi, thank's for support me,

I have a generic controller in my Asp.Net WebApi

public class GenericController<T> : baseGenericODataController where T: class, BaseGenericModel
........
.......

    public async Task<IHttpActionResult> Patch([FromODataUri] long key, Delta<T> delta)
        {
            if (!ModelState.IsValid)
            {
                return BadRequest(ModelState);

[2022-03-01 21:09] Sreejithpin commented on #2629
@premiaware Can you please give a repro and we can sit working towards it

[2022-03-01 21:15] premiaware commented on #2629
i can try but i think it will take me some time

[2022-03-01 21:57] Sreejithpin commented on #2629
@premiaware no worries, but would be really helpful

[2022-03-02 18:14] 2r0ck commented on #2402
I have the same problem. When large responses are received from the server, memory is not freed. Any ideas how to fix this?

[2022-03-03 08:33] rahul7720 commented on #1830
Any updates on this?

[2022-03-03 13:34] andygjp commented on #211
So how do I go about setting the MaxLength on a parameter? It doesn't seem like ParameterConfiguration has any way of setting it with version 8.0.7 of Microsoft.AspNetCore.OData.

[2022-03-03 16:16] #2434 closed

[2022-03-04 00:02] Sreejithpin commented on #2629
@premiaware Can you please give the request (payload and url) details as well

[2022-03-04 20:52] Sreejithpin commented on #2629
@premiaware I tried with a request for a repro sam created and delta was not null. Can we sit together to fix

[2022-03-05 07:08] premiaware commented on #2629
Hi, in this Moment i have few time to prepare repo. Is possible that i share my developer machine with you? We can chat with Skype? My account Is premiaware

[2022-03-07 01:30] Sreejithpin commented on #2629
@premiaware Yes we can sit, please tell me whenever you are free at the earliest

[2022-03-07 20:25] Sreejithpin commented on #2629
@premiaware Can you pls give you id/email

[2022-03-07 20:44] premiaware commented on #2629
info@premiaware.com
skype: premiaware

[2022-03-07 20:47] Sreejithpin commented on #2629
Thanks . sending a meeting request. Would you be able to use Teams?

[2022-03-07 20:49] premiaware commented on #2629
no teams no work, is possibile to use anydesk.com and skype for chat?

[2022-03-07 20:50] Sreejithpin commented on #2629
let me try, can you use zoom?

[2022-03-07 20:56] premiaware commented on #2629
i would prefer anydesk, with zoom i had virus problems.

[2022-03-07 20:57] Sreejithpin commented on #2629
Ok let me try will mail you, thanks

[2022-03-07 21:54] Sreejithpin commented on #2629
I have installed anydesk, would you need both skype and anydesk or can we connect call over anydesk?

[2022-03-07 21:59] Sreejithpin commented on #2629
Hi sent you a sky[pe invite

[2022-03-07 22:03] Sreejithpin commented on #2629
pls try joining https://join.skype.com/XOJeBWwBwfb4

[2022-03-07 22:19] Sreejithpin commented on #2629
I am in the call, are you able to join

[2022-03-07 22:55] commonsensesoftware opened #2632 "NuGet Package 7.5.13 Has Wrong Dependency Versions"
**Microsoft.AspNet.OData** NuGet package version 7.5.13 has the wrong dependency versions. The package claims that the supported dependency on **Microsoft.OData.Core** is `>= 7.9.0 && <= 8.0.0`, but the actual referenced version is 7.10.0. This results in a NuGet package validation failure when referencing the package. You cannot have an actual reference lower than your stated reference. It's uncl

[2022-03-07 23:07] commonsensesoftware commented on #2623
While there _could_ be benefits to targeting .NET 4.8 those are not being stated here. As long as ASP.NET Web API still targets .NET 4.5, the target should not be eliminated. If you want to take advantage of newer features, then adding a target for .NET 4.8 can address that. Forcing this on consumers can cause a myriad of problems. Continuing to target .NET 4.5 requires nothing more than adding th

[2022-03-07 23:36] xuzhg commented on #2632
@commonsensesoftware It's a known issue and we had a fix at https://github.com/OData/WebApi/pull/2628.

We just un-list 7.5.13 and will ship a new version when we are ready.

[2022-03-08 18:59] #2629 closed

[2022-03-08 19:08] commonsensesoftware commented on #2632
Thanks @xuzhg. It was a confusing landmine. If it was known, I'm not sure why it wasn't already unlisted. Regardless, thanks for confirming.

Again, I'm not sure why the build continues to build the `*.nuspec` by hand. I _think_ that's because you're still using MSBuild 14.0 without updating? 🤔 Even the new OData packages for ASP.NET Core do this. I would consider updating. The juice _is_ worth th

[2022-03-08 20:28] xuzhg commented on #2632
@commonsensesoftware There are some accidents that block us from finishing the building.

OData is an open source project and any contributions are welcome.

By the way, we enabled the sourcelink support I think. It can easy to debug using symbols from nuget.org on sourcelink enabled.

[2022-03-08 23:18] xuzhg opened #2633 "Remove out of support target framework"
Here's the dotnet version support

![image](https://user-images.githubusercontent.com/9426627/157342049-d86b22be-ff4d-44e0-9444-e90f07e4cf54.png)

However, our test projects are still targeting on the .NET Core 2.1, etc.

It's time to remove all of them and target on new platform.

[2022-03-09 01:33] mikepizzo commented on #2632
7.5.13 has been unlisted due to this issue. 7.5.14 has been released to replace it.

[2022-03-09 01:44] commonsensesoftware commented on #2632
Great! Thanks for the quick turnaround on this one Sam and Mike.

You're right, it does look like SourceLink is enabled, but the packages are still showing untracked sources and nondeterministic builds. The following will fix it:

[code]

Without that, this is what you'll get:
<img width="210" alt="image" src="https://user-images.githubusercontent.com/11765008/157355720-51b4d9c6-2448-463d-95bd-6c6

[2022-03-09 01:44] #2632 closed

[2022-03-09 06:54] qwertie commented on #2619
FWIW, I located the [repo for the new library (8.x)](https://github.com/OData/AspNetCoreOData) that uses the Microsoft.AspNetCore.OData namespace. There doesn't appear to be a corresponding set of [samples](https://github.com/OData/ODataSamples) for it.

[2022-03-09 07:49] maximpashuk commented on #1598
Hi again, recently I updated my project to **Microsoft.AspNetCore.OData, Version 8.0.8**, and this bug **is still present in 2022**.

[2022-03-10 06:44] #2504 closed

[2022-03-11 22:09] sa-riverar opened #2634 "odata 8.0 net 6 $count is ignored"
I have a controller derived from ODataController everything is fine except that $count=true is not honored

### Assemblies affected

Microsoft.AspNetCore.OData v 8.0.8 (.net 6.0)

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

Count included in response to a get request with $count=true

##

[2022-03-13 09:10] gathogojr commented on #921
But not in OData WebApi but rather in how SQL Server sorts Guid data type

[2022-03-13 09:10] #921 closed

[2022-03-13 09:17] gathogojr commented on #1057
Fixed in current version

[2022-03-13 09:17] #1057 closed

[2022-03-13 09:21] gathogojr commented on #1043
OData Client Code Generation Tool deprecated in favour of [OData Connected Service extension](https://marketplace.visualstudio.com/items?itemName=marketplace.ODataConnectedService)

[2022-03-13 09:21] #1043 closed

[2022-03-13 09:26] #1368 closed

[2022-03-13 09:36] #1602 closed

[2022-03-13 09:53] gathogojr commented on #1596
Guids not enclosed in single quotes supported in current version: Microsoft.AspNetCore.OData 7.5.14

[2022-03-13 09:53] #1596 closed

[2022-03-13 10:53] gathogojr commented on #1761
List of frameworks supported by Microsoft.AspNetCore.OData library are netcoreapp3.1 and netstandard2.0.

[2022-03-13 10:53] #1761 closed

[2022-03-13 10:57] gathogojr commented on #1740
The symbol package is currently published to Nuget. One for current Microsoft.AspNetCore.OData 7.5.14 package is available [here](https://www.nuget.org/api/v2/symbolpackage/Microsoft.AspNetCore.OData/7.5.14)

[2022-03-13 10:57] #1740 closed

[2022-03-13 11:07] gathogojr commented on #1936
$search and $compute enable in [Microsoft.AspNetCore.OData 8.0.5 release](https://github.com/OData/AspNetCoreOData/releases/tag/8.0.5)

[2022-03-13 11:07] #1936 closed

[2022-03-13 11:10] gathogojr commented on #1935
By design

[2022-03-13 11:10] #1935 closed

[2022-03-14 17:54] ificator opened #2635 "Case-Insensitive Property Matching NullRefs"
After upgrading to `7.5.14` we observed a `NullReferenceException` in one of our test cases. After drilling in we found it was related to https://github.com/OData/WebApi/pull/2311 which swapped to allowing case-insensitive property matching during deserialization. We've worked around this by opting into the old behavior, but the nullref needs to be fixed.

### Assemblies affected

Microsoft.AspNet

[2022-03-14 18:30] ificator commented on #2635
It looks like there's a difference in the `property.Value` that's triggering the failure. In the case where you pass in `myProperty` `oDataValue` is `null`, while when you pass in `myproperty` `oDataValue` is not null:
![image](https://user-images.githubusercontent.com/8387253/158237717-943559b4-e866-410f-b6d6-542bdd5a47b0.png)

This makes the kind be `Primitive` instead of `None` and it triggers

[2022-03-14 20:31] mikepizzo commented on #2604
The interesting issue is that it appears legal to create an attribute with the "$" prefix in the JSON metadata.  We should not be able to create a name in one format that's not legal in the other format.

[2022-03-15 09:43] nicovos commented on #2041
Hello @KanishManuja-MS,

I run into the same issue. So I'm to trying to implement paging functionality into my application and thus I using the odata generated next link in the result of a OData WEB API call.

"@odata.nextLink": "http://127.0.0.1:50057/odata/views/ReportTranslations?$count=true&$orderby=Code&$skiptoken=Code-%27ADDRESSLINES%27,LanguageID-2,ReportName-null,Translation-%27Addressline

[2022-03-15 13:54] Criperum commented on #1974
This bug is still present in the latest versions

[2022-03-15 16:22] Nthemba commented on #2633
Do we remove the test and the library code at the same time?

[2022-03-16 08:36] padhumailin opened #2636 "Date filter is not working in Odata 7.8.3"
[code]
when try to filter with below uri

$filter= License/any(a:a/EndDateTime ge 2017-01-01) and License/any(a:a/EndDateTime le 2030-01-01)

Translated sql query formed like this,
[code]

	**Issue 1:** Here [License] table filter query generated with two EXISTS condition. Hence the expected results is mismatched and returns incorrect data
	**Issue 2:**In EXISTS condition DATEPART() is used to con

[2022-03-16 19:40] mikepizzo commented on #159
@corranrogue9  -- may be related to the count issues you have been looking into recently.

[2022-03-18 05:59] Sayan751 commented on #1631
I am still having this issue in Microsoft.AspNetCore.OData 8.0.8, latest ATM.

[2022-03-22 18:39] xuzhg commented on #2636
@[padhumailin](https://github.com/padhumailin) Can you share with us a repro to dig more?

Can you update the EF from 5 to 6? or even update to EF Core 6 to verify?

[2022-03-22 18:48] xuzhg commented on #2636
@padhumailin
are the following expressions that can work at your side?

`$filter= License/any(a:a/EndDateTime ge 2017-01-01 and a/EndDateTime le 2030-01-01)`   or
`$filter= License/any(a:(a/EndDateTime ge 2017-01-01 and a/EndDateTime le 2030-01-01))`

can you try that and let us know the result?

[2022-03-24 14:14] Criperum opened #2637 "How to properly intercept OData queries"
Hello.
I'm trying  to intercept expressions that OData feeds to a IQueryable, but I'm facing a problem.
I've created a ProxyProvider that contains original provider of the IQueryable(DbSet) and for now just reroutes all calls to the original without any side effects. For some reason when I do $expand this system generates an additional JOIN in result SQL query. While using original Provider does n

[2022-03-25 11:03] #2637 closed

[2022-03-25 12:43] Criperum opened #2638 "Strange projection behavior 8.0.8"
*Extra projections added to wrapped IQueryable upon using $expand*

### Assemblies affected

Microsoft.AspNetCore.OData 8.0.8

### Reproduce steps

The test project was made available on [Github](https://github.com/Criperum/odtestrepo.git)

1. Call a get endpoint with the followinf URL "http://localhost:5216/api/Firsts?$expand=Seconds"
2. In debug observe logs generated by different approaches in

[2022-03-29 04:31] padhumailin commented on #2636
Thanks works good the suggested expression.

[2022-03-29 04:31] #2636 closed

[2022-03-29 06:48] mishraabhinn commented on #766
I think it too late for answers but you should change the path  in builder ReturnsCollectionFromEntitySet<Hotel>(nameoff(Hotel));

[2022-03-31 10:33] padhumailin opened #2639 "How to customize example value in open api documentation with odata specification"
Hi, i have designed a GET call api and it returns below as Example value in
open api documentation of swagger.

**Responses:**
[code]

But my expectation would be as shown below, since i have exposed the controller
as odata enabled query

**Responses:**
[code]

Can someone please suggest, how i can include "value" in example value. Please suggest
how we can customize response body in open api docu

[2022-03-31 17:13] elglogins commented on #2359
Hello,

Any updates?

[2022-04-01 10:11] adzhiljano opened #2640 "JSON metadata support for Microsoft.AspNet.OData"
Having an ASP.NET WebAPI project, targeting `net472` (which implements `netstandard2.0`), and having the latest OData packages when trying to do `host/$metadata?$format=json` I get the following error:
`The JSON metadata is not supported at this platform. It's only supported at platform implementing .NETStardard 2.0.`

### Assemblies affected

Microsoft.AspNet.OData 7.5.14
Microsoft.OData.Core 7.1

[2022-04-02 09:51] aboryczko commented on #1794
works as expected with current version

[2022-04-02 09:51] #1794 closed

[2022-04-04 08:23] habbes commented on #175
Closed as duplicate of #165

[2022-04-04 08:23] #175 closed

[2022-04-05 14:20] gathogojr commented on #2639
@padhumailin The first response looks to me like outcome of fetching an entity by Id while the response you were expecting looks like the outcome of fetching an entity set (entity collection). Could you please share your Url? Maybe it'd also help to share a code sample implementation of your controller

[2022-04-05 16:17] gathogojr commented on #2639
@padhumailin Looks like the response is not being serialized by the OData serializer. Kindly share your setup logic so we're able to troubleshoot the issue.

[2022-04-05 16:33] corranrogue9 commented on #2640
Older .NET framework versions are going out of support soon. Shipping Core with .NET framework 4.6.2 should allow us to consume System.Text.Json from Core for all versions, which should solve this probably.

[2022-04-05 18:14] krishnamadhavmajety commented on #2262
Hi @KenitoInc ,

Please share if there is any update on this issue.. Thanks!

[2022-04-07 17:58] gathogojr commented on #2639
@padhumailin Were you able to resolve the issue on your own? Can I close this issue?

[2022-04-10 19:16] gathogojr commented on #1008
Support for $compute and $search implemented in [AspNet Core OData](https://github.com/OData/AspNetCoreOData)
Blog https://devblogs.microsoft.com/odata/compute-and-search-in-asp-net-core-odata-8/

[2022-04-10 19:16] #1008 closed

[2022-04-10 19:19] gathogojr commented on #995
OData 6.0 is in maintenance mode

[2022-04-10 19:19] #995 closed

[2022-04-10 19:42] gathogojr commented on #1572
More recent issue to track the described bug/issue

[2022-04-10 19:42] #1572 closed

[2022-04-10 20:07] gathogojr commented on #1564
Fixed by https://github.com/OData/odata.net/pull/2051

[2022-04-10 20:07] #1564 closed

[2022-04-10 20:26] gathogojr commented on #2639
Proceeding to close issue. No response from issue reporter

[2022-04-10 20:26] #2639 closed

[2022-04-21 08:15] ericcanadas commented on #2161
I have the same problem too. (sorry to dig up the topic)
@xuzhg, you suggest to specified named value, which I tried but it does not return anything if the order is not respected.
Anyway, le Get() method is not fired !

Should this work ?

[2022-04-22 04:07] dweeden commented on #2216
@bonfi7 did you ever solve this?  i'm seeing the exact same behaviour within a very similar dynamic context using devexpress's dxDatagrid

[2022-04-23 14:08] iammelvin opened #2641 "Odata $expand throwing ArgumentException on nested collection property"
I am using .Net Core 3.1 with EF Core 3.1.2 & Odata 7.3.0 with C# Web API 2. I am trying to return eagerly loaded data as IQueryable mapped with AutoMapper but I get argument exception like below.

Here's my actual query

[code]

I get the error only when I add the below item in the query projection because the nested property itself is an ICollection type. I don't want to execute the query in mem

[2022-04-24 21:21] #2603 closed

[2022-04-26 15:50] ificator opened #2642 ""build" from console fails with only VS2022 installer"
It looks like `build.ps1` is hardcoded for VS2019, and so on new machines where only VS2022 is installed the build fails.

### Assemblies affected

All

### Reproduce steps

Install only VS2022 on a machine and attempt a build from the console

### Expected result

The build succeeds

### Actual result

The build fails

[2022-05-05 08:20] amkansara commented on #2616
@habbes Did you get a chance to review the previous comment?

[2022-05-06 09:57] SequPL commented on #2116
Any news ?

it is very confusing that cannot use strongly typed value objects with DTOs directly.

[2022-05-09 16:11] andrew-vdb opened #2644 "ODataController performance is very slow"
When I use $top 100, within 1 minute there are only 213 requests served
It is so slow that its not something we can accept
Do we have any performance target?
Same query with ApiController + ADO.net and produce same result is much much faster

### Assemblies affected

![image](https://user-images.githubusercontent.com/12871379/167451030-c6ee3ad9-a65d-42f7-ab69-00d3e1aebb17.png)

### Reproduce steps

[2022-05-10 06:23] sniperwolfpk5 commented on #1626
**Please help me**

I am facing the same issue the response is cut. I have created a custom serializer, but I am facing a problem with the serializer.
This is what I am able to serialize it
[code]
**But I want to serialize it something like this**
[code]
This is the serializer Class
[code]
Simplied one
[code]
and this is the provider class
[code]
This is the startup settings and dependency injecti

[2022-05-10 17:03] #889 closed

[2022-05-10 18:18] ImGonaRot opened #2645 "Microsoft.AspNet.OData version 7.5.12 and higher throwing ModelBinding.ModelError -- Value cannot be null.\r\nParameter name: nullableType"
Microsoft.AspNet.OData version 7.5.12 and higher

When I try to save to the OData service I am getting the following error that does not occur in Microsoft.AspNet.OData versions 7.5.11 or lower.

This is happening on several models and all the models are valid.
It sets ModelState.IsValid to false on the HttpActionContext and throws the error.

[code]

[2022-05-11 02:01] dweeden commented on #2216
@xuzhg @marabooy should I open a new ticket for this considering it's still a problem or can it be reopened?

[2022-05-12 23:48] Lusey77 commented on #2269
@xuzhg Are there any plans to fix this. My team is also running into this issue. Thanks for the help!

[2022-05-13 06:36] gathogojr commented on #2644
Thanks @andrew-vdb for reporting the issue. To help with troubleshooting the issue,
1. Could you clarify this? >> **do k6 with --vus 250 --duration 3m**
2. One thing that we do in OData that vanilla ASP.NET Core doesn't typically do is return the total count as `@odata.count`, i.e. if you request for the top 10, we'll return the "out-of" total in the response. Could you please confirm what the siz

[2022-05-15 03:57] andrew-vdb commented on #2644
@gathogojr

1.
k6 is stress test tool, see https://k6.io/
k6 --vus 250 --duration 3m means run stress test with 250 virtual users for 3 minutes
the k6 script simply http get to odata endpoint where the access token is hard coded
I think it will be nice if you can compare the benchmark running odataController vs ado.net, an official benchmark will give more clarity what is the expectation in regard

[2022-05-16 04:49] padhumailin opened #2647 "Migration from Azure Directory Graph to Microsoft graph API is not working"
While migrating from azure directory graph to microsoft graph API, the request is failing with below error.

One or more errors occured. (Code: Request_ResourceNotFound Message: Resource'00000000-0000-0000-0000-00000000000000'
does not exist or one of ites queried reference-property objects are not present

Exception : Microsoft.Graph.ServiceException

Sample code snippet:
         var userneedsTo

[2022-05-17 00:38] corranrogue9 commented on #2647
I'm not familiar with the SDK that you are using, but from the error it seems that your request is providing an empty guid as the ID for a navigation property. What I know of `JObject.FromObject`, if any of the properties or sub-properties of `userneedsToBeCreated` are guids, they will be set to the default value of the empty guid. The response looks accurate to me for that reason.

Can you tell u

[2022-05-17 00:44] corranrogue9 commented on #2645
Can you please provide a model that produces this error? Also, if you have the value of `errorMessage` in your code snippet, that would be helpful

[2022-05-17 01:50] ImGonaRot commented on #2645
The message listed above was "modelError.Exception.ToString".
Here it is again from the Immediate Window.
This is all it gives me and there is no inner exception.
[code]

Here is one of the models that has been working since OData V3 with last change in our source control dated 5/10/2017.
Several models seem to be broken when using 7.5.12 but not all of them.
When I use 7.5.11 this model is workin

[2022-05-17 13:23] KenitoInc commented on #1833
@prasadpkorhale
Closing this since @xuzhg provided a response.

[2022-05-18 07:45] KenitoInc commented on #2107
@maboivin Was this issue resolved? If yes we can close the issue

[2022-05-18 07:48] KenitoInc commented on #2129
Closing this since no repro was shared.

@joshcomley Feel free to open a new issue if you encounter any more problems

[2022-05-18 07:48] #2129 closed

[2022-05-18 07:50] KenitoInc commented on #2133
@magneticcore Was this issue resolved? If yes, we can close it

[2022-05-18 07:51] KenitoInc commented on #2150
@ImGonaRot Was this issue resolved? If yes, kindly close the issue

[2022-05-18 07:53] #2152 closed

[2022-05-18 08:00] KenitoInc commented on #2164
@mitselplik  I assume this question was resolved. Closing this issue

[2022-05-18 08:00] #2164 closed

[2022-05-18 08:08] KenitoInc commented on #2225
@komdil Was this issue resolved?

[2022-05-18 08:09] KenitoInc commented on #2226
@komdil Was this issue resolved?

[2022-05-18 08:09] KenitoInc commented on #2230
@AnvardeenBatcha Was this issue resolved?

[2022-05-18 08:16] KenitoInc commented on #2239
@tinonetic Was this issue resolved? If yes, kindly close it

[2022-05-18 08:18] KenitoInc commented on #2242
@yangbodevp Was your issue resolved?

[2022-05-18 08:23] KenitoInc commented on #2269
@maumar @Lusey77 From Microsoft.AspnetCore.OData v8.0.4, we can custom the SelectExpandBinder to generate a preferred LinQ expression

[2022-05-18 08:27] KenitoInc commented on #2324
@ud09 Was this issue resolved?

[2022-05-18 08:31] KenitoInc commented on #2272
Not supported by the spec

[2022-05-18 08:31] #2272 closed

[2022-05-18 09:11] komdil commented on #2226
I don't know. Did you check the steps?

[2022-05-18 11:01] KenitoInc commented on #2329
@adixon501
The query below should work
https://localhost:5001/odata/Orders?$count=true&$expand=Customer($count=true)&$filter=Some criteria&$top=7&$skip=0

[2022-05-18 11:16] KenitoInc commented on #2353
This question seems to have been answered.
Let me close this issue

[2022-05-18 11:16] #2353 closed

[2022-05-18 11:26] KenitoInc commented on #2371
Closing this since it's not an OData issue

[2022-05-18 11:26] #2371 closed

[2022-05-18 11:29] KenitoInc commented on #2381
Closing this due to inactivity

[2022-05-18 11:29] #2381 closed

[2022-05-18 11:30] KenitoInc commented on #2386
@marshal1501 Was this issue resolved?

[2022-05-18 11:32] KenitoInc commented on #2396
@xpr0gamers Were you able to resolve this issue?

[2022-05-18 17:52] ificator commented on #2272
Do you mind pointing me to the part of the spec where this is called out? I don't see any mention of dynamic properties in relation to `$filter`, nor do I see anything that states that `$filter` only applies to entity / schema types.

If it truly is against spec then either ODataLib should fail parsing the query string.

[2022-05-24 06:24] habbes commented on #2644
@andrew-vdb When you use `EnableQuery` (the non-async version), how does the performance compare?

[2022-05-24 06:43] habbes commented on #2644
@andrew-vdb are you using the 7.5.x version of WebAPI or 8.x?

[2022-05-24 07:48] davidediluccio97 opened #2649 "OData sort by value in a collection"
I have the following classes:

[code]

I have an **OData API** that returns a list of products.

**I want to get products ordered by the value "amount" of "Prices" using only a specific PriceType (name="final"), so the collection "Prices" comes always with one child.**

*For example* the response could be:
[code]

***The problem is that I'm not able to use the $orderby clause*** in the OData query

[2022-05-25 03:29] andrew-vdb commented on #2644
@habbes I used version 8.x

It is difficult to produce visual studio profiler report, it is barely working....

Just curious, why do we need to do fancy thing during serialization?

[2022-05-27 04:41] padhumailin commented on #2647
We sending request of the bellow mentioned format

REQUEST :
var userneedsToBeCreated = new AzureB2CCreateUser()
{
accountEnabled = true,
displayName = Email,
passwordProfile = new Entities.PasswordProfile
{
password = "",
forceChangePasswordNextLogin = true
forceChangePasswordNextSignInWithMfa = true
},
userPrincipalName = Email
};
JObject userToBeCreatedJson = JObject.FromObject(userneedsToBeCre

[2022-05-27 08:29] habbes commented on #2644
@andrew-vdb Is `EnableQueryAsync` a custom attribute you created?

[2022-05-27 11:06] psaltelk commented on #165
Was this resolved? I am building OData API using a dynamic model which  I read from a database as it differs for every client. Tried adding the PageSize limit to the controller and it does not work.

[2022-05-29 23:20] ificator opened #2651 "Question: Difference between src/Microsoft.AspNetCore.OData and AspNetCoreOData"
I noticed that there's a new `AspNetCoreOData` repository that seems to be the, well, AspNetCore version of the `OData` library. But there's also the `src/Microsoft.AspNetCore.OData` directory in this repository. Is the AspNetCore code in this repository no longer used? If so, it would be good to remove it to avoid confusion.

Also, as the two code bases divergence what is the expectation for bug

[2022-05-31 18:28] xuzhg commented on #2651
@ificator

- https://github.com/OData/WebApi is a repository for ASP.NET (Core) OData 7.x, meanwhile,
- https://github.com/OData/AspNetCoreOData is a repository for ASP.NET Core OData 8.x.

ASP.NET (Core) OData 7.x:
1) Includes OData on ASP.NET Classic (.Net Framework) and OData on ASP.NET Core
2) The namespace is 'Microsoft.AspNet.OData' for both
3) Contains model builder as component in the proj

[2022-06-02 21:11] corranrogue9 commented on #2647
@padhumailin, sorry, without the SDK, I still don't know what the actual HTTP request is. I'm looking for something like a JSON payload so that I can determine if the issue is with the SDK or with MSGraph. Ultimately, I don't think that this is an OData issue (you don't seem to be using any OData code), but I'm trying to point you to the correct team that can actually help.

[2022-06-04 16:59] aimi617 opened #2653 "Microsoft.AspNet.OData version 7.5.15 exception (Method not found: 'System.IServiceProvider ...)"
Microsoft.AspNet.OData version 7.5.15 throws exception:

Exception type: HttpException
Exception message: Method not found: 'System.IServiceProvider Microsoft.Extensions.DependencyInjection.ServiceCollectionContainerBuilderExtensions.BuildServiceProvider(Microsoft.Extensions.DependencyInjection.IServiceCollection)'.

### Assemblies affected

Microsoft.AspNet.OData v.7.5.15

### Reproduce steps

Pr

[2022-06-04 18:17] SomeoneIsWorking commented on #136
I'm suffering greatly from this because I want to use DateTime values as exactly the same as strings.
No timezone conversions, no reading from another timezone or converting to another timezone.
If it the DB says `X` then the page shows `X` and if I send `Y` then it's stored as `Y`.
This is not up to me either, it's in the project's specifications designed by the director.
The only reason I instal

[2022-06-06 08:38] premiaware commented on #2653
I have same issue using this extention method:

    public static class HttpConfigExt
    {
        public static ODataRoute CustomMapODataServiceRoute(this HttpConfiguration configuration, string routeName,
            string routePrefix, IEdmModel model)
        {
        var routingConventions = ODataRoutingConventions.CreateDefaultWithAttributeRouting(routeName, configuration);

        routin

[2022-06-06 13:42] komdil opened #2654 "Support relative date filter query"
I am using OData. And I have lots of scenarios in that I need to do a filter using relative date.

### Assemblies affected
It is related to all versions I guess

### Reproduce steps
Scenarios:
I have a Transaction entity with Date property and let's say I need to get transactions of last:
10 days
6 month
2 years
.......

So I want to make a queries something like:
.../Transaction?$filter=Date lt n

[2022-06-06 16:15] xuzhg commented on #2653
@[aimi617](https://github.com/aimi617) and @[premiaware](https://github.com/premiaware)

Basically, 7.5.15 simply includes https://github.com/OData/WebApi/pull/2650 fix. I tried to fix the 'null reference'.

I actually watched 'https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/DefaultContainerBuilder.cs#L90' as

[code]
It should catch the MissingMethodException. I don't

[2022-06-06 16:37] aimi617 commented on #2653
The exception throws on a line with "**config.EnableDependencyInjection();**"

Here is a fragment of WebApiConfig.cs:

    public static class WebApiConfig
    {
        public static void Register(HttpConfiguration config)
        {
            config.Routes.MapHttpRoute(
                name: "DefaultApi",
                routeTemplate: "api/{controller}/{action}/{id}",
                defaults:

[2022-06-06 17:46] xuzhg commented on #2653
@aimi617 It's weird, the exception is 'Exception Details: System.MissingMethodException', but i catch 'MissingMethodException'.

It should go into the catch block.

[2022-06-06 18:17] #2651 closed

[2022-06-06 19:01] aimi617 commented on #2653
That's a copy of .csproj file: [cloudtest.zip](https://github.com/OData/WebApi/files/8846880/cloudtest.zip)

[2022-06-06 22:17] xuzhg commented on #2653
@aimi617 Your project is referencing 7.5.14. Did you give me a wrong csproj file?
[code]
Could you please double-check it? or Would you please try to use 7.5.15 version?

By the way, I noticed you are still referencing 5.7.0.

[code]
Any reason why do you include 5.7 and 7.5.14 together?

[2022-06-06 23:46] aimi617 commented on #2653
Thanks for mentioning Microsoft.AspNet.WebApi.OData, it was a leftover from the previous OData version and we removed it. Here is updated .csproj file, [cloudtest2.zip](https://github.com/OData/WebApi/files/8848942/cloudtest2.zip). Compilation was fine anyway the same exception still happens.

[2022-06-08 08:31] rachna-lad commented on #2561
@xuzhg @ElizabethOkerio can you please provide any update on this issue?

[2022-06-09 13:03] manoack commented on #2653
As a workaround you can downgrade your Microsoft.Extensions.DependencyInjection and Microsoft.Extensions.DependencyInjection.Abstractions package to version 1.0 and it will works.

[2022-06-09 13:39] Ken-ISC commented on #2330
Did you find the solution to your problem?

[2022-06-10 18:27] Ken-ISC commented on #2303
I'm having the same issue but in getting the XML format @gathogojr, hoping you could help me.
link to my post here : https://stackoverflow.com/questions/72566646/odata-select-and-expand-not-working-on-xml-response

[2022-06-10 18:36] Ken-ISC commented on #1979
I'm having the same issue but in getting the XML format @gathogojr , hoping you could help me.
link to my post here : https://stackoverflow.com/questions/72566646/odata-select-and-expand-not-working-on-xml-response

[2022-06-13 21:01] kjkrum commented on #2187
To summarize, does this mean an unbound action always requires an explicit route on the controller method? This is the only way I could get an unbound action to work and be recognized as an OData path in 8.x.

[code]

[2022-06-14 11:33] andrew-vdb commented on #2644
@habbes yes, the code is from this repo
https://github.com/OData/WebApi/issues/2325

[2022-06-15 03:10] komdil commented on #2654
@xuzhg I didn't see any example on that link. Can you show any examples (for example what would be a query for solving my problem above)?

[2022-06-15 17:02] aimi617 commented on #2653
It's weird, really Micorsoft.OData.Core 7.11.0 is not listed on nuget.org (the latest one is 7.10.0), but VS 2022 shows Micorsoft.OData.Core latest stable is 7.11.0. Besides the compilation and a project work fine with combination of Micorsoft.OData.Core 7.11.0 and Microsoft.AspNet.OData 7.5.14.

[2022-06-15 17:20] aimi617 commented on #2653
It's interesting, 7.11.0 marked as deprecated but VS 2022 shows it as latest stable. Thanks for info, we'll downgrade back to 7.10.0.

[2022-06-23 05:18] jbzdarkid opened #2669 "Returning a ComplexType with a NavigationProperty from a function"
I'm trying to write an OData function which returns a ComplexType containing two lists of entities:

[code]

However, this function does not return any data! Instead, all I get back is the `@odata.context` key/value, with no other information.
[code]

### Assemblies affected

Microsoft.OData.OData version 7.5.14 (and probably others, this is the one I'm using now)

### Reproduce steps

1. Call the

[2022-06-23 06:04] mikepizzo commented on #2156
Hi @xuzhg  -- could you take a look into this issue?

[2022-06-27 22:13] corranrogue9 commented on #2645
@ImGonaRot, I see some things in the offending commit that I don't like, but I've been unable to reproduce this issue. Are you able to provide a small repro? As in, model + request? The above classes I'm not able to repro with, I'm guessing because some other part of the model is actually causing the bug in our `PATCH` code to surface.

[2022-06-28 00:59] corranrogue9 commented on #2647
I'm closing this issue due to inactivity. If you are able to provide more details, please re-open.

[2022-06-28 00:59] #2647 closed

[2022-07-01 13:39] captaintejas opened #2670 "How to add "@odata.deltaLink" in the response using ASP.NET Web API solution"
My Odata service url : https://odataservices.azurewebsites.net/People

Odata Response when browse above URL:

{"@odata.context":"https://odataservices.azurewebsites.net/$metadata#People","value":[{"ID":"001","Name":"Angel","Description":null},{"ID":"002","Name":"Clyde","Description":"Contrary to popular belief, Lorem Ipsum is not simply random text."},{"ID":"003","Name":"Kunal","Description":"It h

[2022-07-03 15:57] HeinA commented on #1655
'ello

I know this is an old thread, but I have the same question.

I'm using OData 8.0.10 & .net 6.  My application uses windows authentication, but also allows for some anoymous calls.

Services are added  in the following order

[code]
Posting the following to my Batch EndPoint using Postman & no Authentication

[code]

returns

[code]

The PUT request silently fails, so te update does not appl

[2022-07-04 09:10] HeinA opened #2671 "Batch with Authentication"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2022-07-04 09:13] KenitoInc commented on #1970
Was your issue resolved @rjarrattmsft ?
You can try the latest version

[2022-07-04 09:16] KenitoInc commented on #1993
@hidegh
Support for $compute was added in v8.0.5 Can you try it?
https://github.com/OData/AspNetCoreOData/releases/tag/8.0.5

[2022-07-04 09:18] KenitoInc commented on #1994
Closing this. Feel free to open a new issue.

[2022-07-04 09:18] #1994 closed

[2022-07-04 11:07] KenitoInc commented on #2097
@nkamensky
Workaround provided.
Closing this issue. Feel free to open a new issue.

[2022-07-04 11:07] #2097 closed

[2022-07-04 11:08] KenitoInc commented on #2100
Closing this due to no response.

[2022-07-04 11:08] #2100 closed

[2022-07-04 11:10] KenitoInc commented on #2107
Closing this due to non response

[2022-07-04 11:10] #2107 closed

[2022-07-04 11:11] KenitoInc commented on #2133
Closing due to non response

[2022-07-04 11:11] #2133 closed

[2022-07-04 11:12] KenitoInc commented on #2150
Closing due to non response. Feel free to open a new issue.

[2022-07-04 11:12] #2150 closed

[2022-07-04 11:15] KenitoInc commented on #2217
@zanyar3 Was this issue resolved?

[2022-07-04 11:42] rjarrattmsft commented on #1970
This was more than 2.5 years ago and I no longer remember, although I **think** it was fixed. I have moved on to a different project since and it is not easy for me to check.

[2022-07-05 07:31] HeinA commented on #1546
This is still an issue in OData 8.0.10...

[2022-07-06 06:53] captaintejas opened #2672 "How to use Odatafeature.DeltaLink to set delta link in the ASP.net Web API response"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2022-07-08 04:39] gathogojr commented on #2672
Duplicate of https://github.com/OData/WebApi/issues/2670

[2022-07-08 04:39] #2672 closed

[2022-07-08 16:49] jimbromley-avanade commented on #2097
@KenitoInc I feel this closure was pre-mature. While I could see the argument for this maybe not being a bug; the exception messaging needs to be improved. In my testing this is thrown at EdmLibraryExtensions.cs line 1591 when type is Edm.AmbiguousType.

I'd advocate for at minimum clearer messaging of the error indicating both that the type is ambiguous and what underlying type is causing the iss

[2022-07-09 20:09] gathogojr commented on #2669
As stated in the StackOverflow question, support for return a NavigationProperty from a function that returns a complex type is currently not in place. A workaround is possible for now but there's a need to address the feature gap.

[2022-07-12 07:09] KenitoInc commented on #2097
Kindly create a new issue @jimbromley-avanade

[2022-07-13 19:14] DiegoCont opened #2684 "Error while trying to set deltaLink with no skipToken"
I'm trying to update my api to support delta link/token. When I return a nextLink for my first responses, it works fine, but for the final response, when I try to return a deltaLink along a deltaToken, I get this error:
{
    "error": {
        "code": "InternalServerError",
        "message": "nextLink value without skip or skiptoken",
        "innerError": {
            "date": "2022-07-12T23:45

[2022-07-14 07:07] VirusQuartirus opened #2685 "UTF-8 BOM is added to raw value response when running on ASP .NET Core 3+"
Backport https://github.com/OData/AspNetCoreOData/pull/630 into WebApi repo,
Original issue desciption: https://github.com/OData/AspNetCoreOData/issues/628

[2022-07-14 13:34] Nthemba commented on #2671
@HeinA,
Batch requests group multiple operations into a single request and returns a single HTTP response with the response to each operation. From my repro of the issue, the response has a status 200 and below is a response to each operation in the batch.
[code]
Only the first operation in the batch returns a status 401 but the rest return a 200, which requires further investigation.

[2022-07-18 22:21] shagilt opened #2690 "Unable to read DateTimeOffset type from ODataQueryOptions when ODataQuerySettings.EnableConstantParameterization = false"
Unable to read DateTimeOffset type from ODataQueryOptions when ODataQuerySettings.EnableConstantParameterization = false

My [ODataQuerySettings.EnableConstantParameterization](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnet.odata.query.odataquerysettings.enableconstantparameterization?view=odata-aspnetcore-7.0) is set to false.
I am seeing below error when [ExpressionBinderBase.cs](h

[2022-07-18 22:35] corranrogue9 commented on #2684
@DiegoCont, are you accidentally including the `nextLink` as well in your final page? From the [OData spec](http://docs.oasis-open.org/odata/odata-json-format/v4.01/odata-json-format-v4.01.html#sec_ControlInformationdeltaLinkodatadelt):

If this is the issue, I think that we should change this error message, since it does not reflect the actual problem.

[2022-07-18 23:15] corranrogue9 commented on #2690
@shagilt, I'm seeing [this](https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/Expressions/ExpressionBinderBase.cs#L141) code which could potentially be the issue (deals with the `DateTime` vs `DateTimeOffset` comparison, uses the `EnableConstantParameterization` flag, only matches the types exactly, and not the nullable variants), but I don't see why that code wou

[2022-07-18 23:42] shagilt commented on #2690
My entity name is Film:
[code]

This my controller definition and get ODataQueryOptions.
`public IActionResult Get(ODataQueryOptions<Film> options)`

We do some validation before calling the storage layer by doing below code, and error is thrown when odataQueryOptions.Filter.ApplyTo is called.

[code]

[2022-07-20 17:38] corranrogue9 commented on #2645
I'm going to close this issue, if you can help me repro please open the issue back up and we will take another look.

[2022-07-20 17:55] corranrogue9 commented on #2690
Thanks, I'll take a look to see if I can repro. @chrisspre had some reservations that the higher-level design shouldn't allow such a bug to happen in the first place. I will loop back with him to see if we can do some refactoring.

[2022-07-20 23:43] DiegoCont commented on #2684
@corranrogue9 I'm actually setting my deltaLink as the 'nextPAgeLink' property. I'm using this PageResult object https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/PageResult.cs and don't see a specific deltaLink property, so I set the nextPageResult to be my url with either a next or delta token. Basically, I'm doing it like this:

new PageResult(
items: response.Items,

[2022-07-26 19:03] burakkaradag commented on #1461
I am having the same problem. I can't select, expand. Anyone found a solution to this problem?

`HttpGet]
        [EnableQuery]
        [ProducesResponseType((int)HttpStatusCode.OK, Type = typeof(IQueryable<ProductODataDTO>))]
        public async Task<ActionResult<IQueryable<ProductODataDTO>>> Get(ODataQueryOptions<ProductODataDTO> oDataQueryOpts)
        {
            var products = _genericRead

[2022-07-26 19:13] mikepizzo commented on #1461
@xuzhg -- can you take a look at this? note latest repro is w/.net 6 and aspnetcore odata 8.0.10.

[2022-07-26 19:19] burakkaradag commented on #1461
Can you please write a link? I can't reach the repro

[2022-07-26 19:22] mikepizzo commented on #1461
@burakkaradag -- I was just noting that you said you had this issue with .net6.0 and OData 8.0.10 (so it's a current issue)

[2022-07-26 19:24] burakkaradag commented on #1461
Yes, I'm on the current version. by the way i got the repro

[2022-07-26 19:25] burakkaradag commented on #1461
yes, i am on the current version.

is this the repro? https://github.com/OData/AspNetCoreOData

[2022-07-26 19:31] burakkaradag commented on #1461
@mikepizzo  this repro has no use of ODataQueryOptions. Isn't this usage in the new version?

[2022-07-26 19:58] burakkaradag commented on #1461
ow no sory @mikepizzo

netcoreapp3.1
OData 7.5.7

I have the problem in this version
I updated my first comment

[2022-07-26 22:45] burakkaradag commented on #1461
hurray!

this method worked for me

before

`[HttpGet]
        //[EnableQuery]
        [ProducesResponseType((int)HttpStatusCode.OK, Type = typeof(List<SalesOrdersODataDTO>))]
        public async Task<ActionResult<IQueryable<ProductODataDTO>>> Get(ODataQueryOptions<ProductODataDTO> oDataQueryOpts)
    {
        var products = _genericReadRepository.GetAll<Product>().ProjectToType<ProductODataDTO>

[2022-08-02 15:32] chrisspre opened #2695 "authorization middleware checking access to each segment"
*Short summary (3-5 sentences) describing the issue.*

[Documentation states](https://docs.microsoft.com/en-us/odata/webapiauth/how-permissions-are-applied#navigation-properties)
:
"If the endpoint accesses a navigation properties and nested paths in general, the authorization middleware will check whether the user has permissions to access each segment of the path.

- Is this truly the case?
- if

[2022-08-02 19:09] mikepizzo opened #2696 "Issues with UpdatePropertyTest.cs"
The update property test unit tests seem to have a couple of issues:
1) [CanUpdateComplexProperty](https://github.com/xuzhg/WebApiSample/blob/main/Microsoft.AspNet.OData.Test/CRUD/UpdatePropertyTest.cs#:~:text=const%20string%20payload%20%3D%20%22,Patch%22) seems to have an unnecessary value wrapper around the complex property.

2) We should support PUT in addition to PATCH to a primitive property

[2022-08-03 10:32] marsonwar commented on #2653
Any news on this topic?!
Updated Microsoft.OData.Core to version 7.12.1 and the problem still exists.

[2022-08-04 21:31] xuzhg commented on #2696
@mikepizzo

<h3>For the first issue:</h3>

The project is using OData lib 6.x version and Web API OData 5.9.1. In those versions, "value" is required.

Otherwise, (for example, I removed the "value"), I get the following error message.
`
"A top-level property with name 'Street' was found in the payload; however, property and collection payloads must always have a top-level property with name 'valu

[2022-08-05 16:38] mikepizzo commented on #2696
Perfect; thanks @xuzhg!

[2022-08-05 17:10] #2696 closed

[2022-08-05 18:54] sjd2021 commented on #2596
Yea.. this is causing some very unfortunate issues. I use this to override MaxTop in some endpoints and need to return a different response which I can see is perfectly valid without that post-validation check.

[2022-08-08 16:28] mrink1074 commented on #2447
@alvorteg Just curious if you were able to resolve this issue?  I'm having the same issue when using $orderby.  My controller is named ComparablesController and it's returning IQueryable<ComparableViewModel> or IQueryable<Comparable> depending on Get method called, where these are custom object types.  The IQueryable<Comparable> works fine, but the IQueryable<ComparableViewModel> throws the same c

[2022-08-11 09:24] habbes commented on #2695
@chrisspre that documentation refers to the https://github.com/OData/WebApiAuthorization project, which is a separate library and part of the core Web API library. That library was an experimental project and never had an official production release.

To answer the questions:
- I believe it is the case that it checks whether user has permissions to access each segment
- I don't think there was a w

[2022-08-15 06:44] Arithmomaniac commented on #2304
Correct, see https://github.com/OData/AspNetCoreOData/issues/331

[2022-08-16 09:03] premiaware commented on #2653
I have update to 7.5.16 the issue is the same i must download to Microsoft.AspNet.OData 7.5.14 and work.

[2022-08-16 22:10] antonio-cordoba commented on #2414
/$query is not working for me :(  ... I get
`HTTP/1.1 405 Method Not Allowed`
`Content-Length: 0`
`Connection: close`
`Date: Tue, 16 Aug 2022 21:21:25 GMT`
`Server: Kestrel`
`Allow: DELETE, GET, PATCH, PUT`
I use convention routing and my controller has all methods for GET, GET(id), POST, PATCH(id), PUT(id), and DELETE(id), so from the response above I take my request : `POST {{service}}/resource/

[2022-08-17 05:28] robertmclaws opened #2700 "Microsoft.AspnetCore.OData 7.5.16 Breaks Restier"
Hey folks! Just wanted to let you know that something happened in the 7.5.16 build, and a Restier service that was working in 7.5.15 started 404ing on every endpoint except $metadata. No idea why I'm going to have to go deep with the Router code and run my unit tests to see what happened, but you folks might want to pull this build, as I saw some other problems cropping up for people in this relea

[2022-08-17 08:32] habbes commented on #2700
Hi @robertmclaws thanks for reporting this. Are there specific URLs that are failing, is there a noticeable pattern?

[2022-08-17 15:29] robertmclaws commented on #2700
Nope, no specific pattern, just 100% of the endpoints failed.

I haven't been able to track down a cause, but a point release shouldn't be a breaking change. So if something broke, at the very least you should heavily consider hiding the release on NuGet until we track down the issue.

/cc @mikepizzo

[2022-08-17 16:41] mikepizzo commented on #2700
hmm...  I was able to update a Microsoft.Restier.AspNetCore 1.0.0-rc8.20220714.1 project to 7.5.16 and not encounter the 404 issue. I did have to update my newtonsoft.json and dependency injection references, and ended up moving to from .netcore3.1 to .net60, but after that everything worked fine.

[2022-08-17 17:36] robertmclaws commented on #2700
I'll see what I can do. We're already on .NET 6 and are running the latest everything on all of our Restier-based projects. When we upgraded to 7.5.16 last night, I noticed that the default changed to returning JSON instead of XML for the metadata, and all my methods started 404ing. Backing out to 7.5.15 fixed the issue.

I'll go into the Restier project itself tonight and update the references to

[2022-08-17 17:48] mikepizzo commented on #2700
Are you using the latest preview nuget release of RESTier, or a later build directly from the repo?

[2022-08-17 17:51] robertmclaws commented on #2700
We're using the latest RC8 build on NuGet. Outside of this issue and the ones that you mentioned in your email, Restier RC8 is intended to be the same build as Restier RTM.

[2022-08-18 05:20] habbes commented on #2700
@robertmclaws thanks for sharing more details.

Regarding this statement:

Would you mind sharing some examples of problems that cropped up? Were they also using Restier?

I have tried running the samples from the repository again, and I was not able to reproduce the issue. The `$metadata` endpoint returned XML as expected and the other routes also worked as expected.

Was there any other change y

[2022-08-18 10:34] csharp4fun2 opened #2701 "7.5.16 Wrong referenced version Newtonsoft.Json 13.0.0.0"
Hi,
I changed to OData version 7.5.16 and got problems because it can't find Newtonsoft.Json 13.0.0.0.
I checked out the changes in code and found that the Newtonsoft.Json 13.0.0.0 is referenced but with a HintPath to 13.0.0.1.
13.0.0.0 isn't public available, 13.0.0.1 is. So it will compile if you have locally 13.0.0.1 lying around but not if you don't.

I marked here the line I think which is wr

[2022-08-18 17:03] mikepizzo commented on #2700
Yes, we can hide releases.

I also ran into  #2701<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FOData%2FWebApi%2Fissues%2F2701&data=05%7C01%7Cmikep%40microsoft.com%7C2e60cec1372644157d6508da811db580%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637964261873639870%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C

[2022-08-18 17:56] mikepizzo commented on #2700
Moved Newtonsoft logic to a separate extension is done at 8.x version. So, I am curious about the issue.

In the Web API 7.x repo, I bumped the newtosoft.json version to 13.0.1. That's the security vulnerabilities requirement.

I think it could be related to this line: https://github.com/OData/WebApi/blob/master/tools/WebStack.versions.settings.targets#L19,  we should update the dependency version

[2022-08-18 17:57] xuzhg commented on #2700
Moved Newtonsoft logic to a separate extension is done at 8.x version. So, I am curious about the issue.

In the Web API 7.x repo, I bumped the newtosoft.json version to 13.0.1. That's the security vulnerabilities requirement.

I think it could be related to this line: https://github.com/OData/WebApi/blob/master/tools/WebStack.versions.settings.targets#L19,  we should update the dependency version

[2022-08-18 18:02] xuzhg commented on #2701
@habbes The csproj changes were updated automatically when we updated the newtonsoft.json. It's not manually updated.

For the potential root cause, i think, is related to this line. https://github.com/OData/WebApi/blob/master/tools/WebStack.versions.settings.targets#L19.

As a workaround, @csharp4fun2 does it work if you update the newtonsoft.json package version to 13.0.0.1 or above manually?

[2022-08-18 18:07] robertmclaws commented on #2701
That Newtonsoft version needs to be a range. It should be [13.0.1, 14.0)

[2022-08-18 20:37] xuzhg commented on #2701
It could be a problem for customers to udpate (manually) to new version bigger than 14.0.

[2022-08-18 21:35] robertmclaws commented on #2701
Right, that means it's working as intended. As of this moment, the OData team cannot guarantee there will not be breaking changes in JSON.NET in v14. NOT specifying a range locks them into using 13.0.1 for forever, and that's not what you want.

 You want to guarantee they can use v13 releases, and when you know the codebase supports v14, you extend the range and release an updated ODL package tha

[2022-08-19 00:28] robertmclaws commented on #2700
Other 7.5.16 issues: https://github.com/OData/WebApi/issues/2653

[2022-08-19 00:44] Angelinsky7 commented on #2583
i would be also very interested to be able to dynamically add/remove expand property in the controller.
Sometime i would like that when i'm getting a lot of result, by default nothing is expanded but when i got one result some properties are extended. `AutoExpandAttribute` does not seems to allow that.

[2022-08-19 03:47] habbes commented on #2700
Strange. This one seems related to 7.5.15, the custom reports experiencing the issue after migrating from 7.5.14 to 7.5.16

[2022-08-22 06:50] csharp4fun2 commented on #2701
Let's say: it is working if you have the 13.0.0.1 somewhere referenced in you project because then the hint path does work.

[2022-08-22 06:52] csharp4fun2 commented on #2701
In my opinion it is fine if just 13.0.1 is referenced. Not a fan on doing ranges and bet that it will work with future versions as well. Better updating from time to time to latest versions and for sure if critical patches are coming out updating as fast as possible.

[2022-08-22 10:02] ramil-mux commented on #2384
@komdil @habbes Good afternoon! Please tell me if I should use this workaround?
I use Microsoft.AspNetCore.OData 8.0.11 and have EdmModel:

    var carInfoBuilder = builder.EntitySet<CarInfo>("Cars");

    carInfoBuilder.EntityType.Property(x => x.MaxPrice).Precision = 8;
    carInfoBuilder.EntityType.Property(x => x.MaxPrice).Scale = 2;
    carInfoBuilder.EntityType.Property(x => x.MinPrice).Prec

[2022-08-22 14:05] robertmclaws commented on #2701
Ranges make sure the end user can reference whatever version they want, vs locking to a specific version and potentially creating problems for the end-user if the want or need a newer version. If you're having a problem with ranges, that means someone is doing SemVer wrong.

[2022-08-22 22:27] jimivey commented on #2653
Experiencing the same problem after attempting to update from 7.5.14 to 7.5.17.

`System.MissingMethodException : Method not found: 'System.IServiceProvider Microsoft.Extensions.DependencyInjection.ServiceCollectionContainerBuilderExtensions.BuildServiceProvider(Microsoft.Extensions.DependencyInjection.IServiceCollection)'.
   at Microsoft.AspNet.OData.DefaultContainerBuilder.BuildContainer()
   a

[2022-08-23 05:11] robertmclaws commented on #2701
I believe this issue has been fixed in 7.5.17. @csharp4fun2 can you please confirm?

[2022-08-23 05:18] robertmclaws commented on #2700
I believe this is resolved now. Closing. Thanks everyone!

[2022-08-23 05:18] #2700 closed

[2022-08-23 09:56] NicholasNoise commented on #2294
Problem stands still.

[2022-08-24 17:15] #2026 closed

[2022-08-25 12:28] aletfa commented on #1785
any news?

`public class MyClass {
    public DataverseAccountRole? AccountRoleCode { get; set; }
}`

`PATCH: Body > "AccountRoleCode": 1` Error
`PATCH: Body > "AccountRoleCode": "1"` Working

[2022-08-26 08:53] #2701 closed

[2022-08-29 16:21] premiaware commented on #2653
7.5.17 no work! downgrade to 7.5.14 work!

[2022-09-01 08:42] ycymio opened #2704 "Return 200 when exception is thrown from get method in model"
Please correct me if it is a known issue or it is fixed. :)

I created a model and throw the exception in get method. It returns 200 OK with an invalid json body.

{"@odata.context":"https://localhost:44347/odata/$metadata#Products","value":[

Should it return NotImplementedException? As it has started writing response, response code and body cannot be edited.

### Assemblies affected

microsoft.a

[2022-09-07 15:36] bonfi7 commented on #2359
@mikepizzo @gathogojr any news?

[2022-09-14 07:28] #2592 closed

[2022-09-14 09:29] #2612 closed

[2022-09-14 10:11] #1751 closed

[2022-09-14 10:34] #2433 closed

[2022-09-21 21:43] alex-rentz commented on #1832
Is this bug still applicable? I may be running into the same issue.

[2022-09-28 11:39] cloudsere opened #2706 "ODataActionPayloadDeserializer failed to deserialize action parameter when it's a 2d array"
We defined an OData action with a 2d array parameter:
[code]

The OData entity model is registered as
[code]

ODataActionPayloadDeserializer throws exception for this 2d array action parameter:

[code]

### Assemblies affected

OData WebApi lib 7.2.2, I also tested latest main branch, it has the same issue.

### Reproduce steps

It can be reproduced in unit test of `ODataActionPayloadDeserializer`

[2022-09-30 15:23] timschwallie commented on #2616
Any word on this? Seems to be a common issue, especially with folks that have QA testers that send in all kinds of data in testing.

[2022-09-30 18:56] xubinzheng commented on #2616
We are seeing the same issue in Microsoft.OData 8.0.10 NuGet package. Any updates on this? Looks like this is a common issue in the OData library.

[2022-10-04 17:07] xuzhg commented on #2706
Tiny tips: Collection of the collection is not following up OData protocol. You can define a complex type to contain 'IEnumerable<int>' property and use this complex type to define your 'TestList'.

[2022-10-06 06:34] Sayan751 commented on #998
I ran into this issue as well https://github.com/OData/odata.net/issues/1972.

As I see it, at least the docs needs to be improved, explicitly mentioning this of omission of details.

Or this method should be reserved for internal usage, because as I see it, when an `ODataError` is created by the devs, it should be under their control what to send to the clients and what to omit. Therefore, they c

[2022-10-07 07:55] VadymLevkovskyi commented on #2653
Hello, just to raise the thread up - I have the same situation. 7.5.17 - doesn't work, 7.5.14 - works brilliantly

--
... and to provide more details for other guys facing this problem and tryint to google it.

My symptoms were next - all `OData` requests failed returning this exception
[code]
And underlining issue is incorrect initialization of `OData` related routes, done by already mentioned he

[2022-10-08 01:20] cloudsere commented on #2706
@xuzhg Thanks for letting me know, but I also find a issue here: https://github.com/OData/odata.net/issues/505 saying 2d array is supported, so maybe we just need to find a way to define a collection of `Edm.Untyped` type?

[2022-10-11 17:04] gathogojr commented on #2706
@cloudsere Partial support for collection of collections is the form of collection of untyped or just untyped. We do not support a collection of primitive collections, i.e. (`IEnumerable<IEnumerable<int>>`). You'd need to define the property as `IEnumerable<object>`. However, this is currently not supported in 7x and the support may also be limited in 8x

[2022-10-12 19:27] lisicase opened #2708 "Some tests fail when run in full test suite (succeed individually)"
When running all of the tests in Microsoft.Test.E2E.AspNet.OData in conjunction, some tests fail on the first try. (If run again individually or as a separate group, they then succeed.)

### Assemblies affected

Observed on the latest main branch of OData WebApi (lib v7.5.17).

### Reproduce steps

Run all tests in Microsoft.Test.E2E.AspNet.OData.

### Expected result

All tests succeed.

### Actu

[2022-10-17 14:36] ElizabethOkerio opened #2709 "Add support to write Navigation Links, etc. using Delta Writer"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2022-10-17 14:37] ElizabethOkerio opened #2710 "Merge delta logic with regular logic; requires common base between ODataWriter and ODataDeltaWriter."
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2022-10-17 16:03] VatroslavSrzic opened #2711 "Change next page link position in response stream if odata.streaming=false"
We have an OData service implemented via your library and one of our customers is using something called OFM (weather that is SAP OFM or something completely different I do not know nor I believe it is important) for processing our responses.
This system of the customer does not like the fact that **next page** link is presented in the response stream after the **value** payload.

This however is

[2022-10-17 17:26] debaksi opened #2712 "ActionDescriptor for OData Controller with optional parameters not selected"
When a controller has optional parameters, its ActionDescriptor is not getting selected.

### Assemblies affected

7.5.17
### Reproduce steps

Sample request:
https://nebulaapi.azurefd.net/odata/insights/partner?type=account&entityType=TPID&$count=true&impersonate=88843e2a-7c59-4a0b-a073-84b9568f4869
Corresponding controller signature:
public async Task<ActionResult<IEnumerable<IEdmEntityObject>>>

[2022-10-22 23:05] icnocop commented on #610
Somewhat related: https://github.com/OData/WebApi/issues/356

I also tried to work-around this issue by adding `Prefer: return=representation` in the `POST` request header and explicitly add `$expand=MyNavigationProperty` in the query string, but the response still doesn't include the expanded navigation property.

I'm using Microsoft.AspNetCore.OData 7.5.12

[2022-10-25 12:19] VatroslavSrzic commented on #2711
I would just like to add a bit of a feedback on this issue.
I have managed to make the working workaround for my case. So I am not saying that it would work in general case but it does in my current situation where I have already set the `...Request.ODataProperties().NextLink` with valid next page link URL.

I will therefore post my code here in case it help someone.

First I have a custom seriali

[2022-10-26 01:37] aimi617 commented on #2653
Update to 7.6.1 fixed that long lasting issue, project runs normally and no error "Method not found: 'System.IServiceProvider..." anymore. Thanks to everyone for this release.

[2022-10-26 03:46] evanypark commented on #1126
@gpm12gpm How did you fix this issue? I'm experiencing the same

[2022-10-26 09:39] akiankit33 opened #2717 ""ContinueOnError" access modifier is set as internal instead of protected in ODataBatchHandler"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

Should be possible to override the function DefaultODataBatchHandler::ExecuteRe

[2022-10-26 16:03] xuzhg commented on #2653
@aimi617  Thanks for your input.

[2022-10-26 16:04] #2653 closed

[2022-11-01 06:52] bahusoid opened #2719 "Build warnings for latest 7.x Microsoft.AspNetCore.OData netstandard2.0 lib"
Build for net48/netstandard2.0 project referencing latest Microsoft.AspNetCore.OData lib  gives a bunch of warnings like:
[code]
### Assemblies affected

Microsoft.AspNetCore.OData  7.5.18+
Latest working version: 7.5.17

### Reproduce steps
1) Create net48/netstandard2.0 project referencing  latest 7.x `Microsoft.AspNetCore.OData`  (7.6.1)
2) Try to build it.

Attaching simple solution demonstrat

[2022-11-01 17:41] xuzhg commented on #2719
@bahusoid Thanks for letting us know it.
I think it's from this change: https://github.com/OData/WebApi/blob/8e983c4ad4d1af2f430ddeb89da5becfc17af8e1/src/Microsoft.AspNetCore.OData/Microsoft.AspNetCore.OData.csproj#L27

Since we changed the version in csproj, we must update the nuget files.

[2022-11-02 03:38] #2719 closed

[2022-11-03 11:19] ptrushin opened #2723 "IgnoreDataMember only when entity in expand"
Now IgnoreDataMember applies always.
I need an ability to apply it only when entity with then property in expand.
This will solve security problems.
For example:
* when i get users directly in odata controller i can empty PersonalDataOnlyForAdmin (for example with AutoMapper) when current user not admin and not empty when admin
* but when i get activities (and all other entities with property User

[2022-11-08 04:42] habbes commented on #2717
Hi @akiankit33 thanks for reporting this. Would you be interested in contributing a pull-request to address this issue?

[2022-11-08 04:47] habbes commented on #2723
Seems related to https://github.com/OData/WebApi/issues/2723

[2022-11-08 06:33] akiankit33 commented on #2717
@habbes  yes sure. I would be. I will make code changes for this and raise a pull request.

[2022-11-08 09:04] akiankit33 commented on #2717
Hi,
Could you let know where/how Can I submit the "Contribution License
Agreement" ?

On Tue, Nov 8, 2022 at 10:12 AM Clément Habinshuti ***@***.***>
wrote:

--
Regards-
Ankit Kumar

[2022-11-09 08:36] #2493 closed

[2022-11-15 11:29] medboz commented on #1755
Is there any plan to implement this ?

[2022-11-17 20:21] garaydev opened #2726 "Link under Code of Conduct for .NET Foundation is out-of-date"
The [.NET Foundation Contributor Covenant Code of Conduct](https://dotnetfoundation.org/about/code-of-conduct) link, made available via the project's root [readme.md](https://github.com/OData/WebApi/blob/master/README.md) file and found under the **Code of Conduct** section, is currently out-of-date and results in a 404 page being produced. The link must be changed to : https://dotnetfoundation.or

[2022-11-18 07:59] KenitoInc commented on #2467
@MikeKenyon
Did you manage to resolve your issue?

[2022-11-20 09:28] KenitoInc commented on #2522
Closing this since it's been inactive for long.
@shahinjabbar  Feel free to reopen the issue if it's yet to be resolved.

[2022-11-20 09:28] #2522 closed

[2022-11-20 09:30] KenitoInc commented on #2537
@f-camera Was your issue resolved?

[2022-11-20 09:31] KenitoInc commented on #2545
Closing this issue since it's been inactive for long
@MinhMit Feel free to reopen incase the issue was not resolved

[2022-11-20 09:31] #2545 closed

[2022-11-20 09:38] KenitoInc commented on #2564
Closing since the model wasn't shared.

[2022-11-20 09:38] #2564 closed

[2022-11-20 09:46] KenitoInc commented on #2596
@cap7ainjack For you to get that error message in the response, there must be a validation issue in your query options.
The Action Filter will always short circuit the request pipeline.
[code]

[2022-11-20 09:47] KenitoInc commented on #2605
The question has been answered.

[2022-11-20 09:47] #2605 closed

[2022-11-20 09:52] KenitoInc commented on #2611
Closed due to inactivity

[2022-11-20 09:52] #2611 closed

[2022-11-20 09:55] KenitoInc commented on #2617
@ccyen8358 It's by design.
ModelID allows us to reference to the correct IEdmModel

[2022-11-20 10:09] KenitoInc commented on #2654
@komdil Look at the tests from this line https://github.com/OData/odata.net/blob/370cd96aa2a78aecff1b7f9ebe9bebaa7c25ab81/test/FunctionalTests/Microsoft.OData.Core.Tests/ScenarioTests/UriParser/FilterAndOrderByFunctionalTests.cs#L1619

[2022-11-21 22:04] mbrankintrintech commented on #2325
+1 on this issue. Its not currently possible to make queries OR counts asynchronous which is absolutely crucial for performance!

[2022-11-21 22:06] mbrankintrintech commented on #2598
+1 on this issue.

[2022-11-22 02:01] sakana280 opened #2728 "Nested complex types not serialized in groupby() query"
When a model has nested complex types, the nested types do not serialise in groupby() queries. Nested complex types can correspond to nested OwnsOne relations in EFCore. A fix is proposed below.

### Assemblies affected

OData WebApi lib 6.1.0 and master

### Reproduce steps

Using the Customer/Company/Employee entities in the test suite, create a Customer entity set that has Company as a complex

[2022-11-22 09:45] #2726 closed

[2022-11-23 08:21] robertmclaws opened #2737 "`ODataResourceDeserializerHelpers` issues with ComplexTypes that have EdmModel navigation properties"
### Assemblies affected
ASP.NET Core OData 7.6.1

### Describe the Problem
[`ODataResourceDeserializerHelpers.GenerateNestedReadContext()`](https://github.com/OData/WebApi/src/Microsoft.AspNet.OData.Shared/Formatter/Deserialization/ODataResourceDeserializerHelpers.cs#L53) does not account for ComplexTypes (types that aren't mapped to the model) that contain properties whose types DO map to the mod

[2022-11-25 10:53] hakanaltindis commented on #1352
@freeranger , I want to hug you :) :) Finally I solved my unit test issue because of you.

[2022-11-28 14:15] #2617 closed

[2022-11-28 14:17] ccyen8358 commented on #2617
Ok, thanks for the answer.

[2022-11-28 14:32] SamuelBlickle commented on #2202
Any update on this? I my case it doesn't work on property nor on class level.

[2022-11-29 00:29] icnocop commented on #1675
This may be a duplicate issue.
See https://github.com/OData/WebApi/issues/610

[2022-11-29 04:54] arontsang opened #2730 "Expand changes the behavior of serialization"
`Microsoft.AspNet.OData.Query.Expressions.SelectExpandWrapperConverter` only respects `JsonPropertyAttribute`

It does not respect `JsonConverterAttribute` and possibly `DataMemberAttribute`, `JsonIgnore` etc...

In fact, I suspect it makes more sense to unwrap the `SelectExpandWrapper<TElement>` iff `TElement` is a user defined type (rather than dynamically generated type), and write that instead

[2022-11-29 17:21] RyanMarcotte opened #2731 "High CPU usage after updating to Microsoft.AspNet.OData 7.6.1"
I updated from `Microsoft.AspNet.OData` from 7.5.14 to 7.6.1 and the new package version caused significant slowdown for our website deployed to Azure App Service.  After analyzing a few CPU traces, I was able to drill down and find this:

![image](https://user-images.githubusercontent.com/1458084/204598103-d7307b3e-006d-4541-a421-9746ed624ff2.png)

Downgrading from 7.6.1 back to 7.5.14 fixed the

[2022-11-29 18:41] #2728 closed

[2022-11-30 00:31] sakana280 commented on #2728
Many thanks John for fixing this 💯