[2021-01-24 23:41] engbryan commented on #836
Hi guys. We are facing the same issue here. Aparently the function works very well with other clauses as filter, select, top... However the expand does not provoke effects on the results.

We have already tried to change namespaces and did some other simple tests on returning types and function properties. But nothing was able to solve the issue.

Could someone give a light on it?

Builder:
[code]

[2021-01-25 03:45] komdil commented on #2384
Workarround provied here: https://stackoverflow.com/questions/65351595/how-to-set-decimal-precision-in-odata/65878710#65878710

[2021-01-25 11:28] snebjorn commented on #2391
This has been merged and released.

Please close.

[2021-01-25 17:22] xuzhg commented on #2391
Yes. It's fixed in 7.5.5

[2021-01-25 17:22] #2391 closed

[2021-01-26 04:43] rezres commented on #2015
@keatkeat87  I used @kgamecarter suggestion and it works well.

[code]

[2021-01-26 08:22] ilya-chumakov commented on #2180
@ewkonzo @xuzhg
I have this error too and yes, I'm using OData+Npgsql, latest 3.1 packages. However, this error happens only if `in` operator is used. With `eq` operator everything is fine.

[code]

this works:

    "$filter=status eq 'NEW'"

this throws an "Object must implement IConvertible" exception:

    "$filter=status in ('NEW')"

packages:
[code]

How to provide a sample without attaching

[2021-01-26 10:32] ewkonzo commented on #2180
@ilya-chumakov on my side the error only occurs if you are using a real postgres db. I that is also the case for you the no attaching the db don't make sense

[2021-01-26 17:17] xuzhg commented on #2399
@anranruye I misunderstood your question. Originally I though it could be related to the concurrency enable query problem that was fixed in 7.5.5. For your scenario, it seems it's a feature request. Thanks.

[2021-01-26 17:29] orbus-dkreivenas commented on #2106
Hey, we are experiencing a similar issue, but upgrading to EF Core 5.0.1 seems to fix it, might be worth while to review this?

[2021-01-27 00:36] xpr0gamers commented on #2396
Thank you for your answer. With wich parameters, must i call the function?
I get now an error.
![image](https://user-images.githubusercontent.com/25172624/105925135-ef5d3000-603f-11eb-86bd-968be74be6ac.png)
![image](https://user-images.githubusercontent.com/25172624/105925222-0a2fa480-6040-11eb-8a51-afb39c26f206.png)

[2021-01-27 01:03] xuzhg commented on #2396
@xpr0gamers here's an example: https://github.com/OData/WebApi/blob/master/samples/AspNetCore3xEndpointSample.Web/Startup.cs#L64

[2021-01-27 12:53] gathogojr commented on #2399
@anranruye We highly encourage pull request contributions so if you're in a position to, you're welcome to chip in

[2021-01-27 13:38] julealgon commented on #574
Any news here? I'm also interested in having a stream property in one of our entities.

[2021-01-28 14:25] NGromann opened #2402 "Memory leak when fetching large tables"
When fetching larger datasets (~100.000 entities) from OData, the server does not free up the used memory. On our production systems, the memory sometimes stacks up to 3gb reaching the memory limit causing OutOfMemoryExceptions.

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.5

### Reproduce steps

- Create an empty project
- Return 100.000 objects or more (more objects - more leaking me

[2021-01-28 23:37] howcheng opened #2403 "OData serialization fails when hiding inherited properties (new modifier)"
When attempting to serialize a derived class that uses the `new` modifier on a property to hide an inherited member, serialization fails due to an AmbiguousMatchException.

### Assemblies affected
Microsoft.AspNet.Odata 7.2.1

### Reproduce steps
Create a class that inherits from another, hiding a property
[code]
Then create controllers, EDM types, etc, to be able to get a `Bar` object using OData

[2021-01-29 11:02] spotnick opened #2404 "Post Requestbody is not parsed with correct Attribute description"
### Assemblies affected

OData WebApi 7.5.5

Hi everybody,

I´m trying to write an API with ASP .Netcore and OData together with API Versioning. I´m facing an issue which I´m totally out of ideas.

I have two models:

`public class UserEvent
    {
        //public UserEvent ()
        //{
        //}

        [JsonProperty(PropertyName = "id")]
        public string id { get; set; }
        [Requi

[2021-01-29 14:32] zeeedooo opened #2405 "Problem how i delet it?"

[2021-02-01 18:31] xuzhg commented on #2405
@zeeedooo Would you please provide detail information about your question?

[2021-02-02 08:15] ilya-chumakov commented on #2180
@xuzhg could you tell please why this issue has the label "investigated"? it still unclear even what repo it belongs to :( Any help is appreсiated.

[2021-02-02 08:27] ilya-chumakov commented on #2180
Oh great, this thread doesn't go to the top of https://github.com/OData/WebApi/issues after a new message appears.

[2021-02-02 10:01] ewkonzo commented on #2180
Interesting...

[2021-02-02 10:03] ewkonzo commented on #2180
@xuzhg only investigated this using Sql Server then called it a day. The issue rise with postgres

[2021-02-02 14:49] manuelapop opened #2406 "query field in list of objects throws error"
hi,
I am trying to query a field in a list of objects:
this is what my dto is like

public class MainDto
{
        public List'SecondDto' Involved { get; set; }
}

  public class SecondDto
    {
        public string Name { get; set; }
    }

this is what my query is like from the UI:

$filter=(Involved/any(d:contains(d/Name,%20%27e%27)))&$count=true

I am getting this error in the db:

System.Inv

[2021-02-02 17:45] Sreejithpin commented on #2404
Hi,
  Can you please give little more details:
1) For the case with lower case "i", does the post request gets successful ?
2) For the Upper case "I" can you please let us know what is the error thrown
3) I see you tried conventionalmodelbuilder as well and commented, how is it coming when using conventionalmodelbuilder?

thanks

[2021-02-02 18:31] marabooy commented on #2405
Hi @zeeedooo to create a delete enpoint while using WebApi Kindly follow the [documentation here](https://docs.microsoft.com/en-us/odata/webapi/getting-started) an on step D add the following method below the defined Get method.

[code]
If this doesn't work/answer your question kindly do open a new Issue while providing more information.

[2021-02-02 18:31] #2405 closed

[2021-02-02 18:34] marabooy commented on #2403
Hi @howcheng, the current example above is not supported within OData as this would create some issues within the model creation due to the two types (int & string) being different and not sharing a common parent type. Supporting this could bring about multiple unwanted issues.

[2021-02-02 18:37] spotnick commented on #2404
Hi @Sreejithpin,

Well it depends. If we use the Conventionalmodelbuilder like this:

`builder = new ODataConventionModelBuilder().EnableLowerCamelCase()`

it works with lower case

if we use it like this:

`builder = new ODataConventionModelBuilder();`

it works with upper case characters.

So 1. is true if we use the latter.

2. The thrown error is the following:

[code]

3. I´m not sure if I un

[2021-02-02 19:01] stack111 opened #2407 "ObjectDisposedException, The query specified in the URI is not valid. IFeatureCollection has been disposed"
Under production load (200 to 300 requests per second). Our OData endpoint returns about 1% responses return with status Code 400. Second part, There are no traces being emitted from `ILogger`, having some trace statements here could help triage this quicker.

[code]

### Assemblies affected

NuGet: `Microsoft.AspNetCore.OData`:
Version: `7.5.4`
Assembly Version: `7.5.4.0`

NuGet: `Microsoft.OData

[2021-02-02 20:10] stack111 commented on #2407
I was able to update:

`Microsoft.AspNetCore.OData` -> `7.5.5`

And explicitly remove any NuGet dependencies on:

`Microsoft.OData.Core`: `7.8.1`
`Microsoft.OData.Edm`: `7.8.1`

meaning the Microsoft.OData dependencies downgraded to:

`Microsoft.OData.Core`: `7.7.3`
`Microsoft.OData.Edm`: `7.7.3`

Once I did this and re-ran JMeter tests, the issue not longer occurs.

[2021-02-04 12:09] garethj-msft commented on #2297
Just to note @xuzhg, in your workaround example above, the `Configuration `property is internal so can't be used by customers.
Seems to me this limitation should be removed and the property getter made public, as it causes a bunch of worse workarounds.

A public workaround is to use something like

[code]

[2021-02-04 16:26] UncleFirefox opened #2408 "Projecting IQueriable<Entity> to IQueriable<DTO> produces issues"
Hi, so for a project we're working on, we have some read endpoints with [EnableQuery] returning IQueriable. At first we were returning the raw entities from entity framework but we thought it would be better if we just project to a DTO using IQueriables ability to do `Select`.

We're having some navigation properties (e.g. a one to many relationship to another entity) on the root entity and withou

[2021-02-04 17:30] xuzhg commented on #2297
@garethj-msft Thanks for pointing this out.

Yes, My sample code is tested in the "model builder" project.

Besides your suggest,  another way (recommended) is to call the following to get the "Configuration".
`var configuration = builder.AddComplexType(typeof(TestModelAlsoDerived));`

[2021-02-05 01:22] anranruye commented on #2408
you should contain these navigation properties in the projection which convert entity to dto.

[2021-02-05 01:47] snebjorn commented on #1624
I was just hit by this in a PUT action. This is rather critical as API consumers will have no idea that it's their model that's invalid and assume the entire API is broken

[code]

[2021-02-05 12:11] JanKotschenreuther commented on #1065
I ran into the same problem.
MaxExpansionDepth does not have any effect at all.

The following steps did not fix this:
- Migrating to .NET 5.0
- Migrating OData-Libraries Microsoft.AspNetCore.OData to 8.0.0-preview3

Whatever value is passed to EnableQueryAttribute, it does not change the behavior:
[code]

The method Expand does not exist on EntityTypeConfiguration.
https://docs.microsoft.com/en-u

[2021-02-05 15:22] jayoungers opened #2409 "Feature request: $orderby Expressions"
I'm not sure if this belongs here or in https://github.com/OData/odata.net

What would be needed to handle expressions in an `$orderby`, similar to what's noted here:
https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-odata/793b1e83-95ee-4446-8434-f5b634f20d1e

i.e. `$orderby=FirstName ne null`, where I don't necessarily need the column data itself sorted, just sorted by if there's a

[2021-02-05 17:16] Sayan751 commented on #1227
This issue should be reopened, as the suggested patch always sets the status code to 200, which always results in HTTP OK even if there is any internal error. For example, in my case, there is a null in one of column in the database, but on model-side that property is non-nullable. Naturally the conversion failed, but due to the application of the patch I still get HTTP 200 from the calling side.

[2021-02-05 20:41] AriaW-M opened #2410 "Confusing error message when NavigationProperty in payload doesn't exist"
When you have NavigationProperty in payload that doesn't exist, it throws "Microsoft.OData.ODataException: An undeclared property 'XXX' which only has property annotations in the payload but no property value was found in the payload. In OData, only declared navigation properties and declared named streams can be represented as properties without values"

Our API users do not understand what this

[2021-02-09 17:24] ElizabethOkerio commented on #2410
@AriaW-M the specific error indicate that the navigation property is not declared in the accounts type but nevertheless @odata.bind is not currently supported and is on our backlog work items.

[2021-02-09 17:34] ElizabethOkerio commented on #2408
@UncleFirefox can you try @anranruye suggestion and see if it solves your problem. If not please create a simple repro that we can you use to assess the issue.

[2021-02-09 18:04] ElizabethOkerio commented on #2407
@stack111 It seems that the issue was a known issue in 7.5.4 which was fixed in 7.5.5 (https://docs.microsoft.com/en-us/odata/changelog/webapi-7x#webapi-755) but you did not have to downgrade the Microsoft.OData.Core and Microsoft.OData.Edm from 7.8.1 to 7.7.3. Can you please upgrade the 2 packages and let us know if you experience the same problem.

[2021-02-09 18:04] #2407 closed

[2021-02-10 14:38] UncleFirefox commented on #2408
Not sure I understand the solution. The whole point of a DTO is to hide the complexity of the entity at transport level.

So I got something like

[code]

`objects` is a navigation property mapping to a one to many relationship. I don' t want the dto to have the list, only two items in that list. But when the projection on the enumeration of the iqueriable happens it turns out the List navigation

[2021-02-10 15:45] UncleFirefox opened #2411 "Agreggate an OData endpoint from multiple endpoints"
At the project I'm working on we started using OData a few months ago using the typical `[EnableQuery]` on our normal controllers. Some people saw potential in it.

Then we started exploring exposing an OData feed so that some people in the business could use some of the APIs we're developing from Excel, as we use Kerberos auth everything started working right away and people was quite happy we co

[2021-02-10 16:57] p6345uk opened #2412 "Custom Routing 7.4.1+"
Custom routing doesn't work like it did in 7.4.1

I created a small sample app based upon

https://docs.microsoft.com/en-us/odata/webapi/custom-routing-convention

Am I missing something. Worked fine in 7.4.1 anyone have a working sample?

### Assemblies affected

7.5.0+

Was fine in 7.4.1

### Reproduce steps

[code]

[code]
[code]
[code]

### Expected result

Trigger the GetName Action

### Actu

[2021-02-11 01:32] UmairB opened #2413 "Nested $select on optional complex property throws exception when complex property is null"
When an entity has a nullable complex property (which is implemented as an owned type in entity framework), a nested $select on the complex property will throw an error whenever the complex property is null.

### Assemblies affected

Tried on Microsoft.AspNetCore.OData version 7.5.1 and the 8 beta, being used with Microsoft.EntityFrameworkCore.SqlServer v5.0.2

### Reproduce steps

Setup the follo

[2021-02-13 03:32] anranruye commented on #2408
@UncleFirefox  I can't understand your scenario.

If you decide to use dto types instead of original entity types, you should define your `ADto` type as an Edm entity type in your Edm model, rather than type `A`. Then, how can you use query options(such as $filter) on properties which are not existed?

[2021-02-13 03:57] anranruye commented on #2408
@UncleFirefox

I guess you met something like this:
[code]

You may not call `ToList()` as the above code. However, something in the projection may cause a similar result. here is an example:https://github.com/dotnet/efcore/issues/24055

Be sure your code has no such situation which will casue client evaluation. Client evaluation will make the linq tree be truncated at middle and the second half o

[2021-02-13 17:01] navidzehi opened #2414 "OData AspNetCore support for long URLs useing $query is not working"
### Expected result
_For more elegant view of this issue please visit the question on [stackoverflow](https://stackoverflow.com/questions/65611721/odata-aspnetcore-support-for-long-urls-useing-query-is-not-working)._

As it is been pointed in [this ](https://devblogs.microsoft.com/odata/passing-odata-query-options-in-the-request-body/) article, with $query keyword you can solve the problem of long

[2021-02-16 17:30] xuzhg commented on #2413
If we expect to have the following payload, it seems not consistent with the context uri. @mikepizzo

[code]

[2021-02-16 17:34] UmairB commented on #2413
Then what is the expectation for the following query `/entityWithOwnedTypes?$select=Id,SingleOwnedType($select=SomeId)` where `SingleOwnedType` is an optional/nullable complex type with a required property `SomeId` when `SingleOwnedType` is `null`? At the moment it throws an error in odata which obviously isn't right...

[2021-02-16 19:03] gathogojr commented on #2414
@navidzehi The short answer is that the `$query` feature doesn't work with actions. As the protocal states, [alternative for **GET requests** is to append /$query to the resource path of the URL, use the POST verb instead of GET, and pass the query options part of the URL in the request body](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_PassingQueryOptio

[2021-02-16 20:47] Sreejithpin commented on #2412
Hi,
 Can you please provide us the repro of the sample you created and also request url(s) you were trying

Thanks

[2021-02-17 00:04] #574 closed

[2021-02-17 07:31] navidzehi commented on #2414
@gathogojr Thank you for your answer. So what should I do now ? I used POST method and did exactly as the examples. What change should I apply to my controller.

[2021-02-17 07:49] gathogojr commented on #2414
@navidzehi It will work with any HttpGet action methods decorated with the `EnableQuery` attribute.
For example,

[code]

Then you can send a POST request to the $query endpoint as follows
[code]

[2021-02-17 16:54] korygin commented on #2026
Any ETA on when this will be fixed? We are seeing the same error with any $expand that has $top query option.

[2021-02-18 04:25] JimDaly opened #2415 "Security concern about user input for syntax errors returned in error messages"
Error messages reflect syntax errors and are returned in the error message.

Normally, I'd say this is great, but our customer is concerned with click-jacking attacks & XSS.

Seems like results returned to an app which doesn't encode the error string could be exposed to an attack.

### Assemblies affected

Not really sure, but I could find out. We are using OData v4.0.

### Reproduce steps

Imagin

[2021-02-18 05:37] navidzehi commented on #2414
@gathogojr

It worked. Thank you for your answer. I should have create a HttpGet method but send a POST request to it with $query at the end.

[2021-02-18 05:37] #2414 closed

[2021-02-18 09:51] p6345uk commented on #2412
It's exactly the steps discussed in
https://docs.microsoft.com/en-us/odata/webapi/custom-routing-convention
With the latest nuget packages

I will find the sample

[2021-02-18 09:54] habbes commented on #2412
@p6345uk could you share the endpoint that your request is hitting? Or does the error occur during startup before you even issue a request?

[2021-02-18 09:56] p6345uk commented on #2412
Its when your making a request

[2021-02-18 09:57] habbes commented on #2412
@p6345uk could you share the exact request you're making?

[2021-02-18 09:57] habbes commented on #2412
Is it `GET /odata/Products(1)/Name`? for example

[2021-02-18 10:36] p6345uk commented on #2412
It could be anything that triggers the
CustomPropertyRoutingConvention

It appears that
return "GetName";

Then triggers the error

[2021-02-18 10:42] p6345uk commented on #2412
In my example
api/products

Should trigger the SelectAction inside of the custom Routing - I believe

Which it does
but me specifying

return "GetName"; doesnt appear to work

Where it did in version 7.4.1

[2021-02-18 11:02] p6345uk commented on #2412
Added a sample

[https://github.com/p6345uk/OdataTestRouting](https://github.com/p6345uk/OdataTestRouting)

if you move the versions between 7.4.1 and the latest you can see the differences

[2021-02-18 13:31] lavahasif commented on #1368
i face this problem with unity nuget package .it resolved by updating latest http plugin from nuget

[2021-02-18 15:20] habbes commented on #2412
@p6345uk out of curiosity, why did you not use the built-in routing convention since routing to a property is supported by default. If you have a method called `GetName(int key)` in your `ProductsController` and make a request to `/Products(1)/Name`, the built-in routing will select the `GetName(int key)` method.

[2021-02-18 15:38] habbes commented on #2412
@p6345uk I tried your sample project and was able to reproduce your error.

The error seems to stem from the fact that you have a `[Route("api/[controller]")]` attribute on your controller. This probably causes conflicts with the OData WebAPI routing mechanics.

If you remove `[Route]` attribute, then the error does not occur.

However, when you remove the `[Route]` attribute, your sample will ret

[2021-02-18 15:54] p6345uk commented on #2412
In my specific case we have a myriad of types you can specify in the route
/{Type}

Which I am setting up OData Actions to achieve however i am using the Routing conventions to direct them to different actions on the controller

[2021-02-18 15:57] p6345uk commented on #2412
Will give that a try :)

[2021-02-18 16:55] habbes commented on #2415
Hi @JimDaly, are you using the WebAPI library? If so, which version?

I am wondering whether the escaping or url-encoding of the message should be handled by the OData. I think the bested place to handled that is in the client, the client application should escape the error message before rendering it on a html page.

But if you're creating a service and want to make it easier for your clients to

[2021-02-18 22:46] manureini opened #2416 "type of the binding type cast segment ... is not a part of the type ... hierarchy.'"
I'm using the following Model

[code]
and this code to create the EdmModel

[code]

Everything works fine.
But now I want to add the `builder.EntitySet<IPerson>("IPerson");` and I'll get this Exception:

`System.InvalidOperationException: 'The type 'OdataTest.Teacher' of the binding type cast segment 'Teacher' is not a part of the type 'OdataTest.IPerson' hierarchy.'`

I don't understand this Exce

[2021-02-19 06:39] habbes commented on #2075
Hi @henrikdahl8240 improvements to action selector were released in 7.5.x, the most recent version of 7.x should address the issue. Feel free to open an issue if you still encounter problems with the new version.

[2021-02-19 06:39] #2075 closed

[2021-02-19 12:07] ssviat commented on #1620
Looks like it was fixed as part of this pr #2379

[2021-02-21 17:31] MinhMit opened #2417 "Missing Annotation @odata.context..."
Hi supporter.
I used odata for my project. And some thing wrong with my code.
Please help me.
Version : Microsoft.AspNetCore.OData 7.5.6

I have objects:

[code]

And EDM Model

[code]

Actual response:

[code]

Expect response

[code]

Thanks for your support. And sorry because not good.

[2021-02-23 11:23] komdil commented on #2259
Any workarrounds for this issue?

[2021-02-23 11:28] komdil opened #2419 "How to get property info and entity Type from ODataPrimitiveSerializer"
*I am using custom ODataPrimitiveTypeSerializer. I need to do some logic based on property info and entity type and return some value. But I couldn't find solution*

### Assemblies affected

*Microsoft.AspNetCore.OData Version="5.0.3"

### Reproduce steps

Create custom primitive type serializer like:
[code]

### Expected result

I want to get property info and entity Type in CreateODataPrimitiveV

[2021-02-23 17:35] xuzhg commented on #2419
Can you go to ODataResourceSerializer to get the information that you want?

[2021-02-23 17:40] xuzhg commented on #2416
Similar issue related to support interface. See: https://github.com/OData/WebApi/issues/888

[2021-02-24 03:33] komdil commented on #2419
@xuzhg I tried, but coudn't find a solution. ODataResourceSerializer has CreateODataValue also, but it is the same with  ODataPrimitiveSerializer. I am able to get only some property meta data like MaxLenght, IsUnicode.... Can I define my own property meta data in configuration? For example,
[code]
  If so, it will solve my problem

[2021-02-24 03:52] JimDaly commented on #2415
Agree that the client application should escape the error message before rendering it on an HTML page. But customer has some old apps using the data, or they fear a naïve developer might not apply best practices.. so they look for 'defense in depth'.

We could encode the messages, but not all our clients are web applications, so that may look bad . So we are only really concerned about the part th

[2021-02-24 16:50] BiggT76 commented on #2198
Is there an update on this?

[2021-02-25 00:47] JimDaly commented on #2415
According to devs, our version is Microsoft.AspNet.OData.6.0.0

[2021-02-25 12:52] joergmetzler commented on #1866
I guess the problem occurs if you use EdmEntityObject directly without deriving a child class. At least I am doing so.
The location is being resolved by a ClrTypeCache which is not correct in my opinion.
You can return `this.Created(location, entity)` to bypass the (default) calculation of the `location`.

Here is my code to calculate the location based on the current logic but without using a `Cl

[2021-02-25 13:51] joergmetzler opened #2422 "this.Created(entity) throws an InvalidOperationException if the entity used with the generic EdmEntityObject type"
I guess the problem occurs if you use `EdmEntityObject` directly without deriving a child class. At least I am doing so.
We use this type as a generic type to map our own entities which are name-value based.
The location in the `CreatedNegotiatedContentResult` is being resolved internally by a `ClrTypeCache` which is not correct in my opinion - or a optimization could be done if the type is `EdmEn

[2021-02-25 14:56] stephen-wood83 commented on #2026
I'm seeing this issue when using $expand.
In my case I am not attempting to skip/top the expanded collection just the outer collection e.g.
`$expand=Teams&$skip=0&$top=10`

[2021-02-26 13:00] #952 closed

[2021-02-26 18:46] groogiam opened #2423 "Microsoft.AspNetCore.OData 8.0.0-beta ASRoutePatternException: The route template separator character '/' cannot appear consecutively. It must be separated by either a parameter or a literal value."
I receive the following error on startup when trying to use OData for .NET 5

ASRoutePatternException: The route template separator character '/' cannot appear consecutively. It must be separated by either a parameter or a literal value.

Configuration code was below.

[code]

### Assemblies affected
Microsoft.AspNetCore.OData
8.0.0-beta

### Reproduce steps

I converted the 3.0 style api inside t

[2021-02-26 18:48] xuzhg commented on #2423
@groogiam Would you please share a repo for me?

[2021-02-26 19:04] groogiam commented on #2423
Working on it. Stack trace which I forgot to add to the original issue is below. Thanks.

Microsoft.AspNetCore.Routing.Patterns.RoutePatternException: The route template separator character '/' cannot appear consecutively. It must be separated by either a parameter or a literal value.
   at Microsoft.AspNetCore.Routing.Patterns.RoutePatternParser.Parse(String pattern)
   at Microsoft.AspNetCore.Ro

[2021-02-26 19:50] groogiam commented on #2423
I cannot reproduce it outside of my project yet but the edm model names appear to be conflicting with those of the controllers.

E.g. If I register this

modelBuilder.EntitySet<Book>("Book");

then if the controller is called BookController. I get the error. I can't still can't reproduce it in a sample. My controllers inherit from a base class but they only a constructor and a couple helper method

[2021-02-26 19:55] xuzhg commented on #2423
In this case, would you please share:

1) Can you get the metadata (CSDL) file? It's easy to send request `$metadata` to any "api"
2) Share me your "BuildEdmModel()"
3) Share me your "startup.cs"
4) Share me your controller

[2021-02-26 20:07] groogiam commented on #2423
What I said earlier may not be completely correct. It looks like it is the just the entity definition that causes the error. However if I create a copy of the entity it appears to work.

2. This works
[code]

But this does not. This is strange because the entity with Copy post fixed is an exact copy. So It maybe appears to be related to backreference relationships?

[code]

Is there a way I can sh

[2021-02-26 20:22] xuzhg commented on #2423
you can share it sending email to: "saxu@microsoft.com"

[2021-02-26 22:16] groogiam commented on #2423
The project is hosted in azure dev ops I can give you access to the code there if that would help.

[2021-02-26 22:44] xuzhg commented on #2423
@groogiam
Yes, please.
By the way, I got your email. It seems i can't find the root cause using my eyes on these codes.
is your project easy to build/run?

[2021-02-26 23:18] groogiam commented on #2423
Just sent you a dev ops invite and database backup. It should build right out of source control.

[2021-02-27 06:43] groogiam commented on #2423
Updating the data contract namespace fixed the issue as you described in our email conversation. Thanks again for your help.

[2021-02-27 06:43] #2423 closed

[2021-02-27 19:46] groogiam opened #2424 "Microsoft.AspNetCore.OData 8.0.0-beta Cannot use OData and Conventional Routing Attribute"
With the .NET Core 3.1 ODataControllers could have RouteAttribute specified which allowed a standard rest endpoint to be created in addition to the OData end point. This looks like it no longer works in 8.0.0-beta. See attached repro with [Route("api/[controller]")] added to the Books Controller

### Assemblies affected

Microsoft.AspNetCore.OData 8.0.0-beta

### Reproduce steps

Run repro and try

[2021-02-27 20:23] groogiam commented on #1620
Yes I am using 8.0.0-beta and this is fixed.

[2021-03-01 18:29] xuzhg commented on #2424
@groogiam

I am afraid this setting can't work now. Because the `[Route("api/[controller]")]` applies to all OData routes as prefix.

So, the API created in your sample has the following templates.

![image](https://user-images.githubusercontent.com/9426627/109541674-e9140680-7a78-11eb-90c8-aea130481139.png)

[2021-03-01 19:40] groogiam opened #2425 "Ctrl-F5 causes when AmbiguousMatchException: The request matched multiple endpoints. Matches:"
I have a application which utilizes both blazor wasm and odata. When navigating to my login page (https://localhost:5003/Login) the app works fine but if I go to the address bar and refresh using Ctrl-F5 I get the following error.

I'm not sure if this is related to this https://github.com/OData/WebApi/issues/2424 or this is an issue with the blazor routing? It does not seem to happen in blazor pr

[2021-03-01 20:54] #2425 closed

[2021-03-02 13:31] PatrickHofman commented on #2411
If I understand you correctly, I think that would need a custom routing convention to point to one specific controller:

https://docs.microsoft.com/en-us/odata/webapi/custom-routing-convention

That way you can route the call to a specific OData controller where you extract the OData routing information and look up the EDM entity queries and handle the request accordingly.

[2021-03-02 13:34] PatrickHofman commented on #2411
This is quite some work though. We have implemented it for our own software (It translates these OData calls to about 70 cloud platforms, including some OData-based platforms).

In my opinion you really take it to the edge of where this framework is capable of (or my knowledge is lacking).

[2021-03-02 15:13] PatrickHofman opened #2427 "OData response is not sent to the server until the request is done"
We experience problems with very large responses being buffered, which results in excessive memory use.

### Assemblies affected

Microsoft.AspNetCore.OData version 7.5.5

### Reproduce steps

Run test project (see tobeincluded). This sets up an OData server, endpoint to call: https://localhost:44318/test/Customers.

Then use this code to call the service:

[code]

I would expect the `using (Strea

[2021-03-02 15:55] monty241 commented on #2427
In your business use case, what is largest excessive memory use measured?

[2021-03-02 16:09] PatrickHofman commented on #2427
About 1.6 GB.

[2021-03-02 17:42] gathogojr commented on #2422
@joergmetzler Do you have a repo you can share? How are you using the LocationHelper above in your project?

[2021-03-04 01:41] ayiwai opened #2429 "test"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2021-03-04 01:42] #2429 closed

[2021-03-04 13:19] indeecev opened #2430 "Patch does not update navigation property"
Patch does not update navigation property. Does it works? How can I get it to work? Thanks.

### Assemblies affected

OData WebApi lib 7.5.6

### Reproduce steps

Two etity sets:
[code]
Bar controller:
class Bar : ODataController {
  [HttpPatch]
  public ActionResult Patch(int key, Delta<Bar> delta) {
    <apply delta to instance>
  }
}

Create Bar instance with id = 1:
[code]
Create Foo instance,

[2021-03-04 15:26] magneticcore commented on #2371
@ElizabethOkerio: I tested your project and yes, it is not a problem of OData, but of Automapper. I will put a link here to the Automapper issue

[2021-03-04 17:00] joergmetzler commented on #2422
@gathogojr
I made a minimal example of my solution here:
https://github.com/joergmetzler/ODataIssue2422

You can use this command to trigger the `post` method:
'wget -UseBasicParsing 'http://localhost:44377/OData/Persons' -Method POST -Body '{"@odata.context":"http://localhost:44377/OData/$metadata#Persons/$entity","FirstName":"J\u00f6rg","LastName":"Metzler"}'

[2021-03-05 11:20] szabolcs-kun commented on #2026
I'm facing with the same issue with my N:1 tables when i'm using nested `$expand` like `/api/GetAllUsers?$expand=accessManagementGroupXUser($expand=group)`.

The higher versions of the assemblies are also affected:
- Microsoft.AspNetCore.OData 7.5.6
- Microsoft.EntityFrameworkCore 5.0.3

Framework: .NET Core 3.1
DB: Azure SQL Database
The EF Core models and DB context in my project is scaffolded (

[2021-03-05 12:38] danieltallentire commented on #2088
This is still an issue with PowerBI 2.90.782.0 and Microsoft.AspNetCore.OData 7.5.6

If anyone else has the same problem, I wrote a horrendous workaround as a middleware:

`public class OdataRewriteExpandContext
    {
        private readonly RequestDelegate _next;

        public OdataRewriteExpandContext(RequestDelegate next)
        {
            _next = next;
        }

        public async Ta

[2021-03-07 10:39] BrainSlugs83 commented on #1692
I'm having the issue even without Delta<> (OData is ignoring [JsonProperty] and [JsonPropertyName] attributes on all of my models).  Kinda stumped on this.  Using Microsoft.AspNetCore.OData Version 7.5.6 (latest stable).

[2021-03-08 13:07] PatrickHofman commented on #2427
Some more information and profiling. I think this overview clearly shows the memory is being kept until it starts sending. The red arrow marks the place the test client app starts receiving.

![NET_Core_Application](https://user-images.githubusercontent.com/9336133/110324110-d61faa00-8015-11eb-8879-be05d9a4c351.png)

From the instance categorizer I can see on one snapshot (the gray line on the pre

[2021-03-09 12:16] nsunmaz commented on #2184
I solved this problem by adding this code in Startup.cs;

[code]

now i use select with expand same time.

Other detail: https://docs.microsoft.com/tr-tr/odata/webapi/netcore

[2021-03-11 08:07] BenjaminCharlton commented on #2116
Hello again!

I just wanted to circle back after a few months and see if anyone can tell me whether there is a plan to allow OData to work with value objects such as strongly-typed Ids in .NET 6.0 or any future versions?

Thanks!

Benjamin

[2021-03-11 15:25] mircomt-soft opened #2432 "OData request binding case insensitive not work for navigation properties"
**### _OData v7.5.6_**

**A request with a json payload containing properties of EntityTypes collection is correctly deserialized only if this properties in json have the same case of the entity properties name, otherwise the properties are null in the serialized entity**

### Reproduce steps

My request class:

[code]

Both ImpArtAzRequest and ImpArtStRequest are EntityType.

My Odata controller:

[2021-03-12 07:09] habbes opened #2433 "Provide built-in support for deeply-nested paths"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2021-03-12 08:11] ozanerdogan90 opened #2434 "OData query returns next page link even tho item count is less than page size"
Current behavior:
Recently we experience a bug on OData queries. when we use a query that doesnt include $top; oOData returns next page link even tho the entity count is less than the page size.
Ex : {{url}}/orders$filter=(id eq 'some guid value') .as this query only returns one item , next page link still exists and contains sth like : {{url}}/orders$filter=(id eq 'some guid value')&$skip=20

We

[2021-03-12 23:46] Sreejithpin opened #2435 "Excessive memory is used due to empty lists -ODataConventionModeBuilder is using 9.54 mb"
*Short summary (3-5 sentences) describing the issue.*

ODataConventionModeBuilder is using 9.54 mb of memory, mostly due to Dictionary<Type, List<Type>>.

Here is the code generating it:

        private static Dictionary<Type, List<Type>> BuildDerivedTypesMapping(IAssembliesResolver assemblyResolver)
        {
            IEnumerable<Type> enumerable =
                from t in TypeHelper.GetLoad

[2021-03-15 11:09] komdil opened #2437 "Filter is not working with date function"
I am trying to use date function for filtering entities by todays date, but date function is not working

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.1

### Reproduce steps

I have this entity:
[code]
I am trying to get records which Date is equal to todays date. I executed some queries:
https://localhost:44383/odata/Student?$filter=Date +eq + now()
https://localhost:44383/odata/Studen

[2021-03-15 11:42] fededim commented on #2161
I have noticed this problem too, @xuzhg would it be possible to preserve primary keys' order (e.g. automatically increment  the Order property) while adding an entity through ODataConventionModelBuilder.AddEntitySet ? Or at least allow the manual method EntityTypeConfiguration.HasKey to specify also the order ?

[2021-03-17 16:28] bdebaere opened #2439 "Extend runtime Type methods of OperationConfiguration"
Because I am lazy I have an extension method which automatically registers all functions on my controllers to OData. This has been working fine for a long time. For single parameters I'm using the `OperationConfiguration.Parameter(Type,string)` method. However, such a method does not exist for the other parameter types, like collection parameter. To register the collection parameters I currently h

[2021-03-18 12:48] yonibauduin opened #2440 "Endpoint Routing .net core 3 - OData and custom action"
I am trying to migrate an OData web API from .net core 2.2 routing to endpoint routing in asp.net core 3 with a custom action.

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.6

### Reproduce steps

My .net core 2.2 configuration was:

[code]

.Net core 3 configuration is:

[code]

### Expected result

Routes like "odata/$metadata" should be accessible.

### Actual result

I get 404 statu

[2021-03-18 20:09] Sreejithpin commented on #2432
Can you please try the latest version of Webapi and let us know

[2021-03-18 20:10] Sreejithpin commented on #2434
Can you please share a Repro.? Also please let us know which version are you using

[2021-03-18 20:11] Sreejithpin commented on #2437
Hi can you please confirm if the filter is not working (as in not returning the expected result) or is it throwing any error?

[2021-03-18 20:39] devlie commented on #2004
Not only stack trace, but we have to suppress full type information too. For e.g. "Could not find a property named 'blah' on type 'FullNamespaceInformation.ClassName'".

[2021-03-19 14:19] mircomt-soft commented on #2432
I'm using  V7.5.6 of Microsoft.AspNet.OData
https://www.nuget.org/packages/Microsoft.AspNet.OData/7.5.6?_src=template

this is the last version of this package.

I'm working in .Net Framework, not .Net Core, is this a problem?

[2021-03-19 20:00] cakmaksevgi commented on #2173
same issue is still valid when filtering dynamic properties. Do you have any estimation time about fixing that issue?

[2021-03-20 17:24] mlop3s opened #2441 "When using $expand asp.net core does not return the expanded collection when using ODataQueryOptions"
i've adapted an existing asp.net based rest api and although the query seems to work, the controller is not returning the expanded collection.

### Assemblies affected

Microsoft.AspNetCore.OData" Version="7.5.6"

### Reproduce steps

Use a ODataQueryOptions<GeminiIssue> options and try to expand a collection.

### Expected result

The expanded collection. See additional details.

### Actual resul

[2021-03-20 22:46] robertmclaws opened #2442 "OData's Dependency Injection architecture causes multiple problems for upstream platforms"
There appears to be a core problem with the DI architecture in the ASP.NET OData implementation. However. I will caveat this entire post by saying my understanding may be incorrect, so I will try not to write in absolutes about this project, only about my experience using it to maintain and evolve Restier.

### Summary
- Many Dependency Injection artifacts in OData appear to be misnamed based on t

[2021-03-22 06:46] Vasumithra23 opened #2443 "For an Odata API the DataMember name is not reflecting in the API response"
Hi,

I have a C# class called students.cs with the below property:

[DataMember(Name = "dept_no")]
public byte DeptNo { get; set; }

The problem is that I am getting DeptNo instead of dept_no in the API response.If I disable the pagesize its working fine else not. Can you help me with this issue?

Thanks.

[2021-03-22 09:16] OldShaterhan commented on #1626
The same for:
Microsoft.AspNetCore.OData 7.5.6
Microsoft.OData.Core 7.8.3
NodaTime 3.0.5
NodaTime.Serialization.JsonNet 3.0.0
Newtonsoft.Json 12.0.3

`Microsoft.OData.ODataException: The type 'NodaTime.LocalDate' of a resource in an expanded link is not compatible with the element type 'System.Nullable_1OfLocalDate' of the expanded link. Entries in an expanded link must have entity types that are

[2021-03-22 10:10] conwayok opened #2444 "ODataOutputFormatter very poor performance"
ODataOutputFormatter very poor performance

### Assemblies affected

Microsoft.AspNetCore.OData: 7.5.6

### Reproduce steps

Consider the following example:

[code]

Performance is very poor when calling the `SlowController()` api endpoint compared to `FastController()`. On my machine, average response times can be up to 30x slower (300ms vs 10ms).

Analyzing the code with a profiler reveals that

[2021-03-22 21:00] xuzhg commented on #2444
@conwayok Do you have more deeper profiler?

To be clear, OData serializer will do more thing than normal JSON serializer, such as:

1) Model element verification
2) Control metadata construction
etc,

[2021-03-22 21:02] xuzhg commented on #2443
@Vasumithra23 Do you have [DataContract] on your C# class?  to be clear, DataMember works closely with [DataContract].

You mentioned "disable pagesize" makes it working. Can you share more codes related about it?

[2021-03-22 21:08] xuzhg commented on #2441
1) What's the `issues` related to `Projects`? Can you share your metadata CSDL?

2) Your context URI `http://localhost:45179/odata/$metadata#Collection(Gemini.Shared.Models.GeminiIssue)` doesn't reflect the expand payload.  it looks like a normal collection

3) I don't have the codes about `GetQueryAsync`, did you call ApplyTo(...) method?

It's better to share us your repro to dig more.

[2021-03-22 21:12] xuzhg commented on #2440
it seems 'endpoints.MapControllerRoute` has side effect. If you remove it, it should work.

You can want to keep that, try to use different route prefix.

[2021-03-23 07:21] Vasumithra23 commented on #2443
Hi @xuzhg

Yes ,I have[DataContract] in C# class.
I have used EnableQuery in my controller, which is as follows:
//[EnableQuery(EnableCorrelatedSubqueryBuffering = true)]// without pagesize its working fine
//[EnableQuery(EnableCorrelatedSubqueryBuffering = true,PageSize =100)]// with pagesize its not giving desired output.

Could you me help with this issue?

Thanks.

[2021-03-23 12:37] garethj-msft opened #2446 "ODataEnumSerializer doesn't serialize Flags enum values as strings."
ODataEnumSerializer uses ClrEnumMemberAnnotation to serialize regualar enum valuess as strings in teh CreateODataEnumValue method.

However for Flags enums with compound values, it just falls back to the number.

It shoudl produce a comma separated list per the ABNF.
Whilst the numeric value is spec compliant it is far from friendly.

### Expected result

compound flags value serialized as foo,bar

[2021-03-23 13:44] SimonPStevens commented on #2437
I can add that I'm also seeing this behaviour using Microsoft.AspNet.OData 7.4.1 and 7.5.6. No error, but the date function does not appear to be stripping of the time component.

We're using an underlying entity framework context connected to a SQL server instance to resolve the data, and if I profile the query it looks like the time isn't being stripped off. The query is executing against the fu

[2021-03-23 15:16] mlop3s commented on #2441
Hi,

I'm preparing a a project for this issue here in GitHub.
Please give me 2 days.

1. projects is used as url but we do not have a project class as it's not needed to query it.
2. This is my first odata server project. I'm not sure what exactly i should expect there. Before i was returning IQueriable but as i'm using AplyTo I saw no reason why to return it. When I se a breakpoint there the Expa

[2021-03-23 16:05] maboivin commented on #2107
Hey @xuzhg,
I hope you're well.

I decided to pull the repro project and update it to see what was the behavior as of today.

My first try was to update to .NET 5 and OData 7.5.6 (latest released version). The behavior was exactly the same.

My second try was to update to OData 8.0.0-preview3 (latest preview version). Now, I get the following exception:
![image](https://user-images.githubuserconte

[2021-03-23 16:40] dks07 opened #2453 "Delta<T>.GetInstance() doesn't return an instance with all changes for nested open types"
When patching a Complex type, the Delta.GetInstance() method returns an instance that does not have changes applied to it (only the first level properties are available, second level are missing)

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.1

### Reproduce steps

Let suppose we have a model UnitUnderTestType

    [Key]
    public string UId { get; set; }
    [Required]
    public stri

[2021-03-23 18:53] alvorteg opened #2447 "$count with Singleton returning List"
Hi, I don't know if it is a bug, or missunderstanding. I think there is little documentation on singletons and their uses.

I want to have an endpoint to get a List of conflicts (strings), so I think the best approach is to model it as Singleton.

So I've modeled it as follows:
[code]

And I have a Controller:

[code]

When I access to my URL:

[code]

This returns a list of conflicts (strings) an

[2021-03-23 18:55] xuzhg commented on #2447
@habbes Would you please help take a look? Is there any recently commit related?

@alvorteg Basically, you should not define a singleton using 'dmBuilder.Singleton<IList<string>> ("Conflicts");`.
Is there any reason that you have to do like this?

[2021-03-23 23:07] xuzhg commented on #1828
Merged. Thanks.

[2021-03-23 23:07] #1828 closed

[2021-03-23 23:11] xuzhg commented on #2439
merged.

[2021-03-23 23:11] #2439 closed

[2021-03-24 07:17] alvorteg commented on #2447
@xuzhg Not really, I could create a "Conflicts" class with a property that is a list of strings (as you suggested in previous answers), but I wouldn't really need that intermediate class.

Anyway, I've tried that too and the $count=true still fails in 7.5.6.

Thanks!

[2021-03-24 12:09] Vasumithra23 commented on #2443
Can you help me with this issue?

[2021-03-25 09:37] niksonnet commented on #2367
@xuzhg / @karataliu / @KenitoInc - Thanks for looking into this issue.

I am facing this issue for the last few months, is there any way to handle it in a more meaningful way till It is fixed?
or can I catch the exception in EnableQueryAttribute and insert my custom error message?

I.e
`{
  Author : "John Doe",
  Books : [
	    { Title : "1" , ISBN : "xxxxx-xxxxx-xxxxx...."},
	    { Title : "111"

[2021-03-25 19:27] owenhuyn opened #2449 "ODataInputFormatterHelper does not respect the OData version set in headers by OData-Max-Version/OData-Version"
The OData reader in the framework does not respect the OData-Max-Version/OData-Version header in the request when reading the request body. This should be propagated to the ODataMessageReaderSettings so the OData framework can deserialize using OData version 4.01. By default, it uses version 4.0 which will break any scenarios that use 4.01 annotations.

### Assemblies affected

All OData versions

[2021-03-25 23:32] #2449 closed

[2021-03-26 10:22] mircomt-soft opened #2451 "OData request binding case insensitive not working for DateTime properties"
### OData v7.5.6

A request with a json payload containing properties of DateTime type is correctly deserialized only if this properties in json have the same case of the entity properties name, otherwise the materialized entity is null

### Reproduce steps
My request class (EntityType):

[code]

My Odata controller:

[code]

A post request with this JSON:

[code]
materialize at server side (req p

[2021-03-26 12:58] GowrishKumar opened #2452 "Is there a way to skip pagination on nested collection"
I have an API built using .netcore3.1 and OData which returns a collection of list and each item in the list has another collection property.

when i apply [EnableQuery(PageSize =10)] attribute on the controller method, i get odata response with 10 items. when i expand the collection property, if it has more than 10 records, it gets paginated as well.

I'm looking for a way to apply the pagination

[2021-03-28 09:38] mlop3s commented on #2441
@xuzhg I've found the problem. As you said, it's related to the route
Changing
       [HttpGet("projects/{projectId}/issues", Name = "GetOdataGeminiIssues")]
To
       [HttpGet("projects/{projectId}", Name = "GetOdataGeminiIssues")]

I wonder how can i get the first one working, without exposing the project entity?

Thanks.
Cheers

[2021-03-28 09:38] #2441 closed

[2021-03-28 22:21] GowrishKumar commented on #2262
Dear @KenitoInc ,

Just checking to see if there is any update on this issue...thanks!

[2021-03-29 10:57] trekco commented on #1777
This is getting serious, I am going to get fired because of this bug

[2021-03-29 10:59] trekco commented on #1777
still in version 7.5.6

[2021-03-29 11:21] komdil commented on #2437
@Sreejithpin  any workarround?

[2021-03-29 11:33] SimonPStevens commented on #2437
@komdil We've worked around it by combining the year, month and date into a single value and comparing that with the year, month and date of the current time. You have to multiply up the year and month so they don't overlap with the day and the combined value is always sequential in the same way a date would be. Like this:

    $filter=year(Created) mul 10000 add month(Created) mul 100 add day(Cre

[2021-03-29 21:44] btull89 commented on #2205
@ajcvickers, @Sreejithpin: Any updates on this? I'm having the same issue with .net core 3.1. According to @PhbsSmn upgrading to .net 5 will not resolve the issue here.

@PhbsSmn are you still having this problem?

[2021-03-30 01:37] smitpatel commented on #2205
This looks like issue with modifications done by user, perhaps OData team can verify.
Specifically following code
https://github.com/PhbsSmn/ExpandIssue/blob/665d6655cc559649dc641d877d5399c3b7b50124/ExpandIssue/OData/MasterTablesController.cs#L23-L40

It construct custom object with nested subquery. And using expand in OData query would probably add another subquery for Children, essentially dupli

[2021-03-30 02:05] btull89 commented on #2205
I appreciate the reply @smitpatel . I'm thinking that my issue may be with Automapper.
I removed Automapper and view models from the equation and did not experience the duplicate left join.

I think my issue is also similar to [#863](https://github.com/OData/WebApi/issues/863).
From [Automapper documentation](https://docs.automapper.org/en/stable/Queryable-Extensions.html#explicit-expansion) `With

[2021-03-30 04:08] smitpatel commented on #2205
That certainly points in the direction of automapper or custom query generated causing additional join.

From EF Core side, this is a collection navigation so it is a subquery. Every occurrence of it will cause a join since they are distinct collections. As far my understanding of OData goes, if you ask for expand it will add a collection subquery explicitly causing at least 1 join. So if any quer

[2021-03-30 05:23] komdil commented on #2437
@SimonPStevens It works. Can you mark this issue as bug?

[2021-03-30 11:41] VarunSaiTeja commented on #2024
It works

[2021-04-01 11:52] spaasis commented on #2026
As another workaround for our nested $expand (A->B->C) issue we have instructed our users to query B with $expand=A,C which works but is not intuitive for the specific use case

[2021-04-02 10:39] vutung3196 opened #2458 "I cannot get the odata next page link for pagination"
Hi there, I am currently struggling with getting the next page ( "@odata.nextLink":...  ) for my rest API.
I am currently using .NET Core 5.0 and AspNetCoreOData 7.5.7
![image](https://user-images.githubusercontent.com/24209332/113408746-22be9100-93da-11eb-8efb-3aedec42bff1.png)

Here is my controller:
[code]

This is how I register Odata in Startup.cs
[code]

[code]

And I also write the GetEdmMo

[2021-04-04 14:00] dxrdxr commented on #824
This is a very annoying default behavior of the implementation.

There are 3 cases:
1 Header "Prefer: return=representation" => Returns 200 and the full entity
2 Header "Prefer: return=minimal" => Returns 204 and no entity
3 No Prefer header => Returns 204 and no entity

As @ImGonaRot writes, the inconsistency between POST and PUT/PATCH.

The topic of the "proper" return value or a REST PUT has no

[2021-04-05 17:30] cristinamanum commented on #2078
Are there any updates for this issue?

[2021-04-05 18:57] norcino commented on #1352
I know it is old, I am trying to use the solution above but I cannot satisfy "using Microsoft.AspNetCore.Http.Internal;"  with net core 3.1, I remember I used something similar for .net core 2.1.
Can anyone give me a steer to get this sorted?

[2021-04-06 10:23] snappyfoo opened #2459 "Should be easier to implement a custom OrderByQueryValidator"
`FilterQueryValidator` has lots of public virtual methods which means I can implement a custom validator that inherits it and replaces only a small part of it. For example, to block filtering on a certain simple property I can override `ValidateSingleValuePropertyAccessNode`.

With `OrderByQueryValidator` there is only the `Validate` method to override and it's not clear how to do a similar thing

[2021-04-06 11:16] snappyfoo opened #2460 "[NotNavigable] attribute doesn't work"
I want to disable a simple property from being selectable, the documentation suggests this can be achieved with the [NotNavigable] attribute:

Example given in documentation:
[code]

It has no effect for me - have confirmed that [NonFilterable] and [NotSortable] **do** work however.

[2021-04-06 16:41] gathogojr commented on #2458
@vutung3196 It looks like the OData serializer is not being invoked in your service. Does you controller inherit from ODataController?

[2021-04-06 16:44] gathogojr commented on #2459
@snappyfoo Thank you for bringing the issue to our attention. We invite pull request contribution if you're in a position to

[2021-04-06 16:55] xuzhg commented on #2460
https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Builder/EdmModelHelperMethods.cs#L752-L756

[2021-04-06 17:22] snappyfoo commented on #2460
Thinking through this, it possibly doesn’t make any sense to make simple properties non-selectable as they would be selected by default and disabling select probably only makes sense for navigations that aren’t already auto-expanded.

I was seeking a way to hide a property from all operations, but as I am hiding it in my response with JsonIgnore already, preventing select (if that is even a solid

[2021-04-06 17:38] snappyfoo commented on #2460
Use case which may help:

I want the key on my edm model to be hidden and protected.

In my model I am applying these attributes:
[Key, JsonIgnore, NonFilterable, NotSortable, NotNavigable]

JsonIgnore prevents it appearing when the full model is selected (the default case for us as everything auto expanded)

I need to confirm with data in place but I suspect if selecting just the key (eg by someo

[2021-04-06 18:30] RootReboot opened #2464 "Incorrect documentation to "Setup configuration with customized ODataFormatter""
Hi! I upgraded the OData version of a project(.NET Framework) from v 6 to v7. That came with some issues to fix. One that I'm unable to fix is the setup of an http configuration with a customized ODataFormatter. The code bellow is what is present in the doc page https://docs.microsoft.com/en-us/odata/webapi/customize-formatter.
[code]

The issue at hand is with the method "ODataMediaTypeFormatters

[2021-04-06 18:39] snappyfoo commented on #2408
@UncleFirefox what version of EF? May not be relevant to your problem, but I had issues using OData on DTOs projected from EF entities in EF Core 3.1 that were fixed in 5.0. In particular second-level property filtering, but a couple of other scenarios too. So version of EF may play a role.

[2021-04-06 21:02] xuzhg commented on #2460
@snappyfoo
[NotNavigable], [NotFiltable], etc are attributes introduced before the [capabilities vocabulary annotation](https://github.com/oasis-tcs/odata-vocabularies/blob/master/vocabularies/Org.OData.Capabilities.V1.xml).

At that time, there's a miss-understanding about navigable. It considers navigable for $expand.
See here: https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.ODa

[2021-04-06 21:29] snappyfoo commented on #2460
@xuzhg thank you, I’ll look into that more when at my desk. I have a slight suspicion this might be the wrong area for our use case.

The converter used to serialise is this isn’t it?

https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/Expressions/SelectExpandWrapperConverter.cs

Also is there a way to just prevent it being selected? Maybe a validator?

[2021-04-06 21:37] xuzhg commented on #2460
@snappyfoo the serializer is this: https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Formatter/Serialization/ODataResourceSerializer.cs

a way to "prevent it being selected" is to customize a Filter. It's same as EnableQueryAttribute at: https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNetCore.OData/EnableQueryAttribute.cs#L37

You can do query validator in

[2021-04-06 21:42] snappyfoo commented on #2460
@xuzhg thanks, I’ll look into all this. We don’t use EnableQuery or other action filters, we manually build a SelectExpandQueryOption from a custom named query string param and ApplyTo our queryable and return that, not sure if this makes a difference, I will find out :)

[2021-04-06 22:50] vutung3196 commented on #2458
Hi, I don't because I want something like {url}/api/patients to get the data instead of {url}/odata/...

[2021-04-07 06:05] jonpayne opened #2461 "Exceptions in ModelState.Value.Errors.Exception contains four layers of System.AggregateException"
Starting Microsoft.AspNetCore.OData version 7.5.2, ModelState.Value.Errors.Exception contains four layers of System.AggregateException.

Using this controller:
[code]

And this request (this is intentionally invalid JSON):
[code]

Version 7.5.2 returns:
[code]

Version 7.5.1 returns (this is the desired result):
[code]

The layers of exceptions appear to be an implementation detail. It doesn't see

[2021-04-07 08:04] Sergey-Terekhin commented on #2026
Same issue, but it's reproduced only if `PageSize` property is set in the `EnableQuery`. Without this property another query is generated which completes successfully

[2021-04-07 08:09] szabolcs-kun commented on #2026
Hmmm, interesting! Do you have any suggestions then where we can limit the page size?

[2021-04-07 12:05] snappyfoo commented on #2460
I wasn't able to follow this.

I think there is fundamentally a bug that [JsonIgnore] is not respected when selecting a nested

[2021-04-07 12:05] #2460 closed

[2021-04-07 12:12] snappyfoo opened #2462 "JsonIgnoreAttribute should be respected when selecting"
If I have a model:

[code]

When querying the full Model then the result is serialized as expected, with `HiddenProperty` not in the JSON. If I process with a raw select value of `nestedModel` then I see `HiddenProperty` because the `ISelectExpandWrapper` serialization does not take `[JsonIgnore]` into account.

[2021-04-08 03:36] groogiam commented on #2424
@xuzhg Where do can I download the nightly to try it from? Has this been included in the 8.0.0-rc that was pushed to nuget a few days ago? Apologies for he delay in my response.

[2021-04-08 05:03] xuzhg commented on #2424
@groogiam .

The nightly feed is https://www.myget.org/F/webapinetcore/api/v3/index.json

And it's included in the RC.

[2021-04-08 06:48] gathogojr commented on #2458
@vutung3196 `api` and `odata` above are just route prefixes. Inheriting from `ODataController` with endpoint routing configured in your service should help you achieve what you're trying. Otherwise, when you inherit from `ControllerBase` directly, your service is falling back on ASP.NET Core serialization or Newtonsoft if you have that configured, leaving no room for OData to apply paging support.

[2021-04-09 00:26] vutung3196 commented on #2458
Thanks for your information, but in your suggested article, I don't see the Author uses the OdataController, he actually uses ControllerBase.

[2021-04-09 07:00] PhbsSmn commented on #2205
So this means if you introduce automapper it gets solved?

[2021-04-09 16:53] groogiam commented on #2424
@xuzhg I can execute custom actions on the odata controller via the api rooted path now e.g. /api/Books/TestMethod but /api/Books still does not resolve as it did in previous versions of the library. E.g this post https://devblogs.microsoft.com/odata/supercharging-asp-net-core-api-with-odata/.

In general being able to execute non OData actions through the api rooted endpoints was the real issue I

[2021-04-09 23:26] btull89 commented on #2205
@PhbsSmn I think AutoMapper was causing my issue in a way. I was already using AutoMapper, and I started using [AutoMapper.Extensions.OData](https://github.com/AutoMapper/AutoMapper.Extensions.OData) to resolve my issue.

Now I'm not sure if it was truly AutoMapper's fault or an issue with OData or EF Core.
Our 10+ projects did not see this issue on .net core 2.1 even though we were using AutoMapp

[2021-04-11 16:32] vutung3196 commented on #2458
But yeah I will try the OdataController inheriting approach.

[2021-04-12 07:38] JZechy opened #2463 "Missing ODataFeature.Path"
I am using OData in collaboration with Swagger. I have defined action in Controller, which is using `ControllerBase`. This action have defined `[EnableQuery]` for using OData.

### Assemblies affected

* .NET 5
* Microsoft.AspNetCore.OData 7.5.7

### Reproduce steps

To reproduce you should create a project with `Swagger` and `SwaggerUI`, which is also using `OData.Swagger`. `AutoMapper` is also u

[2021-04-12 12:21] naansa commented on #2223
@ElizabethOkerio I am also facing this exactly same issue. Also ModelState does not contain any error message.

[2021-04-13 07:53] vutung3196 commented on #2458
Hi @gathogojr , I use this approach but cannot get the `@odata.nextLink`
![image](https://user-images.githubusercontent.com/24209332/114516865-00ddcd80-9c68-11eb-8daf-062e67d6219f.png)
Hope u can support me. Thanks.

[2021-04-13 08:59] gathogojr commented on #2458
Hi @vutung3196. Sorry it has taken me a bit of time to revert. I'm a bit swamped at the moment. Unfortunately, I'm not to repro your issue. I used to use code similar to what your supplied - _writing it a little differently where necessary for brevity_ - and I still get back `@odata.nextLink`

Service configuration:
[code]
Controller:
[code]
Request:
[code]
Response:
[code]
Try to identify what yo

[2021-04-13 09:03] habbes commented on #2444
@xuzhg @conwayok I've done some investigations and found that the ODataWriter stack has a lot of ineffciencies compared to the JsonSerializer. Please find the my investigation and analysis here: https://github.com/habbes/experiments/tree/master/ODataWriterVsSystemTextJson

I've also proposed a few things we could try and see whether performance improves.

[2021-04-13 09:34] vutung3196 commented on #2458
Hi @gathogojr , I kinda use the same like you, you can see in my repro https://github.com/vutung3196/AffordableClinic/tree/feature/test-odata
in file PatientController and Startup.cs

[2021-04-13 17:39] gathogojr commented on #2453
Hi @dks07. Sorry it took a bit of time to get back to you. The issue you raised was already fixed is later releases. Kindly try the latest package - 7.5.7

In addition, note that you don't need `name` parameter in your `Patch` method signature. Plus you may want to change `Delta delta` to `Delta<UnitUnderTestType> delta` such that it look as follows:
[code]
You might also need to fix the body of y

[2021-04-13 17:46] gathogojr commented on #2458
@vutung3196 The link you shared opens a project that is too large to be considered a repro. It's hard to tell what is responsible for the issue you're observing. I'd advise you to dissect the issue by creating a very simple app, confirm that `@data.nextLink` is returned, then expand your investigation to the larger project.

[2021-04-14 07:22] marabooy commented on #2462
Hi @snappyfoo OData will ignore the Attribute above. In order to get the desired behaviour you should exclude the property from the model. Using the conventional model builder this is achivable using
[code]

[2021-04-14 08:46] marabooy commented on #2464
@RootReboot Kindly be noted that it is possible to do so in V7. V7 currently uses DI for registering components and this can be done using the format below.

[code]
The doc [page](https://docs.microsoft.com/en-us/odata/webapi/customize-formatter) should be updated to include this example as well

[2021-04-14 11:47] NielsDWG commented on #1672
Hello,
I have the same problem with the $select. The ignoreQueryOptions are applied to the root object, but not to the expanded objects. I would like to disable $select, $top, and $skip inside $expand for the root object **and** all navigation properties.

Are there any updates already?

[2021-04-14 12:38] alvorteg commented on #1955
Is there any news or workaround on this?

[2021-04-14 15:18] papillon opened #2465 "AutoExpand has no effect on Entity returned from Function"
Setting the AutoExpand property on a navigation property does not work when that entity is returned from a function. This happens when the returned entity is not the same as the entity where the function is defined on.

### Assemblies affected

OData WebApi v7.5.7

### Reproduce steps

Here is your sample application extended with the following features to demonstrate the issue:
- order items
- fu

[2021-04-15 03:14] vutung3196 commented on #2458
Hi I think it's not that big project, I will take a look at a simple app though.

[2021-04-15 13:38] prashantaggarwal1999 opened #2466 "Migration fails for actions with no payload deserialized from body"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2021-04-15 13:38] #2466 closed

[2021-04-15 16:55] xuzhg commented on #2463
@JZechy If it goes to OData routing, ODataFeature should have ODataPath set.

So, I doubted your request doesn't go to OData routing.

So, if you remove "Route('''")" from controller or from action, you will get "404".

[2021-04-15 19:13] henrikdahl8240 opened #2468 "Can startup time be reduced"
I am using OData 7.4.1 intensively.

It takes a lot of time to have the initial model to be built and make everything ready for serving.

Isn't it possible to have this time to be very significantly reduced?

[2021-04-15 22:10] MikeKenyon opened #2467 "OData Value Conversion to Structured value."
Trying to parse an OData request against a model that has structs that are representing defined value types.  There's an implicit conversion for the type to/from string, but it's failing as incompatible data types.

### Assemblies affected

Microsoft.AspNetCore.OData, v7.5.7

### Reproduce steps

Several properties of the domain model are structs that provide some validation and type safety over p

[2021-04-19 15:07] JZechy commented on #2463
So what is the solution? If I remove `[Route]` from Action, nothing actually changes, the action stays here and still the app is unable to select right formatter.

If I remove Route from controller, I need then remove `[ApiController]` and the result is that the OData action is now missing in Swagger...

[2021-04-20 08:07] henrikdahl8240 commented on #2468
@xuzhg I'm sorry I initially posted to a sub-optimal repo.

@xuzhg I have never used that. Generally I tend to have great focus at the nature of algoritms and their order of execution time.

@xuzhg Perhaps you can just instruct me, how I should provide you the information on profiling, you pay attention to?

[2021-04-20 16:18] ElizabethOkerio commented on #2465
@papillon thanks for raising the issue and exploring a solution. Please do a PR so we can look at it and merge.

[2021-04-20 16:51] ElizabethOkerio commented on #2468
@henrikdahl8240 Can you please provide us with more information on how big your model is?

[2021-04-20 18:43] obohaciak opened #2469 "Solution does not build under Linux because of wrong lettercase in filenames"
*When building the WebApiOData.AspNetCore.sln under Linux, several files have wrong letter cases causing the compilation to fail. Case-insensitive OS like Windows is more permissive and does not fail to compile the solution.*

### Assemblies affected

Current master, as of 2020/04/20.

### Reproduce steps

Run `dotnet build ./sln/WebApiOData.AspNetCore.sln` in shell.

### Expected result

Solution

[2021-04-20 18:44] obohaciak commented on #2469
The fix is trivial, I'll prepare a PR immediately.

[2021-04-20 19:49] henrikdahl8240 commented on #2468
@ElizabethOkerio I have tried to query the resulting model like this:

[code]
It gives this result:
[code]
Does it fulfill what you asked for or you would like to get more information?

[2021-04-20 21:46] xuzhg commented on #2467
@MikeKenyon It seems you can use property implicitly conversion to meet your requirement.

Would you please try to method mentioned in this post: https://devblogs.microsoft.com/odata/how-to-consume-sql-spatial-data-with-web-api-v2-2-for-odata-v4/

Let me know the result.

[2021-04-21 05:55] trekco commented on #1777
is there any plans to fix this?

[2021-04-21 06:21] alvorteg commented on #2447
@habbes @xuzhg Is there any news?

[2021-04-21 08:18] bryanvam commented on #1777
i also need this fixed

[2021-04-21 19:13] thesheps commented on #2030
Any love for this issue folks? This is still a problem a year later. I've reproduced this in a much simplified example based on the excellent research by @keatkeat87

[https://github.com/thesheps/groupby-issue](https://github.com/thesheps/groupby-issue)

This example has no dependency on Entity Framework at all, and has a reduced number of moving parts. If you spin this example up and hit:

`http:

[2021-04-22 11:39] SymbioticKilla commented on #1898
Any Update on this?

[2021-04-24 02:04] karthikku-2020 commented on #1746
Was there a resolution for this issue?

[2021-04-24 11:45] komdil opened #2477 "How to create simple action with parameter and add template route"
I want to create action with parameter. I am creating action in collection of entity. It is working without parameter, but I want to work it with parameter. I want my action work with this route template: .../OData/Student/{Action}/{Parameter}

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.7

### Reproduce steps

My configuration:

[code]
My action in controller:

[code]

### Expected re

[2021-04-26 11:35] dxrdxr opened #2478 "Delta does not allow UpdatableProperties to be changed"
The framework creates a Delta for Patch() but in many scenarios the controller wants to protect from the client
over-posting. When searching StackOverflow questions such as [this](https://stackoverflow.com/questions/28248785/odata-delta-patch-security) show that the solutions are very complex.

### Assemblies affected

OData WebApi lib 7.x

### Reproduce steps

Use the sample controller's Patch co

[2021-04-26 19:51] szv commented on #863
Hi,

I also struggled with this problem.
I came along with this solution...

- Do not configure _Explicit Expansion_
- Use this package [AutoMapper.Extensions.OData](https://github.com/AutoMapper/AutoMapper.Extensions.OData)
- Then in your controller you can do it like this:
[code]

Hope it helps 😊

[2021-04-27 11:32] GuillaumeBONHOMMEAU commented on #2294
Hi, any news on that subject ? :)
We faced that issue too and used a similar workaround like Thomas mentionned.
Still it would be awesome to have this fix :)

[2021-04-27 12:57] habbes commented on #2469
@obohaciak  Thanks for raising this and for the quick PR. We'll review it.

[2021-04-27 13:25] NicholasNoise commented on #2294
I've made a fix long ago, but it still has not been merged or no comments on how to rework it.

[2021-04-27 15:07] habbes commented on #2477
Hi @komdil actions get their parameters from the request body, not from the URL path. The url that you have shared is not valid for OData actions. If it's very important to have a the parameter in the URL, then consider using a function instead of an action and use a `GET` request.

If you intended to use an action, this is how you would set up your model and controller. If you bind the action to

[2021-04-27 15:16] Vikash153 commented on #1602
I am getting the same error message when I have created a Blueprism object to execute a PowerShell command and capture the response. The process is running fine when I am trying to execute commands like Get-ADGroup, Get-Acl but it fail with the above error when I am executing the command as Get-QADGroup etc.
![Code1](https://user-images.githubusercontent.com/83286113/116266858-8188e780-a799-11eb-9

[2021-04-27 15:18] habbes opened #2479 "How should null results be handled in OData"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2021-04-27 20:56] habbes commented on #2478
Hi @dxrdxr what if you create an overload of `Patch` and `Put` that accept a list of "safe" properties?

Would you also consider contributing a PR for this feature?

[2021-04-28 10:15] dxrdxr commented on #2478
I don't think an overload is a good solution @habbes for a few reasons:

1. It should also include an overload for `CopyChangedValues` which is the functional equivalent of `Patch`
2. Likewise it should also include an overload for `CopyUnchangedValues` which is half of `Put`
3. Following this forward, the caller of `GetChangedPropertyNames` and `GetUnchangedPropertyNames` will have to filter resu

[2021-04-29 07:49] AkJo opened #2480 "7.5.7 is requiring EntitySetPath which is supposed to be optional according to OData spec"
In previous version of OData, a function such as below would be allowed in the model:

**builder.Function("allMessages")
                .SetBindingParameter("bindingParameter", builder.EntityType<Team>().Collection)
                .ReturnsCollection<ChatMessage>();**

where ChatMessage was an entity type but not an entity set.

However, **this same code is now giving the following error during r

[2021-04-29 20:32] xuzhg commented on #2480
@AkJo It's related to this change: https://github.com/OData/WebApi/pull/2398

[2021-04-30 09:46] ktshikotshi commented on #1777
Experiencing the same issue

[2021-05-02 13:04] dxrdxr opened #2484 "Test ODataModelBinderProvider_Works_DateTime randomly fails"
When running the test ODataModelBinderProvider_Works_DateTime in WebAPI it often "randomly" fails.

The symptom is that this Assert fails:

[code]
The expected value is correct as expected, however the response value is off by a whole number of hours, always less than 24. This is an indication that it is likely a TimeZone problem.

_Other tests may also be failing in a similar manner._

### Assemb

[2021-05-03 15:04] yaagraw opened #2485 "The Count property is not updated in OData after applying filters"
When we are using filter query, in the response we are getting the filtererd result but the `Odata.Count` property is not updated.

### Assemblies affected

OData 7.X assemblies

### Reproduce steps

Hit an API that returns collection of data. After applying filter (using EnableQueryAttribute), the response contains the filtered data but incorrect count.

### Expected result

`

    "@odata.contex

[2021-05-03 16:27] prashantaggarwal1990 opened #2486 "Swagger documentation is not showing the OData Controllers with .Net Core 3.1"
We are facing an issue where swagger is not able to read the OData controllers, version details are as follows:

- Microsoft.AspNetCore.OData 7.5.6
- Swashbuckle.AspNetCore 5.5.1
- netcoreapp3.1

Here are the methods from Startup.cs:
[code]
Here is the sample controller:
[code]

[2021-05-04 08:01] komdil commented on #2477
Can you show it with function? I cannot put parameter in body. I want my action/function run in this query:../OData/Student/{Action}/{Parameter}
It is very important my route to be like: ../OData/Student/{Action}/{Parameter}

[2021-05-04 08:01] komdil commented on #2477
Why this market as Closed???? I didn't get any solution

[2021-05-04 09:21] habbes commented on #2477
Hi @komdil the issue had been closed due not receiving a response. Apologies for the misunderstanding.

Could you share more information about what you're trying to achieve? Could you also share the odata model that you're service is based on?

OData provides 2 mechanisms for calling custom procedures: actions and functions.

Actions are intended for procedures that have side-effects (e.g. they mo

[2021-05-04 09:39] komdil commented on #2477
@habbes  I already provided my model. I am trying to join one service to my OData service. It required this template:  odata/Students/Function/{parameter}
Is it possible to this?

[2021-05-04 12:45] prashantaggarwal1990 commented on #2486
@xuzhg could you please help to resolve this issue?

[2021-05-04 13:53] r4nc1d commented on #1777
i also need this fixed

[2021-05-04 16:35] KenitoInc commented on #2486
@prashantaggarwal1990
Share a repro that will assist us in investigating this issue.

[2021-05-05 16:01] habbes commented on #2477
@komdil I don't know if the URL you want is supported for functions. If you want to pass a parameter to a function, you'd use the following syntax: `odata/Students/Function(param=10)` (i.e. you pass the parameter name and value in parantheses. I don't think OData allows you to pass function parameters after a slash. That is only supported when providing keys of entities or navigation properties (e

[2021-05-06 12:23] rich0726 opened #2488 "Exception when using an Any/All filter query on collection of enums field"
I get the following exception when running an OData filter query against a field in my model that is a collection of enum values.

System.InvalidOperationException: The LINQ expression 'DbSet<Property>()
    .Where(p => p.myAppliances
        .Any(enum => (int)enum == 61))' could not be translated. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly

[2021-05-07 06:49] ikhancevich opened #2489 "ClrTypeCache has a memory leak and ClrType cache is not working"
The GetClrType method in src/Microsoft.AspNet.OData.Shared/Formatter/ClrTypeCache.cs

### Assemblies affected

Microsoft.AspNet.OData.Shared, starting from 7.5.4

### Reproduce steps

Make a lot of the same OData requests.

### Expected result

ClrTypeCache._edmToClrTypeCache doesn't contain duplicated records with the same FullName, the cache is working and doesn't lead to a memory leak.

### Act

[2021-05-07 10:40] RootReboot commented on #2464
Thank you so much. Sorry for the late response. I forgot to close the issue. Once again,  thank you for your awesome work.

[2021-05-07 10:40] #2464 closed

[2021-05-10 13:20] maboivin commented on #2107
Hey @xuzhg,
I updated to OData 8.0.0-rc2 and was able to make it work using the `[NonODataController]` attribute. I do think though that the web API controller shouldn't be considered because it has already another route defined that doesn't match.

Then, if I add a `[Route("api/odata/users")]` attribute to my OData controller ([in the repro project](https://github.com/maboivin/WebApiAndODataIssue

[2021-05-10 17:09] xuzhg commented on #2107
@maboivin Thanks for reaching to me.

Be noted, 8.0 also supports conventional and attribute routing together (by default).

The ambiguous exception is from the mix of attribute routing and conventional routing.

1. conventional routing:
    It takes the controller name and action name into consideration and build endpoint for any actions meet the conventional rule.
    Your "UsersController" and

[2021-05-11 00:53] davidfowl opened #2490 "Private reflection breaks .NET 6"
As part of .NET 6, we will want to move the `ServiceCollection` type to **Microsoft.Extensions.DependencyInjection.Abstractions** https://github.com/dotnet/runtime/pull/52284. This broke OData since it uses private reflection to make this work 1.0 and 2.0 work without having to re-compile.

https://github.com/OData/WebApi/blob/757631faf10b494e55117904196e8aa45d4c764d/src/Microsoft.AspNet.OData.Sha

[2021-05-11 01:02] davidfowl commented on #2490
That's the change I plan to make.

[2021-05-12 07:31] Sreejithpin commented on #2488
HI, Can you please share your model and a repro for this issue and we can take a look, thanks

[2021-05-12 16:57] #2490 closed

[2021-05-12 22:51] spierr commented on #1243
Same issue... Using Odata v7.5.0 and Net Core 3.1

[2021-05-13 00:03] xuzhg commented on #2489
@ikhancevich I have a fix in the master. It should be in the coming nightly. Would you please try and let me know any result?

[2021-05-13 11:56] rajni291 opened #2493 "Problem when generating OData nextlink with a function parameter alias"
*Short summary (3-5 sentences) describing the issue.*

There is a problem when using Odata Web API with function parameter alias.

Odata Original Request:
https://localhost:44374/odata/v3/HealthCare/Changes(startDate=@startDate)?@startDate=2020-06-06T14:03:00.6753255Z

OdataNextLink is generated as below:-
"@odata.nextLink":"https://localhost:44374/odata/v3/HealthCare/Changes(startDate=@startDate)

[2021-05-14 11:21] komdil commented on #2419
@xuzhg Do you have any suggestion?

[2021-05-14 14:44] rich0726 commented on #2488
Yes I can.  Give me a couple of days to put together a lightweight POC app that showcases the issue, and I'll update at that point.

[2021-05-14 22:28] fannydengdeng opened #2495 "EnableQuery validation fails for DeleteLink urls"
In our asp.net core services, we have added the `EnableQuery` filter to all of the controller actions via a custom `IFilterProvider`, which was the goal from #2162. And after upgrading Microsoft.AspNetCore.OData from 7.4.1 to 7.5.6, we have started seeing testing failures regarding DeleteLink actions. This is due to the query validation against $id in the DeleteLink url. Please advice.

### Assemb

[2021-05-17 11:31] athinadev opened #2496 "System.NotSupportedException : The nested query is not supported. Operation1='GroupBy' Operation2='MultiStreamNest'"
*I am getting the error "System.NotSupportedException : The nested query is not supported. Operation1='GroupBy' Operation2='MultiStreamNest'" when I am using $apply and try to filter a nested collection $apply=filter((qualityControlMeasurementErrorResults/any(a1:a1/qualityControlMeasurementErrors/any(a2:a2/errorId eq% 1011)))/groupby((levelName)). This is an EF6 error, and EF community suggests to

[2021-05-18 17:34] rich0726 commented on #2488
OK, here you go:

https://github.com/rich0726/PersonSportPOC

You can create the DB using code-first migrations...it's just a single table called People with four fields: PK int PersonID, string FirstName, string LastName, and string Sports.  Alternatively, I've included a SQL .bak (PeopleSports.bak) file that you can restore from.

To replicate the issue, run the API locally, and hit the followin

[2021-05-19 09:12] marabooy commented on #2493
Hi @rajni291, This does appear to be a bug which was intended to normalize the query options from OData so they are compared in a case insensitive manner. A good fix for this would be to only change the OData query options to lowercase and leave everything else in the same case. Would you be interested in contributing to a fix for this? If so do let me know if you need any help.

[2021-05-19 09:49] marabooy commented on #2495
@fannydengdeng Could you share the query that is being sent to the server and the model?

[2021-05-19 13:03] paulomahly commented on #2026
Hi, my solution was update class "SelectExpression" renaming the parameters of expressions to count the names, insert an static field "_countParameter" decorated with "ThreadStatic" attribute. Old value: "t", new value $"t{_countParameter++}".

[2021-05-19 22:12] fannydengdeng commented on #2495
@marabooy this is the delete link url sent to the server. And say my entity set is People and the collection navigation property is Movies:
`DELETE /MyService/People(someguid)/Movies/$ref?$id=http://host/MyService/Movies(some guid) HTTP/1.1`

[2021-05-20 10:05] p-tenz commented on #1609
The same problem occures if there are double quotes or commas inside an element in the IN parameter list

`$filter=manf in ('some text with , comma', 'or some text with " double quote')`

This leads to the same error.

[2021-05-20 14:12] dvanleijenhorst opened #2498 "$select returns empty objects when used on an in-memory list itself containing a list of objects"
When we attempt to use OData on an in-memory list of objects, where one of the properties is a list of objects, the $select keyword seems to not work properly when used on the list.

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.6

### Reproduce steps
We have an endpoint which returns a list of Foos. This is not an OData endpoint but rather a regular endpoint with OData extensions (using

[2021-05-20 20:18] omnilogix commented on #2026
I am having the same issue with nested $expand
Removing PageSize from the [EnableQuery] provided a workaround for me
[code]

[2021-05-23 02:12] argelj289 commented on #853
Good thing this is fixed

Bad thing is that it's not their support who solved this issue.

For the developers/owner of this library: any particular reason why this is injected this way instead of just using EnableCaseSensitive extension?

[2021-05-24 06:25] ikhancevich commented on #2489
Thank you for the fix, will check it ASAP.

[2021-05-24 19:04] TehWardy commented on #2254
Hello ?

[2021-05-26 08:45] dvanleijenhorst commented on #2498
Ah, it seems that when you use $select through a regular endpoint, you must then use $expand on top of it. So $select=bars doesn't work but $expand=bars&$select=bars does.

Though it is strange that this is not necessary if you use an OData endpoint instead.

[2021-05-26 16:53] xuzhg commented on #2498
@dvanleijenhorst In the non-model scenario, it will build the CLR type as entity type. It seems bar is built as entity type?

[2021-05-26 20:31] rich0726 commented on #2488
any updates on this issue?

[2021-05-26 20:58] alanchen1910 opened #2499 "OData Routing Causes Non-OData Controller Methods to Return OData Objects"
When migrating from app.UseMvc to app.UseRouting and app.UseEndpoints, I noticed that controllers that don't extend from ODataController began returning OData objects. This is due to the fact that our OData and Non-OData routes both start with "/api" and in startup we have

[code]

This however was not an issue when using app.UseMvc. The workaround for this issue is to set

[code]

At the beginnin

[2021-05-28 18:46] dxrdxr opened #2500 "TryGetPropertyValue on a nested ComplexType returns T, should return Delta<T>"
In an entity that has a nested ComplexType, if the nested resource is changed, it is correctly added to the `_deltaNestedResources` list and all internal state is correct.

Subsequently performing a `TryGetPropertyValue("nested", out var value)` will return the underlying _instance value of type T.

It should return Delta\<T\> if it has changed.

The behavior was added in [this](https://github.com

[2021-06-02 02:55] raulandresduque commented on #1896
Hi @groogiam,
Could you please provide extra details about the serialization issue you experimented with?
I'm having the same problem always the **[FromBody]** object is null for a PUT method.
When I use a **[FromBody] dynamic**, the date is there.

[2021-06-02 03:51] groogiam commented on #1896
Its been quite a while but looking at my source code history this seems to have been caused by a missing Microsoft.OData.Client.IgnoreClientProperty annotation on some of my client side models. The issue was not on the server it was on the client for me.

[2021-06-02 03:55] raulandresduque commented on #1896
I tried to deserialize manually the json and the issue is because of TimeSpan values.

[2021-06-02 10:40] rajni291 commented on #2493
Hi @marabooy , I've created PR for the same, Could you look into that.
https://github.com/OData/WebApi/pull/2501

[2021-06-02 23:07] chrisspre opened #2503 "Microsoft.OData.ModelBuilder 1.0.6 incompatible with Microsoft.AspNetCore.OData 7.5.8"
I have a small project in `<TargetFramework>net6.0</TargetFramework>` and include the following two packages.
[code]

The code
[code]
does not compile with error
[code]

Adding ```using Microsoft.OData.ModelBuilder;``` gives error:

[code]

[2021-06-03 15:42] adrien-constant opened #2504 "MaxTop() configuration not used"
- When the action of the controller returns an IQueryable with EF Core
- If I don't specify manually the `PageSize` value in `EnableQuery` : `[EnableQuery(PageSize = 1000)]`

- Then the default value from MaxTop in end endpoint configuration is ignored . The SQL is not modified to limit the number of rows returned as it should be.

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.8

### Rep

[2021-06-03 17:04] xuzhg commented on #2503
Microsoft.AspNetCore.OData 7.5.8 includes the built model builder.
Microsoft.OData.ModelBuilder is separated from `Microsoft.OData.ModelBuilder 7.x` and includes the same class names.

you can use the full type name, for example: "Microsoft.OData.ModelBuilder.ODataConventionModelBuilder" to get rid of the ambiguous.

[2021-06-06 13:23] dxrdxr commented on #1883
I have hit this problem as well.

I have two different entity types: `Contact` and `Diver`. They have a 1:1 relationship with each other.

I have an Action for each that generates fake entities for testing. In the case of a Contact the InsertFakes action works correctly. Notable in this case there is not a reference from the Contact to the Diver. The method returns using:

[code]

However, when I

[2021-06-07 07:28] habbes commented on #2503
@chrisspre did Sam's advice resolve the issue?

[2021-06-07 07:46] habbes commented on #2500
@dxrdxr would this be a breaking change?

[2021-06-07 10:30] dxrdxr commented on #2500
@habbes No. If the user does not set the new property, there is no difference in functionality.

[2021-06-07 13:05] #2469 closed

[2021-06-07 13:16] habbes commented on #2504
Hi @adrien-constant

The `MaxTop()` sets the maximum value that can be set for the `$top` query parameter. It does not directly limit the number of items returned per request. The discussion thread on the issue you have linked to explains the nuances behind `MaxTop()`, `PageSize` and `$top` in more detail.

I don't think the library currently provides a mechanism to set a global page size for all

[2021-06-07 15:09] habbes commented on #2489
Closing the issue. @ikhancevich please re-open if issue was not resolved.

[2021-06-07 15:09] #2489 closed

[2021-06-07 15:11] habbes commented on #2477
@komdil I'm closing the issue due to inactivity. Feel free to re-open the issue if the above suggestions do not solve your issue. Thanks.

[2021-06-07 15:11] #2477 closed

[2021-06-07 22:32] ideafixxxer opened #2508 "$select doesn't work with custom IQueryable implementation"
It seems that the current implementation of OData components is hard-wired to MS implementations of IQueryable, such as EF, EF.Core etc. The logic behind adding Null Check Expression verifies if data source provider is EFClassic, and only in this case skips the null check (see SelectExpandBinder.cs, line 800). To determine whether it is EFClassic or not, the namespace is compared with pre-hardcode

[2021-06-08 05:56] shahsahil opened #2509 "EnableConstantParameterization doesnt parameterize filter queries"
API filters should be paramterized in sql to be able to be more optimized for the EF and sql to cache plans.
Only selected things get paramterized like the top, limit, etc. EnableConstantParameterization was enabled.

### Reproduce steps

Fire a query similar to
/Products?$filter=CreatedDate%20gt%202021-06-07T02%3A02%3A08.957Z

### Expected result

the Datetime value should be parameterized.

###

[2021-06-08 11:47] huesla commented on #438
The workaround of  Casimodo72 still works in ASP.NET 5

Exact steps I followed were:
1. Copying and adding the class `ODataNamedValueDictionary<TValue>`
Note that the attributes `[DataContract]` and `[DataMember]` are required to hide `Keys` and `Values`
2. Registering it as a complex type of the model through
[code]
3. Adding a property of type `ODataNamedValueDictionary<TValue>` that is to be pu

[2021-06-08 14:19] adrien-constant commented on #1678
Same for me, with .NET 5.0
Surprinsingly, it was working on ASP.NET MVC and .NET Framework

[2021-06-08 16:30] xuzhg commented on #2499
@alanchen1910 Hi, I remembered we had a sync meeting on this part, right?  Did the sync meeting resolve your issue?

Feel free ping me offline.

[2021-06-08 16:47] chrisspre commented on #2503
I got this from https://docs.microsoft.com/en-us/odata/webapi/model-builder-capabilities-vocabulary

@xuzhg the key is to be able to use the extension method  `houses.HasCountRestrictions().IsCountable(true);`
on the EntityTypeConfiguration returned by the WebAPI's ModelBuilder .

Is there an equivalent in Microsoft.OData.ModelBuilder 7.x a to add instance annotations ?

[2021-06-08 17:38] chrisspre commented on #2503
Just tried  <PackageReference Include="Microsoft.AspNetCore.OData" Version="8.0.0-rc3" /> and this is working fine for me
Issue can be closed from my side.

[2021-06-09 06:15] garv347 commented on #1866
I am still facing this error. Was anyone able to find a workaround?

[2021-06-09 07:49] marwalsch commented on #2041
@KanishManuja-MS I can observe the same behaviour in OData 7.5.8 on .NET 5.

[2021-06-09 20:09] dxrdxr commented on #2500
@habbes The PR from 8/11/2020 fixed a previous issue where the nested property _instance was not set, the fix was only partial thus introducing this issue.

There is a difference in semantics in what is being returned when a `GetInstance()` is called.

- Before #2246 (7.5.0) the nested property is null
- After #2246 the nested property has the changed value of type `TEntity`
- After this change th

[2021-06-11 05:57] KenitoInc commented on #2308
Closing this issue for now.

[2021-06-11 05:57] #2308 closed

[2021-06-15 16:46] FlaviusHouk opened #2510 "ExpressionBinderBase.GetPropertyExpression does not handle interfaces hierarchies."
Hello everyone.

Consider following scenario: there are interface like
[code]

and

[code]

IRecord has implementation of type Record
[code]

Controller has API method to get all records like this
[code]

In this case requests like ```localhost:5000/Records?$filter=Id eq 123``` will fail with message
[code]

To fix it ExpressionBinderBase.GetPropertyExpression method should be adjusted (I have a f

[2021-06-15 22:54] devlie commented on #1690
Same goes with $filter when filtering on a boolean property. The parser mistakes "True" as property and throws "Could not find a property named 'True' on type 'MyType'."

[2021-06-17 06:03] KenitoInc commented on #2485
Hey @yaagraw
I can't repro this issue.

I have run the queries below using my sample project and the results are returned correctly.

`http://localhost:6143/odata/books?$count=true&$filter=Id eq 1`
`http://localhost:6143/odata/books?$expand=Authors($count=true;$filter=Id eq 1)`

[2021-06-17 08:06] marabooy opened #2511 "Cannot return errors in WebApi with EnableFilter on."
*Short summary (3-5 sentences) describing the issue.*

Trying to return an error object from an endpoint that has EnableQuery results in an error.
### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 7.6.5

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*
[code]
##

[2021-06-17 09:26] gathogojr commented on #1750
Fixed by https://github.com/OData/WebApi/pull/2494

[2021-06-17 09:26] #1750 closed

[2021-06-18 16:41] #2484 closed

[2021-06-22 03:29] frankpeng7 commented on #2511
Hi @marabooy thanks for opening this! Is there a workaround I could use to show the correct error message before the fix gets released?

[2021-06-22 03:34] cam-m opened #2513 "$query POST method fails for some filter expressions when odata service accessed through a VPN"
*Short summary (3-5 sentences) describing the issue.*
This one is weird.

Some odata expressions that work fine in a GET request, cause the request to sit pending (I.e. no sql being executed) indefinitely when submitted in a POST request.... but! Only when accesing the odata endpoint through a VPN.

Examples of expressions:
[code]

E.g.

[code]

If I remove statements like `[] eq []` and replace t

[2021-06-22 04:42] marabooy commented on #2511
Hi @frankpeng7 you could use the API for OData error result which should format the error message to what you need unless if you have special formatters.

`this.ODataErrorResult(string code, string message)`

[2021-06-22 06:24] frankpeng7 commented on #2511
Thanks for the response @marabooy ! Unfortunately Graph, as a developer API, has it's own error message format. The major difference I see is that `OdataErrorResult` is returning something like `{"ErrorCode": "", "Message": ""}` while our gateway is expecting `{"Code": "", "Message": ""}`.

Getting back to the fix, how long does it normally take for a code fix to be released for Odata?

[2021-06-22 09:17] marabooy commented on #2511
@frankpeng7 The other workaround as we await a hotfix would be to subclass Action result as done [here](https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNetCore.OData/Results/ODataErrorResult.cs). The code tries to apply filter on items that subclass ObjectResult. I will get back to you on when a hotfix can be released.

[2021-06-22 16:34] marabooy commented on #2513
@cam-m  could you kindly share the model you are using and a section of your startup file. I am trying a repro using open-vpn and not sure if it will give the same error as it implements ssl and not ipsec.

[2021-06-23 01:08] cam-m commented on #2513
Hi @marabooy,

thanks for looking into it for me. Is there a way I can share the model details with you privately?

The startup code is pretty generic. I've trimmed out the model bits.

**Startup**
[code]

**Register**
[code]

[2021-06-23 04:33] marabooy commented on #2513
@cam-m there won't be a need to share the whole model, you could share a small sample or edit a portion of  the sample https://services.odata.org/v4/(S(1hthk2rtxtoaogoaucumcdia))/trippinservicerw/$metadata to match one of the properties that is being filtered. What I'm looking for is a single entity definition and related entities.

[2021-06-23 05:48] marabooy commented on #2513
Also could you try the request under $batch and let me know if everything works?

[2021-06-23 06:26] cam-m commented on #2513
Thanks @marabooy

Yes $batch works perfectly and will need to be our workaround if we can't resolve the $query POST issues.

The model is quite large, so heres just the parts that pertain to EntitySet: IncidentBreakdowns

[code]

I've only gone one level deep into the navigation properties.

Here's an example of a query that (for me) never completes:

[code]

If I remove just one expression `(fals

[2021-06-23 09:57] gathogojr commented on #2513
@cam-m Could try replacing the spaces on the query string in the request body with `%20` and let us know how it behaves, i.e.
`$apply=filter([] eq [] or Property in [])` => `$apply=filter([]%20eq%20[]%20or%20Property%20in%20[])`

[2021-06-23 13:22] NGromann opened #2514 "Returning a single EntityObject from a dynamic model fails"
I am following the [example from this repository](https://github.com/OData/ODataSamples/tree/master/WebApiCore/DynamicEdmModelCreation) to generate a model at runtime. Additionally I tried to implement unbound functions which works fine when returning a `EdmEntityObjectCollection` but if I want to change the return type to `EdmEntityObject` it will throw the following error:
[code]
Stacktrace:
[co

[2021-06-23 23:44] cam-m commented on #2513
@gathogojr It makes sense url encoding might be required on a post body - however I haven't been doing that on any queries, and they all work perfectly when not accessed through VPN.

The comment I made where I can remove two distinct parts of a query string to make the query work got me thinking the length of the query string is playing a part. I used simple `and true` expressions to gradually in

[2021-06-25 20:37] jayoungers commented on #2113
@gathogojr - Is there a way to setup a route similar to what @TheMisir has (class extends `ControllerBase` and the method is decorated with `EnableQuery`), and have it return the full OData payload like you've indicated?  Opposed to just returning the array of values?

[2021-06-25 22:24] TheMisir commented on #2113
I don't think so. I ended up not using odata at all cause it makes harder to separate domain layers.

[2021-06-26 00:51] jayoungers commented on #2113
I've used OData for several years without issue for the most part.  Regarding separating the layers, generally I had it setup like so:

[code]

Which was awkward since the odata query was against the EF model, but I was returning a different type (which also didn't allow `$select`).  I just realized after 5 years I could have been doing this:

[code]

And OData + EFCore will handle querying/select

[2021-06-30 11:55] Aarabika opened #2516 "AmbiguousMatchException for properties with new modifier (Fixed in OData/AspNetCoreOData)"
This line throw AmbiguousMatchException

https://github.com/OData/WebApi/blob/757631faf10b494e55117904196e8aa45d4c764d/src/Microsoft.AspNet.OData.Shared/Query/Expressions/SelectExpandBinder.cs#L178

**Case**
[code]

Fixed in https://github.com/OData/AspNetCoreOData/pull/203, any opportunities to fix this there and add to 7.x release?

[2021-06-30 12:49] shahinjabbar opened #2522 "OData routing for multiple keys"
I am facing a problem when tryna add action which accepts two parameters, for example: host/Prodcucts(productId='dkd5',id='fd54') This route is not working. I added ODataRoute attribute and tried again but request is not getting to this action. My entity:
`public class Product
{
  [Key]
  public Guid ProductId{get;set;}

  [Key]
  public Guid Id{get;set;}
}`
And controller:

` public class Product

[2021-06-30 13:35] drventure commented on #2184
I'm seeing this same behavior. Looks like the Query Attributes only seem to work when applied at the CLASS level, not at the property level. The solution above does work, but basically it turns on ALL query options for ALL actions of ALL controllers, which is something that you might not want.

Still trying to figure out how to get the attrs to apply at the property level.

[2021-07-01 14:50] 1Jesper1 opened #2517 "OData Post(Create) endpoint CreateCommand class different from Representation class"
*Use a CreateCommand class instead of representation class for Create Odata endpoint*
When I try this I get an UnsupportedMediaTypeException exception.
[code]

### Assemblies affected

Microsoft.AspNet.OData 6.0.0

### Reproduce steps

_public async virtual Task < TRepresentation > Post(TCreateCommand command)_

### Expected result

Use a different class for posting to Odata endpoint, so you can s

[2021-07-03 10:06] vutung3196 commented on #2458
Happy to close this issue.

[2021-07-03 10:06] #2458 closed

[2021-07-03 15:49] maulik-modi commented on #1936
@mikepizzo , @habbes , @xuzhg , Most of us agree here that Extensibility option based on Hook is what we would require.

[2021-07-04 14:27] ysmoradi opened #2518 "ExpressionBinderBase issue with .NET 6"
**This exception should occur in ASP.NET Core OData 8 too, because I'm talking about the code which exists in Shared section of  repository codes**

I've updated my owin / web api 2 project to .NET 6 and I'm getting a Sequence contains more than one matching element at following:

[code]

https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/Expressions/ExpressionBind

[2021-07-05 07:16] anranruye opened #2519 "Question: Is there any method to use $count option when I don't use edm?"
$count works perfectly with edm. Now I am writing a new project which doesn't use edm. It is similar to this sample: https://docs.microsoft.com/zh-cn/odata/webapi/first-odata-api .
$count doesn't work because the aspnetcore default json formatter consider the action result a common collection.

Is there any method to use $count option when I don't use edm?

[2021-07-05 09:45] anranruye commented on #2519
My solution:
[code]

[2021-07-05 10:06] #2519 closed

[2021-07-06 08:01] 1Jesper1 commented on #2517
Is it possible to have a Web Api route _"test/"_ with `HttpGet `and an OData route _"test/"_ with `HttpPost`?

[2021-07-07 05:45] habbes commented on #2516
Hi @Aarabika thanks for reporting this. I see that you're the one who fixed the issue in 8.x. Would you be willing to port the fix to this version as well? We'll be happy to review your PR.

[2021-07-07 06:52] habbes commented on #2516
@Aarabika regarding [the fix that you provided in 8.x](https://github.com/OData/AspNetCoreOData/pull/203/files#diff-f80bb1a01968c0256936bad0b2feb0f3376c194be2466793d5c7d1e5d71905e2R173), there's some concern on whether we can rely on `GetProperties(p => p.Name == propertyName).First()` always returning the current class's implementation and not the base class's (assuming both properties are return

[2021-07-07 07:06] habbes commented on #2517
Hi @1Jesper1 thanks for sharing this. Could you share a sample request body?

Is the `TCreateCommand` type that you're using in the `Post()` method argument related to the `CreateCommand` class mentioned at the beginning of your description? Or are they supposed to be the same type?

Could you also share a stack trace of the exception?

I am also trying to see whether I can reproduce the issue loc

[2021-07-07 07:09] habbes commented on #2517
I'm not sure I have fully understood this question.

What does `test/` refer to? The OData route needs to refer to entity set or an action defined in your OData model so that you can post to it. If it's an arbitrary endpoint that does not match anything in your OData model, I don't think it can be used as an `ODataRoute`. It has to be a valid OData path.

[2021-07-07 07:14] habbes commented on #2518
Hi @ysmoradi thanks for reporting this. Would you be willing to contribute a PR to fix this? We'd be happy to review your PR and support you in the process.

[2021-07-07 07:24] habbes commented on #2522
Hi @shahinjabbar it's possible that you have typos in your code. In the description you've mentioned `Prodcucts` as the endpoint, but in the `ODataRoute` you're using `Product`.

Could you share how your `EdmModel` is defined? Specifically what name did you give to the entity set that corresponds to the `Product` entity type?

For conventional OData routing to work, the controller should be name a

[2021-07-07 08:22] gathogojr commented on #2516
My proposal would be for something like this:
[code]

[2021-07-07 10:34] 1Jesper1 commented on #2517
@habbes  Yes, TCreateCommand is supposed to be the same type as CreateCommand.
You should get the exception when you use a different input class than the result (output) class.

_Works_
public async virtual Task < ItemRepresentation> Post(ItemRepresentation representation)

_Does not work_
public async virtual Task < ItemRepresentation> Post(CreateItemCommand command)

I will try to get the stack

[2021-07-07 10:48] ysmoradi commented on #2518
Thanks, @habbes
I've linked PR https://github.com/OData/WebApi/pull/2520

[2021-07-07 10:56] habbes commented on #2517
Thanks for the additional details @1Jesper1, could you also share how you're defining your OData model? Like what classes you've built your model with? Is `CreateCommand` a type in your EdmModel as well?

[2021-07-07 11:02] Aarabika commented on #2516
@habbes Thanks for comments, fixed in odata 8.x mr - https://github.com/OData/AspNetCoreOData/pull/226

[2021-07-07 12:41] 1Jesper1 commented on #2517
@habbes If I add the class as entityType the command is always **null** when doing the post request.

If I do not register the command class as entityType I get the mediaformatter exception:

_{
  "error": {
    "code": "",
    "message": "The request entity's media type 'application/json' is not supported for this resource.",
    "innererror": {
      "message": "No MediaTypeFormatter is availabl

[2021-07-08 09:15] habbes commented on #2517
Hi @1Jesper1 I've not been able to reproduce the issue. Actually when I use `CreateCommand` as the argument of the `Post()` method, it works fine even without having to add `CreateCommand` to the `EdmModel`. I see that you're reporting this version 6.0. Can you test it in the latest 7.x version and see whether the issue still occurs?

[2021-07-08 09:27] 1Jesper1 commented on #2517
@habbes I'm going to test!

[2021-07-08 12:20] 1Jesper1 commented on #2517
@habbes
When I do not add the CreateCommand to the EdmModel, I get the mediatypeformatter exception again.
When I add the CreateCommand to the EdmModel I get this exception:
`Microsoft.OData.ODataException: 'The entity type 'CreateCommand' is not compatible with the base type 'Test' of the provided entity set 'Test'. When an entity type is specified for an OData resource set or resource reader, it

[2021-07-08 12:36] 1Jesper1 commented on #2517
@habbes We managed to get it working when CreateCommand extends Test. We don't need to add CreateCommand as entitytype to the EdmModel, because Test is also added to the EdmModel. With this scenario we can add properties to the command class which won't be added to Test, so these properties won't be return in the result.

[2021-07-08 15:36] 1Jesper1 commented on #939
@sergevm You could try https://www.nuget.org/packages/Swashbuckle.OData.Core/

[2021-07-09 05:46] #2509 closed

[2021-07-09 11:15] lpmac commented on #194
This is still an issue for me with Odata V4 -
https://**host**/**service**?$filter=RowChangedDatetime gt 2021-06-30T15:59:57.0000000Z/$count

When I send the above on Postman I get
`{
    "error": {
        "code": "",
        "message": "The query specified in the URI is not valid. The DateTimeOffset text '2021-06-30T15:59:57.0000000Z/$count' should be in format 'yyyy-mm-ddThh:mm:ss('.'s+)?(zzzzz

[2021-07-09 12:55] cam-m commented on #2513
For now I have worked around this issue using the $batch option

[2021-07-12 13:26] habbes commented on #2522
Hi @shahinjabbar did you get a chance to try the suggestions above?

[2021-07-12 13:31] habbes commented on #2517
Thanks for the follow-up @1Jesper1. I'll go ahead and close this issue now. Is it still on 6.x that you managed to get it to work?

[2021-07-12 13:31] #2517 closed

[2021-07-12 13:59] 1Jesper1 commented on #2517
@habbes Yes, we stay on version 6, because we didn't manage to setup version 7 with Swagger. Thanks for the help.

[2021-07-13 12:41] 1Jesper1 commented on #438
Would be great if this gets supported!

[2021-07-13 18:28] frankpeng7 commented on #2511
Hi @marabooy are there any updates on this?

[2021-07-13 18:53] marabooy commented on #2511
Hi @frankpeng7 this should be in our next release. Currently migrating this repo to dotnet framework and this should have a release then. I will keep you updated with the migration and anticipated release date.

[2021-07-14 09:46] #2518 closed

[2021-07-15 09:39] #2511 closed

[2021-07-16 15:45] asmolarczyk commented on #1034
Any news on this? I tried to use the delta feed feature today, but documentation/samples are still very vage...

[2021-07-17 08:33] yogesh2021-Indore commented on #2026
bro can anyone have the solution or not?

[2021-07-17 08:42] yogesh2021-Indore commented on #2026
var departments= new List<Department>();
            var lstDepartment = await _machineTestContext.Department.ToListAsync();

//1. ----------------------I tried this also getting error as in point 2
            var lstEmployees = _machineTestContext.Employee.FirstOrDefault();
//----------------------

            foreach (var item in lstDepartment )
            {
//2. Getting error here as i have

[2021-07-17 13:20] korygin commented on #2026
I believe Microsoft has it fixed in EF Core 6. They are not going to make any fixes in prior versions.

[2021-07-22 07:18] azizainunnajib commented on #1866
thanks, i forgot the return should be Ok(), not Created()

[2021-07-23 03:42] shagilt opened #2533 "Few key property values are missing in ODataController’s POST method."
I have 3 keys in my entity - GuidKey1, GuidKey2 and GuidKey3
[code]
 My controller is like this:
`public async Task<IActionResult> Post([FromBody]CoreAccount entity)`

When I am trying to add an entity I see GuidKey2 and GuidKey3 are set to default value in controller code.
But fiddler capture shows the request actually has GuidKey2 and GuidKey3 values.

Am I missing something?

[2021-07-23 13:20] TehWardy commented on #2254
What about now ?

[2021-07-24 06:56] ysmoradi opened #2531 "OData release issues"
OData release has reference to Microsoft.AspNetCore.OData nuget package instead of Microsoft.AspNet.OData!

GitHub release

![image](https://user-images.githubusercontent.com/5352980/126860325-d46a2079-b3a4-409c-ba81-259a7a0efbee.png)

Nuget package

![image](https://user-images.githubusercontent.com/5352980/126860329-d23d7299-adaf-4df1-84c8-463cbad2d96c.png)

Also, nuget package version [7.5.8](h

[2021-07-25 15:36] dxrdxr opened #2532 "Unmapped properties are in Delta<T>"
In my OData convention based EDM model I have properties that I exclude from the model by using the `[NotMapped]` attribute.

In an entity that has a property with `[NotMapped]`, when I call the `Patch` method I see that the property is in the `_allProperties` and is accessible (although it is always empty).

### Assemblies affected

OData WebApi and Microsoft.AspNetCore.OData

### Reproduce steps

[2021-07-27 16:46] xuzhg commented on #2531
@ysmoradi Thanks for reporting this. I am sorry I forgot to draft a release item on github until couple of days ago.

[2021-07-27 17:17] ificator opened #2534 "Action implementations with fewer parameters than route now fail"
In PR https://github.com/OData/WebApi/pull/2168 an assumption was introduced that an action implementation is only relevant if it contains at least the number of parameters provided by the route. That is an invalid assumption.

It's perfectly valid for an action to contain only a single parameter, but have it derived from any number of parameters from the route. We do this a lot to coalesce variou

[2021-07-27 23:59] shagilt commented on #2533
Now I run it again I see all keys with correct values. May be it was a test issue. I will close this issue. Thank you @xuzhg.

[2021-07-27 23:59] #2533 closed

[2021-07-28 13:20] oriolaakeem commented on #2118
**.net 5.0  MongoDB database odata any help will be appreciated $select or filtering et al gives this**

System.ArgumentException: Value type of serializer is Microsoft.AspNetCore.OData.Query.Container.NamedProperty`1[[System.String, System.Private.CoreLib, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]] and does not match member type Microsoft.AspNetCore.OData.Query.Container.

[2021-08-02 21:48] amharris1331 opened #2535 "Question: Does OData have a default timeout value for returning max number of results?"
While using an OData API, I noticed that when asking for the pre-set maximum page size value, the returned page size was inconsistent sometimes.  Does OData have a default timeout value when retrieving data for a GET API?

Ex: max.pagesize = 200

returned page size = 144 or 160

[2021-08-03 10:51] ysmoradi commented on #2531
What do you mean?
The latest release is for 3 months ago! @marabooy
https://www.nuget.org/packages/Microsoft.AspNet.OData/

[2021-08-03 16:51] f-camera opened #2537 "Poor performance on data serialization"
We are facing serialization performance issue, especially if compared to OData-less Json serialization.
Our issue is highlighted but a compared execution we are trying: the comparison is between an OData query and an equivalent query + serialization performed directly on our Data Access Layer (note: the same layer is also feeding OData Controllers).
The focus is on the serialization of the respons

[2021-08-03 17:06] marabooy commented on #2531
@ysmoradi We are currently working on a new release for nuget. The issue is that we tagged the nuget release on github late but we shall continue improving the process so the tags on github mirror the nuget releases.

[2021-08-03 20:25] ificator commented on #2534
A couple of thoughts on mitigating this:
1. Don't apply the parameter count check of the action was chosen via attribute routing. Attribute routing is very explicit, and of an attribute says that `Method1` should be invoked it should irrespective of the parameters (assuming, of course, the parameters it does define can be provided).
2. Don't apply the parameter count check if any of the parameters

[2021-08-05 17:02] AnoopChatra commented on #1818
Hello,

Any updates on this issue ?

[2021-08-05 18:21] amharris1331 commented on #2535
Hey @Sreejithpin, has there been any progress with this question?

[2021-08-05 18:26] Sreejithpin commented on #2535
Hi Couple of questions.
Are you getting a nextlink with the response, Wanted to know if you are getting a partial result .
Do you have any timeout in your API
Can you just try with $count to make sure there are enough no of records

[2021-08-05 18:47] amharris1331 commented on #2535
Hey!

Good questions.
1) Yes, I was getting a nextlink and I made sure to have the $count filter in the api call.  There were indeed more items to be retrieved (there are a total of 500 objects in this one container).
2) No, we don't have a timeout in place on our API.

[2021-08-10 22:33] robertmclaws commented on #1958
We are experiencing a situation where we have a unit test in Restier that leverages the filter segment: "/Books/$filter(endswith(Title,'The'))/DiscontinueBooks()". It's giving us a `NullReferenceException`:

[code]
Are filter segments enabled in ODL? Thanks!

[2021-08-11 05:58] habbes commented on #2537
Hi @f-camera. There have been some performance improvements made to the WebAPI serialization and ODataWriter in more recent versions. Could you try the latest 7.x version of WebApi and see if performance improves? Could you also share more information about what your controller is doing? It would be great to see code snippets of the two requests being compared.

[2021-08-11 20:31] icnocop commented on #1697
Hi.

I'm also experiencing this issue with Microsoft.AspNetCore.OData 7.5.6.

Any ideas or work-arounds?

Thank you!

[2021-08-12 23:31] chrisspre opened #2542 "nested complex type properties not always returned"
Issue is originally filed at https://github.com/microsoftgraph/microsoft-graph-docs/issues/13727

Quick summary:

Relevant CSDL seems to be

[code]

[code]
does not return the values of the schedule properties. But

[code]
does not return the values of the schedule properties for each accessPackageAssignmentRequest

Question is, is this a configuration on the service side or something intrinsic to

[2021-08-13 01:28] Bitz commented on #1461
I really do appreciate the teams stance of "maybe if we ignore it, it will go away".

Still an issue!

[2021-08-13 09:05] habbes commented on #2534
@ificator thanks for reporting this, it does seem as a regression. And your suggestions seem like they would work.

[2021-08-13 10:04] ashinzekene opened #2543 "Swagger for OData .Net Guide"
Sorry is there any guide on enabling swagger for Odata WebAPI endpoints?

[2021-08-13 12:27] 1Jesper1 commented on #2517
ComplexType did the trick to work with a command class without inheriting the representation class.

[2021-08-13 16:51] marabooy commented on #2531
@ysmoradi the new version is out kindly test.

[2021-08-14 14:25] MinhMit opened #2545 "Query when truncate tick in DateTimeOffset or any method to calculated data."
I'm developing a small project use postgresql and odata.

and i have an issue when use OrderBy with column has AddTickFunction

MyController:

[code]

I don't want use odata paramters because i need publish both restfull api with /api/languages url and odata /odata/languages url.

Handler

[code]

Truncate method:

[code]

Configurate:

[code]

[code]

It work fine when i use query without truncat

[2021-08-16 09:34] jolleekin opened #2547 "Model aliasing doesn't work when not using DataContract and DataMember attributes"
I was trying to add OData query options support with **model aliasing** to an ASP.NET Core API project without using OData routing.

### Assemblies affected

- Microsoft.AspNetCore.OData 8.0.1
- Microsoft.OData.ModelBuilder 1.0.6

### Reproduce steps

1. Registering the OData services

[code]

2. Building the EDM model

[code]

3. Creating the controller

[code]

4. Execute a GET request (simplifi

[2021-08-16 18:13] amharris1331 commented on #2535
Hey @Sreejithpin, would you happen to know if OData does have a default timeout value for retrieving collections of data?

[2021-08-17 05:46] tespheakdeyesoftix opened #2549 "Odata Filter text column that start with Plus (+) size is not working"
Hi,
I try to do search result form odata api by using following code below
api_url?$filter=column eq '+2.5' the result is empty .
I do googling and replace + sign with %2B but still not luck.
api_url?$filter=column eq '%2B2.5'
api_url?$filter=column eq concat('%2B','2.5')

All about statement are not working.

Is there anyway to fix this?

Thank,

[2021-08-17 16:52] chrisspre commented on #2542
[code]

returns
[code]

[code]

returns

[code]

[code]

returns

[code]

[2021-08-18 11:12] Sreejithpin commented on #2535
OData doesnt have default timeout. If you are getting nextlink i guess timeout is not happening

[2021-08-18 11:13] Sreejithpin commented on #2545
Which version of EF are you using. Can you please try using EF6

[2021-08-18 15:41] MinhMit commented on #2545
Im using:
- Microsoft.EntityFrameworkCore v5.0.9
- Microsoft.EntityFrameworkCore.Relational v5.0.9
- Npgsql.EntityFrameworkCore.PostgreSQL v5.0.7

[2021-08-19 10:46] dks07 commented on #2453
@gathogojr, Yes it is working with version 7.5.7

[2021-08-19 10:46] #2453 closed

[2021-08-20 05:21] anranruye opened #2551 "Use EnableQueryAttribute.PageSize and $top for expanded collection together throws exception for ef core sql server provider"
Use EnableQueryAttribute.PageSize and $top for expanded collection together throws exception for ef core sql server provider.

Example query: ~/odata/customers?$expand=orders($top=1)

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.x
Microsoft.OData.Core 7.9.0
Microsoft.EntityFrameworkCore 5.0.x
Microsoft.EntityFrameworkCore.SqlServer 5.0.x

### Reproduce steps

1. Add PageSize=X to [Enabl

[2021-08-20 18:18] zhongyn opened #2552 "AutoExpand navigation property within complex type not working"
AutoExpand navigation property within complex type not working
[code]
In the above example, the nav prop C is not auto-expanded even though the [AutoExpand] is provided.

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

"Microsoft.AspNet.WebApi.OData" version="5.2.0"
"Microsoft.AspNet.OData" version="7.4.1"

### Reproduce steps

*The sim

[2021-08-20 21:32] #2551 closed

[2021-08-21 13:58] anranruye commented on #2551
Closed this since ef team replied.

[2021-08-23 11:31] ashinzekene commented on #2543
Hi @Sreejithpin do you have any idea of how to go about this?

[2021-08-23 12:14] VaclavElias commented on #2143
@hassanhabib I watched the standup https://www.youtube.com/watch?v=Q3Ove-2Uh94 and your simple example, I wonder if there is any update on this issue, so we don't have to use IEdmModel. Thanks :)

[2021-08-23 15:16] marabooy commented on #2543
@ashinzekene are you using 7.x or 8.x release?

[2021-08-23 15:18] marabooy commented on #2543
On 8.x [Check this guide](https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataRoutingSample) On 7.x do checkout [this thread ](https://github.com/OData/WebApi/issues/2024)

[2021-08-23 19:07] ashinzekene commented on #2543
Thanks @marabooy, those are for `.NET Core` not `.Net Web API`

[2021-08-24 06:11] xuzhg commented on #2552
Similar to: https://github.com/OData/WebApi/issues/1145
https://github.com/OData/WebApi/issues/1226

[2021-08-24 09:12] marabooy commented on #2543
@ashinzekene you can try the [following package](https://github.com/microsoft/OpenAPI.NET.OData) to convert the EdmModel to open-api descriptions that you can then serve using [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle.WebApi) or any swagger-ui component.

[2021-08-25 08:02] KenitoInc commented on #2545
@MinhMit Try using EF classic 6

[2021-08-25 08:12] #2478 closed

[2021-08-26 10:24] komdil opened #2553 "Release notes of 7.5.9 are not correct"
Go to https://www.nuget.org/packages/Microsoft.AspNet.OData/7.5.9
Go to Release Notes https://docs.microsoft.com/en-us/odata/changelog/webapi-7x

There is WebAPI 7.5.8 but no notes about 7.5.9

[2021-08-30 12:47] marcelwokkemarin opened #2556 "7.5.10 has compilation issue in IISexpress"
*After updating to version 7.5.10 Asp webapi servicedoes not run anymore*
Stops with error:
Could not load file or assembly 'Microsoft.AspNet.OData' or one of its dependencies. Strong name signature could not be verified.  The assembly may have been tampered with, or it was delay signed but not fully signed with the correct private key. (Exception from HRESULT: 0x80131045)

### Assemblies affected

[2021-08-30 13:27] ashinzekene commented on #2543
Your solution is also for ASP.Net Core @jacobmohl  🥲

[2021-08-30 14:26] jacobmohl commented on #2543
Yes sorry for the confusion. Something similar should be possible on .Net Framework as well.

[2021-08-30 14:29] ashinzekene commented on #2543
Yeah, trying to see if I can do that, the `IOperationFilter` signature is quite different for `.NET framework`

[2021-08-30 20:51] amharris1331 commented on #2535
Hey Sreejith,

Thanks for answering my question.  However, I am stumped now on why OData was returning an inconsistent count of objects originally when I increased the max return size to be 300.  Would you have any insights on where I could continue my investigation?

Best,

Amanda Harris

[2021-08-31 02:26] aimi617 commented on #2556
The same is happening in our project after updating to Microsoft.AspNet.Odata.7.5.10, the Release doesn't compile with an error "Could not load file or assembly 'Microsoft.AspNet.OData' or one of its dependencies ... (Exception from HRESULT: 0x80131045)", and we have to rollback to v.7.5.9 and put the constraint in project file

`<PackageReference Include="Microsoft.AspNet.OData">`
`<Version>[7.5.

[2021-08-31 05:33] xuzhg commented on #2553
@komdil The change note is avaiable at https://docs.microsoft.com/en-us/odata/changelog/webapi-7x

[2021-08-31 05:33] #2553 closed

[2021-08-31 07:18] marabooy commented on #2556
@aimi617 & @marcelwokkemarin We recently migrated WebApi to use the [dotnetfoundation pipeline](https://github.com/OData/WebApi/pull/2529) and the signing key has changed as a result.

[2021-08-31 09:48] marcelwokkemarin commented on #2556
@marabooy Thanks for the reply. Could it be that this migration changed the way 7.5.10 is signed? As that seems to be the direction the error message is pointing.

Or do I need to change or fix something in my project setup to be able to use 7.5.10?

[2021-08-31 13:27] robertmclaws commented on #2556
Question: Why would moving to the .NET Foundation have changed the .SNK file needed to strong-name sign the assembly? A) That shouldn't have mattered, strong-name signing is not a security feature, and so it doesn't really matter the the same key is used for other Microsoft stuff, b) changing the SNK is a SemVer breaking change that would have required an update to the Major version of the assembl

[2021-08-31 14:11] f-camera commented on #2537
Hi @habbes. Thank you for the answer and the hint.

### Upgrade attempts results
We tried upgrading to latest releases and indeed the performance in the specific case we were looking at greatly improved. In a reduced case, we passed from **3.5 seconds to 250 milliseconds** (average timings) as overall response time. Unluckily though, trying and testing with some more cases, we stumbled on a **cras

[2021-08-31 17:47] marabooy commented on #2556
Thanks for the update @robertmclaws I am currently working on a fix for this.

[2021-09-01 08:44] komdil opened #2557 "MissingMethodException on getting ResourceInstance from ODataResourceSerializer"
I want to make some restrictions on getting properties on runtime. I am doing this using custom ODataResourceSerializer. But I am getting this exception:
`System.MissingMethodException:` 'No parameterless constructor defined for type 'ODataWebAPI.Student'.'

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.10

### Reproduce steps

My model:
[code]
My configuration:
[code]
My controller:
[co

[2021-09-01 08:47] cam-m commented on #1743
Just wondering if anyone is looking at this issue or is it not going to be addressed because of being an EF6 issue? This would be a very useful feature for filtering and I’m currently unable to move to EFCore.

[2021-09-02 11:48] PrathibaNet opened #2561 "$skiptoken is always returns null when combined with $Select"
*We are using Microsoft.AspNetCore.OData 7.5.6.
We have a API which returns a list of items with pagesize as 20, and skiptoken enabled.
The API returns response with nextlink with proper skiptoken when no $Select parameter is there.
whenever $Select parameter is added, it always return null for skiptoken *

### Assemblies affected

*Microsoft.AspNetCore.OData 7.5.6

### Reproduce steps

*Expose a

[2021-09-03 06:57] dxrdxr commented on #2500
Continuing to frame this issue.

I created a test case that has the following flow (actual test code available on request):

[code]

Patch with a unchanged Address
- Initialize `deltaAddress = Delta<AddressEntity>` but make no changes
- Initialize `deltaCustomer = Delta<CustomerEntity>`
- Set `Customer.Address` nested property `deltaCustomer.TrySetPropertyValue("Address", deltaAddress)`
- Get `Cus

[2021-09-03 14:08] orencomer opened #2562 "HasMany Configuration MaxExpansionDepth Issue"
Hello @xuzhg
`
EntitySetConfiguration<ConnectionEntry> entitySetConnectionEntry = builder.EntitySet<ConnectionEntry>("ConnectionEntries");
            FunctionConfiguration getConnectionEntries = builder.EntityType<ConnectionEntry>().Collection.Function("GetConnectionEntries").ReturnsCollectionFromEntitySet<ConnectionEntry>("ConnectionEntries");
            getConnectionEntries.Parameter<int>("Cus

[2021-09-04 05:16] MohammadMobasher commented on #2254
same problem...
Works
?$apply=groupby((Field))

Doesn't
?$count=true&$apply=groupby((Field),aggregate($count as total)))

[2021-09-04 17:34] ificator commented on #2534
That will solve my problem so I'm happy with that approach. One general principal we could consider for changes like this is to make the optional via some kind of "options" object. We could enforce the parameter number criteria by default, but allow applications to disable it if they have scenarios, such as complex model binders, that cause the system to behavior unexpectedly?

[2021-09-06 08:36] komdil opened #2563 "Support IsNotOf function in OData"
IsOf function is already implemented: https://github.com/OData/WebApi/issues/185
It would be great if we have IsNotOf function also.

[2021-09-07 16:12] ElizabethOkerio commented on #2563
@komdil you should be able to use either of the following: not isof or isof == false

[2021-09-07 16:45] idurotPauley opened #2564 "OData Function not working when assigning a custom namespace to the function."
Hi,

I have several different entities who has a bound function applied for each entity with the same name. Initially, I was getting an error when adding a function with the same name under the same namespace. So my solution is to add the function for each entity under a different namespace.

However, it seem's that it doesn't work as expected and I keep getting 404 errors. I'm currently on OData

[2021-09-07 17:53] gathogojr commented on #2557
@komdil I'm not 100% sure what you mean by this statement "_I want to make some restrictions on getting properties on runtime_".
If I was to assume that you want to apply restrictions on properties (or property values) that get serialized in the response message, the first question I'd have is whether you need to make the default constructor for `Student` class protected to achieve that.
The defau

[2021-09-07 19:33] ificator commented on #2465
Just noticed this PR - looks like it's attempting to solve the same underlying issue that my new PR (https://github.com/OData/WebApi/pull/2565) is. If this approach (using `ElementClrType` instead of making sure `TargetStructuredType` is populated for operations) is the preferred I can close out my PR.

[2021-09-08 05:45] komdil commented on #2563
@ElizabethOkerio  I tried isof==false, it is throwing error:
The query specified in the URI is not valid. Syntax error at position 41 in 'isof(Address,'ODataWebAPI.RealAddress') == false
Tried isof(...) eq false, no error, getting but the empty result

Maybe there is a way to make this work, but having isNotOf function is a nice feature, and user friendly

[2021-09-08 06:15] komdil commented on #2557
`I want to make some restrictions on getting properties on runtime` It means sometimes I don't want to show some properties to clients, based on my security logic. I cannot make a public empty constructor on Student for security reasons. I am using EF, so the protected constructor will fire only when I get an entity from the EF context.

1. I don't understand the reason for creating an instance of

[2021-09-08 13:09] Juraj2 opened #2566 "Using groupBy with orderBy makes the query case sensitive"
Odata query is casesensitive when both groupby and orderby is used.
The following query doesn't work for camel cased property: lastName but works if using the groupby or orderby separately or if we use pascal cased property LastName

![image](https://user-images.githubusercontent.com/39399251/132514868-51005b47-923d-4d75-8079-ee2f1c205596.png)

Throws error:
- `https://services.odata.org/TripPinRE

[2021-09-09 01:54] joaocpaiva commented on #2444
@habbes that is an excellent deep dive!

Currently serializing OData response costs around 25% of CPU in AGS. This is the most expensive stack in the service. And allocation cost is more than 40%. Undeniably, there is a ton of opportunity to reduce CPU and allocations in response serialization.

Having buffering in place as you suggest is extremely important, especially when writing to network str

[2021-09-09 09:02] BuzzyLizzy opened #2568 "EdmModel with referenced models, when validate it does not pick up references so validation fails"
My requirement is to receive XML strings, read them in and build the EdmModel, the XML strings consist of one for the Main Contract, then one or more Referenced models. I created the EdmModel with referenced Models after a lot of struggle I found a work-around, I cannot understand this model, the CsdlReader returns an IEdmModel when stepping in code is a CsdlSemanticsModel which cannot be converte

[2021-09-09 09:31] #2534 closed

[2021-09-09 09:35] BuzzyLizzy commented on #2568
Posted on the wrong channel, will post on OData.net channel

[2021-09-09 09:35] #2568 closed

[2021-09-09 15:52] BuzzyLizzy commented on #2568
I was able to solve my problem partially by the following 2 steps:
1. Parse all references with the CsdlReader to obtain an IEdmModel of each, then gather them in a list.
2. Parse the main contract also with CsdlReader and pass this list of IEdmModel references in.

But the Base EntityType Properties() extension method is not picking up all the Properties as stated in the documentation. I used the

[2021-09-09 19:50] JarLowrey commented on #2102
When my expand query was missing results where my nullable Id was actually null, it turned out I had not created my code-first migrations correctly. I had used `Guid` instead of `Guid?`.

The generated migration was using `NOT NULL DEFAULT '000-...`, so the error somehow escaped DB detection. Only showed up on my API Odata calls

[2021-09-12 02:15] dxrdxr commented on #2500
I have come down to two choices to solve this issue:

1. Change the semantics of `TryGetPropertyValue()` to return the actual type that was used in `TrySetPropertyValue`.
2. Add an additional method `TryGetNestedPropertyValue()` that returns the `IDelta<T>` if it was set as an IDelta, otherwise false.

As described above, I greatly prefer # 1 as it provides a cleaner interface, although it is argu

[2021-09-12 05:38] dxrdxr opened #2569 "Remove support for netcoreapp2.0"
Netcoreapp2.0 is included in the src and test but that version of .Net Core has been at [End Of Support](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) since 2018.

Actually all versions from .Net Core 3.0 and earlier are currently at End Of Support.
The only older version supported is .NET Core 3.1.

Removal of unsupported versions will clarify the source code, allow newer lang

[2021-09-13 13:47] AmirSasson commented on #1177
for some reason, i still don't know why.
when using the above solution (or upgrade the package), the request for /swagger/SOMEVERSION/swagger.json is stuck and doesnt return at all.
no exception that i am getting.
this is the code i am using:
[code]

[2021-09-13 14:59] AmirSasson commented on #2170
hi @zinov, i am experiencing the same, and way to work around this?

[2021-09-13 15:13] julealgon commented on #1177
@AmirSasson you should consider opening a separate issue to get more traction on your problem. Even if they are related, this has already been closed as "fixed" and it might be better to document the new problem separately and link this one to it.

[2021-09-13 16:59] f-camera commented on #2508
Hi all,
we are facing the exact same issue and I was going to open a new issue before finding this one.
I mentioned the topic in #2537 .
Is there any plan about a review of this part?
Thanks.

[2021-09-13 17:57] AmirSasson commented on #2266
hi @KenitoInc ,
removing the [FromQuery] works but not really an option as it breaks the external contract (serialized json rather than separated input parameters ).
what might be a good way to work around this odd problem?

[2021-09-14 16:55] xuzhg commented on #2566
@Juraj2 Here comes the exception: https://github.com/OData/odata.net/blob/4e263ca4b94d01f2d105d8282c62ec272cfcd1bb/src/Microsoft.OData.Core/UriParser/Aggregation/ApplyBinder.cs#L254

[2021-09-14 16:59] xuzhg commented on #2569
ODL also supports the end of support version. We should consider them together.

[2021-09-15 11:05] Reena-Patel commented on #2384
@komdil  Do we need to set CustomODataPrimitiveSerializer to the EDM model? or just adding the below code will work which is shared [here](https://stackoverflow.com/questions/65351595/how-to-set-decimal-precision-in-odata?answertab=active#tab-top)?

[code]

[2021-09-15 11:17] Reena-Patel opened #2571 "Use DateTime in ISO format in request and response"
*Short summary (3-5 sentences) describing the issue.*

We want to use the ISO date-time format yyyy-MM-dd'T'HH:mm:ssZ for the Odata API request and response.

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

Microsoft.AspNetCore.OData(8.0.2)
linq2db.EntityFrameworkCore(5.5.0)

*What is actually happening.*

{
            "id": 11123,
            "customer_id": 3

[2021-09-15 12:22] PrathibaNet commented on #2561
Hi , is there any workaround for this issue

[2021-09-16 02:12] Sreejithpin commented on #2564
Can you please share your model

[2021-09-16 04:50] komdil commented on #2384
We still need to use workaround provided [here ](https://stackoverflow.com/questions/65351595/how-to-set-decimal-precision-in-odata?answertab=active#tab-top) because PR is not completed yet

[2021-09-16 05:16] Reena-Patel commented on #2384
@komdil Yes, but only adding this code does not solve my problem. My question is do we need to configure the **CustomODataPrimitiveSerializer** anywhere?

[2021-09-16 05:26] #1610 closed

[2021-09-16 07:41] komdil commented on #2384
Yes, you need to set it on configuration:
1. Create serializer provider:
[code]

2. Add it on configuration:

[code]

[2021-09-16 09:18] orencomer commented on #2562
Hi @xuzhg, @ElizabethOkerio is there any progress?

[2021-09-16 13:59] #1548 closed

[2021-09-16 18:45] mikepizzo commented on #2569
Now that 8.0 is out, we will be deprecating microsoft.aspnet.odata and microsoft.aspnetcore.odata 7.x (and, when microsoft.odata.* 8.0 is out we will deprecate the 7.x version of those libraries). Unless it simplifies maintenance, I don't know that the value of dropping support for the end-of-life platforms in the deprecated versions of the libraries would be worth the potential of breaking folks

[2021-09-16 18:45] #2569 closed

[2021-09-16 22:31] smasherprog commented on #2556
I am also facing this so I cannot update to the latest version

[2021-09-17 10:07] eligf22 commented on #2556
I am facing this issue on my project. Using 7.5.8 version for now.

[2021-09-17 18:52] thea-shi opened #2572 "PATCH doesn't work for nested derived complex types"
When patching from one derived type to another derived type for the same base type, it shows errors `Cannot use Delta of type 'derivedType1' on an entity of type 'derivedType2'.`

### Assemblies affected

OData WebApi lib 7.3.0

### Reproduce steps

- Odata schema
[code]

- Existing anEntity

[code]

- Patch call to change `propertyBase`

[code]

- Error
`Cannot use Delta of type 'derivedType1' on

[2021-09-20 10:59] bmtheo commented on #2335
I just stumble on the problem and this is how I fixed it :
 - change the type to double (instead of decimal)
 - force the decimal in the payload

This is the only way I could get a Delta<XXX> working in my payload

.NET
[code]

Payload
[code]

@Luigi6821

[2021-09-20 13:19] magneto-81 opened #2573 "'Microsoft.AspNet.OData, Version=7.5.10.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A)"
I updated Microsoft.AspNet.OData assembly from nuget feed to version 7.5.10, the following error is throw at runtime:
Could not load file or assembly 'Microsoft.AspNet.OData, Version=7.5.10.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A)

### Assemblies affected

Microsoft.AspNet.OData, Version=7.5

[2021-09-20 13:19] PrathibaNet commented on #2561
Any updates on this issue, please

[2021-09-21 12:53] f-camera commented on #2508
Hi @habbes, thank you for the info. It looks promising, but I have few questions/comments:

- is the PR OData/AspNetCoreOData#296 to be followed by some corresponding work on OData/WebApi?
- If yes, is there already any plan about it?
- I've got the base idea and some details, but I'm not sure of my complete understanding: at first sight, at least for our case, it looks a bit of an overkill. As fa

[2021-09-21 14:19] marabooy commented on #2556
Thanks @eligf22 & @smasherprog Our next release which should be on the horizon should have this fixed.

[2021-09-22 08:01] marabooy commented on #2573
Closing this as it is a duplicate of https://github.com/OData/WebApi/issues/2556

[2021-09-22 08:01] #2573 closed

[2021-09-23 03:59] komdil commented on #2557
Any updates?

[2021-09-28 05:06] Reena-Patel commented on #2026
It is not working in Microsoft.EntityFrameworkCore.SqlServer 5.0.10 also.

[2021-09-28 05:20] gathogojr commented on #2026
@Reena-Patel Can you try 6.x?

[2021-09-28 11:50] Reena-Patel commented on #2026
@gathogojr Yes, it is working with 6.x.

[2021-09-28 12:06] Reena-Patel commented on #2015
@athinadev I have tried with the Microsoft.EntityFrameworkCore (6.0.0-preview.7.21378.4) group by is not working as well.

$skip=5&$apply=filter(amount gt 50)/groupby((customer_id),aggregate($count as receipt_count, amount with sum as total_amount))
&$top=15

[2021-09-28 13:27] fairking commented on #2015
@Reena-Patel NHibernate team fixed it long time ago: https://github.com/nhibernate/nhibernate-core/issues/2334#issuecomment-606111593 . But EntityFramework as I can see still have that issue.

[2021-09-28 16:29] akshukla25 opened #2576 "Tests failing while using DeleteLink of Microsoft.OData.Client"
I see that a request like https://graph.windows.net/adfabdev3.onmicrosoft.com/devices/c09433ca-bf6d-42e5-8ec4-387c464d98f9/registeredUsers/fa9e1472-dca3-45c2-b9f2-89fc41784448/$ref?api-version=1.6-internal works fine with OData 4.0. So, we want to understand why DeleteLink generates a request as EntitySet/<key>/NavigationPropertyLink?$id=entitySet/<key> instead of EntitySet/<key>/NavigationPropert

[2021-09-28 20:38] kmcinnomate opened #2577 "Stream properties on dynamic EDM model entities no longer appear"
It was previously possible to add stream properties to dynamic EDM model entities. This seems to no longer be possible. The properties are no longer output.

### Assemblies affected

Microsoft.AspNet.OData 7.5.6 and up.

### Reproduce steps

I have added a stream property to the DynamicEdmModelCreation solution from the ODataSamples project (https://github.com/OData/ODataSamples) using Microsoft.A

[2021-09-29 08:13] gathogojr commented on #2563
Hi @komdil. Thank you for your patience. `not isof` works for me and I don't think adding support for `isnotof` is easy to justify, for the same reason that you rarely find a library that supports `Contains` and `NotContains`, `Equals` and `NotEquals`, etc.
Here's some sample code you can use to confirm:
[code]
To return shapes that are circles only,
[code]
[code]
For avoidance of doubt, it'll wor

[2021-09-29 08:13] #2563 closed

[2021-09-29 08:24] gathogojr commented on #2082
Fixed by https://github.com/OData/WebApi/pull/2512

[2021-09-29 08:24] #2082 closed

[2021-09-30 11:36] PrathibaNet commented on #2561
@xuzhg @ElizabethOkerio can you please provide any update on this issue

[2021-09-30 19:23] xuzhg commented on #2039
@Kasper888 @ufonator

You can build the model by including the required properties.

[code]

Then, I can have the following output:

![image](https://user-images.githubusercontent.com/9426627/135517777-f2fc918c-7dc1-4e0d-958e-bcff904a0ac4.png)

[2021-09-30 19:23] #2039 closed

[2021-09-30 19:24] xuzhg commented on #1792
@Kasper888 @ufonator

You can build the model by including the required properties.

[code]

Then, I can have the following output:

![image](https://user-images.githubusercontent.com/9426627/135517777-f2fc918c-7dc1-4e0d-958e-bcff904a0ac4.png)

[2021-09-30 19:24] #1792 closed

[2021-10-01 10:24] borbelyzs commented on #1792
Any tips about how should i use the "geo.distance" function with this model? It still results in
"No function signature for the function with name 'geo.distance' matches the specified arguments. The function signatures considered are: geo.distance(Edm.GeographyPoint Nullable=true, Edm.GeographyPoint Nullable=true); geo.distance(Edm.GeometryPoint Nullable=true, Edm.GeometryPoint Nullable=true)."

[2021-10-01 12:47] marabooy commented on #2556
A new package has been released which fixes the strong name issue. Kindly validate that this works for you.

[2021-10-01 14:56] jimivey commented on #2556
So far, so good. Compiled, signed, deployed, and ran a series of tests successfully. I'll confirm last bits after our integration build.

Thank you!

[2021-10-02 19:52] jimivey commented on #2556
Confirmed, everything working for us. Thanks again for fixing this.

[2021-10-04 06:28] marabooy commented on #2556
Thanks for confirming this. Closing the issue.

[2021-10-04 06:28] #2556 closed

[2021-10-05 07:31] PrathibaNet commented on #2561
@xuzhg, I think the main issue is with respect to the way the sql queries are formed when $Select is Used using EF Core 3.0
When $Select used
Executed DbCommand (195ms) [Parameters=[@__TypedProperty_1='?' (DbType = Int32), @__TypedProperty_0='?' (Size = 4000)], CommandType='Text', CommandTimeout='200']
SELECT TOP(@__TypedProperty_1) @__TypedProperty_0 AS [ModelID], N'name' AS [Name], [l].[Name] AS

[2021-10-05 07:31] PrathibaNet commented on #2561
Any help is highly appreciated :)

[2021-10-05 07:33] PrathibaNet commented on #2561
Without EF Core , when raw data is loaded and verified in IEnumerable, then the issue is not there

[2021-10-05 09:34] cdavernas commented on #2173
Same issue here with a Dictionary<string, string> property. Any idea on a possible fix/workaround? Im using the `Microsoft.AspNetCore.OData` 8.x package.

[2021-10-05 16:37] xuzhg commented on #2577
@kmcinnomate By design, the stream properties are handled in the full metadata. Can you try to retrieve them using odata.metadata=full?

[2021-10-05 17:27] kmcinnomate commented on #2577
@xuzhg Thanks for your response.
When adding accept: application/json;odata.metadata=full, I get some seemingly default values (and no mediaContentType) in the linked example, like:
[code]
I would expect the values that I provided in the data source in the example, i.e.

[code]
Before upgrading to 7.5.6, this was the result:
[code]

Granted, I had to jump through a couple of hoops to get it to wor

[2021-10-06 16:28] #2572 closed

[2021-10-06 16:40] mikepizzo commented on #2552
This is fixed in 8.0; fix needs to be ported to 7.x.

[2021-10-08 17:35] chrisspre opened #2583 "Allow to modify ODataQueryOptions in controller action"
There are scenarios where a service needs more control over the supplied query options before they are handed over to the QueryProvider (before they are "applied" to IQueryable : `queryOptions.ApplyTo(data)`).

One recent scenario is the ability to drop a certain property for less privileged clients (based on the Authorization token.)

For that I imagine some code like
[code]

[2021-10-08 18:11] mikepizzo commented on #1145
Autoexpand on navigation properties on complex types support released in 7.5.12.

[2021-10-08 18:11] #1145 closed

[2021-10-09 11:49] jacekkulis commented on #2175
Bump. Maybe there is already done some work in this area?

[2021-10-09 21:18] ificator opened #2584 "Regression in AutoExpand logic"
Changes in https://github.com/OData/WebApi/pull/2582 have caused `ArgumentNullException` failures when these did not used to occur.

<img width="605" alt="image" src="https://user-images.githubusercontent.com/8387253/136673920-090257bd-806e-4875-b0dc-edfce3e12150.png">

The old method (green arrow) allowed `baseEntityType` to be null - it just returned an empty `List<IEdmStructuralProperty>`. Howe

[2021-10-10 05:08] CShelton11 commented on #1879
`public class ODataQueryAttribute: EnableQueryAttribute
    {
        public override IQueryable ApplyQuery(IQueryable queryable, ODataQueryOptions options)
        {
            var settings = new ODataQuerySettings() { };
            var counted = false;

            // If count requested and paging detected then get count in advance of other operations
            if (options.Count?.Value == tr

[2021-10-12 05:34] Sreejithpin opened #2586 "Cannot use a different Derived complex Type for Patching"
As per Protocol, one Complex derived type can be replaced by another, as long as there is a common ancestor base which is used for declaring the property

We had an issue for nested complex type https://github.com/OData/WebApi/issues/2572 which is fixed
But the same is applicable for root type, ie: Patch on a complex type

### Assemblies affected

OData WebApi lib 7.5.12

### Reproduce steps

Odat

[2021-10-12 14:21] ashinzekene commented on #2543
Couldn't get this to work for .NET Framework

[2021-10-13 15:31] wawangmsft opened #2587 "[Feature Request] Ensure `SelectExpandNode.ExpandedProperties` is initialized by default"
In [this](https://github.com/OData/WebApi/commit/a846009d2f3141063baf2ee68139bedd021662b6#diff-f3a0da599aef10a8ab50dc2a70649970ef92c01389c4b7890bdf6b100c86c171) commit `SelectExpandNode.ExpandedProperties` is no longer initialized by default unless `$expand` is specified, however in our existing usage scenarios we need to add to this dictionary even when `$expand` is missing.

We would like to ask

[2021-10-17 07:51] MMeshkiny commented on #1936
me too

[2021-10-18 21:58] corranrogue9 opened #2589 "Auto-Expand code uses a loop when unnecessary"
Following up on [this](https://github.com/OData/WebApi/pull/2585#discussion_r730302292) discussion on a recent PR, in `AutoSelectExpandHelper.cs` we are often creating a sequence that is a type and its properties, and then looping through that sequence. However, in almost every case where we do that, there is a check that if the item in the sequence is the original type, and if it is we behave dif

[2021-10-19 01:15] cammurray commented on #2118
@oriolaakeem I believe your issue isn't related to the cosmosdb one. There's a known bug with the MongoDB driver for .NET at the moment, an incompatability in the LINQ driver they're using - it's being fixed in the MongoDB 2.14 LINQ driver (currently in beta). Their reference for their bug is here: https://jira.mongodb.org/browse/CSHARP-1771?jql=project%20%3D%20CSHARP%20AND%20fixVersion%20%3D%202.

[2021-10-25 06:29] Sreejithpin opened #2590 "Delta<T> Patch is void, Need capability to return Delta from Patch"
1. Currently Delta<T> Patch is void. So we cannot return any updates to Delta to the user including nested Deltas and Collections.
We need to have  a capability to return Delta<T> from Patch so that a user can return Delta from the controller action.

2. Currently Delta<T> cannot be returned from controller action as Delta<T> as root it is not allowed to serialize. We need to unblock the same as w

[2021-11-02 16:05] marabooy opened #2592 "Fine grained cors is hard to extend."
*Short summary (3-5 sentences) describing the issue.*
Users trying to use fine grained cors using attributes in webapi have issues as overriding does not work due to protection level of the method calls.

Related pr that introduces the option https://github.com/OData/WebApi/pull/2167.

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

###

[2021-11-03 16:47] sjd2021 opened #2593 "Case Insensitivity support"
#812 references the removal of the case insensitivity support, and I'm looking to see if there's a more standardized approach in the latest version of this package than rolling our own resolver and convention combo.

[2021-11-03 16:48] #2593 closed

[2021-11-05 21:42] faceoffers28 commented on #1792
@brinehart Did you ever get Spatial queries to work correctly? I've got an Asp.net Core 3.1 MVC Web App with Azure SQL. It doesn't matter what radius I use to query the database. I get back the same information if I'm trying to get data that is either 20,000 feet or 5,000 feet from me. I'm converting feet to meters but, the result is the same. It's simply not working. It seems to work for this guy

[2021-11-05 23:33] faceoffers28 commented on #1792
var distanceBetween = Convert.ToDouble(location.GeoLocation.Distance(crime.GeoLocation).ToString());

Every distanceBetween is a number like this 0.15574635408139578, which is always less than 5,000 feet converted to meters (1524).

What am I doing wrong or why is this is not working as expected?

[2021-11-05 23:45] faceoffers28 commented on #1792
According to this post, the distanceBetween mentioned above would be calculating degrees, which is not useful.

https://stackoverflow.com/questions/58363982/nettopologysuite-distance-is-returning-odd-results-in-net-core-3

[2021-11-09 08:47] KaterynaKateryna opened #2594 "HttpRequest.GetNextPageLink(pageSize) always returns a next link, even if there are no more items to return."
We have migrated from classic Asp.Net to Asp.Net Core 3.1, and so we had to change the OData library we used. We went from Microsoft.AspNet.WebApi.OData 5.7.0 to Microsoft.AspNetCore.Odata 7.4.1.

The issue we have now is that `HttpRequest.GetNextPageLink(pageSize)` always returns a next page link, even if there are no more items to return.
For example, if there are 20 items in the set and the pag

[2021-11-09 11:42] cdavernas commented on #438
@huesla I got the @Casimodo72's fix to work on .NET 5.0, but only when the generic type of the `ODataNamedValueDictionary` is `string`. Could you get it to work with other types?

In my case, I'm trying to retun an `ODataNamedValueDictionary<ContactDto>`, but it fails with the following error:

[code]

[2021-11-10 08:05] athinadev commented on #2496
We've migrated our project to .net5

[2021-11-10 08:05] #2496 closed

[2021-11-10 08:25] athinadev opened #2595 "oData 8.0.3 with .NET5 reports an error when the query uses $select or $expan"
When we execute a query that uses $select or $expand, the request does not return data

### Assemblies affected

Microsoft.NET.Sdk.Web
TargetFramework:net5.0
Microsoft.AspNetCore.Mvc.NewtonsoftJson: Version=5.0.12
Microsoft.AspNetCore.OData: Version=8.0.3
Microsoft.AspNetCore.SpaServices.Extensions: Version=5.0.12
Microsoft.OData.Core: Version=7.9.4
Microsoft.OData.Edm: Version=7.9.4
Microsoft.ODa

[2021-11-10 12:19] cap7ainjack opened #2596 "Create custom response in .NET Core 5 with OData 8 controller"
I'm using OData 8 in .NET Core 5 with the [EnableQuery] attribute. Problem is when I want to return Problem() or BadRequest("Some message"), the API always returns some default OData BadRequest and never the message I wanted (only when [EnableQuery] attribute is there).

[code]

So in the above example, if the code gets to the first IF, i do not recieve this message but ALWAYS the same Odata error

[2021-11-10 17:39] gathogojr commented on #2594
@KaterynaKateryna That you for reporting this issue. Unfortunately I'm unable to reproduce it. Find [here](https://github.com/gathogojr/ODataWebApiIssue2594Repro/tree/master/ODataWebApiIssue2594Repro.V7x) my attempt at reproducing it and paging works just fine. I referenced Microsoft.AspNetCore.OData 7.4.1 specifically.

I have an `OrdersController` that returns 6 orders in total. When I apply a p

[2021-11-11 08:58] KaterynaKateryna commented on #2594
Thank you for your reply @gathogojr. I checked your repo and it does work correctly in your code. However, I can't implement it the same way in our solution, because we return a custom response model. That means that we construct it ourselves. Instead of returning items like this:
[code]
we return them like this:

[code]

where PagedResponse<TModel> is our custom response. It has been used histori

[2021-11-11 09:30] gathogojr commented on #2594
@KaterynaKateryna The additional information and context helps. Let me try and see if I can identify the problem

[2021-11-11 18:58] gathogojr commented on #2594
@KaterynaKateryna The `PagedResponse` type you're using is not from the OData library so I really don't have any knowledge of the implementation. Below is how you'd you'd accomplish the same using the features supported by the library:
[code]

[2021-11-11 19:20] gathogojr commented on #2594
@KaterynaKateryna A lot of things could have changed between 5.x and 7.x. Breaking changes are usually included in major releases. You may need to debug through the implementation of `PagedResponse` to identify where you might need to tweak for things to work. Or maybe passing a `null` as `nextLink` when there are no additional items might do the trick

[2021-11-12 11:07] jr01 opened #2597 "MVC6 doesn"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

Microsoft.AspNetCore.OData 8.0.4

### Reproduce steps

[code]

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actually happening.*

### Additional detail

*Optional, details of the root cause if known. Delete this section if you have no additional details to add.*

[2021-11-12 11:53] jr01 opened #2598 "Returning an IQueryable from EF core 6 generates synchronous database calls"
On .Net 5 / MVC 5 + EF Core 5 when an controller action with `[EnableQuery]` returned an EF Core `IQuerable` which implemented `IAsyncEnumerable` the database call would be executed asynchronously.

With .Net 6 / MVC 6 + EF Core 6 the database call is executed synchronously.

### Assemblies affected

Microsoft.AspNetCore.OData 8.0.4

### Reproduce steps

In an ASP.Net 6 + oData 8.0.4 + EF core 6 p

[2021-11-12 11:53] #2597 closed

[2021-11-12 16:29] chrisspre opened #2599 "Enum parameter binding can't be configured to be case in-sensitive."
The below mail has been sent to us to find out how enum parameter binding can be made case insensitive.

From a quick investigation it seems that [EnumDeserializationHelpers](https://github.com/OData/WebApi/blob/0338075c9940fe29c6fd18cd3f9e0433fd82d745/src/Microsoft.AspNet.OData.Shared/Formatter/Deserialization/EnumDeserializationHelpers.cs#L48)

Is calling `Enum.Parse(enumType, enumValue.Value);`

[2021-11-12 18:28] xuzhg opened #2600 "Wrong Binding $it range variable"
*Short summary (3-5 sentences) describing the issue.*

* OData spec http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_it

[code]

ODL query option parser the nested $filter as:

--------------------------------
FilterClause:   RangeVariable (name: "$it",  type: "Order")

      --- Expression: BinaryOperatorNode
                       --- Left:   SingleProperty

[2021-11-12 18:30] xuzhg commented on #2600
The potential fix at ODL:  1) make the "source" == null if there's no "$it". For example the "Right" at the above.  Then, at Web API, if the source == null, we use the "current" parameter.

2) create "source" if there's a "$it" or "$this", For example the "above" at the above.

[2021-11-15 08:59] KaterynaKateryna commented on #2594
@gathogojr `PagedResponse `is just a DTO, I provided its full code in my comment above. I added it to the example just to illustrate that we need a custom response.

The workaround you suggest will work but since the real solution doesn't use an in-memory collection, but an IQueryable going to a SQL database, orders.Count() will mean an extra database call, which we want to avoid.

We have found a

[2021-11-16 07:20] athinadev commented on #2595
Request URL: http://localhost:5000/odata/DeviceSummaries

Request Payload: $expand=fillLevels,sensors&$filter=IsActive%20eq%20true&$top=30&$orderby=LocationSortOrder%20asc&$count=true

Stack trace
`
23    08:14:06.118 Microsoft.AspNetC I:         Executed action RioWeb.Controllers.OData.DeviceSummariesController.Post (RioWeb) in 1606.0278ms
23    08:14:06.118 Microsoft.AspNetC I:         Executed

[2021-11-16 18:03] ElizabethOkerio commented on #2598
@jr01 we welcome a contribution on this. Feel free to do a PR and we'll be happy to review and merge. Thanks.

[2021-11-16 18:03] sjd2021 commented on #2137
Has anyone been able to figure out a workaround? This generates a crazily large schema file that takes so long for me to import into tools like Insomina, etc. I tried manually removing a lot of schemas based on the class name containing "Odata", but I mean it pulls in HttpContext and everything else so I end up with a broken open api document.

[2021-11-16 18:04] ElizabethOkerio commented on #2596
@cap7ainjack this is a by design issue. When using EnableQuery, validation is done before the action executes.

[2021-11-17 21:14] gordon-matt opened #2602 ".NET6 / OData 8 not serializing OData responses properly"
After updating from **.NET 5 / OData 7** to **.NET 6 / OData 8**, I am getting this error:

![NET6 Error](https://user-images.githubusercontent.com/2860937/142282786-51c0d653-e487-4482-96a1-033e0274b118.PNG)

Not sure exactly why it's not serializing properly. I wondered if it might be the default JSON serializer having issues, so I changed to Newtonsoft.JSON, but it made no difference.

You can t

[2021-11-18 10:16] cap7ainjack commented on #2596
To done validation before action is one thing. This is OK. But case is when there are no validation problem, query if fine and I want  to return BadRequest with custom message. It still returns validation error and not my custom error text

You are telling me it is by design to return query validation error when there is no such error?

[2021-11-18 18:00] leonids2005 commented on #2118
It actually fails with select irrespective there is data or not

[code]

[2021-11-19 13:02] bmward80 commented on #1678
Running into this problem myself, I discovered you could overload the odata function configurations by adding the same-named function multiple times with different parameters:

[code]

Which allowed me to create a single method on the controller that works for both. In my example: `TaskActivityStatistics([FromODataUri] int key, string? filter = null)`

Looking at the `/$odata` debug endpoint, both

[2021-11-21 12:35] wbuck commented on #2598
@jr01 Are you planning on submitting a PR for this? I also just noticed this and would be interested in this feature being added.

[2021-11-22 14:54] komdil commented on #2557
Any updates? Builds are failing on my pull request. I don't have next steps

[2021-11-22 14:54] komdil commented on #2557
@gathogojr @xuzhg FYI

[2021-11-23 04:10] komdil opened #2603 "How to make key property select by default"
I want to show key value of entities even if they were not selected

Microsoft.AspNetCore.OData 7.5.12

### Reproduce steps
In this request I will get all properties: https://localhost:44383/OData/Student
[code]
But when I send request https://localhost:44383/OData/Student?$select=Name, I will get only name:
[code]

### Expected result

I want to see Id also even if it was not selected. Is it poss

[2021-11-23 08:15] xuzhg commented on #2603
@komdil
1) Try to use a model-based query setting and use https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/SelectExpandType.cs#L23

2) Or add a middleware to add the "Id" into the $select

3) Or customize EnableQueryAttribute to add "Id" into $select

4) Or customize Serializer (maybe more codes).

[2021-11-23 08:55] komdil commented on #2603
@xuzhg  I would like to see some examples

[2021-11-25 13:07] jr01 commented on #2598
@wbuck @ElizabethOkerio The workaround is good enough for our current needs. Also we have been happy with a workaround for count async https://github.com/OData/WebApi/issues/2325 for about a year now ...

[2021-11-28 22:30] habbes commented on #2537
@f-camera if I understand correctly, your code works correctly when there are no null-checks, or rather, when null-checks are handled in the same way they are handled for EF classic?

[2021-11-28 22:43] habbes commented on #2508
@f-camera I do agree that it does sound like it would be overkill for your scenario. Maybe we should expose an option to allow the user to select how the null-check propagation is handled since this seems to be a common source of errors. What do you think @KenitoInc  @xuzhg ?

[2021-11-29 08:02] habbes commented on #2602
@gordon-matt I have tried to go through your repro but it seems that there's a lost of custom code wrapping the OData layer. I tried running the demo but it fails due errors connecting to SQL Server. I tried to change the `AddDbContext` configuration to use an in-memory database, but still go the same error. In short, I was not able to reproduce the issue. Would I be required to provide my own imp

[2021-11-29 08:18] komdil commented on #2603
I override CreateSelectExpandNode method in resource serializer and set property there:

var keyProperty = resourceContext.StructuredType.StructuralProperties().FirstOrDefault(s => s.Name == "Id");
selectExpandNode.SelectedStructuralProperties.Add(keyProperty );

It is working

[2021-11-29 08:59] gordon-matt commented on #2602
Thank you for taking the time to have a look. All of the source code is in the solution and it's not very complex. Everything is setup already to use the default `IRepository<T>` (look in `Startup.cs`, under `ConfigureContainer()`), so you just need to run it and not care about that at all. However, I suppose it would be easier if I had provided a database. Sorry about that.. here's a link to a zi

[2021-11-29 09:01] gordon-matt commented on #2602
By the way, the reason you still got a SQL error even when changing `AddDbContext` to in-memory is most likely because you also would need to change it to in-memory in one more place: `/Data/ApplicationDbContextFactory.cs`

[2021-11-29 21:10] qwertie commented on #1873
When I got this error, the problem turned out to be that I was returning `IEnumerable<object>` instead of `IEnumerable<TheCorrectODataType>`. Somehow this causes the wrong JSON format. Your API should produce a JSON object that starts with a `"@odata.context"` key; this error occurs when a plain array is produced instead.

In addition, I found it necessary to do the standard cache-clearing bullshh

[2021-11-30 03:54] komdil opened #2604 "Unexpected format of Metadata"
I am getting metadata in JSON format, But there are $ characters and properties that are not a collection. Also, I want add new attributes and it is not in the same format

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.12

### First confusing:
### Reproduce steps

Get meta data in JSON format using: https://localhost:44383/odata/$metadata?$format=json

### Expected result

I would expect

[2021-11-30 17:30] chrisspre commented on #2604
https://docs.oasis-open.org/odata/odata-csdl-json/v4.01/odata-csdl-json-v4.01.html

[2021-11-30 17:40] chrisspre commented on #2604
The json property names "$Kind", "$Key", "$Type", "$Nullable", "$Collection"  are meta level properties as defined by the [OData standard](https://docs.oasis-open.org/odata/odata-csdl-json/v4.01/odata-csdl-json-v4.01.html) similar to keywords in a programing language.
To avoid conflicts between model level JSON property names vs meta level JSON property names the standard decided that the CSDL JSO

[2021-12-01 07:42] KenitoInc commented on #2508
@f-camera  @habbes We can disable `NullPropagation` by setting `ODataQuerySettings.HandleNullPropagation = HandleNullPropagationOption.False`

[2021-12-01 10:08] TehWardy opened #2605 "Is there a way to get the Options applied result from Odata?"
Using the latest build from github of all libs for .Net 5.
Lets say I do thing like ...

        Api/SomeType?$expand=ChildItems,Parent&$select=Id,Name,Parent,ChildItems

I'm looking to get an IQueryable like ...

[code]
... I'm doing this in a custom formatter that inherits from TextOutputFormatter, my thinking is that if I can get the object tree in the right structure then I can simply give thi

[2021-12-03 23:28] Treit commented on #2518
@habbes I am hitting this issue attempting to update some projects to .NET 6. The problem I am having is that the newest NuGet package for this project does not support .NET Standard 2.0.

We have a mixed codebase that consists of both .NET Framework and .NET Core projects and the code that is using the Microsoft.AspNetCore.OData package (and hitting this bug) is a .NET Standard 2.0 project that i

[2021-12-03 23:44] Treit commented on #2518
I just discovered that the 7.5.12 version of the package, which is .NET Standard compatible, appears to have this fix so I am unblocked. Thanks!

[2021-12-07 00:45] darraghjones commented on #1755
Any plan to add support for IAsyncEnumerable to Odata?

[2021-12-07 17:36] xuzhg commented on #2605
$select and $expand will return `ISelectExpandWrapper`.
 you can refer to sample code here `https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/Expressions/SelectExpandWrapperConverter.cs#L44 to retrieve something.

[2021-12-07 21:39] TehWardy commented on #2605
Hmmm thx @xuzhg  ... hopefully the work you're doing with Hassan Habib will improve this as it feel clunky.
I was hoping to be able to get the transformed result inside a custom formatter,  it looks like i'm going to have to manually do this work :(

[2021-12-08 06:15] gordon-matt commented on #2602
I was looking at this again.. decided to try serialize the entities to JSON myself as a test in case to see what would happen.. As per the screenshot below, you can see it serialized perfectly fine. But when passed to `Ok()`, it doesn't come out right on the client side. This was never an issue before (and I've been using the same code since MVC5 and several versions of .NET Core.. right up to .NE

[2021-12-09 20:34] chrisspre opened #2607 "Documentation for entity creation with a multi-valued navigation property"
Documentation how to implement the creation of an entity with a multi valued navigation property using the new OData 4.01 syntax.
Including cases where the navigation property is on a nested complex type similar to the following example.

[code]

[2021-12-14 19:51] #2500 closed

[2021-12-15 02:12] zhongyn opened #2608 "AutoExpand path in odata.context for derived classes"
Using the autoexpand in WebApi 7.5.12, we saw an issue but not sure if it's expected. Assume the following scenario with an abstract class A. Class B and C derive from A. And a generic api for CRUD resource A.
![image](https://user-images.githubusercontent.com/5943136/146109861-753edffd-a13e-4afc-ba52-1f13f69d1fd3.png)

When sending a GET request for reading an instance of B, we observe that the o

[2021-12-15 16:18] bkwdesign commented on #2050
@ClementeGao - did you figure this out? I'm wondering the same thing

[2021-12-16 10:18] p6345uk commented on #2412
This appears to be solved in v8

[2021-12-16 10:18] #2412 closed

[2021-12-19 22:34] cxc256 opened #2609 "System.InvalidCastException: Unable to cast object of type 'Microsoft.OData.UnknownEntitySet' to type 'Microsoft.OData.Edm.IEdmEntitySet'."
I built a post endpoint. The data gets inserted into the database fine. But it throws the above error when returning: System.InvalidCastException: Unable to cast object of type 'Microsoft.OData.UnknownEntitySet' to type 'Microsoft.OData.Edm.IEdmEntitySet'.

However, doing a Get returns the object fine.

I'm using .Net 5.0. Microsoft.AspNetCore.OData 8.0.4

`
[HttpPost( "Persons({key})/PersonalAttr

[2021-12-23 06:04] asinghdev opened #2610 ".NET Core ODATA response is changing order of the $select fields."
*
Recently we migrated to net6.0 ODATA from .NET ODATA. a weird issue is coming when selecting specific fields, odata response is changing order of the selected field.

for example: this query
http://localhost:5050/odata/SaleData?$filter=OID eq 320and SaleDate ge 2021-07-30T14:00:00.000Z and SaleDate le 2021-08-31T13:59:59.999Z&$select= CustomerName, CID

 *
### Reproduce steps
.NET framework ODAT

[2021-12-23 07:04] asinghdev commented on #2610
there was an ordering issue with the model mapped to Response. found issue only after logging.

[2021-12-23 07:04] #2610 closed

[2021-12-23 12:47] Didjeeh commented on #2090
@kosinsky Hi
I am curious as well if there is any progress.
Thank you.

[2021-12-23 17:18] wise-tjorvi commented on #1943
I'm hitting this same issue. In my case I'm ordering by a nullable DateTime column.
Is there a known workaround for this?

Like the original poster, I switched to $skiptoken because of performance issues with $skip on Sql Server.

[2021-12-24 09:38] akhilkohlimicrosoft opened #2611 "Support Custom Odata Annotation @odata.RequiredSelect in Response"
Looking for ways to support custom Odata Annotation with @odata.RequiredProperty in Response?
The response example:-
{
    "@odata.context":"https://localhost:9000/odata/$metadata#Documents","value":
    [
        {
            "@odata.RequiredProperty":"testProperty"
             ,"ID":1,"Name":"Another.txt","Content":"test"
        },
        {
            "@odata.RequiredProperty":"testProperty

[2021-12-27 18:31] xuzhg commented on #2611
@akhilkohlimicrosoft odata is the reserved prefix name in the annotation. you can use other namespace names other than odata.

In the WebAPI 7.x version, you can use the new feature merged at https://github.com/OData/WebApi/pull/2219 to create instance annotation.

[2022-01-06 06:39] Kanac commented on #2260
Is the fix released yet? In which version if so?

[2022-01-09 00:37] #1580 closed

[2022-01-09 10:40] richardu opened #2612 "(de)serialization of dynamic properties"
Model properties that are declared as 'dynamic', e.g.:

`public dynamic Value { get; set; }`

(not to be confused with dynamic properties which are held in a container property of type `IDictionary<string, object>`)

aren't handled by OData (de)serialization.

Json.NET (Newtonsoft.Json) works correctly.

Would it be possible to simply call: `Type type = value.GetType()` as per `ODataPrimitiveSeria

[2022-01-09 16:34] #2584 closed

[2022-01-09 23:54] gordon-matt commented on #2602
@habbes Any chance you could look at this soon?

[2022-01-10 04:58] gordon-matt commented on #2602
Closing this as I have moved the issue to the correct report, at: https://github.com/OData/AspNetCoreOData/issues/424

[2022-01-10 04:58] #2602 closed

[2022-01-10 05:46] kapilratra02 opened #2613 "8.0.3 fails with error Value cannot be null. (Parameter 'structuredType') . May be because Autoexpand and EnableQuery Conflicts"
*Short summary (3-5 sentences) describing the issue.*

If we use ENableQuery Attribute in our controller Action method defined as part of .netcore. Error comes that  Value cannot be null. (Parameter 'structuredType') .
The reason seems Enable Query and AutoExpand are not working if both are present. in 8.0.3

### Assemblies affected

*Which assemblies and versions are known to be affected microsof

[2022-01-10 06:12] kapilratra02 commented on #2613
@Sreejithpin  @xuzhg Can you please have a look at issue and suggest if any workaround ?

[2022-01-11 15:13] julealgon commented on #1936
Shouldn't this issue/feature be migrated to the https://github.com/OData/AspNetCoreOData repo?

[2022-01-11 17:29] mikepizzo commented on #2612
IODataEdmTypeSerializer could solve the serialization/deserialization, but what other functionality do you want with the property? i.e., do you want to be able to filter/sort on it?

In your scenario, could the actual type by any type, or would it be restricted to primitive types? Complex types? could it ever be an entity type?

How would it be represented in $metadata?  Edm.Untyped?

[2022-01-12 04:01] xuzhg commented on #1936
@julealgon I enabled the $search binder in the https://github.com/OData/AspNetCoreOData

See comments: https://github.com/OData/AspNetCoreOData/pull/410#issuecomment-1010526368

[2022-01-12 04:01] xuzhg commented on #1936
@All, here's a post for $search: https://devblogs.microsoft.com/odata/compute-and-search-in-asp-net-core-odata-8/

[2022-01-12 16:04] Juand0014 commented on #1196
thanks very much, but i dont have time, to apply thoses steps

[2022-01-13 09:45] richardu commented on #2612
I solved it using:

`public override ODataValue CreateODataValue(object graph, IEdmTypeReference expectedType, ODataSerializerContext writeContext)
{
    var value = new ODataUntypedValue();
    value.RawValue = JsonConvert.SerializeObject(graph);

    return value;
}`

I'll need to implement the other functionality you describe manually, since the API is actually Neo4j-backed, not SQL (EF). Curre

[2022-01-14 03:44] komdil opened #2615 "OData response Transfer-Encoding is chunked"
OData response Transfer-Encoding is chunked

### Assemblies affected

I m using Microsoft.AspNetCore.OData 7.5.12

### Reproduce steps

Send request to get list of entities. For example, https://localhost:44383/OData/Student

### Expected result

I don't know what is the correct expectation, but I am expecting that it will not be chunked. There is some workarounds to resolve it. For example, creat

[2022-01-14 10:42] bonfi7 commented on #2359
@mikepizzo any news on this bug?

[2022-01-14 11:31] senex83 commented on #2359
I'm also affected by this issue in one of my project; for us is very annoying because is blocking one relevant feature we would like to introduce. I'll follow the thread.

[2022-01-14 14:24] alexandruchirita4192 commented on #2202
@gathogojr I tried setting allowing filtering and it didn't work either on the property level, for the latest version of OData.

In case it doesn't work at property level and only works at class level, it would be easier if the attribute had at the top (to disallow misusage): [AttributeUsage(AttributeTargets.Class)]

[2022-01-18 17:32] ElizabethOkerio commented on #2615
@komdil is there any reason why you do not want it to be chunked?

[2022-01-19 03:08] komdil commented on #2615
Actually, I don't know. I could resolve my problem by adding middleware, so if it is expected, it is fine for me

[2022-01-20 18:47] ElizabethOkerio commented on #2615
Ok. I'll close this issue for now but feel free to reopen it incase of anything.

[2022-01-21 09:41] gohilravi opened #2616 "EDM model exception of OData not caught in global exception handler"
*Short summary (3-5 sentences) describing the issue.*
When providing the wrong input parameter in the OData function i.e. string instead of integer then ODataException is thrown which is not caught in the global exception handler and below error is returned:
`Microsoft.OData.ODataException: The parameter value ($234) from request is not valid. The parameter value should be format of type 'Edm.Int6

[2022-01-24 02:20] conradyacat commented on #2414
@gathogojr Can you please add an example how to make this work with version 8.0.6? I have followed this and has made some changes to use version 8.0.6 but it returning 404 for Post request.

https://github.com/MicrosoftDocs/OData-docs/blob/main/Odata-docs/webapi/query-options-in-request-body.md

[2022-01-24 04:18] ccyen8358 opened #2617 "Why does $select cause the query to contain [Name] as fixed value column?"
I have the `EnableSensitiveDataLogging` option enabled for my DbContext so I can inspect the query generated by OData.
[code]
When using OData v7.5.12, I notice that if `$select` option is applied, the translated sql query would contain `[ModelID]` and `[Name]` as fixed value columns, where `[Name]` column is just the name of the selected model property.

### Reproduce steps
For example, If I have

[2022-01-24 07:19] navidzehi commented on #2414
@conradyacat You may also have my problem. You should create a GET method but call it as a POST method.

[2022-01-24 19:15] albertoVieiraNeto commented on #2198
anyone?

[2022-01-25 04:35] xuzhg commented on #2617
@ccyen8358

I pinged with EF Core team to understand the perf, here's the comments:

[code]

[2022-01-25 10:40] padhumailin commented on #1700
same issue still there in Odata 8 , Net 6 , EF 6

[2022-01-25 18:06] habbes commented on #2616
Hi @gohilravi thank you for reporting this. Could you share more info about your implementation, and in particular, what you global exception handler looks like?

[2022-01-25 20:17] conradyacat commented on #2414
@navidzehi That is what I have tried. However, I found you have to ensure to add this OData middleware when using version 8.0.6.

`app.UseODataQueryRequest(); `

If anyone is also encountering this issue, you can refer to the sample code:

[](https://github.com/OData/AspNetCoreOData/blob/main/sample/ODataRoutingSample/Startup.cs)

[2022-01-26 03:26] ccyen8358 commented on #2617
@xuzhg

Hi, thank you for the response.

Regarding the EF Core team comments
[code]
**I have the following questions:**
- What does it mean "the parameter is a large blob"? Does the "large blob" here refers to the "blob" column type in sql server?
- What exactly does the "parameter" here refer to? At first I thought it refers to the [Name] column but then it doesn't make sense that [Name] column c

[2022-01-26 12:26] padhumailin commented on #2090
@kosinsky @xuzhg

I tesed with Odata version 8.0.4, still $expand and $apply not works in combination

[2022-01-26 13:21] JosephDesmet commented on #2504
Any news about this one?

[2022-01-28 13:49] gohilravi commented on #2616
Hi @habbes it is a simple exception handler as suggested by the .NET core. Attached global exception handler registration logic and its logic with you.

<img width="889" alt="middleware" src="https://user-images.githubusercontent.com/34128405/151557115-1c75c16f-12a8-4544-b05b-1d5c69363d3a.png">

<img width="463" alt="Registration of middleware" src="https://user-images.githubusercontent.com/341284

[2022-01-28 21:25] Schinwinkwinsky commented on #2074
I had a problem like this on a project when querying using. I noticed that when DTO property has the same name of a class but in plural the problem happens. I just changed the property name and solved the problem.

[2022-01-30 06:23] zdzislaw commented on #2260
I solved it by duplicating the class:

Microsoft.AspNetCore.OData.Deltas namespace
public class Delta<T>

I needed to change the TrySetPropertyValuepublic method.

[code]

I'll try to run some tests and see how I can commit to the official repository.

[2022-01-30 06:27] zdzislaw commented on #2241
I solved it by duplicating the class:

Microsoft.AspNetCore.OData.Deltas namespace
public class Delta<T>

I needed to change the TrySetPropertyValuepublic method.

[code]

I'll try to run some tests and see how I can commit to the official repository.

[2022-02-01 08:27] habbes commented on #2537
@f-camera you can manually disable null propagation by setting the following setting in `[EnableQuery]`:

[code]

Could you try this and let us know if it solves the issue?

[2022-02-01 08:33] habbes commented on #2508
Hi @ideafixxxer you can disable/configure null propagation by setting the `HandleNullPropagation` property in `[EnableQuery]`, for example:

[code]

Let us know if this solves the issue.

[2022-02-02 21:12] qwertie opened #2619 "What is the difference between Microsoft.AspNetCore.OData and Microsoft.AspNet.OData.dll?"
I don't know what to make of this. These two packages have roughly the same number of downloads, and they are fairly similar but have seemingly random differences (e.g. one has DefaultODataSerializerProvider and the other does not; one has MapODataServiceRoute and the other does not; one has FromODataBodyAttribute and the other does not).

Whenever I google for documentation, without exception I f

[2022-02-02 21:49] qwertie opened #2620 "How do I define custom/dynamic OData columns/fields/properties?"
I'm not sure if this is the right place to ask, because I'm using Microsoft.AspNetCore.OData 8.0.3 and this appears to be the repository for 7.x, so let me know if I should be asking somewhere else.

I wish to expose an OData model with entities that have some fixed columns/properties and some dynamically-generated columns/properties that come from the database, e.g.

    public class ODataEntity

[2022-02-08 21:13] qwertie commented on #2620
Huh? No, of course it doesn't work. I get output like this:

[code]

What we need is output like this:

[code]

[2022-02-09 04:37] gathogojr commented on #2620
@qwertie The second form is what you should get if your OData is setup as expected. Please share a repro that we can look at. Alternatively share a set of steps that we can follow to repro the issue

[2022-02-09 06:52] gathogojr commented on #2619
Hi @qwertie. The target for the Microsoft.AspNet.OData package is ASP.NET Classic//.NET Framework while the target for Microsoft.AspNetCore.OData is ASP.NET Core//.NET Core framework.
In 7.x, both packages share the Microsoft.AspNet.OData namespace. A lot of code is shared between the two projects/libraries so it made sense to have a shared namespace for easier referencing.
8.x targets only the AS

[2022-02-09 12:02] #60 closed

[2022-02-09 12:44] #707 closed

[2022-02-09 14:31] erionpc commented on #2174
I'm using Microsoft.AspNetCore.Mvc.NewtonsoftJson 6.0.2 in a .NET 6.0 web-api project. The project references Microsoft.AspNetCore.OData and enables oData queries on HTTP Get controller actions.

[code]

Everything works fine, until I try using a $select pojection on one of the HTTP GET actions
(i.e. https://{host}/{Controller}/{route}$select={property}).
I get a deserialization error as follows:

[2022-02-10 07:56] xxxammaxxx commented on #2422
It seems that the same issue exists also in AspNetCore (8.0.7).

System.InvalidOperationException: Cannot find the resource type 'Microsoft.AspNetCore.OData.Formatter.Value.EdmEntityObject' in the model.
   at Microsoft.AspNetCore.OData.Results.ResultHelpers.GetEntityType(IEdmModel model, Object entity)
   at Microsoft.AspNetCore.OData.Results.ResultHelpers.GenerateODataLink(HttpRequest request, O

[2022-02-10 21:32] garethj-msft commented on #2446
@xuzhg Any update on this? We have the fixed code in our Graph utilities library's custom enumeration serializer, so it is not blocking, but it would be nice to remove it.  I can share that code with you if it helps.

[2022-02-10 22:16] qwertie commented on #2620
Wow. Okay. I am completely shocked. When I created the following example app, it worked exactly like you said:

[code]

I have never seen documentation of this effect, and I have not seen a sample app that uses it. Where is the documentation for it?

However, although the `CustomFields` collection is "flattened" into JSON....

[code]

The `Example` column doesn't show up in Power BI:

![image](htt

[2022-02-11 19:58] xuzhg commented on #2446
@garethj-msft Yes, please, show me the codes. 😄

[2022-02-13 01:53] hmz777 commented on #1936
@xuzhg This is really helpful, but just to clarify, up to this point there isn't a default `$search` implementation. Correct?

[2022-02-13 08:23] gathogojr commented on #844
Question from 2016 asking about next release version. Overtaken by events

[2022-02-13 08:23] #844 closed

[2022-02-13 08:27] gathogojr commented on #840
The `GetODataRootContainer` method is now declared in a public interface `IPerRouteContainer` and defined in a public class `PerRouteContainerBase` class and its derived types

[2022-02-13 08:27] #840 closed

[2022-02-13 08:29] gathogojr commented on #655
Question lacking sufficient details

[2022-02-13 08:29] #655 closed

[2022-02-13 08:32] gathogojr commented on #1119
Fixed by https://github.com/OData/WebApi/pull/1440

[2022-02-13 08:32] #1119 closed

[2022-02-13 08:34] #1133 closed, assigned to nobody

[2022-02-13 08:39] gathogojr commented on #1188
Fixed by https://github.com/OData/WebApi/pull/2456 - support for deeply nested paths

[2022-02-13 08:39] #1188 closed

[2022-02-13 08:42] gathogojr commented on #1201
`@odata.nextLink` is currently returned when the client specifies `&skip` and `&top` on the Url

[2022-02-13 08:42] #1201 closed

[2022-02-13 08:44] gathogojr commented on #1222
Issue from 2018. Issue reporter advised on a solution but were not in a position to try it out after they moved off from the project

[2022-02-13 08:44] #1222 closed

[2022-02-13 08:48] gathogojr commented on #1517
Issue from 2018. No reaction to a request to share a repro

[2022-02-13 08:48] #1517 closed

[2022-02-13 09:00] gathogojr commented on #1745
Issue from 2019. Issue reporter advised on a solution. No fresh activity since

[2022-02-13 09:00] #1745 closed

[2022-02-13 09:04] gathogojr commented on #1838
Request by issue reporter to rename top-level property from `value` to `results` cannot be accommodated since that is not supported by the OData protocol specification

[2022-02-13 09:04] #1838 closed

[2022-02-13 09:05] #1760 closed

[2022-02-13 09:09] gathogojr commented on #1873
Issue from 2019. Attributable to a misconfigured OData service. No fresh activity from reporter since 2019

[2022-02-13 09:09] #1873 closed

[2022-02-13 09:10] gathogojr commented on #1865
Issue from 2019. No reaction to share more details

[2022-02-13 09:10] #1865 closed

[2022-02-13 09:12] gathogojr commented on #1870
Issue reporter advised on how to go about resolving the issue. No fresh activity since

[2022-02-13 09:12] #1870 closed

[2022-02-13 09:13] gathogojr commented on #1864
Issue from 2019. Customer advised that OData does not support XML payloads. No fresh activity since

[2022-02-13 09:13] #1864 closed

[2022-02-13 09:17] gathogojr commented on #1878
Issue from 2019. Not reproducible since $expand against an entity works okay currently. Reporter can reopen if they're still experiencing the issue

[2022-02-13 09:17] #1878 closed

[2022-02-13 09:20] #2619 closed

[2022-02-13 09:23] gathogojr commented on #2620
@qwertie I'll check and revert on on support for dynamic properties in Power BI
With respect to documentation on dynamic properties and how they appear on the response, you can look at this link https://www.c-sharpcorner.com/article/open-types-in-odata-with-web-api

[2022-02-13 10:09] andrerav commented on #1119
@gathogojr Great, thank you! :)

[2022-02-15 22:04] xuzhg opened #2623 "Upgrade the targetframe from 4.5 to 4.8.x since v4.5 is out of service"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2022-02-16 08:11] ElizabethOkerio commented on #811
Have tried this out using Microsoft.AspNetCore.OData 7.5.12 and it works ok. Can you update the version you are using and try again. I'll close this issue in the meantime and feel free to reopen it in case of anything.

[2022-02-16 08:11] #811 closed

[2022-02-16 21:28] bradleypatton opened #2624 "SerializationException: Cannot serialize a null 'Resource' - How can determine which property is causing this exception"
*Short summary (3-5 sentences) describing the issue.*
I have an EDM that with one object returns the expected data fine. When I add a second entity to my odata model I get a serialization exception. I've tried to track down where the issue may be but find the root cause. Is there a way to configure the serializer (ie swap it out for Newtonsoft.Json.Net) or track down the property causing the issue

[2022-02-18 13:34] gathogojr commented on #2516
Fixed by https://github.com/OData/WebApi/pull/2523

[2022-02-18 13:34] #2516 closed

[2022-02-23 06:04] xuzhg commented on #2624
@bradleypatton you can create a class derived from ODataResourceSerializer and override `WriteObjectInlineAsync` to add your verification code

[2022-02-23 14:51] ngregrichardson commented on #1909
I know this is an old ticket, but there doesn't seem to be many examples overriding the FilterBinder class. Once you've created your custom variant, how would you register it?

[2022-02-23 16:23] Danielku15 commented on #1909
Phew, never tried it actively, and it's been a long time (we're not using this lib anymore 😅 ). But the FilterBinder is registered within the dependency injection container of OData:
https://github.com/OData/WebApi/blob/0338075c9940fe29c6fd18cd3f9e0433fd82d745/src/Microsoft.AspNet.OData.Shared/Extensions/ContainerBuilderExtensions.cs#L90

This OData lib comes with an own DI system due to the compa

[2022-02-23 20:49] ificator commented on #2623
If this applies to `7.5.x` it will block OneDrive from updating due to some dependencies on 4.5. We're hoping to have those gone by H2 2022.

[2022-02-23 23:38] #2590 closed

[2022-02-24 16:04] bradleypatton commented on #2624
I tried to break the EDM into two separate routes with two separate models:

			services
				.AddControllers()
				.AddOData(opt => opt
					.EnableQueryFeatures(100)
					.AddRouteComponents("oaccounts", GetAccountsModel())
					.AddRouteComponents("ousers", GetUsersModel())
					)
                ...
		private IEdmModel GetAccountsModel() {
			var odataBuilder = new ODataConventionModelBuilder()

[2022-02-25 05:27] garethj-msft commented on #2446
Sent you the code offline.

[2022-02-25 14:26] habbes commented on #2624
@bradleypatton what data do you get when you have the same endpoints but don't use OData? Do you have any user or account entry that is `null` by any chance. When you're fetching the user entities, do you have any $expand fields? What kind of relationship is there between `ApplicationUser` and `ApplicationAccount`?

Can you share what the `$metadata` endpoint returns and also how the db context an