[2015-11-09 15:45] arvindsedha commented on #158
I also support for this feature...

[2015-11-10 02:24] joshbooker commented on #302
@TomDu,

I see from the latest PR #520 that swagger.json generation was added to WebAPIOdata...many thanks to OData team for that.

However, there is still a problem with the resulting swagger output in interoperability with Azure.  For example, AutoRest is a tool which generates client code from swagger.json and it requires OperationIDs on all operations.

https://github.com/Azure/autorest

The s

[2015-11-10 06:48] VikingsFan commented on #475
Merged e12bae709fc49a3ce7a3e458219f82800ea07774

[2015-11-10 06:48] #475 closed

[2015-11-10 07:17] VikingsFan commented on #458
Merged f4fb5d9d3795a355c74624ab7802a26e717fa933

[2015-11-10 07:17] #458 closed

[2015-11-10 17:06] timoch commented on #170
I've just hit the same issue. Is the workaround the definitive solution ?
It doesn't feel right that a serializer ends up setting a status code.
I'm also a bit confused because https://aspnetwebstack.codeplex.com/workitem/1040 clearly states the bug as fixed. Is this a regression ?

[2015-11-11 02:02] VikingsFan commented on #418
relay on ODL https://github.com/OData/odata.net/issues/375

[2015-11-12 02:00] VikingsFan commented on #543
@wkit23 Would you like to review my PR #554 ? Thanks!

[2015-11-12 03:32] xuzhg commented on #394
@Sedatk  I saw that you had been fixing. What's about it?

[2015-11-12 03:38] xuzhg commented on #394
Close it. See more context in https://github.com/OData/WebApi/pull/396.

[2015-11-12 03:38] #394 closed

[2015-11-12 06:47] wkit23 commented on #543
@VikingsFan I tried using your PR #554. It seems to work perfectly. Thanks!

[2015-11-12 21:48] ImGonaRot opened #555 "ODataQueryOptions not working when trying to alter $filter"
When a user passes the $filter on the URL to the controller and then at runtime we try to alter the $filter on the ODataQueryOptions, it does not work correctly.
I have posted the issue here http://stackoverflow.com/questions/33660648/odata-v4-modify-filter-on-server-side

But here is some of the details.

[code]

Running this code will not return any product this is because the original query in

[2015-11-13 01:47] VikingsFan commented on #555
Remove [EnableQuery] attribute, your scenario should work, because after using this attribute, OData/WebApi will apply your original query option after you return data in controller, if you already apply in your controller method, then you shouldn't use that attribute.

But if your query option contains $select, those code are not working because the result's type is not Product, we use a wrapper

[2015-11-13 02:18] ImGonaRot commented on #555
That almost worked.
It did indeed alter the $filter command on the server but then it also broke the $select command.
I can not longer use $select when a filter is applied. I get error "The EDM instance of type 'Product Nullable=True' is missing the property 'X'" Where 'X' is the property name I was trying to select.
If I include all the properties in the $select then it seems to be working fine.

[2015-11-13 02:19] xuzhg commented on #423
@esditm

Can you use the "And" operator to test. For example:

Get ~/odata/Foos?$filter=SomeString eq null and indexof(SomeString, '123') eq -1

[2015-11-13 02:51] xuzhg commented on #349
Should work as commit 7255614 . Thanks.

[2015-11-13 02:51] #349 closed

[2015-11-13 02:55] xuzhg opened #557 "Make other nested query options in $expand to work"
See #349.

[OData spec](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398298) says:

11.2.4.2.1 Expand Options

The set of expanded entities can be further refined through the application of expand options, expressed as a semicolon-separated list of system query options, enclosed in parentheses, see [OData

[2015-11-13 03:04] xuzhg opened #558 "It'll be failed if to enable pagesize for $expand when the corresponding collection (navigation property) is null."
For example:

a Customer-Order scenario, Customer has a collection navigation property "Orders".

in your CustomersController, you have the following action;

[code]

While `_customers` has an item in which the `Orders` is null.

When you have the following query:

[code]

The above codes work fine. But, if you enable the pagesize. for example:

[code]

The same query will be failed. Please invest

[2015-11-13 03:24] VikingsFan commented on #555
@ImGonaRot I modified my code, add

    queryOptions.Request.ODataProperties().SelectExpandClause = queryOptions.SelectExpand.ProcessLevels();

before modify the queryOptions, because we need Request's SelectExpandClause which will lose in my code.

[2015-11-13 03:46] xuzhg commented on #128
@taspeotis Form OData spec, if a property that specifies a collection, the property MUST always exist, but the collection MAY be empty.

Moreover, the nullable attribute of the collection property applies to the members of the collection, not the collection itself, because the collection property MUST always exist.

So, from developer aspect, the collection property must be set as empty collection

[2015-11-13 04:53] VikingsFan commented on #543
Merged 86e222607410a7bb61698b8f2ce69a0b1f24d901

[2015-11-13 04:53] #543 closed

[2015-11-13 06:38] VikingsFan commented on #506
Closed as #522

[2015-11-13 06:38] #506 closed

[2015-11-13 08:50] esditm commented on #423
Ah thanks, that'll get me by for now :)

[2015-11-13 11:42] postoronnimw opened #559 "Query from DB only properties that declared in the projection"
I have domain model something like this:

[code]

I execute following query from client:

[code]

wich builds the following request:

[code]

In built expression i see property

[code]

Consequently in sql query (with NHibernate mapper) i see all properties of the TestDerivedSubEntity (not only Code):

[code]

I have deleted check `IsNull = $var1.SubEntity == null` from expression and now sql quer

[2015-11-13 12:33] postoronnimw opened #560 "Unnecessary casts in expression when querying properties of the base class for the inheritor"
I have domain model something like this:

[code]

I execute following query from client:

[code]

wich builds the following request:

[code]

In built expression i see casts `SubEntity` to `TestSubEntity` for get `Id` and `Code` properties:

[code]

This is unnecessary casts because `SubEntity` type is `TestDerivedSubEntity`. `TestSubEntity` type is base for `TestDerivedSubEntity` type.

Consequen

[2015-11-13 14:48] taspeotis commented on #128
For what it's worth: if I change the property type to `byte[]` (not `IEnumerable<byte>`) then the `$metadata` changes the type to `Edm.Binary` and it serialises `null` fine. So now in C# I have a "collection" that's `null`.

[2015-11-13 15:10] ImGonaRot commented on #555
The "ProcessLevels" method is marked "internal / private".
https://github.com/OData/WebApi/blob/3a3ef57fc7f9c36445f3ea2929269b15ff3f32f1/OData/src/System.Web.OData/OData/Query/SelectExpandQueryOption.cs

[2015-11-13 15:39] ImGonaRot commented on #555
Even when I copied all the "ProcessLevels" into my class this still throws the "The EDM instance of type 'Product Nullable=True' is missing the property 'X'" error.

I copied all the "ProcessLevels" and added this code.
[code]

As a side note:
[code]

[2015-11-13 16:18] ashelley commented on #135
+1 on this.  Not being able to patch nested objects is a big limitation.

[2015-11-13 21:02] TarkanSevilmis opened #561 "ETag support requires having at least one structural versioned property."
ETag is used for all versioning purposes, however, existing eTag mechanics through etag handler and ConcurrencyCheck  attributes require exposing a structural property which is used to create the eTag value. This model would work fine when the versioning is entirely based on the data, since the data is the version, however it does not work well when the service keeps track of a version number sepa

[2015-11-16 01:24] VikingsFan commented on #555
@ImGonaRot you modified the new queryOptions.Request(create by your code and scope is in queryOption), what I mean is modify the original queryOptions.Request(scope is global).
Please see my code carefully, or you can just apply the origin query option first, then the global Request get SelectExpandClause, everything is working.

    if (queryOptions.Filter != null)
    {
          queryOptions.Ap

[2015-11-16 02:29] xuzhg commented on #128
@taspeotis

In Web API OData, `byte[]` and `IEnumerable<byte>` are treated different. Even that It looks a little bit strange.

You can find the type mapping for `byte[]` [here](https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/EdmLibHelpers.cs#L57)

So, `byte[]` is treated as Edm.Binary primitive type, while `IEnumerable<byte>` is treated as collection of Edm.

[2015-11-16 02:47] lewischeng-ms commented on #1
RESTier can call `ODataQueryOptions.ApplyTo` with `ignoreQueryOptions` set to `AllowedQueryOptions.Count` to work around this issue. And then later set the `TotalCount` to `QueryResult` in `QueryExecutor`.

[2015-11-16 04:17] ImGonaRot commented on #555
@VikingsFan That worked. Thanks.

[2015-11-17 02:57] VikingsFan commented on #505
Merged af996ba17dd6e301088dabd2e8adcdf60a1f8cb5

[2015-11-17 02:57] #505 closed

[2015-11-17 03:14] VikingsFan commented on #97
It's fixed now https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Query/Validators/FilterQueryValidator.cs#L746-L748

[2015-11-17 03:14] #97 closed

[2015-11-17 06:04] VikingsFan commented on #462
@zolotovvv How do you ignore the Dynamic properties, if you ignore the `Properties` on `Entity` in EdmModel like:

    builder.EntityType<Entity>().Ignore(p => p.Properties);

The `Entity` won't be treat as OpenType because it doesn't have dynamic properties,
Request "/odata/Entities" - won't returns dynamic property.

Or you didn't ignore it in EdmModel, all of the properties of open segment alwa

[2015-11-17 07:09] VikingsFan commented on #68
This is supported now.

[2015-11-17 07:09] #68 closed

[2015-11-17 14:13] DenisBiondic commented on #229
@lewischeng-ms - is this the repo where the implementation is developed? [OData WebApi vNext](https://github.com/lewischeng-ms/WebApi/tree/vNext/vNext) and [OData Web API 6.0.0 alpha1](http://odata.github.io/WebApi/#07-07-6-0-0-alpha1)

[2015-11-18 05:14] lewischeng-ms commented on #229
@DenisBiondic I am not sure because the link you provided pointed to my personal repo:) The team's repo is https://github.com/OData/WebApi/tree/vNext.

[2015-11-18 05:47] VikingsFan commented on #1
Merged https://github.com/OData/WebApi/commit/337a8cca1848f77df549c3b5905990f958253c8d

[2015-11-18 05:47] #1 closed

[2015-11-18 08:26] congysu commented on #561
You can override how an ETag is created in the serializer:
https://github.com/OData/WebApi/blob/f4573605bd88dabe882c4dc45e4a4ed0e55b32e0/OData/src/System.Web.OData/OData/Formatter/Serialization/ODataEntityTypeSerializer.cs#L279

Default implementation is based on the vocabulary annotation:
[code]

[2015-11-18 08:35] congysu commented on #559
Currently, the SelectExpandBinder has an implicit dependency on EF.  We would like to introduce another layer of OData Abstract Syntax Tree (AST) binding to LINQ in vNext.  Your contribution to fix the specific issue is also very welcome.  OData Web API has code logic to detect specific LINQ provider, such as in `HandleNullPropagationOptionHelper`:
https://github.com/OData/WebApi/blob/f4573605bd88

[2015-11-18 08:42] congysu commented on #533
@EvanMachusak, @GunterGlad: We've just upgraded the project to beta8.  Changes are in vNext branch:
https://github.com/OData/WebApi/commits/vNext
Your help to further update the project to rc is very welcome.

[2015-11-18 10:23] keithhowie commented on #477
Well, I know that `timestamptz` only stores UTC. I don't need the original timezone. I only need the UTC datetime - that's enough, and that information is in Postgres. What's happening is that the information is being truncated on retrieval. It's fundamentally changing the data it returns.

I believe that line of code I picked out is at best unnecessary, and in my case, detrimental. The `Expressio

[2015-11-18 10:45] GunterGlad commented on #533
I have submitted a version that has the upgrade in it. Sorry, first time using git hub so may have done it wrong.

[2015-11-19 02:46] xuzhg commented on #302
Added. Thanks.

[2015-11-19 03:15] xuzhg commented on #128
Let me have an example, if I use the following model to build the Edm Model:
[code]

I can get the following type mapping. (Please pay attention to the different sample values for different properties)

|Property	|CLR type	|Edm Type|	Type kind|	Nullable|	Sample Value|
--------------|-----------------------|------------|-----------------|----------------------|----------------------|
Content|	byte[

[2015-11-19 03:16] xuzhg commented on #490
@vladbilyk I think you should always make the collection to be initialized.

[2015-11-19 03:34] xuzhg commented on #478
Updated.

See: https://github.com/OData/WebApi/tree/v5.7.0-beta

Thanks.

[2015-11-19 03:34] #478 closed

[2015-11-19 03:50] xuzhg commented on #151
Already added. See. https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Query/Validators/FilterQueryValidator.cs#L713-L718

Thanks.

[2015-11-19 03:50] #151 closed

[2015-11-19 06:32] VikingsFan commented on #560
Checked in 621f256847ca2923a8c5000bff84333236c9f7bc

[2015-11-19 06:32] #560 closed

[2015-11-19 06:34] VikingsFan commented on #536
Please reopen it when you have any concern.

[2015-11-19 06:34] #536 closed

[2015-11-19 08:47] taspeotis commented on #128
I appreciate the persistence. I am just surprised `IEnumerable<byte>` is treated as a collection rather than `Edm.Binary`. To me collections have individual items that can be added/edited/removed (analogous to what `ICollection` can do) but I see from [here](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc40639

[2015-11-19 13:43] zizzex commented on #135
Without nested objects this feature is unfortunately almost useless.
Is there any prevision of a possible availability date? Thanks.

[2015-11-20 02:37] chinese007 opened #564 "Base.AddEntityType()/AddComplexType() calls in ODataConventionModelBuilder do not return typeconfiguration with exposed properties."
I'm trying to extend the ODataConvertionModelBuilder.cs to allow customized property attribute to be honored when generating OData data model.

My sample code looks like:

   public override EntityTypeConfiguration AddEntityType(Type type)
        {
            var entityTypeConfig = base.AddEntityType(type);
            foreach (var propertyConfig in entityTypeConfig.Properties.Where(p => p is Pr

[2015-11-20 04:17] lelong37 commented on #229
With ASP.NET v5 RC released @ Connect, just wondering if the team has a version of vNext that will run with latest bits (RC)?

[2015-11-20 06:58] congysu commented on #118
The ask is for Edm.Date with EF support.

[2015-11-23 02:28] xuzhg commented on #564
@chinese007

When you call AddEntityType() or EntityType<T>() while will call AddEntityType(), it only register an entity type in the model builder. This time, no property is discovered until you call builder.GetEdmModel();

So, the it's correct that entityTypeConfig.Properties is empty. You can follow up the similar codes in https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/O

[2015-11-23 02:37] xuzhg commented on #423
@esditm Please re-open it if you have further concern about this. Thanks.

[2015-11-23 02:37] #423 closed

[2015-11-23 02:43] xuzhg commented on #312
@MaxWilson please re-open it if you have further concern. Thanks.

[2015-11-23 02:43] #312 closed

[2015-11-23 02:54] xuzhg commented on #55
Close it because it had been resolved.

[2015-11-23 02:54] #55 closed

[2015-11-23 10:26] lazyWombat commented on #505
this fix causes a failure when the result cannot be casted to HttpStatusCodeResult. Run ODataSample.Web and use "odata/Products?$top=1" query. The full product list is returned.
context.Result is Microsoft.AspNet.Mvc.ObjectResult and it cannot be casted to HttpStatusCodeResult.

[2015-11-23 20:17] NicoJuicy opened #567 "Issue with deepexpand when i have set MaxExpansionDepth"
I have the following url with odata v4 WebApi 2.2

    http://my-url/odata/Routes(9cbaab82-1245-4015-a106-66c440a751fa)?$expand=Trajects($expand=FromPoi($expand=Tag))

This is my routeController

    [EnableQuery(MaxExpansionDepth =4)]
    public IQueryable<Route> GetRoutes()
    {
        return db.Routes;
    }

But why does it return:

    {
    "error":{
    "code":"","message":"The query spec

[2015-11-24 01:14] VikingsFan commented on #505
Thanks, fixed as b0a0a74

[2015-11-24 10:20] VikingsFan commented on #567
Hi @NicoJuicy With version of OData/WebApi are you using(latest is v5.8-beta)? we do have [case](https://github.com/OData/WebApi/blob/master/OData/test/E2ETest/WebStack.QA.Test.OData/DollarLevels/DollarLevelsTest.cs#L154-L179) to cover this scenario.

[2015-11-24 12:39] xuzhg opened #568 "make sure function parameter as entity/entity reference work with abstract, without key entity type"
For example,
- BaseEntityType (abstract, without key)
- SubEntityType derived from BaseEntityType, with key.

Now, you can use the `BaseEntityType` to define the function parameter, but you can use the `SubEntityType` instance to call the function.

Make sure the scenario is working, or please fix it.

[2015-11-25 06:22] congysu commented on #110
2dfbbfa66b62e9350097d269ec06f55df2414c00

[2015-11-25 06:51] congysu commented on #221
The change here has issue with EF.  A later change is at https://github.com/OData/WebApi/commit/073f8818cb18f6f618d6637c257f48f501aa6c4c.

[2015-11-26 01:29] VikingsFan commented on #104
The Doc is http://odata.github.io/WebApi/#04-09-query-by-dynamic-properties

[2015-11-26 07:09] VikingsFan commented on #400
@s-granet @MarkAPhillips @kpko I have a PR to get this feature work, would you pls take a look at it?
https://github.com/OData/WebApi/pull/569

[2015-11-26 07:14] VikingsFan commented on #211
Cost estimation: 2 days

Introduce StringPropertyConfiguration, Binary.., Decimal... to make this feature work both in Fluent API and ConventionModelBuilder.

[2015-11-27 07:58] maximpashuk opened #570 "Support HTTP error 414 "Request URI too long" in batch mode, error 500 is returned now"
If I send GET response with extra-long URI I receive 400 BadRequest response, it is fine.

Then I send POST $batch request with extra-long URI I receive 500 internal server error.

Call stack shows that exception thrown at
[ODataBatchReader.ParseRequestLine](https://github.com/OData/odata.net/blob/2b97acbbc33a33295285d410c3df695ae86a7b81/src/Microsoft.OData.Core/ODataBatchReader.cs#L589) deep in o

[2015-11-27 08:37] TomDu commented on #570
We usually send a  POST request with batch body in the HttpContent.
You can refer to the [Sample Page](http://odata.github.io/WebApi/#04-12-batch) and [Test Case](https://github.com/OData/WebApi/blob/master/OData/test/E2ETest/WebStack.QA.Test.OData/Batch/Tests/DataServicesClient/DefaultODataBatchHandlerTests.cs) for more details.

[2015-11-30 02:22] VikingsFan commented on #211
@escape-llc would you please help to review my [PR](https://github.com/OData/WebApi/pull/571) ?

[2015-11-30 05:28] VikingsFan commented on #521
@MikalJ refer to this issue, I think you can modify the result in your own customize attribute.

[2015-12-01 01:02] nickkin-msft commented on #490
I am currently working on a solution for this, should be submitted shortly.

[2015-12-01 06:50] andrensairr commented on #170
I too bumped into this. Kinda bothersome since the SingleResult documentation states "Represents an System.Linq.IQueryable containing zero or one entities". Seems happy enough with @timoch's suggested response, and seems to work fine enough for now, though I second the call for some more official response.

[2015-12-01 07:17] VikingsFan commented on #170
@andrensairr There is a page for this http://odata.github.io/WebApi/#10-02-work-around-for-singleresult-create

[2015-12-01 12:16] OnurGumus opened #574 "Clarify the situation for streams."
Despite reading all the docs and samples, I still am not sure answer. Are entities with Stream properties supported ? If so any documentation or samples?

[2015-12-01 12:21] escape-llc commented on #211
Based on my beginner understanding of the framework, it all looks pretty straightforward.  I assume the tests pass; are there any test cases for the "optional" cases (e.g. max length was not supplied).

The only stylistic recommendation I can make is in the static methods in `EdmTypeBuilder.cs` e.g. `AddLengthConfigInPrimitiveTypeReference`.  Personally I do not advocate ever re-assigning to param

[2015-12-01 12:43] VikingsFan commented on #574
Now we just support declare a entity as stream, Issue: https://github.com/OData/WebApi/issues/149 Doc:http://odata.github.io/WebApi/#06-04-streamEntity

[2015-12-01 13:15] ReverseBlade commented on #574
Is there any working sample anywhere  ?, I can't figure how do I make use of this from the link you suggested. In that example does Vehicle has a property like stream or byte array ?  Is there any difference in controller ? How does Vehicle's controller look like? do I have to make use of a MediaTypeFormatter ?

[2015-12-01 17:56] Josephdias92 commented on #567
i tried updating odata to v5.8 beta but its still not working.
its not serializing the data after 2 levels.

[2015-12-01 22:54] andrensairr commented on #170
Thanks @VikingsFan, works a treat.

[2015-12-02 01:28] VikingsFan commented on #574
About working sample, related issue：https://github.com/OData/WebApi/issues/328

[2015-12-02 04:21] pomadin commented on #570
TomDu, as you may see the issue is also presented in batch mode using a POST request. So the POST does not help.

[2015-12-02 07:17] VikingsFan commented on #211
@escape-llc Thanks for your feedback, I have updated the code, about `CreateStructuralTypeBody`'s refactor, you can give a PR like mine with your customize scenario, that's very welcome!

[2015-12-02 08:04] ReverseBlade commented on #574
Thanks, though I have already reviewed all of these, including the blog post from 2013 and that new FileServer code. Unfortunately non of them makes use of that MediaType() method call.

[2015-12-02 09:38] Josephdias92 commented on #226
i tried second approach "define each property in the ODataModelBuilder: builder.EntityType().ContainsMany(m => m.Products);" but it didnt work

[2015-12-03 07:23] nickkin-msft opened #575 "Regression from 5.7 to latest: Unable to build model due to (incorrect) conflict detection - caused by the fix for Issue #427"
Part of the change which was committed to fix Issue #427...

        458 458               IList<EntityTypeConfiguration> actualEntityTypes =
        459   -                StructuralTypes.Except(misconfiguredEntityTypes).OfType<EntityTypeConfiguration>().ToList();
        459  +                StructuralTypes.OfType<EntityTypeConfiguration>()
        460  +                    .Where(entity =>

[2015-12-03 07:56] nickkin-msft commented on #575
Internal mail with repro zip sent.

[2015-12-03 23:29] grahamehorner opened #576 "IServiceCollection extensions namespace"
The IServiceCollection and IApplicationBuilder extension methods should be within the namespace Microsoft.Extensions.DependencyInjection to align with the standard used by the ASP.NET vNext team and allow ease discovery of methods that initialise/configure the DependencyInjection for OData use.

[2015-12-04 09:40] TomDu commented on #360
Fixed in https://github.com/OData/odata.net/pull/398, feedbacks are welcome.

[2015-12-04 09:40] #360 closed

[2015-12-04 12:40] m7milan opened #578 "the $skip and $top query options allow arithmetic overflows"
example: a get request to a collection with the following query option will cause an overflow:
$top=55555555555

Looking at TopQueryOption.cs and SkipQueryOption.cs
I see that the issue is due to how the Value property is calculated. A try parse should be used, or maybe a checked block.

[2015-12-05 02:28] nickkin-msft commented on #575
Confirmed locally that https://github.com/xuzhg/WebApi/commit/a955debe022493b9dc5509fb2e6080e9797c0b4e does resolve the regression, looking forward to getting that merged in. Thanks!

[2015-12-05 02:41] nickkin-msft opened #579 "When adding an EntitySet to ODataConventionModelBuilder using a complex heirarchical type, some downstream types are not "picked up" and must be added to the builder manually."
You can use the same repro zip I sent WRT https://github.com/OData/WebApi/issues/575 to repro this as well.  Simply comment out lines 46 and 47 in WebApiConfig.cs:

            // somehow the builder doesn't pick up on these xsd generated enums??? (it finds the rest just fine...)
            <snip>builder.AddEnumType(typeof(<snip>.DeviceType));
            <snip>builder.AddEnumType(typeof(<snip>.A

[2015-12-05 02:51] nickkin-msft commented on #579
Sent internal email with the repro zip again, just in case.

[2015-12-06 09:05] xuzhg commented on #579
Convention model builder will go thorough all related 'types' starting from the explicitly configured 'types'. So, please make sure `'DeviceType' can be accessed from one of explicitly configured 'types. Otherwise, you should call `AddEnumType` Fluent API to explicitly add the enum type into model.

[2015-12-06 10:51] AndiRudi commented on #229
I tried to get that to work with
    "Microsoft.AspNet.Mvc": "6.0.0-rc1-final",
    "Microsoft.AspNet.OData": "6.0.0-alpha1",

[2015-12-06 14:13] nickkin-msft commented on #579
Yes, that's the bug.  The type is referenced indirectly (a->b->c etc.) from the root entity type that is being configured, however when hitting the endpoint it throws the exception because the builder didn't "find" it.  Thus I have to add it manually.  For the XSD generated classes I'm using, its the enums DeviceType and Architecture (but other indirectly referenced enums are found.)

[2015-12-07 02:40] xuzhg opened #581 "Array of enum doesn't work for convention model builder"
If a model only includes array of enum property, the convention model builder will be failed.
For example:
[code]

`GetEdmModel()` will throw "The enum type 'Color' does not exist."

However, if we change `Color[]` as `IList<Color>`, it works fine. Please investigate and fix.

[2015-12-07 02:51] xuzhg commented on #579
It’s bug that we only cover the IEnumerable<T>  where T : enum, doesn’t cover the T[] where T: enum.  PR is out for fix. Thanks.

[2015-12-07 06:48] nickkin-msft commented on #490
I have implemented this feature.

Fork: https://github.com/nickkin-msft/WebApi
Commit: https://github.com/nickkin-msft/WebApi/commit/cb7a7b205096d7410323bb6d79f146584cfe1225
Pull Request: https://github.com/OData/WebApi/pull/583

[2015-12-07 22:24] dtotzke commented on #497
For the path attribute I have path="*."  Note the period after the asterisk.

[2015-12-08 00:32] sixlettervariables commented on #497
That does not work with multiple WebApps under `/`.

[2015-12-08 22:34] seanrodda commented on #170
for me, the request doesn't have a method GetOwinContext(). Am I missing an assembly? I have added Microsoft.Owin

[2015-12-08 22:55] seanrodda commented on #170
Ok, I have added the correct assembly, however it doesn't look like the code with the NotFound is getting executed, I am getting a 200 response with the word null. Does anyone have any idea?
Thank you

[2015-12-09 02:57] VikingsFan commented on #579
PR #582  Merged 8b99db1a012c7931bba3e668f271d8aed61c215c

[2015-12-09 02:57] #579 closed

[2015-12-09 02:57] VikingsFan commented on #581
PR #582  Merged 8b99db1a012c7931bba3e668f271d8aed61c215c

[2015-12-09 02:57] #581 closed

[2015-12-09 03:02] VikingsFan commented on #575
PR #577 Merged f69f76e50232a653fc8d7dd51d3de9d247a110f2

[2015-12-09 03:02] #575 closed

[2015-12-09 06:00] VikingsFan commented on #567
your url is ....Routes(9cbaab82-1245-4015-a106-66c440a751fa)  it's like you should add the attribute in the controller method:

    [EnableQuery(MaxExpansionDepth =4)]
    public Route Get(Guid key)

[2015-12-09 06:03] #564 closed

[2015-12-09 06:03] #544 closed

[2015-12-09 06:26] VikingsFan commented on #126
@ificator @huyq2002 @cherlyn @esditm
I have a PR to get this feature work, would you pls take a look at it?
#569

[2015-12-11 00:40] rustd opened #586 "Authorization on $expand functionality"
This was opened on the ASP.NET UserVoice site. https://aspnet.uservoice.com/forums/147201-asp-net-web-api/suggestions/5318252-authorization-on-expand-functionality
I am copying the details on the OData project. Please triage as appropiate.

Currently, there is no way to influence in what way $expand binds additional models. I would very much like to have some control over what models are binded, i

[2015-12-11 00:42] rustd opened #587 "Make ApiDescription.ResponseDescription setter public"
This was opened on the ASP.NET UserVoice site. https://aspnet.uservoice.com/forums/147201-asp-net-web-api/suggestions/9277539-make-apidescription-responsedescription-setter-pub

I am copying the details on the OData project. Please triage as appropiate.

It is impossible to provide a custom implementation of IApiExplorer because the setter for ApiDescription.ResponseDescription is internal. Please

[2015-12-11 00:42] rustd opened #588 "Provide a built-in parameter binding for Key-value pairs"
This was opened on the ASP.NET UserVoice site. https://aspnet.uservoice.com/forums/147201-asp-net-web-api/suggestions/3227380-provide-a-built-in-parameter-binding-for-key-value

I am copying the details on the OData project. Please triage as appropiate.

Right now to support OData URIs with multiple parameters, you need to parse the string yourself and extract the key/value pairs. This can be cons

[2015-12-11 00:43] rustd opened #589 "Remove ambiguity from the interface of ODataQueryOptions"
This was opened on the ASP.NET UserVoice site. https://aspnet.uservoice.com/forums/147201-asp-net-web-api/suggestions/5894868-remove-ambiguity-from-the-interface-of-odataqueryo

I am copying the details on the OData project. Please triage as appropiate.
Most of the interface exposed via ODataQueryOptions presents only get accessors and appears to be immutable.

However, the OrderByQueryOption pres

[2015-12-11 02:04] VikingsFan commented on #589
Current we are not recommended to use [EnableQuery] and pass ODataQueryOptions in controller method together, use one of them can solve this issue, answer is already in your stackoverflow link and  also this is another approach http://stackoverflow.com/questions/33660648/odata-v4-modify-filter-on-server-side/33684667#33684667 .

[2015-12-11 02:04] #589 closed

[2015-12-11 06:04] VikingsFan commented on #490
PR is Merged cc21bbb6b43690d30a93cc28fa7fefb26dd05f42

[2015-12-11 06:04] #490 closed

[2015-12-11 06:06] #511 closed

[2015-12-11 06:07] #462 closed

[2015-12-12 06:46] ronnyek commented on #70
I'm really interested in this, where do things stand with this? As a whole, the extension is not present? Or is it just the ODataUriParser that is lacking?

[2015-12-15 03:03] congysu opened #591 "Update info about how to skip strong name during test"
Run `build.cmd` in the OData folder:
[code]

[2015-12-15 05:41] congysu opened #592 "End to end tests should work in VS2015"
E2E tests should run if only install VS2015.
For now, the E2E has a dependency on SqlExpress that a VS2015 does not have by default.
https://github.com/OData/WebApi/search?utf8=%E2%9C%93&q=sqlexpress

[2015-12-15 15:04] #591 closed

[2015-12-15 15:50] congysu opened #593 "AutoExpand should work with nav prop in a derived type"
This may relate to EF's loading behavior.

[2015-12-15 22:21] ImGonaRot commented on #555
After trying the solution listed above I noticed that $count=true does not work correctly.

If I apply ODataQuerySettings with PageSize = 10 right before the "return queryOptions.ApplyTo(queryable, ODataQuerySettings)", I get a result set but the odata has "@odata.count": 0

Any idea how to get PageSize with count to work when using the above solution?

[2015-12-16 01:14] VikingsFan commented on #555
Can you show your customize EnableQueryAttribute? I tried added pagesize in previous code and odata.count is working correctly.

    queryOptions.ApplyTo(queryable, new ODataQuerySettings{PageSize = 10})

[2015-12-16 01:52] ImGonaRot commented on #555
My EnableQueryAttribute is the exact same as the one posted
[code]
And then on the URL I call it like this.
?$filter=ID%20eq%20%270%27&$count=true

This should select all records where ID != 0
If I comment out the url.Replace then the count does work assuming I had a lot of records where ID == 0...

[2015-12-16 02:21] VikingsFan commented on #555
@ImGonaRot that's because $count result is also bound to Original request, I updated your code inline, please have a try.

[2015-12-16 02:44] ImGonaRot commented on #555
Wow that was almost perfect. It does indeed return the count now but it does not act like a normal method that is decorated with "EnableQuery".
A normal method with the "EnableQuery(PageSize=10)" will also return "@odata.nextLink".
Not that I am complaining.
But do you know if it is possible to get the "nextLink" to work?

I tried something like this in the controller.
[code]
but that return no re

[2015-12-16 02:50] VikingsFan commented on #555
it's also need to set into original request, Request.ODataProperties().NextLink, do this the same as count

[2015-12-16 03:13] ImGonaRot commented on #555
Worked great.
Thanks for the help.

[2015-12-16 03:50] nickkin-msft opened #595 "DocumentDB now has .Take() / $top= support, but OData attempts to sort by primary key when applying $top to DocumentDB's IQueryable"
Example query:
    http://localhost/odata/MyEntitySet?$top=1

Example controller:
[code]

Resulting error:
[code]

Edit: fixed formatting, also you should note that you'll need the very latest client sdk for this, 1.5.2

Edit 2: for anyone who finds this via a search engine, I found that this behavior can be disabled with an option: https://msdn.microsoft.com/en-us/library/system.web.http.odata.qu

[2015-12-16 06:49] xuzhg commented on #588
@rustd

There is built-in parameter binding in Web API for function parameter.  For example:

`~/odata/Customers(1)/Default.GetName(name='abc')`

It will bind the 'abc' to the function parameter in the controller. So, the `name` parameter in the following function will have the 'abc' value.
[code]
For action parameter, it's same as function parameter, however, all parameters are saved into a Dicti

[2015-12-16 06:52] xuzhg commented on #587
@rustd Are you sure it is related to Web API OData?

[2015-12-16 06:55] xuzhg commented on #586
@rustd

Did you try the [answer](http://stackoverflow.com/questions/33660648/odata-v4-modify-filter-on-server-side/33684667#33684667) provided from Ouyang Fan in the stackoverflow?

[2015-12-16 16:05] ImGonaRot commented on #555
Here is my final solution.
[code]

[2015-12-17 07:40] qarpin commented on #229
Same to me as @AndiRudi wrote.
Seem like it works only with Microsoft.AspNet.Mvc 6.0.0-beta4 version.
Will OData package be updated to support rc1-final?

[2015-12-17 14:58] ImGonaRot opened #596 "OData expand not working when using Database.SqlQuery and EF Code First"
The following controller method works fine with expand:
[code]

But the following controller method does not work with expand:
[code]

The expand feature when using a stored procedure along with EF Designer works fine.
For example:
[code]

[2015-12-17 20:48] ImGonaRot commented on #555
I'm sorry to bother you again but ...
How do you force the CustomEnableQueryAttribute to always be called?

Basically I added code in the CustomEnableQueryAttribute that checks to see if there was a "Top" in the query and if not, I set a default page size to 100 records. (see code above)
What I didn't realize was that the CustomEnableQueryAttribute is only called if there is an odata parameter on

[2015-12-20 00:42] YehudahA commented on #229
@AndiRudi  and @qarpin , It seems that the project is dead.

[2015-12-20 12:11] simoco commented on #300
Hello! Why this is not working
`~/odata/Customers?$filter=date(Birthday) eq 2015-03-23`

when Birthday is `DateTime` opposed to `DateTimeOffset`?
I got `No function signature for the function with name 'date' matches the specified arguments. The function signatures considered are: date(Edm.DateTimeOffset); date(Edm.DateTimeOffset Nullable=true).`.
I'm using Microsoft.AspNet.OData ver 5.7.0. Thanks

[2015-12-21 02:55] VikingsFan commented on #595
Hi @nickkin-msft it is by design that we will order the result by primary key if your apply top or skip, relative code is in https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Query/ODataQueryOptions.cs#L318-L331

[2015-12-22 03:40] andrensairr commented on #521
@VikingsFan, I have a similar requirement to @MikalJ in that I need to remove some property values from the response, and was wondering how you envisaged the custom `EnableQueryAttribute` would help to change the values in the `SelectExpandWrapper` objects. My `ApplyQuery` override looks something like the following:

    public override IQueryable ApplyQuery(IQueryable queryable, ODataQueryOption

[2015-12-22 17:21] grahamehorner opened #597 "[vNext] 'Microsoft.OData.Core.ODataContentTypeException' - when targeting aspnet-5-rc1-update1"
An exception of type 'Microsoft.OData.Core.ODataContentTypeException' occurred in Microsoft.OData.Core.dll but was not handled in user code

Additional information: A supported MIME type could not be found that matches the content type of the response. None of the supported type(s) 'application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false, application/json;odata.metadat

[2015-12-22 17:27] PinpointTownes commented on #597
This exception is due to a breaking change in ASP.NET 5, that causes an incorrect formatters ordering. `ODataServiceCollectionExtensions.AddOData` must be fixed to react to this change.

You can replace...

[code]
... by:

[code]

https://github.com/OData/WebApi/blob/vNext/vNext/src/Microsoft.AspNet.OData/Extensions/ODataServiceCollectionExtensions.cs#L23-L26

[2015-12-22 17:43] grahamehorner commented on #597
The above fix breaks the $metadata controller ?

[2015-12-23 02:58] VikingsFan commented on #400
Merged 3f568901da0a4d3b7d7aaecb29f66e5ce7e14429 PR #569

[2015-12-23 02:58] #400 closed

[2015-12-23 02:59] VikingsFan commented on #126
Merged 3f568901da0a4d3b7d7aaecb29f66e5ce7e14429 PR #569

[2015-12-23 02:59] #126 closed

[2015-12-23 12:29] RavindraBarapatre commented on #135
Below is my Address entity, it has PostalAddress as nested entity, I am trying to do patch update.
{
	"CareOf": "Updated",
	"BehalfOf": "BehalfOf updated",
	"PostalAddress": {
		"Id": "9bd27f41-e093-46ce-8d51-10ba7e2e3e13",
		"PoBox": "12121",
		"PostalCode": "12121"
	}
}
when I debug odata service I received Delta<TEntity> patch = null.

If I pass simple object it works.
{
	"CareOf": "Updated",

[2015-12-23 12:33] shaungrech commented on #135
Hi,

As far as I know at the moment OData Web API does not support Patch within
nested objects.

Shaun

On Wed, Dec 23, 2015 at 1:29 PM, RavindraBarapatre <notifications@github.com

--

Regards,

Shaun Grech   Co-Founder, Incredible Web / Bum a Lift
 79886164
 shaun.grech@incredible-web.com
 www.incredible-web.com
 www.bumalift.com <http://www.incredible-web.com/>

[2015-12-23 12:41] RavindraBarapatre commented on #135
is there any workaround?

[2015-12-23 12:58] sgankum commented on #135
without supporting nested objects, i believe this is not an useful one.
Kindly let us know the workaround for this

[2015-12-24 12:45] dr-noise commented on #170
I bumped into this issue as well.

[2015-12-25 00:46] karunasagark opened #601 "ODataRoute should accept an interface instead of ODataPathRouteConstraint"
The constructor of ODataRoute() accepts an object of type ODataPathRouteConstraint. However, this causes tight coupling.
Consider a multi-model typeless routing system. In this case, we would want to customize the routeConstraint to select the appropriate model. This is hard because ODataRoute() accepts ODataPathRouteConstriant, which forces us to create a subclass and duplicate the private logic

[2015-12-25 18:37] nickkin-msft commented on #595
I found that this behavior can be disabled with an option: https://msdn.microsoft.com/en-us/library/system.web.http.odata.query.odataquerysettings.ensurestableordering(v=vs.118).aspx which resolves the problem.

You can close this bug.  Thanks!

[2015-12-28 00:54] #595 closed

[2015-12-28 09:39] VikingsFan commented on #593
@congysu please show your data schema, I have tried some situations and it's working fine. Thanks!

[2015-12-29 01:27] VikingsFan commented on #557
Merged 3f56890 PR #557

[2015-12-29 01:27] #557 closed

[2015-12-29 01:31] VikingsFan commented on #555
EnableQuery Attribute can only be fired when there is a query option, you can use [MyEnableQueryAttribute(PageSize=100)] for non query option situation

[2015-12-29 02:58] VikingsFan commented on #521
@andrensairr Change the SelectExpandClause can modify the result returns to client, can you try like this:

        public override IQueryable ApplyQuery(IQueryable queryable, ODataQueryOptions queryOptions)
        {
            var result = queryOptions.ApplyTo(queryable);
            var originalRequest = queryOptions.Request;
            if (originalRequest.ODataProperties().SelectExpandClause

[2015-12-29 03:18] congysu commented on #593
An example $metadata is:
[code]

An example is at: https://github.com/congysu/d/tree/master/AutoExpand

To repro, visit the uri: `http://localhost:2665/odata/Customers('abc')/Orders`
[code]

[2015-12-29 07:24] VikingsFan commented on #593
For derived type situation, original solution is to discover those autoexpanded navigation property in EntityTypeSerializer when create SelectExpandNode: https://github.com/OData/WebApi/blob/d21a410fb1b36b9455796dd18d5bbdcf10c2f5ad/OData/src/System.Web.OData/OData/Formatter/Serialization/SelectExpandNode.cs#L55-L68,but EF is not working is because the returning type is base type, related feature r

[2015-12-29 07:29] VikingsFan opened #602 "Tag incoming PRs"
With labels:
PR_Team: PR submitted by OData team members.
PR_Internal: PR submitted by a colleague within Microsoft.
PR_External: PR submitted by a GitHub user outside of Microsoft.

[2015-12-29 07:33] #602 closed

[2015-12-31 14:59] vojtechvit opened #603 "Globally registered OData Formatters prevent succeeding OWIN middleware from running properly"
If you register Web API OData v4 Formatters globally in an OWIN web application when creating WebApi `HttpConfiguration` object to set-up Web API OWIN middleware like this:

    // Note: removing default Json an Xml formatters is enough
    httpConfiguration.Formatters.Clear();
    httpConfiguration.Formatters.AddRange(ODataMediaTypeFormatters.Create());

The Web API middleware will return respons

[2016-01-05 01:57] andrensairr commented on #521
Thanks @VikingsFan, I can see this changes the results returned to the client. I would like to include any expanded Contacts, but only conditionally hide two of the many properties on this object, so I would need to create nested `ExpandedNavigationSelectItem`s specifically for each of those properties I do not want to hide. However I'm not sure the API for creating these from scratch is available

[2016-01-05 03:01] VikingsFan commented on #521
@andrensairr about override the value, have you tried to customize the ODataEntityTypeSerializer's CreateEntry method, modify the entry's properties?

[2016-01-05 03:12] VikingsFan commented on #105
Merged 8e3845b2ca9438dbc65279547afdfdf1d07e92fe

[2016-01-05 03:12] #105 closed

[2016-01-05 03:25] VikingsFan commented on #357
Related #521

[2016-01-05 04:46] VikingsFan commented on #492
This should work as the Issue in ODL 6.14 is fixed, @ksureshhpk please try WebAPI 5.8 rc.

[2016-01-05 04:46] #492 closed

[2016-01-05 06:23] andrensairr commented on #521
Thanks again @VikingsFan, customising an ODataEntityTypeSerializer looks to be a good solution. It appears to be working fine, and has the added advantage of allowing me to manipulate the entity before any $select operations are applied.

It would have been ideal to keep all my authorisation logic in the one place, but I've already had to put some in the ApplyQuery override anyway, in addition to

[2016-01-06 02:26] xuzhg commented on #359
Please re-open it if you have further concern. Thanks.

[2016-01-06 02:26] #359 closed

[2016-01-06 02:27] xuzhg commented on #347
please re-open it if you have any further concern.

[2016-01-06 02:27] #347 closed

[2016-01-06 02:30] xuzhg commented on #163
Close it. Similar solution is in https://github.com/OData/WebApi/pull/600.

[2016-01-06 02:30] #163 closed

[2016-01-06 02:33] xuzhg commented on #65
see the initial design spec: http://odata.github.io/odata.net/#07-03-NavigationProperty-In-ComplexType

[2016-01-06 02:48] VikingsFan commented on #513
Closed as open in ODL https://github.com/OData/odata.net/issues/439

[2016-01-06 02:48] #513 closed

[2016-01-06 02:54] VikingsFan commented on #489
Close after confirmed with Lewis

[2016-01-06 02:54] #489 closed

[2016-01-06 03:08] VikingsFan commented on #128
@taspeotis can you try 5.7rc, we provide two configuration for null collection serialize:

    config.SetDoNotSerializeNullCollections(true)
    config.SetSerializeNullCollectionsAsEmpty(true)

[2016-01-06 03:24] VikingsFan commented on #87
now in 5.7 can use Key-as-segment convention as a work around https://github.com/OData/WebApi/commit/33c370b79fe055a57fbd6e3767a007437f2f8c41#diff-29d49a3aa2314e069f5548d433c0deddR296

[2016-01-06 09:19] xuzhg commented on #186
It fixed. See my test: https://github.com/xuzhg/WebApiSample/blob/master/PatchDynamicClass.cs

[2016-01-06 09:19] #186 closed

[2016-01-07 02:19] xuzhg commented on #225
please re-open it if you have any further concern. Thanks.

[2016-01-07 02:19] #225 closed

[2016-01-07 02:45] xuzhg commented on #194
It's issue in ODL parse.

[2016-01-07 03:34] xuzhg commented on #517
Hi, Casimodo72

-  ODL nightly is : https://www.myget.org/F/odlnightly

For example:
![odlnightlyall](https://cloud.githubusercontent.com/assets/9426627/12161373/fd95a71c-b52f-11e5-8752-578cdc1469ed.png)

-  Web API OData nightly is: https://www.myget.org/F/aspnetwebstacknightly/

For example:
![nightlyall](https://cloud.githubusercontent.com/assets/9426627/12161240/826b2018-b52e-11e5-81b5-db0e22b

[2016-01-07 03:34] #517 closed

[2016-01-07 03:50] xuzhg commented on #538
@ghost

If you use `var builder = new ODataModelBuilder();`, it's your responsibility to add the members of enum.
While, `ODataConventionModelBuilder` will take all the things automatically.

However, in non-convention model builder, you needn't to set the `Name` property.

That is:
[code]
will set the name by call Enum.GetName(..) function.  See [here](https://github.com/OData/WebApi/blob/master/

[2016-01-07 03:50] #538 closed

[2016-01-07 16:36] ImGonaRot commented on #555
[MyEnableQueryAttribute(PageSize=100)] doesn't seem to do anything.
When I set PageSize on a normal controller then it seems to work but when I and this to my custom attribute, it does not seem to do anything.
In the "MyEnableQueryAttribute" method, I look at the "queryOptions.Top" but it is "null"

[2016-01-08 01:08] VikingsFan commented on #555
[MyEnableQueryAttribute(PageSize=100)] won't set queryOptions.Top, it set the querySetting's pageSize, it will truncate the as the code: https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Query/ODataQueryOptions.cs#L357-L366

[2016-01-08 01:24] ImGonaRot commented on #555
Thanks for the information but [MyEnableQueryAttribute(PageSize=100)] is not setting a pagesize on the return results.
I set the following [MyEnableQueryAttribute(PageSize=1)] and hoped to get "1" result yet the result set was not one.
It is almost like the MyEnableQueryAttribute method needs to somehow reapply the pagesize before the return.

In MyEnableQueryAttribute if the last line is "return

[2016-01-08 01:34] VikingsFan commented on #555
there seems no interface for Get querySetting in EnableQueryAttribute it's private, but you can get the pageSize through https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/EnableQueryAttribute.cs#L151-L161

[2016-01-08 01:47] xuzhg commented on #603
Hi, @vojtechvit

Does the workaround in https://github.com/xuzhg/WebApiSample/commit/ab100f23668dfd9262fd539316ceaeae95be967a can help you?

[2016-01-08 02:38] xuzhg commented on #601
Hi, @karunasagark
Would you please take a look the PR: #604? And Let me know any concern.

Thanks.
Sam

[2016-01-08 03:44] xuzhg opened #605 "Add a HandUnresolvedODataPath(...) function in DefaultODataPathHandler"
Give customer a chance to override the default behavior.

If we have such function, we can remove the try...catch.. in:

https://github.com/OData/WebApi/blob/0b1f8a7db7e56c3ae1fe22ccd1519860a70b5910/OData/test/E2ETest/WebStack.QA.Test.OData/Swagger/SwaggerPathHandler.cs#L12-L24

[2016-01-08 03:53] congysu commented on #302
operationId support is added in commit https://github.com/OData/WebApi/commit/d63e4e3e927754ecad45949d766a60cab6362704.
A pending work item is to ensure that the generated swagger.json passes swagger validation https://github.com/OData/lab/issues/25.

[2016-01-08 03:53] #302 closed

[2016-01-08 03:55] congysu opened #606 "Generated swagger should pass validation"
Copy from https://github.com/OData/lab/issues/25.

[2016-01-08 04:02] congysu opened #607 "Add public api baseline"
Refer to https://github.com/OData/odata.net/blob/master/test/FunctionalTests/Tests/DataOData/Tests/OData.Common.Tests/PublicApi/ODataPublicApiTest.cs#L20

[2016-01-08 06:40] xuzhg commented on #596
@ImGonaRot

For

[code]
If you issue a request as:  GET ~/odata/Customers?$expand=Orders

the SQL command created by Web API OData will be similar as:
[code]

So, I don't think your second

[code]
is enough to get the navigation properties when you apply the $expand.

[2016-01-08 21:07] titanski opened #608 "OData v4.0 non-compliant behavior when the request header contains "odata.streaming=true" and the service does not support streaming"
Hello,

We have a WebAPI service in production.

The QA was validating the service's compliance with the Odata version 4.0 spec and have found a non-compliance with the following section.

Section 4.4 of the spec :

http://docs.oasis-open.org/odata/odata-json-format/v4.0/cs01/odata-json-format-v4.0-cs01.html#_Toc365464683

Specifies the following rule :

"Services MUST return 406 Not Acceptable if

[2016-01-11 09:30] vojtechvit commented on #603
Hi @xuzhg, yes, the workaround works well :-)

[2016-01-12 02:52] xuzhg commented on #603
@vojtechvit

You are welcome. I closed this issue. please re-open it or file a new one if you have any further concern.

[2016-01-12 02:52] #603 closed

[2016-01-13 03:30] xuzhg commented on #601
Fixed at 5ebfb93f7b8e0a524426104a15f96f10024bb754

[2016-01-13 03:30] #601 closed

[2016-01-13 03:31] xuzhg commented on #607
Added. Thanks.

[2016-01-13 03:31] #607 closed

[2016-01-13 14:08] ReverseBlade opened #610 "Deep Inserts requests with Prefer: return=representation header does not return expanded graph."
According to OData V4 spec:

11.4.2.2 Create Related Entities When Creating an Entity

A request to create an entity that includes related entities, represented using the appropriate inline representation, is referred to as a “deep insert”. Media entities, whose binary representation cannot be represented inline, cannot be created within a deep insert.
...
On success, the service MUST create all e

[2016-01-13 15:13] TehWardy commented on #136
I have a server running in france, all datetimes in the db clearly don't have timezones so the assumption is zulu time (GMT) ... when i get results back that include entities with datetime properties they are datetimes with 1 hour removed to account for the time difference between gmt and the servers local time ...

I don't think this should happen, since the time zone is not known I believe OData

[2016-01-14 10:55] smokingkills7 commented on #229
Any update when oData will be available for Asp.Net5 RC1? As mentioned by other users, the sample doesn't work with RC version. Any update on timeline would be appreciated, so that we can plan our development.

[2016-01-15 02:04] #118 closed

[2016-01-16 13:12] YogiBear52 opened #612 "Bound custom UriFunctions to CLR methods."
After issue OData/odata.net#430 is solved at OData.Lib level, we must support it at OData.WebApi level.

Now, after adding the custom function signature in OData.Libs and run the WebApi we get the following exception as expected:
"message": "Unknown function '[MyCustomFunctionName]'.",
"type": "System.NotImplementedException",
"stacktrace": "   at System.Web.OData.Query.Expressions.FilterBinder.Bi

[2016-01-19 00:51] nickkin-msft commented on #210
This is not supported by the client

[2016-01-19 06:42] LianwMS commented on #275
According to the following blog and questions:

Azure: [Blog] (https://azure.microsoft.com/en-us/blog/new-full-iis-capabilities-differences-from-hosted-web-core/)

Stackoverflow:
[Q1](http://stackoverflow.com/questions/15226494/assembly-binding-redirect-not-working)
[Q2](http://stackoverflow.com/questions/7571208/can-i-access-web-config-from-my-azure-web-role-entry-point/12911703#12911703)

•	Azur

[2016-01-19 07:39] cornem commented on #275
We are not using Cloud Services anymore (using App Service instead), but
I'm pretty sure we were already using 2.x. If I remember correctly, when we
first started using Azure we already used 2.1.

Kind regards,

Corné Meerkerk

KvK: 08164242

On Tue, Jan 19, 2016 at 7:43 AM, Liang Wang <notifications@github.com>
wrote:

[2016-01-19 11:40] ashuthinks opened #615 "how do I define ODataModelBuilder multiple times for multiple domain model classes?"
I have one Odata Service which is having two separate models

ModelVer1.Customer.cs

int ID;
string Name;
ModelVer2.Customer.cs

int ID;
string Name;
string Address;
webapiconfig.cs

  public static void Register(HttpConfiguration config)
        {
            config.MapHttpAttributeRoutes();
            ODataModelBuilder builder = new ODataConventionModelBuilder();
            builder.EntitySet<

[2016-01-19 19:04] KevinDockx opened #616 "Are $it and $root supported?"
(didn't find anything in the issue list)

Hi,

when using the TripPin example, I was trying out the $it and $root literals.

As far as $it is concerned, it works when trying to filter a collection of primitives (eg a collection of strings) - this can be tested like this:
http://localhost:23890/People('angelhuffman')/Trips(16014)/Tags?$filter=startswith($it, 'T')

But when I try another case $it sh

[2016-01-20 19:31] lelong37 commented on #135
+100

[2016-01-21 07:48] LianwMS opened #617 "Support Pass Null to EntitySet during Feed Serialization"
The issue is about https://github.com/OData/odata.net/issues/69.
ODL has support pass null to entity set, but WebAPI OData does not support, now

[2016-01-21 07:53] LianwMS commented on #617
https://github.com/OData/odata.net/pull/421 is for OData/odata.net#69.

[2016-01-22 01:49] xuzhg commented on #615
@ashuthinks

[OData V4 spec ](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part3-csdl/odata-v4.0-errata02-os-part3-csdl-complete.html#_Toc406398024) says:

_Each metadata document used to describe an OData service MUST define exactly <strong>one</strong> entity container. Entity containers define the entity sets, singletons, function and action imports exposed by the service._

[2016-01-22 01:49] #615 closed

[2016-01-22 07:25] shyambhiogade commented on #229
any update on this..

[2016-01-25 03:09] LaylaLiu opened #619 "Fix PoliCheck Issues"
http://som/ScanOutputManager/ScanOutputMgr.application?workspace=9f1a8b62-93cb-4d12-b147-e735dae5964f

[2016-01-26 04:55] lewischeng-ms opened #620 "$filter not working on nullable Edm.Date and Edm.TimeOfDay"
Test Name:	Microsoft.Restier.WebApi.Test.Scenario.TemporalTests.QueryOptionsOnDateProperty
Test FullName:	Microsoft.Restier.WebApi.Test.Scenario.TemporalTests.QueryOptionsOnDateProperty
Test Source:	C:\Users\licheng\Documents\GitHub\RESTier\test\ODataEndToEndTests\Microsoft.Restier.WebApi.Test.Scenario\TemporalTests.cs : line 114
Test Outcome:	Failed
Test Duration:	0:00:10.092

Result StackTrace:

[2016-01-27 00:56] VikingsFan commented on #70
basic support is checked in at ff46c7921e8c67a1b2ce90acb7c9299429124f54, you can try nightly at https://www.myget.org/F/aspnetwebstacknightly/ further PR for make Aggregation more powerful is very welcome!

[2016-01-27 02:14] nickkin-msft opened #622 "When returning IQueryable to OData, all results are drained into memory before the first is returned to the client."
We are returning an IEnumerator (via the implementation of IQueryable), which does properly implement "yield return" and thus lazy enumeration to OData:

WebApi:
        [EnableQuery(
            EnsureStableOrdering = false,
            AllowedQueryOptions = (AllowedQueryOptions)(AllowedQueryOptions.Supported - AllowedQueryOptions.Skip - AllowedQueryOptions.Count))]
        public async Task<IQue

[2016-01-28 02:47] xuzhg commented on #620
Fixed at: a84e19b292013a4b2d474265b03b4ceb126d7e94
Thanks.

[2016-01-28 02:47] #620 closed

[2016-01-28 03:26] xuzhg commented on #605
Don't need anymore. Thanks.

[2016-01-28 03:26] #605 closed

[2016-01-28 20:45] Casimodo72 commented on #65
+1

[2016-01-29 01:23] #128 closed

[2016-01-29 01:28] #521 closed

[2016-01-29 06:11] VikingsFan commented on #593
checked in 1eaf707fb84c22d37bcd36e04e2ee70d877e5c01

[2016-02-01 08:14] xuzhg commented on #135
Dear customers, Would you please help me try the [PR]#623 and give me some feedback?

I would like to put it into 5.9 beta so customers can use it from nightly build. Thanks.

[2016-02-02 02:05] VikingsFan commented on #622
It's like in this scenario we need a writer.flush() after

                entrySerializer.WriteObjectInline(entry, elementType, writer, writeContext);

in ODataFeedSerializer.

[2016-02-02 02:53] nickkin-msft commented on #622
Thanks Fan, I will try to make another pull request soon.

[2016-02-02 05:44] VikingsFan commented on #617
Merged dd7aecebf77121d118bf4231c46328b5ee3a893d

[2016-02-02 05:44] #617 closed

[2016-02-02 07:48] lelong37 commented on #229
Is there a new repo/branch for OData vNext since the rename of ASP.NET Core 1.0?

[2016-02-02 22:13] shyambhiogade commented on #229
Yes, the latest beta source has that option, my old sample was from alpha branch. beta has this option in HttpGet

[2016-02-03 01:19] VikingsFan commented on #622
@nickkin-msft can you use page size to get this work around?

[2016-02-03 01:24] nickkin-msft commented on #622
Haven’t tried it.  That might work for well-behaved callers, but it wouldn’t prevent anyone (malicious, or who simply don’t know about the bug) from being able to make harmful calls into our service.

From: Fan Ouyang [mailto:notifications@github.com]
Sent: Tuesday, February 2, 2016 5:20 PM
To: OData/WebApi <WebApi@noreply.github.com>
Cc: Nick Kinnan <nickkin@microsoft.com>
Subject: Re: [WebApi] W

[2016-02-03 01:30] VikingsFan commented on #622
@nickkin-msft pageSize is set by server side, maybe you can try it.

    [EnableQuery(PageSize=10)]

[2016-02-03 01:31] nickkin-msft opened #624 "Creating a derived type (not referenced by OData) and overriding a property changes the metadata (adds the un-referenced derived type and actually changes how the underlying property is exposed)"
Create a class "MyDto" with a property for example "public DateTimeOffset TestProp { get; set; }"

Create a second class "MyDerivedDto : MyDto" with a property for example "public new string TestProp { <get/set point to the base property> }"

Issue 1: Metadata for the service now contains MyDerivedDto even when ONLY MyDto is referenced when setting up metadata via ODataConventionModelBuilder

Issu

[2016-02-03 02:12] nickkin-msft commented on #622
It appears this is not a valid workaround for us as paging seems to try to apply operations to the IQueryable (in our case supplied by DocumentDB) which it does not support.

[2016-02-03 02:48] xuzhg opened #625 "Need a new Deserializer context to deserializer the inline complex type property"
for example:

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/Deserialization/DeserializationHelpers.cs#L307

It should be add:

[code]
Same for other deserializer (primitive, complex, enum and collection).

The reason why we should do it is that:

The code in:
https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/Deserializat

[2016-02-03 03:03] xuzhg commented on #567
@NicoJuicy @Josephdias92

As Fan said, Your request is query single entity, Web API OData will route to "Get" method with key. So, please check your MaxExpansionDepth setting is put on the correct method. Thanks.

Please reopen it if you find any more concern. Thanks.

[2016-02-03 03:03] #567 closed

[2016-02-03 03:36] xuzhg commented on #624
Hi, @nickkin-msft

# 1:
Convention model builder is designed to search all related types and their derived types from a starting point. So, If you only reference `MyDto` in convention model builder, it will include the derived type `MyDerivedDto`. It's by design.

So, `builder.ComplexType<MyDto>();` will include both types.
However, `builder.ComplexType<MyDerivedDto>();` will only include 1 types.

[2016-02-03 03:38] xuzhg commented on #624
Let me show the my test result:

[code]

[2016-02-03 03:44] xuzhg commented on #135
I merged my fix.  Anyone who try it and find any issue, please reopen it or file a new issue for us. Thanks in advance.

[2016-02-03 03:44] #135 closed

[2016-02-03 03:51] nickkin-msft commented on #624
MyDto cannot "see" MyDerivedDto.  There is no reason for it to be present in the metadata, it is "dead metadata".  MyDerivedDto is not anything that can ever be returned.  You literally cannot implement a "[Queryable]public IQueryable<MyDerivedDto> Get()" for this, it will not match the model builder and can never be "hit" by a client.  It is not returnable.

As for the nullable issue, that may be

[2016-02-03 03:52] nickkin-msft commented on #624
MyDto cannot "see" MyDerivedDto. There is no reason for it to be present in the metadata, it is "dead metadata". MyDerivedDto is not anything that can ever be returned. You literally cannot implement a "[Queryable]public IQueryable<MyDerivedDto> Get()" for this, it will not match the model builder and can never be "hit" by a client. It is not returnable.

As for the nullable issue, that may be bec

[2016-02-03 03:55] nickkin-msft commented on #624
Seems when I typed IQueryable[LT]MyDerivedDto[GT] it caused GitHub to remove the type (also makes my comment not editable).  Probably because it viewed it as HTML injection.

[2016-02-03 03:55] xuzhg commented on #578
@m7milan

There is an assert code as:

`Contract.Assert(topValue.Value <= Int32.MaxValue);`

Does the `$top=55555555555` make sense?

I know the issue happens at `_value = (int?)topValue;`, but what result should be return after try parse?

[2016-02-03 04:43] xuzhg commented on #624
For # 2:
I updated the 'MyDerivedDto" class to add the `new` property, the result is same.

For # 1:
If you don't want the convention model builder to search for a certain type, you can call `Igore()` function. For example:

[code]

Then you can get the result:

[code]

Besides, I notice that you are still using [IQueryable] attribute. I think it's already changed to [EnableQuery] attribute. Would

[2016-02-03 05:47] nickkin-msft commented on #624
Sorry, we are using EnableQuery, I was going by memory.

Sounds like using the Ignore() method would be a valid workaround.

Takeaway: I believe you should re-open this issue since the builder is putting types into metadata that should not be there and are literally impossible for the service to return.  I tried it, and if you return the derived type on Get() then the service throws because a vali

[2016-02-03 06:23] xuzhg commented on #17
`MetadataTypeAttribute` specifies the metadata class to associate with a data model class.

You use the MetadataTypeAttribute attribute as follows:

•In your application, create a file in which you create the data-model partial class that you want to modify.

•Create the associated metadata class.

•Apply the MetadataTypeAttribute attribute to the partial entity class, specifying the associated cl

[2016-02-03 06:23] xuzhg commented on #17
[MetadataType(typeof(EFCustomerMetadataType))]
    public class EfCustomer
    {
        public int Id { get; set; }

        public string Name { get; set; }
    }

    public class EFCustomerMetadataType
    {
        [Required]
        public string Name { get; set; }
    }

[2016-02-03 06:25] xuzhg commented on #17
I think we can support it in 5.9.

[2016-02-03 11:02] m7milan commented on #578
@xuzhg
Greetings, I am looking at [this SkipQueryOption.cs](https://github.com/OData/WebApi/blob/master/OData/src/System.Web.Http.OData/OData/Query/SkipQueryOption.cs)

Specifically the get of the Value property:
`

                    try
                    {
                        _value = Convert.ToInt32(RawValue, CultureInfo.InvariantCulture);
                    }

`
take a looka at the Raw

[2016-02-03 15:48] nkbond opened #626 "swagger generation does not support navigation properties"
swagger document generated with ODataSwaggerConverter does not contain navigation properties in the entity, properties collection.

[2016-02-04 00:17] HefloRicardo opened #627 "Navigation Source Abstract Entity without a key"
You already implemented at #4 abstract types that does not have a key, but if you have an navigation source of another element, an invalid operation is thrown:

at OData/src/System.Web.OData/OData/Builder/ODataModelBuilder.cs

this part of the code:
`

[code]

`

does not check if the navicationSource.EntityType() is abstract.

Regards.

[2016-02-04 03:52] xuzhg commented on #624
@nickkin-msft

It is designed (built-in) in convention model builder to search and wrapper the derived types into metadata. This is the main functionality of convention model builder, and this is what most customers want using convention model builder. However, Web API OData also provides the other solution to do some custom configuration. for example, `Ignore()`. Besides, you can use **non-conven

[2016-02-04 11:19] joshcomley opened #628 "vNext OData port"
Hello all,

Seeing as ASP.NET 5/ASP.NET Core/vNext/whatever-you-want-to-call-it is most certainly the future, will there be any concerted effort to continue the port? I see it was last touched 8 months ago. I have a fork that works with RC2, but it is still a very limited port (no $expand, $skip, $top, support for nested properties etc.).

Does anyone have any thoughts on this?

Many thanks

[2016-02-04 12:42] DickvdBrink commented on #628
I'm really interested in this too! I tried it a few days ago and it was a bit painfull to get it working with a later release.

@joshcomley, the one in master is indeed 8 months ago - but in the [vnext](https://github.com/OData/WebApi/tree/vNext) **branch** (not the folder) there is still some progress :)

[2016-02-05 02:02] xuzhg opened #629 "Cannot serialize null entity"
Codes:

[code]

However, if the entity is a zero-or-one navigation, it maybe "null". So, please investigate it.

[2016-02-05 02:43] xuzhg commented on #627
@Venki-Ricardo

Would you please tell us more detail about " an navigation source of another element"?

And What error message do you get?

Thanks.

[2016-02-06 05:50] nickkin-msft commented on #624
Thank you for re-opening.  I was able to find a different solution to my problem which didn't involve creating a derived type and overriding the property.  In my case I never wanted to expose the derived type anyway, it was a workaround for a different issue and I didn't expect OData to pick it up in the first place.  Given that you expect this to happen (picking up derived types), it seems I may

[2016-02-06 06:07] chuanboz commented on #132
+1 for this request, any plan to implement this soon?

[2016-02-07 10:00] YehudahA commented on #628
+1

[2016-02-07 15:58] grahamehorner commented on #628
the odata library namespace should be renamed to Microsoft.AspCore.Odata aligning the namespace with the standardisation that has been selected for EF  & MVC etc. which targets the Core CLR.

[2016-02-07 21:14] parthsha commented on #170
@VikingsFan Can you please also add the following where you have request.GetOwinContext().Response?

//// in case you are NOT using Owin, uncomment the following and comment everything above
// HttpContext.Current.Response.StatusCode = (int)HttpStatusCode.NotFound;

My project wasn't using Owin and I was building OData prototype.

[2016-02-08 16:14] jlsfernandez commented on #157
Hello, the issue is that you have to use the $select inside the expand, try:

`GET http://localhost/odata/Categories?$expand=Products($select=Name)&$select=Name,Products`

[2016-02-09 13:32] janvanderhaegen opened #630 "$orderby with duplicate property in odata v4 failed."
This issue was supposedly fixed in #376 , but the fix does not cover all use cases.
For example
Customer > City(string)
Customer > Address(Address) > City(string)
Customer > WorkAddress(Address) > City(string)

Thanks to the fix in #376, one can order by Customer/City, Customer/Address/City without exception (they are different IEdmProperties)

However, one cannot order by Customer/Address/City, C

[2016-02-09 14:04] janvanderhaegen opened #631 "Nuget package OData v1-3 no longer up to date"
[The nuget package for OData v1-3](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.OData/) is no longer kept up to date
Last nuget package published was 5.7 (missing 5.8 at moment of writing).

Also, release documentation does not mention this nuget package anymore.

Why would the sources still be maintained if no binaries are distributed?

[2016-02-10 10:50] NicoJuicy commented on #567
@xuzhg @VikingsFan sorry for not following up. I only saw the notification today.

I worked arround it by splitting it up in a  different API call.

[2016-02-10 16:57] Rosefield opened #632 "Issues with aggregates using V5.9.0-beta"
Hello,

I have been working on a project that is utilizing OData as part of a reporting framework, and was excited to see that the basic aggregation extensions had been merged in. Obviously I realize this is still the beta release and didn't expect everything to work perfectly as described.

Below are some issues I had ran into while testing the new capabilities.

Given the simplified domain model

[2016-02-14 01:19] VikingsFan opened #633 "Aggregation: Support $filter, $orderby after Aggregation"
If the result is a collection, $filter, $orderby, $expand and $select work as usual on properties that are defined on the output set after evaluating $apply. (http://docs.oasis-open.org/odata/odata-data-aggregation-ext/v4.0/cs01/odata-data-aggregation-ext-v4.0-cs01.html#_Toc378326311)

ODL is already fixed, this issue will be solved when ODL release.

[2016-02-14 01:32] VikingsFan opened #634 "Aggregation: Attempting an aggregate on a referenced collection"
Detail can be found in https://github.com/OData/WebApi/issues/632

[2016-02-14 01:32] VikingsFan commented on #632
Hi Rosefield, Thanks for your verify to our Aggregation feature!
The first url `https://localhost/v5/odata/contributions?$apply=aggregate(Amount with sum as Total)` should working, you can check your package version, I also upload a [sample project](https://github.com/VikingsFan/SampleForOData/tree/master/AggregationSample) with same model.

The second url is not valid $groupby is not acceptable,

[2016-02-14 01:38] VikingsFan commented on #630
@janvanderhaegen Thanks! Would you like to submit a PR for this issue :)

[2016-02-14 04:18] Rosefield commented on #632
Hello VikingsFan,

For the first item, it is hard to tell which version exactly is needed, so of all the odata packages, I have
- Microsoft.Data.OData V5.7.0 (no pre release version available)
- Microsoft.AspNet.OData V5.9.0-beta (pre release)
- Microsoft.OData.Core V6.15.0-beta (pre release)

For the second item I managed to mistype "group by" instead of "order by" many times, I have edited the o

[2016-02-14 04:27] VikingsFan commented on #632
Microsoft.Data.OData V5.7.0 (no pre release version available) this is for V1-3. remove this maybe we can get the first url working, check my sample project maybe helpful too.

[2016-02-14 08:22] VikingsFan commented on #170
Updated Thanks, you can give us a PR next time ;)

[2016-02-15 23:05] nigel-dewar commented on #446
I can confirm the exact same issue

[2016-02-16 02:18] xuzhg commented on #446
@mdavisJr @nigel-dewar Which version do you use? I investigate it in Web API OData V5.8, it seems work fine at my side. See my test project [here](https://github.com/xuzhg/WebApiSample/commit/f30607cf797cf3f3b9e9e8b4fc2f8a21eadf646b).

[2016-02-16 02:32] xuzhg commented on #631
@janvanderhaegen

There's no feature added or bug fixed in OData V1-3 since V5.7.
However, If there's a serial bug or an emergency feature requirement for OData V1-3, ODataTeam will put high priority to finish it and release new package.

Does the current package meet your development requirement? Do you have any concern for it?

Please let us know and we'd happy to help you resolve any OData rela

[2016-02-16 02:55] nigel-dewar commented on #446
Yes am using same versions as you. filter is fine within first level expand, such as for instance.

https://localhost:44301/api/workshops?$expand=SessionGroups($filter=isActive eq true)

but when using expand nested its no good
https://localhost:44301/api/capabilities?$expand=Workshops($expand=SessionGroups($filter=isActive eq true))

here are the some of the  references I am using ;

 <package id

[2016-02-16 02:57] nigel-dewar commented on #446
using same references as yourself v5.8

[2016-02-16 02:58] xuzhg commented on #446
@nigel-dewar Would you please provide me a sample project to repro?

[2016-02-16 03:48] nigel-dewar commented on #446
sure thing https://github.com/nigel-dewar/api-odata

[2016-02-16 03:49] nigel-dewar commented on #446
under SED_API you will .net 4.5 web api project with relevant parts.

[2016-02-16 07:44] janvanderhaegen commented on #631
Hey @xuzhg
Actually, I thought the sources for v1-3 and v4 use a set of common classes? If so, any fix in v4 lately which has an impact on those classes should lead to a better v1-3, right?

My team's running into  #630, which I reported for v4 but is also a bug in v1-3, hope to find the time to submit a PR later this week.

Thanks

J

[2016-02-17 01:02] andrensairr commented on #194
Any news on this, or a workaround besides a custom function? I really want this:
GET http://somedomain.com.au/odata/Programs?$filter=Sessions/$count+lte+MaxSessions'

[2016-02-17 02:31] VikingsFan opened #636 "OData EnableAlternateKeys can't use while EnableEnumPrefixFree/EnableUnqualifiedNameCall"
Related code: https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/ODataUriResolverSetttings.cs#L30-L50

it's confuse to customer that those settings can't enable together, we need change the implementation and maybe provide a api for customer to set the UriResolver directly.

[2016-02-17 02:47] xuzhg commented on #446
@nigel-dewar your project is a pure web api project. I can't find information related to OData. Would you please create a Web API OData project for me to repro? Thanks.

[2016-02-17 06:13] xuzhg commented on #13
We support only public properties. Close it.

[2016-02-17 06:13] #13 closed

[2016-02-17 06:17] xuzhg commented on #16
Close it.

[2016-02-17 06:17] #16 closed

[2016-02-17 06:23] xuzhg commented on #19
Containment was supported. Thanks.

[2016-02-17 06:23] #19 closed

[2016-02-17 06:29] xuzhg commented on #40
So far, complex type doesn't allow to include navigation property.

[2016-02-17 06:29] #40 closed

[2016-02-18 03:24] xuzhg opened #637 "Functions/Actions bound to entity should be advertised"
See #84.

Currently, action bound to entity is advertised in payload. But not the function. please investigate to add it.

See [OData spec](http://docs.oasis-open.org/odata/odata-json-format/v4.0/errata02/os/odata-json-format-v4.0-errata02-os-complete.html#_Toc403940649):

<h3>15 Bound Function</h3>

A function that is bound to the current entity is advertised via a name/value pair where the name

[2016-02-18 04:00] VikingsFan commented on #157
@alexschrod like jlsfernandez said, use select in expand if the "Products" is a navigation property is working.

[2016-02-18 04:00] #157 closed

[2016-02-18 04:02] #87 closed

[2016-02-18 06:32] #495 closed

[2016-02-18 07:39] #306 closed

[2016-02-18 15:08] EricSch opened #638 "How to intercept the query and change some query properties?"
For example, we are sending some additional filters. When the fields aren't in the returned entity, there is an validation error. But we need the additional query filters to build our own query.

I tried to overwrite the FilterQueryValidator, but the FilterClause is already evaluated (Why?? The parser should only parse them, not validated).

Thanks

[2016-02-20 09:40] phillipc opened #639 "Atom-Support in Odata V4"
Wenn I upgrading my odata v3 web api to the odata v4 libraries, the service always return json results.
For testing, I have forcing atom+xml results without positiv results

`Request.Headers.Add("Accept", "application/atom+xml");`

Old v3 libraries: https://www.nuget.org/packages/Microsoft.AspNet.WebApi.OData/5.7.0
New v4 libraries: https://www.nuget.org/packages/Microsoft.AspNet.OData/5.8.0

Is t

[2016-02-20 17:43] nigel-dewar commented on #446
Hi There, sorry I dont have time to do at the moment. Regardless you know there is a fault when using as a web api project. Since alot of folks will be using web api over Odata api controllers, its up to you if you wish to fix, im just pointing it out that it doesn't work. Thanks for having a look at this for me though. appreciate it.

[2016-02-21 13:31] joshcomley commented on #628
Hey I am sorry I didn't get notified of these messages! I have a branch that I maintain that I keep working up to date with the latest ASP.NET Core version. I am unsure whether I should bother with pull requests to this, or as it looks relatively abandoned simply start a new open source OData project with the implementation I've adapted from here as a base. Does anyone know if this is legal to do?

[2016-02-21 13:35] joshcomley commented on #628
My branch can be found here:
https://github.com/joshcomley/WebApi/

It is up to date with ASP.NET Core, and with the namespace change, too.

[2016-02-21 13:37] joshcomley commented on #628
This also includes some support I've added for OData actions in the vNext implementation. Check my commit history for details of updates.

[2016-02-21 15:53] joshcomley commented on #628
FYI I have a pull request to get my work (and @grahamehorner's original work that mine was based on) merged:

https://github.com/OData/WebApi/pull/611

[2016-02-22 01:46] xuzhg commented on #639
@phillipc

So far, Atom is still in committee specification, not in OASIS OData standard, see [here](http://www.odata.org/documentation/). OData V4 libraries and the related Web API OData libraries follow up the OASIS standard. Therefore, Atom is temporal removed from libs.
Once the Atom becomes the part of the standard, OData team will add the support in libs ASAP. Thanks.

[2016-02-22 02:43] xuzhg opened #640 "DataContractAttribute, etc don't work for enum type"
for example:

[code]
the related codes are https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Builder/Conventions/Attributes/DataContractAttributeEdmTypeConvention.cs#L14

It only supports the "StructuralTypeConfiguration". We should add the enum type configuration.

[2016-02-22 12:37] RemcoBlok commented on #512
Can somebody give me an update on this bug please? Also, what does the label 'Open for contribution' mean? I see other issues that have been labelled as bugs and been assigned to a milestone. I would appreciate if Microsoft could take ownership of this issue too. After all, referencing content-id's in batches works with WCF data services, but is broken with web api. And this issue I raised is not

[2016-02-23 06:19] VikingsFan commented on #608
@titanski server should implement the logic to return 406 error if it doesn't support stream.

[2016-02-24 01:27] xuzhg commented on #134
supported after 845d81de67a170dc1a2113f0c322f57e16e78f44

[2016-02-24 01:27] #134 closed

[2016-02-25 02:15] chinadragon0515 commented on #194
One more note, specification has a bug before, it is fixed in this link https://tools.oasis-open.org/version-control/browse/wsvn/odata/trunk/spec/ABNF/odata-abnf-construction-rules.txt?op=diff&rev=781

Which means orderby and filter based on complexColl/TypeCast/$count are supported too.

[2016-02-25 02:40] xuzhg commented on #194
See odata lib commit: https://github.com/OData/odata.net/commit/1b58ec6cab8965e68b4a8639262583adbce04e22

[2016-02-26 10:30] eloekset opened #643 "Overriding OData URLs by Request.RequestUri doesn't work for @odata.context URL"
As explained in this question at StackOverflow (http://stackoverflow.com/questions/35628422/override-host-of-webapi-odata-links) I'm hosting an OData WebAPI on a server that is not publicly exposed. I access the API from client side JavaScript using a URL rewrite on the web server, passing the request over to the local app server. Because of this, all OData URLs are generated based on the internal

[2016-02-26 17:26] rbonini commented on #65
+1

[2016-02-26 19:26] vxa123 commented on #185
Any update? We need it too.

[2016-02-26 19:31] vxa123 commented on #185
Can I checkin this fix?

[2016-02-26 19:47] vxa123 commented on #185
Please make it high priority.

[2016-02-28 07:32] dfch commented on #33
Is there any information if this issue will make it into the [vNext](https://github.com/OData/WebApi/milestones/vNext) milestone?

[2016-02-29 01:07] xuzhg commented on #185
@vxa123 You are welcome to send us Pull Request to support this.

[2016-02-29 08:14] VikingsFan commented on #638
@EricSch the error should happen in Odata Lib, when parsing filter=UndefinedProperty, it is by design to detect the invalid query option, relative code https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/Binders/EndPathBinder.cs#L107-L118 , maybe you can give us a PR for OData Lib, relative Issue : https://github.com/OData/odata.net/issues/375

[2016-02-29 09:54] manojkapoor commented on #126
Do we have any plans to address this bug for the near release?

[2016-02-29 20:26] nafnaf1000 commented on #126
It dos work.                .expand("tempPallets($select=id,time,cispShipmentIdActual,poId;$count=true;$orderby=id%20desc;$top=1)")
The issue is that it takes a long time.,
I qry went from 500ms to 3.2 sec

[2016-03-01 01:17] xuzhg commented on #126
@manojkapoor: It included in [v5.8](https://www.nuget.org/packages/Microsoft.AspNet.OData/5.8.0). Would you please take a look and try it?

@nafnaf1000:  Your query options do a lot of things. :) Does the performance (from 500ms to 3.2sec) work for you?

[2016-03-01 15:34] nafnaf1000 commented on #126
@xuzhg
not at all. I am looking for a better way.
the expand that I have is only on 25 rows of data so it relay slows it down.

each one of the $count $orderby $top adds a big slowness do it. I did not test witch one slows it down the most

[2016-03-02 02:41] xuzhg commented on #126
@nafnaf1000 would you please file a new issue for us to tracking on the performance?

[2016-03-03 21:41] chuanboz commented on #15
Any reason this is marked as low priority?

[2016-03-03 22:43] jackfree opened #644 "ODataMediaTypeFormatter does not expose an extensibility hook for changing uri base address"
For servers that sit behind a load balancer, the uri that the end server sees is often times not the uri that you want to use when generating OData uris in the response.  For example, a server behind a load balancer may see requests as 'http' instead of 'https', it may see requests as using an explicit host name or different port.

While there is a method in ODataMediaTypeFormatter for getting thi

[2016-03-04 05:57] xuzhg commented on #640
Fixed at: 74e2acb

[2016-03-04 05:57] #640 closed

[2016-03-04 21:36] jackfree commented on #643
I had a similar issue with OData.Context url's and not having enough control to override them - See issue #644.  I created pull request #645 as a potential solution.

[2016-03-05 08:15] TheWyzard44 opened #647 "[vNext] Task.Run"
version 6.0.0-alpha1

ODataOutputFormatter line 49

If you could please replace `Task.Run` with `Task.Factory.StartNew` (unless you have a good reason?)

I have a particular implementation that needs a custom TaskScheduler and Task.Run thwarts what I'm trying to do.

[2016-03-07 09:33] ash23 opened #648 "Due to OData issue Azure Mobile Apps and Mobile Services offline sync cannot use MongoDB c# driver 2.0 or greater"
Azure Mobile Apps / Mobile services offline sync clients cannot pull data from the server when the server is using MongoDB C# driver 2.0 or greater

Even though not reported in the context of Azure Mobile Apps / Mobile services but more generically for using OData with MongoDB please see issue 1423 originally reported to the MongoDB C# driver project but which now has been dismissed to instead be

[2016-03-08 07:24] VikingsFan opened #649 "Complex type cast segment"
Merge:

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Routing/ComplexCastPathSegment.cs

and:

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Routing/CastPathSegment.cs

[2016-03-08 07:26] VikingsFan opened #650 "AllowedQueryOptions need a better name"
Rename a better name for:

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Query/AllowedQueryOptions.cs

[2016-03-08 07:27] VikingsFan opened #651 "Action/Function Link builder"
Merge the action/function link builder.

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Builder/ActionLinkBuilder.cs

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Builder/FunctionLinkBuilder.cs

[2016-03-08 07:27] VikingsFan opened #652 "Delta<T> for complex/entity type"
Rename:  https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/DeltaOfTEntityType.cs

Then merge complex/entity delta.

[2016-03-08 07:27] VikingsFan opened #653 "DateTime"
Consider to remove the "time zone" for DateTime support.

Or:

Use other type (for example, string) to support DateTime

[2016-03-08 07:27] VikingsFan opened #654 "Un-supported primitive types"
Refactor:

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/Serialization/ODataPrimitiveSerializer.cs#L148-L238

Make a solution how to support the un-support primitive types.

[2016-03-08 07:28] VikingsFan opened #655 "Attribute routing failed"
Don't fail for unknown routing or
Just return the correct error message?

Is it a breaking change?

[2016-03-08 07:29] VikingsFan opened #656 "Select expand wrapper"

[2016-03-08 07:29] VikingsFan opened #657 "Merge controller/action select"

[2016-03-08 07:30] VikingsFan opened #658 "Customize the conventions for convention model builder"

[2016-03-08 07:30] VikingsFan opened #659 "Customize the type mapping"

[2016-03-08 07:31] VikingsFan opened #660 "Merge entity type & complex type"
Customer doesn't need to know which type they are building

[2016-03-08 07:31] VikingsFan opened #661 "Instance annotation support"

[2016-03-08 07:31] VikingsFan opened #662 "Customize the filter bind"

[2016-03-08 07:32] VikingsFan opened #663 "More annotations to easy model builder"

[2016-03-08 07:32] VikingsFan opened #664 "Parameter binding"
string parameter has different behavior whether we use [FromODataUri] or not.
It should be consistent.

For others, we need refactor currently model binder to improve the parameter binding

[2016-03-08 07:33] VikingsFan opened #665 "Improve Serialize/Deserialize"
Sync with Performance. @luoyan0517

[2016-03-08 08:18] xuzhg commented on #644
@jackfree Would you please help verify the commit? I do a little bit change for you PR. Give me any feedback. Thanks.

[2016-03-08 19:47] jackfree commented on #644
Thanks Sam - I will verify that this change will fix the issue we have with base URIs.

[2016-03-09 21:23] peder commented on #229
I also feel that an official statement is needed on the future of the OData libraries. Is a rebranding also in order now that ASP.NET Core 1.0 is official?

[2016-03-10 00:37] chuanboz commented on #174
+1

[2016-03-10 00:38] chuanboz commented on #121
+1

[2016-03-10 02:45] markdstafford commented on #229
Hey all - this is as official as the statement gets at this point.

We will be supporting ASP.NET Core 1.0 eventually. It's not on the roadmap right now, but +1s help us prioritize.

A major part of the problem is that the breaking changes in ASP.NET Core mean that we have a hard choice: do we put all of our effort into the version of our libraries that runs on .NET Core, or do we do less features

[2016-03-10 02:49] markdstafford commented on #229
Final thought: we'll try to publish some guidance soon with our thinking around RESTier, Web API OData, ODataLib, and how they all fit together going forward. I think the story is pretty dang slick, and I hope other people will agree.

[2016-03-10 09:08] DickvdBrink commented on #665
Can you tell us what is going to be improved/changed?
Is it about performance? Is it for the full framework or also for vNext?

[2016-03-10 09:11] DickvdBrink opened #668 "vNext: ODataJsonConverter doesn't seem right"
[ODataJsonConverter](https://github.com/OData/WebApi/blob/df80845387a41dada6c40352784a27734062d5dd/vNext/src/Microsoft.AspNet.OData/Formatter/ODataJsonConverter.cs#L91) doesn't seem right; it is used by the [ModernOutputFormatter](https://github.com/OData/WebApi/blob/df80845387a41dada6c40352784a27734062d5dd/vNext/src/Microsoft.AspNet.OData/Formatter/ModernOutputFormatter.cs#L83) which is disabled

[2016-03-10 10:30] DickvdBrink commented on #229
Ouch, this is a bit painful to hear. Some guidance for vNext would be appreciated;

The nightly for vNext on MyGet is quite old - is this something you guys will update when there are some nice PR's added (still under a pre-release label of course)? Because right now it isn't possible to use it and you have to build from source. I think that isn't what most developers want to do - just a guess, th

[2016-03-10 10:38] grahamehorner commented on #229
There is still a lot of movement with regards to ASP.NET core & dotnet cli which is making life a little difficult I think before starting working on a version of the OData API for ASP.NET core a build of ODataLib for dotnet core/cli http://odata.github.io/odata.net as these are fundamental to building the OData API

[2016-03-10 11:31] DickvdBrink commented on #229
@grahamehorner, that one is already there right? So that isn't really the problem I believe.
[nuget file](https://github.com/OData/odata.net/blob/eb6e7d879cb8e78b442a64f66434a570b101788b/src/Microsoft.OData.Core/Build.NuGet/Microsoft.OData.Core.Nightly.Release.nuspec#L47-L49)

http://www.nuget.org/packages/Microsoft.OData.Core/6.15.0-beta

[2016-03-10 18:08] pisees opened #669 "[vNext] Support for Entity Framework Core"
Hi,

What is the roadmap for support of Entity Framework Core?

Thanks,

[2016-03-11 00:15] grahamehorner commented on #229
@DickvdBrink that may be the case but given the churn ASP.NET core currently is undergoing along with the dotnet cli the  Microsoft.OData.Core is targeted at version which is behind the most current and until the churn slows/rc2 is released I feel any effort may be wasted.

[2016-03-11 05:08] xuzhg commented on #665
@DickvdBrink:  It's related the performance. and it's full vCurrent. not for vNext.

[2016-03-11 05:09] xuzhg commented on #669
@pisees which version do you want to support EF core? Can you mention more?

[2016-03-14 03:14] pisees commented on #669
Hi,

I am looking for Entity Framework Core support in OData v4 with release that lines up with ASP.NET and Entity Framework Core.

EF Core Roadmap lines up with ASP.NET Core: https://github.com/aspnet/EntityFramework/wiki/Roadmap

Overall trying to understand how the roadmaps of ASP.NET, Entity Framework and OData v4 line up.

Thanks, Kurt

[2016-03-14 05:43] VikingsFan commented on #632
Close as sub issues are created

[2016-03-14 05:43] #632 closed

[2016-03-14 07:25] VikingsFan commented on #559
Merged 14db4e498b46f810cde37f64bdf3451608fe575b

[2016-03-14 07:25] #559 closed

[2016-03-14 10:00] RavindraBarapatre opened #670 "Register defaultHandler and batchHandler both in HttpConfiguration.MapODataServiceRoute"
Hello,

I am trying to enable 2 features in service i.e
**defaultHandler: new ODataNullValueMessageHandler() { InnerHandler = new HttpControllerDispatcher(config) })**

and

**batchHandler: new DefaultODataBatchHandler(GlobalConfiguration.DefaultServer));**

How can I register both in MapODataServiceRoute()?
I think we can register one at a time. if I register both separately, It override last one

[2016-03-14 12:49] snebjorn commented on #536
As far as I can tell the only way around "already an open DataReader" is to use `.Include(...)`.
But since users can expand any navigation property, I cannot "prepare" the query.

I was looking through your code to see if I could make it do an `.Include` when there was an $expand or `AutoExpand` property.

I found this in `System.Web.OData.Query.Expressions.SelectExpandBinder`

[code]
If this actu

[2016-03-14 20:37] lencharest commented on #644
I'd like to make a couple of suggestions regarding the API exposed by these changes.

First, the term used in the OData specs for the base URI of an OData service is _service root_. The API should use terminology consistent with the spec, so I suggest that the new public method `GetDefaultBaseAddress` be renamed to `GetDefaultServiceRoot`.

Second, class properties are typically named as nouns or

[2016-03-14 20:59] jackfree commented on #644
Those are good points.  The code has already been pushed, but I will rename the public static method to GetDefaultServiceRoot, and change the property to ServiceRootResolver

[2016-03-14 21:58] lencharest commented on #644
:+1:

[2016-03-14 22:00] jackfree commented on #644
Actually it looks like the OData folks made the name change and exposed the property as a Func called BaseAddressFactory, so we're half-way there with the naming.  I agree that ServiceRoot would be better since that's the official OData terminology though

[2016-03-14 22:36] jackfree commented on #644
Updated PR

[2016-03-15 06:28] xuzhg commented on #619
Steps:

1. Use Policheck tool to run the clean clone.
2. Resolve the Policheck results
3. Re-un Policheck tool to generate the policheck result excel file.
4. Open the http://som/ScanOutputManager/ScanOutputMgr.application?workspace=9f1a8b62-93cb-4d12-b147-e735dae5964f
5. Upload the result excel file
6. Triage all items, for example select false positive.

[2016-03-16 00:59] chinadragon0515 opened #673 "Support property path in select"
Per specification, ~/People?$select=UserName,Address/City should be supported, and now this is not supported in WebApi.

[2016-03-16 01:06] VikingsFan commented on #673
Duplicate with https://github.com/OData/WebApi/issues/196

[2016-03-16 01:06] #673 closed

[2016-03-16 02:02] VikingsFan commented on #185
Merged f07a9d3412114cefb2f0eb8b4e36cc2b0a3305d3

[2016-03-16 02:02] #185 closed

[2016-03-16 02:33] VikingsFan opened #674 "Rename EntityInstanceContext to EntityContext"
To keep consistent with FeedContext

[2016-03-16 03:05] VikingsFan commented on #637
Merged b8fe7618fc735015453a97619fb12debf7f70dc4

[2016-03-16 03:05] #637 closed

[2016-03-16 03:10] chinadragon0515 commented on #167
OData lib has no issue now, refer to http://services.odata.org/V4/TripPinService/People?$expand=Friends/$ref

Also I did some debug, and find in class SelectExpandBinder, there is a method GetPropertiesToExpandInQuery, we have selectItem as ExpandedNavigationSelectItem, but for $ref, its type will be ExpandedReferenceSelectItem, so it will assume no items are needed to be expanded. And will cause

[2016-03-16 06:00] VikingsFan opened #675 "Use Operation instead of Procedure"
For now is not consistent,

[2016-03-16 09:55] dontwork opened #676 "Order the return object properties according to the order they are provided in the $select url param"
Just looking to see if this is possible to achieve without having to write some ordering code

[2016-03-17 00:50] VikingsFan commented on #676
@dontwork would you please tell us more about your scenario? It will be helpful for us to give a solution :)

[2016-03-17 03:23] balaji-k82 commented on #404
You do not need to wait, if you do not mind to use a hack. Can you try using reflections to update the property ResolverSettings

[2016-03-17 10:47] vojtechvit opened #678 "Support omitting properties for permission reasons and setting Core.Permissions instance annotation instead"
[OData-Protocol: 11.2.2 Requesting Individual Entities|](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398293) _"Properties that are not available, for example due to permissions, are not returned. In this case, the Core.Permissions annotation, defined in [OData-VocCore] MUST be returned for the property w

[2016-03-17 11:07] vojtechvit commented on #678
Several ideas on how to implement this:

### Special properties on the model following a convention-based name or decorated with a special attribute
Example:
[code]
If the value of `EmailAddressPermissions` property is set to `null`, `Read` or `ReadWrite`, the value of `EmailAddress` is included in the HTTP response.
If the value of `EmailAddressPermissions` property is set to `None`, the value of

[2016-03-18 06:37] kotapatisiva opened #679 "HttpConfiguration.MapODataServiceRoute with route prefix less than 3 charecters is not working"
Hi All,
I tried to use HttpConfiguration.MapODataServiceRoute with routeprefix parameter less than 3 characters(for example SC) and the call to get the metadata failed, I increased to 3 characters(for example SCC) the  call to get metadata worked, So I think there is some issue in this with the length of the routeprefix string.

[2016-03-18 08:34] #371 closed

[2016-03-18 08:34] #266 closed

[2016-03-18 08:34] #267 closed

[2016-03-18 08:34] #268 closed

[2016-03-18 08:35] #270 closed

[2016-03-18 08:35] lewischeng-ms commented on #271
Closing the vNext-series issues since they are no longer update to date.

[2016-03-18 08:35] #271 closed

[2016-03-18 08:35] #269 closed

[2016-03-18 19:04] grahamehorner commented on #269
edmx as I understand it wont be supported by EF (v7) Core as only simple less complex models will only be supported and the EF team state if your doing complex edmx models you should use EF v6? is the plan to support EFv6 and EF (v7) Core ?

[2016-03-18 19:20] grahamehorner commented on #678
This is a good however the model provided should be abstracted into some like database views; a user typically has insert/create select/read update/write delete permissions on a entity set; and execution on methods/database stored procedures.

I think utilising the AuthorizationPolicy filter is possibly the best way to achieve what would amount to a dynamic/user schema for the data source based on

[2016-03-19 18:17] vojtechvit commented on #678
@grahamehorner Our use case is of a social network where access permissions are user-centric and at the level of individual data entries. For instance, users are authorized to see e-mail addresses only of users that approved it. It's a behavior very similar to Facebook - there you set visibility of every piece of information in your profile individually and consequently that information may or may

[2016-03-21 00:58] xuzhg opened #681 "Using OData path segment class directly"
Consider to use the [ODataPathSegment ](https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/SemanticAst/ODataPathSegment.cs) directly, remove tht web api odata class.

[2016-03-21 01:21] VikingsFan opened #682 "Updata ODataLib version from beta to rtm"

[2016-03-21 01:35] xuzhg opened #683 "Improve the routing error message"
Improve the routing error message, output more information about the failed segment, return the correct status code

[2016-03-21 03:02] luoyan0517 opened #684 "Improve GetOrCreatePropertyGetter in TypedEdmStructuredObject"
GetOrCreatePropertyGetter is a hot-path (8.8%) in serializing

Related https://github.com/OData/WebApi/issues/665

[2016-03-21 03:07] luoyan0517 opened #685 "Try to reduce duplicate operations about creating same type ODataEntry in the a ODataFeed"
Related https://github.com/OData/WebApi/issues/665

[2016-03-21 03:12] xuzhg commented on #670
@RavindraBarapatre

Can't you use the overload version as below?

[code]

[2016-03-21 03:13] luoyan0517 commented on #685
like operation: GetNavigationSourceLinkBuilder, CreateSelectExpandNode...

[2016-03-21 03:18] luoyan0517 opened #686 "CreateEtag is called for each entry"
Etag should be calculated on-demand, calculating every time is just wasting time.

Related https://github.com/OData/WebApi/issues/665

[2016-03-21 03:18] xuzhg commented on #678
@vojtechvit  Can you use: 1. Open type and dynamic property or  2. Custom function/action?

[2016-03-21 06:59] VikingsFan commented on #682
Merged 46daf05

[2016-03-21 06:59] #682 closed

[2016-03-21 07:08] vojtechvit commented on #678
@xuzhg
**Open types workaround** - if we make our types open types in all such scenarios, there will be many basic properties missing from the model. There is not much point in using OData anymore then, because for me the biggest added value is the well-defined model and the ability of client libraries to use it.

**Custom functions workaround** - in a system like the above described (social netwo

[2016-03-21 07:31] vojtechvit commented on #678
By the way - we don't necessarily need LINQ support for this. This feature could be supported by just adding the possibility to exclude properties of some returned objects and to add instance property annotations to some returned object properties.

It could look something like this:

[code]

[2016-03-21 07:40] VikingsFan commented on #3
#613 related

[2016-03-21 07:42] #3 closed

[2016-03-21 07:43] #275 closed

[2016-03-21 07:45] #308 closed

[2016-03-21 07:49] VikingsFan commented on #112
Fixed with 1225ef1

[2016-03-21 07:49] #112 closed

[2016-03-22 02:42] VikingsFan commented on #612
Thanks, Merged 56c61a1b957054e02ada5c35aed9735a83bd11a2

[2016-03-22 02:51] YogiBear52 commented on #612
Thanks for merging the code!
Will it be included in the full 5.9 release?

Yogev.
בתאריך 22 במרץ 2016 4:43 לפנה״צ,‏ "Fan Ouyang" <notifications@github.com>
כתב:

[2016-03-22 02:53] VikingsFan commented on #612
Sure, Thanks for your PR, if there is a end to end using scenario for our github.io will be perfect.

[2016-03-22 02:57] YogiBear52 commented on #612
I am not near a computer and won't be for the next two weeks, so I can't
write any ,but there are few unit tests which pretty much covers all the
future.
Tell me if they are fine with you
בתאריך 22 במרץ 2016 4:53 לפנה״צ,‏ "Fan Ouyang" <notifications@github.com>
כתב:

[2016-03-22 03:10] VikingsFan commented on #612
Okay, we'll try to add for you

[2016-03-22 03:18] YogiBear52 commented on #612
Thanks, feel free to ask me if you have any questions
בתאריך 22 במרץ 2016 5:10 לפנה״צ,‏ "Fan Ouyang" <notifications@github.com>
כתב:

[2016-03-22 07:05] VikingsFan commented on #679
@kotapatisiva you are using WebAPI/OData V4 or V3? Can you give more detail about your code? :) I have tried use a less than 3 charecters route prefix in test case and it can get Metadata successfully.
My sample code:

    ODataConventionModelBuilder builder = new ODataConventionModelBuilder();
    builder.EntitySet<FormatterAccount>("Accounts");

    var config = new[] { typeof(MetadataController

[2016-03-22 15:50] oliroy opened #687 "OData for Web Api throws error with latest version of OData.Core Lib (6.15.0.0)"
Hi

When trying to access a OData endpoint this error is now thrown:

Could not load type 'Microsoft.OData.Core.UriParser.Extensions.Semantic.ApplyClause' from assembly 'Microsoft.OData.Core, Version=6.15.0.0

Details:

The OData.Core lib was upgraded through nuget from 6.14.0.0 to 6.15.0.0.  Going back to older version resolves this issue.

Please advise.

[2016-03-23 00:54] VikingsFan commented on #687
@oliroy We have some public API change from OData Lib 6.15 beta to 6.15, WebAPI 5.9's release will fix this problem, thanks!

[2016-03-23 19:29] oliroy commented on #687
Thanks for letting me know!

Cheers,

[2016-03-23 23:12] lthib opened #688 "vNext: AttributeConvention does not apply AttributeFilter when retrieving type attributes"
[\Builder\Conventions\Attributes\AttributeConvention.cs:81](https://github.com/OData/WebApi/blob/vNext/vNext/src/Microsoft.AspNet.OData/Builder/Conventions/Attributes/AttributeConvention.cs#L81) does not filter the returned attributes using the AttributeFilter property. The result is that if the class type in question has any attribute, all conventions will be applied to it.

[2016-03-25 02:57] xuzhg opened #689 "OData Expand overrides Entity Framework includes"
Transfered from https://github.com/OData/odata.net/issues/356

Customer @HenkHui said:

I have posted a question on Stackoverflow regarding OData expands:

http://stackoverflow.com/questions/33164537/odata-expand-override-entity-framework-includes

Any suggestions?

[2016-03-25 03:02] xuzhg opened #690 "ForeignKey properrty nullable=false not set"
Transferred from: https://github.com/OData/odata.net/issues/337

[2016-03-25 05:57] VikingsFan commented on #689
@HenkHui we use element type like Employee when select all properties, so we lose Address when composing the Linq expression, but if you select Address, it will come in result because it's not select all, so a work around maybe request like: $expand=Messages&$select=Address,Id,Name

[2016-03-25 09:06] pysco68 commented on #690
(just subscribing notifications as I was the one opening https://github.com/OData/odata.net/issues/337)

[2016-03-25 21:14] baselsalam commented on #7
The link to the tutorial is broken :(: http://odata.github.io/WebApi/Complex-Entity-As-Function-Parameter/

[2016-03-26 01:08] xuzhg commented on #7
@baselsalam  Thanks. Can you refer to: http://odata.github.io/WebApi/#04-06-function-parameter-support

[2016-03-28 01:38] VikingsFan commented on #650
Also consider other Allowed..... class name.

[2016-03-28 02:01] VikingsFan commented on #633
46daf05d6829b7390c1b88bf92df933d034dabbf

[2016-03-28 02:01] #633 closed

[2016-03-30 02:14] VikingsFan commented on #509
Bing: can get the search result perfectly.
Google: use https://www.google.com/webmasters/tools/submit-url?continue=/addurl to add url, now we can search odata.github.io/webapi, but didn't get expected result when search content.
Baidu: use http://zhanzhang.baidu.com/linksubmit/url?sitename=http%3A%2F%2Fodata.github.io%2Fwebapi to add url, waiting for the result.

[2016-03-31 06:34] VikingsFan commented on #643
Close as #645 is merged. Please reopen it if you have any concern.

[2016-03-31 06:34] #643 closed

[2016-03-31 06:35] #687 closed

[2016-03-31 06:36] VikingsFan commented on #665
close this as sub item are opened.

[2016-03-31 06:36] #665 closed

[2016-03-31 08:01] waninlezu opened #691 "System.StackOverflowException on MangleClrTypeName"
I got a System.StackOverflowException on MangleClrTypeName

 private static string MangleClrTypeName(Type type)
        {
            Contract.Assert(type != null);
            if (!type.GetTypeInfo().IsGenericType)
            {
                return type.Name;
            }
            else
            {
                return String.Format(
                    CultureInfo.InvariantCulture,

[2016-03-31 17:22] YogiBear52 commented on #612
Hey!

Have you already done it?
בתאריך 22 במרץ 2016 5:18 לפנה״צ,‏ "יוגב מזרחי" <yogev0mz@gmail.com> כתב:

[2016-04-01 01:09] VikingsFan commented on #612
I'm now a little busy about the releasing, PR is already merged, I'll have time to write the doc next week.

[2016-04-01 01:33] VikingsFan opened #692 "Public Api Test case error output."
if you didn't delete System.Web.OData.PublicApi.out, the file will end with error output string and cause the case fail.

[2016-04-01 03:38] VikingsFan opened #693 "ModelBound Attribute"

[2016-04-04 16:56] RemcoBlok commented on #512
Having upgraded to Web API OData v4 now, I can see there is no "verbose" json format way of referencing the content id of a created entity when updating a navigation property of another entity in a batch like "CurrentWorkflow":{"__metadata":{"uri":"$1"}}. It would seem with OData v4 you would use @odata.bind. Unfortunately, Web API OData v4 does not appear to support that either, as per https://gi

[2016-04-05 08:51] TomDu commented on #548
Hi @cwoodruff , can you present some more detailed scenarios for your needs so we can check if we already have a solution add one, thanks.

[2016-04-06 12:01] Jogai opened #694 "Flattened Results"
I found a document by @mikepizzo that says:

### Content-Type for Flat Results
The Content-Type for a result representing a flattened hierarchy includes the odata.flat parameter; e.g., application/atom;odata.flat or application/json;odata.flat.

Is this implemented? And is this part of the spec?
Its only mentioned in 2 documents (see https://www.google.nl/search?q=%22odata.flat+parameter%22)

[2016-04-08 02:53] xuzhg commented on #691
@waninlezu would you please share us your repo steps?

[2016-04-08 03:02] waninlezu commented on #691
@xuzhg hi sam,
我通过nuget安装完OData v4 后,在WebAPI 上启用了 EnableQuery 然后运行起来,一段时间后就crash了.
我使用了EF6 code first,webAPI 2.2,
以下是我使用的代码
`
public class ApiControllerBase<TRep, T> : ApiControllerBase where TRep : IRepositoryBase<T>
    {
        protected TRep Repository
        {
            get { return Container.Resolve<TRep>(); }
        }
        [HttpGet, EnableQuery]
        public virtual IHttpActionRes

[2016-04-08 03:06] xuzhg commented on #690
@pysco68

I don't think it's a bug. The nullable  of foreign key is along with the nullable  of its corresponding navigation property.

So, If you mark the navigation property with [Required] attribute as follows:

[code]

you will get the following metadata:

![image](https://cloud.githubusercontent.com/assets/9426627/14373182/e838fe04-fd79-11e5-9e1b-7bae06f606fc.png)

Thanks.

[2016-04-08 03:06] #690 closed

[2016-04-08 03:32] xuzhg commented on #691
Hi, @waninlezu

You only use the [EnableQuery] on your Web API project (not a Web API OData project), so, EnableQuery will try to create an OData EdmModel based on your action return CLR type. Then, Such CLR type will be used to build the corresponding Edm type. In this model building, web api odata use the
[code]
function to get the clr type name.

however, from your call stack, it seems that `Ma

[2016-04-08 06:11] waninlezu commented on #691
@xuzhg I can not reproduce this defect now... can't figure out why.

[2016-04-08 21:49] kyse opened #695 "DateTime Field Inconsistency with Json Serialization"
Hoping someone can help point me in the right direction.  I'm noticing inconsistency between the datetime field outputs from doing a query vs a get.

DB fields are datetime2.  EDM field is DateTime.

/odata/Table(1)?$format=json returns an entity with datetime fields as 2016-04-01T13:00:00
/odata/Table?$format=json&$top=1 returns an entity with datetime fields as 2012-04-01T13:00:00-04:00

using $

[2016-04-10 03:55] kyse commented on #695
Think I figured this out.

Found where odata.core was doing the conversions from the EDM DateTime field to DateTimeOffset and realized it was making use of DateTimeInfo from the HttpConfiguration.

So in WebApiConfig.cs:

[code]
That took care of the odata serializer conversion.

And for some reason since the single entity get is using Json.net, to keep things consistent:

[code]

[2016-04-10 03:55] #695 closed

[2016-04-11 01:51] xuzhg commented on #592
Install the SQL Express can work. Close it.

[2016-04-11 01:51] #592 closed

[2016-04-11 02:37] xuzhg commented on #578
1. Throw as early as fast
2. use MaxValue.

[2016-04-12 01:43] xuzhg commented on #694
@Jogai

I asked @mikepizzo and got information form him about the flattened result feature. It seems the committee has discussed it years ago because it looks an interesting feature, however it was never formally adopted as part of the odata specification.

Do you want to use this feature in your project? Can you share us more what you want? Thanks.

[2016-04-12 04:44] davidvicky commented on #136
We have use-cases (eg time description in TV), where we have to provide our own definition of what a point in time is relative to - eg local time, broadcast time, or UTC. Local time means the point in time (if measured in UTC) changes as the TV market changes. Broadcast time is like local time, but the new day starts at 6am instead of midnight - and to make matters worse, each network can have a d

[2016-04-12 07:07] Jogai commented on #694
Thanks for your answer.

I was using the grid from syncfusion which has column autogeneration : http://help.syncfusion.com/js/grid/columns#auto-generation
That feature does work best (or is more easy to use) on flat results, but I managed to make a workaround for that: http://www.syncfusion.com/forums/123647/odata-v4-generated-query-variant.

Aside from above implementation issues it seems to me t

[2016-04-12 14:38] superstrom opened #696 "Support for "contains" function in $filter"
OData V4 added a "contains" function that essentially switches the parameters of substringof (making them more consistent with other string functions)
http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part2-url-conventions.html#_Toc371341773

Is there any plan to add support for that function?

[2016-04-13 02:03] VikingsFan commented on #681
Merged		5056214

[2016-04-13 02:03] #681 closed

[2016-04-14 21:59] MaxWilson commented on #696
It's already there.

[2016-04-15 05:59] NicosNet opened #697 "EnumMember Attribute without value"
Hello, I was used to declare my enums like this:

[DataContract]
public enum SalesmanKind
{

    [EnumMember]
    None,
    [EnumMember]
    Multiple,
    [EnumMember]
    Exclusive
And since my last OData package upgrade EnumMembers disapears from my metadatas.

I think it's due to [this](https://github.com/OData/WebApi/issues/640) issue correction and sepecificly this condition
**!String.IsNullO

[2016-04-15 14:18] ayleen opened #699 "Delta<Entity> is Null in Patch/Put Actions"
If add return-object function like this:
"entity.EntityType.Collection.Function("UpdateSizeCharts").Returns<object>();"
Delta<Entity> in Patch/Put actions in every controller will be null.

[2016-04-15 23:18] chuanboz opened #700 "Support case-insensitive on ODataEnumSerializer and ODataEnumDeserializer"
Currently there is no easy way to turn on case-insensitive for enum serialization and deserialization, it would be great to have some flag like NameResolverOptions.ProcessEnumProperty to turn on case-insensitive and camel case support.

[2016-04-15 23:46] chuanboz commented on #683
+1, it is especially difficult to debug 404 error message indicate route could not found.

[2016-04-15 23:50] chuanboz opened #701 "ODataModelSelector - dynamic WebApi OData4 Model selection for the same shared controller for versioning"
We’re using same controller to sever multiple version of the same entity, we have some attribute that decorated on the entity property to indicate which version it will be included, something like below
[code]

We could built the model based on the versioning attribute and also we could select the correct model based on api-version http query string.

The question is, what is the best recommended

[2016-04-16 10:44] dr-noise opened #702 "The EDM.TimeOfDay type doesn't work in Microsoft.AspNet.OData 5.9.0 if declared as [Key]"
Here's the sample code:
Model that contains `TimeOfDay` property declared as `[Key]`:

[code]

Controller:

[code]

Config:

[code]

When I'm trying to access `http://localhost/odata/Data(Id=11:59:59)` endpoint, I get the following exception:

[code]

If I change `Data.Id` property type from `Microsoft.OData.Edm.Library.TimeOfDay` to `int`, everything works fine. `Microsoft.OData.Edm.Library.Date`

[2016-04-18 01:13] VikingsFan commented on #696
Close as it's already supported.

[2016-04-18 01:28] VikingsFan commented on #697
@NicosNet Thanks for your PR! before next version you can work around as

    builder.EnumTypes.Single(e => e.Name == "SalesmanKind").AddMember(SalesmanKind.None);

[2016-04-18 02:32] VikingsFan commented on #674
Merged  6a82086

[2016-04-18 02:32] #674 closed

[2016-04-18 02:32] VikingsFan commented on #675
Merged  6a82086

[2016-04-18 02:32] #675 closed

[2016-04-18 02:33] VikingsFan commented on #651
Merged  6a82086

[2016-04-18 02:33] #651 closed

[2016-04-18 03:11] VikingsFan commented on #697
Merged  660f3ab

[2016-04-18 03:11] #697 closed

[2016-04-18 08:05] VikingsFan commented on #702
@dr-noise related code : https://github.com/OData/odata.net/blob/cae9bbb85b5a45cc03dc42eec84f5e9eb1a41ed9/src/Microsoft.OData.Core/UriParser/Parsers/LiteralParser.cs#L35-L59

I have reroute your issue to ODL : https://github.com/OData/odata.net/issues/537

Close this one.

[2016-04-18 08:05] #702 closed

[2016-04-18 13:21] superstrom commented on #696
Perhaps I am missing something, but there is nothing for enabling contains in AllowedFunctions, and every request that uses contains fails validation with an ODataException "An unknown function with name 'contains' was found. This may also be a key lookup on a navigation property, which is not allowed."

[2016-04-18 23:41] jackfree opened #703 "GetPerRequestFormatterInstance needlessly creates two formatters per request"
GetPerRequestFormatterInstance wastes time and memory creating another formatter object just for the sake of validating parameters; this seems excessive; we should be able to borrow/copy/mimic the minimal validation code we need for these 3 parameters.

        /// <inheritdoc/>
        public override MediaTypeFormatter GetPerRequestFormatterInstance(Type type, HttpRequestMessage request, MediaTy

[2016-04-18 23:43] jackfree opened #704 "BaseAddressFactory does not work - custom delegate methods are never invoked."
The copy constructor for ODataMediaTypeFormatter does not copy over the value of the BaseAddressFactory.  Since a new ODataMediaTypeFormatter is created for every single request, the value of the property is lost, and custom implementations are never invoked.

Related to Issue #160 -- It seems like a fragile approach to have to copy over ODataMediaTypeFormatter members and create a new one for eve

[2016-04-19 01:24] VikingsFan opened #706 "contains in AllowedFunctions is SubstringOf which is confused"

[2016-04-19 01:24] VikingsFan commented on #696
for now, `contains` is `AllowedFunctions.SubstringOf`, IMO it should be `AllowedFunctions.Contains`, open issue https://github.com/OData/WebApi/issues/706 to track.

[2016-04-20 08:04] rw72000 opened #707 "Compatibility issue with EF7"
Hello,

Navigation property "one-to-many" expand produce error "Argument Types do not match" with EF7 whatever the provider used (SQL Server or Postgressql).

Any bug fix under developpement ?

[2016-04-20 18:02] chuanboz commented on #701
I want to propose something like below to support it:
1.	Introduce an IODataModelSelector interface very similar to IHttpControllerSelector and IHttpActionSelector, also with Get*Mapping and Select* method.

[code]

2.	Create a ODataFixedModelSelector class implement IODataModelSelector to return the passed in fixed model, to maintain current behavior.
3.	Override classes where IEdmModel is requir

[2016-04-21 08:10] chinadragon0515 opened #708 "[Protocol] Specifier a higher protocol version cause 404"
Refer to issue https://github.com/OData/RESTier/issues/112

Per protocol, when client specify a max version like v4.1, the server only support v4.0 , then there should no exception, but return response in v4.0.

After some code check, the related check logic is in class ODataVersionConstraint.

[2016-04-21 08:13] chinadragon0515 commented on #455
Related to issue https://github.com/OData/RESTier/issues/112

[2016-04-21 08:13] chinadragon0515 commented on #708
This is duplicate with https://github.com/OData/WebApi/issues/455, close the issue

[2016-04-21 08:13] #708 closed

[2016-04-21 12:22] JohnGalt1717 opened #709 "V5.9 causes Object Reference Not Set errors on endpoints that 5.8 worked fine on"
And the endpoints aren't even being called with oData parameters. As a result we haven't been able to upgrade. Changing the return type from IQueryable to IEnumerable solves the issue for obvious reasons but then we lose oData.

[2016-04-21 18:05] rjjkathy opened #710 "ETag parsing: protocol states opaque quoted string (on OData oasis spec), but current implementation is base64 encoding"
Here is the protocol reference:
http://www.ietf.org/rfc/rfc7232.txt
http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#HTTPConditional>

Currently ETag parsing implementation requires base64 string

1. if using base64 unquoted string
The client header will be If-Match: IjEzMGExODc0LTI3YzgtNDI4Mi1iZDMzLWEzODA0MzFlODUzN

[2016-04-22 01:07] VikingsFan commented on #709
@JohnGalt1717 is there more detail about the error, or a repro is very important for us to investigate

[2016-04-22 01:25] VitaliyKurokhtin opened #711 "Using same enum twice in a model causes null reference exception"
Following model breaks EDM model build:

[code]

Code to build mode:

[code]

### Assemblies affected
System.Web.OData, at least since 5.9.

### Reproduce steps
Just copy paste code from above and run it.

### Expected result
Normal model should be built, taking into account DataContract and EnumMember settings.

### Actual result
NullReferenceException is thrown.

### Additional details
This happ

[2016-04-22 02:30] VikingsFan commented on #711
Merged 529d3453b97a44911148a558b9857b8a99546a85

[2016-04-22 02:30] #711 closed

[2016-04-23 00:05] ivanko2000 commented on #574
I second that request. I too need to implement support for media resources and although there are indications that this is now supported, I just can't seem to figure it out, even though I also did review all available relevant content, including the code in https://github.com/vojtechvit/ODataFileServer

I would appreciate any pointers into the minimal viable use of the feature described in http://

[2016-04-25 02:15] xuzhg commented on #649
Resolved with the ODataPathSegment change. Close it.

[2016-04-25 02:15] #649 closed

[2016-04-25 02:16] xuzhg commented on #619
Close it.

[2016-04-25 02:16] #619 closed

[2016-04-25 02:34] markdstafford commented on #707
We do plan to specifically add EF Core support, but will likely do that later this year when things stabilize a bit more.

[2016-04-25 02:54] xuzhg commented on #699
Would you please share us more detail information?

[2016-04-25 02:55] xuzhg commented on #696
Close it.

[2016-04-25 02:55] #696 closed

[2016-04-25 02:56] markdstafford commented on #700
This sounds like a great feature, but unfortunately it's more complicated than it sounds. E.G., .NET's native handling of enum values is case sensitive and things like the following are legitimate (though nonsensical):

[code]

For now we recommend working around this by implementing your own ODataEnumSerializer/ODataEnumDeserializer. If you come up with a good solution that will work generically

[2016-04-25 02:56] #700 closed

[2016-04-25 02:57] #694 closed

[2016-04-25 03:00] xuzhg commented on #691
Please reopen it if you find more issue. Thanks

[2016-04-25 03:00] #691 closed

[2016-04-25 03:43] VikingsFan commented on #679
Can't repro, close it.

[2016-04-25 03:43] #679 closed

[2016-04-25 06:18] atrumas opened #713 "Moving to 5.9.0 from 5.8.0 broke AutoExpand property functioning"
The problem is pretty simple, after updating to 5.9.0 I can no longer use the [AutoExpand] attribute to make oData automatically expand data structures without using the [EnableQuery] and $expand, it simply doesn't return the objects at all on client side, which it did without any problems in 5.8.0

[2016-04-25 07:36] VikingsFan commented on #713
@atrumas can you try with [EnableQuery] attribute, it's by design that [AutoExpand] attribute work with [EnableQuery] attribute, we make this change for better support both EF and in-memory data source.

[2016-04-25 12:31] atrumas commented on #713
I've just tried out using it with [EnableQuery] and it does indeed work, however that brings a few problems, main being the fact that I'm using count to return full result count from the server, with only top=20 selected for paging and I can't do that with [EnableQuery] attribute since it automatically lowers the count results down to what ever the top is set. Is there any way to use [AutoExpand]

[2016-04-25 17:42] Jithinkraju commented on #699
One of Microsoft's customer's was running into a similar issue and then we suggested to implement the fix suggested at https://github.com/xuzhg/WebApiSample/tree/master/WebApiODataSample/WebApiODataSample

Now we are running into another issue, while using createRef(), if we give relative path in request body, URI comes as null. However, if we give full path, everything works as expected

![1](htt

[2016-04-26 02:09] VikingsFan commented on #713
@atrumas you can have a customized EnableQueryAttribute and choose which queryOption not to apply, or just return the original queryable:

        public class MyEnableQueryAttribute : EnableQueryAttribute
        {
            public override IQueryable ApplyQuery(IQueryable queryable, ODataQueryOptions queryOptions)
            {
                // won't apply the $top
                return que

[2016-04-26 06:57] atrumas commented on #713
That's not the key problem I'm having with [EnableQuery], guess I should have tried explaining better.

Thing is, I want to apply the $top filter, problem with it is, it's not returning the value it's supposed to.

Say I'm returning results as PageResult:
`        public static PageResult<T> ToPageResult<T>(this ListQueryResult<T> res)
        {
            return new PageResult<T>(res.Items, null

[2016-04-26 07:50] VikingsFan commented on #713
Can you show your controller's code?

[2016-04-26 08:03] atrumas commented on #713
It's probably not going to help you out on it's own so I'm adding all the functions that it's calling:

[code]

The functions are as follows:
[code]

[code]

[code]

[2016-04-26 08:09] VikingsFan commented on #713
can you try these code?

    public class MyEnableQueryAttribute : EnableQueryAttribute
        {
            public override IQueryable ApplyQuery(IQueryable queryable, ODataQueryOptions queryOptions)
            {
                // won't apply anything.
                return queryable;
            }
        }

[2016-04-26 08:15] VikingsFan commented on #713
It seems that you have already apply top and if you use EnableQuery attribute, it will apply the query option again, so the result count is not right, so can you try my suggested customized attribute and put the query option you have already applied to the second parameter, so EnableQuery won't apply again.

[2016-04-26 08:23] atrumas commented on #713
If I'm using it as [EnableQuery, MyEnableQuery] now, nothing changes, the count still gets reduced to whatever top is.

I've tried replacing [EnableQuery] with just [MyEnableQuery] and the result was really odd as it only returned the result that didn't contain count at all and it also didn't return the [AutoExpand] properties.

[2016-04-26 10:29] VikingsFan commented on #713
sorry for the late reply:

        public class MyEnableQueryAttribute : EnableQueryAttribute
        {
            public override IQueryable ApplyQuery(IQueryable queryable, ODataQueryOptions queryOptions)
            {
                // won't apply the $top & $count & ...
                return queryOptions.ApplyTo(queryable, AllowedQueryOptions.Top | AllowedQueryOptions.Count);
            }

[2016-04-26 13:19] atrumas commented on #713
Guess I'm pretty much stuck with using a custom serializer to return OData results since AutoExpand only works with EnableQuery attribute and I'd have to return IQueryable instead of PageResult otherwise.

Okay, thanks for helping out.

[2016-04-27 06:23] xuzhg commented on #652
Changed. Thanks.

[2016-04-27 06:23] #652 closed

[2016-04-27 06:27] xuzhg commented on #73
already supported about the complex type cast. Close it.

[2016-04-27 06:27] #73 closed

[2016-04-27 06:30] xuzhg commented on #80
So far, there's no exception reported about the MetadataController. Please reopen it if you find any concern. Thanks.

[2016-04-27 06:30] #80 closed

[2016-04-27 06:32] xuzhg commented on #111
ODL already fix it. Close it.

[2016-04-27 06:32] #111 closed

[2016-04-27 06:35] VikingsFan opened #714 "Rename HandleODataPathSegment to Handle in ODataPathSegmentHandler after reference ODL 7.0"

[2016-04-27 07:10] VikingsFan commented on #692
fixed 	36f677c

[2016-04-27 07:10] #692 closed

[2016-04-28 05:33] #713 closed

[2016-04-28 09:31] TomDu commented on #418
Related issue: https://github.com/OData/odata.net/issues/245.

[2016-04-28 13:09] matheusdarosa opened #715 "OData generating subqueries"
I am executing a simple listing operation where I return an IQueryable from Entity Framework context but when OData query the IQueryable it is generating a sub-query on the database. Please check the SQL code generated by EF:

[code]

If I enumerate the IQueryable before the "ApplyTo" of OData then Entity Framework executes a simple query.

The problem here is that the "internal" is taking too lon

[2016-04-29 02:25] chinadragon0515 opened #716 "[Doc] Update routing conversion part to add entityset type cast and others"
Current routing conversion document does not have entityset type cast conversion. Help to add them.

ALso add a note for IIS,

[code]

To

[code]

[2016-04-29 02:27] VikingsFan commented on #715
@matheusdarosa if you enumerate the IQueryable before the "ApplyTo" of OData, OData will just apply the queryoption to the in-memory result from EF, so the query is original simple query, or OData will add queryoption to the original query, I didn't understand the `internal is taking too long` means, can you share more detail of your request url? I see there is a Orderby in the query, so it has to

[2016-04-29 09:43] matheusdarosa commented on #715
@VikingsFan I enumerated the IQueryable just to make a test. In the real case it is passed directly to the ApplyTo. What I tried to mean is the "Extent1" query is not applying the LIMIT, so it is taking a lot of time to load the data and when it finally loads than the "Project1" query returns 21 rows.

But after some search I believe the problem is not with OData but with the MySql Connector. I fo

[2016-05-02 07:10] johnjerrico commented on #512
@RemcoBlok have you managed to get it working ?

[2016-05-02 07:57] johnjerrico commented on #512
@RemcoBlok dunno this solve your problem, but it solves mine http://stackoverflow.com/questions/5420555/odata-batch-multipart-format-and-content-id

[2016-05-03 09:54] biren-patel opened #717 "oDataQueryOptions not apply with select statement"
I am newbee in oData. I have integrate oData with WebAPI.
Its worked fine with all operations listed below :

localhost/Default?$top=1
localhost/Default?$filter=ProductName eq %27MOBILE%27

as well other option also but when i apply to select particular columns from all then it will throw error.
localhost/Default?$select=ProductName,ProductSKU

[EnableQuery]
public IEnumerable<Product> Get(ODataQu

[2016-05-03 11:34] VikingsFan commented on #717
EnableQuery attribute will apply the query option for you, change your code to:

[EnableQuery]
public IEnumerable Get()
{
    return _oEntity.Products;
}

[2016-05-03 12:06] RemcoBlok opened #718 "POST with GeographyPoint throws Object must implement IConvertible"
I followed this post on [How to consume SQL Spatial Data with Web API V2.2 for OData V4](https://blogs.msdn.microsoft.com/odatateam/2015/01/11/how-to-consume-sql-spatial-data-with-web-api-v2-2-for-odata-v4/). It works fine when querying spatial data. But when I try to POST a new entity that has a GeographyPoint property, the web api odata v4 controller ModelState has an error saying Object must im

[2016-05-03 12:17] biren-patel commented on #717
Hi VikingsFan

Thanks but I need to pass that oDataQueryOptions to other function not same function.
If i want to do that using oDataQueryOptions.

[2016-05-03 13:57] VikingsFan commented on #717
then you can do with :
 public class MyEnableQueryAttribute : EnableQueryAttribute
    {
        public override IQueryable ApplyQuery(IQueryable queryable, ODataQueryOptions queryOptions)
        {
            // do something here
            return base.ApplyTo(queryable, queryOptions);
        }
    }

then use MyEnableQuery in your controller method.

[2016-05-03 17:11] jasontho-ms opened #719 "ODataSwaggerConverter throws exception on composite keys"
ODataSwaggerConverter throws exception on composite keys due to bug in ODataSwaggerUtilities.cs

### Assemblies affected
System.Web.OData.dll

### Reproduce steps
Create a model containing an entity with a composite key and attempt to generate swagger metadata with ODataSwaggerConverter

### Expected result
The metadata is generated successfully

### Actual result
Exception is thrown (see text bel

[2016-05-03 17:37] jasontho-ms commented on #719
Add pull request https://github.com/OData/WebApi/pull/720

[2016-05-04 02:57] VikingsFan commented on #719
Merged  80c718f

[2016-05-04 02:57] #719 closed

[2016-05-04 07:20] Gebov opened #721 "Support for dynamic properties added through System.ComponentModel"
I am using a third party ORM (Telerik DataAccess) and have the following use case:
I've implemented a custom TypeDescriptionProvider in order to add dynamic fields to some of my model types. These fields are stored in the database as regular fields(they have columns) and are available for reading, querying, updating through Linq Expressions that the underlying ORM understands. This functionality i

[2016-05-05 15:16] RemcoBlok commented on #718
The same issue is present when using the [OData spatial sample](https://github.com/OData/ODataSamples/tree/2eb16717642a26bb0d3e262d9568eb75426237ea/WebApi/v4/ODataSpatialSample).

The stack trace of the error in the ModelState is

[code]

[2016-05-06 03:05] xuzhg opened #722 "Uri template parser doesn't work if the key is enum type"
related:
https://github.com/OData/odata.net/issues/556

If the entity type "Product" has the key with enum type. Then, the attribute routing can't work.
For example:

[code]

It should work after ODL fixs the issue.

[2016-05-06 11:37] biren-patel commented on #717
It still not working.

[2016-05-06 13:45] grant77 opened #723 "ODataUriParser broken with Enum key templates"
If the Entity has an enum key defined as the single key or within a composite key and you try to parse a template such as "media(id={id},type={type})" it will fail.  If I redefine type as a string instead of an enum, it works.

### Assemblies affected
Microsoft.OData.Core.dll version 6.15.0.0

### Reproduce steps
namespace Test
{
    public enum MediaType
    {
        ClubLogo = 1,
        Member

[2016-05-06 15:16] grant77 opened #724 "Model Binding broken with Enum Keys"
Model binding does not work with enum keys because the RouteData for the enum key contains the UriEnumLiteral.  (ie, Test.MediaType'1' ).  Had it just been "1" or "ClubLogo" it would work.

### Assemblies affected
Microsoft.OData.Core.dll version 6.15.0

### Reproduce steps

namespace Test
{
    public enum MediaType { ClubLogo = 1, MemberPhoto = 2 }

    public class MediaDto
    {
        [Key]

[2016-05-09 01:48] VikingsFan commented on #715
As this is not with OData, close it

[2016-05-09 01:48] #715 closed

[2016-05-09 01:49] VikingsFan commented on #709
Close as two weeks no response, pls reopen this if you have detail info.

[2016-05-09 06:08] CzPete opened #725 "OData Parser leaves extra single quotes around string tokens"
When using attribute parsing, parsed tokens are often enclosed in extra single quotes.

### Assemblies affected
Namespace: System.Web.OData.Routing
Assembly: Microsoft.AspNet.OData.5.9.0-beta\System.Web.OData.dll

### Reproduce steps
In controller, have a GET method, say GetTableDefinition(), with
[ODataRoute("TableDefinitions({tableId})")].

Call GET on serviceRoot/tableDefinitions/T34567

### Ex

[2016-05-09 06:26] chinadragon0515 commented on #725
You can add‘[FromODataUri] for your parameter.This will remove the single quotes.
And copied from document, http://odata.github.io/WebApi/
‘[FromODataUri]’ is mandatory for complex, entity and all collection. However, it is optional for Primitive & Enum. But for string primitive type, the value will contain single quotes without ‘[FromODataUri]’.

[2016-05-09 06:36] CzPete commented on #725
Thanks ☺ I noticed your response already.

Petr

From: Vincent He [mailto:notifications@github.com]
Sent: Sunday, May 08, 2016 11:27 PM
To: OData/WebApi <WebApi@noreply.github.com>
Cc: Petr Slavik <pslavik@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [OData/WebApi] OData Parser leaves extra single quotes around string tokens (#725)

You can add‘[FromODataUri] for your parameter.

[2016-05-09 06:37] CzPete commented on #725
Yes, that worked. Thank you!

[2016-05-09 06:37] #725 closed

[2016-05-09 08:13] xuzhg commented on #723
@grant77 It's the same issue as https://github.com/OData/WebApi/issues/722

I will resolve it as duplicated. Does it work for you?  Thanks.

[2016-05-09 12:35] grant77 commented on #723
Yes.

From: Sam Xu [mailto:notifications@github.com]
Sent: Monday, May 9, 2016 4:13 AM
To: OData/WebApi <WebApi@noreply.github.com>
Cc: grant77 <grant.parker@golfnet.com>; Mention <mention@noreply.github.com>
Subject: Re: [OData/WebApi] ODataUriParser broken with Enum key templates (#723)

@grant77 <https://github.com/grant77>  It's the same issue as #722 <https://github.com/OData/WebApi/issues/72

[2016-05-10 01:38] xuzhg commented on #723
Resolved as duplicated as #722; Thanks your input.

[2016-05-10 01:38] #723 closed

[2016-05-10 01:45] xuzhg commented on #704
Merged the PR, Thanks your contribution.

[2016-05-10 01:45] #704 closed

[2016-05-10 13:09] karldodd commented on #70
+1

[2016-05-10 16:43] nlips commented on #70
Try [AdaptiveLINQ](http://www.adaptivelinq.com/)

[2016-05-11 01:06] VikingsFan commented on #70
@karldodd now it's support basic aggregate and groupby, can you try 5.9?

[2016-05-11 05:08] VikingsFan opened #726 "Aggregation failed in Restier"
Consider add a type in DynamicTypeWrapper, so in EdmLibHelpers's GetEdmType function can get the edmType from it.

[2016-05-11 09:53] xuzhg commented on #724
@grant77

It should work to add [FromODataUri], for example:
[code]

[2016-05-11 09:54] xuzhg commented on #724
of course,  would you please take a look the PR #724?

[2016-05-11 11:53] JohnGalt1717 commented on #709
I'm trying to figure out how I can create a repro for you given that it's IQueryable against an Entity Framework database with proprietary DTOs with a custom Json formatter. I'd have to give you a database that it could query against, the dtos that it's mapping to, and the json formatter which is problematic.

[2016-05-11 12:36] grant77 commented on #724
Adding FromODataUriAttribute does work, but it should not be required (in my opinion).  Shouldn't the default rules that apply to basic Web API also apply to OData?  In basic Web API, the FromUriAttribute is implied since it is a "simple" type and the binding works without the attribute.  The default rules I am referring to come from here:  http://www.asp.net/web-api/overview/formats-and-model-bin

[2016-05-11 13:40] grahamehorner commented on #724
I believe that binding of models and parameters changed in aspnetcore you need to explicitly state the bindings as the default pre aspnetcore is considered a security risk.

[2016-05-12 00:52] VikingsFan commented on #709
@JohnGalt1717 maybe you can refer to our E2E test to create a small repro. https://github.com/OData/WebApi/tree/master/OData/test/E2ETest/WebStack.QA.Test.OData

[2016-05-12 01:29] xuzhg commented on #724
From OData, the enum type is not a "simple" type, it's similar as entity/complex type. Besides, the enum value in request Uri is an OData enum value (EdmEnumValue), it must obey the enum literal rule no matter whether it's enum prefix free or not. So, the enum parameter should be prefix with [FromODataUri]

However, it's better if the enum parameter can work without [FromODataUri]. So,
My PR #724

[2016-05-12 03:28] VikingsFan commented on #726
Merged

[2016-05-12 03:28] #726 closed

[2016-05-12 13:31] Gebov opened #728 "Support for JSON PATCH"
In addition to the $ref endpoints for managing relations to entities, it would be more convenient to support the JSON patch format described [here](https://tools.ietf.org/html/rfc6902)

[2016-05-13 01:58] xuzhg commented on #728
@Gebov Thanks your input and the JSON patch format looks interesting. However, most of the operational can be finished with the OData CRUD request. Would you please let us know your scenarios with the JSON patch format in Web API OData?
And, Welcome your contribution by sending us an implementation through pull request. Thanks.

[2016-05-13 02:08] xuzhg commented on #721
@Gebov Thanks your input.
As mentioned in your issue, I think open type and dynamic property maybe meet your requirement. You can take a look [here](http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/use-open-types-in-odata-v4) and [here](http://odata.github.io/WebApi/#04-09-query-by-dynamic-properties) to know the open types.  Besides, you can get the dynamic property in

[2016-05-13 02:50] grant77 commented on #724
Yes.  Please make the enum key work without the [FromODataUri].

[2016-05-13 07:15] xuzhg commented on #718
@RemcoBlok Thanks your input. I have a draft fix, would you please take a look my PR #729? Any feedback are welcome.

[2016-05-15 12:40] Asido opened #730 "[vNext] Complex types through API context type"
### Assemblies affected

vNext branch (168b18e)
### Reproduce steps

[code]
### Expected result

`ActionModel` is registered as ComplexType.
### Actual result

`System.InvalidOperationException: The entity 'ActionModel' does not have a key defined.`
Or gets registered as EntityType if I add `ActionModel.Id` property.
### Additional details

Looking at `DefaultODataModelProvider.BuildEdmModel()` im

[2016-05-16 02:48] foobardog opened #731 "MaxExpansionDepth of 0 Is Not Honored"
When using setting the MaxExpansionDepth of the EnableQueryAttribute on a controller action to 0, *validation* is disabled as expected, but *execution* of the query treats it as if it was set to 2, the default.

### Assemblies affected
I ran into this using the Microsoft.AspNet.OData nuGet package version 5.9.0 .

### Reproduce steps

1. Add an EnableQueryAttribute to an ODataController action, se

[2016-05-16 03:44] xuzhg commented on #699
Hi, @Jithinkraju

The link payload should be one of the below content:

1. Absolute URIs, or
2. relative URIs, but **"@odata.context" annotation must be on the payload**.

So, as an example;

If the link value only has the relative Uri as below, it will be failed and the `link` parameter in the action `CreateRef` is `null`.
`
{"@odata.id":"Orders(2)"}
`

Otherwise, if the payload is as below:

` {

[2016-05-16 11:21] sebekz commented on #65
Definitely +1

[2016-05-16 13:37] Jithinkraju commented on #699
Thank you Sam ☺

Best Regards,

Jithin Raju

[Description: 6076]
From: Sam Xu [mailto:notifications@github.com]
Sent: Sunday, May 15, 2016 8:44 PM
To: OData/WebApi
Cc: Jithin K Raju; Mention
Subject: Re: [OData/WebApi] Delta<Entity> is Null in Patch/Put Actions (#699)

Hi, @Jithinkraju<https://github.com/Jithinkraju>

The link payload should be one of the below content:

  1.  Absolute URIs, or

[2016-05-17 03:49] RonakThakkar opened #732 "OData action and function registration"
We use OData querying extensively in our data access layer but at the same time there are several instances where we have to write our custom methods to fetch data from database. In this case we use OData Action and Function. Problem with action and function is that we need to register them in ODataModelBuilder which is very cumbersome. But when we look at the Web API rest methods we do not have t

[2016-05-17 06:40] xuzhg commented on #732
@RonakThakkar Thanks your input. As my option, the action/function in OData looks like the procedure in database. Developer has to define their procedure in advance, then the end user can call the procedure to do the extra process on database which the normal database operation can't finish.

[2016-05-18 02:02] xuzhg commented on #722
ODL has fixed the issue into v6.15 6d9bae63ca7d5450f5037728ac089ac557fbb93b and v7.0 9181ff00050188880ed5bda449a730887ccfc136.

[2016-05-18 02:06] xuzhg commented on #699
@ayleen

I close this issue. If you still have the problem, please re-open it and provide us the repos. Thanks your input.

[2016-05-18 02:06] #699 closed

[2016-05-18 02:09] xuzhg commented on #660
It depends on the related features working in ODL.

Once ODL finish the design and implementation, Web API OData can start to implement this feature.

[2016-05-18 02:12] xuzhg commented on #655
Need more discussion about the logic.

[2016-05-18 02:46] VikingsFan commented on #706
Merged c3ba68b

[2016-05-18 02:46] #706 closed

[2016-05-18 05:37] wachulski opened #733 "V3 does not provide BaseAddressFactory like V4 does (load balancing scenarios, #644)"
System.Web.Http.OData.Formatter.ODataMediaTypeFormatter does not expose BaseAddressFactory hook as V4 does.

Since we expose OData V3 service for Excel (OData feed) and the communication passes load balancers, we end up in the same scenario which led to introduction BaseAddressFactory hook for V4 (see: https://github.com/OData/WebApi/issues/644).

Since V3 is still maintained I see it should also

[2016-05-18 09:53] VikingsFan commented on #731
@foobardog can you help to review my PR #735 :)

[2016-05-19 01:06] brjohnstmsft opened #736 "EDMX returned from $metadata endpoint has incorrect "Unicode" attributes"
When building a model using `ODataModelBuilder`, action/function parameters of type `Edm.String` have their type references constructed improperly, which results in spurious and incorrect "Unicode" attributes in the serialized XML for the EDM model. According to the [CSDL spec](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part3-csdl/odata-v4.0-errata02-os-part3-csdl-complete.ht

[2016-05-19 01:40] xuzhg commented on #403
It depends on ODL issue fix: https://github.com/OData/odata.net/issues/570

[2016-05-19 05:48] xuzhg commented on #736
@brjohnstmsft I made a fix. Would you please try it out. Thanks.

[2016-05-19 05:48] #736 closed

[2016-05-19 06:12] xuzhg commented on #409
Close it. If you have further concern, please re-open it or file a new issue. Thanks

[2016-05-19 06:12] #409 closed

[2016-05-19 06:15] xuzhg commented on #252
FYI  @chinadragon0515 @lewischeng-ms  @markdstafford

[2016-05-19 06:25] xuzhg commented on #194
ODL V6.15 will support this. So,  Web API OData v5.10 can add it.

[2016-05-19 06:45] xuzhg commented on #192
Close it because new issue was created. Thanks your input.

[2016-05-19 06:45] #192 closed

[2016-05-19 06:59] VikingsFan commented on #670
Close as no response for two weeks, pls reopen for any concern.

[2016-05-19 06:59] #670 closed

[2016-05-19 07:49] VikingsFan commented on #194
Related issue : https://github.com/OData/odata.net/issues/573

[2016-05-19 15:03] wasphub opened #737 "ODataMediaTypeFormatter and virtual members"
I would like to understand how one would be supposed to derive properly a new formatter from [ODataMediaTypeFormatter](https://github.com/OData/WebApi/blob/master/OData/src/System.Web.Http.OData/OData/Formatter/ODataMediaTypeFormatter.cs), given that it exposes virtual methods and therefore subclassing should be accepted practice.

In my case I wanted to add some orthogonal logic inside methods li

[2016-05-19 18:45] brjohnstmsft commented on #736
Thanks! I'll try it out with the next nightly build.

[2016-05-20 02:40] VikingsFan commented on #194
@AndriiKuznietsov @rpawlaszek @hollis21 @mikila85 @andrensairr would you help to review my PR #738 ?

[2016-05-20 05:49] chinadragon0515 opened #739 "Support Computed/Immutable/Permission annotation during read and write"
Support Computed/Immutable/Permission annotation during read and write

### Assemblies affected
Can be considered as 7.0 lib content

### Reproduce steps
1. Add a property with some annotation line Computed (supported)
2. Any client send a patch request with this property.
3. Server deserialize the request, and should ignore the property.

### Expected result
The computed property for insert and u

[2016-05-20 06:15] VikingsFan commented on #737
@wasphub it would be very appreciate to send us a PR about this issue and show your scenario in test case :)

[2016-05-20 06:18] VikingsFan commented on #684
It's cached and didn't found things to improve.

[2016-05-20 06:18] #684 closed

[2016-05-20 07:20] wasphub commented on #737
I'm not sure it really makes sense. I do not have any particular bug to describe and test case to reproduce, it's more the logic around having the `Request `member as internal in a class that exposes virtual methods but disallows calling the corresponding overridden base members because the `Request `member is not set. The way those members refuse to execute is through an exception, so yes I could

[2016-05-20 07:31] VikingsFan commented on #737
@wasphub if current implementation with protected Request is enough, PR is not needed :) Thanks

[2016-05-20 07:36] xuzhg commented on #9
SetNamespacePrefixMappings() function can map the namespace with a prefix.

See [adding-arbitrary-data-to-odata-metadata-in-webapi](http://stackoverflow.com/questions/22207249/adding-arbitrary-data-to-odata-metadata-in-webapi)

[2016-05-20 07:36] #9 closed

[2016-05-20 07:37] wasphub commented on #737
It would be indeed :) Thx!

[2016-05-20 07:38] xuzhg commented on #12
Already added a validation function at https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Builder/ODataModelBuilder.cs#L599-L623

[2016-05-20 07:38] #12 closed

[2016-05-20 07:45] xuzhg commented on #51
It's already merged. For example:

[code]
 Thanks.

[2016-05-20 07:45] #51 closed

[2016-05-20 08:07] xuzhg commented on #29
Follow： https://github.com/OData/WebApi/pull/727

[2016-05-20 08:11] xuzhg commented on #22
Follow： https://github.com/OData/WebApi/pull/727

[2016-05-20 08:16] xuzhg commented on #44
Supported. See: https://github.com/OData/WebApi/commit/122c3b38c47c6259a57c30e4638d8b3a03a73f1d

[2016-05-20 08:16] #44 closed

[2016-05-20 08:24] wasphub commented on #737
The specific logic I need to implement might be misleading (it's more a hack than anything else, and for very specific reasons), but the general reasoning could be applied to other aspects (logging for example). In any case, what I'm trying to do it this (simplified):

[code]

The whole point is, the normal behaviour of `WriteToStreamAsync` in `ODataMediaTypeFormatter` is done in a way that, if co

[2016-05-20 09:04] RonakThakkar commented on #732
I would say it would be good if there is a possibility of having automatic routing and Model Binding System that is already present in Web API. That would add more power to the OData standard utilizing best of both worlds.

[2016-05-20 11:41] mattjvan commented on #204
+1

[2016-05-20 15:21] TehWardy commented on #732
+1 to that ... debugging OData routing is a nightmare compared to pure WebAPI ... A routing attribute should be all that's needed (at the most) but apparently even with the metadata being returned as expected OData still doesn't always behave as you'd expect.

[2016-05-20 22:00] brjohnstmsft commented on #736
I've confirmed that this works with the latest nightly build. Thanks again!

[2016-05-22 23:50] chinadragon0515 commented on #155
Same as #66 and #69

[2016-05-23 00:16] chinadragon0515 commented on #739
For properties whose has annotation Computed = true
1.	During query, server should return the computed property and client should serialized the property.
2.	During update/insert, Client may or may not include these properties, but when server receive the request, it should ignore any value from client if property has computed annotation.

For properties whose has annotation Immutable = true (Or t

[2016-05-23 03:05] VikingsFan commented on #731
Merged 47e33ca

[2016-05-23 03:05] #731 closed

[2016-05-23 03:23] xuzhg commented on #736
You are welcome give us more feedback. Thanks.

[2016-05-23 03:42] xuzhg commented on #52
See breaking change https://github.com/OData/WebApi/commit/505621465bdab9bb5e6784141092412bea2ccf49.

[2016-05-23 06:19] xuzhg commented on #718
@RemcoBlok
The fix was pushed at 7916898fd45ccf7ce73c87b0c9d3c831274f6527. Would you please try it out and let us know any problem? Thanks your help.

[2016-05-23 06:19] #718 closed

[2016-05-23 08:27] TehWardy opened #740 "String parameter handling breaks with . ?"
String parameter handling breaks with "." (dot) in them ...
### Assemblies affected

System.Web.OData 5.7
### Reproduce steps

Define this function on an endpoint ...

[code]

With this method in the controller ...

[code]
### Expected result

Issue http GET request with url ~/OData/ControllerName/GetResource(path='foo.bar', culture='en-gb')
### Actual result

The presence of the "." in the path s

[2016-05-24 01:45] xuzhg commented on #740
@TehWardy

In a typical IIS configuration, the dot in the URL will cause IIS to return error 404.
you can change `path` attribute config in **Web.config**:

[code]
Please try it out and let us know the result? Thanks.

[2016-05-24 03:18] xuzhg commented on #29
Added in commit 4e23aabcf9a171a844bd11f1882bf1038cb4a3b8. Thanks.

[2016-05-24 03:18] #29 closed

[2016-05-24 03:19] xuzhg commented on #22
Modified at commit at 4e23aabcf9a171a844bd11f1882bf1038cb4a3b8, thanks.

[2016-05-24 03:19] #22 closed

[2016-05-24 03:20] xuzhg commented on #724
@grant77 Would you please try the commit? Any feedback is welcome. Thanks.

[2016-05-24 03:20] #724 closed

[2016-05-24 07:12] marlongrech opened #741 "ends with starts with and contains do not work on version 5.9.0"
Hi all

Whenever you try to do something like

http://localhost:5051/Accounts?$filter=startswith(comments,'te')

you get the following error
![odata-bug](https://cloud.githubusercontent.com/assets/19221937/15495356/93f35026-218f-11e6-99a8-5d6ccc71ed34.PNG)

To resolve this I downgraded from 5.9.0 to 5.5.1

Regards

[2016-05-24 08:35] xuzhg opened #742 "Update enum property doesn't work"
for example:

1. Request method: Patch
2. Request Uri:  `~/Customers(1)/FavoriteColor`
3. Request Payload:
[code]
4. Action in controller:

[code]

The above assert should be successful. But, it's not.

### Assemblies affected
Web API OData 5.9.1， 7.0

### Expected result
The above assert should be successful. But, it's not.

### Actual result
It's failed.

### Additional details

https://github.c

[2016-05-24 13:24] TehWardy commented on #740
That's already in my config, I have dots in other URL's but for some reason this particular function seems to not like it.

[2016-05-24 13:36] grant77 commented on #724
I tried the commit with the code sample at beginning of this thread.  It worked.  Thank you.  There are a lot more code changes then I anticipated.  Wow!  The class, "ODataPathSegmentExtenstions", is spelled incorrectly.  Please rename to "ODataPathSegmentExtensions".

[2016-05-25 01:26] VikingsFan commented on #741
@marlongrech Thanks for reporting this bug, I've tried with 5.9 with EF and didn't repro, can you share more detail or a minimal repro will be very helpful!

[2016-05-25 02:49] xuzhg opened #743 "Update collection of enum property doesn't work"
Depend on https://github.com/OData/odata.net/issues/580

[2016-05-25 03:42] xuzhg commented on #742
fixed at:  9a00734

[2016-05-25 03:42] #742 closed

[2016-05-25 03:47] xuzhg commented on #742
included in v6.0

[2016-05-25 03:49] xuzhg commented on #82
Now, it's support to update:

1. Primitive
2. Complex
3. Collection of them

Enum and Collection of enum, please refer to: #742, #743.

[2016-05-25 03:49] #82 closed

[2016-05-25 03:51] xuzhg commented on #82
The related test cases, please refer to: https://github.com/xuzhg/WebApiSample/blob/master/Microsoft.AspNet.OData.Test/CRUD/UpdatePropertyTest.cs

[2016-05-25 05:34] xuzhg commented on #77
Close it. Please file a new issue if you have further concern. Thanks.

[2016-05-25 05:34] #77 closed

[2016-05-25 05:37] xuzhg commented on #56
Close it. Please file a new issue if you have any concern.

[2016-05-25 05:37] #56 closed

[2016-05-25 05:39] xuzhg commented on #63
We support $ref already.

Close it. Please file a new issue if you have any concern. Thanks.

[2016-05-25 05:39] #63 closed

[2016-05-25 05:42] xuzhg commented on #46
`Delta` and `Delta<T>` are both decorated with `NonValidatingParameterBinding`. And they are also derived from `DynamicObject`. So, close it. please file a new issue if you have further concern. Thanks.

[2016-05-25 05:42] #46 closed

[2016-05-25 05:46] xuzhg commented on #69
Close as duplicated #66.

[2016-05-25 05:46] #69 closed

[2016-05-25 05:53] xuzhg commented on #64
It's already resolved. See the test case: https://github.com/OData/WebApi/blob/master/OData/test/UnitTest/System.Web.OData.Test/OData/Routing/DefaultODataPathHandlerTest.cs#L649-L662

[2016-05-25 05:53] #64 closed

[2016-05-25 05:54] xuzhg commented on #84
Resolved.
See PR: https://github.com/OData/WebApi/pull/642.

[2016-05-25 05:54] #84 closed

[2016-05-25 05:59] xuzhg commented on #79
Interface is not considered in the Model builder.

Close it. Please file a new issue if you have further concern.

[2016-05-25 05:59] #79 closed

[2016-05-25 06:00] xuzhg commented on #45
KeyValuePathSegment is changed at 4e23aabcf9a171a844bd11f1882bf1038cb4a3b8. Please file a new issue if you have further concern.

[2016-05-25 06:04] xuzhg commented on #74
You can call the following API to add reference model.

[code]

Thanks.

[2016-05-25 06:04] #74 closed

[2016-05-25 06:05] xuzhg commented on #34
See the commit: 7916898fd45ccf7ce73c87b0c9d3c831274f6527

Please re-open it if you have further concern.

[2016-05-25 06:05] #34 closed

[2016-05-25 06:07] xuzhg commented on #96
Close it.

[2016-05-25 06:08] xuzhg commented on #99
Related to: https://github.com/OData/odata.net/issues/575

[2016-05-25 06:11] xuzhg commented on #155
Resolved as duplicated #66. Thanks.

[2016-05-25 06:11] #155 closed

[2016-05-25 06:13] xuzhg commented on #277
See commit: 4e23aabcf9a171a844bd11f1882bf1038cb4a3b8

Thanks.

[2016-05-25 06:13] #277 closed

[2016-05-25 06:15] xuzhg commented on #242
See commit at: 9a007343e63e13643cb4534439ffc9ae3bc2597f

Thanks.

[2016-05-25 06:15] #242 closed

[2016-05-25 06:16] xuzhg commented on #370
Close it. re-open it if you have further concern.

[2016-05-25 06:16] #370 closed

[2016-05-25 06:17] xuzhg commented on #337
Close it.

[2016-05-25 06:17] #337 closed

[2016-05-25 06:23] xuzhg commented on #508
Close it.

[2016-05-25 06:23] #508 closed

[2016-05-25 06:24] xuzhg commented on #588
Close it. Please reopen it if you have further concern.

[2016-05-25 06:24] #588 closed

[2016-05-25 06:26] xuzhg commented on #664
See commit 3bccf07661ec59f4ad894c1b5793560c61c74566. Thanks.

[2016-05-25 06:26] #664 closed

[2016-05-25 06:27] xuzhg commented on #639
Close it. Thanks.

[2016-05-25 06:27] #639 closed

[2016-05-25 06:28] xuzhg commented on #728
Close it. Please reopen it if you have further concern.

[2016-05-25 06:28] #728 closed

[2016-05-25 06:38] marlongrech commented on #741
Apologies .. I finally found the issue. I was messing around and installed EF 7 beta 8. This was the issue. I remove this and now all working fine.

Thanks

[2016-05-25 06:53] VikingsFan commented on #741
Glad to see it works! Thanks

[2016-05-25 06:53] #741 closed

[2016-05-25 07:20] xuzhg commented on #740
@TehWardy  My path has value "*", your path has value "*.". Can you change it and see what happen?

[2016-05-25 07:58] alvachien opened #744 "[vNext] Roadmap for ASP.NET Core 1.0 RC2?"
Is there a roadmap for ASP.NET Core 1.0 RC2?

The branch vNext got a latest checkin four month ago.

[2016-05-26 08:07] xuzhg commented on #724
Yes. I changed it. See 1846c0c1d4424685abbe59d0928ef0ad146f5ce4 Thanks

[2016-05-26 17:26] advancedrei commented on #229
Given the fact that EF Core 1.0 is not going to be feature compatible with EF 6 anytime soon, there are likely to be some issues getting OData on .NET Core *anyways*. The guidance I'm giving my customers is to stay on the current production code for OData stuff. If you want to get on MVC Core 1.0 for your front end, then you need to ship you API separately on a separate subdomain (something you sh

[2016-05-26 20:40] HappyNomad commented on #728
I am in the process of learning OData to create a Web API for miscellaneous partial updates of a large object graph.  I came across this issue and read the RFC.  It describes with succinct clarity how to fulfill my exact requirement.  I'm just getting started with OData, but so far it seems unnecessarily complex in comparison.

[2016-05-26 22:11] HappyNomad commented on #728
I came across [this post](https://blogs.realdolmen.com/experts/2015/05/05/partial-updates-for-your-restful-api-with-jsonpatch-in-the-new-asp-net-5/) saying that ASP.NET Core will support Json Patch.  And Google reveals a lot of activity around this.

[2016-05-30 02:02] xuzhg commented on #624
Close it. Please file a new issue if you have further concern. Thanks.

[2016-05-30 02:02] #624 closed

[2016-05-30 07:04] xuzhg commented on #710
[HTTP specification section 3.11]( http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.11) says:

_...An entity tag consists of an opaque **quoted** string, possibly prefixed by a weakness indicator._

So,

* In Item 1, you provide an invalid entity tag.

* In Item 2, Web API OData provides the default odata.etag wrapper format, it's the base64. If you don't override the default behavior, y

[2016-05-30 07:04] #710 closed

[2016-05-30 07:13] xuzhg commented on #703
@jackfree Thanks your input.

Below is the source codes of the `MediaTypeFormatter` class that the WAO is referencing:

[code]

You see, it's simple. So I don't think it's time consuming. Please reopen it if you have further concern.

[2016-05-30 07:13] #703 closed

[2016-05-31 01:54] xuzhg commented on #733
Fixed at 3c2095e06f090e3608eee716d04d5e27caf43f5c

[2016-05-31 01:54] #733 closed

[2016-05-31 02:19] xuzhg commented on #744
vNext is the key parts of Web API OData in the next several month.

[2016-05-31 02:35] xuzhg commented on #587
Close it. Please re-open it if you have further concern. Thanks.

[2016-05-31 02:35] #587 closed

[2016-05-31 02:36] VikingsFan commented on #638
Close as two weeks no-reply

[2016-05-31 02:36] #638 closed

[2016-05-31 02:41] xuzhg commented on #596
Close it. Please file a new issue if you have further concern. Thanks.

[2016-05-31 02:41] #596 closed

[2016-05-31 02:49] #494 closed

[2016-05-31 03:13] xuzhg commented on #422
Dependent on: https://github.com/OData/odata.net/issues/570

[2016-05-31 08:15] xuzhg commented on #164
Close it. Please file a new issue if you have further concern. Thanks.

[2016-05-31 08:15] #164 closed

[2016-05-31 08:20] xuzhg commented on #142
Similar with #147.

[2016-05-31 08:21] xuzhg commented on #141
Similar to #147.

[2016-05-31 08:22] xuzhg commented on #140
You can refer to http://github.com/OData/Restier. Thanks.

[2016-05-31 08:22] #140 closed

[2016-05-31 08:28] xuzhg commented on #76
Related to #693

[2016-05-31 08:31] xuzhg commented on #57
Close it. Please file a new issue if you have further concern. Thanks.

[2016-05-31 08:31] #57 closed

[2016-05-31 08:33] xuzhg commented on #23
Close it. Please file a new issue if you have further concern. Thanks.

[2016-05-31 08:33] #23 closed

[2016-06-02 01:38] xuzhg commented on #728
@HappyNomad
Thanks your information. We hope Web API OData vNext can involve to Asp.NET Core. At that time, maybe we can consider to add the Json patch support and welcome your contribution. Thanks.

[2016-06-02 02:36] xuzhg commented on #497
Can you try the unqualified function call? See detail at http://odata.github.io/WebApi/#06-01-custom-url-parsing:

[2016-06-02 02:46] xuzhg commented on #425
Currently, you can use the case-insensitive to make it work. See [here](http://odata.github.io/WebApi/#06-01-custom-url-parsing). So, close it.

[2016-06-02 02:56] xuzhg commented on #410
Can't repo it. So close it and Please file an issue with your repo if you have further concern. Thanks.

[2016-06-02 02:56] #410 closed

[2016-06-02 03:12] xuzhg commented on #320
Close it. please file a new issue if you have further concern. Thanks.

[2016-06-02 03:12] #320 closed

[2016-06-02 03:29] xuzhg commented on #485
Close it please file a new issue if you have further concern.Thanks.

[2016-06-02 03:29] #485 closed

[2016-06-02 03:40] xuzhg commented on #717
@biren-patel Can you give us a repo or a detail information?

[2016-06-02 03:44] xuzhg commented on #463
ODL has supported, see https://github.com/OData/odata.net/pull/446/commits/fb4cbdc745f2764b004c01dbccb8965e0d214d3b, let do investigate in Web API.

[2016-06-02 06:58] xuzhg commented on #417
close it. Thanks

[2016-06-02 06:58] #417 closed

[2016-06-02 06:59] xuzhg commented on #244
Needn't. Close it. Thanks.

[2016-06-02 06:59] #244 closed

[2016-06-02 07:02] xuzhg commented on #25
Needn't. Close it. Thanks.

[2016-06-02 07:02] #25 closed

[2016-06-02 15:46] brjohnstmsft commented on #425
That is a workaround, not a solution. In my case, I do not want to accept case-insensitive anything... I just want to be able to handle the case correctly when a customer sends a request with incorrect case.

Please re-open this issue until the actual bug is fixed.

[2016-06-02 23:40] MolallaComm commented on #66
Making this work is simple - making it work in a way that suits the needs of everyone or what is written above and in the odata spec is probably impossible and/or not even advisable.  For my purposes, on the client side, I have my DTO entities bound to an ion-autocomplete and I just want to find matches based on whether any of the string columns contain the text that has been typed or if the entit

[2016-06-06 02:16] lewischeng-ms opened #745 "Support dependency injection"
Depends on https://github.com/OData/odata.net/issues/501

[2016-06-06 02:44] xuzhg commented on #439
Let's do more discussion.

[2016-06-06 03:37] TomDu opened #746 "gh-pages chapter 8.1 and 8.2 are duplicate"
2015-04-21-08-02-store-generated-pattern.md duplicates the content of 2015-04-21-08-01-concurrencymode-and-etag.md.

[2016-06-06 07:10] xuzhg commented on #137
Close it. Thanks.

[2016-06-06 07:10] #137 closed

[2016-06-06 08:16] xuzhg commented on #172
Fixed. Thanks.

[2016-06-06 08:16] #172 closed

[2016-06-06 08:33] lewischeng-ms opened #747 "Calling request.ODataProperties() in ODataBatchHandler and its derived classes results in 404 for that batch part."
Calling request.ODataProperties() in ODataBatchHandler and its derived classes results in 404 for that batch part.

### Assemblies affected
5.9

### Reproduce steps
Call request.ODataProperties() in ODataBatchHandler and its derived classes.

### Expected result
All work fine.

### Actual result
404 for that batch part.

### Additional details
Nope.

[2016-06-06 18:21] SamiMajed commented on #744
We just started working on a design that will provide an OData Web API and we would prefer to develop it using .NET Core. Unfortunately we learned that .NET Core does not support the ODataController which is necessary for OData v4.
Could you please provide us with a timeline in regards to when the ODataController may be supported?

[2016-06-06 18:50] DickvdBrink commented on #744
You can find a statement here: https://github.com/OData/WebApi/issues/229#issuecomment-194632766

It is pretty said, I'm really waiting for this to... I tried to update the vnext branch to rc2 with the new MVC and stuff but I had some problems with some stuff in the model builders.

[2016-06-08 18:56] MaxWilson opened #749 "Does Odata v5.9 support HTTP Caching?"
Is there a recommended way to support HTTP Caching on Microsoft.AspNet.WebApi v5.9? I have marked all my entities with [ConcurrencyCheck] and all of them have individual @odata.etag attributes, but the HTTP response's ETag header is not set nor does it respect If-None-Match headers.

I investigated use of CacheCow but found that it computes its eTag purely from the URL and headers, which obviously

[2016-06-09 08:55] CzPete opened #750 "$select does not work well with navigation properties"
For tables with Choices navigation property (that is being AutoExpanded), query
https://localhost/beta/me/tableDefinitions/TBK6ZUB2GOK8U6N6GZVVFUXDIK/columnDefinitions?$select=displayName
does now work.
However, query
https://localhost/beta/me/tableDefinitions/TBK6ZUB2GOK8U6N6GZVVFUXDIK/columnDefinitions?$select=propertyName,displayName
works (but returns auto-expanded properties as well)

### Ass

[2016-06-11 01:01] m-rakic commented on #694
I know that issue is closed but is not answered if will be implemented and when aproximatly ;)...  The flattening is coming from database views and from excel. People is exporting it and make reports, data validation... The problem with flattening is not in small data sets because we can flatten nested data in client and fill grid. The problem is with big sets when you wonna get data in chunks but

[2016-06-12 00:59] chinadragon0515 commented on #750
When user select some contained navigation properties, odata .net lib will find it is contained navigation property, It will need to build path for this property, and as it is contained navigation property, its path will contain its parent entity information including key which means something like “columnDefinitions('Color')”, and this need to have the parent entity key property, but parent key p

[2016-06-12 01:47] xuzhg opened #753 "$orderby does'nt work in the nested $expand"
Michael Roth <mtroth@microsoft.com> reports the following bug:
---
I have a type with a 1:1 relationship. The right side of that relationship has a 1* relationship with another type.
When I run this query:
/entityset?$expand=OneToOne($expand=OneToMany)
All works fine.

When I run this:
/entityset?$expand=OneToOne($expand=OneToMany($orderby=Name))

I get a big honking error that doesn’t mention any

[2016-06-13 00:57] CarefreeXT opened #754 "ODataModelBuilder can't config AlternateKey"
System.Web.OData.Builder.ODataModelBuilder can't config AlternateKey.

I think this odata builder read multiple DataAnnotations.KeyAttribute, it can automatic generated alternateKey.

[2016-06-13 01:53] chinadragon0515 opened #755 "Make ODataConversionModelBuilder accept an existing model"
Make ODataConversionModelBuilder accept an existing model

In RESRier, there is always a model built by default, user need to extend the model, and we need a better way for user to extend the model.

And to have it in breaking changes.
### Additional details

Per discussion, make ODataConversionModelBuilder to have a new construct to accept an existing model.

[2016-06-13 03:21] VikingsFan commented on #70
Close this issue, please open a new issue if you have any concern.

[2016-06-13 03:21] #70 closed

[2016-06-13 03:22] VikingsFan commented on #709
Close this issue as no-repro details, please open a new issue with detail information.

[2016-06-13 03:22] #709 closed

[2016-06-13 19:01] chuanboz commented on #701
any update on this?

[2016-06-15 12:16] xmichaelx commented on #208
I have exactly the same issue, DELETE fails on the preflight OPTIONS request. At the level of:

[code]

It is determined that no suitable handler was found for preflight OPTIONS preflight request and there should be 404 or 405 send as a response, but something is null and 500 is thrown instead.

And here it goes `return base.SelectAction(controllerContext);`:
[code]

Currently I have a workaround

[2016-06-16 00:25] chinadragon0515 opened #756 "ConversionModelBuilder does not set nullable correct"
When using conversion model builder, there are primitive property type like int (not int?), or string or others, or even key property, the nullable is not set to false in the model been built.

Hope to be fixed in both 5.x and 6.x(breaking changes).

[2016-06-17 00:33] skottmckay commented on #125
Is this fixed by inverting this below test so that it is only if the caller specifies return-minimal that a 204 is returned?

Current [implementation ](https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Results/UpdatedODataResult.cs) of GetInnerActionResult has

[code]

vs. only returning 204 if explicitly requested

[code]

[2016-06-18 00:27] MaxWilson commented on #749
I looked into this scenario. You can't do this at the ODataSerializerProvider level because HTTP headers have already been sent at that point. It also looks as though ODataMediaTypeFormatter is not meant to be subclassed--no virtual methods, and implementations have internal references back to the ODataMediaTypeFormatter type.

As far as I can tell, this is not a supported scenario at all.

Hope t

[2016-06-18 00:27] #749 closed

[2016-06-20 01:22] #753 closed

[2016-06-20 11:36] TehWardy commented on #740
Didn't help my situation ...
I've also been having trouble with binding scenarios ... why does normal WebAPI type binding not work in OData and what's with these ODataActionParameter types that often don't parse json packets right at all?

I noticed that when I do something like this it all goes majorly wrong ...
[code]
At this point I have to resort to manually reading my post bodies and manually

[2016-06-22 12:46] rootn3rd commented on #555
I am using the above class to modify some aspect of the incoming request parameter. However, the query.ApplyTo(....);  doesn't handle the $select and other odata operators.

Has anyone faced a similar issue before?

[2016-06-23 00:58] VikingsFan commented on #555
@rootn3rd can you open another issue and show your code and detail information?

[2016-06-24 04:54] brjohnstmsft opened #757 "ParameterAliasNodeTranslator causes QueryNodes to be re-created many times"
While trying to write a class that rewrites OData semantic ASTs, I noticed that `SingleValueFunctionCallNode.Properties` was returning a different `QueryNode` instance for its first parameter each time it is accessed. This extra allocation is wasteful, and it can confuse tree rewriters that make decisions based on object reference equality. While debugging I found that the cause of this is the usa

[2016-06-24 08:55] TehWardy opened #758 "Action Collection Parameters don't appear to bind correctly"
I've raised this question over on stack overflow ...

http://stackoverflow.com/questions/37993788/odata-collection-parameter-bindings-do-they-actually-work

I also tried replacing this ...

`public async Task<IHttpActionResult> ByRefs(ODataActionParameters p)`

with this ...

`public async Task<IHttpActionResult> ByRefs(InvoiceReference[] refs)`

The problem is that I can't seem to get collection

[2016-06-27 08:32] xuzhg commented on #758
@TehWardy

Replace with `InvoiceReference[] refs` can't work.

I use the model's information that you provided in the stackOverflow, it seems it can work as normal.

Would you please refer to https://github.com/xuzhg/WebApiSample/blob/master/Microsoft.AspNet.OData.Test/Action/ActionTest.cs

and do some investigation with your codes? Please let us know the differences. Thanks.

[2016-06-27 09:11] xuzhg commented on #755
Can model reference work for your scenario?

[code]

[2016-06-27 09:58] TehWardy commented on #758
Thanks @xuzhg, looks like I missed some subtle / implied rules here ...
  - I have to provide an object (as a container) and not just the array I want to post.
  - I can not bind directly to an ICollection<T>, IList<T>, List<T> or Array only IEnumerable<T>

Out of curiosity: Why is this different to normal webAPI?
The underlying binding framework in WebAPI's binding is awesome.

I'm not sure this

[2016-06-27 20:29] kkopczyk opened #759 "406 Error when using $apply aggregate function"
In my project, I have attempted to *not* use the [EnableQuery] attribute, but instead, call publicly available methods of System.Web.OData (queryOptions.ApplyTo()) so that I could have a little bit more control over the querying from within the controller (as opposed to relying on the OnExecuted event of EnableQueryAttribute).  I have done this for the following reasons:
- To support a theoretical

[2016-06-28 02:18] xuzhg commented on #758
You are welcome. @TehWardy

In `{ "foos": [1,2,3,4] }`, **foos** is necessary.

First, It indicates the action parameter to which the `[1,2,3,4]` belongs to. Please think about the multiple parameters scenarios.

Second,  That's the **foos** that you can used to retrieve the value from ODataActionParaemters, That's `p["foos"] `.

===========
The action parameter values are passed using the request

[2016-06-28 02:22] xuzhg commented on #436
Close it. Please file a new issue if you have more concern.

[2016-06-28 02:22] #436 closed

[2016-06-28 02:34] advancedrei commented on #758
So, I think everyone has the same question about this that @TehWardy has. I know I did. I think what it boils down to is this: The MVC ModelBinder is able to map items in a request body to function parameters without having to use a "catch-all" dictionary like `ODataActionParameters`, so why can't OData?

If MVC can do it, wouldn't it be *possible* to write a ModelBinder that behaves the same way,

[2016-06-28 05:56] xuzhg commented on #744
@alvachien @SamiMajed @DickvdBrink vNext branch is updated to ASP.NET Core 1.0 RC2 final. See detail at 2b032b1dab87866cad3319a46d648f7252f5556d. Thanks your contribution.

[2016-06-28 05:56] #744 closed

[2016-06-28 05:57] xuzhg commented on #730
@Asido  We are looking for your contribution. Thanks.

[2016-06-28 06:10] DickvdBrink commented on #744
Thanks This is pretty neat! :)

[2016-06-28 14:23] Vaccano opened #760 "Release Notes Error"
The release notes for the latest web API Osama release, the optimistic concurrency model and the Store generated pattern sections are identical.

I imagine it is a copy paste error error.

[2016-06-29 01:12] VikingsFan commented on #759
@kkopczyk will the customized EnableQuery Attribute be a work around for you? Code sample is in https://github.com/OData/WebApi/issues/521

[2016-06-29 01:59] chinadragon0515 commented on #755
I tried with model references and also did some test,

1.	For the ODL model reference example, it is based on CsdlSemanticsModel (Super class is EdmModelBase),  it already has CSDL files, when create a model, it will read content from CSDL files includes the “Includes” for model reference
When it writes the model, it will write the Includes in model reference of the main model, this is the reason

[2016-06-29 02:06] xuzhg commented on #760
@Vaccano Would you please give us the link of latest Web API Osama release?

[2016-06-29 02:23] nickkin-msft opened #761 "When using $filter alone a result is returned, when using both $filter and $select no results are returned"
====== Update: See comments below, root cause is that OData.WebApi is putting a SelectExpandBinder into the expression tree and I need a way to disable this so it applies a simple anonymous type projection as expected. SelectExpandBinder is a class that is internal to OData.WebApi and there should be no expectation that downstream IQueryable implementations will understand how to interpret it. ===

[2016-06-29 06:14] Asido commented on #730
I was looking for your feedback first.

[2016-06-29 17:46] nickkin-msft commented on #761
Update: This appears to be an incompatibility between the DocumentDB client IQueryable implementation and how OData is applying the query URL to the IQueryable.  I'm not sure if this is a bug in OData or DocumentDB but I was able to confirm it against a (small) test DB by returning docDbQueryable.ToArray().AsQueryable() and that caused it to start working.  Obviously this is not a workable solutio

[2016-06-29 19:03] Vaccano commented on #760
This [Post](https://blogs.msdn.microsoft.com/odatateam/2016/05/13/announcement-web-api-odata-v5-9-release/) has a link to this [site](http://odata.github.io/WebApi/#07-15-5-9) where if you scroll down just a bit you will see the header: "8.1 ConcurrencyMode and ETag".

The content for that section is exactly the same as the next section: "8.2 StoreGeneratedPattern annotation"

(I realize now that

[2016-06-29 19:10] nickkin-msft opened #762 "When returning an IQueryable to OData, if the IEnumerator throws during query execution, it will take down the entire w3wp.exe process"
Once OData has applied the URI $filter, etc. options to the returned IQueryable and calls (probably implicitly) IEnumerator<TElement> ExecuteQuery<TElement>(Expression expression), if the returned IEnumerator throws an exception, the entire IIS w3wp.exe process will go down hard.

### Assemblies affected
System.Web.OData v4.0.30319

### Reproduce steps
Return an IQueryable from your http get metho

[2016-06-29 20:46] nickkin-msft commented on #762
Hmm, I can't seem to repro this anymore.  Was it fixed recently?  I saw this happening (repeatably) earlier in the year.

I guess you can close this.

[2016-06-29 22:09] nickkin-msft commented on #761
I managed to root cause the incompatibility.  Just like I had to set "EnableConstantParameterization = false" to disable OData.WebApi from wrapping constants in System.Web.OData.Query.Expressions.LinqParameterContainer (making a non-standard expression tree), I need an option to disable wrapping projections in System.Web.OData.Query.Expressions.SelectExpandBinder but simply apply them directly to

[2016-06-29 23:21] chuanboz commented on #158
+1 to support for this feature

[2016-06-30 01:12] #762 closed

[2016-06-30 05:08] taspeotis commented on #158
+1 How this has been neglected from Oct 21, 2014 is beyond me.

[2016-06-30 07:18] alvachien commented on #744
Thanks to xuzhg.

One day before you update the vNext branch, that's June 27, the ASP.NET team [announce](https://blogs.msdn.microsoft.com/webdev/2016/06/27/announcing-asp-net-core-1-0/) the official release of ASP.NET Core 1.0.

When will be the official release of OData Web API run on ASP.NET Core 1.0 then, thanks!

[2016-06-30 14:57] rootn3rd commented on #555
@VikingsFan sure thing! Thanks.

[2016-07-01 03:38] NathanNZ opened #763 "OData creating incorrect IQueryable on Expand"
I'm having an issue with OData throwing up the following exception - I'm at a loss what is causing it, and seeing that this is my second day implementing a OData endpoint I am not familiar enough with the code to debug this issue any further.

When I provide the following URL to the OData endpoint

The following query is what it seems to be evaluating to before it throws the exception upon evaluat

[2016-07-01 03:41] NathanNZ commented on #763
Let me know if you need any further information :+1:

[2016-07-01 07:46] VikingsFan opened #764 "Make IsIfNoneMatch in ETag public"

[2016-07-01 08:09] VikingsFan commented on #763
@NathanNZ I have tried your code and everything works fine, problems maybe in your data source, try with in-memory data, to see it's working or not, and another question, where do you use the type ElephantChild?

[2016-07-01 10:18] rafeeqg opened #766 "OData 4 $expand does not seem to work with custom function"
I have a controller which returns a collection of Items in its default GET action, I then created a function to return Items based on a parameter value. The function works well however, when I call the $expand on a child collection it doesn't seem to work. Although it expanded the EF query to get child items but end results doesn't show children. $select seems to be working though

**Not Working:*

[2016-07-02 19:32] TehWardy commented on #758
I've actually put quite a bit of thought in to this and whilst I haven't read up on much of the OData code here I have some ideas about how I might go about this if I was building this framework.
The odd thing is, I wouldn't change massive amounts of the code that's already here, I would simply streamline it and depend more on the WebAPI code it sits on top of.
My biggest gripe about it is that it

[2016-07-03 21:51] NathanNZ commented on #763
ElephantChild is used in a linking table off ElephantOwner (I've updated the question) - however thanks for your suggestion to try it in memory as it looks like it's working if I run a ToList().AsQueryable() on the projected queryable.

Must be an edge case causing the  EF => Automapper  => OData query not to work as expected. Looks like I'll have to figure out the difference in the queries and se

[2016-07-04 01:17] #763 closed

[2016-07-04 02:00] VikingsFan commented on #693
d4f5323a23067585665a9d9d0025b599a4823b96

[2016-07-04 02:44] xuzhg commented on #760
Ok. Thanks your input. It was reported at #746. So, Close it as duplicated.

[2016-07-04 02:44] #760 closed

[2016-07-04 05:58] VikingsFan commented on #766
@rafeeqg I can't repro it, could you share more code detail? Here are mine

model builder:

    builder.EntityType<Customer>().Collection.Function("Test")
    .ReturnsCollectionFromEntitySet<Customer>("Customers").Namespace = "Default";

controller:

    [HttpGet]
    [EnableQuery]
    public IQueryable<Customer> Test()
    {
        var db = new DbContext();
        return db.Customers;
    }

qu

[2016-07-04 06:04] #764 closed

[2016-07-04 11:54] matjanos opened #767 "CORS options don't work when custom formatters are used"
When you add custom formatters to configuration, CORS configurations are ignored when you request metadata.

It was discovered, when applying workaround for empty single result (http://odata.github.io/WebApi/#10-02-work-around-for-singleresult-create).

This snippet was used:

[code]

And then, GET request for http://localhost:8888/odata/$metadata fails, because of:

Without adding new formatters,

[2016-07-04 18:38] rafeeqg commented on #766
Thanks @VikingsFan, I replaced IQueryable<Things> with ReturnsCollectionFromEntitySet<Things> below and it worked. Not sure why it didn't work with IQueryable.

**Model Builder:**
            configuration.EntityType.Collection.Function("GetByLocation")
                .Returns<IQueryable<Thing>>()
                .Parameter<int>("LocationID");

**Controller**

        [EnableQuery(MaxExpansionDep

[2016-07-05 01:13] VikingsFan commented on #766
For now we only support expand navigation property in entity type, so in function definition, you need specify it's collection from entityset.

[2016-07-05 01:13] #766 closed

[2016-07-05 16:25] kkopczyk commented on #759
@VikingsFan Thank you for the response.  I was on vacation, and I will look at this very soon.

[2016-07-06 00:55] VikingsFan opened #770 "Can't Filter on Dynamic properties which is collection"
http://localhost/API/odata/GetItems(id=30045)?$count=true&$filter=Context%2Fany(c:+c+eq+%27Context1%27)&$format=json&$top=5

Get error:
`Validating OData QueryNode of kind CollectionOpenPropertyAccess is not supported by FilterQueryValidator.`

[2016-07-06 07:06] christiannagel opened #771 "[vNext] NuGet Feeds for OData Web API vNext"
Where are the NuGet feeds for vNext?

The packages seem not to be on the nightly build feed described in [README](https://github.com/OData/WebApi/blob/vNext/README.md)

Thanks,
Christian

[2016-07-07 03:29] alvachien commented on #771
Met the same issue.

[2016-07-07 22:18] kkopczyk commented on #759
@VikingsFan This works.  Thank you.

[2016-07-07 22:18] #759 closed

[2016-07-08 07:43] #717 closed

[2016-07-11 05:49] VikingsFan commented on #767
@matjanos  can you show more detail about your CORS configurations for me to investigate this issue?

[2016-07-11 20:31] ryanhall27 commented on #771
I ran into the same issue so I tried downloading the project and adding it as an existing project.  I can't even get it to compile.  Doesn't look to me like this is anywhere even close to alpha.

I am really hoping we can get the OData team to give us an update on the status of OData in .NET core.

[2016-07-12 06:50] #737 closed

[2016-07-12 07:56] VikingsFan commented on #612
Doc d76b3142e016507d5987aa48c7027e891a2d9c82

[2016-07-12 07:56] #612 closed

[2016-07-12 08:03] alvachien opened #772 "[vNext] Roadmap for OData WebAPI run on ASP.NET Core 1.0"
The ASP.NET Core 1.0 has officially released several weeks ago, the OData vNext (with alpha) still rely on 1.0 RC2 and cannot install from Nuget so far.

Does there any roadmap exist to support ASP.NET Core 1.0?

Thanks,
Alva

[2016-07-13 04:39] xiaoxin1983 commented on #771
+1

[2016-07-13 23:48] olsh opened #773 "aggregate($count as total) doesn't work"
I'm trying to use the aggregation function with the virtual property $count as described [here](https://docs.oasis-open.org/odata/odata-data-aggregation-ext/v4.0/csprd02/odata-data-aggregation-ext-v4.0-csprd02.html#_Keyword_with_1)
Here is my query:
`?$apply=groupby((name, version), aggregate($count as total))`
### Assemblies affected

Microsoft.AspNet.OData 5.9.1
Microsoft.OData.Core 6.15.0
Micro

[2016-07-14 00:53] VikingsFan commented on #773
@olsh yes, this is not supported for now, need do it in ODL and WebAPI/OData

[2016-07-14 07:05] chinadragon0515 opened #774 "Consistent logic for function and action model builder"
For function and action model builder, there are several places which is inconsistent,

1. For the method "Returns(Type clrReturnType)", In FunctionConfiguration, if the clr type already have a configuration, there is no exception, but in ActionConfiguration, if the clr type already have a configuration, an exception will be thrown. And this is same case for "ReturnsCollection<TReturnElementType>(

[2016-07-14 07:47] olsh commented on #773
@VikingsFan thanks.
Is there any other way to count entities in a set?

[2016-07-14 07:53] VikingsFan commented on #773
can you add &$count=true to get the count as a workaround ?

[2016-07-14 08:07] olsh commented on #773
I need something like this.
[code]
I thought `&$count=true` returns count for all records for the entire query.

[2016-07-14 08:17] VikingsFan commented on #773
@olsh For now we only support filter and aggregate in groupby, or there need a property and use  `aggregate PropertyName with sum as total` to get total count.

[2016-07-14 08:21] olsh commented on #773
@VikingsFan thank you for the quick reply.

What is ODL?
I'll try to add the feature if I have some spare time.

[2016-07-14 08:26] VikingsFan commented on #773
You are very welcome to contribute to us, ODL odata lib, is https://github.com/OData/odata.net , our master is reference on their ODataV4-6.x

[2016-07-15 06:04] chinadragon0515 opened #775 "Avoid throw exception during navigation property binding"
In class NavigationSourceConfiguration, there is a method " public virtual NavigationPropertyBindingConfiguration FindBinding(NavigationPropertyConfiguration navigationConfiguration, bool autoCreate)", it will try to find the navigation target entity set based on clr class type, and if there is two entityset for the same clr type, there will be an exception thrown.

The expectation is there is no

[2016-07-18 17:54] kosinsky opened #776 "Aliases created in $apply aren't available in further clauses"
I aggregate statement in side $apply clause user could create aliases and spec says that user could use them in further clauses:
3.16 Evaluating $apply
The new system query option $apply is evaluated first, then the other system query options are evaluated, if applicable, on the result of $apply in their normal order (see [OData-Protocol, section 11.2.1]). If the result is a collection, $filter, $

[2016-07-19 00:50] VikingsFan commented on #776
@kosinsky can you try 5.9.1, I think this is working.

[2016-07-19 16:56] kosinsky commented on #776
@VikingsFan Thank you. It works for me.

[2016-07-19 16:56] #776 closed

[2016-07-20 11:19] TehWardy opened #777 "Please fix this binding madness"
I've had a lot of issues with binding in odata actions and functions for example ...
- https://github.com/OData/WebApi/issues/758
- https://github.com/OData/WebApi/issues/740

I have now come to the conclusion that its best to just declare actions as part of of the model and then parse the parameters from the body myself (using something like Newtonsoft.Json) ...

For example I have an Action that

[2016-07-25 17:51] raffaeu commented on #328
Guys any news on this.
We are working with OData v 4.0 and now we are completely stuck, which is very disappointing.
Can you implement in the model builder this extension and release a fixture over Nuget ASAP?

[2016-07-26 02:46] chinadragon0515 opened #778 "ParameterExpression need to have name specified"
In class SelectExpandBinder, there is some creation of ParameterExpression via Expression.Parameter(Type), this need to change to Expression.Parameter(Type, string name) as when executed like MongoDB provider to serialize the data from database and return iQueryable, it will check the name and exception will be thrown.

Want to be fixed in breaking change release even it should not break any user

[2016-07-26 04:36] chinadragon0515 opened #779 "Support geo related functions."
Support geo related functions

### Assemblies affected
Prefer to be in breaking change release

### Reproduce steps
1. Have a entity whose type is GeographyPoint,
2.  submit request
http://localhost:18384/api/Spatial/People?$filter=geo.distance(PointLocation,geography'SRID=0;Point(142.1 64.1)') gt 0

### Expected result
The person will be returned.

### Actual result
message: "Unknown function 'ge

[2016-07-26 06:29] VikingsFan commented on #777
@TehWardy sorry for the late reply, as you can see, we are currently working a breaking change release, which involve all the resources, your scenario is very straight forward, ODataActionParameters make thing complicate when there is only one action parameter, your contribution is very welcome while we are running out of resource, or we will try to give a fix or workaround to let you review after

[2016-07-28 01:40] Lingxi-Li opened #780 "Serialisation of body fails to Model from JSON if Model has Loop Reference"
Forwarded from https://github.com/OData/odata.net/issues/650

[2016-07-28 01:49] Lingxi-Li opened #781 "Please upgrade OData to Microsoft.AspNet.WebApi.Core v 5.2.3"
Forwarded from https://github.com/OData/odata.net/issues/649

[2016-07-28 08:19] chinadragon0515 opened #782 "Provide capability to extend the ODataConversionModelBuilder"
There is a case we need to extend the ODataConversionModelBuilder for one case, the CLR class have different type than the Edm type, and want to map to Edm type during model builder.

The example is spatial related type, in DB it is DbGeography and in Edm, it will be GeographyPoint, GeographyLineString and so on, in CLR class, it will need to be DbGeography, and also two properties will have issue

[2016-07-29 02:09] chinadragon0515 opened #783 "More control on Expand and Select attribute"
Three more controls
1.	For the class Expand attribute, it will have a flag to indicate whether search auto-expand navigation properties of derived type when user query base type and result is derived type, the default value is false (means by default, derive type is not searched for auto-expand properties).
2.	For the class Expand attribute, it will have a flag to indicate whether to ignore auto-e

[2016-08-01 02:38] xuzhg commented on #701
Consider with model version.

[2016-08-01 03:52] xuzhg commented on #781
Hi,  @jhensley707

I follow you steps and can't find the issue. Below is what I have done:

1. Use VS2013 to create a new empty web application. select [ASP.NET Empty Web Application]
2. Right click on the created project, select [Add] -> [New Scaffolded Item ...]
3. In the [Add Scaffold] Dialog, select [Web API 2 Controller - Empty]
4. Accept the default controller name and click [Add] button

5.

[2016-08-01 16:54] Casimodo72 opened #784 "OData query with many fields produces StackOverflowException"
Hi,

a javascript client odata query produces a StackOverflowException on the server in EntityFramework when the query has lots of fields.
In my scenario the query succeeds with 94 fields (main and 13 $expanded tables), but not with 96 fields (i.e. 2 fields added to query over main table). Note that I do not select all fields of any of those tables.

The exception is thrown for me in EntityFramewo

[2016-08-02 00:02] chinadragon0515 commented on #783
From Mike,

1)	I would expect that any auto-expand properties of a derived type would also be expanded by default (otherwise there's much less value in making them autoexpand)
2)	This looks fine
3)	I would expect that, by default, a $select clause would only include the specified properties (and not autoselect columns) – I would expect that, by default, $select would take precedence -- otherwise t

[2016-08-02 03:29] xuzhg commented on #775
P0

[2016-08-02 16:28] jhensley707 commented on #781
According to packages.config, my web service originally had this version of OData
`<package id="Microsoft.AspNet.OData" version="5.2.1" targetFramework="net45" />`
and my web.config specified these assemblies
`<dependentAssembly>`
`<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />`
`<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5

[2016-08-05 02:37] CarefreeXT opened #785 "OData query force select specified some property"
I hope control query result field,
some user can't query some property