[2018-08-21 15:06] Angelinsky7 commented on #1584
The thing interesting is that it's not the call to `CreatedAtAction` that is causing the crash but later during the execution

[2018-08-21 15:07] xmichaelx commented on #1578
I've investigated further and accessed the expression tree associated with query that is generated using following code:

    public IActionResult Get(ODataQueryOptions<File> oDataQueryOptions)
    {
        var expr = oDataQueryOptions.ApplyTo(_db.Files).Expression;
        return Ok(_db.Files);
    }

DebugView from expression:

[code]

HTH

[2018-08-21 20:46] AlanWong-MS commented on #1583
@CrazyBaran would you be able to share your controller code?

[2018-08-21 21:52] AlanWong-MS opened #1585 "BatchHandler does not honor DefaultMaxOperationsPerChangeset updates"
### Assemblies affected
WebAPI OData 7.0.1

### Reproduce steps
See [ODL 1231](https://github.com/OData/odata.net/issues/1231) for issue details.

One can also modify the test case `test\E2ETest\Microsoft.Test.E2E.AspNet.OData\Batch\Tests\DataServicesClient\DefaultODataBatchHandlerTests.cs : CanBatchQueriesWithDataServicesClient()` by changing the ODataBatchHandler's settings.

[code]

### Expecte

[2018-08-21 21:54] AlanWong-MS commented on #1585
@maharajan1986, I've created this thread to help track the batch issue for one of our upcoming releases.

[2018-08-21 22:59] PriyankaPai2 opened #1586 "OData and post – processing"
I have a customer who has a Web API server (with EF 6.x) and needs to do some post-processing of the result set from OData queries in the controller. On the client-side he is using a DevEx grid and the ODataInstantFeedbackSource.

a)	With no post-processing, everything works fine, e.g.:

http://contoso.com/odata/Items/$count

[EnableQuery]
public IHttpActionResult GetItems(ODataQueryOptions<Item>

[2018-08-22 04:09] Abouzeid opened #1587 "Query Nested $expand query options apparently is not compliant to Odata 4.0"
[http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part2-url-conventions/odata-v4.0-errata02-os-part2-url-conventions-complete.html#_Toc406398162](odata 4.0)
Our requirement need the nested $epxand to be abide to the odata 4.0.
### Assemblies affected
Assembly Microsoft.AspNet.OData, Version=7.0.1.20718
Not very sure if the problem resides here.
### Reproduce steps

### Expected res

[2018-08-22 08:34] CrazyBaran commented on #1583
Nothing fancy
[code]

[2018-08-22 09:46] smariussorin commented on #1580
A workaround for decoupled DbContext, if this will ever be provided:

protected virtual IQueryable<TEntity> ApplyQueryOptions(IQueryable<TEntity> query, FilterEntities<TEntity> filter = null)
        {
            if (filter != null && filter.QueryOptions != null)
            {
                query = filter.QueryOptions.ApplyTo(query) as IQueryable<TEntity>;

                if (filter.QueryOptio

[2018-08-22 20:04] maximpashuk opened #1589 "ETag http header not generated in POST\PUT requests"
Hi I am using **Microsoft.AspNetCore.OData 7.0.1**

I decorate controller with [[ETagMessageHandler]](https://github.com/OData/WebApi/blob/f9d10191efcb13fee7f995fa4ec2188860d8c6fd/src/Microsoft.AspNetCore.OData/ETagMessageHandler.cs) attribute.

- GET requests => all the things is fine, ETag http header (and also "@odata.etag" metadata) generated as it should.
- POST\PUT requests =>  "@odata.etag"

[2018-08-22 22:51] xuzhg commented on #1579
Merged.

[2018-08-22 22:51] #1579 closed

[2018-08-23 20:46] AlanWong-MS commented on #1586
I researched into this and query options appear to work in general without the [EnableQuery] attribute, but I was able to reproduce the error where $count returns an error if [EnableQuery] is not present. This does look like a bug in WebAPI Odata.

[2018-08-24 03:15] RamjotSingh opened #1591 "OData builder does not honor namespace"
*Short summary (3-5 sentences) describing the issue.*
OData EDM builder does not add new entity and complex types automatically to the namespace registered in ODataConventionModelBuilder.

### Assemblies affected

OData 7.X assemblies

### Reproduce steps

ODataConventionModelBuilder builder = new ODataConventionModelBuilder
            {
                Namespace = "MyCustomNamespace",

[2018-08-24 07:17] maximpashuk opened #1593 "Make aspnetcore CreatedODataResult\UpdatedODataResult derive from ObjectResut"
In **Microsoft.AspNetCore.OData 7.0.1** CreatedODataResult drectly implements IActionResult interface.

This is not convenient for developer who want later override value provided to CreatedODataResult\UpdatedODataResult, for example, map it with AutoMapper.

If I create custom asonetcore [ResultFilter](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters), I can get CreatedODataRe

[2018-08-24 19:43] techniq commented on #669
@xuzhg Any thoughts on my previous comment regarding `aggregate` and fixing `queryOptions.ApplyTo()` regression

[2018-08-24 20:09] grahamehorner commented on #669
what would the teams thoughts be around supporting non relation data sources via ef core ie. CosmosDB and Graph via germlin etc.

[2018-08-25 00:11] brjohnstmsft commented on #736
FYI @xuzhg -- This fix was never applied in 6.0. We're seeing the regression now that we're upgrading Azure Search to the latest version. I've submitted a PR to port the fix over to 7.x.

[2018-08-27 11:48] Danielku15 opened #1595 "Publish PDBs to Microsoft Symbol Server"
Most of the Microsoft.AspNetCore.* projects publish their debug symbols (PDBs) including SourceLink support to the Microsoft Symbol Services so you can step into the sources while debugging. The Microsoft.AspNetCore.OData PDBs seem to be one of the only ones missing.

### Assemblies affected

Microsoft.AspNetCore.OData.dll - 7.00.1.20718 (711BE7D3B49657DBB39831AF956E78601)
*via released NuGet Pack

[2018-08-28 01:29] techniq commented on #1154
@xuzhg @robward-ms Not sure if this would help, but [OdataToEntity](https://github.com/voronov-maxim/OdataToEntity) supports [$apply / aggregate](https://github.com/voronov-maxim/OdataToEntity/blob/master/test/OdataToEntity.Test/Common/SelectTest.cs) for .NET Core / EF Core / ASP.NET Core.

[2018-08-28 15:39] chris-clark commented on #136
EF Core 2.1's new ValueConverter functionality offers a potential workaround for those looking to query on SQL datetime columns. The problem here is that regardless of the CLR type on the entity, OData converts date/time literals to the DateTimeOffset CLR type in all cases. This type then serializes to SQL with too much precision, resulting in a cast exception being returned from SQL Server (it si

[2018-08-28 16:42] Casimodo72 opened #1596 "IN operator with GUID fails"
An HTTP OData V4 request using a filter with the IN operator with GUIDs fails.

Strangely the request works (but shouldn't) when using single quotation marks around the GUIDs.

(Side note: is there a broader data type issue w.r.t the IN operator? Because I can't make the IN operator to work with integers at all).

### Assemblies affected

OData WebApi lib 7.0.1

### Reproduce steps

HTTP request.

[2018-08-28 17:17] TehWardy commented on #136
@ImGonaRot  code templating or generics might help you there ... fix it once, re-apply the same thing everywhere ... works fine for my js framework.

That said ... i'm used to working with telerik stuff which is basically a framework of such hacks ... after the first MB of crap work around code you give up trying to do things perfectly and just build hooks that let you override every last aspect o

[2018-08-28 17:21] TehWardy commented on #136
@chris-clark at one point i considered writing my own OData framework just using raw WebAPI and the ODataLib library to do the uri params to LINQ handling.

I actually genuinely don't understand why this is so complex as a problem until i notice that Microsoft wants you to pull in their full rest-tier and then it all clicks ... the problems we face just using the basics are because we choose not t

[2018-08-29 13:50] albertoVieiraNeto commented on #1494
Is there a plan to implement this? currently i have my api separated in areas of concern, i was able to separate almost everything but the same happens to me, the router selects any of the controllers disregarding namespace and pretty much everything.

[2018-08-29 18:12] xuzhg commented on #1595
@Danielku15

Actually, We published the symbols to server: `https://nuget.smbsrc.net/`.  And I can debug into ASP.NET Core OData and ODL source codes.

I checked it at my side, all `Microsoft.AspNetCore.dll` symbols were uploaded to this server.
![image](https://user-images.githubusercontent.com/9426627/44806511-07cd7580-ab7c-11e8-9f37-410cce30bcad.png)

Would you please add `https://nuget.smbsrc.

[2018-08-29 18:34] xuzhg commented on #850
Merged.

[2018-08-29 23:17] KanishManuja-MS commented on #1596
@Casimodo72 This does look like a bug. I am actively working on a fix for this.

[2018-08-30 01:36] maximpashuk commented on #1593
Your workaround will work.

But you know, most of aspnetcore web api returned childs of ObjectResult class (Ok(), Redirect(), BadRequests())

Using your workaround in my intercepter I have a check:

```if (result is ObjectResult || result is CustomCreatedODataResult || result is CustomUpdatedODataResult)```

This is not good thing I think.
Also this is pseudocode, because CreatedODataResult is gen

[2018-08-30 07:15] Danielku15 commented on #1595
Thanks, debugging is working perfectly now. Was the PDB location documented somewhere and I missed it?

[2018-08-30 16:13] xuzhg commented on #1595
No, you don't. It's still in a https://github.com/OData/WebApi/pull/1590.

[2018-08-30 16:13] #1595 closed

[2018-08-30 18:00] mtroth-microsoft opened #1597 "Urls targeting collections of EdmComplexObjects fail to serialize."
if I target the entity set:
/Entities/key
and the entity type contains a Collection(ComplexType) property, the result works as expected. But when I navigate directly to that property, the service errors out because the media formatter is unable to find a qualifying serializer to handle List<EdmComplexObject>.
/Entities/key/ListOfComplexObjects

this was tested against master.

[2018-08-30 23:42] maximpashuk opened #1598 "ODataPathSegmentHandler is not aware of key-as-segment"
Hi I am using **Microsoft.AspNetCore.OData 7.0.1**

I am trying to use key-as-segment (```users/1``` instead of ```users(1)```)

I set ```SetUrlKeyDelimiter(ODataUrlKeyDelimiter.Slash)```, also set up ```ODataSimplifiedOptions``` and enable ```EnableReadingKeyAsSegment``` and ```EnableWritingKeyAsSegment```.

Most of the thing works fine (parsing, simplified namespaces), except one thing.

**EditL

[2018-08-31 00:04] xuzhg commented on #1597
@mtroth-microsoft I don't know why did you get such error. It should work for the current ASP.NET OData library.

![image](https://user-images.githubusercontent.com/9426627/44885597-8dcde700-ac76-11e8-8f19-ee743cb3b544.png)

Did you implement the correct method in your entityset controller? In the convention routing, the method name should be : `Get{ComplexPropertyName}`

[2018-08-31 00:28] mtroth-microsoft commented on #1597
Yes. Are you sure yours is a typeless model? I have no Clr classes anywhere in my component.

From: Sam Xu <notifications@github.com>
Sent: Thursday, August 30, 2018 5:05 PM
To: OData/WebApi <WebApi@noreply.github.com>
Cc: Michael Roth <mtroth@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OData/WebApi] Urls targeting collections of EdmComplexObjects fail to serialize. (#1597)

[2018-08-31 09:40] freeranger opened #1600 "ActionDescriptorExtensions is not thread safe"
GetEdmModel adds an entry to actionDescriptor.Properties if it does not exist but is not thread safe.
In the time between Properties.TryGetValue and Properties.Add, the property may have been added already and you get: `ArgumentException: An item with the same key has already been added`

### Assemblies affected

Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps

This will throw the expected e

[2018-08-31 10:05] last-Programmer opened #1602 "Could not load file or assembly 'System.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified."
We have upgraded our oData Asp.Net appllication to .Net version 4.7.2 and we have reinstalled all the dependencies ie odata nuget packages and we have started getting the following error

Could not load file or assembly 'System.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
Description: An unhandled ex

[2018-08-31 11:57] rbmanian75 commented on #1602
It seems to be that reinstalling odata nuget packages adds System.Linq, System.Linq.Expression, System.Reflection, System.Runtime.Extensions to references and also adds assembly redirection. Deleting the references and removing the assembly redirection solves the issue.

[2018-08-31 19:49] mtroth-microsoft opened #1603 "CreateODataValue on ODataPrimitiveSerializer is sealed"
Is there a particular reason why this implementation of the method is sealed? to properly handle some scenarios (when i have wrapped my primitive types in a class), I need to be able to override this method and unbox the value before passing it to the base implementation.

[2018-08-31 20:56] xuzhg commented on #1597
Yes. It should work for untyped (typeless) model.
For example, I have the following untyped model. (Without CLR type).
[code]

In the controller, I have:

[code]

I can get:

![image](https://user-images.githubusercontent.com/9426627/44935466-ae08af00-ad25-11e8-909f-83bc92344da5.png)

[2018-08-31 21:27] fpintos commented on #1421
If it helps anyone else out there, I've worked around this issue by creating a custom JSON reader.
See this [GIST](https://gist.github.com/fpintos/3aac2579a261c0cb79c9ea08db22095e) for a JSON reader that reports all property names in lower-camel-case.

[2018-09-01 13:51] mtroth-microsoft commented on #1597
what serializer are you using?

[2018-09-02 21:08] jacobneroth opened #1604 "How to dynamically get the properties tied to OpenTypes, is there an easy way to get it in the client side"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2018-09-03 00:41] martinvzla commented on #1208
Same problem but, in my case is working on PUT but not POST

[2018-09-03 09:33] da1rren opened #1605 "System.Runtime.InteropServices.SEHException is thrown when grouping on Guids"
## Summary

I am able to cause a System.Runtime.InteropServices.SEHException that causes the application to crash.  When grouping by a Guid identifier.  I have created a small application to allow you to reproduce the issue here:

https://github.com/da1rren/OData-AccessViolationException

### Assemblies affected

7.0.1 .Net Core 2.1.0

### Reproduce steps

Run https://github.com/da1rren/OData-Acce

[2018-09-03 09:36] da1rren commented on #1605
I see this is already tracked by #1413

[2018-09-03 09:36] #1605 closed

[2018-09-03 15:19] flieks opened #1606 "OData function in .NET Core with parameters"
I am trying to use the same code as we did with net 4.6.1
[code]

For some reason when i include `recentlyExpired.Parameter<string>("maxItems")` i get error
[code]
The function:
[code]
Without Parameter<string> it works but only with string parameters and not as `/RecentlyExpired(maxItems=2)`

I tested with
[code]
With and without  [FromODataUri]. Nothing works

[2018-09-04 14:17] flieks commented on #1606
Now it kind of works but optional parameters need to be specified or the action isn't called

[2018-09-04 14:36] ikemtz commented on #1413
Any update on the fix for this issue from the OData side?

[2018-09-04 14:40] techniq commented on #1413
See also: https://github.com/OData/WebApi/issues/1154#issuecomment-416420820

There is also https://github.com/OData/WebApi/issues/1221, which is a duplicate of this issue (been open longer, but still a duplicate)

[2018-09-04 14:56] flieks commented on #1606
made a new issue here because it's a api versioning issue
https://github.com/Microsoft/aspnet-api-versioning/issues/341

[2018-09-04 14:56] #1606 closed

[2018-09-04 17:35] xuzhg commented on #1604
@jacobneroth Would you please share us detail information to let us help you more?

[2018-09-04 18:18] xuzhg commented on #1603
@mtroth-microsoft I can't remember the reason. Can't you override the before virtual function "WriteProperty" and the after virtual function "CreateODataPrimitiveValue"?

[2018-09-04 18:18] #1603 closed

[2018-09-04 18:33] xuzhg commented on #1597
@mtroth-microsoft I did not change or and anything. I think I used the default serializer.

[2018-09-04 20:05] mtroth-microsoft commented on #1597
probably a difference in how the models are created then. I have created a PR against this item so you can see what is needed to make the scenario work for some who is loading their model directly off of a CSDL and returning both entity sets and sets of complex objects that have no type.

[2018-09-04 21:37] mtroth-microsoft commented on #1597
I don’t need this. I have a repro of the problem, Sam.
I have submitted a PR that addresses the issue.

From: Sam Xu <notifications@github.com>
Sent: Tuesday, September 4, 2018 2:20 PM
To: OData/WebApi <WebApi@noreply.github.com>
Cc: Michael Roth <mtroth@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OData/WebApi] Urls targeting collections of EdmComplexObjects fail to serializ

[2018-09-04 22:01] xuzhg commented on #1597
@mtroth-microsoft The PR #1607 looks you want to process the serialization of IEnumerable<IEdmEntityObject> or IEnumerable<IEdmComplexObject>, right?

[2018-09-04 22:08] xuzhg commented on #1602
@rbmanian75 Since the issue was resolved, can I close it?

[2018-09-04 23:34] mikepizzo commented on #1597
Yes; I think the difference is in @xuzhg's sample, even though CLR types are not used, the Edm type "Address" is defined.  In @mtroth-microsoft's case there is no Edm type defined for Address -- the collection of complex type uses Collection(Edm.ComplexType).

[2018-09-04 23:41] xuzhg commented on #1597
@mikepizzo Now, I see.  Just like the property named "Addresses".

[code]

[2018-09-05 10:12] nathan-swannet commented on #255
also still facing this bug on Microsoft.AspNetCore.OData 7.0.1.

[2018-09-05 10:34] maximpashuk commented on #255
But still workaround works for me in Microsoft.AspNetCore.OData 7.0.1
[code]

[2018-09-05 10:49] rbmanian75 commented on #1602
Hi,

To resolve the issue we need a manual interaction after installing the odata packages. It would be better when installing the packages these referenaces  System.Linq, System.Linq.Expression, System.Reflection, System.Runtime.Extensions should not be added to the project like it is doing for .Net 4.6

[2018-09-05 20:33] madansr7 commented on #1602
@rbmanian75 Sorry to hear the experience but it looks like a VS nuget package management related issue.

[2018-09-07 13:06] awaitJosh opened #1608 "Calling AspNetCore-OData Controller "returns" connection error"
Hi,
I´m facing a really weird error with AspNetCore.OData package. I have an AspNetCore WebApi-Project and everything is configured as recommended (as far as I know)..
If I call a regular Controller (derived from ControllerBase) everything is ok. But if I try to call my OData-Controller I get a connection-reset error (see picture below)
![error](https://user-images.githubusercontent.com/33057109/4

[2018-09-07 14:20] Tanhe opened #1609 "literalValue parsed incorrectly within IN parameter list"
The following basic `in` expression fails to parse:

`$filter=Foo in ('value with '' inside it')`

### Assemblies affected

Microsoft.AspnetCore.OData 7.0.1

### Reproduce steps

Query any basic OData filterable endpoint.

### Expected result

The query should parse and the `value with ' inside it` should be used to perform the query.

### Actual result

[code]

[2018-09-07 19:36] Tanhe commented on #1609
In reference to the above, noticing that is was a JSON parsing error (I didn't think the OData spec was fully JSON compatible), I tried the following query:

`$filter=Foo in ('value with \' inside it')`

This also fails with a message about an unbalanced expression being found.

[2018-09-07 22:40] D4N14L opened #1610 "Unable to have query parameters on functions bound to types with auto-expanding properties"
All functions which are bound to types with auto-expanding properties fail to return correctly, instead failing with:
[code]

### Assemblies affected

OData WebApi lib 6.0

### Reproduce steps

Create an entity type with auto-expanding properties, and create a function that binds to this type. Make a request to the function endpoint, with a query string (can be unrelated to OData, eg. '?test=1'

#

[2018-09-09 23:28] brjohnstmsft commented on #208
I've just independently encountered this issue (with a slightly different failure mode) when experimenting with the CORS implementation in Azure Search. Along the way, I've come up with a reliable repro and a possible workaround.

First, the repro. This is using Microsoft.AspNet.OData 7.0.1. There is a similar problem using Microsoft.AspNetCore.OData with CORS, but I'm going to file a separate iss

[2018-09-09 23:29] brjohnstmsft opened #1611 "CORS preflight doesn't work with OData in ASP.NET Core"
Sending CORS preflight requests to an OData service running on ASP.NET Core fails with 404 when it shouldn't. Note that this is a different symptom than [this similar issue](https://github.com/OData/WebApi/issues/208), and also likely a different cause since the implementation of CORS in ASP.NET Core is substantially different than the one for classic ASP.NET.

### Assemblies affected

Microsoft.A

[2018-09-10 20:38] madansr7 commented on #1586
@PriyankaPai2, do you still need assistance with this issue? If not, can you please close it.

[2018-09-10 23:05] developermj commented on #895
I too am curious of how files can be handled in odata. I currently have an endpoint that accepts a base64 encoded file as a parameter but it doesn't feel right. Is this question an ideal way of handling files in odata? Is there another preferred way?

[2018-09-11 00:52] digitalpowers commented on #895
I can tell you what I ended up doing

ODataActionParameters actionParameters = new ODataActionParameters();
MultipartFormDataStreamProvider provider = new MultipartFormDataStreamProvider(mFileUploadLocation);
Task<MultipartFormDataStreamProvider> multipartAsync = Request.Content.ReadAsMultipartAsync(provider);
MultipartFormDataStreamProvider multipart = multipartAsync.Result;
foreach(MultipartFile

[2018-09-11 20:49] awaitJosh commented on #1608
My bad, sorry.
Sometimes it´s a good idea to leave the code alone for a few days. Finally a restart with a new project was successful. I Actually don´t know what I have missed but I´d not be surprised if it was something really obvious....

[2018-09-11 20:49] #1608 closed

[2018-09-12 15:51] NetTecture opened #1613 "Routing not integrating with dotnet core async controller methods"
7.0.1 RTM vs. dotnet core sdk 402.

A post method in an Odata Controller with the signature:

`public` IActionResult Post([FromBody] Api.Odata.Account account) {

is found and routed to. The same as async:

`public` async Task<IActionResult> PostAsync([FromBody] Api.Odata.Account account) {

is not (Not found, 404). Note the Async name suffix, which is dotnet coding standard compliant.

https://do

[2018-09-12 20:57] biaol-odata commented on #1613
Currently we are following naming conventions for ASP.NET for identifying HTTP methods. It will be an added feature to also recognize methods suffixed with "Async" per dotnet coding conventions.

[2018-09-12 21:02] xuzhg opened #1614 "Expanding navigation property on OpenType entities throws NullReferenceException"
Copied from https://github.com/OData/odata.net/issues/1241

Expanding a non dynamic navigation property on an entity that is marked as OpenType in EDM with no dynamic properties throws NullReferenceException.

For example:
http://localhost:5000/TripPinService/People('scottketchum')?$expand=Friends

### Assemblies affected

Assembly: Microsoft.AspNetCore.OData, Version=7.0.1.20718, Culture=neutral,

[2018-09-19 13:27] txavier commented on #1602
I'm having the same problem.  It's a good thing I found this thread or I would be totally stuck.  Does the fault truly lie with nuget package management?

[2018-09-20 03:32] brjohnstmsft opened #1616 "CreateRequestContainer fails when called multiple times"
`HttpRequestMessageExtensions.CreateRequestContainer` is not idempotent; if you call it more than once, it throws an exception. `ODataPathRouteConstraint.Match` attempts to mitigate this by calling it inside a lambda:
 https://github.com/OData/WebApi/blob/5c59a95076011f0d9d5ebfa8f96553724af88ca1/src/Microsoft.AspNet.OData/Routing/ODataPathRouteConstraint.cs#L53

However, this doesn't help in the c

[2018-09-20 07:52] HRasch opened #1617 "Take and Top query use wrong Provider.CreateQuery Method"
I use OData together with a AutoMapper expression conversion. When i use a query like

http://localhost:54445/Article?$select=ArticleId,Name&$skip=1000&$top=10

an Exception is thrown.

The Reason for this exception is that the select creates a projection type, and the Take / Skip methods use the non-generic overload of CreateQuery from the inner Linq Provider. This Provider creates a new Query wi

[2018-09-20 11:14] maximpashuk commented on #610
I am also facing to this issue.

[2018-09-20 15:29] valainisgt opened #1619 "OData in AspNetCore cannot deserialize json payload"
Model is not deserialized when using Microsoft.AspNetCore.OData.

### Assemblies affected

Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps

I have created a github repository for demonstration purposes.

[https://github.com/valainisgt/BadODataDeserialization](https://github.com/valainisgt/BadODataDeserialization)

This repository contains two self hosted web applications.  The AspNetCoreODat

[2018-09-20 16:42] ptrushin opened #1620 "Exception when handle odata batch request when is has cookie"
I think it is because in file
https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNetCore.OData/Batch/ODataBatchReaderExtensions.cs

in line 227 context.Request.Cookies = originalContext.Request.Cookies;
add a "Cookie" key in context.Request.Headers and

in line 230 context.Request.Headers.Add(header);
add it again

### Assemblies affected

Microsoft.AspNetCore.OData/7.0.1

### Reproduce

[2018-09-23 02:51] brjohnstmsft commented on #1421
@fpintos Did you file this issue because you think properties that differ only by case should be recognized, or because the error message is unhelpful? The [OData spec](http://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/cs01/odata-csdl-xml-v4.01-cs01.html#sec_StructuralProperty) seems to indicate that case-sensitivity is the expected behavior (maybe @mikepizzo can confirm?). That's not to say t

[2018-09-24 19:09] #1619 closed

[2018-09-24 19:10] valainisgt commented on #1619
Closed the issue as decorating the action parameter with the 'FromBodyAttribute' allowed for proper serialization.

[2018-09-25 06:40] brijeshb opened #2247 "How to make Odata request binding case insensitive"
*How do i make odata bind request json in a case insensitive manner? I really appreciated this feature in web api and now as i try toward better odata compatibility this feels like an unnecessary hindrance on my clients. (I'm currently using the latest release on .net core. If there does exist documentation about this, please direct me to it.)*

[2018-09-25 10:46] da1rren opened #1622 "System.InvalidOperationException - Cannot find the services container"
When adding a custom routing convention I receive:

[code]

### Assemblies affected

V7.0.1

### Reproduce steps

[code]

### Expected result

Everything should register as expected

### Actual result

The above exception is thrown.

[2018-09-25 10:55] da1rren commented on #1622
I have replicated the issue here:
https://github.com/da1rren/OData.InvalidOperationException

[2018-09-25 11:28] da1rren opened #1623 "System.AccessViolationException - Attempted to read or write protected memory"
When running a groupby on a nullable property an System.AccessViolationException is thrown killing the process.

### Assemblies affected

OData - 7.0.1

### Reproduce steps

Run https://github.com/da1rren/OData.AccessViolationException

### Expected result

We should group on the team id property

### Actual result

Exception thrown

[2018-09-25 11:30] da1rren commented on #1623
This affects both the in memory db provider and sql server.

[2018-09-25 16:42] Boneill3 opened #1624 "Can't return BadRequestObjectResult with Odata Queries. Message: The query specified in the URI is not valid."
*Short summary (3-5 sentences) describing the issue.*
It looks like I am unable to return a BadRequestObjectResult when a request is made with query options such as $top=1. The resulting error is "The query specified in the URI is not valid. The requested resource is not a collection. Query options $filter, $orderby, $count, $skip, and $top can be applied only on collections." and not the error co

[2018-09-26 08:39] bdebaere commented on #1463
I concur. I'm almost completely sure the problem is related to one to many relationships. OData generates a single query per relation. This is a real performance killer at the moment.

This generates 3 queries with EF Core:
[code]

The same written as OData query generates multiple singular queries per relationship, and doesn't even expand further than 3 levels down (although probably unrelated to

[2018-09-26 10:26] BDomzalski opened #1625 "with EnableLowerCamelCase and HasKey only last entityset works"
Multiple conditions must be met for this issue to occur. OData (model) configuration requires:
- EDM model configured using ODataConventionModelBuilder,
- model builder EnableLowerCamelCase called,
- multiple entity sets registered using builder EntitySet method,
- CLR classes for entity set types should derive from the same base class,
- those types have a key configured to the same property at t

[2018-09-26 22:06] KanishManuja-MS commented on #1596
We determined that this issue is on the OData side as the JSON reader is not able to read edm primitive types in it's raw format.

[2018-09-27 12:04] awaitJosh opened #1626 "Serialization of NodaTime Instant fails in ODataController"
I am using NodaTime as DateTime-API in my AspNetCore OData - webapp. Everything works as expected until serialization. This is my entityBase.

[code]
Here is my Startup-ConfigureServices Method:

[code]

I am using Microsoft.AspNetCore.OData 7.0.1 NodaTime 2.4.0 Version together with NodaTime.Serialization.JsonNet 2.0.0 and Newtonsoft.Json 11.0.2.

Actions:

[code]
Everything fine so far. It´s an

[2018-09-27 17:53] youxu71 opened #1627 "overriden filter validation is called after the action is invoked"
I tried to override the default filter validator by override the EnableQueryAttribute
[MyEnableQueryAttribute]
public async Task<T> Get(ODataQueryOptions<T> queryOptions)

But seems the override validator method is called after the Get() action is invoked. I think it should be called  before the action is invoked. Not sure if I did wrong.

[2018-09-28 10:38] cornem commented on #1611
Related to https://github.com/aspnet/CORS/issues/98?

A possible workaround is to let middleware handle the CORS pre-flight requests (but it means less granular control over CORS policies):

	services.AddCors(options =>
	{
		options.AddPolicy(
			"AllowAllOrigins",
			builder => builder
                            .AllowAnyOrigin()
                            .AllowAnyHeader()

[2018-09-30 12:28] ysmoradi commented on #1463
@bdebaere If you're calling ToList and then returning the materialized result to oData, then those 3 queries are being performed by ef core, no matter you use OData or not. Test that in a simple console app first.

There are some problems with **Associations+OData+EntityFrameworkCore** too, but as long as you call ToList, your issue is **Associations+EntityFrameworkCore** only.

[2018-10-01 15:35] Danielku15 opened #1629 "Extend default query construction with custom expression builders"
Please note that this is not a bug but rather a feature request or RFC. I tried to search for similar request but could not directly find something.

**Background**
I currently have the task to implement an OData API where entities and their properties are dynamically defined via configuration. You can think of it as a ERP-alike system following a entity-attribute-value model. OData already provid

[2018-10-01 23:46] brjohnstmsft commented on #1421
@xuzhg @AlanWong-MS I think you guys can close this issue now that the PR has been merged.

[2018-10-02 00:30] brjohnstmsft commented on #1629
@Danielku15 Some teams within Microsoft have implemented OData services with user-defined EDM models, similar to what you're trying to do. I work on one of those teams (Azure Search).

The approach that we use is to avoid `IQueryable` altogether. For result representation, we use `IEdmEntityObject` etc. For queries, we have our own translator that takes the Semantic AST (i.e. `QueryNode`) from `OD

[2018-10-02 06:29] Danielku15 commented on #1629
@brjohnstmsft Thanks a lot for sharing this insight. Your solution sounds a lot like that there is not a lot from the actual OData framework usable in such a dynamic setup (only the query parser and the EDM system?). Developing a whole query translation is quite an overhead for most of the people because it does not only mean to re-implement parts the OData framework, but also potentially the ORM

[2018-10-02 13:32] TehWardy opened #1630 "Multiple types were found that match the controller named 'Metadata'"
After updating solution to reference latest version of OData framework I am now getting this exception across my solution.

### Assemblies affected

Microsoft.AspNet.OData .. i think?

### Reproduce steps

build solution on OData V6.*
update references to V7.* using nuget,
fix namespace changes.

### Expected result

Continued working solution

### Actual result

Exception detailed above.
I put in

[2018-10-02 21:03] xuzhg opened #1631 "Singleton instance not possible without Keys"
Copy: https://github.com/OData/odata.net/issues/1274

When I add a singleton to my OData-Context (https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/using-a-singleton-in-an-odata-endpoint-in-web-api-22) and don't define a key, the ODataConventionModelBuilder.GetEdmModel() method throws an exception stating that I need to define a key.

But I don't rea

[2018-10-02 21:38] xuzhg commented on #1630
@TehWardy did you uninstall the old installed web api odata nuget package before you install the new one?

[2018-10-02 21:41] xuzhg commented on #1627
add the stack overflow : https://stackoverflow.com/questions/52563667/odata-net-web-api-question-filter-validation-is-called-after-the-controller-a

[2018-10-03 15:06] zamudio-fabian opened #1632 "Decouple functionality - documentation"
There is news or intention to resolve the decoupling request that mentions this issue https://github.com/OData/WebApi/issues/1577 ?

[2018-10-03 19:13] julealgon commented on #1233
@robward-ms I know this issue is old by now, but I just added latest version of OData for .NetCore and got the more generic registration exception when trying to add a `ODataQueryOptions` parameter to one of my routes.

I did not know about the `AddOData` registration extension at the time.

After adding the registration call, I got a new message asking me to "call `EnableDependencyInjection()` to

[2018-10-03 20:44] julealgon opened #1633 "`NextLink` and `TotalCount` are always `null` when using `ODataQueryOptions` without `ApplyTo`?"
When using an explicit `ODataQueryOptions` without applying it to a `IQueryable` instance (that is, manually handling the various options), it appears that `NextLink` and `TotalCount` properties are always set to `null` in the request.

How do I make the OData framework understand the values I'm using to generate a proper link and total count values?

### Assemblies affected

Microsoft.AspNetCore.

[2018-10-03 20:52] julealgon commented on #1633
This appears to be directly related to https://github.com/OData/WebApi/issues/377

[2018-10-03 20:54] julealgon commented on #377
@brjohnstmsft I just ran into exactly the scenario you describe and created an issue here:
https://github.com/OData/WebApi/issues/1633

Could you please advise on how to properly support NextLink and TotalCount using a purely custom query there? Even if I rely on the `Request.GetNextPageLink(int)` call, it still generates the link everytime so I wonder if I'd have to handle when to show and not to

[2018-10-03 21:00] xuzhg commented on #1630
@TehWardy Would you please share with us your project reference?

[2018-10-03 22:28] brjohnstmsft commented on #377
@julealgon You will need to implement your own logic to determine when to set `NextLink` and `TotalCount`. Actually setting them is pretty easy:

[code]
where `totalCount` and `pageSize` are values that you have to calculate yourself. Tip: to detect whether results fit entirely within a page or are truncated (i.e. -- to help you decide whether you need a `NextLink` or not), request one more row/re

[2018-10-04 00:44] paterben commented on #953
We're running into this as well using Microsoft.AspNet.OData 7.0.1. Is there any workaround?

[2018-10-04 12:37] Danielku15 commented on #1629
After many investigations on my whole prototype stack I decided to drop the idea of a EAV system. Not only the OData library has serious issues with this kind of structure, also Entity Framework and on DB level there are so many obstacles and issues which lead me to this decision.

I came partly quite far on realizing such a change to the framework:

* Dynamic EDM generation based on the data mode

[2018-10-04 12:37] #1629 closed

[2018-10-04 14:03] Danielku15 opened #1634 "Allow 1 CLR type to be used for multiple EDM types."
This is a feature request that resulted from my investigations done in #1629. As I am currently working on a prototype of a new API I will likely attempt to adapt parts of the framework to implement this feature request until some extend. I hope the team working on this project can give some feedback if such a change to the library is something you want to follow up.

### Introduction

Currently i

[2018-10-04 18:53] awaitJosh commented on #945
Hi @xuzhg,

just in case, here the same question as in: https://github.com/egbertn/ODataTest/pull/1

If I send a request with nested property to a route like this: /odata/Products(1)/Supplier/$ref I get a 404. If I send a request with nested properties in my JSON Doc the delta is null.

I don´t really understand what to do here to solve the problem. I have a similar setup like this OData/WebApi#99

[2018-10-04 19:53] ynauls commented on #1441
@mikepizzo, @thnder  any updates on this issue? I am getting the same error.

### Using
Microsoft.AspNetCore.OData 7.0.1
Microsoft.AspNetCore.App 2.1.1
Microsoft.EntityFrameworkCore.SqlServer 2.1.2

### WITHOUT $expand option it returns

`{Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable<Models.Student>}`

### WITH $expand option it returns
[code]

### Method
[code]

[2018-10-04 21:08] jvitor83 commented on #1441
By what i know, the odata `select`, `expand` and `apply`(`groupby`, `aggregate`) change the type of the result/response. Once you use `ApplyTo`, it lost the ability to cast to `IQueryable<YourType>` since the generic type is another.

[2018-10-04 21:18] ynauls commented on #1441
@jvitor83, all other OData options work with the exception of $expand, so I am not sure if that's accurate.  I am following this example [Invoking Query Options Directly](https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options#invoking-query-options-directly)

[2018-10-04 22:28] jvitor83 commented on #1441
The [example](https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options#invoking-query-options-directly) won't work with `select`, `expand` and `apply` because the `ApplyTo` change the type.

Your option here is to change to this:
[code]

Try that change and see if that works!

[2018-10-04 23:56] icnocop commented on #1630
Did you try a Clean and then Rebuild?

[2018-10-05 10:46] TehWardy commented on #1630
I have multiple OData projects in my solution but taking a couple and looking at them I see that I have the following references …

- Microsoft.OData.Core
- Microsoft.OData.Edm
- Microsoft.AspNet.Odata
- Micorsoft.AspNet.Identity.Core
- Microsoft.AspNet.Identity.Owin
- Microsoft.AspNet.Identity.EntityFramework

I have a bunch of other owin references, and I use Ninject for DI then I I have a bunch

[2018-10-05 13:43] ynauls commented on #1441
@jvitor83 , thank you for the response.  Is the example in the documentation incorrect then, i see other examples similar like this one [Server-Driven Paging](https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options#server-driven-paging)
[code]

[2018-10-05 14:51] jvitor83 commented on #1441
No.
[This](https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options#server-driven-paging) example is correct, because it will apply the options after the method **(it is not using the `ODataQueryOptions`)**.

In your example: i never used the `PageResult` myself, but i believe it won't allow to use the options that change the resulting

[2018-10-07 07:51] CarefreeXT opened #1635 "Batch create entity realtaion error!"
*I try add two entity and one entity link by batch, request content is *
[Request Content.txt](https://github.com/OData/WebApi/files/2453701/Request.Content.txt)

### Expected result

*Return 500, Server is exception.*

Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 POST http://localhost:52715/sample/odata/$batch multipart/mixed; boundary=batch_61e1460e-54dc-4

[2018-10-07 07:53] CarefreeXT commented on #1635
Microsoft.AspNetCore.OData 7.0.1

[2018-10-09 16:59] julealgon opened #1637 "Change Request: Remove null check on 'ODataFeature().TotalCount' property"
The `TotalCount` property under `Request.ODataFeature()` extension throws an exception when an attempt is made to set it to `null`. This is inconsistent with other properties that are also nullable, like `NextLink` and `SelectExpandClause`.

I suggest removing the "not `null`" restriction as there is no problem when this value is null, and it would make our life easier being able to set the value

[2018-10-09 17:01] julealgon opened #1638 "Incorrect '$top' value generated when using 'Request.GetNextPageLink(int)'"
When both server-driven paging and client-driven paging are involved (that is, there is a max pagesize configured on the server, and a `$top=X` is specified in the query), the generated `nextLink` value when using `GetNextPageLink(int)` is incorrect and sometimes invalid.

### Assemblies affected

Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps

1. Create an OData API with server-driven pagi

[2018-10-09 17:36] julealgon opened #1639 "Incorrect `NextLink` generated when '$skip' and '$top' operators are not all lowercase"
When sending requests with `$skip` and `$top` not all on lowercase, the `nextLink` generated by `GetNextPageLink(int)` incorrectly fails to detect them and creates invalid URLs.

### Assemblies affected

Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps

Call an OData API with uppercase `$skip` or `$top` and manually write the `@odata.nextlink` value by using `GetNextPageLink(int)`.

Sample:
-

[2018-10-09 17:38] julealgon commented on #1638
I found a workaround to retain the `$top` value due to another problem described here:
https://github.com/OData/WebApi/issues/1639

By passing an uppercase `$TOP` value, it is still considered correctly on the API but is ignored on the nextlink generation logic.

[2018-10-10 11:46] maximpashuk opened #1640 "Support ODataUntypedValue in Open Types"
odata.net library support reading\writing untyped json values.
http://odata.github.io/odata.net/06-13-support-untyped-json

I have some training on [ODataOpenTypeSample](https://github.com/OData/ODataSamples/tree/master/WebApiCore/ODataOpenTypeSample) to test does it support untyped json for reading\writing.

Probably I am missing something, but I think now with Microsoft.AspNetCore.OData 7.0.1 it

[2018-10-10 16:38] jlkalberer commented on #1630
@TehWardy I ran into this problem working with Azure. I had to change my publish settings to clear all files when publishing.

I'd make sure that wherever you're publishing to, you remove the old DLLs

[2018-10-10 16:43] KanishManuja-MS commented on #1639
@julealgon Thanks for catching this. I will fix it with my next PR.

[2018-10-10 20:48] biaol-odata commented on #1640
@maximpashuk Looks like this is a feature gap for WebAPI. We will consider this feature in our future planning.

[2018-10-11 16:55] TehWardy commented on #1630
Weird, it turns out there's some odd stuff going on in VS ... when I do a debug build if some of the dependencies exist in the release builds bin folder it seems to use those.

I guess this is a VS bug not an OData one.
Having done a clean out of the other bin folder for the release build it works fine.

[2018-10-11 22:47] biaol-odata commented on #1635
@CarefreeXT can you provide more details of your code, such as code on client and server sides? The error message "System.InvalidOperationException: This operation is not supported for a relative URI." indicates that it encounters a relative uri.

[2018-10-12 02:15] CarefreeXT commented on #1635
@biaol-odata Hello,The zip is code.
[ODataBug1635Sample.zip](https://github.com/OData/WebApi/files/2471334/ODataBug1635Sample.zip)
This is error Screenshot
![error](https://user-images.githubusercontent.com/12483062/46844004-bd404980-ce07-11e8-81ac-36fb7f1cd2c8.png)

[2018-10-12 10:44] rjperes opened #1642 "Question: Action Method Without Parameters Not Working"
Hi,

The following action method causes an exception when my OData project starts:

`
[EnableQuery]
[ODataRoute("Something")]
public IActionResult GetSomething()
{
      var response = //doesn't matter
      return this.Ok(response);
}
`

The actual error is:

To be clear, this error does not show when I try to access the action - it doesn't find it - but when the project starts.

If, on the other

[2018-10-12 16:19] jpiquot opened #1643 "Expand on TPH child do not work"
I have an Organization class that has a foreign key to a Site class and two child organization classes LegalEntity, NaturalPerson.

Expanding Site on organizations works well, but throw an exception from inherited childs NaturalPerson or LegalEntity.

**IS OK**

**IS KO**

### Assemblies affected

Issue is on all versions. Last tested : EF Core 2.1.4 and WEBAPI Latest.

### Reproduce steps

*The s

[2018-10-15 08:59] Madhust commented on #1620
I have faced this exact issue. Any way to disable cookies from adding in the request??

[2018-10-15 16:31] HRasch commented on #1617
Hello,
I have trouble to find a good position for a unit test that covers a query with select, skip and top parameter. If I'm right, this test will fail without my correction. Imo the tests are even harder to understand than the code itself...

[2018-10-15 21:12] xuzhg commented on #1642
@rjperes
`Do I need to add it to the IEdmModel?` -> Yes.

Besides:
1. Make sure you want a Edm function call or Edm action call?  function call should be "Get" request method, while action call should be "Post" request method.
2. Make sure you want to call the operation (function or action) on collection of resource, or on single resource. In your scenario, `[ODataRoute("Xpto/Something")]` looks c

[2018-10-15 21:12] #1642 closed

[2018-10-15 21:19] xuzhg commented on #1571
@albertoVieiraNeto Please let us know any further helps on it

[2018-10-15 21:19] #1571 closed

[2018-10-15 22:48] xuzhg commented on #1617
@HRasch Would you please add your test cases into "https://github.com/OData/WebApi/blob/master/test/UnitTest/Microsoft.AspNet.OData.Test.Shared/Query/ExpressionHelpersTest.cs"

[2018-10-16 03:54] ynauls opened #1645 "Support: Add interface to create ODataQueryOptions via a mock framework"
Add interface/support to unit test ODataQueryOptions with a mock framework.  I implemented logic using the following sample from here [Server-Driven Paging](https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options).  The code works, however, i am unable to unit test due to complexity of creating ODataQueryOptions

[code]

### Assemblie

[2018-10-16 07:10] HRasch commented on #1617
Are you sure about this place? Just because I have to write a test about the combinatino of a select, take and top option. I guess the test fails, because when I use this three operators together, "Select" returns a generated projection type, "take" use this type to create a new query. Becauseof the wrong overload of CreateQuery of the underlying Linq-Provider is used, it returns the default type

[2018-10-16 09:50] rjperes commented on #1642
Thanks, it did work! I didn't have to add the [ODataRoute] attribute, and I don't really understand the scenarios where it is needed, but that is another question! Thanks, again!

[2018-10-16 15:09] freeranger commented on #1645
@ynauls https://github.com/OData/WebApi/issues/1352#issuecomment-397385479 may help you with your unit testing - not nice, but it works :)

[2018-10-16 16:01] NetTecture opened #1646 "Odata Exceptions are being swallowed."
Current release.

I am just reproing a bug for a user of my API that actually indicates Errors being swallowed. The core bug is that a URL submitted has invalid syntax in the filters. Good so far? Sure.

I get an ODataException:

  | Name | Value | Type
-- | -- | -- | --
▶ | $exception | "Syntax error at position 95 in 'Account/Identity eq 692b62bf-887a-47eb-93b8-c5dea8b337f3 and ServiceAccount eq

[2018-10-16 16:04] NetTecture commented on #1467
And again under #1646 - Syntax errors are swallowed in general, leaving zero relevant information to the user of an API.  This is resulting on our end into a high number of simple bugs where we have to investigatge test cases just to get the internal error so we can provide end users with error information.

[2018-10-17 11:01] NetTecture commented on #1613
Well, according to the dotnet and the asp.net team there are no asp.net naming conventions. The asp.net roslyn analyzer nicely demands the Async suffix for async methods.

[2018-10-17 11:11] NetTecture opened #1647 "Documentation for Link creation defective, giving wrong guideline for method naming"
Dotnetcore 7.0.1

I am trying to route link creation and destruction to methods named DeleteRef or DeleteLink (or CreateRef / CreateLink) as per the instructions at http://odata.github.io/WebApi/#03-01-routing-abstract.

According to the section "Querying, Creating and Deleting Links" these names should automatically be routed.

I have methods for this:

        [HttpPost]
        public async Tas

[2018-10-17 11:16] Jamaxack commented on #1091
What is the status of this?

[2018-10-17 15:52] ynauls commented on #1645
@freeranger, thank you, i saw that earlier and it works.  I would def like some support out of the box :)

[2018-10-17 21:45] denious commented on #758
Following; just got into OData and uncovered these underwater rocks. Makes me doubt this investment of time and effort...

[2018-10-18 05:49] sheam opened #1648 "Where is ModelState in 7.0? Documentation on upgrading from 6?"
after upgrading Microsoft.AspNet.OData from 6 to 7, I no longer have access to ModelState, or BadRequest() in my odata controllers.

I can't seem to find any documentation on a migration path from 6 to 7.

[2018-10-18 20:19] tcihak-fqa opened #1649 "Custom uri function, literal prefix, and literal parser for EF6 DbGeography"
I defined a Uri Function to implement geo.intersects() using the EF6 DbGeography type.
I also registered a literal prefix and literal parser.

When running a query with the function, I get a NullReferenceException in FilterBinder.BindConstantNode() since the constantNode.TypeReference is null.

If I register a custom FilterBinder with the following override, the function works as expected.

[code]

[2018-10-19 10:20] igor-moskvitin opened #1650 "Question: If-None-Match header with value * parsing issue"
Using `ODataQueryOptions` to get value of `If-None-Match` - it works fine if it contains ordinary weak etag, but getting `FormatException` if `*` received.
Extracting `*` [here](https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/ODataQueryOptions.cs#L216) and failing [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers

[2018-10-19 21:12] vinniep79 commented on #1368
Any updates on this issue?

[2018-10-19 22:51] madansr7 commented on #1648
@sheam, would you please share a sample of your code.

[2018-10-19 23:42] mloffer opened #1651 "Missing documentation for FilterQueryValidator"
WebAPI 2.2 documentation lists very little:
https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2

OData documentation is out of date:
https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/odata-security-guidance
A) FilterQueryValidator requires DefaultQuerySettings to be passed to the base. Where should this come from?
B) This article doesn't

[2018-10-20 13:54] bearkat2173 commented on #1568
Can somebody please let me know on this?

[2018-10-21 18:57] joshcomley commented on #1463
This is an issue with OData, please see my PR to fix this.

[2018-10-22 06:54] NetTecture commented on #1648
@madansr7 What code? He is asking for documentation on how to upgrade, which IS missing.

[2018-10-22 09:40] fazil1987 opened #1654 "Q: how to use logical operators only with Date without timestamp"
Almost all the examples that I see for working with datetime has timestamp attached to it. How can I query just by using the date with out timestamp in it ?

[2018-10-22 10:32] maximpashuk commented on #1650
Hi @madansr7, @xuzhg , I made some investigation on this issue and I think this is bug in OData web api.

If you take a look at GenericHeaderParser in corefx repo, you can find TWO implementations of etag parsing
- [ParseSingleEntityTag](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Net.Http/src/System/Net/Http/Headers/GenericHeaderParser.cs#L92) used fo

[2018-10-22 19:42] erbaker commented on #1473
I don't know if this is related or still an issue or not, but I'm seeing some strange behavior from parsing DateTime type in .net.

`?$filter=IsActive eq true and IsAutomated eq true and website ne null and length(website) gt 0 and (LastUpdated eq null or date(LastUpdated) lt 2018-10-22T12:43:50.233z)`

returns

`$filter=IsActive eq true and IsAutomated eq true and website ne null and length(websi

[2018-10-22 19:58] erbaker commented on #1473
Alright, so it looks like it was definitely me and DateTime is not supported, but DateTimeOffset is. I changed my db model and now it works without any issue. Hope it helps someone else.

[2018-10-22 23:09] mloffer commented on #1575
I would also like to use Json.NET to serialize DbGeometry to GeoJSON, but I can't figure out how to write a custom serializer, either. It appears that OData on AspNetCore uses its own ODataMediaTypeFormatter instead of the usual JsonMediaTypeFormatter, but I have yet to find any documentation that describes how to use it.

[2018-10-23 08:26] bdebaere opened #1655 "OData batch with authentication"
Based on http://odata.github.io/WebApi/04-12-batch/ and https://github.com/OData/ODataSamples/tree/master/WebApiCore/ODataBatchSample I was able to implement batching. However as soon as I add authentication the batching fails. It doesn't even hit my controller.

Authentication is implemented with JWT Bearer.

This is the body of my POST request to localhost/odata/$batch:

[code]

This is the resp

[2018-10-23 12:01] freeranger commented on #1655
Have you got your middleware in the right order?
Authentication should come before adding the odata batching middleware I believe

[2018-10-23 22:09] preston-m-price opened #1657 "OData $batch queries do not honor/preserve prefer headers."
I am researching an issue affecting our service where **prefer** headers are not preserved in $batch queries.

### Assemblies affected

OData WebApi lib 6.2.2

### Reproduce steps
For example this GET works as expected:
[code]
But this $batch request body does not:
[code]
### Expected result

The $batch response should honor the **prefer** header and respond with a limited page size and nextLink.

[2018-10-24 19:49] xuzhg commented on #1654
@fazil1987 Can "Edm.Date" work for you?

[2018-10-25 00:06] xuzhg commented on #1627
Similar as: #1432

[2018-10-25 12:28] iamkinetic commented on #1575
Yeah, documentation has never been OData strongest point!   I kind of give up on using ODataMediaTypeFormatter.  This is how I've done it.

First, I've added this wrapper in my project (pretty sure I've found this somewhere on the internet, but can't remember where).  In my case, i've used WKT, but I'm sure you'll adapt this code easily:

[code]

Then, I've changed the object I was trying to custo

[2018-10-25 12:34] iamkinetic commented on #1575
Here is a class named `GeographyPointWrapper` that is pretty much my NetTopologySuitePointWrapper:

https://github.com/OData/ODataSamples/blob/master/WebApiCore/ODataSpatialSample/ODataSpatialSample/Models/GeographyPointWrapper.cs

This whole ODataSpatialSample is pretty much what I've used a model to make my api works correctly.

[2018-10-25 21:31] KanishManuja-MS commented on #1651
@mloffer Thanks for the feedback. We are working on making the documentation better. For the time being, for aspnetcore, you can use  this in your startup.cs to set the DefaultQuerySetting with the parameters you want -
            app.UseMvc(b =>
            {
                b.SetDefaultQuerySettings(new Microsoft.AspNet.OData.Query.DefaultQuerySettings());
            });

If you are using aspn

[2018-10-25 22:45] KanishManuja-MS commented on #1633
@julealgon Please feel free to review the following design- https://github.com/OData/WebApi/blob/f0baa4f8dc37be3500c5d8602fd633d1235b2205/_posts/2018-10-15-12-2-Use-SkipToken-for-Server-Side-Paging.md

We want to make it easier to use, your input will be appreciated. I am planning on adding sample code for a use case similar to yours.

[2018-10-27 01:09] icnocop commented on #1630
@TehWardy, thank you for following up with your solution.

Can this issue be closed?

[2018-10-28 11:40] TehWardy commented on #1630
Yeh I think so, seemed to be VS not OData ... sorry closing now.

[2018-10-28 11:40] #1630 closed

[2018-10-29 01:40] SachinKotnala opened #1659 "Odata V4 group by with Top and skip not working"
I am not able to get groupby to work with top and skip which should be most simplest thing. I am fetching data using OData and able to get output using the query below

https://localhost:6523/api/OData/AssetUsage/?$apply=groupby((assetId,Asset/name),aggregate(interactions with sum as totalInteractions, uniqueInteractions with sum as totalUniqueInteractions))&$orderBy=totalInteractions asc

Output

[2018-10-29 12:43] bdebaere commented on #1655
@freeranger It must have indeed been something with the order of the middlewares. Either that or I was passing a bad JWT token, which leads me to this.

It works when I am using a valid JWT token at the moment. However, I am still getting 200 OK when I am not authenticated. I would expect a 401 instead. Any reason why this is not the case?

[code]

[2018-10-30 09:11] needo2 commented on #1208
Is there anyway to raise an error when model resolution fails instead of getting a null model?

[2018-10-30 09:27] needo2 opened #1660 "Q: Is there a way to get a descriptive error when model binding fails instead of getting a null value?"
`public async Task<IActionResult> Post([FromBody] User model)`
How can I find out why model is null?

[2018-10-30 14:07] grahamehorner opened #1661 "serverless odata service - azure functions"
Please consider support for serverless deployements such as Azure Functions

[2018-10-30 21:52] KanishManuja-MS commented on #1633
@julealgon I found related documentation on what you want to do [here ](https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options).

Can you give me more details on why you cannot use IQuerable? If you simply want to use client driven paging, you can use skip and top.

[2018-10-30 23:57] KanishManuja-MS commented on #1657
@preston-m-price According to the [standard](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#_Toc505771136), a batch request should not support this preference header. However, we did find a regression in our 7.x version of the library for the single GET request. Thanks for writing this issue, please let us know if having this with every GET re

[2018-10-31 02:41] pielegacy commented on #1659
We're needing to implement pagination powered by OData and this limitation is affecting our application as well. This seems like a pretty standard use case for OData and if this cannot be fixed we'll be forced to look into GraphQL which seems to [handle this kind of logic in a much cleaner fashion](https://graphql.org/learn/pagination/).

[2018-10-31 10:35] UMANGAWASTHY opened #1662 "How to Validate AccessToken in WebAPI Core2.0 with IdentityServer3"
Hi I  amusing ASP.NET CORE WEB API 2.0 project.
and my Identity solution build on IdentityServer3. While validating access token, identityServer3.AccessTokenvalidation not supported in .NET Core 2.0 platform. How to rectify this issue.

[2018-10-31 15:52] preston-m-price commented on #1657
I am confused by your response. The spec you referenced says:

In my $batch example above the header is being set in the POST body for the GET sub-request, not on the POST $batch request itself. So it seems like this should be in spec, right? Or maybe I'm misunderstanding. Does the regression you reference affect the general GET scenario or the GET sub-request within a $batch?

Thanks

[2018-10-31 16:47] KanishManuja-MS commented on #1657
@preston-m-price Sorry for the confusion, I misread your example. The regression that I mentioned references general GET scenario (for 7.x) which would also include GET sub-requests within a batch.
I thought that you were running into this issue when you had the preference header for the batch request but not the sub-requests. Let me investigate the code again.

[2018-10-31 18:21] biaol-odata commented on #1662
@UMANGAWASTHY Looks like you are using the general WebAPI 2.0, which is part of https://github.com/aspnet/AspNetCore.

Authentication/authorization should be done by other middle ware.
WebAPI-OData here is a plugin specific for supporting OData in WebAPI.

[2018-10-31 18:38] biaol-odata commented on #1659
@SachinKotnala Error is related to query option parsing. Not sure why the extra $top (or $skip as you mentioned) triggered the error. Do yo have more detail information such as inner stack trace available?

[2018-10-31 20:19] madansr7 commented on #1660
You can get the errors from the modelstate in the controller method.

[2018-10-31 22:13] madansr7 commented on #626
@nkbond , Until OpenAPI 3.0, there wasn't a good way to represent navigation properties during the conversion. We've recently published a new library [https://github.com/Microsoft/OpenAPI.NET.OData](https://github.com/OData/lab/tree/master/OpenApi) that takes a CSDL and converts to OpenAPI 3.0.
NuGet Package for the lib is available at [https://www.nuget.org/packages/Microsoft.OpenApi.OData/1.0.0-

[2018-10-31 22:13] #626 closed

[2018-10-31 22:33] SachinKotnala commented on #1659
@biaol-odata Thanks for investigating this issue. I have attached inner stack trace below.

{
    "error": {
        "code": "",
        "message": "The query specified in the URI is not valid. Could not find a property named 'Asset' on type 'Portal.Models.Entities.AssetUsage'.",

"innererror": {

"message": "Could not find a property named 'Asset' on type 'Portal.Models.Entities.AssetUsage'.",

[2018-10-31 23:04] biaol-odata commented on #1421
Closed as merged.

[2018-10-31 23:04] #1421 closed

[2018-11-01 08:06] needo2 commented on #1660
Yes you are right, I thought those only show for validation errors but they show binding errors too.

[2018-11-01 08:06] #1660 closed

[2018-11-01 09:38] osven opened #1663 "OData query options are ignored in batch queries"
I have a ASP.NET OData service on top of a database. The service accepts queries with options, e.g.;

[...]/Well?$select=Id,Name,FieldName&$orderby=Name&$filter=ForecastId eq 123&$format=json

This request works as expected when it is sent as a plain GET request. But when the same request is sent as a $batch request the query options are ignored. It seems that the query string is not parsed when t

[2018-11-01 15:48] mikepizzo commented on #136
I just wanted to update the thread on the original issue:

We discussed this at length at our September Face-to-Face OASIS OData Technical Committee meeting, and ultimately agreed to add a formal "Core.LocalDateTime" typedefinition to the vocabulary.  The semantics of this typedefinition is that it is a string that represents a date-time value with no offset, and the format of the string is enforc

[2018-11-01 16:29] ImGonaRot commented on #136
@mikepizzo This is great news but if it is a string, how will this convert back into SQL queries when using filters?

Here is what I posted a while back.

I look forward to seeing / testing the implementation / source code.
Thanks for looking into this issue.

[2018-11-01 16:55] mikepizzo commented on #136
@ImGonaRot Still to be designed, but in WebAPI we would probably know that the underlying value was a CLR DateTime value, so we would build the correct LINQ expression to be passed down to the underlying provider.  Very eager to get feedback on this feature...

[2018-11-01 22:40] julealgon commented on #904
I was searching for this and decided to give it a shot without configuring anything.

It apears that the latest version has this behavior built-in? I was able to call my function without having to specify the enum namespace and it worked correctly.

[2018-11-01 22:57] WouterVanmulken commented on #904
Hey @julealgon, It might very well be fixed in the new version. This issue was from quite a long time ago when the enum implementation still gave some issues. Unfortunately i haven't been working with OData for quite some time so i can't really comment on it.

Could you confirm that it works in the version your using (and add the version) for all future people reading this thread?

[2018-11-02 00:53] biaol-odata commented on #1659
@SachinKotnala The PR above should enable the case-insensitive in your scenario, among others.

[2018-11-02 01:00] SachinKotnala commented on #1659
Thanks for your prompt response @biaol-odata
Yes, you were right. its because I am using EnableLowerCamelCase(). By turning this off, I can get the desired output. However I am using it to achieve JSON output with camel-casing. By rewriting the query in proper casing with EnableLowerCamelCase , I get another error.

**Query-**
     https://localhost:6523/api/OData/AssetUsage/?$apply=groupby((asset

[2018-11-02 01:06] biaol-odata commented on #1659
@SachinKotnala I think for now you might have to use exact casing. And I hope that after the PR is merged, your case of camelCase will work.

[2018-11-02 01:44] SachinKotnala commented on #1659
@biaol-odata Thanks for your efforts. Use of exact casing has resolves the issue for me. Thanks again.

[2018-11-02 01:51] pielegacy commented on #1659
I too had this issue! Thank you @SachinKotnala for helping and @biaol-odata

[2018-11-02 10:30] jpiquot commented on #1643
Hi,
any updates on this issue?
Regards,

[2018-11-02 17:41] biaol-odata commented on #1663
@osven when inspecting the HttpContext.Request object for the Multipart-MIME batch request, are you on the client side or the $batch endpoint of the service side? Can you show us how the batch request was created in the client? The query options of the GET request should be processed along with the URI and I cannot think of any reason of them being dropped.

[2018-11-02 17:56] mloffer commented on #1651
This is what I was looking to write. It's fairly similar to the way the [AspNet ](https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options#query-validation) guide says to do it. I've provided a new instance of DefaultQuerySetting like you suggested, but I am unclear on what the implications of this are. Am I at risk of having this attr

[2018-11-02 18:09] biaol-odata commented on #1659
@SachinKotnala We should keep this opened until the PR is merged.

[2018-11-02 20:11] KanishManuja-MS commented on #1651
@mloffer Thanks for the details.
 I believe I now understand what you are trying to do.
 ODataQueryOption.Filter.Validate only gets fired when there is a $filter query option in the request. By design, FilterQueryValidator does not support checking for absence of the filter rather it checks if the format is correct. With that said, there are a number of ways in which you can accomplish what you wa

[2018-11-02 21:29] mloffer commented on #1651
That makes sense that _ODataQueryOption.Filter.Validate_ wouldn't fire unless a filter were provided.

My question is why _EnableQueryAttribute.ValidateQuery_ doesn't fire unless _some_ query option is passed, such as _$count_? After all, it's not called _EnableQueryOptionsAttribute_.

Is there a better attribute to inherit from for this task?

[2018-11-02 22:09] frankzhang210 opened #1665 "ODataQueryOptions is unable to translate query string variable name into the physical property name if a DataMember name is used for this physical property name."
**Overview**
ODataQueryOptions<T> is unable to translate query string variable name into the <T> physical property name if a DataMember name is used for this <T> physical property name.

**Environment:**
 Microsoft.AspNetCore.OData(7.0.1) and Microsoft.AspNetCore.Http(2.1.1)

 **Reproduce steps**

- Generic Code for non-EDM scenario
public ODataQueryOptions<T> GetQueryOptions<T>() where T : class

[2018-11-02 22:26] jimmy3912msncom opened #1666 "Collection(Edm.String) nullability"
I have an ASP.NET Core 2.1 web API application and I have a model that exposes an IEnumerable<string>. This IEnumerable<string> property is optional. I am trying to adopt OData for our service but I'm running into nullability issues.

[code]

This generates the following metadata

[code]
When I try to create the resource in my ODataController below:

[code]

If I pass in the request body below it

[2018-11-05 09:47] osven commented on #1663
I'm inspecting the request on the service side.

The service is configuring the HTTP request pipeline with the standard `IApplicationBuilder.UseODataBatching` extension, followed by `UseMvc` that is calling `MapODataServiceRoute` on the route builder, passing a standard `DefaultODataBatchHandler` object.

On the client side the request is created from an HTML page using JavaScript and jQuery's aja

[2018-11-05 19:45] julealgon opened #1668 "Inconsistent casing behavior between raw enum strings and fully qualified enum strings in OData requests"
When making an OData request, one can either specify just the string representation for an enum parameter, or its fully qualified name. When using the fully qualified name, the OData parser accepts the values using case insensitive logic, but when passing only the string values, casing needs to match exactly with the enum member for the request to work.

### Assemblies affected

Microsoft.AspNetCo

[2018-11-05 20:06] biaol-odata commented on #1666
@jimmy3912msncom I believe Collection(Edm.String) cannot be null as it is enforced by the ODL validation for null value during deserialization (here)[https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/ReaderValidationUtils.cs#L1089]. Collection(Edm.String) is a non-entity collection, therefore the validation fails.

If you want to work around this validation, can you try this:

[2018-11-05 20:18] biaol-odata commented on #1663
@osven Then looks like the request arriving at the $batch service endpoint does not have the query options in the request URL? The batch will be process without the query options in such case.

I would recommend examination of the request message on the wire from client side. If it is good, examine request message on the wire from service side, and subsequently upper layer processing before the re

[2018-11-05 23:32] cmeyertons opened #1669 "Calling UseCustomContainerBuilder not honored on multiple invocations"
*Short summary (3-5 sentences) describing the issue.*
Called UseCustomContainerBuilder between invocations of MapODataServiceRoute has unintended behavior.

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0
Microsoft.AspNet.OData 7.0.1

### Reproduce steps
[code]

### Expected result

each individual builder gets hit once

### Actual resul

[2018-11-06 00:50] hbdbim opened #1670 "Entity Query Date propertie"
when triggered the query I see in the sql profiler:
`((((DATEPART (year, [Extent1].[Date])) * 10000) + ((DATEPART (month, [Extent1].[Date])) * 100) + (DATEPART (day, [Extent1].[Date]))) >= ((@p__linq__0 * 10000) + (@p__linq__1 * 100) + @p__linq__2))`

Sounds pretty bad to me.

Is that right or am I doing something wrong?

[2018-11-06 02:14] jimmy3912msncom commented on #1666
@biaol-odata
Few questions:
1. Can you expand further on how to get the IEdmProperty representing book.Attributes? I only have access to ODataModelBuilder.
2. Are you saying that this behavior is by design?

[2018-11-06 06:31] jimmy3912msncom commented on #1666
@biaol-odata
Thanks.

I do have access to IEdmModel. I'm actually using the new beta version of https://www.nuget.org/packages/Microsoft.AspNetCore.OData.Versioning

See https://github.com/Microsoft/aspnet-api-versioning/blob/master/samples/aspnetcore/ODataBasicSample/Startup.cs

It provides a way for me to get a list of the EdmModels since there can be multiple registered.

Follow up question: Is

[2018-11-06 06:37] jimmy3912msncom commented on #850
@xuzhg I am using Microsoft.AspNetCore.OData 7.0.1 and have the same issue. Is there an ETA on when this fix is released and is there a workaround?

[2018-11-06 13:32] johnhzhu opened #1671 "Ignore skip and top query options inside expand navigation properties"
I wrote an OData service to handle skip and top options in my own code. The following code works for entities but does not work for skip and top inside expand clause.

var ignoreQueryOptions = AllowedQueryOptions.Skip | AllowedQueryOptions.Top;
return queryOptions.ApplyTo(queryable, ignoreQueryOptions);

[2018-11-06 15:02] johnhzhu opened #1672 "Doubly applied skip and top inside expand"
I wrote an OData service to handle skip and top options (also inside expand) in my own code. The following code works for entities but does not work for skip and top inside expand clause.

var ignoreQueryOptions = AllowedQueryOptions.Skip | AllowedQueryOptions.Top;
return queryOptions.ApplyTo(queryable, ignoreQueryOptions);

[2018-11-06 17:16] xuzhg commented on #850
@jimmy3912msncom The 7.0.2 will release in the coming several weeks.

[2018-11-06 19:30] KanishManuja-MS commented on #1672
@johnhzhu I understand the issue that you are running into but for the sake of completeness, can you please add the query with skip and top inside the expand clause to the issue?

Do you want to disable skip and top for this route only?

[2018-11-06 19:36] KanishManuja-MS commented on #1668
@julealgon This may have been fixed with 7.0.2 but let me confirm that. I will get back to you when I get the time to investigate this.

[2018-11-06 20:13] biaol-odata commented on #1666
@jimmy3912msncom API ODataModelBuilder only provides general conventional model. I believe model.NullValueReadBehaviorKind() provides a way of customized validation and such customization should be done outside of ODataModelBuilder.

[2018-11-06 20:45] jimmy3912msncom commented on #850
@xuzhg Thanks Sam. In the meantime, what is the recommended workaround?

[2018-11-06 21:21] sunsided commented on #1584
Maybe it is related: I have a similar problem with a regular controller and it is driving me crazy. For me, it appears that the URL is correctly generated (the API version number being inferred automatically), because the location header of the response is set to the correct value. However, _after_ that, it crashes. Here's how it looks like for me:

[code]

So starting from `Microsoft.AspNetCore.B

[2018-11-06 21:48] xuzhg commented on #850
@jimmy3912msncom Can Nightly build work for you?

[2018-11-07 05:10] jimmy3912msncom commented on #850
@xuzhg Is there no work around other than the nightly build?

[2018-11-07 08:42] osven commented on #1663
@biaol-odata I have debugged ```DefaultODataBatchHandler.ParseBatchRequestsAsync``` with the reproducible case I described above. The batch reader creates a new HTTP context object, and the ```CopyAbsoluteUrl``` extension method parses the uri and sets ```HttpRequest``` properties like ```QueryString``` and ```Path```.

However, the ```Query``` property isn’t set and remains an empty collection.

[2018-11-07 09:41] johnhzhu commented on #1672
Sorry for lack of details. I changed the post above.

[2018-11-07 09:56] Mabenan opened #1674 "EntityTypeConfiguration<T>.HasKey() won't work"
If you have an EntityType defined without the Key Property and want to add it to the Model Builder with
modelBuilder.EntitySet<T>(name).EntityType.HasKey(e => e.Key). it wont work.

### Assemblies affected

Microsoft.AspNet.OData 7.0.1

### Reproduce steps

[code]

### Expected result

When i now call builder.GetEDMModel() there shouldn't be any errors.

### Actual result

It throws an exception t

[2018-11-07 11:01] Angelinsky7 opened #1675 "[Question] How to autoexpand navigation properties on POST/PUT"
I would like to know how can i autoexpand all/some navigation properties of my models when i POST/PUT an entity. I manage to make it work on GET actions but on POST/PUT actions my entities are always return without their navigation properties.

### Assemblies affected

[code]

### Reproduce steps

[code]

### Expected result

I would like to be able to configure if the return result contains navig

[2018-11-07 17:51] KanishManuja-MS commented on #1638
@julealgon There is a Contract.Assert in the GetNextPageLink logic. The condition is taken care of if the EnableQuery attribute is used. Ideally, the controller method should check if the pagesize is greater than $top value for better performance if you are handling QueryOptions manually.

I will discuss adding a safeguard to this with others and see if they think this should be fixed.

[2018-11-07 19:35] KanishManuja-MS commented on #1671
@johnhzhu Is this duplicate of #1672 ?

[2018-11-07 19:59] johnhzhu commented on #1671
Yes. They are duplicates. Should remove this one

[2018-11-07 20:15] julealgon commented on #1638
@KanishManuja-MS I'm actually picking the smallest of the 2 values (client-side `$top` vs server-side `PageSize`).

I'm not sure I follow on your reasoning there, what extra handling would I need to do? All I want is for the API to generate a sensible `@nextlink` to the consumer based on his previous input: it he requested the first X elements, the nextlink will pick up the next page of data consi

[2018-11-07 21:55] KanishManuja-MS commented on #1638
@julealgon If the original request wanted top 50 records and due to server-driven paging only 10 were sent down then the nextlink should be aware that the original only requested 50; therefore only 40 more need to be sent down and that is where the decrementing from the original top comes in.

What you have here is an issue. We only throw an error in debug mode, where as this should be an exceptio

[2018-11-07 22:13] julealgon commented on #1638
@KanishManuja-MS

Oh, I think I get it now: the `nextlink` value is only supposed to be emitted when server-side paging happens in the first place, is that it? Please confirm the scenarios below:

1. The user requests X amount of results via `$top=X`, and he **gets** the X results (when `$top` is lower than `PageSize`). A nextlink is not be emitted in the response, "because he got all that he want

[2018-11-07 22:48] biaol-odata commented on #1637
Closed as merged.

[2018-11-07 22:48] #1637 closed

[2018-11-08 09:35] itrenkler commented on #1620
Unfortunately I've got the same issue. Has anybody found a solution or workaround?

[2018-11-08 13:29] #1674 closed

[2018-11-08 15:52] julealgon commented on #1637
Nice! Thanks @biaol-odata . Looks like this will be part of 7.0.2 which is releasing in only a few weeks. Will update as soon as this drops 😉

[2018-11-08 18:42] techniq commented on #1154
@xuzhg @biaol-odata any plans to have `$aggregate` supported on ASP.NET Core

[2018-11-08 18:44] techniq commented on #1257
@xuzhg @biaol-odata any plans to enable this use case again with ASP.NET Core?

[2018-11-08 19:48] julealgon commented on #1177
I have been playing with OData for the past few weeks and it was working fine until today. Suddenly, I started getting this error in swagger.

I honestly have no idea what exactly caused it to start breaking... the workaround of adding a dummy media type on the raw input formatter worked, but this is really scary stuff.

I'm actually assuming that reflection order somewhere is causing the behavior

[2018-11-08 19:56] julealgon commented on #1460
Folks, what's the latest on this? I'm assuming this would take care of #1177 / #1176 related to Swagger API documentation generation.

BTW, I'm wondering why the issues above were closed. I just hit the same issue on my side so they are still very well problems that need to be fixed.

[2018-11-09 03:56] flibustier7seas opened #1676 "The IN operator not working with Enum"
When filtering values of Enum by the IN operator, api returns 500 (Internal Server Error)..

### Assemblies affected

Microsoft.AspNet.OData 7.0.1

### Reproduce steps

[code]
Request: `http://localhost:63000/v1/Users?$filter=Role in ('Administrator')`

### Expected result

[code]

### Actual result

[code]
### Additional detail

Example: https://github.com/flibustier7seas/odata-example#the-in-ope

[2018-11-09 20:51] jimmy3912msncom opened #1677 "Case sensitivity of request bodies in OData"
I followed the instructions on https://blogs.msdn.microsoft.com/odatateam/2018/07/03/asp-net-core-odata-now-available/ exactly and noticed that when exercising one of the cases to create a book, when I sent a request body with the CLR casing of a property name like "Id" it worked fine but if I changed it to "id" it wouldn't work. Is there a way to allow case insensitivity for request bodies?

###

[2018-11-12 08:38] flibustier7seas opened #1678 "Optional parameter not working for function with single argument"
When defining a function with single optional parameter, api returns 500 (Internal Server Error).

### Assemblies affected

Microsoft.AspNet.OData 7.0.1

#### Reproduce steps

[code]

[code]

#### Request

`http://localhost:63000/v1/Users/GetFirstName()`

### Expected result

[code]

### Actual result

Status: `500 Internal Server Error`
[code]

### Additional detail

Example: https://github.com/f

[2018-11-14 12:21] cornem opened #1679 "Typo routePrerix"
There is a typo here:

https://github.com/OData/WebApi/blob/90a24d55715b0afe54404a34bf2df4e0c870de14/src/Microsoft.AspNetCore.OData/Extensions/ODataApplicationBuilderExtensions.cs#L62

The variable `routePrerix` should probably be renamed to `routePrefix`.

### Assemblies affected

Microsoft.AspNetCore.OData, Version 7.0.1

[2018-11-14 15:13] fazil1987 opened #1680 "Latest version is not backward compatible with CSV Media formatter provided in the samples"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2018-11-14 17:33] #1600 closed

[2018-11-15 12:45] cornem opened #1682 "[feature/netcore] RouteAttribute causes AmbiguousActionException"
I am adding OData actions to an existing API. I want the OData-enabled endpoint to be available under the same route as my existing actions. My controller was available under `/api/salesorders`. I have changed the controller so it now inherits from `ODataController`. I have added these actions:
[code]

In my `Startup` class, I have registered OData:

    app.UseMvc(routes =>
    {
        routes.S

[2018-11-15 20:02] raheph commented on #1682
@cornem Can you try "[ODataRoute]" attribute and let us know the result? Thanks.

[2018-11-15 20:12] raheph commented on #1677
@jimmy3912msncom So far, ODL doesn't support case insensitive in the payload content. Does the model alias work for you?

[2018-11-15 20:22] raheph commented on #1670
@hbdbim That's by design. Edm.Date and the corresponding CLR "Date" are defined in ODL. The DB doesn't know how to process this type. Is there any performance from your side?

[2018-11-15 20:59] jimmy3912msncom commented on #1677
@raheph Can you explain further what you mean by model alias?

[2018-11-16 09:03] cornem commented on #1682
@raheph I'm at a loss as to how I should use it then. I have tried the following (just to be clear, the controller has this attribute: '[Route("api/salesorders")]`):

[code]
[code]
[code]
[code]

So how should `[ODataRoute]` be applied when using `[Route]` on the controller?
As a temporary fix, I can make everything work by removing `[Route]` from the controller, and adding attributes to my non-OD

[2018-11-19 02:44] tpatikirikorala opened #1683 "ODataQueryOptions creates inefficient Entity queries when AllowedQueryOptions are used"
When I call ApplyTo method with AllowedQueryOptions.All the query executed does not have any top/orderby clauses. If I remove AllowedQueryOptions parameter query executes much more efficient db query. Unfortunately, I have to use AllowedQueryOptions for top and skip to work properly. Any ideas to resolve this issue.

With AllowedQueryOptions.All

var settings = new ODataQuerySettings();
IQueryable

[2018-11-19 19:08] biaol-odata commented on #1657
Closed as merged.

[2018-11-19 19:08] #1657 closed

[2018-11-19 19:09] biaol-odata commented on #1679
Closed as merged.

[2018-11-19 19:09] #1679 closed

[2018-11-19 20:37] biaol-odata commented on #1631
Closed as Merged.

[2018-11-19 20:37] #1631 closed

[2018-11-19 21:17] biaol-odata opened #1684 "Partner relationships part2: fluent API work."
*This issue is opened to track the fluent API work remained for https://github.com/OData/WebApi/pull/1656.*

### Assemblies affected

*NA -- see #1656 above*

### Reproduce steps

*NA.*

### Expected result

*NA*

### Actual result

*NA*

### Additional detail

*Optional, details of the root cause if known. Delete this section if you have no additional details to add.*

[2018-11-19 21:18] biaol-odata commented on #1684
@joshcomley This is the postponed issue.

[2018-11-19 22:10] #1591 closed

[2018-11-19 22:17] biaol-odata commented on #1591
Closed as merger.

[2018-11-20 03:54] tpatikirikorala commented on #1683
In both cases, I have included the order by and paging clauses in the request used. AllowedQueryOptions.All case disregards those and executes a basic query, whereas in the other case  top and orderby have been used in the query.

Just to give you background, we have api, business and data models. So we convert the exposed model to the end user before reaching the data layer. That is why we execut

[2018-11-20 13:09] yuhong-l commented on #135
I guess this issue is still not resolved? If so, which version? Try 6.1/7.0 failed.

[2018-11-20 14:46] keatkeat87 opened #1687 "$expand not working in derived class"
***Short summary (3-5 sentences) describing the issue.***
$expand not working in derived class

### Assemblies affected
asp.net core 2.1.1
odata 7.1.0

### Reproduce steps
git clone https://github.com/keatkeat87/aspnet-core-odata-delived-class-expand-issue.git
dotnet restore
dotnet ef migrations add Init
dotnet ef database update (note: it will create demo database ODataDelivedExpandIssue in mssql

[2018-11-20 17:21] xuzhg commented on #1678
@flibustier7seas Optional parameter means the parameter maybe has default value. But for the function syntax, all parameters (include optional parameters) should be presented in the route template.

In your scenario, you should remove the first one and keep/change the second one as:
[code]

Hope it can help. Thanks.

[2018-11-20 19:31] bbycroft commented on #1635
This appears to be a regression from AspNet.OData to AspNetCore.OData, where the batch handler crashes when trying to parse a batch request that contains sub-requests with relative urls (using Content-ID's), such as

DELETE $27/SubItem/ref HTTP/1.1

Note that AspNet.OData correctly handled this, and the Microsoft.OData.Client generates these batches links.

### Assemblies affected

* Microsoft.Asp

[2018-11-21 02:11] biaol-odata commented on #1687
@keatkeat87 got the following error after git clone.
[code]

[2018-11-21 03:35] keatkeat87 commented on #1687
hi Bill,

for the dotnet restore error, i don't know what is this, so sorry for that.
but i just commit all the dependencies, please try git clone again then skip dotnet restore part.
hope it can work.

as you said, the User need to add prefix type. so i try do this, but still not working.
http://localhost:62710/odata/admins?$expand=ODataDelivedExpandIssue.Models.Character/User

[Model.cs](https:/

[2018-11-21 04:02] flibustier7seas commented on #1678
@xuzhg

I can skip optional parameters in the route template for function with 2 parameters:

[code]

[code]

Why cannot skip optional parameter in the route template for function with single parameter?

[2018-11-21 07:12] osven commented on #1663
Here is some additional information to clarify how to reproduce the problem.

My observation: If I call ```HttpRequest.Query.get()``` on the outer ($batch) HTTP POST request object before the batch handler starts generating request objects, the ```Query``` property of the inner (batch-generated) HTTP GET request will have no items when the ```QueryString``` property is set.

When I have this probl

[2018-11-21 15:48] KanishManuja-MS commented on #886
Closing this issue as the expected result - IQuerable with Take(PageSize) is not feasible with skiptoken.

[2018-11-21 17:12] KanishManuja-MS commented on #1683
@tpatikirikorala As NetTecture described, you need an orderby if you are either using a top or a skip for stable ordering. To get rid of the last orderby (if that is what you want and you are sure about it), you can set the EnsureStableOrdering property to false on the querysettings.

[2018-11-21 17:20] xuzhg commented on #1678
@flibustier7seas In my understanding, "optional" means its value can be optional, but not for the syntax. for a function or action, its syntax is function name plus the parameter type. That's different with the "method" in C#. I would like @mikepizzo can share his thoughts about the "optional"

[2018-11-21 17:43] julealgon opened #1690 "Exception while attempting to parse non-lowercase value in '$count' query option"
When making an OData request and passing the `$count=true|false` query option, query validation fails when the Boolean values are not 100% lowercase. This is inconsistent with C# Boolean parsing as well as with the default `True|False` values generated by `bool.ToString()` and `bool.TrueString|FalseString`.

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

1. Create

[2018-11-21 19:08] xuzhg opened #1691 "“temp“ entityset in model binding will cost memory performance"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

* The below codes creating a "temp" entity set:
https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Formatter/ODataModelBinderConverter.cs#L258-L259

such entity set is used to create the parameter reader.
However, it maybe use to retrieve the "NavigationSourceLinkBuilderAnnotation" in "https:

[2018-11-21 20:49] biaol-odata commented on #1690
@julealgon these three cases should all be supported in case insensitive way.

[2018-11-21 21:13] biaol-odata commented on #1682
@cornem You shouldn't mix WebAPI [Route] with OData-WebAPI [ODataRoute]. For annotating the controller, you should use [ODataRoutePrefix].

[2018-11-22 04:42] flibustier7seas commented on #1678
https://www.odata.org/blog/OData-401-Committee-Spec-Published/

[2018-11-25 10:59] jpiquot commented on #1643
Hi,
any updates on this issue?
Regards,

[2018-11-26 13:08] Daniel127 opened #1692 "Delta ignore JsonPropertyAttribute"
When use JsonPropertyAttribute the object Delta don't serialize correct

### Assemblies affected

Microsoft.AspNetCore.OData, Version=7.1.0.21120

### Reproduce steps
[code]

PUT with JSON
[code]

### Expected result

`delta.GetInstance().FirstName == "Test";`

### Actual result

[code]

### Additional detail

Without Delta the object is serialized correctly

[2018-11-26 23:12] KanishManuja-MS commented on #1643
@jpiquot Sorry, this slipped through.
@xuzhg Can you please investigate this if you can find time, otherwise I will pick it up on Wednesday?

[2018-11-27 17:36] NetTecture commented on #1461
And 5 months later: Assigned, not worked on.

Just as update - it is STILL there and it still blocks using Odata in custom Lambda.

[2018-11-27 21:34] jimmy3912msncom commented on #1677
Also the interesting thing is this seems to only apply for non-function and non-action methods as those work fine to be case-insensitive. not sure why it is case-sensitive for routes that take in entities

[2018-11-27 23:05] keatkeat87 commented on #1687
hi @biaol-odata ,
is this something further updated?
have you successfully run my environment?

[2018-11-28 09:30] emumanu commented on #1620
Hello, I was stuck in this problem too.

The problem went away when I registered the authentication stuff before all OData stuff.

[2018-11-28 16:09] looptr00p commented on #1368
Hi! i have the same problem, but with the Microsoft.AspNet.WebApi.Cors. Anyone solved this problem??

[2018-11-28 16:11] r3znr opened #1694 "$expand on abstract collection fails"
Attempting to $expand on a Collection<**T**>, where **T** is abstract, fails if the requested property is not a member of **T**, even though the property exists on a derived class stored in the collection.

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

Please see https://646576.visualstudio.com/Public/_git/aspnet-odata-expand-derived-navigation-example

The projec

[2018-11-29 10:12] RobbeSchepens opened #1695 "Optional parameter not working as expected, requires atleast one other parameter"
I have been investigating optional parameters and I believe they don't work as intended by the OData 4.01 Committee Spec:

_Optional Function Parameters – Function parameters can be annotated as optional. Optional parameters may be omitted when invoking the function._

As I understand it, I should be able to call the action without providing the optional parameter. Yet this only works when at leas

[2018-11-29 13:12] kedrzu opened #1696 "$filter on nested collection items does not work"
I want to make some filter over items in a nested collection:
`ClassTypes?$filter=customAttributes/any(d: d/attributeDefinitionId eq 48)`

I'm getting error, that property `attributeDefinitionId` is not filterable, although it is. I can filter on property when accessing entity directly.

### Assemblies affected

OData WebApi lib 6.1.0
OData WebApi lib 7.1.0

Probably also other between those (thos

[2018-11-29 18:49] jimmy3912msncom opened #1697 "ODataResourceSerializer does not allow overriding complex property serialization"
This is more of a feature request than anything. The ODataResourceSerializer has a virtual method to override CreateStructuralProperty so that I can alter the behavior e.g. in my case if the property value is null I can omit the property from the resource model. This does not work for complex property types nested in the resource model. The ask is to expose a similar CreateComplexProperty override

[2018-11-30 04:58] ShaneCarr opened #1698 "Routing help Please."
*Short summary (3-5 sentences) describing the issue.*
Routing problems: Creating a new controller -> ODataController

I am not able to execute a basic http GET against an entity with a string as an argument

Goal:
http://localhost:59977/xxx/groups/**test@test.com**

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0
Microsoft.OData.Client.d

[2018-11-30 08:32] UMANGAWASTHY commented on #1662
@biaol-odata  yes, i am using WebAPI 2.0, Could you forward some links, demo examples to verify for other middle ware, which you referring too.

[2018-11-30 20:02] dr00ster opened #1699 "OData.Core query with $filter on related entity loads all data to memory"
When filtering the OData resource I'd expect to take the filter into account before the SQL is executed. That's the case when the attribute of the entity is used in the filter. Unfortunately, when the attribute of the related entity is used in the filter, the SQL does not contain particular where condition. It returns whole dataset and filter is applied in the memory. This leads to performance iss

[2018-11-30 20:12] KanishManuja-MS commented on #1696
@kedrzu This does look like a bug. Thanks for pointing out and we appreciate the details in this issue.

Since you have already done quite a bit of investigation, it would be great if you can submit a PR for the fix. Please let us know if that is something you 'd consider.

[2018-11-30 21:33] #1699 closed

[2018-11-30 21:34] dr00ster commented on #1699
The problem was on my side, I was missing navigation properties on the related UserEntity.

[2018-12-01 17:08] kedrzu commented on #1696
@KanishManuja-MS I don't know OData codebase, my investigation was purely based on live debugging my application with OData decompiled with R#.

I think that this fix may involve some deeper change. There are few intermediate structures, that hold information extracted from EDM model, and their purpose is somewhat shady.

I may try to look at the code and fix it, but cannot promise that.

[2018-12-02 17:05] leadfollowmove commented on #964
Is there an update on this?

I'm looking to Patch/Put against nested entities on ASP.Net Core using OData and it currently fails for me.

[2018-12-03 15:17] wurst0815 opened #1700 "$apply in combination with $select not working"
Combination of $apply and $select not working.
According to http://docs.oasis-open.org/odata/odata-data-aggregation-ext/v4.0/cs02/odata-data-aggregation-ext-v4.0-cs02.html#_Toc435016590

3.16 Evaluating $apply
The new system query option $apply is evaluated first, then the other system query options are evaluated, if applicable, on the result of $apply in their normal order (see [OData-Protocol, s

[2018-12-03 19:32] denious opened #1701 "Nested entity property not returned in Created(201)"
Unable to return a nested entity property as part of a Created(201) response.

### Assemblies affected

Microsoft.AspNetCore 2.1.6
Microsoft.AspNetCore.Mvc 2.1.3
Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

- Create a blank web API project and import OData packages
- Add two entity types, A and B, and a complex type C
- Add properties reference B and C inside A
- Add a CRUD controller fo

[2018-12-04 14:51] GeorgePetri commented on #1257
Can you guys please take a look at it?

[2018-12-05 21:45] xuzhg commented on #1700
@kosinsky Would please take a look this issue?

[2018-12-05 23:38] KanishManuja-MS commented on #1668
@freeranger Not yet, I was occupied with other tasks. The new version (7.1) is released now but I suspect that this may not have been fixed as I was doing some testing tangential to this issue.
I will have more detailed investigation notes posted next week if this gets some time allocated next week.

[2018-12-06 00:05] kosinsky commented on #1700
It's not implemented yet. Workaround is to just do "RutHWModelsView?$apply=groupby((description,hw_model,id))". Adding $select will not change query results

[2018-12-06 09:02] wurst0815 commented on #1700
That's correct, the result is the same in that case.
But I'm using a framework which automatically adds the $select to the query, as it normally should work according to the specs.
Is this already in scope for one of the next releases?
Thanks

[2018-12-06 16:37] steventnorris-40AU commented on #1692
Having the same problem. Any more information on this?

[2018-12-06 19:23] jessemlay opened #1702 "format returned response"
What is the best way to reformat the json output?

current output is:

[code]

But I need:
[code]

[2018-12-07 17:25] phunkyg opened #1703 "Nullable attribute omitted in CSDL metadata for simple string property"
I am using an EDMX file to build a model, which in turn creates Odata 4 endpoints.
In the model, several scalar properties that are Nullable='false' arrive in the CSDL
metadata from the /odata/$metadata request with the Nullable attribute omitted.
According to the Odata v4 specification, omitting this attribute is equivalent
to Nullable='true'

To reproduce, create a basic model with a single tabl

[2018-12-10 12:19] ronaldschlenker opened #1704 "Casting an enum to Edm.String returns Int-value instead of enum label name"
Given the following filter:

[code]

Executing the filter seems to convert the value of MyEnumProperty to the int-representation in form of a string.

This query then works (assuming "EnumLabel1" is represented by int-value 2:

$filter=contains(tolower(cast(StartFacilityNodeType, Edm.String)), '2')

### Additional detail

Have a look at the else branch in ```FilterBinder.cs - BindCastToStringType(

[2018-12-10 13:57] fazil1987 commented on #1680
Guys any update on this ?

[2018-12-11 14:38] jpiquot opened #1705 "System.Runtime.InteropServices.Analyzers && System.Runtime..Analyzers package version 1.0.0 does not exist"
System.Runtime.InteropServices.Analyzers && System.Runtime..Analyzers package version 1.0.0 does not exist anymore.

First available version is 1.0.1.

Nuget History :

Version | Downloads | Last updated
-- | -- | --
  | 1.2.0-beta2 | 141,021 | 5/19/2016
  | 1.2.0-beta1 | 2,920 | 4/7/2016
  | 1.1.0 | 296,360 | 11/30/2015
  | 1.1.0-beta1-20150812-01 | 557 | 8/26/2015
  | 1.0.1 | 87,970 | 7/23/2015

[2018-12-11 20:02] seangwright commented on #1625
I think I've also run into this issue.

My scenario involves a base class that has the `[Key]` annotation. My other classes inherit from this class and each have their own OData configuration.

`OData configuration`
[code]

`Base class`
[code]

`Role class`
[code]

`Role OData Configuration`
[code]

The error I get when making a request to the endpoint is
**The EDM instance of type '[default.Role

[2018-12-11 22:37] awaitJosh opened #1706 "Direct Access to ManyToMany relation"
I want to provide a possibility to my customer to get direct access to a manytomany-relation regardless the crossTable.

I have the following model:

`public class Employee
 {
     public Guid Id {get;set;}
     ....
     public ICollection<EmployeePosition> EmployeePositions {get;set;}
 }`

`public class Position
 {
     public Guid Id {get;set;}
     ....
     public ICollection<EmployeePosition

[2018-12-11 22:55] grahamehorner opened #1707 "InvalidOperationException: Cannot use 'Microsoft.AspNet.OData.Routing.ODataRoute' with Endpoint Routing."
I'm trying to use ODATA with the current ASPNETCORE netcoreapp2.2 web template; I'm seeking the following at start up of the project.

InvalidOperationException: Cannot use 'Microsoft.AspNet.OData.Routing.ODataRoute' with Endpoint Routing.

[2018-12-12 10:19] egbertn opened #1708 "AttributeRouting_TopFunctionWithEntityParameter fails"
*International Issue, Unit Test AttributeRouting_TopFunctionWithEntityParameter fails*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0
Microsoft.AspNet.OData.Test

### Reproduce steps

Just 'run' the fact

### Expected result

Succeeded test

### Actual result
Test Fails

### Additional detail

The cause of the bug is, the assert assume

[2018-12-12 10:24] egbertn opened #1709 "CalcBirthday DateTimeTests fails"
public DateTime CalcBirthday(DateTimeOffset dto)
      dto is 1-1-1 because of a missing attribute. The test fails.

### Assemblies affected

Microsoft.AspNet.OData.Test.Shared

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

Succeeded unit test

### Actual result

Assert Fails, because para

[2018-12-12 19:00] KanishManuja-MS commented on #1706
@awaitJosh I am not sure if I understood all your needs but do you think should simplify your model to have positions as a contained entity for a request like the one you mentioned.

[2018-12-12 19:01] KanishManuja-MS commented on #1707
@grahamehorner Can you please give us more info on how to reproduce this?

[2018-12-12 21:55] awaitJosh commented on #1706
@KanishManuja-MS thank you for your answer! Sometimes its not easy to express myself in english.. I´ve edited my question (and I fixed the poor markup) maybe its more clear now..? Or is this simply not valid with OData? I´m still learning ;)

[2018-12-13 01:42] Discjoggy commented on #1707
Same issue here,

I've [migrated](https://docs.microsoft.com/aspnet/core/migration/21-to-22?view=aspnetcore-2.2) my aspnetcore web api from 2.1 to 2.2.
The exception occurs when the app starts up at the `app.UseMvc(..)` call in the `Configure` method.

Currently I keep the [Endpoint Routing](https://docs.microsoft.com/aspnet/core/fundamentals/routing?view=aspnetcore-2.2) feature disabled with the

[2018-12-13 12:15] grahamehorner commented on #1707
@Discjoggy yes, your correct I can confirm the above; if I use the .SetCompatibilityVersion(CompatibilityVersion.Version_2_1);  all seems to work, but I'd prefer to use  .SetCompatibilityVersion(CompatibilityVersion.Version_2_2); not sure what the breaking changes is ?

[2018-12-13 14:32] davidmilligan commented on #1145
I'm having what I think is the same issue. If I set a property to AutoExpand, and then also include that property in the $expand in the request, Web API OData throws an exception:

[code]

Looking at the code in SelectExpandNode.cs, it appears the properties to expand are being added to a Dictionary without first checking if the property has already been added to the dictionary. I guess its trying

[2018-12-13 21:21] nduijvelshoff opened #1711 "Missing object in result."
When I do a get on my EntitySet "Rules" using the following url:
`https://service.dev.hoppa.app/api/v1.0/rules?$expand=*`

I get the following result:
![image](https://user-images.githubusercontent.com/3780207/49967641-bd51e800-ff23-11e8-9cdb-fd363de4148d.png)

Meanwhile I expected `Account` to be presented in the `Payment` Action item, the same happens on `People` and `Person`.

During my analyza

[2018-12-14 09:56] nduijvelshoff commented on #1711
Update:

The only way I get to see the `Account` object in the `Rules` EntitySet is when I alter the following from:
[code]
to:
[code]
This will result the following in the EntitySet `Rules`:
![image](https://user-images.githubusercontent.com/3780207/49996155-911f8100-ff8e-11e8-8881-f83ae2adf4a5.png)

But, now it's always shown in the EntitySet `People` and Singleton `Person` (without using `$expa

[2018-12-14 10:02] anekrash opened #1712 "$apply=aggregate returns only JSON payload"
$apply=aggregate returns only JSON payload in response without ODATA annotations for unbound function. There is no ODATA headers in response as well.

Request:
$apply=aggregate(Id with sum as IdSum)

Response Body:
[{"IdSum":6}]

Response Headers:
Content-Type: application/json; charset=utf-8
Date: Fri, 14 Dec 2018 09:53:26 GMT
Server: Kestrel
Transfer-Encoding: chunked

### Assemblies affected

M

[2018-12-14 15:49] anekrash commented on #1712
It looks like Microsoft.AspNet.OData.Formatter.Serialization.DefaultODataSerializerProvider.GetODataPayloadSerializerImpl(Type type, Func<IEdmModel> modelFunction, ODataPath path, Type errorType) can't find proper serializer for type {System.Linq.EnumerableQuery`1[Microsoft.AspNet.OData.Query.Expressions.NoGroupByAggregationWrapper]}.

I use the following code to make it works:
builder.ComplexType

[2018-12-15 00:18] brjohnstmsft commented on #418
@xuzhg This issue appears to have been fixed, at least in 7.x. Can this issue be closed?

[2018-12-15 16:45] SaeshArban opened #1713 "Batch response on updating entities don't have 'location'"
Batch response on updating entities don't have 'location'

### Assemblies affected

microsoft.aspnetcore.odata.7.1.0
netstandard2.0

### Reproduce steps

// Client. I Use OData t4 templates
var classToUpdate = new SomeClass()
{
    Uid = Guid.Parse("c8ab3e23-2a30-4343-9521-ca77336746f9"),
    SomeFilld = "update"
};
var container = new Container(new Uri("http://localhost:56056/odata/"));

containe

[2018-12-17 21:33] kosinsky opened #1714 "Nav/any(t:false) converted to Source.Any() instead of Source.Any(_=>false) or just false"
Nav/any(t:false) converted to Source.Any() instead of Source.Any(_=>false) or just false

### Assemblies affected

OData WebApi lib 6.0+

### Reproduce steps

*Try following expression Category/QueryableProducts/any(P: false)*

### Expected result

*$it => false*

### Actual result

*$it => $it.Category.QueryableProducts.Any()*

[2018-12-18 00:35] v-dshash commented on #1586
Hello @AlanWong-MS , do we have any update on this , has the bug been resolved or do we still have this bug open?

[2018-12-18 09:15] phatcher commented on #1707
@davidfowl Does this imply a task for the OData team to update their work to fit in?

[2018-12-18 11:21] pomadin opened #1716 "HAS operator failed validation if qualified enum type name omitted"
According to the OData ABNF specification the qualified enum type name is optional for `has` operator.
[code]
But it cannot be omitted due to validation error.

### Assemblies affected

Microsoft.AspNet.OData 7.1.0.21120

### Reproduce steps

[code]

Request: `Entities?$filter=OfType has 'Type1,Type2'`

### Expected result
The response containg the filtered result (Status: 200).

### Actual result

[2018-12-18 13:02] rbugginsvia commented on #1707
I've just seen this same behaviour after attempting a migrate to 2.2 - what needs to be looked at to address _"Subclassing route is no longer a thing we expect frameworks to do moving forward."_? thanks

[2018-12-18 13:08] ilya-chumakov opened #1717 "How to validate ODataQueryOptions using IRouteBuilder settings"
I'd like to reject an OData request if it has `$top` option exceeding a global limit. `ODataQueryOptions` is created manually and I don't know how to correctly trigger its validation.

### Assemblies affected

    <PackageReference Include="Microsoft.AspNetCore.OData" Version="7.0.0" />

### Reproduce steps

I do global setup like this:

[code]
And manually create an `ODataQueryOptions<TEntity>` i

[2018-12-18 14:55] ricksearcy opened #1719 "if-match * no longer working"
After upgrading the if-match * option to match any value no longer works. A FormatException is thrown.

Steps:
1. Add an If-Match * header to an Odata request.
2. Try to use the queryOptions.IfMatch property on the server.

"The format of value '*' is invalid."

   at System.Net.Http.Headers.HttpHeaderParser.ParseValue(String value, Object storeValue, Int32& index)\r\n   at System.Net.Http.Headers

[2018-12-18 22:31] KanishManuja-MS commented on #1717
@ilya-chumakov Thanks for your question. The MaxTop should not affect the count of returned entities as far I know. If you find it otherwise, please let us know.

As far as setting MaxTop is concerned, does setting MaxTop in the Page attribute for your class work?
Even if you don't set MaxTop in the Validation setting, you should see the same error as the MaxTop will be pulled in from your global

[2018-12-19 00:02] commonsensesoftware commented on #1707
@phatcher - yes, this is definitely a task for the OData team. I'd be interested in sync'ing with you guys on the design offline (@chrimart internally). I've continuously had to reimplement several parts of the internal OData routing and other matching bits for API versioning. A key change in _Endpoint Routing_ is that _policies_ are composable, which wasn't possible in the _legacy_ routing system

[2018-12-19 00:12] JamesNK commented on #1707
MatcherPolicy implementations are registered via DI. You have various options:

1. You could not register their policy on startup
2. They could implement their policy so that it took options injected DI, and the way their policy worked could be customize via setting options
3. An alternative to options could be to inherit from their policy, override methods, and register your implementation instea

[2018-12-19 00:13] JamesNK commented on #1707
To only disable endpoint routing you can leave `CompatibilityVersion.Version_2_2` on, and set MvcOptions.EnableEndpointRouting = false.

[2018-12-19 00:16] rynowak commented on #1707
If you need to collaborate with OData, I'd really suggest defining a single matcher policy that delegates to a service/services

[2018-12-19 00:17] commonsensesoftware commented on #1707
@JamesNK  - thanks. These all make sense. I try really hard to make API versioning bolt-on with _"in addition to.."_ as opposed to _"instead of..."_ semantics.

[2018-12-19 00:37] commonsensesoftware commented on #1707
@rynowak - that's what I'm hoping for. I've already replaced their routing mechanism with something that more closely resembles how _Attribute Routing_ works. This is possible because OData has very strong route template conventions. I already had to build out the path templates for the API Explorer. I _sprinkled_ a little refactoring on it and now I fix-up all of the OData **ActionDescriptor** in

[2018-12-19 21:35] raheph commented on #1712
@kosinsky Do you have any idea about this?

[2018-12-20 09:06] ilya-chumakov commented on #1717
@KanishManuja-MS thanks, `queryOptions.Validate(new ODataValidationSettings())` truly uses global validation settings. Could you consider adding the overload without params in the future? It would make more obvious that filling the settings is not mandatory.

Is it possible to set a default global limit if `$top`  is not presented in the query? I'd like to avoid selecting 1M entities if someone ju

[2018-12-20 17:38] kosinsky commented on #1712
Are you deriving controller form ODataController or adding [ODataFormatting] attribute explicitly? Without ODataFormatting serialization fallbacks to basic Asp .Net

[2018-12-20 18:00] KanishManuja-MS commented on #1717
@ilya-chumakov Thanks for your input, I will keep that in mind when that part of the code gets touched again.

Maybe what you are looking for here is the PageSize. You can set the page size on your model or in your querysettings. This will allow clients to do queries on any number of records but only a limited number of records will be served at a given time.

[2018-12-20 18:03] KanishManuja-MS commented on #1717
Since, the core of the question was answered here. I am closing this issue. @ilya-chumakov If you have any concerns regarding top, you can still add to this thread or reopen this.

[2018-12-20 18:03] #1717 closed

[2018-12-20 18:17] anekrash commented on #1712
I inherit my controller from ODataController:
`public class AddressController : ODataController`

Code:

    public class Program
    {
        public static void Main(string[] args)
        {
            WebHost.CreateDefaultBuilder(args).UseStartup<Startup>().Build().Run();
        }
    }

    public class Startup
    {
        public Startup(IConfiguration configuration)
        {

[2018-12-20 18:39] KanishManuja-MS commented on #1719
Thanks for bringing this to our attention. This is a duplicate of #1650 and therefore I am closing this one to prevent duplicative tracking.

[2018-12-20 18:39] #1719 closed

[2018-12-21 10:59] ilya-chumakov commented on #1717
@KanishManuja-MS Thanks for your support.

However, in my humble opinion, the validation should cover the case of a query without `$top` parameter.

For example, if `MaxTop(1)` limit has been set, it prevents selecting more than 1 entity only with `$top` specified. I can easily bypass this validation and get all the entities in db by removing `$top` from the query.

[2018-12-22 13:13] jpiquot commented on #1705
This could be done by adding these references to Microsoft.AspNetCore.OData.csproj :
	<PackageReference Include="System.Runtime.Analyzers" Version="1.0.1" />
	<PackageReference Include="System.Runtime.InteropServices.Analyzers" Version="1.0.1" />

[2018-12-22 20:37] commonsensesoftware commented on #1707
I thought I'd share an update on this topic. Thanks to @rynowak and @JamesNK I was able to create a compliant EndpointDataSource for OData. As I went further down the proverbial _rabbit hole_, it became clear that I would have to refactor a consider amount of the OData routing subsystem. That is simply more work and ownership than I'm willing to take on for API versioning. API Versioning 3.1 now s

[2018-12-23 11:48] guylot opened #1720 "Open type desirialization utf8"
OData json desirialization (entity binding) for open type properties, when the open type value contains utf8 string results with utf8 characters instead of readable string.
The controller received the UTF8 ok, then when model binding the odata deserializer gets it wrong.

### Assemblies affected

Microsoft.AspNet.OData 7.0.1.20718

### Reproduce steps

Post request for any entity with open type pr

[2018-12-28 03:02] sc-starman commented on #912
I'm encountered this problem by so far...
Is there any workaround that you can suggest?

[2018-12-29 09:44] JafarAmiri commented on #1359
@GregSem
I want to implement a custom DefaultODataSerializerProvider in ASP.Net Core . Could you provide code sample how I can implement custom DefaultODataSerializerProvider with Microsoft.AspNetCore.OData package?

[2018-12-29 10:22] JafarAmiri opened #1721 "Implement custom DefaultODataSerializerProvider in ASP.Net Core"
Hi,
I am trying to implement custom DefaultODataSerializerProvider in Asp.Net Core.

**Assemblies affected**

Microsoft.AspNetCore.OData, Version=7.0.1.20718

**Expected result**

I need to have a class like ODataEntityTypeSerializer to override CreateStructuralProperty method.

**Question**
How can I implement a CustomODataEntityTypeSerializer in ASP.Net Core?

[2018-12-31 20:09] KanishManuja-MS opened #1722 "Nested resource's NextLink does not support query options and skiptoken"
The nextlink for a nested resource does not support query options in expand. Neither does the nested nextlink support skiptoken.

### Assemblies affected
OData WebApi lib 7.1

### Reproduce steps
Set a page size on the NestedResource class to ensure that the results are paged.
`GET  ~/Entity?$expand=NestedResource($orderby=PropertyName)`
The problem is not limited to orderby but all other query op

[2019-01-03 01:03] xuzhg commented on #1721
Hi, JafarAmiri

can the tests in "https://github.com/OData/WebApi/blob/master/test/UnitTest/Microsoft.AspNet.OData.Test.Shared/Formatter/ODataFormatterTests.cs#L338-L398" answer your question?

[2019-01-03 09:33] awaitJosh commented on #1706
Hi @KanishManuja-MS,
sorry if I annoy you.. But can you please give me, at least, a little hint..?

Kind regards

[2019-01-03 16:05] KanishManuja-MS commented on #1706
@awaitJosh Not at all, sorry for the delay in getting back to this. You will not be able to accomplish this without changing your model.

[2019-01-04 20:13] awaitJosh commented on #1706
@KanishManuja-MS thank you very much for getting back to this and for your patience! I´ve edited my question ones again because of the little spark of hope that I didn´t explain well.

Changing the model would be very, very hard - maybe I´ve got something completely wrong but I thought that one magic OData-thing is, that the client can consume my database via webApi - I have a solution with about

[2019-01-04 20:41] svyme opened #1725 "No coercion operator is defined between types 'Microsoft.OData.Edm.Date' and 'System.DateTimeOffset'."
We decided to finally update move from oData 6.14 to 7.5 to enjoy new features, fixes, and improvements.
Went through all required code changes and all looked good until we got to testing endpoints where $filter contains a date field ($filter=AsOfDate eq 2018-01-04)

Getting the below exception when applying query options:
No coercion operator is defined between types 'Microsoft.OData.Edm.Date' an

[2019-01-04 23:13] kosinsky commented on #1712
I did some digging. Looks like it reproduces only for .NET Core and for cases when controller returns IActionResult. It worked properly when I modified GetAddress() method to look like:

[code]

I'll continue investigation

[2019-01-07 00:46] heysaad opened #1726 "IN operator not working with Nullable int not working"
The api is throwing 500 (internal server error) while trying to filter non nullable `int` with `in` operator.

### Sample Model
[code]
Request: `http://localhost:53259/User?$filter=DesignationID in (2,3)`

### Error Message:
[code]

[2019-01-07 13:01] phatcher opened #1727 "Colllection expansion with child open type fails"
Expanding the collection where the child is an open type fails with a syntax error, expanding and individual entity works e.g.

- **Fails** : `/api/Books?$expand=Press`
- **Works**: `/api/Books(1)?$expand=Press`

### Assemblies affected

Microsoft.AspNet.OData 7.1.0.21120

### Reproduce steps

Given a domain model as follows...

[code]
See sample requests above

### Expected result

Entities retur

[2019-01-09 12:18] jpiquot commented on #1694
Hi,

You need to add the domain before :

`GET http://host/service.svc/Customers?$expand=SampleModel.VipCustomer/InHouseStaff
`

[OData protocol](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#_Toc505771201
)
Regards;

[2019-01-09 21:42] madansr7 commented on #1725
@svyme , could you please your metadata with us? Are you using EF or EF core?

[2019-01-10 04:35] KanishManuja-MS commented on #1726
@heysaad The problem seems to be in the conventional model builder. The foreign key attribute/ discoverable foreign key convention is causing the type to be Nullable=True. I will investigate more and see if I can submit a PR for this.

[2019-01-10 16:27] Farthom commented on #1620
It aint pretty, but I worked around this issue by pulling a fast one on the "UseODataBatching" middleware.

`app.Use(async (context, next) =>
{
	context.Request.Headers["CookieBackup"] = context.Request.Headers["Cookie"];
	context.Request.Headers.Remove("Cookie");
	await next();
});

app.UseODataBatching();

app.Use(async (context, next) =>
{
	context.Request.Headers["Cookie"] = context.Request.He

[2019-01-10 17:49] svyme commented on #1725
Stack trace:
   at System.Linq.Expressions.Expression.GetUserDefinedCoercionOrThrow(ExpressionType coercionType, Expression expression, Type convertToType)
   at System.Linq.Expressions.Expression.Convert(Expression expression, Type type, MethodInfo method)
   at System.Linq.Expressions.Expression.Convert(Expression expression, Type type)
   at Microsoft.AspNet.OData.Query.Expressions.ExpressionBi

[2019-01-10 17:54] svyme commented on #1725
We're not using EF

[2019-01-10 22:08] KanishManuja-MS commented on #1726
@heysaad I have found a workaround. You should have a nullable type (int?) for your property (DesignationId) as designation can be null. Thanks for identifying the bug.

[2019-01-11 07:03] sandersaares opened #1729 "Requesting more documentation on how to expose operations"
The documentation is currently very vague about how one is actually meant to expose operations. There are chapters about some specific situations on how some relevant attributes work but no big picture text along the lines of "put your functions here, use such conventions to register, use these parameter types".

I am forced to randomly try different permutations and scour the internet for samples

[2019-01-11 07:18] sandersaares opened #1730 "Bad error message if no function return type specified in model build"
Bad error message if no function return type specified.

### Assemblies affected

[code]

### Reproduce steps

[code]

### Expected result

Auto-detect return type.

Alternative expected result: reasonable error along the lines of "you must specify the return type".

### Actual result

[code]

[2019-01-11 08:12] sandersaares opened #1731 "The link under the Samples chapter in the readme is a 404"
The link under the Samples chapter in the readme is a 404: https://github.com/OData/ODataSamples/tree/master/WebApi

[2019-01-11 08:14] sandersaares opened #1732 "Requesting more documentation on working with annotations"
I wish to add annotations to my types, to express various aspects of them so that my client services can better understand how to work with various entity types and properties.

The documentation does not describe how I can do this. I request documentation on how to do this.

For a simple example, it would be nice to see the appropriate way to annotate a property with the information "This string

[2019-01-11 18:56] xuzhg commented on #1727
@phatcher

How can you make "/api/Books(1)?$expand=Press" to work? Can you share me you metadata, controller?

At my side, my metadata looks like
[code]
My controller looks like:
[code]
It works for "/api/Books" and "/api/Books(1)".
But, it can't work to append "$expand=Press".
It seems ODL has the problem to parse the select and expand for dynamic navigation property.
[code]

[2019-01-11 19:22] xuzhg commented on #1725
@svyme I see.

 `AsOfDate` is 'Edm.DateTimeOffset' type in your model. Meanwhile, `2018-01-04` is now converted to `Edm.Date` object.

In your scenario, you should use `date` built-in method.

_$filter=**date**(AsOfDate) eq 2018-01-04_

It should work.

[2019-01-12 00:05] MJomaa opened #1734 "How to ignore client-side extra properties on the server?"
It is quite common to use interfaces in TypeScript applications.
Sometimes a client entity needs some extra properties such as "isSelected" to work properly.
If those extra properties are included in the server request, you will get an 400 error.

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Expected result

With a configuration, the model binder should ignore all extra propertie

[2019-01-12 02:56] vinils commented on #1413
I´m struggling with data problem too since I can´t make a groupby.
Would be nice to have a work-around or an ETA
I tracked this bug to a year ago and since groupby(aggregate) its a kind of basic query resource wouldn't this bug be a p1 blocking?
Regards,

[2019-01-12 11:53] adamtoakley commented on #897
I have this issue as well... does anyone know when this might be completed?

[2019-01-12 15:45] robertmclaws opened #1735 "Redesign the OperationAttribute to be usable"
So I just saw the issue in #1729, and I wanted to extend the thought further to say that the whole design of `OperationAttribute` is in desperate need of an overhaul. There is not a single person I've ever met trying to use OData that understands it. I'm an OData expert and **I** don't even understand it. Is it a POST? Is it a GET? What's a "Side Effect"? Did I map the parameters right? How does t

[2019-01-12 20:30] phatcher commented on #1727
@xuzhg My example was a cut-down from my production code which does behave as described; I'll try and produce a working example.

[2019-01-14 12:08] sandersaares opened #1736 "Document how to implement OData Operations using async code (or implement it, if missing)"
As a followup to #1729, I request documentation on how to use async code to implement OData operations. The samples project only shows synchronous code in this scenario, which does not seem very aligned with modern C# coding practices where things tend to be async.

I do not actually know if this is supported or not right now. If not, I request it be implemented. perhaps as part of #1735.

[2019-01-14 12:50] sandersaares opened #1737 "How do I define a function on the non-generic EntityTypeConfiguration?"
I have the following code, where I have an instance of `Type` as input for my entity registrations instead of specifying it as a genric type parameter.

[code]

So far so good. Now I want to add a function.

[code]

Oh no! This does not compile! Apparently `.Function("name")` is only available on the generic EntityTypeConfiguration! How can I register a function here, without hardcoding the entity

[2019-01-16 10:54] evilB commented on #1008
Was there any progress made? Does compute or $compute work in any way?

[2019-01-16 15:46] robertmclaws commented on #1736
I think you covered this just fine in #1729, so I'm not sure if this is necessary. You can leave additional comments in 1729, or edit the original post for clarity if needed.

[2019-01-17 00:09] svyme commented on #1725
We do not have the luxury to ask our API consumers to change how they make the call.
And it is not a workable solution to ask client apps to change because of a library update in the service.
Our metadata is created from DTOs that have DateTime? AsOfDate.
Shouldn't there be a conversion from Edm.Date to System.DateTime?

[2019-01-17 01:12] markdreyer commented on #1008
I attempted, but was not able to get the project to build in vscode. I ended up using a work-around that did not require a code change.

[2019-01-17 17:15] xuzhg commented on #1725
@svyme I merged a change to make the functionality back compatible. If It works, would you please try the nightly and give us a feedback?

[2019-01-17 17:15] #1725 closed

[2019-01-17 17:16] xuzhg commented on #1473
@All I merged a change to make the functionality back compatible. If It works, would you please try the nightly and give us a feedback?

[2019-01-17 17:25] xuzhg commented on #1737
@sandersaares

You can do like:

[code]

[2019-01-17 17:37] xuzhg commented on #1732
@sandersaares So far, Web API OData model builder doesn't provide such functionality.

However, you can use the APIs (for example, SetVocabularyAnnotation) defined in OData.Edm lib.

For example, you can do like:

[code]

[2019-01-17 17:42] xuzhg commented on #1731
@sandersaares I fixed that. Thanks for reporting that.

[2019-01-18 00:33] raheph commented on #1735
@mikepizzo

[2019-01-18 00:47] raheph commented on #1734
@MJomaa We want to know that ignoring the extra properties may be unexpected by the client and lead to data loss.

[2019-01-18 00:50] raheph commented on #1732
@xuzhg Can you take the documentation into consideration?

[2019-01-18 00:51] #1731 closed

[2019-01-19 19:02] ceouten commented on #1473
@xuzhg I was able to test the nightly and it worked.  What is the timeline on when this will be officially released?  This change should allow us to upgrade.

The filter I used to test was "$filter=CreatedDateUtc gt 2018-12-25" where CreateDateUtc is a DateTimeOffset.  I also tested with a nullable DateTimeOffset and that worked as well.

[2019-01-19 19:59] freeranger commented on #1473
@ceouten did you test it with a regular DateTime at all?
Thanks

[2019-01-19 20:42] ceouten commented on #1473
@freeranger I did not.

[2019-01-20 12:18] heysaad commented on #152
I recently faced similar issue. The main cause of this error is following line
`appBuilder.UseWebApi(config);`
changing it to `appBuilder.UseWebApi(httpServer);` solved my issue

[2019-01-20 12:51] KanishManuja-MS commented on #1726
@heysaad Thanks for sharing your workaround.

[2019-01-21 17:21] robertmclaws opened #1739 "Document Unit Tests"
I spent the past weekend going over the unit tests in this project, and kudos for the work that has gone into making the system much more reliable by increasing code coverage.

One thing that jumps out at me, however, is a lack of documentation on how the tests work, and what they are actually testing. I have found that explaining tests helps to make sure they are well-defined and properly constra

[2019-01-21 18:56] robertmclaws opened #1740 "Publish symbols packages to NuGet"
## Issue
OData builds should include symbols packages to make it easier to debug issues with the core OData framework from other libraries.

## Suggestion
[Implement the proper changes](https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg) to generate `*.snupkg` packages during the build, and have them published to NuGet.

## Additional Information
- [NuGet spec for symbol

[2019-01-21 21:13] robertmclaws opened #1741 "[Regression] Functions with primitive parameters are throwing low-level exceptions"
## Issue
I have [a simple unit test in the Restier project](https://github.com/OData/RESTier/blob/45f858d8cb62f0c0d854b5cfdca61601f4cea409/src/Microsoft.Restier.Tests.AspNet/FeatureTests/FunctionTests.cs#L18-L25) currently throwing an exception. It calls [an OData function defined here](https://github.com/OData/RESTier/blob/45f858d8cb62f0c0d854b5cfdca61601f4cea409/src/Microsoft.Restier.Tests.Share

[2019-01-22 11:00] pomadin opened #1743 "Support subtraction for Date/DateTimeOffset types"
According to [OData specification](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-url-conventions.html#sec_Subtraction) the `sub` operator should work for operand of `Edm.Date` and `Edm.DateTimeOffset`.

The current implemetation accepts operands of numeric types only, at least I get `System.ArgumentException` wtih message: `DbArithmeticExpression ar

[2019-01-23 20:35] KanishManuja-MS commented on #1743
@pomadin Is createdOn of the type Edm.DateTimeOffset? Anyway, it seems like a bug and even if we don't allow subtracting date from date time offset, we should have a better error message.

[2019-01-24 04:37] xuzhg commented on #1740
@robertmclaws FYI, we publish the symbols for each release at https://nuget.smbsrc.net/

See http://odata.github.io/WebApi/10-01-debug-webapi-source/

[2019-01-24 22:09] ericbehughes opened #1745 "change parameter name from key to id"
It's impossible to change the parameter name from key to id
### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0
Microsoft.AspNetCore 2.2.0

### Reproduce steps

     [HttpGet]
        public SingleResult<SomeObject> Get(int id)

### Expected result

Method gets hit

### Actual result

Method does not get hit and goes to Get() with no parenthesis

### Additional detail

c# for the win

[2019-01-25 11:18] keatkeat87 opened #1744 "Bug, ODataUriParser.ParseUri fail when using $expand($orderby) together"
*Short summary (3-5 sentences) describing the issue.*
i m trying to use ODataUriParser to parser url in controller.
actually my main purpose is want to use this function in CustomEnableQuery to modify the request query. my idea is generate a limit url and match to the request url. so i need to use ODataUriParser to parse url.
it work fine at all condition, but get error in $expand=colors($orderby=

[2019-01-25 17:16] arspace commented on #1243
hi @ovidiubuligan
i'm in the same situation with u. did u find any solution?

[2019-01-25 18:31] KanishManuja-MS commented on #1743
@pomadin We don't support sub in WebAPI as of now. Therefore, I labelled the issue as a feature. If this is something urgent for you then we would welcome contribution and we should be able to review the changes.

Thanks.

[2019-01-26 08:56] keatkeat87 commented on #1744
Hi KanishManuja-MS,
Thank for reply.

GetProducts?

in my application, have member and admin role need to use /api/products to get data.
but different role have limited data to see.
for example, member can only get published product and admin can get all products.
so i create two function in controller instead of /api/products
api/products/Rpc.getAllProducts
api/products/Rpc.getPublishedProducts

[2019-01-27 19:12] xuzhg commented on #1473
So far no, we hope soon.

[2019-01-28 05:19] xuzhg commented on #1743
@pomadin

If you use the sample to test, it supports the scenarios:

·       DateTimeOffset sub Duration results in a DateTimeOffset
·       Duration sub Duration results in a Duration
·       DateTimeOffset sub DateTimeOffset results in a Duration
·       Date sub Duration results in a Date
·       Date sub Date results in a Duration

For example:

`http://localhost:5913/inmem/Movies?$filter=Rele

[2019-01-28 09:57] pomadin commented on #1743
@xuzhg I see, that it's worked for EFCore, but I have used EF6.

[2019-01-28 14:57] Mhirji commented on #1463
Hello,
Just wondering if the PR submitted by joshcomley will be merged? If you could please let us know it would be great as there seem to be a few of us whom are suffering a bit from the issues this PR fixes.
Thanks!!

[2019-01-29 06:01] #1741 closed

[2019-01-29 10:07] flibustier7seas opened #1746 "EnableLowerCamelCase in combination with Expand, Filter, Select not working"
After adding `EnableLowerCamelCase`, requests with `$expand`, `$filter` and `$select` return errors.

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

Project: [AspNetCoreODataSample.Web](https://github.com/OData/WebApi/tree/master/samples/AspNetCoreODataSample.Web)

1. Disable global query settings:

**Startup.cs**
[code]

2. Allow filter by property:

**EdmModelBui

[2019-01-30 14:33] NetTecture opened #1747 "ODataResourceDeserializer making aboslute URI out of relative"
I am subclassing ODataResourceDeserializer in order to handle @odata.bind semantics.

My API is running in a sub-folder (/odata). This is done on IIS level (i.e. IIS starts in this folder).

The following payload

{"@odata.type":"#PropertyCore.Module","Equipment@odata.bind":"Equipment(76bd9533-cce8-4628-b767-b6cbff502c02)"

(rest removed)

Gets deserialized in ApplyNestedProperty as:

/Equipment(7

[2019-01-30 16:12] enchev opened #1748 ".NET Core 3.0 support?"
It seems that latest official OData (Microsoft.AspNetCore.OData 7.1.0) cannot be used in .NET Core 3.0.0 Preview 2 MVC app:

Startup.cs
[code]

Exception:
[code]

![image](https://user-images.githubusercontent.com/5804953/51994726-15d04b00-24ba-11e9-9b51-e57b0389a331.png)

Let me know if I've missed some setting!

[2019-01-31 14:46] Mhirji commented on #1463
@joshcomley thanks for the PR.  Do you have any insights on why it is still waiting for review?

[2019-02-01 00:01] xuzhg opened #1749 "Design: Add a hook before the serialize to customize the resource"
*Short summary (3-5 sentences) describing the issue.*

For example,

If some customer doesn't want to expose the property value which property is an etag property, then customer can have a process to customize the final resource before reach to the seraizaliztion.

[2019-02-01 19:12] NetTecture commented on #1747
STUPID mistake on my side. The get payload was coming out of a file. And when copying the unit tests, the file name was mixed up - and thus the wrong file loaded.

[2019-02-01 19:13] #1747 closed

[2019-02-02 20:36] commonsensesoftware opened #1750 "BUG: ODataInputFormatter and ODataOutputFormatter Does Not Override Expected Behavior"
The **ODataInputFormatter** and **ODataOutputFormatter** extend the built-in **InputFormatter** and **OutputFormatter** respectively, which each implement the **IApiResponseTypeMetadataProvider** interface used by the API Explorer. The **ODataInputFormatter** and **ODataOutputFormatter** break the expected design by allowing a configuration that does not have any supported media types. The OData i

[2019-02-02 21:14] JoshZA commented on #1574
👍

[2019-02-02 22:16] JoshZA commented on #1611
👍

[2019-02-04 19:46] xuzhg opened #1751 "Support $ref in $expand"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 7.x

### Additional detail

ODL supports to parse $expand=navigationProperty/$ref
Please supports it in the Web API OData.

[2019-02-05 06:46] nitish29391 opened #1752 "Read URL parameter values in C#"
### I am trying to read Parameter values in C# which are being passed to odata request

*In below request I am passing $filter and expecting to read filter value
**URL**: http://localhost:57097/Lead?$filter=AssignedToID eq 21987 and IsDeleted eq false*

I am using this code to read parameter value
` HttpContext.Current.Request.QueryString.Get("$filter");`
and it is returning as "**AssignedToID eq

[2019-02-05 09:51] 1Jesper1 commented on #1303
@genusP How to let the OData Client Generator know the right namespace when using your code? Now it set's the Default.{action}.

[2019-02-05 10:36] NetTecture opened #1753 "Allow definition of a default sort order"
Right now, elements queried are returned in key order if / when no sort oder is defined in the query.

This is not enough for what we do. In my case, every element is identifie with a GUID as key. Period.

But this is not the normal sort order. The normal sort order is often different, based i.e. on a code number assigned.

The possibility to define, as part of the model, a default sort order, all

[2019-02-05 13:20] genusP commented on #1303
@1Jesper1 Sorry, I don't use this library and can`t help you.

[2019-02-06 12:11] e27182 opened #1754 "AmbiguousActionException when submitting BatchWithSingleChangeset"
When submitting batch with `SaveChangesAsync(SaveChangesOptions.BatchWithSingleChangeset)` that contains 2+ operations (different controllers\actions) AND versioning support is enabled too, only first operation succeeds. Second one will hang with `AmbiguousActionException` throw from `Microsoft.AspNetCore.Mvc.Routing.DefaultApiVersionRoutePolicy.AmbiguousActionException`.

### Assemblies affected

[2019-02-06 16:47] JohnGalt1717 commented on #1748
+1

[2019-02-06 20:50] KanishManuja-MS commented on #1753
@NetTecture For the framework, it is not possible to make a guess on which properties to sort on for the business case that you have mentioned. With that said, you can always create your own order by query option before you apply it, I will mark this as a feature since we do not allow such configuration for default ordering.
The Framework uses the keys to order by for stable ordering and that is w

[2019-02-06 21:28] rossbuggins opened #1755 "Implement support for IAsyncEnumerable"
Should odata support IAsyncEnumerable?  There is an open work item on asp.net core https://github.com/aspnet/AspNetCore/issues/5357 and the underlying c# support https://github.com/dotnet/corefx/issues/32640

[2019-02-06 21:32] nurdyguy commented on #1726
In some cases, using the `/` notation may work when the `.` notation does not.
(eg. `$filter=Designation/ID in (2,3)`)

https://stackoverflow.com/questions/29027887/breezejs-odata-casts-can-only-be-performed-on-entity-types

[2019-02-06 21:38] NetTecture commented on #1753
Yeah. Let me see. Title is "allow definition", not "guess". I know. I have no problem defining a DefaultSortFilter as sequence of Sort and ThenSortBy. Heck, now that I think about it this could actually be a global sort order in EF Core actually. I see a LOT of scenarios where this actually can come in handy ;)

And yes, I know how it sorts by default. Only our key, i.e., is a GUID. OTOH we like e

[2019-02-06 21:57] KanishManuja-MS commented on #1754
@e27182 Thanks for the investigation.

[2019-02-06 21:59] KanishManuja-MS commented on #1752
@nitish29391 Can you use the ODataUriParser?

[2019-02-07 05:05] nitish29391 commented on #1752
**Finally I found answer.**

**Step 1: Read options from controller action**

[code]

**Step 2: Read BinaryOperatorNode from options**

[code]

**Step 3: Create below recursive function to find all filter values**

[code]

[2019-02-07 05:08] #1752 closed

[2019-02-07 12:55] Mhirji commented on #1463
Does anyone have any more news on this?

[2019-02-07 14:23] smasherprog commented on #1463
I havent heard anything.. I wish this would get merged already

[2019-02-07 16:59] osemyonov opened #1756 "@odata.nextLink ignores query parameters like $select, $expand"
Get item by key with expand navigation property
e.g.  **Item(1)**?$select = ID&**$expand**=Property1 (collection), Property2

in response:
navigation Property1 collection **oversteps** default Pagesize

**The issue**:
OData lib generates @odata.netxLink without odata query parameters like $select etc:
@odata.nextLink: http://server/item(1)/Property?$skip = Pagesize

### Assemblies affected

"Micro

[2019-02-08 04:53] commonsensesoftware commented on #1177
It would appear there wasn't a very strong effort to determine the root cause of this. It took some spelunking, but I found it. The **ODataOutputFormatter** is not implemented correctly. It supports a scenario (validly for OData only) where the media type is derived from the incoming request and thus the formatter doesn't have any predefined media types. This breaks the inherited functionality of

[2019-02-08 08:22] dh97243 opened #1758 "Failed to deserialize special character(#) in property name of open type"
Deserialization of IDictionary<string, object> will be failed if one of the name/value pairs has hash character(#) in name. Wondering how to workaround this? Any escapes needed?

### Assemblies affected

Microsoft.AspNet.OData 7.1.0

### Reproduce steps

Suppose we have following model.

[code]

Valid Payload:
[code]

Invalid Payload:
[code]

### Expected result

Dictionary would be deserialized s

[2019-02-08 09:46] nitish29391 opened #1759 "Get generated SQL query from IQueryable odata"
**I am trying to get sql query which is generated after I pass commands in URL**

*For Example if I hit below URL*

    http://localhost:57097/Lead?$filter=LeadId eq 9254238 and AssignedToID eq 21987

Then I am expecting generated SQL query which OData generates to fetch data from database.

*Expected Result:*

[2019-02-08 11:03] julealgon commented on #1750
Nice discovery there.

I'd just like to suggest returning an empty read-only collection instead of null, as handling collections as null is usually a bad practice and can cause NullRefrrenceException on consumers.

In this particular case there is no special semantic difference between null and empty (I understand there may be in other contexts though), so it's better to just return empty IMHO.

[2019-02-08 16:44] commonsensesoftware commented on #1750
@julealgon, totally agree with you. I prefer avoiding `null` as well; however, if you take a peek at the implementation in **OutputFormatter** you'll see that it also returns `null`. I know ASP.NET Core team often does this to avoid allocations. Apparently, they feel the _juice is worth the squeeze_. Ultimately, I'd be satisfied with a `null` or empty list. A caller, however, always has to conside

[2019-02-08 23:30] rossbuggins commented on #1357
I've just had the same moment of madness. If you want the same behaviour as EnableQuery, pass the QueryOptions you want to allow into an new instance ODataValidationSettings and pass this to the ApplyTo method.

[2019-02-09 22:47] NBroomfield commented on #1177
This might help some people?

https://github.com/Microsoft/aspnet-api-versioning/tree/master/samples/aspnetcore/SwaggerODataSample

[2019-02-09 23:23] commonsensesoftware commented on #1177
@NBroomfield thanks for the plug, but as the author of the example that you've referenced, it works because I handle and ignore the **InvalidOperationException** that gets produced. I hadn't previously figured out why this was happening. The referenced example will **only** work if you use OData exclusively. If you're mixing OData with non-OData controllers **and** Swagger, then this problem will

[2019-02-11 11:51] rossbuggins opened #1760 "OData writer raw json string, no serialization"
If a data source is returning json (eg mongodb) from an odata linq query, how best to write this as odata output, without having to derialize into objects to then serialise this again before writing out? This is for a simple odata feed, with no expands etc. Would it need a custom ODataWriter? Thanks

[2019-02-11 22:18] KanishManuja-MS commented on #1756
@osemyonov Do you want to apply $select to the Property1? If that is the case, you should have it inside the expand clause like - $expand=Property1($select=ID). The nextlink that you are sharing is for the expanded collection resource and the $select is applied for the top-level item resource.

The nextlink will not have the $select due to a different issue which is being fixed

[2019-02-12 01:03] svyme commented on #1725
The fix works as expected. Thanks!

[2019-02-12 08:11] raffaeler opened #1761 "Nuget package dependencies"
*Summary*
In a project we are using Microsoft.AspNetCore.OData package version 7.10
These packages have dependencies over the AspNetCore 2.0 assemblies, while we need to use version 2.1.
As a result, the 2.0 version of an ASP.NET Core assembly is loaded and a method not found exception is thown, since that method is only available starting from version ASP.NET Core 2.1.

Please provide updated pac

[2019-02-12 15:21] osemyonov commented on #1756
No,
I don't want to apply $select to the Property1. It is clear from my sample.

It is just a query sample to explain the issue. I simplified more complex request.

To avoid a confuse let's replace my query sample to another:
Item(1)?$select = ID&$expand=Property1 ($select=ID)

In my simple sample I want:
1) In single result I select only Id
2) In single result I want to expand Property1 as collec

[2019-02-12 18:14] KanishManuja-MS commented on #1756
@osemyonov Yes. I understand the issue. It does seem to be a subset of #1722.

[2019-02-13 21:43] xuzhg commented on #1751
@madansr7 Would you please create a corresponding task on Dev ops?

[2019-02-13 21:52] xuzhg commented on #1760
@rossbuggins Can you customize the OData serializer to accomplish that?

[2019-02-13 21:57] xuzhg commented on #1759
@nitish29391 Web API OData creates the linq expression based on the $filter clause, that expression is converted into SQL by the a SQL provider, such as the Entity Framework. If that provider doesn't have such tracing ability, you can use Database profile tools.

[2019-02-13 22:00] xuzhg commented on #1758
@dh97243 The property name string should follow up:

_15.2 Simple Identifier
A simple identifier is a Unicode character sequence with the following restrictions:

It consists of at least one and at most 128 Unicode characters.
The first character MUST be the underscore character (U+005F) or any character in the Unicode category “Letter (L)” or “Letter number (Nl)”.
The remaining characters MUST be

[2019-02-14 00:20] vsopko commented on #196
@robward-ms, @xuzhg is there any news on this feature?

[2019-02-14 16:53] damnlogin opened #1763 "Delta<TStructuralType>.GetChangedPropertyNames does not correctly return nested resources changed properties"
*When accessing GetChangedPropertyNames of a delta - only root level changed properties are returned. Nested changed properties are aggregated as nested entity key. That makes impossible to get info of what nested entity properties were changed. Is that by design or you may consider pull request returning nested properties in the format NestedEntityKey.NestedEntityChangedProperty?*

### Assemblies

[2019-02-14 19:49] kalavany opened #1764 "Alternate keys cannot be used as Action parameters"
*When a parameter of an action is of type EntityReference, you should be able to use Alternate key to populate this parameter*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*Create an action with parameter whose name is "Target" of type EntityReference. Now, populate this parameter as below in the payload - { "Ta

[2019-02-15 14:48] Seteh commented on #793
`$apply=compute(day(DateTime) as day, month(DateTime) as month, year(DateTime) as year)/groupby((day,month,year),aggregate(Id with countdistinct as Count)`

Hi @kosinsky, is there any progress on it?

[2019-02-15 15:12] JPlumridge commented on #1622
Is there any update on this? Or a workaround?
As far as I can tell this completely blocks the ability to add custom routing conventions.

[2019-02-15 17:07] raffaeler commented on #1761
#### More info

When the project does not reference OData, we can load and run ` EntityFrameworkCore 2.2`.
As soon as OData is referenced an exception is thrown: `FileNotFoundException` for `Microsoft.Extensions.DependencyInjection.Abstractions, Version=2.2.0.0`

We can see in the deps.json file, that OData references the 2.1 release.
This means that `Microsoft.Extensions.DependencyInjection.Abstr

[2019-02-16 10:11] jannikbuschke commented on #1413
Im also facing this issue

[2019-02-17 12:35] Galad commented on #1753
Hello,
We have a similar use case. Our database tables have an unique Id that is not necesseraly the primary key and is not part of the OData model. We workarounded the default order by disabling the stable order and adding our order to the `ODataQueryOptions` by adding an OrderBy clause where the user defined an order by:

[code]

And by just applying the expression on the queryable when there is

[2019-02-18 00:30] baywet opened #1765 "AspNetCore + EfCore Odata $top adds an additional Order by"
When adding $top to a request that already has a $orderby, the underlying SQL query contains 2 order by clauses instead of one. One on the order by property and one on the primary key. It should only have one on the order by key.

### Assemblies affected
OData Web API 7.1.0

### Reproduce steps

Consider the following data structure:
[code]
Now imagine you have a EFCore DbContext with DataSets of

[2019-02-18 13:05] kerenkeren opened #1766 "define Type in url for the key"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2019-02-18 13:05] #1766 closed

[2019-02-18 16:33] kerenkeren opened #1767 "FromODataUri attribute, When the type of key is string, and it has leading digits, the key get wrong value"
When a key of type string get From the url by FromODataUri attribute digits,
The key get the first number value and lost Everything Else.

### Assemblies affected

 FromODataUriAttribute
Assembly Microsoft.AspNetCore.OData, Version=7.1.0.21120,

### Reproduce steps
The model:

[code]

The Action:

[code]

The url :
 http://localhost:5000/project(id='000001')
### Expected result
keyId = “000001”
##

[2019-02-19 02:17] NetTecture commented on #1765
At least you example is wrong. ReadTimeUTC is no necessarily unique, and as such it is not suitable as a key that has to GUARANTEE a similar order. As such, at least in this case, the key is added to make sure the order is ALWAYS guaranteed.

[2019-02-19 02:23] baywet commented on #1765
hum, I had not thought of it this way, thanks!
So let's suppose that I add another column DataPointOrderHash, which is a concat of epoch + primary key and has a unique contraint, adapting my OData request to order by that column instead, should that result in a SQL query with only one order by statement?

[2019-02-19 07:58] NetTecture commented on #1765
Theoretically yes, but I think there is no way to express this guarnateed uniqueness in the configuration so you will not stop odata from "forcing" known order without a LOT of code rewriting and possibly making your own version. So, the answer is likely no.

[2019-02-19 13:10] baywet commented on #1765
So basically the OData provider will more or less always add an additional order by statement on the primary key whenever there is a $top to guarantee idempotence if the $orderby is not on the primary key. Then it's a matter of me choosing the right primary key if I want to optimize this scenario.
Thanks a lot! that clarifies it, closing.

[2019-02-19 13:10] #1765 closed

[2019-02-19 15:19] TEAMBTG opened #1768 "The batch request must have a “Content-Type” header"
Got an error after I add the DefaultODataBatchHandler on my WEB API OData v4.

    DefaultODataBatchHandler defaultODataBatchHandler = new DefaultODataBatchHandler(GlobalConfiguration.DefaultServer);

In browser I've got this error: **The batch request must have a "Content-Type" header.**
Also having this error: **$batch failed - Error: Expected 'OData-Version' header with value '4.0' but received

[2019-02-19 16:24] #1768 closed

[2019-02-19 20:24] onovotny commented on #1755
Note that Ix Async will be releasing a preview of the LINQ operators for this shortly.

[2019-02-20 20:28] KanishManuja-MS commented on #1767
@kerenkeren Not able to reproduce this at my end. Can you share a simple project where you can reproduce this? What version of OData are you using?

[2019-02-20 21:35] raheph commented on #1763
@damnlogin Do you mean navigation properties when you say NestedEntity? If that is the case, then it is restricted by design otherwise, can you please share more details about the use case?

[2019-02-21 09:55] damnlogin commented on #1763
Hello

No - actually my POC entity looks like this:
[code]

In database I have single table with four columns, but for better structuring I extracted audit columns in a separate class. So for example when `ChangedDate` and `Name` properies are modified and sent as PATCH to my OData controller I get a delta that reports the following changed properties:

`Name, AuditInfo`

and I would expect someth

[2019-02-21 12:06] Daniel127 opened #1769 "Unable use REST Routes"
How can I use the REST routes with OData?.

The OData Routes are:

"api/v1/MyEntity"
"api/v1/MyEntity({key})"

But, i want this:

"api/v1/MyEntity"
"api/v1/MyEntity/{id}"

[2019-02-21 12:19] ceouten commented on #1473
Just wanted to check in and see if there was a planned release date for 7.2
Where is the best place to follow for this information?  Right now I'm just casually checking nuget or http://odata.github.io/WebApi/

[2019-02-21 12:46] ricksearcy commented on #1263
What is the status of this? I am still seeing the behavior and not able to use a PATCH for our complex types in 7.1.0.

[2019-02-21 21:53] xuzhg commented on #1769
@Daniel127

The latest version of ASP.NET OData ([Core](https://www.nuget.org/packages/Microsoft.AspNetCore.OData/)/[Classic](https://www.nuget.org/packages/Microsoft.AspNet.OData/)) enables key as segment by default. Would you please try it out.  Thanks.

[2019-02-22 08:12] NetTecture commented on #1763
@raheph If you say restrited by design, do you mean it does not support at all to update nested entieies? I have a similar case where I send a payload like this:

{"@odata.type":"#PropertyCore.Module","Comment":"updateding","Room@odata.bind":"http://Room(58e01595-407b-4133-afa4-00c88934b567)"}

and the Room property is neither in the list of updateable properties, now is it showing up as changed.

[2019-02-24 10:33] Nomi90 commented on #1767
I am getting the same issue. it occurred when using multi-segment keys.
you can see reproduce example in:
https://github.com/Nomi90/RepreduceWrongODataBindingOnMultiSegmentsKeys/blob/master/IncorrectStringKey/Controllers/ItemsController.cs

[2019-02-25 11:20] NBroomfield commented on #1177
@commonsensesoftware, thanks for the reply, that's really useful feedback, do you know if NSwag will work with Odata and dot net core?

[2019-02-25 17:00] commonsensesoftware commented on #1177
I don't have a working sample, but - **yes** - it will work.

Unlike some other libraries that have provided Swagger support for OData in the past, API versioning isn't providing any direct Swagger support. What it provides is solid support for the _API Explorer_ API. Tools, such as Swagger generators like Swashbuckle and NSwag, then rely on _explored_ information to do their work. In this way we

[2019-02-25 17:51] ashutosh088 opened #1771 "PUT against a collection-valued nav prop"
There is a scenario where we need to replace the existing collection of entities (Navigation Property). But looks like it is not supported in WebAPI OData.
This is blocking the Likes ingestion to Substrate from Teams and Yammer.

Can you please add the required support as per:
http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#sec_UpdateaCollectio

[2019-02-25 18:50] mikepizzo commented on #1771
Note that the above references updating a collection-valued (non-navigation) property (i.e., collections of primitive or complex types).

In V4.01 we added support for similar functionality for a collection-valued navigation property, as per http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#sec_ReplaceallReferencesinaCollectionval.

[2019-02-25 21:18] lybax opened #1772 "Partially nullable composite Foreign Key is not supported"
*OData returns an incomplete (chunked) JSON response when expanding a navigation property referenced by two foreign keys, of which one is nullable and actually being null.*

### Assemblies affected

Microsoft.AspNetCore.OData, Version=7.1.0.21120

### Reproduce steps

**Model**
[code]
[code]

**ODataConventionalBuilder**
`builder.EntitySet<SourceEntity>("EntitySet").EntityType.HasOptional(x => x.N

[2019-02-26 09:32] kerenkeren commented on #1767
The problem occurs when the key consist 2 segments, like the project linked in the previous comment

[2019-02-26 16:59] lybax commented on #1772
The issue comes from the generated SQL query.

With this query (which does not work):
http://localhost/odata/EntitySet?$top=1&$select=ForeignKey1,ForeignKey2&$filter=ForeignKey2%20eq%20null&$expand=NavigationProperty

We get:
[code]
where [IsNull] is 0, because it compares both foreign keys with **AND** statement instead of **OR**, which is incorrect according to this statement:

Now using this qu

[2019-02-26 17:00] sanonsen commented on #1771
PUT on the nav property avoids creating an action in this scenario, which is the better API.

[2019-02-26 21:32] ImGonaRot opened #1773 "Schema Namespace missing from $metadata after update Microsoft.AspNet.OData 7.0.1 to 7.1.0"
Since the Namespace is missing, this broke the proxy code generators for connected services and the odata code generator.
Without it, we can't determine what models belong to specific namespaces by using the metadata generated.

We use models in different Namespaces and those namespaces need to show in the service metadata

** Microsoft.AspNet.OData 7.0.1 **
[code]

** Microsoft.AspNet.OData 7.1.0

[2019-02-26 23:47] xuzhg opened #1774 "Put to collection of primitive, enum, complex, entity should work"
OData spec says:

11.4.6.4 Replace all References in a Collection-valued Navigation Property
A successful PUT request to a collection-valued navigation property’s reference resource replaces the set of related entities. The request body MUST contain a collection of entity references in the same format as returned by a GET request to the navigation property’s reference resource.
A successful DELETE

[2019-02-27 17:19] Razgort commented on #135
Is it possible to do a patch method without delta ? only with type ?

[2019-02-27 17:20] Razgort opened #1775 "Patch without using delta<T>"
Hello guys,

Would it be possible to route my patch method without delta or a delta<Jobject> in aspcore?

[2019-02-27 17:26] xuzhg commented on #1775
@Razgort It should work (can you test it).
But, if you use type instance directly, not use Delta, you can't know which property is really changed.

[2019-02-27 17:26] xuzhg commented on #135
@Razgort see https://github.com/OData/WebApi/issues/1775

[2019-02-27 17:29] xuzhg commented on #1774
More:

Web API OData supports the built-in routing to put a collection-valued property of complex types.

It supported to Update the collection of complex property, and the payload should start with “value” wrapper. See my test case at https://github.com/xuzhg/WebApiSample/blob/master/Microsoft.AspNet.OData.Test/CRUD/UpdatePropertyTest.cs#L134-L149

However, when I use the latest Web API & ODL, it

[2019-02-27 18:31] xuzhg commented on #1773
@ImGonaRot It seems this problem is related to https://github.com/OData/WebApi/commit/de7dcd076385664768841856d3a1db1b7ce96b30
@RamjotSingh Do you have any hints?

[2019-02-27 21:24] xuzhg commented on #1774
@xuzhg Separate it into two issues, one for the regression on collection of complex, the other one for the new feature for collection of entity.

[2019-02-27 21:27] xuzhg commented on #1771
#1774

[2019-02-28 08:19] Razgort commented on #1775
I dont mind knowing what property changed since i will call a stored procedure inside the function that will do the job anyway.

But i can't get any of these route working :

        //public IActionResult Patch([FromODataUri] int key, Delta<JObject> delta)
        //public IActionResult Patch([FromODataUri] int key, JObject Jobj)

        //public IActionResult Patch([FromODataUri] int key, V_SI_

[2019-02-28 19:49] Kizmar commented on #1625
In case anyone else ends up here for the reason I did...

I thought I was running into a related issue. After a bunch of flailing around, I realized the OData EDMX doesn't recognize entity properties that have a `private set`. It took me hitting the document endpoint to figure this out (`/odata/$metadata`).

[2019-03-01 04:34] RamjotSingh commented on #1773
I am not able to repro this. Here is the code I wrote and used your models.
[TestOData.zip](https://github.com/OData/WebApi/files/2917899/TestOData.zip)

And this is the metadata I got out of it
[code]

Would you be able to isolate your code into a smaller project and attach it here so I can take a look?

[2019-03-01 04:44] RamjotSingh commented on #1773
Alright I followed a hunch and wanna check if this is the case for you. Are you declaring all the models with DataContract notation and then making the namespace empty on them? Something like

[code]

In this case I see the namespace gets empty and that is working as intended. Anything specified in DataContract takes precedence.

[2019-03-01 04:50] ImGonaRot commented on #1773
@RamjotSingh I am not using any DataContract attributes on the models. The models are about 99.9% exact as pasted above.

I will work on isolating this into a sample project and post it here one I have that finished.
It is really odd in that all the "Schema" attributes have been removed from the metadata data other than the one at the very beginning of the metadata.

[2019-03-01 06:35] Razgort commented on #135
Yes i opened new issue about that

[2019-03-01 07:59] RamjotSingh commented on #1773
Are you setting the namespace in the builder? Something like
[code]

If yes then I think this is expected. You elements have been moved to that namespace (this was actually the original bug). Earlier namespace was not being honored when setting on Models. It was just getting honored on Actions and Functions. 7.1.0 fixed this to make sure namespace was honored everywhere. In this case if all your m

[2019-03-01 12:57] SenyaMur commented on #1413
I found solution. Just change one method
[code]
Now always use convert for property

[2019-03-01 14:33] ImGonaRot commented on #1773
@RamjotSingh That is exactly what caused the problem.
I had the following in my ModelBuilder
[code]
After removing this line from the ModelBuilder, I can see that the Schema attributes are back in the metadata for the models
BUT.... there was a reason I had added that into the WebApiConfig
This now broke the Schema attribute for "Function / Action" in specific namespaces.

Back before I had added

[2019-03-01 15:41] Mortana89 commented on #255
Also facing this one here!

[2019-03-01 17:30] RamjotSingh commented on #1773
Namespace not getting used in Structural and Enum types was a bug and the commit above fixed that bug. However I understand you are having difficulty fixing these. You have a couple of options here.

#### Adding namespace to functions directly
You can directly put functions in namespaces. This lets you pull the functions out of the default namespace into a special one.
[code]

#### Keeping all fun

[2019-03-01 17:56] ImGonaRot commented on #1773
@RamjotSingh Sorry guess I should have clarified a little better.
I have added "Namespace" to all FunctionConfiguration and ActionConfiguration in the WebApiConfig before posting to "correct" the removal from Microsoft.AspNet.OData 7.1.0 and that did indeed add the namespace I needed on all the Functions / Actions
BUT...
The problem I am facing now is that the "Container" is in the "Default" names

[2019-03-01 17:57] RamjotSingh commented on #1773
Just set the namespace at model builder level (yes that will make you to move all your models using direct namespace setting or DataContract).

[2019-03-01 18:01] ImGonaRot commented on #1773
@RamjotSingh Now we are full circle.
If I set the Namespace in the model builder then it removes the Schema attribute from all the models in the metadata.

Unless you are suggesting that I have to set the Namespace in the model builder AND use the DataContract on each model. If so, then that is a mess going forward.
I'm not sure why I didn't have to add DataContract to all the models and now I hav

[2019-03-01 18:10] RamjotSingh commented on #1773
It is not removing Schema attribute but moving them all to same namespace. Model generator does honor namespace of the models but only when you have not asked it to use the namespace you specified.

At this point for your case DataContract is the best approach. However you have another option.

- Do not set the namespace at model builder level
- Set namespace individually for every function\action

[2019-03-01 18:13] ImGonaRot commented on #1773
@RamjotSingh Thanks for all your input but it does not seem to work for me as you are describing.
Let me create a sample project this weekend and I will post here to better explain the problem.

[2019-03-01 18:14] RamjotSingh commented on #1773
Sure. Just give me the sample project and tell me what you want in which namespace and I can set it up for you.

[2019-03-01 18:15] RamjotSingh commented on #1773
Just curious what did not work in the above sample for?

[2019-03-01 18:18] ImGonaRot commented on #1773
Also to be clear. I am not having problems with the namespace on the model, functions, or actions now that you have sent me in the right direction.
My problem is that the "Container" is now under "Default" when it use to be under "TestCompany".

The sample project you provided is very limited in that it does not split controllers or entities into separate namespaces and I will have to generate a s

[2019-03-01 18:20] RamjotSingh commented on #1773
Sample project I created was based on the info you provided. If this does not work for you, I will wait for your sample.

[2019-03-03 07:56] Razgort commented on #1775
is there something like this for asp, core http://technolog.nl/blogs/eprogrammer/archive/2017/04/30/OData-6.0.0-howto-fix-Cannot-apply-PATCH-to-navigation-property-_2700_x_2700_-on-entity-type_3F00_.aspx ?

[2019-03-03 07:59] Razgort commented on #135
Is there an equivalent for aspecore ?

[2019-03-03 08:06] egbertn commented on #135
Here, again, it _should not_ be done like this. References must be updated by item directly

Odata 'assumes' that a SQL database is used at the background, so in a database world, the one side of the relation, is and should be updated. The many side, just contains a reference to a primary / foreign key.
But still, if you badly want that feature, yes, I made such an attempt for .NET Core. It seems

[2019-03-03 09:33] egbertn commented on #1775
https://github.com/egbertn/ODataDelta/

[2019-03-03 11:26] grahamehorner opened #1776 "DeletedODataResult"
IMHO the ODataController requires the additon of a

protected virtual DeletedODataResult<TEntity> Deleted<TEntity>(TEntity entity) where by the returned DeletedODataResult has an HTTP status code of 200 if successful together with the entity that was deleted as a defult implementation in a similar way to the Created and Updated virtual methods.

IMHO a developer can the choose to override this and

[2019-03-04 09:38] huf1 opened #1777 "Odata produces invalid SQL Statement 'Invalid column name 'c'.'"
When calling odata endpoint with $orderby and $skip parameters, the generated SQL Statement is invalid.
Invalid column name 'c'.

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

I'm calling for example: http://localhost:5000/odata/Test/Test()?$skip=0&$orderby=BusinessUnit%20desc&$top=50
to get a 'BusinessUnit' ordered list

The result SQL Statement on SQL Server Dat

[2019-03-05 08:48] dushes-ag commented on #1397
Confirm this behavior for 7.1.0. More than that, the behavior is different for cases when the same odata feed is invoked with/without any query string parameters. I.e.
http://localhost:5912/a/Entity  - doesn't run custom logic
http://localhost:5912/a/Entity? - runs custom logic.
But once the first request with ? at the end of the query string is triggered, then even the requests wihout ? in the ur

[2019-03-06 08:40] esbenbach commented on #1413
Any updates on this?

[2019-03-06 20:52] xuzhg commented on #1777
@hrf1 It looks it is related to the stable sort strategy by design. Is 'c' your entity key? Does it work if you set 'EnsureStableOrdering = false'? Thanks.

[2019-03-06 21:17] KanishManuja-MS commented on #1759
@nitish29391 Does that answer your question? Should we close this one?

[2019-03-06 21:18] KanishManuja-MS commented on #1760
@rossbuggins Does that work for you? We would like to close this issue if that is the case.

[2019-03-07 15:17] thomas-rose commented on #1748
+1

[2019-03-07 15:19] JohnGalt1717 commented on #1748
Still broken in Preview 3.

[2019-03-07 17:36] madansr7 commented on #1748
@enchev , thanks for bringing this to our attention.
The team needs time to investigate the error. The current version of the library is built against Core 2.0 and we need to spend sometime to evaluate any breaking changes in 3.0 that would require a change in the behavior of OData libraries.

[2019-03-07 21:11] JohnGalt1717 commented on #1748
@madansr7 Mostly this has to do with routing because of the new method of UseRouting(). In the case of SignalR they updated their registration to work under the UseRouting(options => {}) instead of as a direct extension on the app.XXX.

[2019-03-08 17:49] madansr7 commented on #1748
@JohnGalt1717, thanks for the info. This definitely helps!
We will put this up on our board for grabs.

[2019-03-09 00:24] wh920419 opened #1778 "Navigation property defined on a derived entity can not be accessed through a request with derived entity syntax"
We are having issue when people are trying to use relationship on derived type.

### Assemblies affected

Microsoft.OData.Core 7.3.0.10724

### Reproduce steps

For example, Email is derived from ActivityPointer. regardingobjectid_contact_email is navigation property defined on Email. Below query throws exception:
GET [org url]/activitypointers(A1DD14CA-7E3F-E911-8190-000D3A061D10)/Microsoft.Dynam

[2019-03-09 02:22] 3GDXC opened #1779 "navigate to a recussive entity reference"
I have a single table DbContext that is expressed in odata EdmModel as having one parent and many children, odata fails when attempting to use the navigation methods with a 404

[code]

[2019-03-09 13:03] TheoBP commented on #1697
I ran into the same issue. Did you find a workaround for this?

[2019-03-10 03:46] jimmy3912msncom commented on #1697
No I haven’t :(

[2019-03-11 05:14] #1759 closed

[2019-03-11 09:12] andyward opened #1780 "Unable to PATCH a complex property on an Open Type"
Given an open type `A` and EntitySet `AEntities`, and a Complex Type of `B`, it IS possible to patch an `A` Entity with a Collection of `B`s as follows:

[code]
... however it's NOT possible to PATCH a single Property with a Complex Type of `B`:

[code]
There seems to be an issue in the deserialisation of `Delta<A>` that causes this discrepancy.

Is this supported?

### Assemblies affected

OData

[2019-03-12 17:19] ilya-chumakov commented on #1469
Hello there. Maybe the situation has changed. Does AspNetCore.OData have any support for `snake_case` JSON if entities remain in PascalCase except covering them with explicit `[DataMember]` attributes?

[2019-03-14 23:20] alex-zyl opened #1781 "DateTimeOffsetToDateTime produces Constant expression only"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

1. Create a model with a property of type DateTime
[code]
2. Query model with filter expression
```/api/MyModels?$filter=Timestamp le 202011-01-03T00:00:00Z```

### Expected result

FilterQueryOption produces parametrized expression

### Actual result

FilterBinder

[2019-03-15 19:33] zamzowd commented on #1596
While it looks like there was a fix for this released in 7.5.3, I'm still having issues when using `in` inside of an `any` operator, e.g. `$filter=customers/any(c:c/id in (<guid1>,<guid2>))`.  Instead of a 400 Bad Request, I get a server error.  The property of the related collection is not nullable.

Here is the exception logged by the server:
[code]

[2019-03-16 00:33] catalinis opened #1782 "ODataQueryOptions not populating filter/select/orderby"
I am trying to use queryoptions in an OData controller; however, filter, select and all other query options are not being passed to my controller.

Some relevant code:
class Startup
{
       public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)
        {
            // MVC, using OData. Configure OData and MVC
            app.UseMvc(routeBuilder => C

[2019-03-18 06:46] karthikchintala1 commented on #813
@genusP Thanks for the work around.

This solved the problem for me.

[2019-03-18 14:39] grahamehorner opened #1783 "IModelConfiguration"
As a developer I would like to use DependencyInjection of the IServiceCollection into the constructor of the IModelConfiguration so I may configure additional services/resources at start up at present this is not working and IServiceCollection is not getting resolved at runtime.

[2019-03-18 15:10] #1782 closed

[2019-03-18 15:12] catalinis commented on #1782
This was an issue on my side - a bad configuration on the client side ended up sending incorrect URLs. The entityset part of the URL was still recognized properly, but the query was being simply dropped.

[2019-03-19 07:37] rdhainaut opened #1784 "EnableLowerCamelCase() rises incorrect missing property exception on not mapped property from base class"
*Short summary (3-5 sentences) describing the issue.*
The method "EnableLowerCamelCase()" from the class "ODataConventionModelBuilderExtensions" rises an incorrect missing property exception when the property is come from a base class and added using fluent api on ODataConventionModelBuilder. Note: the property is tagged as [NotMapped].

### Assemblies affected
Microsoft.AspNetCore.OData 7.1.0

##

[2019-03-19 08:18] genusP commented on #813
PR #1594 fix this issue.
Use version 7.1

[2019-03-19 10:26] leechow007 commented on #1712
public class AddressController : ODataController
{
    [HttpGet]
    [EnableQuery(MaxOrderByNodeCount = 32)]
    [ODataRoute(nameof(GetAddress))]
    public  IQueryable<Address> GetAddress()
    {
      return Ok(new List<Address>
        {
            new Address { Id =  1 },
            new Address { Id =  2 },
            new Address { Id =  3 }
        }.AsQueryable());
    }
}

try this man

[2019-03-19 10:47] anekrash commented on #1712
It works with with IQueryable. Thank you.

[2019-03-20 03:17] leechow007 commented on #1712
https://github.com/OData/WebApi/issues/1712#issuecomment-451596881
 if I need return badrequest in this function, what shall I do?

[2019-03-20 10:21] thomas-rose opened #1785 "Serialise enum to ordinal value"
Is it possible to have enumeration values serialised (to Json) as their as the corresponding ordinal values and not their string representations? If so, how can this be accomplished?

I'm using Asp.Net Core 2.2, Entity Framework Core 2.2.2 and Asp.Net Core OData 7.1.

#### Background:

I have an enumeration:

[code]

And a model class:

[code]

When I query OData `MyProperty` will get serialised i

[2019-03-21 13:06] ddunhill commented on #1177
FYI in case it catches anyone else out.
In the above fix it is important that the line
`services.AddOData();`
comes before the line
`services.AddMvcCore(options =>`

It took me awhile to spot that one...

[2019-03-21 22:41] xuzhg commented on #1783
@grahamehorner Would you please share more detail usage about your IModelConfiguration?

[2019-03-21 22:47] xuzhg commented on #1780
@andyward Thanks for reporting it to us. we will take a look. Basically, i think it supports. Thanks.

[2019-03-21 22:48] xuzhg commented on #1779
@3GDXC Do you have a sample/repro for us to investiage?

[2019-03-22 17:54] SridharKundojjala opened #1787 "Upgrading to Package version 7.1.0 from 7.0.1 is requiring a .NET Core reference dll"
Upgrading to Package version 7.1.0 from 7.0.1 is requiring a .NET Core reference dll.

### Assemblies affected

OData WebApi lib 7.1.0

### Reproduce steps

Create an ODATA webapi in .NET Framework webapi project. Reference Odata webapi lib 7.1.0

### Expected result

7.1.0 version of the package should be usable in .Net Framework version 4.6.2
https://docs.microsoft.com/en-us/dotnet/api/system.ne

[2019-03-22 19:08] k-vekos commented on #33
I would really appreciate the ability to do this so I can query against my DTO object types in the Web API instead of exposing my data layer entity objects to the Web API layer.

[2019-03-22 20:43] grahamehorner commented on #1783
the IModelConfiguration is shown below:-

        public void Apply(ODataModelBuilder builder, ApiVersion apiVersion)
        {
            var cachePolicy = builder.EntitySet<ItemCachePolicy>("ItemCachePolicy")
                .EntityType;
            cachePolicy.HasKey(e => e.ID);
        }

[2019-03-22 20:49] grahamehorner commented on #1783
resolved

[2019-03-22 20:49] #1783 closed

[2019-03-23 02:46] xiaotupansy commented on #1525
I'm facing the same problem!
Hope someone here can help!

[2019-03-25 18:56] henning-krause opened #1788 "Using CancellationTokens to cancel long running queries"
In the "standard" WebAPI I can add a CancellationToken to a controler and the infrastructure cancels the token when a client disconnects:

[code]

In an OData controller this doesn't makes sense in most cases (when I just return an IQueryable).

However, could the OData Framework somehow implement this internally?

I'm in the situation where I query 100 elements from several million records. The q

[2019-03-25 23:52] SridharKundojjala commented on #1787
Resolved this at our end. This was an error in our api.

[2019-03-25 23:52] #1787 closed

[2019-03-26 12:04] phatcher commented on #1788
@henning-krause How did you split the Count query from the rest - I have similar issues with speed?

[2019-03-26 20:17] henning-krause commented on #1788
@phatcher Yes, we did.

[2019-03-26 20:22] grahamehorner commented on #1750
is there any update with regards this issue? is this on the roadmap/scheduled to be fixed; we have ran into this issue when deploying non-odata and odata controllers in the same host and would like to understand if/when this would be fixed.

[2019-03-27 03:57] shawndewet commented on #1222
@neothoms did you ever resolve this?  I'm running into the same error.

[2019-03-27 04:42] B4st13n opened #1789 "InvalidOperationException with Bad Request - Error in query syntax"
InvalidOperationException: The path template 'Classes({id})/Bookings({bookingId})' on the action 'GetBookingFromClass' in controller 'Classes' is not a valid OData path template. Bad Request - Error in query syntax.

InvalidOperationException: The path template 'Classes({classKey})/Bookings({key})' on the action 'DeleteBooking' in controller 'Classes' is not a valid OData path template. Bad Reques

[2019-03-27 08:43] neothoms commented on #1222
@shawndewet Sorry. I am no longer on this project anymore and I never had time to try the ODataRoute solution suggested by robward-ms

[2019-03-27 09:27] grahamehorner commented on #1750
@commonsensesoftware I'm not seeing the ODataInputFormatter or ODataOutputFormatter within the MvcOptions ? any additional pointers ?

[2019-03-27 19:47] denious commented on #1678
Any updates? Following.

[2019-03-27 20:17] raheph commented on #1789
@B4st13n Would you please share us your CSDL information?

[2019-03-27 20:30] raheph commented on #1785
OData protocol  says  to serialize enum using the enum member string, not the enum member value. Would you please share us more about your use cases? And why do you need to serialize the num member value?

[2019-03-27 20:34] raheph commented on #1781
ODL introduces Localdattetime  type definition, consider to consume that in Web API.

[2019-03-27 20:38] raheph commented on #1780
@xuzhg please take a look

[2019-03-27 20:40] raheph commented on #1779
@3GDXC What do you mean about the navigation method?  Would you please share us your failing uri?

[2019-03-27 21:21] xuzhg commented on #1678
@denious It should be fixed in the ODL. Would you please try the latest version and share us your finding. Thanks

[2019-03-27 22:22] denious commented on #1678
Running **Microsoft.AspNetCore.OData 7.1.0** I confirm the same buggy behavior as originally descrbed:

- A single optional parameter is always required in the route

Expected **200** in these scenarios:

- parts/GetSearchFilterOperators
- parts/GetSearchFilterOperators()
- parts/GetSearchFilterOperators(filter=null)

Only scenario that works is the last one, the first two return **404**:

![2019-

[2019-03-28 07:46] igor-moskvitin commented on #1576
@biaol-odata , is any plans for fix this issue?

[2019-03-28 10:36] thomas-rose commented on #1785
I'm extending an existing web service with a number of OData enabled endpoints; this service already exposes a number of endpoints that rely solely on Entity Framework. We have a client that currently requests data from the existing endpoints, but will be expanded to also request data from the OData enabled ones.

One of our issues is that Entity Framework provides ordinal values for enumerations

[2019-03-29 07:51] Jaap-van-Hengstum opened #1790 "Wildcard $select throws exception on singletons and global actions/functions."
Wildcard $select throws exception on singletons and global actions/functions.

### Assemblies affected

Microsoft.AspNet.OData, Version=7.1.0.21120

### Reproduce steps

Create a singleton:

[code]
(the name of the singleton must not be the name of another entity)

or a global action/function that returns an entity:

[code]

and do a wildcard $select:

[code]

### Expected result

The wildcard $se

[2019-03-29 13:32] B4st13n commented on #1789
You means this

[code]

[2019-03-29 13:37] B4st13n commented on #1789
And FYI

[code]

So yes Bookings is contained

[2019-03-29 13:40] B4st13n commented on #1789
This can help?

[code]

[2019-03-29 13:50] B4st13n commented on #1789
Last information I used partial classes for contained collections. So I have a ClassesController.cs file and a ClassesController.Booking.cs file for  `public partial class ClassesController : ODataController`

[2019-03-29 17:04] kbarkhausen commented on #136
I am updating a NET 4.7 project to latest OData libraries. I need to have Date value support on the OData queries within the $filter option (i.e. $filter=BirthDate eq 1900-01-01). I was able to provide this support by creating an action filter that converts my Date values into DateTimeOffset string values before the OData request is handled by the OData framework.

Here is a link to my solution
ht

[2019-03-29 22:24] madansr7 commented on #1659
closing since the PR has been merged and the issue has been resolved.

[2019-03-29 22:24] #1659 closed

[2019-03-30 00:29] hippiehunter opened #1791 "ODataException thrown while parsing bound function template"
I'm seeing a failure during parsing of odata templates when driven by https://github.com/Microsoft/aspnet-api-versioning currently the parser produces operation segments and subsequently fails to build the parameter mapping when parsing something like the following "Availability/Default.FindAvailability(Region='{Region}',Unit='{Unit}',Member={Member},MemberArea={MemberArea},FunctionType='{Function

[2019-04-03 08:21] futurify-ydang commented on #1217
This issue still occur in version 7.1.0 of my project
I use VS Code to debug and the exception is
[code]

i try to resolve table's name from the url dynamically and then set to **RoutingConventionsStore**.
By this way in my odata controller i can get the name of table and return data.

Code in **CustomODataPathRouteConstraint.cs**
[code]
if i use VS 2017 to debug i get another exception message `O

[2019-04-03 14:51] Rymix commented on #1748
Hi, no update about this issue ?

[2019-04-03 20:45] xuzhg commented on #1789
@B4st13n That's because the `Bookings` is configured as "Structural property" and its type is complex type. Complex type is structural type without key,therefore,  your path template 'Classes({id})/Bookings({bookingId})' can't work.

The root cause is the call "registerAction.Returns<Booking>()", this line will configure the "Booking" type as complex type. I think if you call "registerAction.Retur

[2019-04-03 21:02] KanishManuja-MS commented on #1597
@xuzhg @mikepizzo As discussed, the correct fix for this issue should be to update EdmEntityCollection to handle collection of Edm.complextype and Edm.enititytype, Edm.Primitive, Edm.Untyped.

[2019-04-04 12:30] B4st13n commented on #1789
Magic... I mean, I didn't understood but it works. Thank you very much for the help. Where can I find a good documentation explaining all this. I followed some tutorial on web and Pluralsight and the details about all this are not in these course.

[2019-04-04 16:11] xuzhg commented on #1789
@B4st13n http://odata.github.io/WebApi/ has some tutorials related to the Web API. Of course, if you have further questions/concerns/problems, please feel free file new issues for us. Thanks a lot!

[2019-04-04 16:11] #1789 closed

[2019-04-05 23:29] KanishManuja-MS commented on #1586
A feasible workaround can be:
Check if the query is a count query then do the following before the post processing–

            if (queryOptions.Context.Path != null)
            {
                if (queryOptions.Context.Path.Segments.LastOrDefault() is CountSegment)
                {
                    return Ok(query.Count());
                }
            }

[2019-04-07 19:39] bearkat2173 commented on #1568
Any chance of this being addressed?

[2019-04-09 21:19] ripdow commented on #1748
Hello,
I have the same problem, any news?

[2019-04-09 21:49] sergiosysmiddle commented on #1748
Hello, any news?

[2019-04-09 21:50] sergiosysmiddle commented on #1748
Hello @madansr7 , any news?

[2019-04-11 08:06] TehWardy commented on #328
Any intention to release this yet ?
We are in year 4 since this was raised after all.

[2019-04-11 11:32] Danielku15 opened #1792 "Correct use of EFCore Spatial Types (NetTopologySuite)"
In Entity Framework Core 2.2 support for spatial data types was introduced. For this the types of the NetTopologySuite are used. If you use those types (e.g `NetTopologySuite.Geometries.Point`) the property is not mapped to a `EdmPrimitiveTypeKind..GeographyPoint`).

It is unclear how those new types can be used properly together with OData especially to have it working with all functions.

### As

[2019-04-12 05:08] binuedwin commented on #1439
Hi,

I am trying to create odata action for file upload , but it is not working. Can u send me the full code.

[2019-04-12 13:36] da1rren commented on #1623
Issue still exists in v7.1.0 / .net core 2.2

[2019-04-12 13:39] da1rren commented on #1622
Still exists in 7.1.0

[2019-04-15 05:03] graemechristie commented on #159
While awaiting the offical fix, I have found that creating my own EnableQuery attribute and overriding ApplyQuery to do nothing works.

[code]

[2019-04-16 07:55] charlesjelliott commented on #1748
+1 Also a problem for me

[2019-04-16 23:36] aboryczko opened #1794 "Custom query option ignored on controller action in .NET Core"
I'm migrating my app from .NET Framework to Core. I have a custom query option on a Get method in my controller and it seems to not work in .NET Core, although it did in Framework.
Is there some special convention in .NET Core to make this work properly?

### Assemblies affected

Microsoft.AspNetCore.OData, Version=7.1.0.21120

### Reproduce steps

Create two Get methods on your controller
[code]

[2019-04-17 20:32] KanishManuja-MS commented on #1794
@aboryczko This appears to be a bug in our routing convention. In the meanwhile, you can use a single controller method and get the query parameter from the request URI.
If you can share more details about how you are configuring the routing, we can suggest other workarounds.

[2019-04-17 20:35] madansr7 commented on #1792
Thanks for letting us know about the issue. We are going to investigate it.

[2019-04-17 20:37] madansr7 commented on #1792
@Danielku15 ,
Thanks for letting us know about the issue. We are going to investigate it.

[2019-04-17 20:44] KanishManuja-MS commented on #1791
@hippiehunter Can you give more context on what you are trying to accomplish here? With the current syntax, Adults={Adults} is a valid template whereas Region=**'{Region}'** is not a template. Can you please let us know why some parameters are with single quotes?
Do you intend to have braces as part of the literal?

[2019-04-17 23:07] hippiehunter commented on #1791
That's the syntax that aspnet-api-versioning is generating. I had assumed, possibly wrongly that it meant the data type was a string and needed to be quoted.

It seemed like the existing template parser code was expecting something like this for a literal but it just didn't quite match the parsed object types.

[2019-04-18 07:21] aboryczko commented on #1794
I've figured that getting the data straight from the `Request` property should work.
As for my routing startup it's nothing out of the ordinary:
[code]
this is on .NET Core 2.2 with `EnableEndpointRouting = false`

[2019-04-20 13:33] flobiber commented on #1359
@GregSem Can u share your solution? (Includet the custom DefaultODataSerializerProvider ;) )

[2019-04-20 16:02] bdebaere commented on #1463
For your information, the problem is not resolved when upgrading to EF Core 3.0.0-preview4.19216.3.

[2019-04-22 00:54] kevinayers commented on #784
Did this issue get ported over to .NET core?  I am having a very similar issue in .NET core v2.2 and I don't see the presence of the System.Linq.Expressions.StackGuard class.

[2019-04-22 09:00] Hantse commented on #1748
For me too :)

[2019-04-22 11:26] ace90210 commented on #1748
+1

[2019-04-23 20:48] bverb opened #1795 "$filter lt null throws InvalidOperationException"
I have the following non-nullable int

`public int CustomerCount{ get; set; }`

`$filter=customerCount lt null` throws an InvalidOperationException from FilterBinder.cs

`System.InvalidOperationException: 'The binary operator GreaterThan is not defined for the types 'System.Nullable`1[System.Int32]' and 'System.Object'.'`

[2019-04-24 01:45] jeary49252000 opened #1796 "[$orderby] Root cannot sort on derived class but expanded collections can"
https://www.sample.com?$orderby=value is OK
https://www.sample.com?$expand=collections($orderby=value) is OK
https://www.sample.com?$expand=collections($orderby=Model.Type/value) is OK
but https://www.sample.com?$orderby=Model.Type/value cannot Work
Return the following:
{
    "error": {
        "code": "",
        "message": "The query specified in the URI is not valid. The method or operation is

[2019-04-24 02:10] jeary49252000 commented on #1796
https://www.sample.com?orderby=value works

[2019-04-24 10:00] pochih commented on #1796
Similar question, can I sort by the first item of a list?

[2019-04-24 20:24] xuzhg commented on #1796
@pochih Would you please share us an example about how to sort by the first item of a collection?

[2019-04-24 20:34] xuzhg commented on #1795
@bverb

I can't understand what's your scenario about `$filter=customerCount lt null`,

1. for comparing null literal, can you just use `eq` or `ne`?
2. you use "lt", but get "GreaterThan" from error message? The error message seems from other problem.
3. CusotmerCount is non-nullable, but the message shows System.Nullable[System.int32]?

Can you share us your call-stack or Can you verify your exa

[2019-04-25 06:47] Avyakta commented on #1792
I  followed [that article](https://medium.com/@nirinchev/dealing-with-spatial-data-in-odata-4e4051434ddb) but am too getting the error:
 “LINQ to Entities does not recognize the method ‘System.Nullable`1[System.Double] Distance(Microsoft.Spatial.Geography, Microsoft.Spatial.Geography)’ method, and this method cannot be translated into a store expression.”

[2019-04-25 09:03] Avyakta commented on #779
I followed [that article](https://medium.com/@nirinchev/dealing-with-spatial-data-in-odata-4e4051434ddb) but am getting the error:
“LINQ to Entities does not recognize the method ‘System.Nullable`1[System.Double] Distance(Microsoft.Spatial.Geography, Microsoft.Spatial.Geography)’ method, and this method cannot be translated into a store expression.”

[2019-04-25 14:29] pochih commented on #1796
Given a response like

{
  "@odata.context": XXX,
  "value": [
    {
      "Key1": 456,
      "key2": [4, 5, 6]
    },
    {
      "Key1": 123,
      "Key2": [1, 2, 3]
    }
  ]
}

Can I use the item in "Key2" as the sorting key?
For example if I use the first item of "Key2" to sort, the response should be
{
  "@odata.context": XXX,
  "value": [
    {
      "Key1": 123,
      "key2": [1, 2, 3]