[2020-03-19 07:26] henrikdahl8240 commented on #2080
@wjvii and @iamkinetic, for your information, I have had a mail dialogue with Sam Xu, Microsoft, on March 10 2020 concerning the sample project I sent. Sam Xu needed to wait for a bit longer time than he expected in order to let Entity Framework Core to create the DbContext and its proxies. In fact I had already written in the initial mail to Sam Xu, that it takes a bit time for Entity Framework t

[2020-03-19 09:26] AiHaibara opened #2093 "Expand nested orderby multiple column result incorrect"
$expand nested $orderby multiple column result incorrect.

### Assemblies affected

OData WebApi lib 7.2.2, EntityframeworkCore 2.2.4 NetCore2.2
OData WebApi lib 7.3.0, EntityframeworkCore 3.1.2 NetCore3.1

### Reproduce steps

[code]

### Expected result
[code]

### Actual result

[code]

[2020-03-19 14:55] iamkinetic commented on #2080
Is this bug related to how long DbContext and proxies take to initialize?

[2020-03-19 15:09] Stephan-Hoffmann opened #2094 "AspNetCore.OData: Truncated JSON returned for $expand and contained entities"
Related to case #2040, expanding contained child entities results in a HTTP 200 response with a truncated JSON when the number of sub-child entities exceeds the set PageSize on [EnableQuery].

### Assemblies affected

This affects Microsoft.AspNetCore.OData 7.3.0, 7.4.0-beta

### Reproduce steps

The following controller method illustrates the issue.
[code]
If accessed by this link https://localho

[2020-03-19 16:13] henrikdahl8240 commented on #2080
@iamkinetic, no, only Sam Xu's patience seems to be related to that. The solution I sent documented several problems, however it's just a few lines of code which are relevant for each case including these.

For your information, one of the other issues was, that it simply takes long time to initialize the DbContext and its proxies, so the solution needed to document that. The Entity Framework Core

[2020-03-19 18:22] aladdinhussein commented on #1755
What is the best approach to deal with MaxIAsyncEnumerableBufferLimit in odata?

[2020-03-20 10:02] snappyfoo commented on #2084
One such function that has to be evaluated client-side is substring - see [#20173](https://github.com/dotnet/efcore/issues/20173).

For functions that can't be translated to SQL, is there a plan for the ApplyTo method to handle the ToList/etc. internally? Without parsing the functions ourselves, it's difficult to know if the filter can be evaluated in SQL or in client before we pass it to AppyTo.

[2020-03-20 13:58] gkalchev93 opened #2095 "API randomly throws HTTP 400, when using two not nested any()"
HTTP 400 errors when using two not nested any() in concurrent requests.
We are using the latest version of OData and we know about this issue:
https://github.com/OData/WebApi/issues/1083
But I think our case is kind different, because we also don't have problems with one any().
But when we add the second one sometimes the API returns 400 with this message:
_The Any/All nesting limit of '1' has bee

[2020-03-20 17:24] fairking commented on #1931
I am trying to setup a simple sample but all fails. This Asp.Net Odata is totally mess.
For example (very simple, no creazy magic):
[code]

if I go to 'http://localhost:8050/odata/Tickets' I got my data.
if I go to 'http://localhost:8050/odata/Tickets?$select=key,summary' it returns this `[{"instance":null,"container":{},"modelID":"d5389bf8-1e44-43a4-8ab6-f0aed65a2231","untypedInstance":null,"inst

[2020-03-20 18:26] fairking opened #2096 "OData not working completely"
I am trying to setup a simple sample but all failed. This Asp.Net Core Odata is totally mess.
For example (very simple, no crazy magic):
[code]
if I go to 'http://localhost:5001/odata/weatherforecast' I got my data, fine.
if I go to 'http://localhost:5001/odata/weatherforecast?$select=key,summary' it returns this `[{"instance":null,"container":{},"modelID":"d5389bf8-1e44-43a4-8ab6-f0aed65a2231","u

[2020-03-20 20:07] xuzhg commented on #2096
@fairking Thanks for trying OData.

However, I can't agree with your title. OData has been working for almost decades ( 😄  ) and it's widely used in a bunch of products. I agree that our library has some issues and feature gap. We are trying our best to improve our libraries to help more customers to achieve more. Any issues or feature requests are welcome.

For your issues, if you have read a lit

[2020-03-20 20:45] fairking commented on #2096
Ok, looks like it shows me the entity models. But why the `$metadata` doesn't show my controllers/actions? How the client would know what actions could be called?

regarding all those routes it must be simplified like:
[code]
otherwise people will find it hard to use and understand.

[2020-03-20 20:53] fairking commented on #2096
Again in my other project, I tried add the same lines and it works in different way, have no idea why???
The url 'http://localhost:8050/odata/Tickets' gives data.
The url 'http://localhost:8050/odata/$metadata' gives 404.
The url 'http://localhost:8050/odata/' gives the scheme (that what $metadata' must give).

It the any way to check how all those routes work? Like some kind of tracer or debugger

[2020-03-20 21:04] xuzhg commented on #2096
1) $metadata only shows the schema data of your service, for the controller and action, you may need Swagger/openAPI.  you can see sample example in https://github.com/microsoft/aspnet-api-versioning to get started.

2) UseOData() pattern? Yes, we took it consideration. So far, we don't have good design for it. Maybe you can share more.

3) The others request similar "http://localhost:8050/odata/T

[2020-03-20 21:14] fairking commented on #2096
And regarding:

Why does the odata module returns some scheme instead of actual data?
I expect something like this:
[code]

[2020-03-20 22:26] xuzhg commented on #2096
It works fine at my side:

![image](https://user-images.githubusercontent.com/9426627/77210698-e108c400-6abe-11ea-9376-d2abb6862e26.png)

Consider to remove "EnableDependencyInject" for non-OData route query.

Below is my change to your codes:

![image](https://user-images.githubusercontent.com/9426627/77210797-16adad00-6abf-11ea-8f7d-4ec60d5c1b37.png)

[2020-03-21 02:45] nkamensky opened #2097 "ODataConventionModelBuilder doesn't know about nested CLR types and generates ambiguous names for the counterpart Entity Types"
Full runtime name of the nested CLR type looks like:
**some.example.namespace.RootType+Level1Type+Level2Type+Level3Type**

For the Entity Type backed by such CLR type _ODataConventionModelBuilder_ generates bogus full name:
**some.example.namespace.Level3Type**

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.0-beta

### Reproduce steps

1. Create _ODataConventionModelBuilder_
2. Call _Add

[2020-03-21 04:21] cbrianball commented on #1964
I have come across this using Microsoft.AspNetCore.OData 7.4.0-beta.

I'm experiencing this issue with both keys (e.g., /odata/entity('abc/123')) as well as function parameters (e.g., /odata/entity/search('abc/123'). Note: I am properly escaping the '/' to %2F.

[2020-03-21 16:03] fairking commented on #2096
I cannot understand everything :-(
1. I fixed `builder.EntitySet<WeatherForecast>("WeatherForecast");` however I cannot understand why it is important and why it should fix the issue?
2. I tried to remove `endpoints.EnableDependencyInjection();` and the app doesn't run but throws the following error:
[code]

Will all those attempts to fix it I cannot get `$select` working.
![image](https://user-im

[2020-03-23 16:30] gathogojr commented on #2082
@stephenjust Kindly note that we were able to reproduce the issue like you described. We have added the issue to our backlog for consideration in a later release. You can continue riding on the workaround in the meantime

[2020-03-23 17:37] fairking commented on #2096
@xuzhg

Ok, I have just found that the "WeatherForecast" is actually a controller name. Please add it to the documentation as I was confusing with it:
![image](https://user-images.githubusercontent.com/13495631/77345746-fd119d00-6d2c-11ea-92f2-52d840a93c45.png)

[2020-03-23 21:15] xuzhg commented on #2096
@fairking That information is documented at: https://docs.microsoft.com/en-us/odata/webapi/built-in-routing-conventions
And from this page or others, you can learn all the convention routing.

Register the EdmModel form controller? Yes. You can use the non-Edm model pattern, or non-OData route pattern. Please refer to this blog for more information: https://devblogs.microsoft.com/odata/superchargi

[2020-03-23 22:21] fairking commented on #2096
Thank you @xuzhg for all your replies. Every example and every doc is very useful to me. I still got some issues with setting up the routes but I will look at examples and read more docs before I ask any new questions here. The issue in this topic was with setting up very simple example which I finally managed to fix. (https://github.com/fairking/ODataTest)

I think there are few things which need

[2020-03-23 22:21] #2096 closed

[2020-03-23 22:28] xuzhg commented on #2096
Welcome. What you have mentioned is related to the "CONVENTION".

OData is conventional, which means it depends/acts/runs on a certain of conventions.
With convention, you don't need to set any configurations/metadatas/constraints, etc. especially for the routing/Uri convention.

I'd suggest your to refer to: https://www.odata.org/documentation/ for OData spec.
Especially for this doc: http://docs

[2020-03-24 13:04] SenyaMur commented on #2008
When it  will be done?

[2020-03-24 13:43] SimonPStevens commented on #2090
Thanks guys. If it's already being worked I'll leave you to it. I'm happy to try out a nightly build when it's getting close if you want me to test my use cases.

[2020-03-24 14:53] brice-fromentin opened #2099 "Expand does not work with an instance containing more than 1 item to expand"
I have a application that loads an instance of a object with its children using expand and the selection via key.

I am running 7.4.0 beta on .NET 5.0 preview

When there is is one child, ex :

Request URL: http://localhost:7121/api/odata/Utilisateurs(6ab447ba-bfb8-4c4f-a60b-66fdb3ea9bb2)?$expand=Service

Controller :

        [EnableQuery]
        [ODataRoute("utilisateurs")]
        public IQuer

[2020-03-24 15:33] habbes commented on #2097
@nkamensky just to check whether I understand the issue, you mean that if you have a class like
[code]
And you add the `RootType.Level1Type.Level2Type.Level3Type` class to the model, then the name generated in the model will be `some.example.namespace.Level3Type`?

And is there any other side effect or unexpected behavior that you observed besides the naming? Was the EntityType generated in the mo

[2020-03-24 16:22] mikepizzo commented on #2091
@cdarrigo -- thanks for the report and following on with a contribution!

I think there is confusion around what is/is not supported per protocol.

According to protocol, the $count query option, which includes the count along with the results, requires the boolean. See "inlinecount" in http://docs.oasis-open.org/odata/odata/v4.01/cos01/abnf/odata-abnf-construction-rules.txt:
            inlinecou

[2020-03-24 16:22] habbes commented on #2098
Hi @jonpfowler, thank you for raising this issue. We would love to take a contribution for this if you have the time.

[2020-03-24 16:33] habbes commented on #2097
@nkamensky OData does not define a concept of nested types. We need to develop a mapping between CLR nested types and OData.

[2020-03-24 17:02] habbes commented on #2091
@cdarrigo Thank you for the contribution. Closing this issue because the current implementation is correct with respect to the protocol, as explained in the comment above. Please let us know if the explanation is not clear.

[2020-03-24 17:02] #2091 closed

[2020-03-24 17:07] chrisspre commented on #2097
If that leads to a naming conflict for example in this case

[code]
One can explicitly create a "sub"-namespace
[code]

[2020-03-24 21:28] fairking commented on #2015
The query `https://localhost:5001/odata/weatherforecast?$apply=groupby((summary), aggregate(temperatureC with average as Avg))` throws the error:
[code]

[2020-03-25 09:16] nkamensky commented on #2097
@habbes

Yes.

My code already triggers the name collisions. So I don't dig further.

[2020-03-25 09:37] nkamensky commented on #2097
If "path" types are generics, then name became even more grotesque.

[2020-03-25 09:45] nkamensky commented on #2097
For some cases this is a workaround. Looks like model builder uses **Type** as key and the references are resolved correctly.

[2020-03-25 13:52] iamkinetic commented on #2099
Bug also mentionned in #2080

[2020-03-25 20:27] robcube commented on #1177
Do you mean: `**routebuilder**.EnableDependencyInjection();` ?

Otherwise, it was the solution for me too.

[2020-03-25 21:10] burrowj opened #2100 "No attribute to allow us to get OData to ignore certain properties which leads to Ambiguous match found"
OData seems unable to allow for a user to create entity classes in which a child class hides a parent property of one type and creates a new one of a different type.  This may not be a common issue I understand, but it would be nice to have the ability. If we could be given an attribute to use so that OData would ignore the hidden property during reflection that would be great.

For instance in Ty

[2020-03-26 08:15] GennadyGS opened #2101 "Function 'case' is not supported by ODataQueryOptionParser"
Function [case ](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#_Toc31361023) is not supported by ODataQueryOptionParser

### Assemblies affected

Microsoft.AspNet.OData 7.3.0
(Microsoft.AspNet.OData 7.4.0-beta as well)

### Reproduce steps

[code]
### Expected result

Code should be run successfully and proper AST should be built.

### Actual result
Exception

[2020-03-26 11:37] cilerler commented on #1750
This issue is even more important because of the latest endpoints support since the workaround OData/WebApi#1177 will no longer work with it. Which makes Swagger/Swashbuckle not work with it, please bump the priority on this.

[2020-03-26 12:45] GennadyGS commented on #2101
Sorry, probably it is related to other library:
https://github.com/OData/odata.net/issues/1673

[2020-03-26 12:45] #2101 closed

[2020-03-26 22:59] cfmayer commented on #2080
I've run into the same type of issue, for any collection navigation property, regardless if it's 1 or more items. I see the potential bugs in 2 areas, 1 in EfCore and 2 in OData.

In EfCore, the NullReferenceException is happening on this line, where it attempts to check if the name of the ParameterExpression starts with a specific string. Because the **Name** property is null, the _StartsWith_ ca

[2020-03-27 18:33] NetTecture commented on #2100
Ah, have you tried the sstandard NotMapped attribute? I am using this to suppress odata from seeing attributes I am not using on the odata layer.

[2020-03-27 20:55] burrowj commented on #2100
Thanks but unfortunately that doesn't work in this scenario

[2020-03-27 21:12] burrowj commented on #2100
Don't get me wrong though.  I'd be very happy to use that attribute and then have the code changed for example in  TypedEdmStructuredObject.CreatePropertyGetter
From
PropertyInfo property = type.GetProperty(propertyName);
To something like
                type.GetProperties()
                    .Where(property => property.Name==propertyName && property.GetCustomAttribute(typeof(NotMappedAttribute

[2020-03-27 21:15] burrowj commented on #2100
or IgnoreDataMemberAttribute  or both

[2020-03-29 22:16] BC89 commented on #2080
I've stumbled on the same scenario using vs2019, .net core 3.1, odata 7.4 beta and ef sql server 3.1.3. Simple relationships work but any beyond that results in an error.

[2020-03-30 10:35] NBroomfield commented on #2080
I am also faced with the same issue, all my endpoints with $expand worked fine before I upgraded from .net core 2.2 to 3.1 and Odata 7.4.0-beta.  I can now only expand 1-to-1 relationships, anything that is an ICollection or IEnumerable fails.

[2020-03-30 10:38] brice-fromentin commented on #2080
Exactly, this issue plus the lost of many to many in EF Core, are big concerns.

[2020-03-30 14:07] weitzhandler commented on #1119
Related: https://github.com/OData/Extensions/issues/29

[2020-03-31 06:03] ankitpatel5989 opened #2102 "Odata expand issue with all null values in left join"
I have implemented expand with odata v4 using .net core. It is working fine but creating issue when not able to find key property in expand. Property is nullable hence EF applying left join to it. To confirm the same I also checked query in SQL profiler and that query is also working fine in SQL Server.

If I am passing all the property as select it is working fine. Let's take one example.

**Mode

[2020-03-31 14:42] CJHunter91 opened #2103 "Endpoint routing doesn't support Api versioned models"
OData endpoint routing does not support API versioned models. Maybe it's not yet been implemented.
If so it would be good to know when it will be supported.

### Assemblies affected

OData .Net lib 7.4.0-beta

### Reproduce steps
I've tried using the ODataConventionModelBuilder, applying different versions of each model but it doesn't have the desired effect as all model versions are the same when

[2020-03-31 16:52] KenitoInc commented on #2099
@brice-fromentin
We are investigation this issue.
Also confirm that the same issue does not occur in v7.3.0 with the same version of EF Core.
What version of EF core are you using? Can you try with EF Core 2.2

[2020-03-31 16:56] KenitoInc commented on #2102
@ankitpatel5989 What version of WebApi OData stack and EF/EF Core are you using?
Also can you share the metadata?

[2020-03-31 17:05] KenitoInc commented on #2100
@burrowj Why doesn't `NotMapped` attribute work for you?
Which scenario are you dealing with
1. The property is omitted from the base odata type
2. The property is present in the base odata type but overridden in the derived odata type

[2020-03-31 17:08] KenitoInc commented on #2103
@CJHunter91 Hey, we are investigating this and will get back to you.

[2020-03-31 17:12] xuzhg commented on #2103
@CJHunter91  API-Version is not owned by OData team. I created a simple issue at API-version repo to link this issue to API-version repo. Let's figure out what/how to support Endpoint routing in API-version model.

[2020-03-31 19:43] burrowj commented on #2100
The situation that I would like to work is by putting something like [NotMapped] in the Id property of the base type and still allow the derived Id field to come through.  Hence I'm not hiding a property completely from serialization.  Simply obscuring the base type property so that it doesn't cause issues in the class methods mentioned in the description of this issue above.  Namely

TypedEdmStru

[2020-03-31 20:09] burrowj commented on #2100
Sorry I mean TypedEdmStructuredObject.CreatePropertyGetter in terms of deserialization process.
Microsoft.AspNet.OData.Query.Expressions.SelectExpandBinder.CreatePropertyValueExpression causes an issue on the query process if i choose to use the "$select" option

[2020-03-31 21:14] NetTecture commented on #2103
The lonely person developing versioning has said he will work on it once 7.4 is out of beta (which it is in quite some time).

Totally NOT odata responsibility - they do not own api versioning.

When will 7.4 release? ;)

I hope that finally works out nicely. Also waiting for 7.4 to be released so that I Can get versioning so I can work on swagger again.

[2020-03-31 21:22] xuzhg commented on #2102
@ankitpatel5989 Would you please share us a repro to dig more?

At my side, i tried to create the model based on your C# model.

Below is the metadata:

[code]
My products table:
![image](https://user-images.githubusercontent.com/9426627/78076189-ceae4600-735a-11ea-983c-357052fb64dd.png)

My department table:
![image](https://user-images.githubusercontent.com/9426627/78076222-dc63cb80-735a-11ea-99

[2020-03-31 21:24] xuzhg commented on #2103
Soon, :)

[2020-03-31 21:32] xuzhg commented on #2099
@brice-fromentin Besides, would you please share your sample for us to dig more?

[2020-04-01 06:36] xuzhg commented on #2080
@henrikdahl8240 @NBroomfield @brice-fromentin @BC89 @iamkinetic
Besides the PR at #2104 ( from the suggestion @cfmayer), you can also have the following workaround:

Set the NullPropagationOption to false at your controller method as below:

[code]

Please try and Let me know if it can not work.
For your reference, you can check some investigation codes at: https://github.com/OData/WebApi/compare/

[2020-04-01 07:49] brice-fromentin commented on #2099
Here is the truncated part of my project , within DATA.7z contains the detabase.

Here are 4 requests :

http://localhost:7121/api/odata/utilisateurs
http://localhost:7121/api/odata/utilisateurs?$expand=service

http://localhost:7121/api/odata/collectivites
http://localhost:7121/api/odata/collectivites?$expand=CollectiviteTypeOperations  <-- Failed

Provenance : Courrier<https://go.microsoft.com/f

[2020-04-01 07:54] brice-fromentin commented on #2080
Works with that proposal, thanks !!

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

________________________________
De : Sam Xu <notifications@github.com>
Envoyé : Wednesday, April 1, 2020 8:37:06 AM
À : OData/WebApi <WebApi@noreply.github.com>
Cc : brice-fromentin <brice.fromentin@outlook.com>; Mention <mention@noreply.github.com>
Objet : Re: [OData/WebApi

[2020-04-01 09:52] ankitpatel5989 commented on #2102
Thank you very much for investigating the issue.

Few findings from my side:
Sorry but I can't share my actual model with you. One thing I observed we have below properties with mentioned datatype exist.
public byte? AllowSubDept { get; set; } //(DBType:tinyint, null)
public string DepName { get; set; } //(DBType: varchar(80), null)
public DateTime? AddedDate { get; set; } //(DBType: smalldatetime

[2020-04-01 10:23] ankitpatel5989 commented on #2102
One more change in Product table, Please make Depid as not null.
Currently:<Property Name="Depid" Type="Edm.String" />
Change: <Property Name="Depid" Type="Edm.String" Nullable="false"/>

[2020-04-01 10:39] ankitpatel5989 commented on #2102
I missed one more change in Department entitytype.
In my metadata depid is nullable. In your investigation its not nullable (Property Name="Depid" Type="Edm.String" Nullable="false").

[2020-04-01 11:52] RobbeSchepens opened #2105 "$metadata specific calls return all of $metadata"
Doing a $metadata specific call like `odata/$metadata#Books` returns all of $metadata.

### Assemblies affected

OData 7.3.0. .NET Core Web API 2.2.

### Reproduce steps

1. Set up a web API and add OData. Like the example BookStore.
1. Do a call to `odata/Books` and it will give a list of all Books in the db. At the very top, it will say: `  "@odata.context": "http://localhost:50000/odata/$metada

[2020-04-01 12:41] marcelmunarolo opened #2106 "Expand not working with EnableQuery and PageSize"
The command "expand" with two levels are not working properly using the given scenario:
Order (HasMany)-> ProductsSold (HasOne)-> Product
We also observed that it is related with the EnableQuery attribute with PageSize informed.

### Assemblies affected

TargetFramework: netcoreapp3.1
Microsoft.AspNetCore.OData (7.3.0)
Microsoft.OData.Core (7.6.1)
Microsoft.EntityFrameworkCore (3.1.1)

### Reprodu

[2020-04-01 13:00] RobbeSchepens commented on #2106
I wasn't able to get your project running. I get the error message:

[code]

[2020-04-01 13:08] marcelmunarolo commented on #2106
In order to execute the project, you need the Docker Desktop running.
In the Visual Studio, set the docker-compose project as the Start Up project, and hit Ctrl+F5.
Or via CLI, in the project folder, you can use "docker-compose up --build".

In case you don't have the Docker Desktop, you can use an existing SQL Server instance, by adjusting the connection string in the web project.

Please, let me

[2020-04-01 13:20] RobbeSchepens commented on #2106
If you use `[EnableQuery(EnableCorrelatedSubqueryBuffering = true, PageSize = 100)]` it will work.

[2020-04-01 14:58] joaopgrassi commented on #2029
Just tried today the latest beta (7.4.0-beta) and I notice something not working. Maybe it's just me doing something wrong but one never know.

I configured my OData route like this: (notice the guid **route constraint** on tenantId)

[code]

My controller class has this attribute at the top `[ODataRoutePrefix("Things")]` and I only have one get method:

[code]

If I then visit the odata route
[co

[2020-04-01 15:11] ImGonaRot commented on #2029
Added the new 7.4.0 beta to my OData core 3.1 project and the endpoint routing is not working with either the OData Connected Service client or the Unchase OData Connected Service client.
https://docs.microsoft.com/en-us/odata/client/code-generation-tool
The "GET" is working but the "PUT", "POST", "PATCH" are not working with those clients.

Basically to get these clients to work, I had to roll ba

[2020-04-01 15:35] maboivin opened #2107 "Wrong controller called when using endpoint routing with both WebApi and OData"
I'm trying to have both WebiApi (attribute routed) and OData in the same project and I'm running into an issue where when the OData route is matched, it calls the (wrong) WebApi controller. This issue has been created following my comment [here](https://github.com/OData/WebApi/issues/2029#issuecomment-599559382).

### Assemblies affected
Microsoft.AspNetCore.OData 7.4.0-beta

### Reproduce steps
I

[2020-04-01 16:27] maca88 opened #2108 "Incorrect binding for FlatteningWrapper.GroupByContainer property"
Bindings of `FlatteningWrapper<>` type contain `GroupByContainer` property from `AggregationWrapper` instead from `FlatteningWrapper<>` type.

### Assemblies affected

OData WebApi lib `7.3.0`

### Reproduce steps

The issue can be reproduced by the following test:
[code]

### Expected result

The test should pass.

### Actual result

The following exception is thrown:
[code]

### Additional detai

[2020-04-01 16:42] xuzhg commented on #2105
@RobbeSchepens The top odata.context is the context uri, which describes the content of the payload.
To make sure the payload is self-contained.  It's not a link that you can query.

Beside, for your requirement, it's called "metadata as service". So far, neither OData lib nor web api odata doesn't support it.

For "Metadata as Service", you can refer to: http://docs.oasis-open.org/odata/odata/v4.

[2020-04-01 17:03] xuzhg commented on #2029
@joaopgrassi Thanks for reporting this. Your scenario (constraint) is not fully supported.

So far, It's only replace the template in the prefix at https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNetCore.OData/Extensions/Endpoint/ODataEndpointLinkGenerator.cs#L82-L101.  That part is welcome any contribution.

[2020-04-01 17:04] xuzhg commented on #2029
@ImGonaRot Please share your sample project. Thanks

[2020-04-01 17:06] xuzhg commented on #2029
@maboivin Can you share a sample project also for us to dig more?

[2020-04-01 17:10] maboivin commented on #2029
@xuzhg Repro project available at https://github.com/maboivin/WebApiAndODataIssue.

[2020-04-01 19:00] xuzhg commented on #2107
Mixing WebAPI and OData controller is not recommended from OData perspective. Our OData action selector is too **naive** to distinguish from OData controller and WebAPI controller, especially the controller has the same name.  Sorry for that.

As a workaround, you can do like:

[code]

And change the startup.cs as:

[code]

[2020-04-01 23:46] xuzhg commented on #2099
@brice-fromentin

A nightly with the quick fix at Microsoft.AspNet.OData.7.4.0-Nightly202004012334.nupkg, can you try it and let me know the result?

[2020-04-01 23:46] xuzhg commented on #2080
@henrikdahl8240 @NBroomfield @brice-fromentin @BC89 @iamkinetic

A nightly with the quick fix at Microsoft.AspNet.OData.7.4.0-Nightly202004012334.nupkg, can you try it and let me know the result?

[2020-04-02 00:02] iamkinetic commented on #2080
How can I install this version?

[2020-04-02 00:17] iamkinetic commented on #2080
@xuzhg I can confirm this nightly version is fixing the problem I had with `$expand` of `ICollection`.

[2020-04-02 05:45] henrikdahl8240 commented on #2080
@xuzhg Yes, I am in process of doing it and I will let you know.

[2020-04-02 06:20] ankitpatel5989 commented on #2102
What version of WebApi OData stack and EF/EF Core are you using?
Odata v4 and EF Core (2.2.6)
Also can you share the metadata? Sorry but I cant share actual one. But i mentioned changes here which not matched with my metadata.

[2020-04-02 08:57] AbraamNader opened #2109 "Lambda Expression filtering with projected DTOs are not working"
Lambda Expression filtering with projected DTOs are not working even with client evaluation (as suggested by the error message),
doing something like this:
`api/EntityEndpoint?$filter=SubCollection/any(e:e/property eq 'test')`
no longer works.

### Assemblies affected
.NET Core 3.1:
Microsoft.AspNetCore.OData 7.4.0-beta
Microsoft.EntityFrameworkCore 3.1.2
Automapper 9.0

### Reproduce steps

1. Cl

[2020-04-02 10:47] rossbuggins commented on #2029
Hi, I've followed the example at https://devblogs.microsoft.com/odata/enabling-endpoint-routing-in-odata/ and that is returning odata data well with the endpoint routing. However, trying to access the $metadata, is just returning a 404? i.e.

 https://localhost:5001/odata/$metadata

[2020-04-02 12:48] joaopgrassi commented on #2029
I could give it a shot. Any tips on how to get started? Where's the target ASP.NET Code we ultimately want to use?

[2020-04-02 14:29] henrikdahl8240 commented on #2080
@xuzhg, Now I have tried it.

What I have done is, that I have only changed from 3.1.2 to 3.1.3 of the various packages and from 7.4.0-beta to Microsoft.AspNet.OData.7.4.0-Nightly202004012334.nupkg. I have not done other things. Just to be sure, I shouldn't do anything else, should I?

Now I get different exceptions.

Case 3:
{
    "error": {
        "code": "",
        "message": "The query speci

[2020-04-02 14:45] marcelmunarolo commented on #2106
Yes, if I use `[EnableQuery(EnableCorrelatedSubqueryBuffering = true, PageSize = 100)]` it works, however, queries like this `$expand=ProductsSold,Customer($expand=CustomerAddresses)` stop working.

The following error occurs:
System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'index')

[2020-04-02 17:03] snebjorn opened #2110 "Support nullable reference type enabled models"
Enabling nullable reference types and following the model [guidelines](https://docs.microsoft.com/en-us/ef/core/modeling/constructors) provided by the EF Core team breaks model creation in OData.

### Assemblies affected

Microsoft.AspNetCore.OData Version="7.4.0-beta"

### Reproduce steps
Make a model according to the guidelines, using a constructor and leaving out navigation properties.

[code]

[2020-04-02 17:13] mikepizzo commented on #2105
The "#books" in the metadataUrl is an HTTP Fragment. In accordance with HTTP rules, fragments are used by the client in order to reference content within a response; they are ignored by the service.  So the service is doing the right thing by returning the entire metadata document.

We have discussed a few different designs for requesting a subset of the metadata. One is "Metadata as a Service", a

[2020-04-02 17:15] mikepizzo commented on #2107
@xuzhg  -- let's make sure to cover this issue (mixing OData and WebAPI controllers) as a scenario in our .NET 5 planning.

[2020-04-02 17:20] mikepizzo commented on #2109
We are aware of some limitations in EFCore 3.x with client side evaluation.  Note that it is possible to use WebAPI OData 7.3 and .NET Core 3.x with the older versions of Entity Framework, if that would allow you to move to .NET Core 3.1.

[2020-04-02 18:01] reddaiahnethi opened #2111 "ODATA Select issue with Cosmos and EntityFramework Core"
*Select with ODATA is not working with Cosmos and EF Core. Throwing an exception as incorrect syntax near Value. As value is keyword in cosmos, exception is thrown from cosmos*

### Assemblies affected

*Microsoft.AspNetCore.OData (7.3.0)*

### Reproduce steps

*Simple controller which returns IQueryable from EF core

[HttpGet]

 //[Route("Candidate")]

[EnableQuery(PageSize = 1)]

  //[ODataRoute

[2020-04-02 19:05] mikepizzo commented on #2111
It appears that we can't use "Value" as a name as it is reserved in CosmosDB.  Easiest fix may be to start with "Value0" instead of "Value".

@chrisspre - do you want to look at this?

[2020-04-03 01:10] ImGonaRot commented on #2029
@xuzhg

Here is a link to the test project.
It includes both a Console client and an IIS Express OData site.

https://github.com/tcon47/tcon47.github.io/tree/master/TestODataCore

[2020-04-03 10:34] snebjorn commented on #2110
I believe I've narrowed it down to OData not supporting models with constructors and I cannot find a way to configure Json.Net inside OData to enable support.

Json.Net supports deserializing models with non-default constructors, and standard ASP.NET Core 3.1 api controllers when using Microsoft.AspNetCore.Mvc.NewtonsoftJson also works out of the box with non-default constructors.
So OData must ha

[2020-04-03 11:48] RobbeSchepens commented on #2105
@mikepizzo The question came from our front-end team. They were hoping to get all the information specific to a type so that they can see all properties of it. They need it to compare our back-end Web API C# models to their ReactJS (TypeScript) models. This is necessary because we are in active development and changes happen frequently.

Getting the $metadata doesn't require authorization in our A

[2020-04-03 12:42] snebjorn commented on #2110
There also seems to be issues with navigation properties.

posting this

[code]
Gives this error:

**Model**
[code]

[2020-04-03 13:59] VamseeInala opened #2112 "Microsoft.AspNetCore.OData: Serialization fails when the entity has 'dynamic' or 'JObject' or 'object' as a complex object in the EDM mapping."
I am trying to build a ASPNet Core OData API on entities which has complex properties of type anonymous JSON (i.e. 'dynamic' or 'JObject' or object) and a simple GET API fails while serialization of response from the provider.

### Assemblies affected

Microsoft.AspNetCore.OData - 7.3.0

### Reproduce steps

1. Create a entity object with dynamic or JObject property like below:
    public class Sa

[2020-04-03 20:22] msdmcmurrian commented on #2026
Yep same here.

[2020-04-04 18:50] TheMisir opened #2113 "Is it possible to include total count on response header instead of body using $count=true"
*I would like to send total count of entries on response header (eg: `X-Total-Count: 34`) instead of response body.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

**Code**

[code]

**Request**

[code]

### Expected result

**Headers**

[code]

**Body**

[code]

### Actual result

**Headers**

_There is not any he

[2020-04-04 21:31] cfauchere opened #2114 "DELETE /products(@p)?@p='productname' no controller hit 200"
I am using Microsoft.AspNetCore.OData (7.3.0), dotnet core 3.1
I have a controller with a delete method
[HttpDelete]
[ODataRoute("({productName})")]
public void DeleteProduct(string productName)
{
....
}

Request DELETE /products('myproduct') works as expected: controller is hit with 200 response.
However this request does not hit the controller but I also get 200 response:
DELETE /products(@p)?@p

[2020-04-07 11:05] KenitoInc opened #2115 "PATCH/PUT Enums and Guids not working OData V4 in Asp.Net.Core 3.1"
Enums and Guid properties are not updated in PUT/PATCH http requests

### Assemblies affected
ASP.NET Core 3.1
Microsoft.EntityFrameworkCore v3.1.1
Microsoft.AspNetCore.OData v7.3.0 / v7.4-beta

### Reproduce steps
Create a service with an entity that has Enum and Guid properties.
Try PUT/PATCH of the Enum and Guid properties

### Expected result
Update should be successful

### Actual result
Upda

[2020-04-07 15:45] BenjaminCharlton opened #2116 "System.InvalidOperationException: The entity set Students is based on type MySchool.Dtos.Students.ViewStudentDto that has no keys defined"
Hi there!

I am new to OData but I think I have found some behaviour that isn't working as documented...

In order for the ODataConventionModelBuilder to work, your entities' key properties should be named _Id_ or _EntityNameId_, right? And they should be _public_, right? And if you break any conventions you have to mark the property with a _System.ComponentModel.DataAnnotations.KeyAttribute_ [Key

[2020-04-07 16:38] gathogojr commented on #2105
@RobbeSchepens Thank you for raising this issue. Closing it as the current behaviour is according to the protocol. Feel free to open a separate to track a feature request for retrieving a subset of the metadata and link it to this issue.

[2020-04-07 16:38] #2105 closed

[2020-04-07 16:52] gathogojr commented on #2110
@snebjorn The OData stack doesn't use JSON.NET for serialization. A parameterless constructor is currently required for serialization to work

[2020-04-07 16:58] gathogojr commented on #2113
@TheMisir The current behaviour is based on the current odata protocol. If we wanted to support this we would probably use a different mechanism (e.g. preference header)

[2020-04-07 17:01] gathogojr commented on #2114
@cfauchere Key alias is currently not supported in ODL

[2020-04-07 17:20] kosinsky commented on #2108
Flattening happens only in case of aggregation for navigation properties:
* `groupby((Name), aggregate(BestFriednd/CustomerId with sum as Total))`  - flattens
* `groupby((Name), aggregate(CustomerId with sum as Total))` - doesn't flattens

That was done to work around some limitations in EF

[2020-04-07 17:26] maboivin commented on #2107
Thanks for the workaround. I'm pretty confident I'll be able to make it work in my case for simple scenarios. I just didn't have enough time to try it in the past week.

I had also planned to use the API versioning and just saw that you created an issue (https://github.com/microsoft/aspnet-api-versioning/issues/616). I will monitor it because I'm interested in the result as well.

I also noticed y

[2020-04-07 17:47] xtofs commented on #2111
Current understanding is that it should be fixed in EF core https://github.com/dotnet/efcore/issues/20557

[2020-04-07 17:51] chrisspre commented on #2111
Current understanding is that the fix needs to happen in EF core https://github.com/dotnet/efcore/issues/20557

[2020-04-07 22:28] xuzhg commented on #2115
@KenitoInc To update the enum and guid, you don't need set any extra information in the request body. Besides, you don't need the Context Uri in the request body.

For example, a patch request should have:

[code]
It should work and if it's not, please share your repro.

By the way, if you meet the model bind error, for example, you get "null" for the Delta<Account>, you can check the model state

[2020-04-07 22:38] xuzhg commented on #2116
@BenjaminCharlton

For your sentence: **In order for the ODataConventionModelBuilder to work, your entities' key properties should be named Id or EntityNameId, right? And they should be public, right? And if you break any conventions you have to mark the property with a System.ComponentModel.DataAnnotations.KeyAttribute [Key] right?**

The answer is "Yes". You can refer [here](https://docs.microso

[2020-04-07 22:39] xuzhg commented on #2114
@cfauchere Is there any restrictions that you have to use "Key Alias"? Does key as segment work for your scenario?  **DELETE /products/myproduct**

[2020-04-08 01:05] weitzhandler commented on #888
That would be great. Very important feature.

[2020-04-08 01:13] weitzhandler opened #2117 "Support for generic types in EDM"
Please add support for generic types in the EDM model generated metadata.

My model has an intermediate generic abstract base class that looks like this:

[code]

The edm for the intermediate generic class gets the following EDMX:

[code]
### Assemblies affected

- Microsoft.OData.Edm
- Microsoft.OData.Core ?

### Reproduce steps

Try exposing a generic type throughout the EDM model.

### Expected

[2020-04-08 05:14] VamseeInala opened #2118 "OData $select breaks with cosmosdb while reading the response when there are results."
OData $select fails when trying to retrieve a particular attribute of a document from cosmos DB.

I have used DocumentClient to return an IQueryable in this case for the GET route. This is **not** **same** as the issue #2111 where the user was trying with entity framework , because in this case the query syntax is being generated correctly which is evident from the fact that when there are 0 resul

[2020-04-08 05:47] BenjaminCharlton commented on #2116
Thanks very much for the fast response, Sam!
Based on what you have told me, I would say the most likely reason I'm getting this error is that my key property is of proprietary type StudentId and not one of the primitive EDM types you listed.

Is there any mechanism for us to code a type converter for the scenarios? For example, I already have type converters to turn my StudentId into a System.Gui

[2020-04-08 12:12] gathogojr commented on #2113
@TheMisir In addition, consider this perfectly valid OData Uri:

`{{ServiceRoot}}/Customers?$expand=Orders($count=true)&$count=true`

It will give you a result like the one below as an example:
[code]
You will notice from the above response that `@odata.count` appears at multiple levels. This is where returning the count in the header becomes a dicy affair

[2020-04-08 12:43] Biratus opened #2119 "Orderby incoherent with expand"
*I am trying to order a list of entities according to a value in a link entity*

### Reproduce steps

Have a list of entities A (here: incidents). Each of those reference one other entity B (here: motive) which has a *label* field:
So *incident* is structured like this:
[code]
Mutliple entities A can reference the same entity B

HTTP request:
`http://server/incidents?$expand=motive($orderby=label)

[2020-04-08 12:56] KenitoInc commented on #2115
@xuzhg I managed to solve the issue with my repro code. WebApi works as expected. Let me close this issue.

[2020-04-08 12:56] #2115 closed

[2020-04-08 13:36] Biratus opened #2120 "It it possible to orderby labels of EnumMetadata?"
*I would like to be able to sort entities according to the label value of their status: [Microsoft.Dynamics.CRM.StatusAttributeMetadata](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/web-api/statusattributemetadata?view=dynamics-ce-odata-9)*

### Reproduce steps
Let *incident* an entity:
[code]

### Additional detail

It is already possible to order by the status:
`http://server

[2020-04-09 17:29] raviteja333 commented on #1936
Any plans to support this in the near future?

[2020-04-09 19:03] cecilphillip opened #2122 "Support ActionResult<T> in ASP.NET Core"
*Short summary (3-5 sentences) describing the issue.*
Using ActionResult<T> as a return type with asp.net core Web API doesn't work with OData
### Assemblies affected
Microsoft.AspNetCore.OData

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### A

[2020-04-09 19:42] #2122 closed

[2020-04-10 01:35] brinehart commented on #1792
Is there an update on this problem? Will a fix be included in the upcoming .Net 5 aligned release?

[2020-04-10 07:31] joaopgrassi commented on #1784
Whoa.. we are hitting this now. It's almost one year old :(

[2020-04-10 09:15] rdhainaut commented on #1784
This issue was initially posted the 19th march and marked as investigating the 21th march 2019 so yeah one year already
@joaopgrassi I m still concerned by the issue.  If you have more info about that and how to resolve i m still interested by the solution :)

[2020-04-10 12:18] BenjaminCharlton commented on #2116
I used Sam's insight to solicit help on StackOverflow.com but so far nobody knows how to do this:

https://stackoverflow.com/questions/61136569/how-to-configure-strongly-typed-entity-ids-value-objects-with-odata-edm/61139343#61139343

Is OData not capable of dealing with strongly typed IDs? Do I have to choose to abandon either OData or strongly typed IDs?

Thanks for any advice

Benjamin

[2020-04-10 16:54] xuzhg commented on #2116
can the method in https://devblogs.microsoft.com/odata/how-to-consume-sql-spatial-data-with-web-api-v2-2-for-odata-v4/ help you?

[2020-04-10 19:44] xuzhg commented on #669
I think that's supported. Let's close it.

[2020-04-10 19:44] #669 closed

[2020-04-11 18:07] BenjaminCharlton commented on #2116
Thank you too, @xuzhg for the link to your article. I learned a lot from reading it!

I can't see how to configure OData to accept a strongly typed Id as its key though.

I feel like I should explain why this scenario would ever happen...

You might want to create immutable strongly typed value objects to represent the Ids of your entities in order to avoid accidentally muddling them up if a funct

[2020-04-11 21:42] ramil-mux opened #2123 "Instance property 'Id' is not defined for type 'DynamicTypeWrapper'"
I'm getting an error when using $orderby with $apply=groupby in classic ASP.NET application
I sent this request to my controller: `odata/Logs?$apply=groupby((UserLogin))&$orderby=UserLogin`

 and server returned me 500 Internal Server Error with exception like in title.

This exception is thrown if I set the following configuration in **WebApiConfig**:
[code]
And my controller have next GET method

[2020-04-12 15:39] huiali opened #2124 "Value cannot be null. (Parameter 'key')"
*Short summary (3-5 sentences) describing the issue.*

OData URL-->GET
`https://localhost:5002/oq/A?$expand=B($expand=C)`-->
ERROR --> Value cannot be null. (Parameter 'key')

But `https://localhost:5002/oq/A?$expand=B`  -->   Successful return

 Platform: NETCORE 3.1
 Database: Mysql

### Assemblies affected

 `
 <PackageReference Include="Microsoft.AspNetCore.OData" Version="7.3.0" /> `
 ` <Pack

[2020-04-13 16:58] dennis3001 opened #2125 "Json de-serialization can't handle exponential notation of numbers"
When PATCH request payload contains a property in exponential notation (e.g. {"Balance":3e-7}) the de-serialized Delta object is always null and the model state is invalid.

### Assemblies affected

*Microsoft.AspNetCore.OData 7.3.0

[2020-04-13 17:42] joelmeaders commented on #1887
I am getting this same issue, but with complex properties & owned entities when I expand a navigation property and include a skip or top, even if skip is zero and top is not. When a skip and/or top is included EFC returns either a null on the complex/owned property, or a default if one is set in the model. This happens even if I don't include a nested expand.

EFCore 3.1.3
AspNetCore.OData 7.4.0-b

[2020-04-13 22:09] xuzhg commented on #2080
@henrikdahl8240  Just for your information. Last week, I published a beta2  at https://www.nuget.org/packages/Microsoft.AspNetCore.OData/7.4.0-beta2 with the EF Core null propagation default setting reverted.  Would you please take it a try and let me know the result?

[2020-04-13 22:21] henrikdahl8240 commented on #2080
@xuzhg , yes, I will try to do that.

As you know, I sent you information about exceptions concerning wrong property name when using the nightly build.

You wrote, you couldn't run the sample i sent you. Actually your screendump showed, that you ran it perfectly fine, you just needed to wait for longer time. On my machine it takes approximately 25 minutes to create the DbContext.

There are many,

[2020-04-14 00:35] BC89 commented on #2080
So far so good. Just began exercising it a bit but positive results thus far.

From: Sam Xu <notifications@github.com>
Sent: Monday, April 13, 2020 6:10 PM
To: OData/WebApi <WebApi@noreply.github.com>
Cc: Brendan Carroll <Brendan.Carroll@kci.com>; Mention <mention@noreply.github.com>
Subject: [External Email] Re: [OData/WebApi] 4 simple queries which do not work with Microsoft.AspNetCore.OData Ver

[2020-04-14 02:14] xuzhg commented on #2080
Thanks for sharing it. Hope the new beta can resolve the problem. otherwise, i have to wait 25 minutes to set up the DB at home owing the COVID-19.  😢

[2020-04-14 05:50] gathogojr opened #2126 "PATCHing a complex type dynamic property does not work"
A bug exists in OData Web API where PATCHing a complex type dynamic property does not work. It however works for a complex type collection dynamic property

### Assemblies affected

Microsoft.AspNetCore.OData 7.3.0

### Reproduce steps

1. Create an OData V4 service with an open entity type, a complex type and a controller

    **Customer** class
[code]

    **Address** class
[code]

    **Custome

[2020-04-14 06:07] gathogojr commented on #2126
**UPDATE**: Found a related issue #1780 reported back in 2019

[2020-04-14 06:43] henrikdahl8240 commented on #2080
@xuzhg  As you asked me for, I have now tried to run the tests again using 7.4.0-beta2. Actually I have run them by just copying each static query string from the Windows App in the solution I sent to you to Postman.

As you can see, there is now a larger variation in the exceptions.

You can also see, that I have put the durations. The first query took approximately 30 minutes for running the que

[2020-04-14 08:35] habbes commented on #2089
Hi @vladimir-kanev I am curious to know whether the 3 GC collections that appear on the screenshot were triggered automatically or whether you forced them with `GC.Collect()`. If they were triggered automatically, it's possible that the GC did not perform an exhaustive collection since your system was not under a lot of memory pressure.

I tried your demo app and I was able to reproduce the behavi

[2020-04-14 13:01] vladimir-kanev commented on #2089
Hi @habbes , thanks for checking this!

The GC collections were triggered automatically, I haven’t forced GC.Collect(). Even if I try it now, there is no difference for me, memory usage doesn’t drop.

I am running similar scenarios (OData queries) with Docker containers limited to 512 MB memory, when limit is reached there is a crash because of ‘Out of memory’.

When debugging on my PC the memory

[2020-04-14 13:05] gathogojr commented on #2119
@Biratus If you want to order by the property `label` of the `incident`'s navigation property `motive` and at the same time expand `motive`, this might work for you:

`http://ServiceRoot/incidents?$expand=motive&$orderby=motive/label`

[2020-04-14 13:41] gathogojr commented on #2123
@ramil-mux Assuming that you're creating an OData v4 service, the `EnableQuery` attribute is what enables clients to modify the query, by using query options such as $filter, $sort, $orderby, etc. That together with the fact that your controller action method returns `IQueryable`. You'll need that to use the system query options.

[2020-04-14 13:45] gathogojr commented on #2124
@huiali To make it possible to triage your issue, kindly populate the **Reproduce steps** section. You don't need to supply the actual source code but just enough to reproduce the issue accurately

[2020-04-14 13:49] vladimir-kanev commented on #2089
About the query parametrization, currently the the EF Core query looks like this with OData:

[code]

Notice how the name parameter value is hardcoded in the query: ` .Where(valueBuffer => List<string> { "john doe", }`. On every request this query is generated again and again.

If I change the controller endpoint implementation to this:

[code]

Then the query looks like this:
[code]
Then we have

[2020-04-14 13:59] brice-fromentin commented on #2080
On my side it works.

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

________________________________
De : Sam Xu <notifications@github.com>
Envoyé : Tuesday, April 14, 2020 4:14:13 AM
À : OData/WebApi <WebApi@noreply.github.com>
Cc : brice-fromentin <brice.fromentin@outlook.com>; Mention <mention@noreply.github.com>
Objet : Re: [OData/WebApi] 4 simple queri

[2020-04-14 14:21] gathogojr commented on #2125
@dennis3001 Is the declaring type for the `Balance` property a `double`? I tried it practically with the exact value you provided above (`3e-7`) and the delta object is valid and even managed to get the `Balance` property updated by calling the `Patch` method of the delta.

**Payload:**
[code]

**Result:**
![image](https://user-images.githubusercontent.com/28291332/79234899-96872700-7e73-11ea-9c22

[2020-04-14 14:25] dennis3001 commented on #2125
Hi @gathogojr

Thanks for response. The balance is Nullable decimal in my case, not double.

[2020-04-14 15:14] ramil-mux commented on #2123
@gathogojr Yes, you are right, but doesn't `AddODataQueryFilter` do the same for all `IQueryable` action methods?
This error occurs when I use **$apply** and **$sort** together in queury and don't use `EnableQuery` attribute. Can I use these query options without `EnableQuery` attribute using only `AddODataQueryFilter`?

[2020-04-14 15:57] gathogojr commented on #2125
@dennis3001 Thanks for clarifying. In that case, it's more of a C# language restriction rather than OData issue. Consider the following two statements:
[code]

[2020-04-14 16:22] xtofs commented on #2117
@weitzhandler could you please share how you build the model that results in the CSDL that you have shown.  As of today, the standard does not support generic types. Seeing how you build the model will help to understand what happens in the mapping from C# to CSDL.

[2020-04-14 16:23] gathogojr commented on #2120
@Biratus Thank you for the question. Kindly try this:
`http://server/incidents?$orderby=cast(status, Edm.String)`

[2020-04-14 16:31] dennis3001 commented on #2125
But it does work fine when you have a regular controller with [FromBody] parameter.
Its just deserilazed as 0.0000003

[2020-04-14 16:34] gathogojr commented on #2123
@ramil-mux You're right. The global configuration for EnableQuery should work. Can you try the latest OData WebAPI library?

[2020-04-14 17:39] gathogojr commented on #2125
@dennis3001 Just a correction about the statement I made [here](https://github.com/OData/WebApi/issues/2125#issuecomment-613527341). The first statement is legal if you add an `m` at the end. Let me take another look at this and revert

[2020-04-15 05:21] ankitpatel5989 commented on #2102
Do you have any update?

Facing similar issue in other page as well. Here its not giving error but getting same record multiple time instead of getting all records in $expand.

[2020-04-15 07:16] gathogojr commented on #2125
@dennis3001 I investigated this issue further and made some observations. It doesn't appear to be restricted to PATCH request or OData delta implementation. The OData POST and PUT controller actions don't also seem to support decimals expressed in exponential/scientific notation.

It does appear like it should be supported based on the OData [standard](http://docs.oasis-open.org/odata/odata/v4.01/

[2020-04-15 08:39] Biratus commented on #2119
@gathogojr Adding the $expand doesn't change anything compared to:
`http://server/incidents?$orderby=motive/label`
I still get the same error: `System.NullReferenceException "Object reference not set to an instance of an object."`
HOWEVER: The motive entity is a **lookup** of incidents. and the answer to my issue turned out to be:
`$orderby=_motive_value`

[2020-04-15 08:39] #2119 closed

[2020-04-15 11:27] ankitpatel5989 commented on #2102
Can you please share code where you defined relationship?

[2020-04-15 13:37] BenjaminCharlton commented on #2116
Hi there!

I've been digging deeper into forums, blogs and source code and thought maybe adding this line would help OData with the conversion:

[code]

It hasn't made any difference, but I feel like I am getting close...

Do you think I could be onto something, setting the `JsonOptions` set in the `Startup.ConfigureServices` method or is it likely to be a dead-end so far as OData is concerned?

T

[2020-04-15 17:54] weitzhandler commented on #2117
I undid everything having generics, but it was working in such way that I exposed `DynamicFieldValueBase` as an entity type in the EDM.

[2020-04-15 22:26] loligans opened #2127 "Using OData through EF Core 3.0+ throws Exception"
In EF Core version 3.0+, queries will throws exceptions now when they would be evaluated on the client.

My query that throws is: `http://localhost:59855/api/v1/Audit?$orderby=datecreated asc`

[2020-04-16 07:45] joaopgrassi commented on #1784
Yeah this is not great =/

What seemed to work for us was: Not explicitly set the properties on the child entities, let it discover it automatically and register the base class.

So like:

[code]

[2020-04-16 09:39] BenjaminCharlton commented on #2116
This idea above didn't get me anywhere. Then I experimented with JsonOptions and JsonSerializerOptions. I experimented a bit with custom OData formatters but that didn't get me anywhere either. Then I disappeared down a rabbit hole trying to derive custom classes from the OData configuration classes, gradually overriding more and more methods to do with adding keys and validating the model, until

[2020-04-17 16:28] xuzhg commented on #2127
@loligans Would you please share more detail about

1) which version are you using?
2) the exception detail? Call stack?

[2020-04-18 17:19] #989 closed

[2020-04-19 04:40] weitzhandler commented on #888
Is there currently a way to share implemented entity interfaces using OData?
I wish OData could do more than just concrete classes. That would include interfaces and attributes.
Would you ever consider that?

[2020-04-19 17:50] crkjl opened #2128 "ArgumentOutOfRangeException with $expand and 2 childs collections"
Hi, I'm having an issue with $expand and child collections.
This issue is easy to reproduce.

**These queries works fine:**
https://localhost:44309/api/customers?$expand=Contacts
https://localhost:44309/api/customers?$expand=Addresses

**These queries fails:**
https://localhost:44309/api/customers?$expand=Contacts,Addresses
https://localhost:44309/api/customers?$expand=Addresses,Contacts

Similar

[2020-04-20 16:15] joshcomley opened #2129 "Ordering by filtered expand count does not work"
I am using `Microsoft.AspNetCore.OData` v7.3.0 in an app configured as `netcoreapp3.1`.

I can get a count value returned from OData for a filtered expand:

    /People?$expand=Addresses($filter=Price gt 50000;$count=true)

Which will give me:

    {
        ....
        "Addresses@odata.count": 10,
        "Addresses": [..ten entries..]
        ....
    }

But attempting to order by this number d

[2020-04-20 18:30] JimDaly commented on #2120
OData WebAPI is not the same thing as the [Power Apps Common Data Service Web API](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/overview)

CDS Web API doesn't support the cast operator.

[2020-04-20 20:41] KanishManuja-MS commented on #2095
@gkalchev93 Can you please provide us with a link to a repro? We have not been able to reproduce it as we don't see concurrent calls being made for two any. A sample repro should help accelerate this.

[2020-04-20 22:01] loligans commented on #2127
@xuzhg I am using version `7.4.0`

**The goal**: is to be able to make an OData query to my EF Core database using a DTO as the query parameters without evaluating the query implicitly on the client.

As a sidenote, when querying the EF Core model without a projection, I am able to perform the operation just fine with OData.

**The problem**: Is when I grab my EF Core model `DbContext` as an `IQue

[2020-04-21 13:14] SKvasnytsia commented on #864
Hi, experiencing the same issue. I have added all required entity sets, but still, have the issue with 4th level :( Even commented all entity sets and the result was the same. Also added [EnableQuery(MaxExpansionDepth = 5)] to action. SQL Profiler shows correct entities and a proper amount of joins, but the response is not valid.

[2020-04-21 15:19] TheMisir commented on #2113
I ended up with creating custom action result to execute `$skip` and `$top` queries.

## `MyControllerBase.cs`

[code]

## `MyControllerBase.QueryResult.cs`

[code]

## `MyControllerBase.Pagination.cs`

[code]

[2020-04-21 16:40] xuzhg commented on #2127
@loligans Thanks for your detail information. As from https://docs.microsoft.com/en-us/ef/core/querying/client-eval, EFcore 3 and above does not support client evaluation. At OData side, so far, we can't generate the Linq Expression avoiding the client evaluation. So, we'd like to wait EF Core team to solve the problem?

[2020-04-21 16:50] paulodero commented on #2129
@joshcomley Could you please share the model used in this case and clarify on the examples you have provided to help us understand the issue better?

[2020-04-21 17:53] NetTecture commented on #2127
That sort of sums it up. EfCore is fundamentally hindered by a very bad LINQ stack at the moment. It always was, but client evalutation did manage it to get a lot of thigns resolved (albeit at a ridiculous performance cost). Right now even on nightly builds - broken as it gets. Not sure about whether this will work for the .NET 5.0 release in Sseptember.

[2020-04-21 18:32] davidyee commented on #864
We had the same issue in our project too (expanding to 4 and error message about max expansion to 3) despite adding the new expand depth on both the model configuration for the entity and the controller EnableQuery parameter.

What worked for us was also adding a depth of 4 on the model configuration for one of the related models that was being expanded. I'm not sure why that was required when the

[2020-04-21 19:11] NetTecture commented on #2109
Also note that older versions can be EntityFramework NON CORE. It now works on .NET Core.

[2020-04-21 19:22] loligans commented on #2127
I’m curious if AutoMapper might fix this issue. I might try creating a 2-way map between the DTO and DAL using AutoMapper. Then call AutoMappers `ProjectTo` extension.

[2020-04-21 20:35] jedsmallwood opened #2130 "@odata.count and @odata.nextlink with dynamic EDM"
How do you go about setting @odata.count and @odata.nextlink when you are building up an EdmEntityObjectCollection?

### Assemblies affected

OData WebAPI 7.4

### Details

I was able to leverage the repo referenced in issue 2059 (https://github.com/toresenneseth/AspNetCoreODataEndpointRouting) to get a dynamic EDM functioning for a multi-tenant scenario.

Basic query operations work fine, includi

[2020-04-21 21:30] senthilkungumaraj opened #2131 "OData with EFCore - $Expand does not work"
*Short summary (3-5 sentences) describing the issue.*

Implementing an AspNetCore Web API with EFCore and OData implementation. After implementation, the OData operation $expand is throwing an exception.

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

Microsoft.AspnetCore.OData 7.4.0-beta2
Microsoft.EntityFrameworkCore.Cosmos 5.0.0-pre

[2020-04-21 23:12] MariaCobretti commented on #2111
select also doesn't work when using odata without Entity Framework.
I simply return the IQueriably from container.GetItemLinqQueryable<T> in the controller and get a NotImplemented Exception when trying to $select

at
Microsoft.AspNet.OData.Query.Expressions.SelectExpandWrapperConverter.ReadJson(JsonReader reader, Type objectType, object existingValue, JsonSerializer serializer)

using OData 7.4.0

[2020-04-22 09:11] ankitpatel5989 opened #2132 "OData $expand with different DB context"
I have requirement like I need to expand the table of different database.

For example we have two model product and department. Both are in different database.

product table is in database1 and department table is in database2.

How can I expand database2..department under database1..product with odata $expand.

I am using C#,.netcore and EFCore. Please help me how can I do it with odata?

[2020-04-22 10:18] magneticcore opened #2133 "$filter on a sub entity field doesn't work"
It is impossible, during a GET, to use $filter to filter on a sub entity field, odata returning an exception:
$filter=entity/id eq 20

### Assemblies affected

- Microsoft.AspNetCore.OData v7.4.0
- Microsoft.EntityFrameworkCore v3.1.3

### Reproduce steps

PersonAddress is a class that contains Person field, Person being also a class. Both contain several fields, including id.

Example of url that

[2020-04-22 10:49] crkjl commented on #2128
Hi, with the new 7.4.0 release all works fine!!!!
Guys, thanks a lot for your hard work.

[2020-04-22 10:49] #2128 closed

[2020-04-22 11:10] keatkeat87 opened #2134 "odata 7.4.0 endpoints routing break when using route constraints"
I m trying to use odata controller and razor page in same application.
my razor page have this config

[code]
it mean that when user visit path /amp/zhHans it will access Index.cshtml
the constraints regex will make sure only string "amp" and "zhHans" is available for this route match.

but after i add the config. the odata routing is broke to 404 not found.
if i remove the constraints and change

[2020-04-22 12:28] gkalchev93 commented on #2095
@KanishManuja-MS
Hello, I am not able to share you a link to repro.
The code is a part of enterprise application.
Is it possible to try reproduce it on something like public API?
If Yes can you share one, which is fine for you?

[2020-04-22 16:20] xuzhg commented on #2128
@crkjl Thanks for trying our new release and glad to hear your problems got resolved. Please feel free file new issue if you have new concerns/questions. Thanks.

[2020-04-22 16:23] xuzhg commented on #2134
Hi, @keatkeat87

So far, the endpoint Link generator in 7.4 is very naive and only handle the basic template, for example:  "abc{temp}".  your template `/{amp:regex(amp)}/{language:regex(zhHans)} ` is too complex and so far it's not handled.

[2020-04-22 16:30] xuzhg commented on #2133
@magneticcore Would you please try it use OData 7.3 version and EF core 2.x version and let us know the result?

[2020-04-22 16:32] chrisspre commented on #2095
Hello Georgi, we are unable to reproduce the behavior and have not seen it before. The code doesn't seem to indicate that the validation logic is called concurrently, so I have no clue how this count can become mangled. In absence of a way to reproduce can you please share how you are making the  100 asynchronous calls? Would you also have the time to try the latest release please.

[2020-04-22 17:07] keatkeat87 commented on #2134
Hi xuzhg,
Thank for quick reply. I am not very clear about how odata routing works. My template is for razor page route, why does it affect my odata route?
My understanding is that we have a route list (razor page route + odata route), they will match in order, then even if my razor template route is above the odata routes, but because it will eventually not match due to regex, then in the end my

[2020-04-22 20:59] xuzhg commented on #2134
@keatkeat87

I spent some time to dig more.  and I synced with .NET Core team.
It seems this is an issue in the asp.net core 3x. See https://github.com/dotnet/aspnetcore/pull/20801
I don't have workaround yet, if it's not urgent, please wait for the ship of new .net core 3.x

[2020-04-23 07:47] joaopgrassi commented on #1981
I managed to get this to work (our OData api is inside a k8s cluster, with nginx/ocelot). Basically I used the instructions from the docs here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#scenarios-and-use-cases

In your code you need to enable the middleware:

ConfigureServices:

[code]
Configure (before anything else)
[code]

You just need

[2020-04-23 11:19] bossbast1 opened #2135 "odata 7.4.0 filter operator IN not working with nullable<int> (int?)"
Trying to use operator IN with property of type int? throws error
Downgrading to version 7.3.0 helped to fix the issue
example URI: https://localhost:44343/odata/Scope?$filter=OwnerRoleId in (1,21,44,50,52)

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.0
Microsoft.EntityFrameworkCore.SqlServer 3.1.3

### Reproduce steps

Have nullable int property (for me it is also a FK)
Try odata quer

[2020-04-23 15:23] evilB opened #2282 "$select on ComplexType failing after update from 7.5.4 to 7.6.x"
After updating Odata nuget packages from 7.5.4 to 7.6.4 we found a breaking change in the implementation of $select part of a query. After the update $select statements that include a
ComplexType property of a class fail. Other parts of the query don't seem to be affacted.

### Assemblies affected

7.6.x

### Reproduce steps

I've created a github repository https://github.com/evilB/OData_ComlexTy

[2020-04-23 16:16] hidegh opened #2136 "IN operator with quote (") or %22 fails"
Similar to to: https://github.com/OData/WebApi/issues/1596 - IN operator value(s) parsing issues

**An HTTP OData V4 request using a filter with the IN operator with strings containing " fails.**

**Custom endpoint:**
$filter=EquipmentName in ( 'Scot"t', 'another string' )

**Error:**
ExceptionMessage, Invalid JSON. A comma character ',' was expected in scope 'Array'. Every two elements in an arra

[2020-04-23 17:37] ocean8028 opened #2137 "WebAPI method with OdataQueryOptions is not showing properly on swagger UI"
Rest API project: Using: dotnet core 3.1, swashbuckle.AspNetCore 5.3.3. Implement Odata using Non-Edm Approach.
For get operation below:
`[HttpGet] [EnableQuery] [ProducesResponseType(typeof(List<WeatherForecast>), 200)]
public IActionResult Get(ODataQueryOptions<WeatherForecast> options)`
In swagger documenation, this get operation cannot expand properly. the swagger documentation page got no rep

[2020-04-24 10:38] hidegh commented on #2136
NOTE: currently as we do use a custom toOdataString tool, we can convert any 'in' operator to a composite 'or' operator with fields: [field eq value(i)]...but not everyone might have this luxury:
[code]

[2020-04-24 14:08] daniel-rck opened #2138 "OData IN Operator filter function not working on foreign-key properties (v7.4.0)"
I try to do a query with `$filter=ForeignObjectId in (1,2,3)` and the Server Error 500.

### Assemblies affected

- Microsoft.AspNetCore.OData, v7.4.0 and 7.3.0
- EFCore 3.0.0 and 3.1.3

### Reproduce steps

Take a example class like this:
[code]

The Startup.cs looks like this:
[code]

Then try query: `http://localhost:5050/odata/DinosaurToEnclosure?$filter=DinosaurId in (1,2,3)`

### Expected re

[2020-04-27 10:54] vulegend opened #2139 "OData 7.4 aspnet core 3.1 Formatter Issues"
Hey everyone. I am having some strange issues using custom formatters for odata 7.4 in aspnetcore 3.1 web api project.

Here are the full details of the issue, hopefully someone will be able to help :

https://stackoverflow.com/questions/61450358/custom-odata-formatter-for-netcore-3-1-webapi-issues

[2020-04-27 19:56] jedsmallwood commented on #2130
I just figured this out... basically if the HttpRequest is available you can manually set the values via the ODataFeature().  In the example below I'm forcing the page size to be 100.

[code]

[2020-04-27 19:56] #2130 closed

[2020-04-28 13:31] NetTecture opened #2140 "7.4 release count is not fowarded to Entity Framework"
I remember this working in an earlier release.

Certain of our operations have turned VERY slow.

Queries of that form in Simple.OData.CLient:

            await c.For<OdataApi.Equipment>()
                .Filter(x => x.KpiMarker.HasInspectionDutyUnterminated)
                .Count()
                .FindScalarAsync<Int32>();

are generating a simple url in the form:

{/Equipment/$count}

as per

[2020-04-28 13:37] NetTecture commented on #2140
As more info: My count (and alternative LongCount) as tests are forwarded to EfCore and result in code like this:

SELECT COUNT_BIG(*)
FROM [dbo].[OB_TInstallEquipment] AS [f]
INNER JOIN [dbo].[OB_TEquipment] AS [dtoOBTInstallEquipment.OBTEquipment] ON [f].

Perfect.

When returning the query for Odata, what happens now is that I Get code hat shows a projected SELECT. It is the same query. This bu

[2020-04-28 13:49] NetTecture commented on #2127
Nope. Does not . In fact, ProjectTo comes with it's own set of absolutely crazy side effects in EfCore because it generates query graphs that make EfCore just throw you TONS of issues out for any nullable navigation property. This is generally a "efcore can not handle the generated expression tree" scenario - which is on their todo list. Probably somewhere at the end, because - no idea. I literall

[2020-04-28 14:52] alexmartinezm commented on #2111
I'm having the same issue... the SELECT clause is not implemented.

[2020-04-28 14:59] alexmartinezm commented on #2118
Hi there, is there any plan or workaround for this?

[2020-04-29 01:12] mmichtch commented on #2017
FYI, just updated Microsoft.AspNetCore.OData to 7.4.0 - still the same error.
are there any updates on this issue?

[2020-04-29 06:38] weitzhandler commented on #888
Related: https://github.com/OData/odata.net/issues/1746

[2020-04-29 06:40] weitzhandler commented on #888
@xuzhg

How will clients (such as ODataConnectedService) identify `IA` and `IB` as interfaces?

[2020-04-29 09:32] marabooy commented on #2137
Hi @ocean8028, The issue is a known issue and it seems swashbuckle hasn't updated their support for .netcore 3.0 https://github.com/rbeauchamp/Swashbuckle.OData/issues/154.

In the meantime,  the APIVersioning project, which supports Swashbuckle, has updated to the .NET Core 3.1 version of WebAPI, and has a working sample that demonstrates support for Swashbuckle with OData .NET Core 3.1.

https:/

[2020-04-29 09:32] #2137 closed

[2020-04-29 14:41] PatrickHofman opened #2141 "Wrong @odata.context value when using base path"
When the OData endpoint uses a path relative from the base path, the wrong value for @odata.context is generated.

### Assemblies affected

* Microsoft.AspNetCore.OData 7.4.0

### Reproduce steps

Use this code in `Startup`:

[code]

Then go to the project settings in Visual Studio, Debug, App URL, and change it from something like `http://localhost:56503` to `http://localhost:56503/test` (see the

[2020-04-29 15:07] NetTecture commented on #2140
@xuzhg I acutally tried to roll back today and could not get the old performance. It may be something else broke it - which would s***. We are in the final stages of rolling out a project and this is a breaking change (because with query times hitting 22 seconds, the UI is unusable). Unless there is a way to get this working in some way, It MAY be related to something else - totally not sure by no

[2020-04-29 21:35] tinonetic commented on #1748
Hi,
Where can one find a sample application?

[2020-04-29 21:38] ikemtz commented on #1748
I created a VS extension that has templates that greatly streamlines the process of creating an OData service.

https://marketplace.visualstudio.com/items?itemName=ikemtz.NRSRxExtensions

[2020-04-29 21:59] xuzhg commented on #1748
@tinonetic What kind of sample application are you looking for? Actually, you can find some tutorials at https://devblogs.microsoft.com/odata/. For example,
1) https://devblogs.microsoft.com/odata/asp-net-core-odata-now-available/ for getting started.
2) https://devblogs.microsoft.com/odata/enabling-endpoint-routing-in-odata/ for endpoint routing.

Please leave more details so we can help you more

[2020-04-30 00:38] gordon-matt commented on #1748
@tinonetic I created a [GenericODataController](https://github.com/gordon-matt/Extenso/blob/master/Extenso.AspNetCore.OData/GenericODataController.cs) and a [demo app](https://github.com/gordon-matt/Extenso/tree/master/Demos/Demo.AspNetCore.Mvc.OData) as well.

[2020-04-30 05:50] tomasfabian commented on #1748
[Here ](https://github.com/tomasfabian/SqlTableDependency.Extensions/wiki/Joker.OData) you can find a library for OData CRUD operations, CreateRef, DeleteRef, OData batching with SQL server transaction, Startup plumbing code for hosting and more.
I have a complete .NET example application which sends http request via OData client to SQL server and all connected apps have updated their UI via Redis

[2020-04-30 07:18] #2055 closed

[2020-04-30 07:48] PatrickHofman commented on #2141
Some more analysis. It seems the wrong URL is provided through the default base address as defined here:

https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNetCore.OData/Formatter/ODataOutputFormatter.cs#L282

Which eventually calls:

https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData/Extensions/UrlHelperExtensions.cs#L81

It seems the wrong value is returned from `L

[2020-04-30 08:29] PatrickHofman commented on #2141
Furthermore, it seems that the path is splitted in the `HttpRequest` class obtained from `HttpContext.Request` into `Path` and `PathBase`. I guess the latter isn't included in the generated URL somewhere:

![image](https://user-images.githubusercontent.com/9336133/80689334-73908000-8acd-11ea-8e56-bb31b43a5a4b.png)

[2020-04-30 12:41] tinonetic commented on #1748
Wow! Thank-you guys for sharing your knowledge. @xuzhg , I am struggling to understand how I can make it work with Entity Framework

[2020-04-30 12:49] tomasfabian commented on #1748
@tinonetic here I have a sample from above mentioned github repository - Kestrel hosted OData and EF code first migrations with containerized developement environment: https://github.com/tomasfabian/SqlTableDependency.Extensions/tree/master/Samples/OData/SelfHostedODataService

[2020-04-30 17:35] davidyee commented on #1045
Same issue on my end. Attempting to expand fields only in the inherited subclasses results in a partial 200 response JSON and an error `The EDM instance of type '<expanded class name here>' is missing the property '<a field name from the expanded class here>'.`. Furthermore, the actual executed SQL doesn't perform a JOIN to retrieve the information in the first place.

Is TPH not supported?

[2020-04-30 17:35] NetTecture commented on #1748
This is actually the more simple part. Here some rules, though:

* Do NOT expose Ef objects. Make a defined API and use Automapper Projection to map them.
* Stay away from EfCore as far as you can. Ef classic works in netstandard.

Then it is quite simple. All queries are automatically translated in the query tree.

[2020-04-30 19:29] AOrlov opened #2143 "Nested queries don't work for non-edm approach"
For non-edm approach described in [Enabling Endpoint Routing in OData](https://devblogs.microsoft.com/odata/enabling-endpoint-routing-in-odata/) is not possible to use nested query in $select statement. See steps to reproduce.

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.0

### Reproduce steps
Startup.cs
[code]
CustomersController.cs
[code]
Customer.cs
[code]
Address.cs
[code]
URI: htt

[2020-04-30 19:58] ramil-mux commented on #2123
@gathogojr Thank you very much! I've updated the OData library and now all requests work fine.

[2020-04-30 19:58] #2123 closed

[2020-04-30 22:44] AOrlov commented on #2143
A workaround I see is to register IEdmModel to DependencyInjection:

[code]

[2020-05-01 00:47] weitzhandler commented on #1748
I work with EF Core and OData and have no problems.

[2020-05-01 01:12] NetTecture commented on #1748
Then you do not use projection and expose Ef objects directly to the outside world, which is an antipattern. The only sensibe way to map EfCore objects to business objects is Automapper ProjectTo (because it handles query parameters through the whole projection) and that is broken - and gladly ignored by your friendly EfCore.

Also - your use cases MUST be simple with your users never wanting to a

[2020-05-01 01:38] weitzhandler commented on #1748
I see.

[2020-05-01 02:32] mmichtch commented on #2017
Just updated test application to with preview versions of the components:

- Microsoft.AspNetCore.OData Version="7.4.0"
- Microsoft.EntityFrameworkCore.InMemory Version="5.0.0-preview.3.20181.2"
- Microsoft.EntityFrameworkCore.SqlServer  Version="5.0.0-preview.3.20181.2"
- Microsoft.EntityFrameworkCore.Tools  Version="5.0.0-preview.3.20181.2

error resolved

[2020-05-01 05:19] davidyee commented on #1045
Came across this [comment](https://github.com/OData/WebApi/issues/2017#issuecomment-622219349) in another issue and tried upgrading to .NET 5.0 preview3. This issue appears to be resolved now.

[2020-05-04 07:49] hfaran commented on #2009
@mikepizzo @xuzhg We're still seeing some errors related to this even with the new 7.4.0 release. Here is the particular stack trace; looks like there is still sync IO being used in places:

[code]

[2020-05-04 08:34] gkalchev93 commented on #2095
Hello Chriss,
this is the test code:
`var tasks = Enumerable.Range(0, 50).Select(_ => Task.Run(GetOrders));
Task.WhenAll(tasks).Wait();`

Currently we are using Version: "7.6.3.0".
Thanks!

[2020-05-04 08:59] henrikdahl8240 opened #2144 "ODataController's Created(entity) method synthesizes incomplete Location header"
The Location header in the response from creating new instances miss the application name.

My situation:
A simple project, where I can create e.g. Cars. So I have a CarsController which derives from ODataController. The Cars controller has a Post method like:
[code]

The url used for creating a car looks like:
`http://mymachine/myapp/odata-internal/Worlds`

The reponse starts with this:
[code]
It

[2020-05-04 10:07] alvachien opened #2145 "Return 404 for Function defined with HttpPost"
Function defined with HttpPost doesn't work.

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0
OData WebAPI 7.4
ASP.NET Core 3.1.3

### Reproduce steps

A reproducible repo: https://github.com/alvachien/odatatest
This repo copied from [ODataSamples ](https://github.com/OData/ODataSamples/tree/master/WebApiCore/ODataFunctionSample)  but ch

[2020-05-04 10:26] alvachien opened #2146 "UpdatedODataResult returns empty body and status code 204"
When updating an entry, and the controller returns Updated(entity), the BODY is empty.

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0
OData WebAPI 7.4
ASP.NET Core 3.1

### Reproduce steps

A reproducible repo: https://github.com/alvachien/odatatest
This repo copied from ODataSamples but changed it to suite ASP.NET Core 3.1.

Besides t

[2020-05-04 13:00] henrikdahl8240 commented on #2145
Functions are invoked by HTTP Get. Actions are invoked by HTTP Post. Therefore you can either declare it as an action and invoke it by HTTP Post as you want or invoke what you have by HTTP Get.

[2020-05-04 13:24] gathogojr commented on #2136
@hidegh Kindly note that we were able to reproduce this issue. Seems that `$filter=FirstName eq 'Scot"t'` is parsed correctly but `$filter=FirstName in (`Scot"t')` isn't. We have added the issue to our backlog so it can get some attention.
Kindly note that we also accept pull requests just in case you're in a position to contribute. Either way, thank you for bringing the issue to our attention

[2020-05-04 17:15] xuzhg commented on #2136
FYI,
1) In a single quote wrapped string, it can contain single quote, whose value should escape to "double single quotes". It also can contain double quote, whose value don't need to escape it.
2) in a double quote wrapped string (JSON string), it can contain single quote, the single quote should not escape, but for double quote, we should escape it use "\"

[2020-05-04 17:47] gathogojr commented on #2136
@xuzhg In the case highlighted above, what you have in `Scot"t` is not "double single quotes" but "double quotes". I also thought it was double single quotes until I copied and pasted the value to my local environment. Like you noted, the double quote does not need to be escaped but an exception is being thrown if you use it within a single-quoted string

Escaped single quotes, i.e. double single

[2020-05-05 02:36] alvachien commented on #2145
Thank you. Rechecked the OData document, it stated clearly:

[Link](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#_Toc31359009)

[2020-05-05 02:36] #2145 closed

[2020-05-05 03:40] xuzhg commented on #2141
@PatrickHofman Did you meet this error when set the appUrl in properties=>Debug

![image](https://user-images.githubusercontent.com/9426627/81033201-87c6db00-8e47-11ea-922d-1df47dd82a98.png)

[2020-05-05 10:08] andreyciocan commented on #2139
Same issue for me. When I use `endpoints.MapODataRoute("odata",` "odata", containerBuilder =>
                {
                    containerBuilder.AddService(Microsoft.OData.ServiceLifetime.Singleton, typeof(IEdmModel), sp => GetEdmModel());
                });` I get 404.
Works with `endpoints.MapODataRoute("odata", "odata", GetEdmModel());` only

[2020-05-05 13:46] trekco commented on #1777
any plans to fix this?

[2020-05-05 14:44] PatrickHofman commented on #2141
@xuzhg Ah, okay. I didn't see it indeed. Thanks for investigating.

[2020-05-05 16:57] ElizabethOkerio commented on #2146
@alvachien by default in odata created resources are returned but updated resources are not and this can be controlled by the preference header using return=representation to return the updated resource. Here is a link to the return preference in odata. http://docs.oasis-open.org/odata/odata/v4.01/os/part1-protocol/odata-v4.01-os-part1-protocol.html#sec_Preferencereturnrepresentationandret

[2020-05-05 22:23] henrikdahl8240 commented on #2080
When using .NET 5.0 Preview 3, the errors mentioned above do not occur when using 7.4.0 of Microsoft.AspNetCore.OData.

@xuzhg, thank you for your engagement in this case.

[2020-05-05 22:23] #2080 closed

[2020-05-05 22:27] henrikdahl8240 opened #2148 "Please change the visibility of Created and Updated in ODataController to public"
In `ODataController`, can’t you change the visibility of `Created` and `Updated` from `protected` to `public`?

This will make it much easier to factor out creation and updating to helper classes. You can see, that in `ControllerBase`, the visibility of `OK`, `BadRequest`, `NotFound` etc. have also been changed from `protected` to `public` when changing from .NET Framework to .NET Core. Therefore

[2020-05-05 22:50] mikepizzo commented on #2009
Thanks for the report; stack trace helped find the call to synchronous GetStream, which resulted in a sychronous write down further down the stack. Verified that calling GetStreamAsync() calls the right async write methods further down the stack. Would love to have you check nightlies once this is checked in to make sure we didn't miss any other cases.

[2020-05-06 00:25] hfaran commented on #2009
Thanks @mikepizzo. I'm ready to pick up the nightly as soon as it's available.

[2020-05-06 15:43] alexzheludov commented on #1461
@mikepizzo  any updates on this?

[2020-05-06 18:16] mikepizzo commented on #2009
Fix is in PR #2149.

[2020-05-06 21:17] mikepizzo commented on #2029
Closing this issue as endpoint routing was added in 7.4 (we had to do a few hacks to get it to work against .NET Core 3.x, but working with the .NET team to have better support in .NET 5).

Please open a new issue if you are encountering any issues.

[2020-05-06 21:17] #2029 closed

[2020-05-06 21:22] henrikdahl8240 commented on #2144
@xuzhg, perhaps you can mention as you will have a nightly build, where the problems should be corrected because then I would like to try/verify it.

[2020-05-06 21:24] ImGonaRot opened #2150 "OData endpoint routing not working with either the OData Connected Service client or the Unchase OData Connected Service client."
Linked from previous issue.
https://github.com/OData/WebApi/issues/2029

Code to reproduce
https://github.com/OData/WebApi/issues/2029#issuecomment-607307659

Added the new 7.4.0 beta to my OData core 3.1 project and the endpoint routing is not working with either the OData Connected Service client or the Unchase OData Connected Service client.
https://docs.microsoft.com/en-us/odata/client/code-ge

[2020-05-06 22:02] xuzhg commented on #2144
@henrikdahl8240 Cool. The nightly named "Microsoft.OData.Core.7.6.4-Nightly202005061030.nupkg" should have the changes.
You can use this nightly feed: "https://www.myget.org/F/odatanightly/api/v3/index.json".
 please let me know the result

[2020-05-07 03:51] balukantu commented on #2143
@AOrlov , I am also facing the same issue. Is there any issue with the non-edm approach?

[2020-05-07 07:06] ankitpatel5989 commented on #1463
I have tried same updated version and able to run with given parameter EnableCorrelatedSubqueryBuffering = true but still generating N+1 queries.

[2020-05-07 07:10] jannikbuschke opened #2151 "Microsoft.OData.ODataException: 'Found an unresolved path segment 'xxx' in the OData path template"
Using a controller like this
[code]

Gives me an
[code]
at Startup when calling
[code]

### Assemblies affected

[code]

### Reproduce steps

[code]

### Expected result

App should start

### Actual result

App crashes at startup with above mentioned exception

### Additional detail

It seems that the conventional naming in the controller does not get picked up.
I.e. the `GetPerson(Guid key)` is

[2020-05-07 07:23] NetTecture commented on #1463
I do not think you will be lucky. We had it working but with EXTREME problems with Ef Core (and basically had an inspector that decided whether to have EfCore do the filtering or loading all data and filter in memory).

Roight now moving back to Ef Classic - yeah, older, slower blablabla but IT WORKS. And it works in .NET core since Ef Classic 6.4 is netstandard.

[2020-05-07 08:20] habbes commented on #2061
Hi @toresenneseth according to [this guide](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-3.1&tabs=visual-studio), class libraries using the `Microsoft.NET.Sdk` and using ASP.NET Core APIs should add a framework reference to `Microsoft.AspNetCore.App`. So I believe what you experienced was intended behaviour.

[2020-05-07 08:20] #2061 closed

[2020-05-07 08:28] henrikdahl8240 commented on #2144
@xuzhg, Unfortunately it does not work. The Location header is exactly as before, i.e. without the application name.

For your information, I record the dialogue using Fiddler, where I can see, that the Location header still does not include the name of the application.

Can it be, that your correction only addresses the other problem you referred to, i.e. https://github.com/OData/WebApi/issues/21

[2020-05-07 08:48] AiHaibara commented on #2093
Hello, any message about this?

[2020-05-07 10:16] habbes commented on #2089
@vladimir-kanev thanks for the explanation and samples regarding query parameterization. I think that explains the query being generated on every request. I'll take a look into this. I does not explain they are not getting deallocated though, does EFCore cache the queries, even when they are not parameterized?

[2020-05-07 10:32] tomasfabian opened #2152 "Async query serialization"
Is there a way / is it necessary to execute the serialization of entities to JSON from the database query asynchronously? I think that it would be beneficial to return the thread to the thread pool during execution of the query.
Is this already done by WebApi or OData within a dedicated middleware? If no, can it be overriden?

This should be fast because the query wasn't executed at this point, so

[2020-05-07 11:14] ClementeGao commented on #2050
![image](https://user-images.githubusercontent.com/16145998/81288217-c7373680-9096-11ea-9816-f02f02b4b366.png)
Why can't my project use mapodataroute？

[2020-05-07 14:06] vladimir-kanev commented on #2089
Yes, I think EFCore caches too many queries, while it should cache only 1 if parameterized. I don't know for how long EFCore keeps the cached queries.

[2020-05-07 14:11] JasonBodley commented on #2118
Having the same issue trying to push my `$select` down to the cosmos level, it appears that it's attempting to read from cosmos in the `SelectExpandWrapper` format, and what it attempt to use the above JsonConverter it fails (explicit exception in the code).
Any know work around? Currently i'm having to apply all other query options (filter, top, skip, etc...) which all work fine and then apply th

[2020-05-07 16:34] xuzhg commented on #2144
@henrikdahl8240 Ah, I see, I made a mistake, I confused this issue with others. This issue's fix is still in PR of WebAPI repo. I should give you a WebAPI nightly, not a OData.net nightly. Let me create a webapi and share the link for you. Sorry for confusing.

[2020-05-07 16:42] henrikdahl8240 commented on #2144
@xuzhg It is perfectly fine. I look forward trying it.

[2020-05-07 17:14] xuzhg commented on #2144
@henrikdahl8240 Here we are.
The nightly package is named "[Microsoft.AspNet.OData 7.4.0-Nightly202005071659](https://www.myget.org/feed/webapinetcore/package/nuget/Microsoft.AspNet.OData)"

The feed is "https://www.myget.org/F/webapinetcore/api/v3/index.json".
Just update the WebAPI package to this version, needn't change the referenced OData.net package. Let me know the result. Thanks a lot.

[2020-05-07 17:16] xuzhg commented on #2136
@hidegh.  Would you please try the nightly named "Microsoft.OData.Core.7.6.4-Nightly202005061030.nupkg". It should have the changes.
You can use this nightly feed: "https://www.myget.org/F/odatanightly/api/v3/index.json".

Install "Microsoft.AspNetCore.OData 7.4", after that update the installed Microsoft.OData.Core to the above nightly.

Please let me know the result.

[2020-05-07 18:55] AOrlov commented on #2143
@balukantu By 'non-edm approach' I meant the 'non-edm' routing like it was described [here](https://devblogs.microsoft.com/odata/enabling-endpoint-routing-in-odata/)

As for the exception you got, I cannot say for sure but it looks like you need to specify a key in your data model with `[Key]` attribute. I'd recommend referring to the official documentation. Also, quick searching gave me [this SO

[2020-05-07 20:04] henrikdahl8240 commented on #2144
@xuzhg It seems like it works fine. The Location header now includes the name of the web application as I was expecting. Will the correction make it to version 7.5.0 or before that?
Would you say that it's OK to use your nightly build or there are some incomplete areas in this nightly drop?
Should I close the issue despite the solution has not made it to a released version yet?

[2020-05-07 20:18] sunsided commented on #1584
@nckmcghie  Thanks for pointing that one out! The Postman issue still was there though (I remember it vividly): Once I switched to the result preview, it would continue to show me the same error page even long after I fixed the bug. I've never encountered it ever after, but it's already one and a half year ago. :)

[2020-05-07 20:26] stephenjust opened #2153 "Better support for $skiptoken with stores that natively support it"
We are building an OData API that has a storage implementation that supports the $skiptoken pattern for paging of requests. The current implementation of $skiptoken in OData Web API has several problems/limitations that do not allow us to make use of this storage-side paging, and instead requires us to make multiple round-trips to the data store to service a request for a non-first page, incurring

[2020-05-07 22:13] xuzhg commented on #2144
@henrikdahl8240 Glad to hear that.
If you want to use a package in your product, i'd like you to wait couple days to use the official version.
I can plan to release a new version (maybe 7.4.1) to include that. I will update you if i have certain release date.
I closed this issue, if you have further concerns, we can continuously use it to communicate, or feel free file new issue. Thanks a lot.

[2020-05-07 22:13] #2144 closed

[2020-05-08 08:47] henrikdahl8240 commented on #2148
It seems excellent, Sam. Do you see a possibility to also do https://github.com/OData/WebApi/issues/2148 for the 7.4.1 release, i.e. to make the two methods `Created` and `Updated` in `ODataController` public instead of protected?

For your information, today I have some helper classes for my `ODataController` derivates and I must pass a lambda expression for `Created` and `Updated`, which I obvio

[2020-05-08 16:29] xuzhg commented on #2148
@henrikdahl8240 Got it. I will update you if you have news.

[2020-05-08 16:44] xuzhg commented on #1837
Closed.

[2020-05-08 16:45] #1837 closed

[2020-05-08 21:09] stephenjust opened #2156 "OData link generation broken for singletonSegment/navPropSegment/KeySegment paths"
When generating a link to an OData resource, the link is generated incorrectly if the model is in the structure of a singleton containing a contained navigation property to an entity set.

### Assemblies affected

OData.WebAPI 7.4.0

### Reproduce steps

See the test case here:
https://github.com/stephenjust/WebApi/commit/e65b6c4efe62feafee919a11d20b1d75462946ec

### Expected result

Test case out

[2020-05-08 21:47] henrikdahl8240 commented on #2152
@tomasfabian If I understand your question correct, You should just return an object, which implements IAsyncEnumerable<T>.

You may read it here: https://docs.microsoft.com/en-us/aspnet/core/web-api/action-return-types?view=aspnetcore-3.1#return-ienumerablet-or-iasyncenumerablet

This addresses, what you ask for:

[2020-05-08 21:56] henrikdahl8240 commented on #2151
@jannikbuschke Perhaps you could also include the few lines from your model builder, which builds the entity set and the type, please?

[2020-05-09 12:40] jannikbuschke commented on #255
Running now also into this. A higher priorisation of this bug would be greatly appreciated.

[2020-05-09 21:28] henrikdahl8240 commented on #2151
Perhaps you could try to program your method like this instead:
[code]

Does it work correctly now?

[2020-05-10 13:40] cilerler opened #2158 "`$count=true&$top=0` is no longer returns a value"
`$count=true&$top=0` is no longer returns a value instead it returns **HTTP/1.1 404 Not Found** where `$count=true&$top=1` works as expected.

### Assemblies affected

AspNetCore 7.4.0

### Reproduce steps

##### Get total counts without getting any value
[code]
where it works for

##### Get total counts with getting a record
[code]

### Expected result

the query with `?$count=true&$top=0` should

[2020-05-10 16:16] hidegh commented on #2158
**NotFound so 404 is probably an URI issue, less likely related to the OData querystring.** Could not reproduce this on my pet-project.

---

I have updated the reference to latest OData in one of my public projects (https://github.com/hidegh/Meal-tracker), and it works with latest version ofAspNetCore 7.4.0!

So the https://{{netAppApi_domain}}/Users/4/meals/?$count=true&$top=0&$filter=mealsCount

[2020-05-11 04:42] reddaiahnethi commented on #2111
@mikepizzo @chrisspre  same issue exists with document client too. What is the plan to fix that?

[2020-05-11 05:02] reddaiahnethi opened #2159 "ODATA Core with Cosmos Core , OData filter functions like startswith is not working"
*most of the ODATA filter functions like startswith , endswith are not working*

### Assemblies affected

*Microsoft.AspNetCore.OData 7.4.0
Microsoft.EntityFrameworkCore.Cosmos 3.1.3

### Reproduce steps

*Simply define a OdataController as below and hit the url //localhost:5001/Candidate?$filter=startswith(firstName,%27Richard1%27)%20eq%20true

[code]

### Expected result

*should see the candida

[2020-05-11 11:41] cilerler commented on #2158
According to [here](https://github.com/hidegh/Meal-tracker/blob/9798d8685f15e87e03fd414156b184de49a3c8c1/RMeals-server-dotNet/src/RMealsAPI/RMealsAPI.csproj#L15) you are not using 7.4 which supports endpoints which according to here [here](https://github.com/hidegh/Meal-tracker/blob/9798d8685f15e87e03fd414156b184de49a3c8c1/RMeals-server-dotNet/src/RMealsAPI/Startup.cs#L241-L245) you are not using

[2020-05-11 13:25] habbes commented on #2089
I found this section on the EFCore docs which mentions that EFcore caches queries and usually generates parameters for client-evaluated inputs so that they can reuse the cached query. But in cases where it can't generate parameters for them, this could lead to a memory leak. It gives broad examples of situation in which this could happen: https://docs.microsoft.com/en-us/ef/core/querying/client-ev

[2020-05-11 15:17] smitpatel commented on #1887
The original issue has been fixed in EF Core 3.1 release. When projecting a type which contains owned types they are automatically included now.

As for @joelmeaders repro code. I believe that the issue is similar to https://github.com/dotnet/efcore/issues/18672 (which had quite a different variations of the same when projection is custom and then skip/take is applied). All of those have been fixe

[2020-05-11 17:56] jannikbuschke commented on #2151
This is the corresponding modelbuilder:
https://github.com/jannikbuschke/pragmatic-cqrs-with-asp-net-core-for-spas/blob/cb28046ba9f93b7d4ebd038014699483024359ed/4-cqrs-with-mediatr-and-odata/OdataModelConfiguration.cs

[code]

Using an ActionResult as return type yields the same error.

Actually I am fine with just naming my methods `Get`, so I personally don't see it as any issue anymore.

[2020-05-11 19:13] henrikdahl8240 commented on #2151
You do not have the `[FromODataUri]` attribute, which is the reason it didn't work for you.

[2020-05-12 04:48] mitselplik opened #2161 "ModelBuilder doesn't honor composite key order"
I have a `DbContext` on a SQL Server table with a `DbSet<PropertyYearLayer>` property.  The primary key of this table is by Year, SupNumber, and PropertyId.  Here is a cut of the DbContext class.
[code]
The model builder class I use to construct the OData EdmModel similarly defines the key:
[code]
My controller class has a `Get()` method defined to allow retrieving a single record by composite key

[2020-05-12 06:47] xuzhg commented on #2161
@mitselplik Thanks for pointing this.

First, ODL processes the composite key value like `PropertyYearLayer(2019,0,1061)` by **its position**.
That is, the first value (2019) will bind to the first key defined on the entity type, the second (0) will bind to the second key defined on the entity type, etc. It's by design.

The question is the key position when you define the key using `.HasKey(r =>

[2020-05-12 10:42] habbes commented on #2089
When OData WebAPI gets a query like you had initially ` localhost:3509/odata/persons?$filter=Name+in+('some name')&$orderby=Date+asc`, the `('some name')` part gets parsed into a `CollectionConstantNode` by the OData UriParser. When the query is being transformed into a LINQ query, this node is transformed into `Expression.Constant` node:  https://github.com/OData/WebApi/blob/master/src/Microsoft.

[2020-05-12 15:29] mitselplik commented on #2161
So, to summarize, unless explicitly told otherwise, the model builder ignores the order in which the properties are declared for the composite key in the anonymous type, it ignores the order in which the properties are defined in the concrete class, and it ignores the order of the key parameters declared for the matching function.

I have to be honest, this feels like a bug, or if not a bug, at th

[2020-05-12 16:51] gathogojr commented on #2151
@jannikbuschke I think need to add the `ApiVersion` attribute to the controllers since you're using `MapVersionedODataRoutes`. Kindly take a look at the following resources:
https://github.com/microsoft/aspnet-api-versioning/wiki/New-Services-Quick-Start
https://github.com/microsoft/aspnet-api-versioning/wiki/OData-Versioned-Controllers

[2020-05-12 16:55] habbes commented on #2152
Hi @tomasfabian, please let us know if the solution proposed by @henrikdahl8240 works for you.

[2020-05-12 16:56] tomasfabian commented on #2152
Hi @henrikdahl8240, yes you understand my question correctly. I'm using AspNetCore 3 OData 7.4 with Entity Framework 6.4. I'm afraid, that I'm probably not able to return IAsyncEnumerable<TEntity>, because OData queries are composable:
`http://localhost:20501/Orders?$filter=IdDispatcher eq 1&$expand=OrderGroup,OrderItems
`
so the return type has to be `IQueryable<TEntity>`. In the end the user can

[2020-05-12 17:05] habbes commented on #2150
@ImGonaRot  Hi thanks for sharing the test project. I tested it on my end and all operations ran successfully, even when using endpoint routing. Generally the routing implementation should not affect a client as long as it sends valid requests, using valid urls and payloads.

Furthermore, when you say the clients do not work, what do you mean specifically? Are they throwing an exception? If so, wh

[2020-05-12 17:18] ImGonaRot commented on #2150
In the TestODataCore.sln I provided there are 2 projects.

1. TestClient.csproj --> Windows console app using OData Connected Services, proxy generated from MS OData Connected Services

2. TestODataCore.csproj --> OData Core service.

If you run the solution and follow the steps listed above on commenting in / out the routing information under the "AddControllers" inside the "Startup.cs", it will

[2020-05-12 17:28] mitselplik commented on #2161
For the benefit of anyone who lands on this page from an Internet search, I wanted to post what I did to ultimately resolve the issue.  I used @xuzhg's suggestion and simply created a different extension method that essentially does exactly what is needed to have the model setup so that the controller parameter values are in the order I expected:
[code]

[2020-05-12 17:34] xuzhg commented on #2161
@mitselplik Thanks for sharing your codes.
I'd like to update you why we have this orderby logic. You can find the implementation at: https://github.com/OData/WebApi/pull/1762

[2020-05-12 17:45] gathogojr commented on #2151
@jannikbuschke I did a quick repro and confirm that the issue is fixed by doing the following:
Rename, respectively:
[code]
to
[code]

That alone will be enough to allow your service to be bootstrap and run successfully

In addition, if you hope to apply api version when calling your service, you'll need to apply `AppVersion` attribute to your controller like so:
[code]
However, I also realized th

[2020-05-12 17:53] mitselplik commented on #2161
@xuzhg Thank you for sharing that.
The further edification from that issue would indicate that my code needs to be modified to examine `TEntityType` for any `[Column(...)]` attributes on its properties and honor the order specified there before attempting to change the default order according to the properties specified in the anonymous type.  Does that sound correct?

[2020-05-12 18:03] gathogojr commented on #2151
@jannikbuschke This works too
[code]

[2020-05-12 18:03] #2151 closed

[2020-05-12 18:07] xuzhg commented on #2161
@mitselplik No, i am not recommending you to change using attribute, just sharing why we have this logic. So, it's up to you to make a decision which one you want to pickup. 😄

[2020-05-12 19:37] henrikdahl8240 commented on #2152
You didn't write, that you use Entity Framework 6.4. I assumed you use Entity Framework Core >= 3.0 due to the nature of your question.

For EF Core the problem is solved using e.g. EntityFrameworkQueryableExtensions.AsAsyncEnumerable<TSource>(IQueryable<TSource>) Method as documented here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.entityframeworkqueryableextensions

[2020-05-13 07:46] tomasfabian commented on #2152
I didn't mention EF 6.4, because I mentioned IQueryable<T>, but in this case IQueryProvider is more important as I understand it. I found out that EF Core extends this interface with IAsyncQueryProvider.

In my opinion EF 6.4 could support IAsyncEnumerable for NETCOREAPP3.1 by using conditional compilation. I understand that NETFRAMEWORK is out of the question, because it does not support NETSTAND

[2020-05-13 08:43] henrikdahl8240 commented on #2152
@tomasfabian Thank you for your constructive comments.

Your situation sounds quite like mine, i.e. interest/motivation in migrating from .NET Framework to .NET Core.

So do you actually have som real success with that, because I actually do not and trust me, I have spent really many hours doing it?

For instance I get the problem after switching to 7.4.0 from 7.3.0, that after thousands of invoca

[2020-05-13 13:34] tomasfabian commented on #2152
@henrikdahl8240 just shortly as this is not related to this issue (please contact me via email if you would like to share knowledge). I'm currently using multitargeting - production still uses AspNet.OData (NET472) and in development I'm migrating to AspNetCore.OData (NETCOREAPP3.1). Up to this time I was able to migrate everything except of some operations related to OData batch support. Some bug

[2020-05-13 16:34] KanishManuja-MS commented on #2159
These seem to be integration issues with Cosmos DB in EFCore. I will sync up with them to discuss the path forward.

[2020-05-13 16:37] KanishManuja-MS commented on #2158
@cilerler Can you please share your repro? It is really strange as query options do not influence routing. I would anticipate a bad request but not a not found error response.

[2020-05-13 16:41] KanishManuja-MS commented on #2153
This problem is because our stack adds a take n+1 if the service has a page size set. This is unable to make use of the data-providers skiptoken as it demarcates the n+1th object rather than nth object.

[2020-05-13 17:17] shagilt opened #2162 "AddODataQueryFilter is not working"
*AddODataQueryFilter is not working *

### Reproduce steps
I wanted to apply PageSize for all my controllers in my ASPNET core service. So, I added this in Startup.cs:
[code]
### Expected result

When my controllers are invokded, i dont see page size value getting applied. Am I missing something?

Note: EnableQuery attribute works as expected. Instead of adding this attribute to each controller I

[2020-05-13 18:57] bramakrishna16 opened #2163 "$batch ODataMessageQuotas in ODataMessageReaderSettings has no effect"
I am getting the following exception when I am trying to do a GET batch:

[code]

I tried to increase [ODataMessageQuota ](https://docs.microsoft.com/en-us/previous-versions/dotnet/wcf-data-services/dn601969(v%3Dvs.113))properties, however, it's not getting reflected.

### Assemblies affected
WebApiOData.AspNetCore branch feature/netcore

### Reproduce steps
I am registering like this:

[code]

My

[2020-05-13 21:17] mitselplik opened #2164 "Using the default OData path handler and routing conventions disables navigation properties"
I'm not sure if this is a bug or simply my lack of understanding, but...
If the route builder is coded like this (note the commented out lines):
[code]
then Urls like this work fine:  `~/odata/Account(12345)/PropertyOwner`

The controller method for the above Url is defined as follows and is invoked:
[code]
If I uncomment the two lines in my routeBuilder however, the controller method is no longer

[2020-05-13 21:55] xuzhg commented on #2164
@mitselplik

A example that you can refer to is at: https://github.com/OData/WebApi/blob/master/samples/AspNetCore3xEndpointSample.Web/Startup.cs#L64

Simple change "endpoints.ServiceProvider" as "routeBuilder.ServiceProvider". Let me know if it can't work.

[2020-05-14 07:23] #1780 closed

[2020-05-14 07:23] #2126 closed

[2020-05-14 12:08] nonbob commented on #1487
For those arriving late (like me): that link is now gone.  You can find the same content now in the [archive](https://web.archive.org/web/20190520110249/http://odata.github.io/WebApi/#04-16-ignore-query-option) or [here](https://docs.microsoft.com/en-us/odata/webapi/ignore-query-option) or [here](https://github.com/MicrosoftDocs/OData-docs/blob/master/Odata-docs/webapi/ignore-query-option.md)

The

[2020-05-14 15:22] nonbob commented on #1638
summary: yes, $skiptoken is cleaner, more robust and more efficient.  My thanks to the committee and implementors for the change of direction.
tl;dr

I've read the web of links connected to this ticket and even found the relevant part of the standards doc (which I'll quote below) and I think I can see where this went off the rails (and why different interpretations are possible - until you hit the

[2020-05-14 15:25] smitpatel commented on #2159
StartsWith translation has been added in 5.0 preview3 https://github.com/dotnet/efcore/issues/19800
Any issue is being tracked here https://github.com/dotnet/efcore/issues/20441

[2020-05-14 15:41] smitpatel commented on #2089
Probable cause since it is a constant expression of type list, when we look for query cache to find same tree, the constant values do not match (since it is a new list instance). Therefore generating a cache miss every time.

[2020-05-14 16:20] #2146 closed

[2020-05-14 16:21] xuzhg commented on #2141
Merged the PR. Thanks.

[2020-05-14 16:21] #2141 closed

[2020-05-14 20:22] mikepizzo commented on #2159
Thanks @smitpatel!

Will close this issue on the OData side. In the meantime, @reddaiahnethi -- if you want to verify StartsWith in 5.0 preview3, you can let us know if you run into any issues.

[2020-05-14 20:22] #2159 closed

[2020-05-15 07:58] PatrickHofman commented on #2141
Thanks all for your effort!

[2020-05-15 13:46] tinonetic commented on #1748
Thank-you guys. As @NetTecture  mentioned too, we also tried using AutoMapper but it broke the OData functionality. We ended up using it as is and it worked so far. We

1. ran against a DB view(meaning readonly) with only the minimal possible data, zero sensitive data
2. used the paging attribute to enforce paging
3. secured it using IdentityServer

That's the best we could do

We are currently tr

[2020-05-15 13:50] JohnGalt1717 commented on #1748
@tinonetic

The issue is EF Core 3.0. Basically what's happening is that it supports WAY fewer queries server side, AND they eliminated client side evaluation except for on the result from the server.

So, OData effectively breaks in a ton of cases where it was fine before, and there's a ton of cases where complex queries that then have odata applied to them will just fall over.

I.e. the very cas

[2020-05-15 14:26] NetTecture commented on #1748
As a workaround: Use EntityFramework, NOT CORE - it works fine in .NET core 3.1. Just finishing moving my whole project over.

I have no idea about how one working on an OR/Mapper can be so arrogant as the EfCore team is - but they seriously seem to think that their Hello World examples are all that there is and have no inclination to actually fix the product in anything you would possibly call ac

[2020-05-16 09:34] tomasfabian commented on #1748
I tried to trivially use Automapper with `IQueryable<T> ProjectTo`, but it seems that it automatically increases the payload (it fills navigation properties) without explicitly declaring `Include/Expand`. As it is done during projection if I understand it correctly, `DisableLazyLoading` won't help in this case.
EF Core was able to fetch the data from db, but EF 6.4 throws:
_'Sample.Domain.DTO.Book

[2020-05-16 15:36] NetTecture commented on #1748
It is quite trivial to write a program that analyzes the expands coming from an odata query context and extract the necessary includes (which you can turn into ProjectTo). I did so in about a day back when we started with automapper.

[2020-05-18 09:39] jiggyswift commented on #1936
I posted this in Hassan's blog, but it really belongs here on this issue.  I don't think the Microsoft team really understands how useful this feature is.  For example, salesforce supports OData v4 $search feature already for free form text searches, and right now the Middleware throws an exception if $search is included in a querystring.  So this needs to be fixed, and the information in the quer

[2020-05-18 20:26] chrisspre commented on #2095
Hello, what is the GetOrders method?
Is that the actual method on the controller reusing the same controller for each call? Or is this a wrapper arround the http call ?
The way the library is designed, the query validation is not thread safe. This is typically not a problem since a new instance of the controller (including the validation) is created per http call.

[2020-05-18 23:41] shagilt commented on #2162
Ping.

What is the default value for PageSize in EnableQueryAttribute?

[2020-05-19 08:19] ankitpatel5989 opened #2165 "expand causes N +1 query problem when we are using SQL parameter"
I am facing N+1 query problem when I am expanding data through Odata

I found below link in which mentioned issue is solved
https://github.com/OData/WebApi/issues/1463

I have installed Microsoft.ASPNETCore.Odata V7.4.0 which is latest one available in nuget.

I am able to resolve it for without using FromSQL. Its also working fine when using FromSQL withoutany SQLParameter.

But in one of my appl

[2020-05-19 14:37] JESUS-PEREZ opened #2166 "OData Complex type collection in navigation property is null when expanded"
The issue appears when expanding a navigation property (entity type) which contains an oData complex type collection.

### Assemblies affected

Microsoft.AspNetCore.OData v7.1.0
Microsoft.EntityFrameworkCore v2.1.1

### Reproduce steps

1. Create an entity ("Object") with a navigation property ("AttributeValues") where the navigation entity ("AttributeValue") contains a property which is a collect

[2020-05-19 15:34] KenitoInc commented on #2162
Related issue #1265

[2020-05-19 22:04] xuzhg commented on #2166
Hi, @JESUS-PEREZ I made some changes for your sample, it works fine at my side.

I attached the changed (it's zip, you can unzip it and apply the patch).

[0001-Test-issue-https-github.com-OData-WebApi-issues-2166.zip](https://github.com/OData/WebApi/files/4653448/0001-Test-issue-https-github.com-OData-WebApi-issues-2166.zip)

Here's the snapshot:

![image](https://user-images.githubusercontent.co

[2020-05-19 23:34] shagilt commented on #2162
@karataliu I am kind of confused. So, this is related to #1265 and still an active bug?

[2020-05-20 04:09] artmasa commented on #1107
I'm facing problems with this. Any update on this? `NestedValue` property getter is casting primitive values to `GroupByWrapper` where there's no implicit operator to execute such cast.
BTW I'm running the related query against in memory IQueryable.

[2020-05-20 13:17] habbes commented on #2075
@henrikdahl8240 I did some digging to find out how to detect "bonus arguments". Each action parameter is resolved by a model binder, so one could check which `ModelBinder` handles a particular parameter. Each model binder type has an associated `ModelBinderProvider` which are registered by the `AddMvc()` method. You can find the list of built-in model binders here: https://docs.microsoft.com/en-us

[2020-05-20 17:03] j-childers commented on #1898
Seeing the same problem here in .NET Core 3.1 and OData 7.3.0

[2020-05-20 19:09] mitselplik commented on #2164
@xuzhg My understanding from [this blog](https://devblogs.microsoft.com/odata/experimenting-with-odata-in-asp-net-core-3-1/) posted back in December was that OData doesn't support end-point routing yet and that routes still required configuration through UseMvc(...).  Is that no longer the case?

[2020-05-20 21:15] xuzhg commented on #2164
@mitselplik Endpoint routing is enabled in 7.4 version. Hassan also has a blog describing endpoint routing used in OData at https://devblogs.microsoft.com/odata/enabling-endpoint-routing-in-odata/

[2020-05-21 00:08] hsinyu-chen commented on #2096
@fairking  if you use `net core 3.1` ,you may need AddNewtonsoftJson() for odata

[https://stackoverflow.com/questions/59381408/odata-on-net-core-doesnt-return-the-right-results-on-select?answertab=votes#tab-top](https://stackoverflow.com/questions/59381408/odata-on-net-core-doesnt-return-the-right-results-on-select?answertab=votes#tab-top)

[2020-05-21 02:26] mitselplik commented on #2164
The endpoint routing code changes worked and allow me to inject my custom routing convention.  But I think I am either doing something wrong, or what I want to do is simply non-standard and not supported.

Basically, I am trying to get a URL like `~/Parent({key})/Children({relatedKey})` to work in a situation where the child class actually has a composite key, so that the Uri returns a sub-set of

[2020-05-21 02:37] xuzhg commented on #2164
@mitselplik I am sorry I can't fully understand your problem? maybe it's better for us to help you if you can provide a repro, you can just create a repo on github with codes and share a link with me?

[2020-05-21 10:19] fairking commented on #2096
@hsinyu-chen Yeah. I knew it as my NHibernate IQueriable wasn't working without `AddNewtonsoftJson()`. Ones more many thanks for you guys.
https://github.com/nhibernate/nhibernate-core/issues/2334#issuecomment-606111593

[2020-05-21 16:19] zinov opened #2170 "Swagger is not working when adding Odata as part of the parameters of an ActionMethod"
I have a problem with swagger documentation when I have ODataQueryOptions(I am using Non-edm approach to implement odata options, dotnet core 3.1, Swashbuckle.Aspnetcore 5.3.3, Microsoft.Aspnetcore.odata 7.4.0).
When I click the method that has OdataQueryOptions as a parameter, the swagger UI page got stuck and crash. If I remove the OdataQueryOptions the swagger UI is working as expected. Here is

[2020-05-21 18:09] gathogojr opened #2171 "Configured ODataMessageQuotas settings being overwritten with default when generating batch response"
There's a subtle bug in OData Web Api where the `ODataMessageQuotas` settings for batch request that are configured from the service are overwritten with defaults when generating the batch response [here](https://github.com/OData/WebApi/blob/dbb60aa532fefc3a333ba843f96b59ebb2501567/src/Microsoft.AspNetCore.OData/Batch/ODataBatchHttpRequestMessageExtensions.cs#L194)

![image](https://user-images.gi

[2020-05-21 19:18] gathogojr commented on #2163
Hi @bramakrishna16
Kindly note that the OData Web API feature/netcore branch is not being maintained. The [master](https://github.com/OData/WebApi) branch has everything you require to build an OData service powered by ASP.NET Core. In particular, you case use the Microsoft.AspNetCore.OData 7.4.0 [nuget](https://www.nuget.org/packages/Microsoft.AspNetCore.OData/) package

Below is how you can conf

[2020-05-22 00:03] mitselplik commented on #2164
@xuzhg Sam think you so very much :-)  I have a completed sample project at https://github.com/mitselplik/widget-web-api
Please look for the "THIS DOESN'T WORK"comments in the controllers.

[2020-05-22 03:00] dsmauricio commented on #2118
Microsoft.AspNetCore.OData (7.4.0) is also affected, any workaround so far?

[2020-05-22 06:27] gathogojr commented on #2163
@bramakrishna16 Further to my response above, it turns out that the message reader relies on the `MessageQuotas` settings from the dependency injection container while the message writer relies on the settings from the `MessageQuotas` property of `ODataBatchHandler`. I'd be the first to admit that this is not a fool-proof setup and we'll be following through to address it.
Either way you can ride

[2020-05-22 06:31] habbes commented on #2089
Hi @smitpatel @vladimir-kanev it appears that WebAPI already handles constant parameterization, but that feature was not enabled for collection constants, this PR #2172 fixes it.

I did notice some strange behaviour related to the number of cached entries before my PR. When I flooded the server with 1000 queries, then took a snapshot of the memory (using VS's studio diagnostic tools) I would find

[2020-05-22 06:43] smitpatel commented on #2089
As I explained earlier, without the fix, it is a new constant expression every time which generates a different expression tree hence query cache miss. So in order to execute query EF Core will compile the query and store the delegate in the cache hence you see rise in cache by the same amount number of queries. The decrease could possibly be something causing IMemoryCache to release some entries,

[2020-05-22 06:52] habbes commented on #2089
Thanks @smitpatel I got the reason why it increased. What puzzled me is why it stopped increasing and why it decreased. Thanks for the hint.

[2020-05-22 07:06] smitpatel commented on #2089
Probably upper limit on the cache size. This specifies upper limit on cache size when EF Core registers it internally (unless provided by the user) https://github.com/dotnet/efcore/blob/85b57af827aa71b77d673e813e046d081c8027ed/src/EFCore/Infrastructure/EntityFrameworkServicesBuilder.cs#L262

[2020-05-22 10:07] adomass commented on #2015
Are there any plans to fix this issue soon? This seems to be one of the top things that might stop us from being able to use OData. Buying a box of beer for someone that would fix aggregate functionality for ef core 3 :)

[2020-05-22 13:27] vulegend commented on #2139
Any updates on the issue?

[2020-05-22 14:40] fairking commented on #2015
@adomass Did you try to use `services.AddControllers().AddNewtonsoftJson();`? It seems to solve some of the issues.
I am using NHibernate and those guys fixed all issues. There is going to be a new release with fully working odata support. https://github.com/nhibernate/nhibernate-core/issues/2334

[2020-05-22 15:58] henrikdahl8240 commented on #2075
@habbes I hope it is a sound approach, but I do not have knowledge on the internalt to the extent I may judge it. From computer science point of view it obviously sounds intuitively reasonable.
@xuzhg What do you say, might it be a valid approach?
@xuzhg Do you think, that one of your nightly builds could incorporate this, so it can be used with .Net 5.0 Preview 4, because then I would like to try

[2020-05-24 15:55] gathogojr commented on #2051
@kalavany FYI, issue fixed in this ODL PR https://github.com/OData/odata.net/pull/1783

[2020-05-24 15:56] #2051 closed

[2020-05-25 10:53] Mhirji commented on #1726
Have the same problem, except with Guids, in 7.4.1.  In my case though, the workaround does not work.

[2020-05-25 12:47] sandeepagrawal921 opened #2173 "issue while filtering on dynamic string property with tolower() function - Microsoft.AspNetCore.Odata -7.4.0"
*issue while filtering on dynamic string property with tolower() function*

### Assemblies affected

*Microsoft.AspNetCore.Odata -7.4.0

### Reproduce steps
*
1. Add dictionary object in response.
2. Try to filter on the dictionary key with tolower() function as we want to filter data with case-insensitivity.

### Expected result

*Result data should filter as per expectation*

### Actual result

[2020-05-25 12:50] sandeepagrawal921 commented on #1180
Hi Team,
This is still an issue in Microsoft.AspNetCore.Odata -7.4.0. Do we have any solution for this yet? this is kind of urgent for client implementation.

[2020-05-25 21:58] josundt opened #2174 "System.Text.Json support"
The latest version of `Microsoft.AspNetCore.OData` (v7.4.1) still depends on `NewtonSoft.Json` for correct JSON serialization, e.g. when using `$select`.

Using OData with AspNetCore's current default serializer `System.Text.Json` will not serialize projection queries correctly.

Please see #1929 or #2038 for further details.

I'm happy that endpoint routing is finally supported. When can we expec

[2020-05-26 08:10] magneticcore commented on #2133
For information, I tested with OData 7.4.1 and .Net 5.0 Preview 4.20220.10, still the same problem.

[2020-05-26 08:48] KenitoInc commented on #2028
Hey @fabiano
I have looked at your repo and the main cause of the MaxExpansionDepth issue is how you have define your navigation properties. You can either use one of the below solutions
- Add a Contained attribute to the expanded properties in the model
- Add entity sets for all entity types in the model builder

Below is some valuable information regarding navigation properties.
Odata supports n

[2020-05-26 08:56] Mhirji commented on #2133
I am also experiencing this with 7.3, 7.4, and 7.41 on EF core 2.x.  On 7.3 only, it seems like it works IF the sub-entity's key field is marked as nullable in its class.   I believe that the following issues are all related, but am not 100% sure . . .

https://github.com/OData/WebApi/issues/2135
https://github.com/OData/WebApi/issues/2138

There is a workaround mentioned in the latter, but again,

[2020-05-26 11:56] gathogojr commented on #2173
@sandeepagrawal921 Kindly share your $filter query/expression or something close enough to your actual scenario that can provide us a good view of what you're working with.

I'm not sure I understand what you mean by this statement: "filter on the dictionary key"
Do you mean filter by a dynamic property stored in the dynamic property container (dictionary of `string` and `object`)?

Kindly provide

[2020-05-26 12:28] HorunS commented on #2010
Hello.
We have the same problem. We use HasJsonConversation for string property to work with string as with List<custom type>object (model has text property "FilesInfo" in DB and we convert it to List<FileInfo> Files; so basically we store json array in string property and work with it via conversation to our custom type).
It works fine with custom api and odata query(it returns array of FileInfo

[2020-05-26 15:06] sandeepagrawal921 commented on #2173
Hi @gathogojr ,
you are correct. I mean filtering by a dynamic property stored in the dynamic property container (dictionary of string and object). In the below-given class model screenshot, position data is the response returned from API where ESGScores is a dictionary object in position data model response. When we try to filter out the value by one of the EsgScores property, we want to do it by

[2020-05-26 16:12] gathogojr commented on #2170
Hi @zinov. The issue is likely to be on Swashbuckle side rather than OData. Have you raised the issue with the Swashbuckle team?

[2020-05-26 16:41] gathogojr commented on #2174
@josundt We currently don't use NewtonSoft.Json for serialization/deserialization. We read and write the Json directly to the wire to take advantage of some important optimizations. We're adding support for reading/writing metadata as Json and we're using System.Text.Json for that

[2020-05-26 16:43] gathogojr commented on #2174
@josundt Can you describe what you're trying to do? Are you swapping the serializer with System.Text.Json

[2020-05-26 19:06] josundt commented on #2174
I made a small app to demonstrate the problem:

Please clone repository at https://github.com/josundt/odata-serialization-test. This is an AspNetCore App with one API controller and a single HTML page. The page executes API requests and displays the JSON response. The Controller Action Method uses the `[EnableQuery]` attribute for OData support.

1. Run the application.
2. Notice that the response

[2020-05-26 19:41] gathogojr commented on #2173
@sandeepagrawal921 Is `MSCI_ESG__Social__ScoreAssessmentCategory` an enum type?
If it is, you won't be able apply `tolower` function the way you're doing
The following could work if it is an enum type:
[code]

Otherwise for the case of a dynamic property of type `string` I was able to reproduce the issue. Seems that in that scenario `tolower` function throws an exception with the message: `The que

[2020-05-26 21:22] joeburdick opened #2175 "Errors using DTOs with polymorphism and Entity Framework"
When projecting database models to DTOs with inheritance before applying OData queries, expressions are generated to determine type that are not compatible with Entity Framework 6.

### Assemblies affected

Microsoft.AspnetCore.OData (7.4.0)

### Reproduce steps

Database models and API DTOs are defined as follows:

[code]

Startup is configured like so:
[code]
Controller is defined like:

[code]

[2020-05-27 00:42] zinov commented on #2170
Yes I did it on both sides

On Tue, May 26, 2020, 12:12 PM John Gathogo <notifications@github.com>
wrote:

[2020-05-27 06:06] gathogojr commented on #2174
@josundt I took a look at your repro.
The reason your service is not behaving as expected is because you're missing something at the section where you add the endpoint execution to the middleware pipeline.
Where you call the **UseEndpoints** extension method to configure the endpoints, you need to add
[code]
The Edm model must be used to describe the data exposed by an OData service and the custom

[2020-05-27 06:28] sandeepagrawal921 commented on #2173
Hi @gathogojr ,
This is not enum, this is the case of a dynamic property of type string which you have mentioned in later part of your last reply. Is it possible to look into this/fix this as this is bit urgent for us.

I appreciate your quick response. thank a lot.

[2020-05-27 09:11] gathogojr commented on #2174
@josundt Here's what I meant when I said that we don't use System.Text.Json. When `AddOData()` is invoked, the custom OData input and output formatters are added to the very top of the list of formatters. The System.Text.Json formatter (default for Asp.Net Core I believe) is at the very bottom so it shouldn't take precedence just because you didn't apply the Newtonsoft.Json formatter

![image](htt

[2020-05-27 09:12] gathogojr commented on #2174
cc. @xuzhg @mikepizzo

[2020-05-27 11:52] lyzerk commented on #2015
@fairking this one is solved my problem on EF Core 3.1

Thanks !

[2020-05-27 17:16] agrabhi opened #2184 "$select and $expand does not for properties only in derived types, when the query options are allowed only on controller actions and not globally."
'If query options is not enabled in webapi.config and enabled only in controller action.
and if the derived type has navigational property which is not in base
then expand and select on derived type doesn't work.

This works if the query options are enabled in webapicofig.cs.
Showed the issue to SamXu

### Assemblies affected

Microsoft.AspNet.OData - 7.4.1.0

### Reproduce steps

Use the project

[2020-05-28 06:46] gathogojr opened #2176 "Enable lower camel case option does not take dynamic properties into account"
Enable lower camel case option used with `ODataConventionModelBuilder` does not take dynamic properties into account. Only declared properties' names are converted to lower camel case

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.0

### Reproduce steps

1. Create an OData Web API project
2. Add an open entity type
[code]
3. Build the Edm model using `ODataConventionModelBuilder` and tog

[2020-05-28 06:47] gathogojr commented on #2176
NOTE: Fix would be a breaking change

[2020-05-28 07:44] henrikdahl8240 commented on #2075
I would just like to inform, that now I have tried using .Net 5.0 Preview 4 and it's the first version where I do not get exceptions from the OData server when putting it under stress after moving to OData 7.4.0 using endpoint routing. I just did not want the comment above to be hanging as the issue does not apply anymore.

[2020-05-28 08:42] YoannaAtanasova opened #2177 "Problem when generating OData nextlink skiptoken with date containing offset"
There is a problem when using Odata Web API with dates that are not in UTC time zone. When we get the first page of data there is a nextlink with skip token generated, like so:

"@odata.nextLink":"https://localhost:44331/odata/weatherforecast?$skiptoken=StartDate-2020-05-29T08:48:29.2464819+01:00"

This is problematic. because of the special characters like '+', that cannot be passed as a query st

[2020-05-28 09:24] anranruye opened #2178 "How to make automatic implement for querying a single property of an entity object?"
In the part of OData Web API of book _Professional C#_, the author defines odata controllers, each controller have two Get methods to return entity collection and single entity, no other methods.The author introduces some queries like:
        ~/odata/books(1)/title
        ~/odata/books(1)/chapters
But when i run this sample project myself,these queries do not work.

I do know that i can create a

[2020-05-28 10:00] josundt commented on #2174
@gathogojr We are using the Non-Edm Approach.

In the article you referred to (https://devblogs.microsoft.com/odata/enabling-endpoint-routing-in-odata/), there's a chapter __"Non-Edm Approach"__.

The chapter starts as follows:

_"If you decide to go the non-Edm route, you will need to install an additional Nuget package to resolve a Json formatting issue as follows:_

_First of all install __Micr

[2020-05-28 18:54] xuzhg commented on #2178
@anranruye Would you please share the link for your repo? or the Book "Professional C#"?

At OData, by default you need a addition methods like "Get+PropertyName" to query a single property. For example, `~/odata/books(1)/title` needs a method named "GetTitle"

[2020-05-29 02:41] anranruye commented on #2178
@xuzhg Forget the book and let's just face the problem itself.
There seems to be no other solution than add additional methods like "GetTitle" and "GetChapters"?
And without these additional methods,I can only perform queries like:
~/odata/books(1)?$select=title,
~/odata/books(1)?$select=chapters&$expand=chapters,
~/odata/chapters?$filter=bookId eq 1
instead.
Is this right?

[2020-05-29 05:22] ewkonzo opened #2180 "Enum Filter broken throwing Object must implement IConvertible"
*Short summary (3-5 sentences) describing the issue.*

A query  ```someTable?$filter=enumField in ('enumValue1','enumValue2')``` on a working project with OData WebApi lib 7.4.0 breaks after updating to 7.4.1. all methods using enum in results in an exception ```InvalidCastException: Object must implement IConvertible.``` reverting to 7.4.0 fixes the issue.

### Assemblies affected

OData WebApi l

[2020-05-29 13:50] henrikdahl8240 commented on #2075
@habbes  Does your PR make all the possibilities at https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/odata-routing-conventions available?

Does it for instance make this example available:

POST /entityset(key)/cast/action | /Products(1)/Models.Book/CheckOut | ActionNameOnEntityType or ActionName | CheckOutOnBook
-- | -- | -- | --

For instance you may have

[2020-05-29 13:56] habbes commented on #2075
@henrikdahl8240  based on the test suites, I believe that is also supported. But I can try a small repro to confirm that it is the case.

[2020-05-29 15:32] henrikdahl8240 commented on #2075
@habbes It is very kind of you. I hope you will share the result of your findings. It can also be, that the general idea was already supported by the general OData stack for .NET Core. It would also be easier, if there would be corresponding documentation for the .NET Core version, which I have not managed to find.

[2020-05-29 15:38] henrikdahl8240 opened #2181 "OData v4 Client Code Generator finally by VS 2019?"
Couldn't it be an idea to finally make the OData v4 Client Code Generator to work by VS 2019, i.e. https://marketplace.visualstudio.com/items?itemName=bingl.ODatav4ClientCodeGenerator.

I think it's just really annoying to need to go back to VS 2017 just in order to make the generator to run. I am also not interested in having VS 2017 only for this single reason.

It's not much more than a re-comp

[2020-05-29 15:41] henrikdahl8240 opened #2182 "TypeScript alternative for the OData v4 Client Code Generator?"
Can some of you suggest some alternative for the OData v4 Client Code Generator, i.e. https://marketplace.visualstudio.com/items?itemName=bingl.ODatav4ClientCodeGenerator, which generates TypeScript?

Or alternatively, do some of you know of some other reasonable way of using an OData server from TypeScript?

[2020-05-31 03:35] #2178 closed

[2020-05-31 20:43] davidyee commented on #880
We noticed $expands (and also an auto-expand ModelConfiguration definition) not working for ComplexTypes either even with necessary EF Includes (SQL query looks correct as well in terms of performing the actual joins needed and runtime debug shows that the data exists in the model too). A workaround on this issue for us was to define the ComplexType instead as an EntitySet (and of course, manually

[2020-06-01 06:27] rjayabalan-apttus commented on #1700
Guys, any update on this in the latest version? If not, what is the work-around?

[2020-06-01 17:54] mikepizzo commented on #2174
Hi @josundt  -- can you provide a little more info on why you are using the "Non-Edm Approach"?  Is there a reason you can't use the "Edm Approach"?

Although it is possible to use some of the OData features individually, they weren't initially designed that way initially, and doing so can lead to unexpected results (like the issue mentioned in the article).  While we are working on modularizing t

[2020-06-01 20:25] garethj-msft opened #2183 "REOPEN: Publish symbols to Microsoft symbol server"
The nuget symbol server is terminally unreliable - please publish to Microsoft symbol server instead.
This is a reopen of  #1595
It also gives the strong impression that OData isn't a serious part of the Microsoft stack when it isn't part of the normal debugging set and you have to go to a different symbol server.

### Assemblies affected

All OData assemblies.

### Reproduce steps

Try to use sym

[2020-06-01 22:46] xuzhg commented on #1792
@brinehart did you get a change to try the workaround in https://devblogs.microsoft.com/odata/how-to-consume-sql-spatial-data-with-web-api-v2-2-for-odata-v4/?
I'd like involve @mikepizzo  here for priority.

[2020-06-02 04:46] shoguns6 commented on #1898
Facing the same problem in .NET Core 3.1 and OData 7.3.0

[2020-06-02 04:47] shoguns6 commented on #1898
Me too!!

[2020-06-02 05:47] xuzhg commented on #2180
@ewkonzo [here](https://docs.microsoft.com/en-us/odata/changelog/webapi-7x) is the 7.4.1 release note. It's weird that there's no related change to the filter. On possible is [this](https://github.com/OData/WebApi/pull/2053/files) change. Would you please share us a github repo for us to dig more?

[2020-06-02 05:51] xuzhg commented on #2177
@YoannaAtanasova I remember it supports to customize the SkipToken through DI. See https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Extensions/ContainerBuilderExtensions.cs#L54
Can you try it?

[2020-06-02 05:53] xuzhg commented on #2176
If it's urgent, we can have a configure to enable it, but by default keep it as it goes.

[2020-06-02 07:00] YoannaAtanasova commented on #2177
Hi @xuzhg ,

I don't need to customize the SkipToken.
I need the SkipToken values to be encoded as you do with the Filters values.

Otherwise the default SkipToken is useless when special characters are included.

I think it's a bug that need to be fixed.

Do you suggest me to try to find a workaround for the issue?

[2020-06-02 07:22] gathogojr opened #2185 "InvalidOperationException when a function with an explicit route is not included in Edm model"
If a function with a route explicitly set using `ODataRoute` attribute (plus with `RouteName` property not set) is NOT included in the Edm model, an `InvalidOperationException` is raised when you attempt to browse the metadata or hit any endpoint

Does this mean you can't have a function with an explicit route just lying around in your codebase?

### Assemblies affected
- Microsoft.AspNetCore.ODat

[2020-06-02 07:28] gathogojr commented on #2185
FYI: `RouteName` property was added to the `ODataRoute` attribute in this PR to address a different issue https://github.com/OData/WebApi/pull/1390

[2020-06-02 09:03] sandeepagrawal921 commented on #2173
@gathogojr
Hi John, Any updates on this?

one more quick query is, to apply filter on decimal fields do we need to append **M** in decimal field filter value ?

[2020-06-02 15:33] NGromann opened #2186 "@odata.context for contained entities"
Stated in [OData Version 4.0. Part 1: Protocol Plus Errata 03](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_Toc453752257) 10.2
`If the entities are contained, then entity-set is the top-level entity set followed by the path to the containment navigation property of the containing entity.`
But when I request a c

[2020-06-02 17:32] marabooy commented on #2186
@NGromann  A contained navigation in this case would only exist in the collection of the parent and can only be accessed through the parent.

In your case the model you have built doesn't describe containment. In order to fix it you would need to
1. remove cube from the model description

[code]
2. Add the contained Attribute to the property that defines the relationship
[code]
Kindly do check [th

[2020-06-02 17:32] #2186 closed

[2020-06-02 18:28] freemstr commented on #1866
Are there any updates on this?
Thank you

[2020-06-02 20:29] mitselplik opened #2187 "Default Attribute Routing for unbound functions isn't working."
Unless I am doing something wrong, Default Attribute Routing for unbound functions isn't working.

### Assemblies affected
Microsoft.AspNetCore.OData (7.4.1)

### Reproduce steps
1. Specify an unbound function in your Edm
[code]
2. Create a controller class with appropriate method and Attribute
[code]
3. Configure routing and Edm use in Startup:
[code]
### Expected result
A request to the followin

[2020-06-02 23:54] xuzhg commented on #2187
@mitselplik

Some hints maybe help you:
1) Doesn't config the function to return the IActionResult. you can return any built-in type. for example `funcSayAnything.Returns<string>();`

2) functionimport or unbound function call, the syntax is that :
To invoke a function through a function import the client issues a GET request to a URL identifying the function import and passing parameter values us

[2020-06-03 00:06] xuzhg opened #2188 "Consider to enable convention routing for unbound function/action"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

* So far, attribute routing is the only option for customer to use function import or action import.

May it's time to add the  built-in convention routing for unbound function/action.

### Design

To invoke a function through a function import the client issues a GET request to a URL identifying the function import an

[2020-06-03 00:57] xuzhg commented on #2180
@ewkonzo I have an investigation project at: https://github.com/xuzhg/WebApiSample/tree/master/IssuesOnWebApi/Issue2180

It works fine using 'In" operator on enum property, and it is using 7.4.1. Please take a look and let me know any problem?

[2020-06-03 01:00] xuzhg commented on #2183
@garethj-msft Do you know any guide about how to push package to Microsoft Symbol server?

[2020-06-03 08:59] KenitoInc commented on #2028
Hey @fabiano
Did you get a chance to look at my suggested fixes?

[2020-06-03 09:52] ben5Kuda commented on #2045
I can confirm that this is an issue that i am also experiencing since migrating to .NET Core 3.1. OData unbound actions fail to map correctly and the ODataActionParameters are always null.

[2020-06-03 11:23] fabiano commented on #2028
@KenitoInc Yes, I was able to use the non-contained navigation solution without problems. Thank you for your help.

[2020-06-03 12:38] KenitoInc commented on #2028
@fabiano That's great. Let me close this issue for now. Incase you have more issues, feel free to reopen this issue or create a new issue

[2020-06-03 12:38] #2028 closed

[2020-06-03 16:19] subseqenz commented on #2118
Same issue for me in Microsoft.AspNetCore.OData (7.4.1). In fact, one cannot use OData's $select with CosmosDB right now.

I would love to see this fixed.

[2020-06-03 20:13] xuzhg commented on #2045
@NetTecture

[This blog](https://devblogs.microsoft.com/odata/tutorial-sample-functions-actions-in-web-api-v2-2-for-odata-v4-0-type-scenario/) illustrates the bound/unbound, action import and function import.

From your metadata, I see the following "SingleChange" action defined, from the attribute "IsBound" equals to "true", it's a bound action.

[code]

So, I can't understand you mentioned "Sing

[2020-06-04 06:44] andreivasilebogdan commented on #1672
Hello!
Are there any updates in regards with this issue/feature?

[2020-06-04 06:56] vladimir-kanev commented on #2089
Thanks @habbes! The problem is fixed in v7.4.1

[2020-06-05 07:34] bramakrishna16 commented on #2163
Hi @gathogojr ,

I tried this workaround and this works as expected. Thank you very much for your time!

[2020-06-05 07:34] #2163 closed

[2020-06-05 09:54] ewkonzo commented on #2180
@xuzhg Thanks for taking your time... I was finally able to reproduce the issue in this repo
https://github.com/ewkonzo/OdataIssue2180

Apparently it only occurs when a real database is used.. please take a look

[2020-06-05 18:58] xuzhg commented on #2180
@ewkonzo I tried to run your sample, but i got the following error:

![image](https://user-images.githubusercontent.com/9426627/83912923-8842e200-a723-11ea-8de4-ef36c08086f6.png)

By the way, i also tested in my sample, at:
https://github.com/xuzhg/WebApiSample/tree/master/IssuesOnWebApi/Issue2180
using EFCore 5.0. below is the output:
![image](https://user-images.githubusercontent.com/9426627/839

[2020-06-06 05:04] ewkonzo commented on #2180
@xuzhg I think you got an error because you didn't modify the connection string in ```Startup.cs``` to point to a PostgreSQL database like instructed on readme.

Thanks for the updated sample, I also tried reproducing with sqlitedb without success. I am positive there is the change in 7.4.1 only affecting Npgsql implementation and perhaps it can be fixed from that end.

My Sample using postgreSQL

[2020-06-07 18:40] gathogojr opened #2190 "Feature: Support Long URL Pattern in WebAPI OData"
While Http imposes no limits on the length of a URL, many hosting environments (including IIS) pose limitations which may restrict the client's ability to request the exact set of data that they are interested in. This is especially true as we push clients to use explicit select statements.

OData v4.01 introduced a [pattern](http://docs.oasis-open.org/odata/odata/v4.01/csprd05/part2-url-conventio

[2020-06-08 20:25] freemstr commented on #1866
@xuzhg
I worked around the issue, for now, by using $expand but here is what I ran into:

Project is being migrated from OData v3 to v4 7.4.1
so this is happening in a new project with the following configurations and no explicitly called model builder and no entity framework:

[code]
The error is happening only when calling GetGroupMembers

[code]

[2020-06-09 08:31] joaopgrassi commented on #2080
I know this is closed but not sure whether re-open makes sense, since there's so much context on it. I'm on EF Core 3.1.4 and OData 7.1.4 (ASP.NET Core) and I still get this:

[code]
When doing a simple `expand` and returning a `SingleResult` from my controller. My solution is a bit complex so it's hard now to tell if is something that we did or it's just broken again. Just wanted to check if I'm

[2020-06-09 08:48] henrikdahl8240 commented on #2080
@joaopgrassi You actually mean OData 7.4.1, not 7.1.4, don't you?
As you may see, I am the one who initially raised the issue. As you can see above, to me it also did not work with EF Core 3.1.4 and .NET Core 3.1. It works however with .NET 5.0 Preview 3 and Preview 4.
Perhaps you should also try with .NET 5.0 Preview 4. Probably you can just clone your solution folder to some other folder, update

[2020-06-09 09:29] joaopgrassi commented on #2080
@henrikdahl8240 , sorry you're right, I meant `7.4.1`. I can try to upgrade the .NET 5 but even if it solves it, I can't really use a preview in my prod system =/. I'll try later and update here.

[2020-06-09 09:35] henrikdahl8240 commented on #2080
@joaopgrassi Yes, I have the same problem, but if it works using .NET 5.0 Preview 4 as I suggest, you should probably address the issue to EF Core and not to OData, at least it is how I conclude. I will be quite interested if it doesn't work for you using .NET 5.0 Preview 4, because then I assume I will face the same problem as I will be going forward.
For your information, the exceptions I face a

[2020-06-09 22:02] ryandle opened #2193 "Delta<T>.GetInstance() doesn't return an instance with all changes for nested open types"
When patching an Entity type that has a property that is an open type, the Delta<TEntity>.GetInstance() method returns an instance that does not have changes applied to it (the property is still in the default state of TEntity.)

### Assemblies affected

Microsoft.AspNet.Odata v7.4.1

### Reproduce steps

I have added a test case to illustrate the issue: https://github.com/ryandle/WebApi/commit/02

[2020-06-11 14:58] pashokchakravarthi opened #2194 "Ability to customize the aggregation"
**BackGround :**  We are using _Microsoft.aspnetcore.odata v7.4.0_ package in .net core api to apply filtering, ordering, paging & column selection on flat data returned by api.

**Requirement :** We have to implement data aggregation and return the aggregated data along with original data. Sample screenshot for reference:
![o1](https://user-images.githubusercontent.com/15814359/84402145-b774ba00-

[2020-06-15 14:09] korygin commented on #1828
Hello,

Any ETA on the fix? It's been almost a year. We experience the same problem and it's critical for us as we use nested resources quite extensively.

Thanks,

Alex

[2020-06-15 23:17] davidyee opened #2198 "Deep update roadmap"
I've seen [the roadmap](https://docs.microsoft.com/en-us/odata/resources/roadmap) on the official docs and it appears to represent what's upcoming although without any sort of indication if it is still being worked on or any timeline.

One such feature that's mentioned is the Deep Update and the roadmap indicates it has been implemented in the ODL 7.6.2 (Dec. 2019) but not yet in WebAPI. Is this s

[2020-06-16 16:37] xuzhg commented on #2194
@kosinsky any input here?

[2020-06-16 16:43] kosinsky commented on #2194
In current implementation we will need to send two OData queries: one for aggregated data and one for flat data. OData specifications supports hierarchies and roll ups, but it isn't implemented yet.

[2020-06-17 10:20] ishan30 commented on #1898
I'm facing the same issue!
Has anyone know a way to handle this exception?

[2020-06-17 11:40] ishan30 commented on #1898
@KanishManuja-MS Is there a way to handle this?

[2020-06-17 13:07] shoguns6 commented on #1898
One way it worked for me is to explicitly call 'queryOption.Validate()'. this will throw an exception if there is any issue. The same can be caught my middleware.

[2020-06-17 13:15] SenyaMur commented on #1898
My solution:
[code]
In Startup.cs
[code]

[2020-06-17 15:37] hidegh commented on #1898
Usually errors that occur outside the MVC pipeline has to be handled by a middleware. These errors include:
1. any errors prior MVC pipeline is entered
2. any errors after the MVC pipeline (deferred iqueryable errors, serialization errors)

If you are returning an un-evaluated IQueryable (deferred) then you might have SQL execution errors, but also if there's some Serialization issue (circular dep

[2020-06-18 06:49] bdebaere commented on #2162
@shagilt Seems to be working fine to me. Can you share a repro of this failing?

This is my configuration:
netcoreapp3.1
Microsoft.AspNetCore.OData 7.4.1

[code]

This is the result when calling /odata/Products:
![afbeelding](https://user-images.githubusercontent.com/1436449/84987374-4d3ba800-b140-11ea-9500-f1825f396f4d.png)

[2020-06-18 06:58] bdebaere commented on #2158
@cilerler Seems to be working fine to me. Can you share a repro of this failing?

This is my configuration:
netcoreapp3.1
Microsoft.AspNetCore.OData 7.4.1

[code]

This is the result when calling /odata/Products?$count=true&$top=0:
![afbeelding](https://user-images.githubusercontent.com/1436449/84988215-e6b78980-b141-11ea-9337-a01a2955c08f.png)

[2020-06-18 07:17] bdebaere commented on #2161
@xuzhg I agree with @mitselplik that the default HasKey extension method should take into account the column ordering specified in order of priority: 1. via the order given by the Order property, 2. via the ColumnAttribute, 3. via the order in which the properties are given to the method.

[code]
Should give an order of e.Year = 0, e.SupNumber = 1, e.PropertyId = 2.

[code]
Should give an order of

[2020-06-18 09:00] bdebaere commented on #2098
@jonpfowler Do you have a project with a repro for me? I can't seem to be able to reproduce this, I keep getting a 404 when adding multiple filter parameters.

[2020-06-18 09:04] bdebaere commented on #1994
@xiaotupansy Do you still have this issue? Can you add a repro project please if you do so I can investigate?

[2020-06-18 09:32] bdebaere commented on #2100
@burrowj I think you are out of luck with this one. This is the behavior of System.Reflection. The issue lies in Type.GetProperties() returning multiple PropertyInfo objects. As is evident by the code below. The only way OData could fix your problem is if TypedEdmStructuredObject.CreatePropertyGetter would modify its GetProperty call to use BindingFlags.DeclaredOnly, which would of course break ev

[2020-06-18 09:36] reddaiahnethi opened #2202 "Filter on a property is being allowed, even though attribute is set as not filterable using Filter Attribute [Filter(Disabled = true)]"
*Filter on a property is being allowed, even though attribute is set as not filterable using Filter Attribute [Filter(Disabled = true)]*

### Assemblies affected

*Microsoft.AspNetCore.OData 7.4.0*

### Reproduce steps

*Define a property as filterable false as shown below*

[code]

And in the controller

validate the filters as below
[code]

### Expected result

*If filter applied on the attribut

[2020-06-18 09:54] reddaiahnethi opened #2203 "Marking a property as IsNotFilterable(), which is part of a Model shared across entities or Extended by other entities , making the OData response incomplete"
*Marking a property as IsNotFilterable(), which is part of a Model shared across entities or Extended by other entities , making the OData response incomplete*

### Assemblies affected

*Microsoft.AspNetCore.OData, Version=7.4.0.0

### Reproduce steps

*
[code]
Define the models as above

Controllers code

[code]
If the code is like below, the response is incomplete like below

[code]

ModelConfig

[2020-06-18 13:14] ishan30 commented on #1898
Thanks for the revert.

When I pass some query as expand, my api gives correct result and in case of in vague query parameter  for example "$expand=qwe123" it gives me 400 bad request with exception message : "Query specified in URI is invalid"

type : ODataException

Is there any way that I can handle this in my controller?

[2020-06-18 18:33] pashokchakravarthi opened #2204 "Issue with long query string"
**Issue:** We prepare odata query string based on user's  column & filter section and make API call to fetch data. Due to query string length limitation of HTTP Get request, some times we are unable to get data from API.
As a workaround, we are trying to make POST request and setting odata Query params in action method(before any odata code executed by EnableQuery action filter) :
_HttpContext.Req

[2020-06-18 21:37] burrowj commented on #2100
bdebaere thanks for your feedback and your generics suggestion.  My orig suggestion was to use a new attribute to solve the problem which would then make the functionality optional without breaking existing code.

[2020-06-19 07:12] shoguns6 commented on #1898
in the controller get method.... use OdataQueryOptions explicitly... like the one below.. or u can catch that error in middleware.
Supporting ODataQueryOptions in existing Web API

|
|
|
|  |  |

 |

 |
|
|  |
Supporting ODataQueryOptions in existing Web API

I have a Web API project which has been used for several years without OData support, just with standard URL par...
 |

 |

 |

    On Thurs

[2020-06-19 11:49] bdebaere commented on #2100
@burrowj I understand your original suggestion. But sometimes you have to ask yourself: "if this is not supported by the language I am coding in, am I really going in the right direction here?". And I believe this is such a case. You are asking something of the C# language for which it was not designed.
It can definitely be solved via a custom attribute, but it can just as easily be solved with di

[2020-06-20 04:24] xiaotupansy commented on #1994
@bdebaere Yes, I do have this issue. And I found that many people here  faced exactly the same problem like me. I've tried to make a demo project but I find it will not throw any exception. I've uploaded some pictures when I debugged last year. That's all I can give.

[2020-06-21 18:44] npbenjohnson commented on #2079
I don't understand expression tree generation/parsing well enough to dig into this, but if it would be possible to move filtering into a chained "Where" statement instead of merging it onto the end of whatever IQueryable is passed in to OData, it seems like filtering would have a pretty good chance of working. Here's an example of what happens when you apply a filter on top of an automapper projec

[2020-06-22 08:07] bdebaere commented on #1994
@xiaotupansy If your demo project does not throw an exception, and your main project does throw an exception, I would compare the two projects to look for differences between them. In the worst case scenario, you will be able to provide a repro. In the best case scenario you will have solved the problem.

Another possibility is to take your main project, and strip it down until the exception no lo

[2020-06-22 09:00] xiaotupansy commented on #1994
@bdebaere Sorry but I cannot show code of my main project. I found this because I upgrade my project to .net core 3.1. Everything works in .net core 2.2.
I solved this problem by not using expand any more. I add some additional field in my model and get information from here. Because I also need to update data after getting data from odata. You can see my problem here: https://github.com/OData/Web

[2020-06-22 15:21] Bilal2070 commented on #2019
Did you try to use services.AddControllers().**AddNewtonsoftJson**();? It seems to solve some of the issues.
[](https://github.com/OData/WebApi/issues/2015)

[2020-06-22 15:28] Bilal2070 commented on #1413
Did you try to use services.AddControllers().AddNewtonsoftJson();? It seems to solve some of the issues.

[2020-06-23 16:10] PhbsSmn opened #2205 "OData with custom modelbuilder attached to Entity framework produces a duplicate left join"
I'm having an issue that I first didn't notice because my development machine was fast and my test set small. When publishing to a slower machine with a large dataset, I noticed that when an expand is given with a custom modelbuilder it creates a duplicat join and in turn creating a cross join.

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.1

### Reproduce steps

I created a small demo

[2020-06-23 16:13] Sreejithpin commented on #2205
Hi,
  We are investigating on this issue. Meanwhile for .net 5 Entity framework has significant updates and could try that

[2020-06-23 16:51] iant-ee commented on #1179
This link has now moved to https://docs.microsoft.com/en-us/odata/webapi/modelbound-attribute (shame Microsoft never seem to add redirects when they reorganise documentation)

[2020-06-23 17:28] mikepizzo commented on #2204
Hi @pashokchakravarthi --

HTTP does not specify a maximum length for a URL, however, web services (like IIS) may impose max limits on a URL length.  If you own the service you are calling, you may be able to se the URL length to a larger value to accommodate larger URLs.

Historically, folks have worked around the long URL problem by creating single-statement batch requests.  With batch requests,

[2020-06-23 17:28] #2204 closed

[2020-06-23 21:57] henrikdahl8240 opened #2206 "System.NullReferenceException thrown"
I have an OData query like:
`...Bikes(1)/ns.MountainBike?$expand=Children($select=P1,P2,ns.A/P3,ns.B/P4)`

Some of the instances in Children are of type A, none are of type B.

Unfortunately this exception is being thrown:

[code]
If I do this query instead, it works fine:
`...Bikes(1)/ns.MountainBike?$expand=Children($select=P1,P2,ns.A/P3)`

If I do this query, I get the same exception:
`...Bikes

[2020-06-24 07:44] henrikdahl8240 commented on #2206
I have made one more observations: If I query the whole collection of bikes, i.e. do not specify the key, I get the same exception, i.e.:
`...Bikes/ns.MountainBike?$expand=Children($select=P1,P2,ns.A/P3,ns.B/P4)`

BUT if the Bikes collection is empty, i.e. the Bikes table in the database has no rows, the query executes correctly without any exception!!

To me it looks immature, i.e. simple cases y

[2020-06-24 08:47] PhbsSmn commented on #2205
Hi,

I created a .net5 branch with the new entity framework updates in prerelease but the same issue occurs. I'll keep this sample project for trying out the suggested updates.

[2020-06-24 13:38] mwncidata commented on #739
Is there any update on this at all? Is there any support for adding the `Org.OData.Core.V1.Immutable` annotation on to individual properties in a complex/entity model? This seems like a pretty key missing feature from the OData specification.

[2020-06-24 13:46] MonkeyTennis commented on #1887
I am still seeing the original issue when using EF Core 3.1.5 and ASP.NET Core OData 7.4.1.

It appears that owned entities, whilst clearly populated in the IQueryable as observed server-side, deserialize to null in the client.

The comment of 11th May suggests this is fixed in the releases I am using. Is this definitely correct?

[2020-06-24 15:04] g2mula opened #2208 "Replace Microsoft.AspNet.OData.Builder.ModelBuilder with Microsoft.OData.ModelBuilder package"
Replace the internal ModelBuilder with OData/ModelBuilder

[2020-06-24 15:26] cilerler commented on #2158
I'm sorry, somehow I did miss this thread. I just complete the initial test, and you are right; it is working.
However, it is not working on my Blazor project and trying to narrow the scope; I will provide a repo/sample code as soon as I reproduce the issue with your sample.

[2020-06-24 22:17] henrikdahl8240 commented on #2206
As far as I know, I have now published a tiny sample to Github: https://github.com/henrikdahl8240/CastProblem20200624

You may see the few simple steps in todo.txt, which you can just copy/paste to your machine.

Can you see the problem now?

[2020-06-25 01:24] wayneforrest opened #2209 "How do I restrict access to a subset of data?"
I have a dataset, which contains data per userId. How do I restrict access to only certain data, a subset of the data?
`(select * from data where userId = 10)` where 10 is the the users Logged-In userId.

I can see two approaches:

1. Add the query at the request end (JavaScript), and then validate that the request is not trying to access restricted data, e.g. otter users data, by using a ODataQue

[2020-06-25 10:08] joaopgrassi commented on #1792
@xuzhg  the work around above is for WebApi 2 but what about ASP.NET Core with EF Core + NTS?

[2020-06-25 16:25] henrikdahl8240 commented on #2206
@xuzhg In case your nightly build already includes a fix for this, I would like to try it already today. Your nightly builds have earlier proved very valuable. I just thought, that perhaps you have already fixed it some time ago.

[2020-06-26 03:05] groogiam opened #2210 ""A request container already exists on the request." exception for batch requests using endpoint routing"
Batch request do not appear to work when using endpoint routing in ASP.NET Core 3.1

This appears to be the same issue as #2068 but I cannot get past the exception in the 7.4.1 release.

### Assemblies affected

Microsoft.AspNetCore.OData 7.4.1

### Reproduce steps

Calling any batch request fails with the following configuration.

Note: Batch request were working with the commented out UseMvc whe

[2020-06-26 08:49] henrikdahl8240 commented on #2206
Unfortunately .NET 5.0 Preview 6 results in the same exception.

I hope you may take a look into it. There are only a few lines of code in the sample and it will take you very short time to familiarize yourself with it.

[2020-06-26 11:20] cilerler commented on #2158
I finally figured it out.  Incase if someone hits the same issue; in code below `records.Any()`'s `Any()` part comes from `using Microsoft.EntityFrameworkCore.Internal;` and it causes `$count` to not work.

[code]

## Microsoft.EntityFrameworkCore.Internal

[code]

Again, thank you @KanishManuja-MS and @bdebaere for looking into it.

[2020-06-26 11:20] #2158 closed

[2020-06-26 13:55] mekkerm opened #2211 "odata datetimeoffset filter fails when filtering with a positive timezone value"
When I filter on a datetimeoffset type entity using a value like: 2020-06-24T15:57:44.3780001**+**03:00, that has a positive timezone, I receive an exception. Filtering with negative timezone values works..

### Assemblies affected

Microsoft.AspNet.OData 7.4.1

### Reproduce steps

`GET https://localhost:44349/odata/MyModel?$filter=DATE le 2020-06-24T15:57:44.3780001+03:00`

### Expected result

[2020-06-26 16:56] xuzhg commented on #2206
Is it related to this: https://github.com/OData/WebApi/pull/2142?

[2020-06-26 17:28] henrikdahl8240 commented on #2206
@xuzhg The problematic case does not involve any complex type.

You can easily download the sample I uploaded to GitHub and it will take you very short time to study because there are not more than ten simple classes.

If you fix it today and your nighly build will include the correction, I can try it later today.

It's very nice to pay attention to the issue, Sam.

Concerning complex types, which

[2020-06-26 17:32] xuzhg commented on #2206
I can't spend more time this week on this issue. Next week is ok. Is it ok for you at that time to reminder me? (Lol)

[2020-06-26 17:43] henrikdahl8240 commented on #2206
@xuzhg OK. I look forward for your next response. I assume it is a tiny issue to correct.

I would like to add, that exactly the same construction works perfectly when making the server using .NET Framework 4.7 and Microsoft.OData 7.5.0 instead of .NET 5.0 Preview 6.

[2020-06-28 01:06] fuentco commented on #1936
Hello, Any updates on implementing $search for OData. I am using Grid component of Syncfusion and the implementation uses this parameter.

[2020-06-29 07:16] gathogojr commented on #2203
@reddaiahnethi I took a look at your issue and I was actually able to reproduce it. Calling `.IsNotFilterable()` on properties belonging to the subclass(es) is not the cause of the behaviour you're observing.
You need to apply a minor fix to your model configurations

Replace:
[code]
with
[code]

First and foremost, that will fix your metadata such that you no longer have this:
[code]
but this:
[c

[2020-06-29 14:27] gathogojr commented on #2202
@reddaiahnethi I looked at this issue while investigating #2203. What I found is that if you applied `FilterAttribute` at the class level and supply the list of properties that the rule applies to, it works, e.g.
[code]
We'll need to figure out why it's ignored when applied to the property directly, unless it's not intended to work that way - https://docs.microsoft.com/en-us/dotnet/api/microsoft.a

[2020-06-29 19:51] henrikdahl8240 commented on #2206
@xuzhg A colleague of yours, Arthur Vickers, can reproduce the problem, but he has asked for at hint. Do you think, that you may provide this hint, so it can be clarified?
You can see it here: https://github.com/dotnet/efcore/issues/21398#issuecomment-651320704

His text was:

[2020-06-29 23:51] eduardoxvii commented on #1887
`// No Identifier = ShippingAddress Type in EF / Complex Type in OData
[Owned]
public class StreetAddress
{
    public string Street { get; set; }
    public string City { get; set; }
}

// Owns StreetAddress
public class Place
{
    public int Id { get; set; }
    public StreetAddress ShippingAddress { get; set; }
}

// Order collection as navigation property
public class School : Place
{
    pub

[2020-06-30 03:42] eduardoxvii opened #2213 "Expand Base property"
I can't expand property in base class.

**Assemblies affected**
Microsoft.AspNetCore.OData 7.4.1

[code]
**Reproduce steps**
I made these requists:
**http://localhost:5000/School?$expand=Order** **(Working)**
**http://localhost:5000/School?$select=Name** **(Working)**
But
**http://localhost:5000/School?$expand=ShippingAddress**  **(Not Working)**

**Actual result**

EF.Property called with wrong p

[2020-06-30 05:19] xuzhg commented on #2206
@henrikdahl8240 I run your sample and add the logger into it, and output the EFCore logging as:

[code]

For your (wrong) request:
[code]

[2020-06-30 06:08] huiali commented on #2124
@gathogojr  Thank you for your reply, I wrote an example that can reproduce the error, please refer to
[https://github.com/huiali/odata-sample](https://github.com/huiali/odata-sample)

[2020-06-30 08:30] reddaiahnethi commented on #2203
@gathogojr  Thanks John for helping here. This is working once I apply it the way you mentioned above

[2020-06-30 08:55] henrikdahl8240 commented on #2206
@xuzhg You also get the same result as I in the "good" case.

It sounds very nice.

If I would also like to add a logger, for instance in some other situation, is it just a matter of adding the logger in the usual .NET Core way or is there some special OData setting-up, which I must do in order to include the query as you have done?

[2020-06-30 11:21] #2203 closed

[2020-06-30 11:29] gathogojr commented on #2213
@eduardoxvii `$expand` is only applicable to navigation property (comprising entity or entity collection). `ShippingAddress` in your example is a complex type. It should be included in the default response

[2020-06-30 14:05] eduardoxvii commented on #2213
Are you saying that 'ShippingAddress' is a complex class because I forgot to put the id property?
How could I include 'ShippingAddress' in the default response?

[2020-06-30 14:43] gathogojr commented on #2213
@eduardoxvii If `ShippingAddress` is an entity type as per your latest code sample, then `$expand` should work on that as well.
I just fired up a quick repro mirroring your exact scenario above and I'm able to expand `ShippingAddress`:

Request: `http://localhost:28541/odata/School?$expand=ShippingAddress`
Response:
[code]
Are you using conventional model builder? Can you share the model builder s

[2020-06-30 16:11] gathogojr commented on #2208
Model builder repo https://github.com/OData/ModelBuilder
Nuget beta package https://www.nuget.org/packages/Microsoft.OData.ModelBuilder

[2020-06-30 16:25] xuzhg commented on #2210
@groogiam Can you move the batch middleware before the routing middleware?

[Here](https://github.com/OData/WebApi/blob/master/samples/AspNetCore3xEndpointSample.Web/Startup.cs#L50) is one comments. Let me know if it can't work

[2020-06-30 17:16] xuzhg commented on #2206
@henrikdahl8240  That's only related to Logger at EF Core side.
you can refer: https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging?tabs=v3

What I did:

[code]

[2020-06-30 17:56] gathogojr commented on #2211
@mekkerm The `+` has special meaning in a URL (:: whitespace). You need to encode it as follows:
[code]
i.e. `+` => `%2b`

[2020-06-30 18:22] gathogojr commented on #2209
@wayneforrest I'm not exactly sure relying on userid extracted from the query string is a good idea. How is the authentication to the service handled? Bearer token? Because if the authentication is by use of bearer tokens, you could store the associated user id as a claim that you can extract after the user is authenticated and apply to the filter

[2020-06-30 18:53] huzaifak commented on #2059
@xuzhg , @toresenneseth
Hello, The sample repo uses the MVC routing, were you able to do the same custom routing using the endpoint routing. can you share any sample for the same?

[2020-06-30 19:05] toresenneseth commented on #2059
Hi,

I used endpoint routing in my sample repo here:

https://github.com/toresenneseth/AspNetCoreODataEndpointRouting/blob/master/AspNetCore3xEndpointSample/Startup.cs

[2020-06-30 19:16] eduardoxvii commented on #2213
Gathogojr, I'm using enpoint:
[code]

[2020-06-30 19:45] jeremymcgee73 commented on #1227
Thanks for this! Helped me as well! @CrazyBaran

[2020-06-30 19:50] huzaifak commented on #2059
@toresenneseth thanks for the sample will check it out.

[2020-06-30 20:14] wayneforrest commented on #2209
Yes, I do make use of bearer tokens, and the userId is extracted from a claim. I have implemented the solution above, and it works, but it is not ideal.

I have not found a solution where I can make use of queryOptions to manipulate the query. The only way I could manage to add a query was before it reached the endpoint `[Route("api/UserData")]`.

[2020-06-30 21:05] wayneforrest commented on #2209
I found another bug with my implementation. Although am verifying that the correct UserId is applied, I am not verifying that the query is present at all times.

My improved implementation validates that the userID query is present.

[code]

I also do not like the idea that one has to make use of Exceptions to control the flow, in my case this is where I throw the
`ODataException($"Filter {filterC

[2020-06-30 21:28] m4ss1m0g commented on #2174
I have a similar situation: Edm approach not working with private setter (DDD) and I must enumerate ALL properties of my entities. Another issue I found using Edm approach with `ODataModelBuilder` is that I **cannot** set some properties name to lowerCase.
Example

[code]

If I set the name for EMail it works, but if I setup the name of `Id` (the key) don't work. The name remain the same and if I

[2020-07-01 03:35] groogiam commented on #2210
@xuzhg That looks like it fixed it the issue. Thanks.

[2020-07-01 03:35] #2210 closed

[2020-07-01 06:25] mekkerm commented on #2211
This indeed solves my issue(facepalm), thank you!

[2020-07-01 06:25] #2211 closed

[2020-07-01 08:23] gathogojr commented on #2213
@eduardoxvii Using endpoint routing doesn't stop you from using the model builder, unless you want to go for a Non-Edm Approach. Either way, here's a resource on using endpoint routing in OData that covers both the Edm and Non-Edm approach https://devblogs.microsoft.com/odata/enabling-endpoint-routing-in-odata/

I have also gone ahead and pushed a repro I used to verify that `$expand` works for bo

[2020-07-01 10:43] gathogojr commented on #2209
@wayneforrest I'm not particularly sure if there's any reason you'd prefer to go the query validator way but if extending `EnableQueryAttribute` is an option you can consider, you try something like this:
[code]

Then on the controller actions where you want to the enhanced filter to apply:
[code]
You'd obviously need to perform some thorough testing (probably add some unit tests as well) but I di

[2020-07-01 11:41] bdebaere commented on #2158
@cilerler Be aware that by calling Any you are effectively executing an additional database query.

Also, I'm not familiar why you would decide to return a 404, instead of an empty array of products when no products are found matching the criteria.

GET Product/1 to me means get me the product with id 1, of course if it does not exist a 404 should be returned.
GET Products to me means, in an OData

[2020-07-01 11:54] cilerler commented on #2158
I appreciate the heads-up @bdebaere, thank you.

I'm 100% with you on 404, it still doesn't make sense to me, and I don't like it at all.
Unfortunately, there is a practice going on lately that some major B2B APIs on the Internet is returning 404 for not found records, even if the URL exists.  And according to the business requirements for this project, I have to return 404 _(so I have no choice)_

[2020-07-01 15:38] bonfi7 opened #2216 "$filter with numeric value work only with integer"
An HTTP OData V4 request using a filter with the eq operator with numeric value different from int (i.e. decimal, double) fails.

Custom endpoint:
$filter=Quantity eq 300

Error:
Microsoft.AspNetCore.Server.IIS.Core.IISHttpServer|Connection ID "18302628895834243116", Request ID "80000032-0002-fe00-b63f-84710c7967bb": An unhandled exception was thrown by the application. System.Reflection.TargetInv

[2020-07-01 16:30] xuzhg commented on #2216
@bonfi7 Would you please share us an repro or your config and your model?

[2020-07-02 07:39] bonfi7 commented on #2216
@xuzhg Hi,
there my configuration. I have a dynamic model because in my environment and user can specify a SQL query and retrieve dynamically the result.

`public class EntitiesController : ODataController
{
	private IDataProvider _service;
	public string _entity { get { return Request.Query["entity"].ToString(); } }
	public EntitiesController(ICacheService service)
	{
		_service = service;
	}

	[

[2020-07-02 12:31] SenyaMur commented on #2139
When will be fixed this issue?

[2020-07-02 17:52] benjisanders commented on #1694
This worked for us, you have to work it for yourselves:

/employee/CommissionableTeams/Functions.CommissionableTeamDisplays?$filter=isof('TimeShareWare.v20_1.Model.Employee.PersonnelCommissionableTeamDisplay')&$expand=TimeShareWare.v20_1.Model.Employee.PersonnelCommissionableTeamDisplay/SalesRegion($select=Name)

[2020-07-03 01:18] brinehart commented on #1792
This workaround only works with .Net 2.2 which is out of long term support. Is this being worked on at all?

[2020-07-03 03:45] hemirunner426 commented on #2045
I also see the same behavior in 7.4.1

[2020-07-03 06:01] xuzhg commented on #2136
ODL 7.6.4 and 7.7 has shipped. So, close it.

[2020-07-03 06:01] #2136 closed

[2020-07-03 06:28] gathogojr commented on #2213
Closing issue after sharing repro confirming $expand works on a base type navigation property for both Edm and Non-Edm OData service.
@eduardoxvii Feel free to reopen the issue if there's any angle that was not covered

[2020-07-03 06:35] xuzhg commented on #2045
@hemirunner426 would you please share your repro with me?

[2020-07-03 07:11] SenyaMur commented on #2135
@xuzhg  please, approve #2195 and publish this fix.

[2020-07-03 21:15] zanyar3 opened #2217 "Not work with nested json array"
I want use `select` command with **nested json array** but not work have a error.

### Data
[code]

### HTTP Request
`https://localhost:44359/api/Houses/StateHouses?$select=status.Id,status.Caption`

### Setup.cs

**ConfigureServices**

[code]

**Configure**

[code]

**I use**

`ASP.NET API Core -v3.1.4`
`Microsoft.AspNetCore.OData  -v7.4.1`

[2020-07-05 05:41] huiali opened #2218 "OData Expand- Value cannot be null. (Parameter 'key')"
*Short summary (3-5 sentences) describing the issue.*

expand
GET : https://localhost:5002/oq/A?$expand=B($expand=C)-->
ERROR --> Value cannot be null. (Parameter 'key')

But https://localhost:5002/oq/A?$expand=B --> Successful return

Platform: NETCORE 3.1
Database: Mysql

### Assemblies affected

<PackageReference Include="Microsoft.AspNetCore.OData" Version="7.3.0" />
<PackageReference Include=

[2020-07-05 07:08] RamjotSingh commented on #289
@mikepizzo Are there plans to fix this? We need this feature too. I see that odata.net repo does support instance annotations. If you can point me in the right direction on how to solve I can contribute the fix.

[2020-07-06 13:25] EugeneKud commented on #1936
Me too!

I use the SfGrid and it would be nice to have a cross-column search as demonstrated here:

https://blazor.syncfusion.com/demos/datagrid/search?theme=bootstrap4

Having this feature, even as a separate NuGet package would be very useful!

[2020-07-06 13:58] NetTecture commented on #1936
Let me say that there is NOTHING stopping you from doing it now as FUNCTION:

* One parameter that is the search string

There is nothing that stops you from actually returning a collection AND in the function you get access to query parameters. You CAN configure in the backend your IQueryable to do the search term filtering, then process the filter query parameters.

Done.

Doing that for quite s

[2020-07-06 14:22] EugeneKud commented on #1936
Well, there is nothing stopping me from implementing the whole OData protocol (or a custom version of it) manually. This was the way I did it for several years before stumbling on Syncfusion components.

However, it does seem strange to implement an OData standard feature (described in the BASIC tutorial: https://www.odata.org/getting-started/basic-tutorial/#system_query_option_search_18) with cus

[2020-07-06 16:14] xuzhg commented on #289
@RamjotSingh Thanks for querying this feature. Yes, we are working on this feature. @Sreejithpin takes the ownership of this. I'd like to see this feature in the next version. We'd love to see your contribution. Please contact with @Sreejithpin

[2020-07-06 17:27] grascioni commented on #1227
I have no idea why but CustomEnableQueryAttribute did work for me as well. BTW, opened a related issue in the aws-lambda-dotnet repo: https://github.com/aws/aws-lambda-dotnet/issues/694

[2020-07-06 18:47] xuzhg commented on #2206
@henrikdahl8240 Can I close this issue?

[2020-07-06 18:53] xuzhg commented on #2217
@zanyar3 The syntax to select sub(nested) property is to use (SelectPath) or the nested $select.

- SelectPath:  $select=status/Id
- nested select: $select=status($select=Id)

Here's a detail blog illustrating the usage of $select at https://devblogs.microsoft.com/odata/select-enhancement-in-asp-net-core-odata/

Hope it can help you.

[2020-07-06 19:08] xuzhg commented on #2218
@huiali ODL and WebApi should work for the nested $expand. I checked with your code, you are using "MySQL" (I don't have MySQL installed). Would you please file the similar issue at: https://github.com/dotnet/efcore/issues. Since EF Core team is working to add "OData" into their test framework.

[2020-07-06 19:11] henrikdahl8240 commented on #2206
Yes, you and others can read about details of the issue at https://github.com/dotnet/efcore/issues/21398.

Thank you for putting efforts into this, which let me to continue.

[2020-07-06 19:15] #2206 closed

[2020-07-06 23:41] huzaifak commented on #2059
@toresenneseth i looked at the sample, your original DynamicEdmModelCreation was using Custom Odata  path with MVC, the sample you shared doesn't uses custom path. i have not been able to find anyways to register custom odata route with endpoint routing. Is this something supported? any clue will be helpful. Thanks.

[2020-07-07 06:56] vbray1979 commented on #2213
Hi, I am experiencing the same issue describe in test IV by @eduardoxvii using EF Core 3.1.5 and AspNetCore.OData 7.4.1
How did you managed to solve it or workaround it?

[2020-07-07 07:14] gathogojr commented on #2213
@vbray1979 I only went as far as demonstrating that there's no issue with `$expand` when applied to a navigation property inherited from the base class. As for invalid query being generated when you use `.Include()`, could you kindly report the issue with [EF Core](https://github.com/dotnet/efcore/issues)

[2020-07-07 08:21] henrikdahl8240 commented on #2206
@xuzhg Should you be able to put some more contextual exception on your side, it would probably be beneficial to many people, for instance as I suggest in the peer posting. In the current situation the user is basically left with no directed indication at all.

[2020-07-07 13:25] vbray1979 commented on #2213
Done under https://github.com/dotnet/efcore/issues/21546#issue-652321327

[2020-07-07 14:28] djrerun commented on #1887
@MonkeyTennis I am still seeing the original issue with EF Core 3.1.5 and OData 7.4.1. My entity relationship is a little different in that I do not have an explicit _owned_ as defined in the example `[Order]---<[Address]`. I have a many to many defined as:

`[Person]---<[PersonAchievement]>---[Achievement]`

Would that affect the outcome?

[2020-07-07 14:43] marabooy commented on #2216
@bonfi7 Could you share the generated csdl?

[2020-07-07 15:06] bonfi7 commented on #2216
@marabooy What do you mean with "generated csdl"?
I am not using Entity Framework, DataProvider execute SQL query(or with other providers) directly on the database.
To semplify the sample you can use:
`	[EnableQuery]
	public IActionResult GetEntity(string entity)
	{
		if (string.IsNullOrEmpty(entity))
		{
			return BadRequest();
		}
		var items = new List<DataItem>();

            items.Add(new Da

[2020-07-07 15:38] marabooy commented on #2216
Thanks for providing this. I noticed that the the query is `$filter=Quantity eq 300` which doesn't work but `$filter=Quantity eq 300f` works as it explicitly sends the type.

[2020-07-07 16:09] Sreejithpin commented on #2218
Duplicate issue of https://github.com/OData/WebApi/issues/2124
hence closing

[2020-07-07 16:09] #2218 closed

[2020-07-07 16:20] marabooy commented on #2216
@bonfi7 Is there a reason to not expose everything on the metadata? Exposing the types may help fix a lot of issues with the types since in the open types it may be hard to try and guess the types on the WebApi side as anything could be contained in the field as it doesn't stop a user from adding anything other type in one of the fields. e.g  `YearlyIncome` can be a string in the open type above.

[2020-07-07 16:31] #1227 closed

[2020-07-07 16:32] Sreejithpin commented on #1936
@mikepizzo

[2020-07-07 16:50] bonfi7 commented on #2216
@marabooy I know but I don’t know the model at design time. In my scenario user could add or edit entities at runtime writing the query in the GUI and the types are resolved in the fly at server side.

[2020-07-07 21:28] zanyar3 commented on #2217
@xuzhg  Dear **SelectPath** & **Nested select** not work

`https://localhost:44359/api/Houses/StateHouses?$select=status($select=Id)`
or
`https://localhost:44359/api/Houses/StateHouses?$select=status/Id`

[2020-07-08 00:10] xuzhg commented on #2217
@zanyar3 Can you share me your repo?

[2020-07-08 05:19] eduardoxvii commented on #2213
gathogojr, I managed to reproduce the error in your project! In my project it never works, but yours insisted on working! So far!

[2020-07-08 11:12] marabooy commented on #2216
In this case it seems that the Angular ui knows about the datatype, Not sure if you could use this to guess the type and generate the right query with the data type.

[2020-07-08 13:09] deinok opened #2220 "[Question] - Action accept a Model has parameter"
Hi,

Having the following code inside a `ODataController` and in my case, `myModel` is always null.

[code]

Did I left something?
The only way to do something like this is with beeing `myModel` of type `ODataActionParameters`?

[2020-07-08 14:59] stuartag opened #2221 "GroupBy on a Date results in an exception"
When using a GroupBy on a DateTime field that is holding a date, the output formatter raises an exception:

[code]
This is despite the underlying EdmModel defining the field as a Date

This is in Microsoft,AspNetCore.OData.Shared  v7.4.1

### Expected result

The result of the grouping would be interpreted correctly as a Date and outputted correctly.

### Actual result

The formatter throws an ODa

[2020-07-08 14:59] stuartag opened #2296 "GroupBy on a Date results in an exception"
When using a GroupBy on a DateTime field that is holding a date, the output formatter raises an exception:

[code]
This is despite the underlying EdmModel defining the field as a Date

This is in Microsoft.AspNet.OData.Shared  v7.4.1

### Expected result

The result of the grouping would be interpreted correctly as a Date and outputted correctly.

### Actual result

The formatter throws an ODataEx

[2020-07-08 15:48] MJeorrett commented on #1817
+1 I see that this was added to vNext (all be it a year ago) but would be good to know if there is any workaround in the mean time?

Thanks

Matthew

[2020-07-08 16:57] xuzhg commented on #2220
@deinok Is `CreateDeparture` an Edm action? if yes, you should use `ODataActionParaemeters` to accept the parameter values.

If not, does it work to add [FromBody] to the MyModel parameter.

Besides, would you please share the model binding errors. You can get it when hit a breaking point at `return this.NoContent()`, check the `ModelState` property in `this`.

[2020-07-08 17:52] Criperum commented on #616
Hi, please fix this issue since we also need to use $it inside $filter nested in $expand.

[2020-07-08 19:09] baleeds commented on #2115
@KenitoInc Could you explain what you were doing wrong in the off chance that I am doing the same thing? 😂

[2020-07-08 21:28] mikepizzo commented on #1882
Should be fixed w PR #1889 .

[2020-07-08 21:28] #1882 closed

[2020-07-08 21:39] mikepizzo commented on #1936
I used to have a sample that showed how it was possible to use $search in WebAPI, but it was pretty convoluted, and relied on custom code to actually apply the logic to the query.

The problem with $search is that the semantics of what it means to match is left intentionally undefined.  So one implementation may do a "contains" search on all (textual) properties (and perhaps even textual propertie

[2020-07-08 22:24] bdebaere commented on #1936
@mikepizzo I think a hook would be better, something like what I suggested (but I'm assuming you have a better idea), or at the very least allow for a hook. I think OData can use a bit more extensibility in most areas.

[2020-07-09 08:59] DavidSimner opened #2223 "JSON Body deserialization doesn't error when a non-primitive collection contains a primitive"
When deserializing the JSON Body of a HTTP POST request, and when the model contains a collection of a non-primitive type, if the POST Body specifies a primitive type as one of the entities in this collection then no error is observed.

For example, if the model for [`ProductFamily`](https://github.com/OData/ODataSamples/blob/master/WebApiCore/ODataServiceSample/ODataService/Models/ProductFamily.c

[2020-07-09 14:20] Mhirji commented on #1817
If you are asking to change the host and port, I believe you can do this using the BaseAddressFactory on the ODataOutputFormatter and ODataInputFormatter.  Something like this:

 services.AddMvcCore(
                options =>
                {
                    foreach ( var outputFormatter in options.OutputFormatters.OfType<ODataOutputFormatter>() )
                    {

[2020-07-09 14:41] vbray1979 commented on #2213
I just realised that your metadata does not include any basetype property but instead bring back the base navigation property to the derived object... There must be some configuration difference. Here is my definition..

[code]
[code]
and the related metadata

[code]
and my configuration

` var Assets = builder.EntitySet<AssetModel>("Assets").EntityType.HasKey(x => x.AssetId);`

[2020-07-09 16:23] huiali commented on #2218
@xuzhg I attached the OData source code, EF can return data normally, OData source code error, please see the following error.
![image](https://user-images.githubusercontent.com/29728900/87065242-5ef60400-c243-11ea-96ca-9300dc4a1708.png)

[2020-07-09 16:23] EugeneKud commented on #1936
@mikepizzo @bdebaere Yes, a hook would be very helpful!

Moreover, a default implementation with contains (only on textual properties of searched entity, without going into properties of related entities) would be just perfect. In my opinion, it feels like an expected behavior and would cover the requirements of many developers.

[2020-07-09 16:32] huiali commented on #2124
@gathogojr I attached the OData source code, EF can return data normally, OData source code error, please see the following error.

![image](https://user-images.githubusercontent.com/29728900/87066223-ca8ca100-c244-11ea-9fbd-64201eee8a2c.png)

[2020-07-09 16:34] xuzhg commented on #2218
Yes, I have your source code. But, i don't have the MySql installed. Can we switch to other DB to see it can work or not?

[2020-07-09 19:26] sledoux opened #2224 "'Value cannot be null. (Parameter 'itemName')' in WhereExpression while using OData skiptoken"
We are currently using an OData endpoint returning an IQueryable from MongoDB Driver. When using the default implementation of paging form OData, it generates a skiptoken which is then passed to the next API request as a query parameter (ex: $skiptoken=TenantId-'something',Timestamp-2020-04-14T20:00:00-04:00). This skip token is then parsed by OData and builds a linq expression for the MongoDB Dri

[2020-07-09 20:04] sledoux commented on #2224
Meant to create this in MongoDB.Driver github. Sorry about that.

[2020-07-09 20:04] #2224 closed

[2020-07-09 21:39] eduardoxvii commented on #2213
I found a second situation capable of break the expand (http://localhost:28541/school?$expand=StreetAddress):
**SITUATION I**
[code]
**SITUATION II**
[code]

[2020-07-10 12:17] #1210 closed

[2020-07-10 13:27] JeanGatto commented on #1441
Nice solution man! Thanks

[2020-07-10 15:04] ajcvickers commented on #2205
@smitpatel Does this look like an EF issue with the translation?

[2020-07-11 05:34] komdil opened #2225 "ODataRoute template is not working in .Net Core"
I was using ODataRoute with a template in .Net.  I was working fine. Now, I  am trying to migrate to .Net Core, but it is not working.

### Assemblies affected

I am using Microsoft.AspNetCore.OData

### Reproduce steps

My ConfigureServices:
[code]

Configuration:
[code]
Controller:
[code]

### Expected result

Get method should work when I send query: https://localhost:44383/odata/Student(Id='DB

[2020-07-11 23:24] wayneforrest commented on #2209
Thanks @gathogojr  I will git it a go.

[2020-07-12 06:46] komdil opened #2226 "ODataRoute template does not support some symbols .NET Core"
I was using _ character in .net. I am trying to migrate to .Net Core. But getting an error on putting _ to ODataRoute

### Assemblies affected

I am using Microsoft.AspNetCore.OData

### Reproduce steps

Put _ symbol in ODataRoute:
[code]
Configuration:
[code]

### Expected result

I was working on .Net. It should work in .NET Core

### Actual result

It is throwing an exception:
[code]

[2020-07-12 14:48] vbray1979 commented on #2213
Dear @gathogojr, based on @eduardoxvii finding plus the fact the issue we face is replicable by adding the base class entityset,
`modelBuilder.EntitySet<Place>("Place").EntityType.HasKey(x => x.Id);`
and querying the base navigation property like this
`http://localhost:28541/School?$expand=ShippingAddress`
give the folowing error message:
`System.InvalidOperationException: EF.Property called with

[2020-07-13 06:19] gathogojr commented on #2213
@eduardoxvii @vbray1979 I'm reopening the issue. I'm a bit slammed at the moment but I plan to find time this week to revisit it. Thank for the above feedback. I'll take it into consideration

[2020-07-13 08:35] drozee opened #2227 "isof/cast/any not working as expected against my returned collection in my scenario"
I currently have a controller with a singleton container object from which I return a collection that is a property on the singleton container object.  The collection has a base type with various subtypes against which I want to filter for various subtypes.  When I attempt to use the filter lambdas or operators such as isof/cast/any I am getting various errors.

#region Assembly Microsoft.AspNetCo

[2020-07-13 15:41] MJeorrett commented on #1817
Thanks @Mhirji.  I ended up doing similar.

Would be interested to know why the `ODataInputFormatter` needs to be affected, as my intuition says that it is only the response written by the `ODataOutputFormatter` that should be affected?

For anyone that is interested, my solution is slightly different as I did not want to lose the ability to call the Api Gateway in development environment so inste