[2015-03-13 05:01] connected-web-development commented on #104
I've just commited a changeset which partially does this. See:
https://github.com/connected-web-development/WebApi/commit/2ece3903cc8e5b0b51cb2120ca34dd86e6b51ba3

However it does not yet work with the EnableQuery attribute as the custom properties are gone before the writing starts in that case.

[2015-03-13 05:16] sameermowade commented on #135
Is this being worked upon?

[2015-03-13 14:10] #238 closed

[2015-03-13 18:58] connected-web-development commented on #104
My latest commit:
https://github.com/connected-web-development/WebApi/commit/5148c6ecb64715c15df5a685dbee40b307303479

also supports the EnableQuery attribute.

[2015-03-13 21:03] connected-web-development opened #248 "Selecting a single instance function causes nullref exception"
Adding a test to the SelectExpandTest in the System.Web.Odata.Test project with the following URL causes the SelectExpandNode to throw a nullref exception since SelectedFunctions is not initialized in the constructor. Querying with all functions works though.

Example URI (using the PlayersController from the test project):
"/odata2/Players?$select=Name,Default.PlayerFunction1";

[2015-03-13 21:39] connected-web-development commented on #248
I've just submitted a pull request for this bug:
https://github.com/OData/WebApi/pull/249

[2015-03-14 16:28] PinpointTownes commented on #229
@lewischeng-ms @congysu don't hesitate to share your thoughts concerning the different points I mentioned :ghost:

For the "attributes" companion project, I'm not decided yet:
* Microsoft.OData.Annotations,
* Microsoft.AspNet.OData.Annotations,
* Microsoft.ComponentModel.DataAnnotations.OData,
* Microsoft.DataAnnotations.OData,
* System.ComponentModel.DataAnnotations.OData,
* System.DataAnnotation

[2015-03-16 02:45] #231 closed

[2015-03-16 05:54] xuzhg commented on #4
Checked in. Thanks.

[2015-03-16 05:54] #4 closed

[2015-03-16 05:54] xuzhg commented on #5
Checked in. Thanks.

[2015-03-16 05:54] #5 closed

[2015-03-16 05:54] xuzhg commented on #6
Checked in. Thanks.

[2015-03-16 05:54] #6 closed

[2015-03-16 09:36] #248 closed

[2015-03-16 14:49] connected-web-development commented on #104
I've made a pull request for it:
https://github.com/OData/WebApi/pull/250

[2015-03-18 04:56] IDontEatSoap commented on #229
Awesome stuff Pinpoint :+1:

Is this the main force behind OData on vNext? I couldn't find anything else.

If so, do we have a dev branch here for people working on the upgrade?

Cheers

[2015-03-18 06:47] congysu opened #251 "$filter in $expand throws if Linq-to-entities"
The issue seems related to null propagation requirement of different Linq providers.

Request:
http://localhost:53372/odata/Products?$expand=Order_Details($filter=UnitPrice gt 18.0)

Error:
[code]

[2015-03-18 07:23] PinpointTownes commented on #229
@IDontEatSoap thanks! :family:

It looks like the OData and the ASP.NET teams prefer working on their own version and have a design review before touching the code (see https://github.com/aspnet/Mvc/issues/650#issuecomment-81171753). Not sure if it's a high priority item though (at least, it was clearly not when I asked David Fowler on JabbR a few weeks ago).
So my mission here is now done (I'll s

[2015-03-18 11:11] IDontEatSoap commented on #229
Haha I'm not surprised. There's a carrot in a shape of a KPI somewhere for someone to chase probably.

But I am suprised to see that there's nothing being done around OData by the ASP.NET msft people... Their team blog mentions this post as an "early investigation" on OData around vNext, but without an  official branch....

Architecture is definitely the first thing to define. But hey, OData is no

[2015-03-18 12:52] PinpointTownes commented on #229
So true :smile:
(if I was teasing, I'd even say that some people at MSFT still have trouble understanding the real definition of "an open source community", but heh, I'm not :smile:)

:+1:
The only official branch that I know of is the experimental playground used by @lewischeng-ms: https://github.com/lewischeng-ms/vNext

I can __perfectly__ understand they prefer working on their own port instead

[2015-03-18 13:47] congysu opened #252 "Merge RESTier and OData Web API"
Now OData has 2 server stacks: RESTier and OData Web API.  Given the context of vNext, consider merging or better layering them, e.g., into one server stack.

[2015-03-18 14:34] markdstafford commented on #229
Please let me apologize for any confusion and/or frustration we may have caused in our management of this particular contribution. Let me try to clarify a bit what's been happening behind the scenes. I apologized in advance if this is more detail than you wanted, but hey... at least you'll know what's happening.

First of all, @PinpointTownes , we really, sincerely appreciate both your enthusiasm

[2015-03-18 15:46] PinpointTownes commented on #229
@markdstafford thank you very much for this detailed answer, it's really appreciated! :+1:

Supporting both approaches would be ideal, actually (and would make everyone happy :smile:): advanced users should be able to use very strict conventions and apply fine-grained querying policies while beginners would indeed prefer reusing their `DbContext` and expose it "as-is". For me, having the core supp

[2015-03-18 20:19] MrTomWhite commented on #156
Looks like @xuzhg closed #2 already, so we can probably close this issue.

[2015-03-19 00:49] markdstafford commented on #229
Totally agree from a layering perspective. We are thinking a lot about whether they need to be distinct stacks, though.

This is great feedback. Tough to act on and still hold to the "you shouldn't have to be an OData expert do get value from OData" bar, but we absolutely hear you that having the right defaults is super important. This is probably a topic we need to come back to early in the desig

[2015-03-19 01:54] VikingsFan commented on #156
Close as #2

[2015-03-19 01:54] #156 closed

[2015-03-19 09:04] xuzhg commented on #7
Checked in. Thanks.

[2015-03-19 09:04] #7 closed

[2015-03-19 10:45] xuzhg commented on #223
String parameter for convention routing with FromODataUriAttribute is working now. Thanks.

[2015-03-19 10:45] #223 closed

[2015-03-19 14:03] lewischeng-ms commented on #229
@PinpointTownes Deeply sorry for the very late feedback... I had carefully gone through your port these days and our team just had a separate meeting today to discuss about your work. We really appreciate that. Though your prototype is based on a different point of view, it shows great value where we found many useful insights and techniques that could be incorporated into the vNext. I would like

[2015-03-19 14:21] Jerther commented on #223
Alright thanks!

[2015-03-19 17:05] PinpointTownes commented on #229
@markdstafford

JabbR is definitely MSFT users/developers' lair but that doesn't prevent more general rooms (like __#DDD-CQRS-ES__, __#Xamarin__, __#AngularJS__ or __#owin__) from being really popular, even for people who don't use MSFT products or technologies. TBH, I've never tried Slack, but I'd be happy to fix that if you had a link you could share. gitter.im might also be an option, but I per

[2015-03-20 02:30] #251 closed

[2015-03-20 11:40] LaylaLiu opened #254 "WebApi should support setting uri resolver without using MapODataServiceRouting"
When using other ways to set webapi odata routing instead of using System.Web.OData.Extensions.MapODataServiceRouting. It's diffcult to enable unqualifiedOperationName.

[2015-03-20 15:09] vojtechvit commented on #158
Another possible implementation - this time the relationship Uri is automatically stored in a property called after the navigation property, but with a "Ref" suffix. Such property should be typically marked as [NotMapped].

public class ExtendedODataEntityDeserializer : ODataEntityDeserializer
    {
        public ExtendedODataEntityDeserializer(
            ODataDeserializerProvider deserializerP

[2015-03-20 16:17] lewischeng-ms commented on #229
May I ask what are you referring to by saying "on-the-fly"? Do you mean the ODataConventionModelBuilder? Anyway, besides the advantage you mentioned that it is easier to get assembly provider to do assembly search at startup time, I think we can also cache the mapping result (between clr and edm types) in some place (of course it could be in the model as you suggested) to improve the efficiency of

[2015-03-20 16:31] vojtechvit opened #255 "[Bug] Functions returning entity types with contained properties throw exception"
### Description
Functions that return entity types with properties that are contained entity sets throw exception when invoked.

### Minimal repro steps
- Create an empty ASP.NET website hosted on OWIN SystemWeb
- Create an `EmailAddress` class with property `[Key] Address : string`
- Create a `User` class with properties `Id : int` and `[Contained] EmailAddresses : ICollection<EmailAddress>`
- Ad

[2015-03-20 21:33] MrTomWhite commented on #229
Yes. I think either a google group / mailing list / or a Freenode IRC channel may be better choices than jabbr or slack. All have good cross platform support and match what many other open source projects do. I'll move this portion of the discussion to another issue because it's entirely orthogonal to this discussion.

[2015-03-21 20:27] mj1856 opened #256 "EnableCaseInsensitive doesn't work on ODataQueryOptions"
Setting `config.EnableCaseInsensitive(true);` in the WebAPI configuration appears to only work on a full OData endpoint.  It doesn't have any effect when using a regular `ApiController` method that accepts an `ODataQueryOptions` parameter, as [described on the asp.net/webapi site](http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/supporting-odata-query-options).

[2015-03-21 23:57] mj1856 commented on #256
Digging a bit deeper, it would appear that if I set `EnsureStableOrdering = false`, then it works.

I'll see if I can find the root cause and send a PR.

[2015-03-22 00:27] mj1856 commented on #256
Nevermind.  It appears to work just fine when I use version `5.5.0-beta`.   I was using `5.4.0` when it failed.

I think it was fixed by side-effect of fixing #214.

[2015-03-22 00:27] #256 closed

[2015-03-22 17:45] vojtechvit commented on #255
I created a fork and a branch with a fix to this issue: https://github.com/vojtechvit/odata.net/commits/bugfix/containedentityinfunction

*However - I'm not fully aware of the internal mechanics of the complex ODataWriterCore class, so please consider this code just as a highlight of the problem area!*

For instance, I'm not persuaded that it generates all correct path segments (e.g. entity key se

[2015-03-22 19:04] vojtechvit commented on #135
+1 on this one

[2015-03-22 19:33] vojtechvit commented on #162
+1 for this one.

It's even more important when considered together with the support for PATCH of complex types https://github.com/OData/WebApi/issues/135
In some of our projects we have entities with a lot of complex properties - some of them even nested. We want to be able to patch them individually on their URLs.

[2015-03-22 22:27] vojtechvit commented on #255
It would be great if you could include the bugfix already in the 5.5 release! O:-)

[2015-03-23 02:34] congysu opened #257 "Support Async"
ODataLib supports it after [v6.4](https://www.nuget.org/packages/Microsoft.OData.Core/6.4.0).  The protocol spec: [11.6 Asynchronous Requests](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398358)

[2015-03-23 02:56] congysu opened #258 "Add OData annotations using OData WebApi"
For now, except for some annotations such as StoreGenerated, ETag; need fallback to EDM API on adding an annotation.

[2015-03-23 07:28] congysu opened #259 "Update to xUnit 2.0"
For now, OData Web API uses xUnit and runner 1.9.1, and a VS runner of 0.9.  xUnit 2.0 is released as per: http://xunit.github.io/release-notes/2015-03-16.html.  Consider updating to that.

[2015-03-23 07:53] xuzhg commented on #216
@pascalberger

[OData V4 spec](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part3-csdl/odata-v4.0-errata02-os-part3-csdl-complete.html#_Toc406397969) says:
The type of the dependent property MUST match the type of the principal property. If the navigation property on which the referential constraint is defined or the principal property is nullable, then the dependent property M

[2015-03-23 08:11] VikingsFan commented on #171
Checked in 07ae38d4cc1184285a826c72735d2df2c47c6354

[2015-03-23 08:11] #171 closed

[2015-03-23 08:29] pascalberger commented on #216
It's with OData v3 (not v4).

Here's my (simplified) builder:

    var builder = new ODataConventionModelBuilder();
    builder.EntitySet<MyModel>("MyModels");
    builder.EntitySet<MyReferenceType>("MyReferenceTypes");
    builder.Namespace = typeof(MyModel).Namespace;

    config.Routes.MapODataRoute(
        routeName: "ODataRoute",
        routePrefix: "odata",
        model: builder.GetEdmMod

[2015-03-23 08:36] xuzhg commented on #2
Please refer to: [Edm.Date & Edm.TimeOfDay Support in Web API OData V4](http://odata.github.io/WebApi/Date-and-TimeOfDay-Support/) for simple tutorial.

[2015-03-23 08:52] xuzhg commented on #207
Fixed in the check-in: f3912de281539167de19c61b4c88fb4e9188c774

[2015-03-23 08:52] #207 closed

[2015-03-23 09:05] xuzhg commented on #216
For V3, please refer to [10.4 Referential constraint](http://www.odata.org/documentation/odata-version-3-0/common-schema-definition-language-csdl)

*It says: The property references for the principal entity MUST be the same property references specified in the edm:Key of the principal entity type, however they need not share the same order.*

Because the edm:Key is always required (non-nullable).

[2015-03-23 09:12] xuzhg commented on #133
Duplicated as #7.

[2015-03-23 09:12] #133 closed

[2015-03-23 09:14] xuzhg commented on #110
@VikingsFan  please check this. As I know, it works now.

[2015-03-23 09:16] pascalberger commented on #216
OK, I get the point with the key being required. But this means there is no way to let my code run under WebApi for OData 3 5.4.0? From the business logic point of view `MyModel.MyProperty` is optional and therefore there will be data returned with `MyModel.MyProperty == null`. I don't see how I can model this differently to make the business requirements and the OData spec both happy.

[2015-03-23 09:17] xuzhg commented on #115
@VikingsFan please clean it up.

[2015-03-23 09:21] xuzhg commented on #113
The codes are ok now.

[2015-03-23 09:21] #113 closed

[2015-03-23 09:27] xuzhg commented on #67
It's out of date. Now, Newtonsoft.Json is referenced to 6.0.4.

[2015-03-23 09:27] #67 closed

[2015-03-23 09:28] VikingsFan commented on #110
Fixed in v5.5

[2015-03-23 09:28] #110 closed

[2015-03-23 09:34] xuzhg commented on #20
Please see the check-in: 7b3367371b1632cf33161cc090e67994c0b6067a

[2015-03-23 09:34] #20 closed

[2015-03-23 19:36] MrTomWhite commented on #20
:tada: This is awesome! Great fix @xuzhg :+1:

[2015-03-24 03:02] VikingsFan commented on #48
Verified

[2015-03-24 03:02] #48 closed

[2015-03-24 03:04] xuzhg commented on #5
Please refer to [here](http://odata.github.io/WebApi/Entity-Complex-Type-Enhancement/) for simple tutorials.

[2015-03-24 03:04] xuzhg commented on #4
Please refer to [here](http://odata.github.io/WebApi/Entity-Complex-Type-Enhancement/) for simple tutorials.

[2015-03-24 03:04] xuzhg commented on #6
Please refer to [here](http://odata.github.io/WebApi/Entity-Complex-Type-Enhancement/) for simple tutorials.

[2015-03-24 03:14] xuzhg opened #260 "[Doc] Document for Edm Model builder in Web API OData"
including tutorials, guides, samples.
including typed, un-typed.

[2015-03-24 03:15] xuzhg opened #261 "[Doc] Document for OData Media type format in Web API OData"
including tutorial, guides, samples
including serialization, deserialization.

[2015-03-24 03:16] xuzhg opened #262 "[Doc] Document for OData Query option in Web API OData"
including tutorial, guides, samples
including:
1. EnableQueryAttribute
2. $top,$skip,$filter,$order,$select, $expand
3. support built-in functions
etc.

[2015-03-24 03:17] xuzhg opened #263 "[Doc] Document for OData Routing in Web API OData"
including tutorial, guides, samples

including:
1. All Web API supported Segments
2. Routing conventions
3. Attribute routing
4. Supported routing templates

[2015-03-24 03:19] xuzhg opened #264 "[Doc] Document for $batch in Web API OData"
including tutorial, guides, samples

[2015-03-24 05:54] luoyan0517 opened #265 "Enable nightly run for WebAPI E2E test"
Nightly pull code from github and run test

[2015-03-24 06:57] #226 closed

[2015-03-24 07:00] congysu commented on #85
@xuzhg See if this gets fixed with the time() support.

[2015-03-24 07:02] congysu commented on #127
Checked in 97b1ba0eaeb551fb21c5718245bbcc6f28cad886

[2015-03-24 07:02] #127 closed

[2015-03-24 07:03] congysu commented on #251
Checked in https://github.com/OData/WebApi/commit/3efcd0c0a6b3e207498812dc390d1e55062b1c33

[2015-03-24 07:30] #182 closed

[2015-03-24 07:31] congysu commented on #182
Checked in: https://github.com/OData/WebApi/commit/889bba29cfc7829c02d6434ed50dd0d0f2c6b169

[2015-03-24 07:40] congysu commented on #183
Checked in https://github.com/OData/WebApi/commit/047d2504cca694fc5bd4bf99eb5d7b4f91f97941; #7

[2015-03-24 07:40] #183 closed

[2015-03-24 08:30] VikingsFan commented on #85
This is fixed, can see the test EnableQueryTests, the way you construct filter is wrong, according to  odata [abnf ](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/abnf/odata-abnf-construction-rules.txt) :
timeOfDayValue = hour ":" minute [ ":" second [ "." fractionalSeconds ] ]

hour   = ( "0" / "1" ) DIGIT
       / "2" ( "0" / "1" / "2" / "3" )

hour can be 01 to 23, 2000 is no

[2015-03-24 08:40] dotnetwise commented on #127
So how can we use it? Is there any docs?

In what version will it be released?

[2015-03-24 08:50] lewischeng-ms opened #266 "[vNext] Design and implement basic build blocks"
such as error string handling, assembly provider, MVC services, platform helper mthods, extension methods and so on.

[2015-03-24 08:52] lewischeng-ms opened #267 "[vNext] Design and implement EnableQueryAttribute on Controllers in ASP.NET MVC vNext"
including supporting query option parsing in vNext

[2015-03-24 08:54] lewischeng-ms opened #268 "[vNext] Design and implement OData routing"
use MVC's routing mechanism or implement our own ODataRoute to handle OData URIs.
including support path parsing in vNext.

[2015-03-24 08:56] lewischeng-ms opened #269 "[vNext] Design and implement EDM model building"
including support ODataConventionModelBuilder in vNext.
also support model building from context classes.

[2015-03-24 08:57] lewischeng-ms opened #270 "[vNext] Design and implement OData formatters"
Use ODL or use JSON.NET to do serialization and deserialization?

[2015-03-24 08:58] lewischeng-ms opened #271 "[vNext] Design and implement model binding"
Should we still keep FromODataUriAttribute? Or only support FromUriAttribute and FromBodyAttribute.

[2015-03-24 09:01] LaylaLiu opened #272 "[Perf] Move OData Web API PerfTests to GitHub, and set up daily run"

[2015-03-24 09:47] LianwMS opened #273 "OData WebAPI V4 tooling scaffolding is Visual Studio"
Add VS scaffolding tool for OData WebAPI V4

[2015-03-24 10:27] CrazyViper opened #274 "$expand with $select fails on base properties"
I have domain model something like this:
[code]
I want to execute following query from client:
[code]
wich builds the following request:
[code]
This request fails on the server side with exception:
[code]

[2015-03-24 12:01] PinpointTownes commented on #229
@lewischeng-ms

Sorry, I should have been clearer. Here's what I mean by "on-the-fly model": https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/Extensions/HttpActionDescriptorExtensions.cs#L36-L42 https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/EnableQueryAttribute.cs#L614

I'm totally convinced that allowing "pure Web API projects" to use `EnableQu

[2015-03-24 13:09] thebothead commented on #85
Come on guys...

The original query is not wrong:
$filter=time(Timestamp)%20ge%2000:01

"00:01" is preceded by %20, which is URL encoding for a space.

Decoded:
$filter=time(Timestamp) ge 00:01

[2015-03-24 13:27] thebothead commented on #85
Thanks for the reply...

The original query is correct from that I can tell from the specification.

URL Encoded Query:
$filter=time(Timestamp)%20ge%2000:01

Decoded (%20 is a space):
$filter=time(Timestamp) ge 00:01

The specification, as you have stated says:
hour   = ( "0" / "1" ) DIGIT
       / "2" ( "0" / "1" / "2" / "3" )

The allows for several combiniations, including the combiniation in m

[2015-03-25 01:28] VikingsFan commented on #85
reopen the issue,
@thebothead please try master branch or v5.5 beta, I think this is working now, the test case you can find in test\System.Web.OData.Test\OData\EnableQueryTests:

 {"?$filter=time(AbsoluteBirthDate) eq 01:02:03.0040000", "time"}

If you want to allow logical operators like 'ge', just set the AllowedLogicalOperators = AllowedLogicalOperators.All in EnableQuery Attribute.

[2015-03-25 04:41] congysu commented on #1
Checked in 533213984a8f80802d31ceb1e0542b8d38be6ce8.

[2015-03-25 09:29] lewischeng-ms commented on #229
@PinpointTownes Thanks I got what you mean:) I agree that we should not arbitrarily mix OData stuff with "pure Web API" stuff and users should always explicitly specify an `IEdmModel` to use `EnableQueryAttribute`. However we have to find a balance here. In one hand, elementary users who don't know OData concepts (e.g., EntitySet, EntityType, ...) very well yet shall be able to ramp up soon and bu

[2015-03-25 09:48] PinpointTownes commented on #229
@lewischeng-ms I agree, Web API OData should be relatively easy to set up :smile:
To make the `IEdmModel` creation a breeze, you could consider adding new attributes to define entity sets directly on the entity class itself. The conventional model builder would then scan your assemblies and build an `IEdmModel` without having to manually call `EntitySet`.

Creating a new OData API would then as ea

[2015-03-25 10:20] xuzhg commented on #7
Please refer the [simple tutorial](http://odata.github.io/WebApi/Complex-Entity-As-Function-Parameter/) for sample.

[2015-03-25 15:35] cornem opened #275 "Error with System.Web.Http depencency in Azure Cloud Service"
When deploying a cloud service to Azure, web roles that take a dependency on `System.Web.Http.OData` and have the latest `Microsoft.AspNet.WebApi.Core` package installed (5.2.3) cannot start. The web role will remain `Busy`. Looking at the event viewer, the `WaIISHost` process executes code from `drive:\\approot\bin` and looks for `System.Web.Http` version `5.2.2.0` and then crashes. Adding a `bin

[2015-03-25 20:42] daw451-duplicate commented on #221
WHAT IS THE STATUS OF THIS? WHERE CAN WE GET 5.4.1? HAVING DATETIME FILTER ISSUES ON 5.4.0...
http://localhost:2011/odata/Messages?$count=true&$filter=messageSender eq 'e308601e-be91-4839-9d96-1232b2e02e6b' and messageType eq 'NewRx' and messageDate le datetimeoffset'2015-03-24T04:00:00.000Z'&$orderby=messageDate desc

TRIED WITH JUST DATETIME AS WELL...NO GO....

[2015-03-25 23:17] DrNixx commented on #275
Yes, I have same problem

[2015-03-26 02:27] congysu commented on #201
Resolved as part of #7.

[2015-03-26 02:27] #201 closed

[2015-03-26 02:58] congysu opened #276 "Add .NET servicing attribute to all assemblies"
For .NET 4.5 assemblies:
[code]

For .NET 4.0 client:
[code]

[2015-03-26 03:21] VikingsFan commented on #104
checked in 3f43633

[2015-03-26 03:21] #104 closed

[2015-03-26 06:25] xuzhg opened #277 "Can support composite key in routing convention"
for example:

I have an entity type with multiple keys.
Now, I try to get the entity with the keys.
[code]
but, the routing convention can't support this.

[2015-03-26 08:59] #148 closed

[2015-03-27 13:20] joshbooker opened #278 "ApiExplorerSettings prevent Azure AppService features"
ODataController class deliberately sets [ApiExplorerSettings(IgnoreApi = true)] which prevents swagger metadata generation which prevents using WebAPI OData Projects in Azure AppService LogicApps.

The fix would appear to be a reversal of this change:

http://aspnetwebstack.codeplex.com/SourceControl/changeset/d6c669701bbb

Is it possible to override this setting? I tried setting [ApiExplorerSetti

[2015-03-27 15:28] lewischeng-ms commented on #229
@PinpointTownes Your points are really helpful, thanks! I think it would be great if there is a graceful way to expose the magic of model building as some `set` and let users make smart decisions on what magic they want to apply. Of course the magic will not be limited to the given conventions anymore. Please feel free to correct me if I misinterpret your point:P

[2015-03-27 20:11] Vaccano opened #279 "Web API OData Specification Issues"
We are currently trying to setup a web development stack.

What we were looking at has us using Web API OData and BreezeJS.

However, BreezeJS is saying that the Web API OData implementation does not follow the specification in several key places.  **Making saving to more than one table a matter of luck and navigating foreign keys impossible.**

Here are the links to this information:

http://www.

[2015-03-29 02:30] congysu commented on #276
OData Web API already has this in [CommonAssemblyInfo.cs](https://github.com/OData/WebApi/blob/master/OData/src/CommonAssemblyInfo.cs)
[code]

[2015-03-29 02:30] #276 closed

[2015-03-30 08:54] xuzhg commented on #138
Checked-in. Thanks.

[2015-03-30 08:54] #138 closed

[2015-03-30 08:55] xuzhg commented on #136
Move to 5.6 and let's see if there is more issues found about DateTime.

[2015-03-30 08:58] xuzhg commented on #180
There's no such scenarios to POST/PUT/PATCH feed. And for action scenario, it supports in 5.5. So, I close it. If you have more issue about it, please file a new issue to track. Thanks.

[2015-03-30 08:58] #180 closed

[2015-03-30 17:16] joshbooker commented on #278
The above link got truncated here it is again.

The fix would appear to be a reversal of this change:
http://aspnetwebstack.codeplex.com/SourceControl/changeset/d6c669701bbb

[2015-03-30 17:27] joshbooker commented on #278
Update:  I was able to remove the ApiExplorerSettings in a custom build of System.Web.Http.OData.

After doing so, the Azure AppService VS tools did indeed create swagger metadata, and the WebAPI did successfully publish to Azure AppService, but there were additional errors in Azure portal.

See:
https://social.msdn.microsoft.com/Forums/azure/en-US/7363e392-86d8-4b60-99fd-af98e128ab06/whats-the-od

[2015-03-31 02:25] xuzhg opened #281 "OData serialization cannot serializer the derived complex types"
For example:

[code]
now, I query this entity:
[code]

I can get:
[code]

You can find that "Expression" doesn't have any properties and the real type is not correct.
While, "MyExpression" has the right output.

The reason is that:
In `CreateODataComplexValue()` function of `ODataComplexTypeSerializer`, It doesn't calculate the real property type.

[2015-03-31 06:15] congysu opened #282 "Problem with serialisation of DateTimeOffset action parameters into RouteData"
Copy from https://github.com/OData/odata.net/issues/106

[2015-03-31 06:35] luoyan0517 opened #283 "Upgrade ODL dependency to 6.11"

[2015-03-31 06:37] luoyan0517 opened #284 "Upgrade Web API version to 5.6 beta"

[2015-03-31 06:38] luoyan0517 opened #285 "Upgrade Web API version to 5.6 beta"
source code and tooling

[2015-03-31 06:40] luoyan0517 commented on #284
#285

[2015-03-31 06:40] #284 closed

[2015-03-31 16:01] thebothead opened #288 "Model validation error for nested entity with non-nullable property is missing error message."
I have a model defined where an entity has a collection of a complex type.  The complex type has two properties, one is a string name and the other is a string value.  The string name is non-nullable per the metadata.

When I post a new entity with the collection of complex type to create with the new entity, and set the name to null for the complex type in the collection...

{
"Name" : "MyEvent",

[2015-04-01 07:38] dingeins opened #289 "Support getting instance annotations in request payloads in Web API"
The requirement comes from CRM. They'd like to allow special control information to be passed together with the data to the service when doing posts/updates.

It's also useful from a general perspective, e.g. `@odata.type` annotation be passed together with the complex type in a entity post to indicate if a base type instance or a derived type instance is posted, if the base type is defined in the

[2015-04-01 07:39] dingeins commented on #289
The related issue in ODataLib: https://github.com/OData/odata.net/issues/146

[2015-04-02 01:30] VikingsFan opened #290 "$count segment doesn't work in 5.5 with EF"
Request like: ~odata/customers/$count
                      ~odata/customers(1)/Addresses/$count           doesn't work

[2015-04-02 01:35] VikingsFan commented on #85
@thebothead , as I said above, please help to confirm that the issue is resoled by WebAPI V5.5.

[2015-04-02 09:07] jonjalberghini commented on #290
http://localhost:18832/Aas/SystemActivities?$count=true

This doesn't work either.

[2015-04-02 09:12] LianwMS opened #292 "$count segment doesn't work on un-typed scenario"
Request like: ~odata/customers/$count
 ~odata/customers(1)/Addresses/$count doesn't work

[2015-04-05 15:20] VikingsFan commented on #85
Close as #2 .

[2015-04-05 15:20] #85 closed

[2015-04-07 03:14] VikingsFan commented on #282
Verify test case:
WebApi\OData\test\System.Web.OData.Test\OData\DateTimeTest.cs FunctionsWorksOnDateTime
case pass when change server timezone to UTC+0.

This should work after #2 checked in, in V5.5.0 or V5.5.1.

[2015-04-07 03:14] #282 closed

[2015-04-07 04:10] VikingsFan commented on #274
@CrazyViper , I can not reproduce your issue with same model and request,
There is my builder and controller method:

            builder.EntitySet<TestEntity>("TestEntities");

            [EnableQuery]
            public IHttpActionResult Get()
            {
                   return Ok(new ODataRoutingModel.TestEntity ....
            }

[2015-04-07 06:06] CrazyViper commented on #274
@VikingsFan, thanks for your reply!

I've made more investigation and found out that your sample works fine because you have default options in EnableQueryAttribute

But my controller's Get method is:
[code]
I have this options default in all my app using this config:
[code]
I have to set HandleNullPropagation option to false to allow NHibernate to build and exceute the correct query.

So is it a

[2015-04-07 07:41] VikingsFan commented on #274
@CrazyViper Changed my test code:

           [EnableQuery(HandleNullPropagation = HandleNullPropagationOption.False)]
           public IQueryable<ODataRoutingModel.TestEntity> Get()
           {
           ...
           }

           configuration.AddODataQueryFilter(new EnableQueryAttribute
           {
                HandleNullPropagation = HandleNullPropagationOption.False,

[2015-04-07 09:25] CrazyViper commented on #274
@VikingsFan,
I've tried to create instances in ememory on request and the original query works fine. It seems that bug can be in NHibernate query parser. I need to take more time to explore this case and then I'll come back with the reply.

[2015-04-07 09:26] CrazyViper commented on #274
By the way, in my database I have no entities where subentity is null, so there can't be NRE.

[2015-04-07 15:12] jonjalberghini opened #293 "orderby whith datetime field Broken in 5.5.1 woorked in 5.4"
You have just released a version that breaks more than it fixes.
in 5.4 you added support for datetime and I could then use the orderby command without any work arounds this release (the only change I made )
breaks that see error below
http://localhost:18832/Aas/AppUsers?$orderby=CreatedAt%20desc

works currently with 5.4 with all components up-to-date with the newest stable versions.

CreatedAt i

[2015-04-07 17:26] congysu opened #294 "Formatting issue in xml comments about True and False"
Specifically, the problems were:
1.	`<see>true</see>`
2.	`<see langword="true"/>`

The `<see>` tag is used for links. Need replace these with just plain text for `True` or `False`.

There were also places were `bool` values formatted as `<c>true</c>` which gets converted to inline code and is therefore probably okay.

[2015-04-07 17:46] janhommes opened #295 "$expand does not call the controller"
Is it possible to call the controller on `$expand`? This way you can include authentication on server side and give the developer more control over the $expand function.

Example:

`/Product?$expand=Category`

Does call the `ProductController` on ...
[code]
... **and also** calls the `CategoryController` Get method with the correct `$filter` query ...

[code]
... **or** calls the `CategoryControll

[2015-04-08 02:30] congysu opened #296 "More Linq-to-* end to end tests"
End to end test cases should cover typical Linq providers: Linq-to-Objects, Linq-to-Entities, Linq-to-SQL.

[2015-04-08 10:58] VikingsFan commented on #293
@jonjalberghini , Thanks for your report!
We have a nightly build to unblock your service in myget , could you please try this build?
Add this link http://www.myget.org/F/aspnetwebstacknightly/ in nuget to get our nightly build.
Waiting for your reply.

[2015-04-08 18:27] jonjalberghini commented on #293
Thanks so much this nightly build ran on all my tests

http://localhost:18832/Aas/AppUsers?$filter=CreatedAt eq 2015-04-08T18:05:57-05:00

 

No need for casts anymore work perfect against MySQL and SQL server

 

http://localhost:18832/Aas/AppUsers?$count=true

 

http://localhost:18832/Aas/AppUsers?$orderby=CreatedAt desc &$count=true

 

All are working Perfect THANK YOU!!!

 

When will this r

[2015-04-08 18:31] jonjalberghini commented on #296
Thanks so much this nightly build ran on all my tests

http://localhost:18832/Aas/AppUsers?$filter=CreatedAt eq 2015-04-08T18:05:57-05:00

 

No need for casts anymore work perfect against MySQL and SQL server

 

http://localhost:18832/Aas/AppUsers?$count=true

 

http://localhost:18832/Aas/AppUsers?$orderby=CreatedAt desc &$count=true

 

All are working Perfect THANK YOU!!!

 

When will this r

[2015-04-08 19:33] jonjalberghini commented on #293
This doesn't throw an error but doesn't actually do anything. I am working with april 8th nightly build.

http://localhost:18832/Aas/Cases?$expand=ModifiedUser($filter=FirstName eq 'Eleri')&$count=true

Returns all cases.
This is the SQL produced and nowhere is the filter being applied
Opened connection at 08/04/2015 15:31:47 -04:00
SELECT
`GroupBy1`.`A1` AS `C1`
FROM (SELECT
COUNT(1) AS `A1`
FROM

[2015-04-08 19:35] jonjalberghini opened #298 "Nested filter in April 8th nightly build and 5.5.1 does nothing"
This doesn't throw an error but doesn't actually do anything. I am working with april 8th nightly build.

http://localhost:18832/Aas/Cases?$expand=ModifiedUser($filter=FirstName eq 'Eleri')&$count=true

Returns all cases.
This is the SQL produced and nowhere is the filter being applied
Opened connection at 08/04/2015 15:31:47 -04:00
SELECT
`GroupBy1`.`A1` AS `C1`
FROM (SELECT
COUNT(1) AS `A1`
FROM

[2015-04-09 15:59] vojtechvit opened #299 "[Bug] Computed key columns set to null on POST to EntitySet result in binding failure"
### Description

If you set value of a computed key property (I tested with a computed string key property) in a POST request to the entity's entity set, the JSON doesn't get bound to endpoint's action parameter. However, this should not cause any errors since, according to the standard, [such values should be ignored](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol

[2015-04-09 20:06] katan4ig opened #300 "[Bug] Function Date doesn't work with Linq To Entity"
Filter for example:
[code]
Field Birthday has type DateTimeOffset
After converting this function to Linq query, it looks as follows:
[code]
But Linq To Entity cannot convert this query to SQL, and throws next exception:
[code]
I use latest version Entity Framework(6.1.3) and Web Api Odata Libraries (6.11 and 5.5.1)

[2015-04-09 20:40] MrTomWhite commented on #35
@LianwMS: What is the status of this work item? I don't see it assigned to any milestones, so I take it that this isn't planned to be implemented int he short term?

What would one need to do to implement this feature + What are the relevant pieces of code that should be changed to support this?

[2015-04-10 02:20] VikingsFan commented on #300
time(DateTime) also doesn't work with same error

[2015-04-10 09:27] bj00rn commented on #70
+1 Any roadmap if/when this is to be implemented?

[2015-04-10 13:32] joshbooker opened #302 "Swagger json generation for OData - compatible with Azure App Service"
Azure App Service requires swagger metadata.  Swashbuckle is used in VS APIApp tooling to create the metadata using APIExplorer.  There are two problems preventing this from working in WebAPI OData projects:
1)  Odata Controller explicitly prevents APIExplorer
2)  Swashbuckle cannot handle routes and parameters for OData endpoints

Related issues:
https://github.com/OData/WebApi/issues/278
https:/

[2015-04-13 06:04] VikingsFan commented on #298
@jonjalberghini
please try this uri: http://localhost:18832/Aas/Cases?$filter=ModifiedUser/FirstName eq 'Eleri'&$expand=ModifiedUser&$count=true

The ModifiedUser is not a list, so the filter is not working.

[2015-04-13 11:42] jonjalberghini commented on #298
Thanks, That worked I understand.
----- Original Message -----

From: "Fan Ouyang" <notifications@github.com>
To: "OData/WebApi" <WebApi@noreply.github.com>
Cc: "jonjalberghini" <jonalberghini@comcast.net>
Sent: Monday, April 13, 2015 2:04:16 AM
Subject: Re: [WebApi] Nested filter in April 8th nightly build and 5.5.1 does nothing (#298)

@jonjalberghini
please try this uri: http://localhost:18832/

[2015-04-14 01:16] VikingsFan commented on #298
@jonjalberghini if the ModifiedUser is a list ,the filter in expand will work.

[2015-04-14 03:48] xuzhg commented on #300
@katan4ig, would you please check my pull request works for your scenario?

[2015-04-14 08:59] congysu commented on #302
Need to support e.g.: `/odata/swagger.json`

[2015-04-14 09:45] vojtechvit opened #304 "Support setting namespaces for operations in ODataConventionModelBuilder"
Right now the <code>ODataConventionModelBuilder</code> does not allow in any way to change the namespace of *individual* actions or functions from the "default" one to a custom one. This means that we have to use <code>EdmModel</code> instead, which is quite cumbersome. Please add this simple feature. We'd like to have namespaces for operations like [OneDrive API](https://api.onedrive.com/v1.0/$me

[2015-04-14 17:02] cherlyn commented on #126
This should be the bug - not "feature" or "enhancement" because $orderby keyword just ignored in this case - no warnings or errors shown for such kind of URLs.

[2015-04-14 19:52] sanderej commented on #57
The OData client code generator (http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/create-an-odata-v4-client-app) sends objects in the URLs through this alias method. Because of this bug, we can't accept any objects as parameters in our GET functions because Web API can't parse the request.

[2015-04-15 05:37] jogonzal-msft commented on #255
Is there an ETA for this fix?

[2015-04-15 10:10] congysu opened #305 "Generate yaml for an OData endpoint"
A human readable API interface description.
Related issue: https://github.com/OData/WebApi/issues/302

[2015-04-15 11:53] lewischeng-ms opened #306 "Consider establishing continuous integration of Web API on TeamCity"

[2015-04-15 12:58] b-butcher commented on #275
I have the same issue.  Hoping for a timely solution because I have other dependencies on webapi.* 5.2.3.

[2015-04-15 15:12] katan4ig commented on #300
@xuzhg, Thanks, your changes work fine.

[2015-04-16 10:01] congysu opened #307 "KeyValueParser is internal"
[KeyValueParser](https://github.com/OData/WebApi/blob/2fcfa1ed69deaf919ae0cde971a2bb21a4552601/OData/src/System.Web.OData/OData/Routing/KeyValueParser.cs) is internal:

[code]

Also the Values property of KeyValuePathSegment is also internal:

[code]

[2015-04-16 10:20] katan4ig commented on #300
@xuzhg I found that filter by "equal" doesn't work.
For example:
~/odata/Customers?$filter=date(Birthday) eq 2015-03-23
If field Birthday contains Time in DB (2015-03-23 + Time), this filter returns 0 rows

[2015-04-16 22:59] congysu commented on #293
Filter by no-nullable DateTime: 46ec381f0b82bc9ce3e9f58ea9dbe3064a751b1d.  nested filter in expand question is tracked in https://github.com/OData/WebApi/issues/298.

[2015-04-17 01:24] PinpointTownes commented on #229
Ding dong. Any news concerning the vNext port? :lollipop:

[2015-04-17 03:16] lewischeng-ms commented on #229
Hi @PinpointTownes Thank you very much for your attention. This month our team members are all focusing on documentation and tooling support of OData to help the community adopt OData more easily and smoothly. We plan to formally start working on vNext from May and we will update our status by then:)

[2015-04-17 09:35] PinpointTownes commented on #229
Wonderful, thanks @lewischeng-ms :bow:

[2015-04-17 12:49] ilmax commented on #229
Maybe this is the wrong place, if so please point me to the correct one. For odata vnext I would love to have ODataQueryOptions with enhanced support for custom mapping/aliasing.

This is useful when the entity type and the type the client uses are different (flattening/projection involved) or when exposing DTOs instead of data entities from web api controllers.

[2015-04-20 00:02] maboivin opened #308 "WebApi OData v3 OperationDescriptor returning different Title/Target URI depending on the format (ATOM vs JSON)"
I already asked this question/issue almost a week ago on StackOverflow and nobody seems to know the answer so far and I thought I'd ask the best guys to answer it. Here's the original link on SO http://stackoverflow.com/questions/29629758/webapi-odata-v3-operationdescriptor-returning-different-title-target-uri-dependi,

I'll copy the content here also:
Consider the following simple ASP.NET Web Api

[2015-04-20 02:05] congysu opened #309 "No transactional batch save"
Add transaction support to batch save.  Related [sample](https://github.com/OData/ODataSamples/tree/master/WebApi/v3/ODataEFBatchSample).
Or this can be a work item of [RESTier](https://github.com/OData/RESTier), given it has an EF provider.

Add related work item: https://github.com/OData/RESTier/issues/76

[2015-04-20 04:48] xuzhg commented on #300
@katan4ig

date() function is to return the "Date" part of the DateTimeOffset, That's the year, month & day. While the "Date" part maybe different for the same DateTimeOffset in different TimeZone.
For example, for current implementation:

if: Birthday = 2015-03-23T01:02:03.004+8:00
then: date(Birthday ) =  2015-03-23

if: Birthday = Birhthday.ToUniversalTime;
then: date(Birthday ) =  2015-03-22

[2015-04-20 05:16] VikingsFan opened #310 "[WebApi] Can't ignore some query options like $skip"
Sample:

Call my odata service use this url: ~/people?$skip=10

but $top is to call other service in my controller, not a odata query option:

    [EnableQuery]
    public IQueryable<EnableQueryCustomer> Get()
    {
              myClient.GetAsync("~/people?$skip=10");
    }

the result will apply $skip twice by the service I called in controller and odata.

[2015-04-20 09:23] congysu commented on #310
For example, in `ODataQueryOptions`, a query option, e.g., `SkipQueryOption` could have a flag, e.g., `Applied`, when `Applied == true`, `EnableQuery` does not need to apply the query option again.

[2015-04-20 09:48] congysu opened #311 "Can OData API controller does "expand" the item by default without specifying $expand"
e.g., in the model builder, allow specify whether a navigation property is by default expanded.  In `ODataQueryOptions`, build `SelectExpandQueryOption` from `ODataQueryContext Context`, if `RawValues.Expand` is `null`, and the `Context` contains a default expanded nav prop:
[code]

[2015-04-20 16:55] MaxWilson opened #312 "Null-valued open properties not getting serialized"
Description:

Open properties with null values are omitted from serialized output. Makes it impossible to distinguish unset open properties from properties set to null.

Minimal repro steps:
Create an open type. Make a service operation which returns an instance of that open type, with its dynamic property collection set to new Dictionary<string, object> { { "MyNullProperty", null } }. Call the se

[2015-04-20 17:19] MaxWilson commented on #312
Sorry, paste error excluded type parameters. Corrected:

        // GET: odata/Stores
        [EnableQuery]
        public IQueryable GetStores()
        {
            var retval = new Store
            {
                StoreID = 8,
                StoreName = "My store",
                DynamicProperties = new Dictionary<string, object> { { "MyNullProperty", null }, { "MyNonNullProperty", 42 } }

[2015-04-20 23:52] congysu commented on #90
The check-in for #90 b49a3e51f1e6d07b6323d235aee4136fe222c035.  Please write e2e test with IIS hosting: See if `SetHeader` in `WriteToStream` works or not.

[2015-04-21 00:07] congysu commented on #127
@dotnetwise A doc - GitHub page: [Nested $filter in $expand](http://odata.github.io/WebApi/#filter-in-expand).  It is included in [OData v4 Web API nuget package]( https://www.nuget.org/packages/Microsoft.AspNet.OData/) 5.5-beta and afterwards.

[2015-04-21 02:49] congysu commented on #312
Thanks @MaxWilson for reporting the issue.  Please feel free to submit a pull request on it.

[2015-04-21 08:55] LianwMS commented on #277
#307

[2015-04-22 02:04] xuzhg commented on #285
Checked in: 14ab71003ce6325d43adcd2133100cefc8d422f8

[2015-04-22 02:04] #285 closed

[2015-04-22 02:19] xuzhg commented on #279
We are sorry about this, however OData team works hard to fix the gap. Some parts in BreezeJS documentation is truth, but most of them are really out of date. For example, the doc mentions that:
`6.OData does not support .NET enum types.`
This is not truth. Since Web API OData 5.1, .NET enum type has been supported.

We are happy to help you solve your concrete OData problem and glad to hear your

[2015-04-22 02:19] #279 closed

[2015-04-22 02:25] xuzhg commented on #216
Can you explicitly set the property as nullable?

[2015-04-22 02:29] xuzhg commented on #206
Please check the checked-in:  073f8818cb18f6f618d6637c257f48f501aa6c4c

please re-open it if you have more concern. Thanks.

[2015-04-22 02:29] #206 closed

[2015-04-22 02:34] xuzhg commented on #136
please fill new issue if you have more concerns. Thanks.

[2015-04-22 02:37] xuzhg commented on #61
It's clear. close it.

[2015-04-22 02:37] #61 closed

[2015-04-22 02:41] xuzhg commented on #312
@MaxWilson Skip the null dynamic property to serialize is by design. What's your scenario to have a null-dynamic property in the payload?

I do think you can set the value as null if you can't find the dynamic property in the payload. Please let us know your thought. thanks.

[2015-04-22 02:44] xuzhg commented on #103
Liang is working on similar issue. Re-assign it to him. Thanks.

[2015-04-22 03:18] congysu commented on #273
Two of them:
1. For an in-mem data source.
2. For EF

[2015-04-22 03:53] lewischeng-ms commented on #229
@ilmax Thanks for your feedback. Actually we are considering to offer enough flexibility when constructing EDM model from the Clr types users give us in vNext. I think what you suggest can be done by this part of the work.

[2015-04-22 05:56] Vaccano commented on #279
Enum support is the very least of the issues that page mentions.

The biggest are lack of batching support and inability to commit in the right order.

What is the status of those?

[2015-04-22 06:37] congysu commented on #279
@Vaccano The issue is tracked in https://github.com/OData/WebApi/issues/309.  OData Web API [5.4](http://odata.github.io/WebApi/5.4/) has done the following:
* Referential constraint (v4, v3) #37
* Case-insensitive support (v4) #11
* StoreGeneratedPattern annotation (v3) #189
* ConcurrencyMode annotation and ETag (v3) #190

[2015-04-22 09:57] pascalberger commented on #216
Which property or how to explicitely set as nullable?

MyModel.MyPropertyId is a string and therefore nullable by design, MyModel.MyProperty is a reference type and also nullable by design.

[2015-04-23 11:04] lothargrieb commented on #221
Can anyone from Microsoft explain me, why it is so complicated to make this very important and 100% essential DateTime compatibility in all cases, like quering, selecting ($select), filtering($filter), and sorting ($orderby) running? There are many and many huge projects which wants to be extended to use modern odata v4 technology.

[2015-04-23 13:02] vojtechvit commented on #149
+1

[2015-04-23 13:22] riwickel commented on #170
**For completeness / users using this Workaround:**
if you are using `Microsoft.OData.Client` at client side, you have also to configure it for handling 404:
[code]

An old blog about it: http://blogs.msdn.com/b/peter_qian/archive/2009/03/20/safe-resource-not-found-404-exception-handling-in-ado-net-data-service-client.aspx

[2015-04-23 23:09] MaxWilsonMS commented on #312
Scenario is letting end-users have a property bag for business data that actually shows everything that's in the bag (so that adding new properties doesn't take a dev cycle). Also, the fact that the OData spec says that open properties can be nullable, so I should think the scenario is also "implement behavior from the OData spec."

It's hard to be more specific about the scenario because OData sc

[2015-04-24 14:46] ricksearcy opened #315 "Cant't $filter or $oderby on Open complex type"
Using the sample entity below. Project is an open type where we have stored a Relation type as the Value. Key = "Project", Value = The Relation object.

If you then try to $filter or $order by the open complex type, such as $orderby = Project/Title or $filter = Project/Title you get the exception below.
Object
{
            "ParentListId": "53bc8adf-fa0b-4968-a340-a04946ff5b38",
            "Title

[2015-04-29 03:36] congysu opened #317 "Support nullable referential constraint with conventional model builder"
For now, it is only supported with model builder, but not conventional model builder.
Consider to support the [following scenario](http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/entity-relations-in-odata-v4):
[code]

[2015-04-29 06:45] xuzhg commented on #260
Finished at: e0ab4a917bbb2c0c2b39df68928dce44d3256a43

[2015-04-29 06:45] #260 closed

[2015-04-29 06:47] xuzhg commented on #263
Finished at:

0c0b8511d20d4a639b5a76526883c027447a5f38

203461c351d7a8c24ebecf27e78ed72bab9ac253

84a344cc1a79cb29112d8c502072d3eac927cec4

....

[2015-04-29 06:47] #263 closed

[2015-04-29 08:11] xuzhg commented on #255
`ODataMediaTypeFormatter` has  codes as:

[code]

Where `IsOperationPath(path)` returns `true` because it's a function call, therefore `Path` in the `writerSettings.ODataUri` is null.

While, in ODL, `ODataWriterCore` need `Path` in the `writerSettings.ODataUri` to be set, otherwise it will throw the ODataException. However, it's hard to calculate the path for the returned entity of a function.

T

[2015-04-29 11:43] congysu commented on #232
Checked in 20d0ab5.

[2015-04-29 15:16] LianwMS opened #318 "Add SQM for WebAPI OData V4 scaffolding"

[2015-04-29 15:18] #290 closed

[2015-04-29 15:19] LianwMS opened #319 "Convention and Attribute Routing for Dynamic Property"
Add the logic for convention and attribute routing  for dynamic property

[2015-04-29 20:51] fernandolguevara opened #320 "stackoverflow on HttpActionDescriptorExtensions.GetEdmModel"
When a OData query starts the library creates an IEdmModel

EnableQuery.cs
...
model = actionDescriptor.GetEdmModel(elementClrType);
...

For Example
http://.../Customers?$top=10

then the main entity is added to the model with their properties.

BaseEntity.cs
public class BaseEntity {
    [NotMapped, JsonIgnore]
    public DbEntityEntry Entry { get; set; }
}

Customer.cs
public class Customer : B

[2015-04-30 04:04] lewischeng-ms opened #321 "PUT a decimal property does not support specifying a float number in the request body"
Suppose the `ListPrice` property is of type `Edm.Decimal` and **PUT** the following content:

[code]

to the URL [http://localhost:56347/AdventureWorksLT/Products(708)/ListPrice](http://localhost:56347/AdventureWorksLT/Products%28708%29/ListPrice)

Will get the following error:

[code]

The controller method signature is:

[code]

Thanks.

[2015-04-30 09:17] xuzhg commented on #300
Checked in: 424764a

[2015-04-30 09:18] xuzhg commented on #300
@katan4ig  please re-open or file a new issue if you have further concern.

[2015-04-30 09:18] #300 closed

[2015-04-30 12:03] congysu commented on #319
Checked in ac72f75.

[2015-05-04 05:14] xuzhg commented on #294
Check at:  eeabd634eef7e422049930681c88859e658c2608

[2015-05-04 05:14] #294 closed

[2015-05-04 08:54] VikingsFan opened #324 "WebApi E2E V4 TestRandomEntityTypesJsonLight case deadlock"
TestRandomEntityTypesJsonLight will cause deadlock randomly.

[2015-05-04 08:58] VikingsFan opened #325 "WebApi V3 CannotDeleteTheRelatedOrders_IfDeleteTheCustomer case failed randomly"
Assert.Equal() Failure
    Expected: OK
    Actual:   NotFound at WebStack.QA.Test.OData.ForeignKey.ForeignKeyTest<CannotDeleteTheRelatedOrders_IfDeleteTheCustomer>d__40.MoveNext() in c:\TeamCity\buildAgent\work\a52efcb1f597af9b\OData\test\E2ETestV3\WebStack.QA.Test.OData\ForeignKey\ForeignKeyTest.cs:line 159

[2015-05-05 01:45] #292 closed

[2015-05-05 01:47] #232 closed

[2015-05-05 01:50] VikingsFan commented on #261
checked in  0660fb7c5730214e994982f7d8f220212dfaf9b3

[2015-05-05 01:50] #261 closed

[2015-05-05 01:53] VikingsFan commented on #265
Already enabled

[2015-05-05 01:53] #265 closed

[2015-05-05 01:54] #298 closed

[2015-05-05 01:55] MrTomWhite commented on #265
Will these tests get run automatically for each pull request?

[2015-05-05 01:56] VikingsFan commented on #274
If you found a way to fix this situation with NHibernate, pull request is very welcome, reopen this issue if you have any concern.

[2015-05-05 01:56] #274 closed

[2015-05-05 02:00] VikingsFan commented on #265
Will run auto for each checkin, you should run E2E test before send a pull request, will update the contribution.md soon.

[2015-05-05 05:07] hotchandanisagar opened #327 "Delta Feed Serialization should support both Typed and Untyped scenario"
Currently the change support untyped scenario only.
Though, the ODataDeltaFeedSerializer support both typed and un-typed.

[2015-05-05 07:29] liqian19891011 opened #328 "[Feature] Add Stream Support to WebApi"
Add contents for Stream support in OData V4 on odata.github.io/WebApi.

We have related questions on [StackOverflow](http://stackoverflow.com/questions/30043442/stream-support-in-odata-v4)

[2015-05-06 02:07] VikingsFan commented on #261
url: http://odata.github.io/WebApi/#06-03-costomize-odata-formatter

[2015-05-06 02:32] VikingsFan commented on #262
url: http://odata.github.io/WebApi/#04-11-query-option

[2015-05-06 02:32] #262 closed

[2015-05-06 09:04] VikingsFan opened #330 "[WebApi]Dynamic property name is null use convention routing"
public IHttpActionResult GetDynamicPropertyFromAccount([FromODataUri] int key, [FromODataUri] string dynamicProperty)
    {
        // the dynamicProperty is null, when use [FromODataUri]
    }

It works fine without [FromODataUri]

[2015-05-07 17:26] Casimodo72 opened #331 "Enum in filter error (enum prefix free)"
Hi,

[I also posted this at OData/odata.net because I don't know exactly where to put this]

I'm getting an error when filtering without enum prefixes (e.g. odata/MyExamples?$filter=MyEnumProp+eq+'One')

Filtering with prefixes works fine (e.g. odata/MyExamples?$filter=MyEnumProp+eq+Gfa.Data.MyExampleEnum'One')

I have enabled the enum prefix free option: config.EnableEnumPrefixFree(enumPrefixFree

[2015-05-08 03:03] xuzhg commented on #331
@Casimodo72， I add more test cases to verify enum prefix free in $filter and it works on my side. Would you please check my commit bad3b8c?
If you have further concern, would you please share us your sample codes to help us investigate? Thanks in advance.

[2015-05-08 16:00] Casimodo72 commented on #331
@xuzhg, I was able to narrow down the issue to the enum (i.e. the type of the property) being a nullable enum in my scenario. The tests operate on non-nullable types.
In BindConstantNode(ConstantNode constantNode) the Enum.Parse(constantType, strValue) fails for nullable types.

Proposed fix: In BindingConstantNode, use the underlying type if a nullable type was given.
constantType = Nullable.GetU

[2015-05-08 16:46] mj1856 commented on #2
FYI - I am working on adding proper `Date` and `TimeOfDay` support to .NET Core.  See dotnet/corefx#700 and http://github.com/mj1856/corefx-dateandtime

At some point in the future (not now), it may be worth using these and dropping the ones in `Microosft.OData.Edm.Library`.

@xuzhg - Your input would be appreciated on the project.  Thanks.

[2015-05-08 19:01] mj1856 opened #334 "Time zone conversions are not DST aware"
In [`OData.Formatter.EdmPrimitiveHelpers.ConvertPrimitiveValue`](https://github.com/OData/WebApi/blob/bad3b8cbec3af117903dcdd2748b1626f9f88c5c/OData/src/System.Web.OData/OData/Formatter/EdmPrimitiveHelpers.cs#L87) and [`OData.Formatter.Serialization.ODataPrimitiveSerializer.ConvertUnsupportedPrimitives`](https://github.com/OData/WebApi/blob/bad3b8cbec3af117903dcdd2748b1626f9f88c5c/OData/src/System

[2015-05-11 03:38] #331 closed

[2015-05-11 03:41] xuzhg commented on #331
@Casimodo72, Thanks.

I have modified the codes as your suggestion. However, you are warmly welcome to send us pull request to make your contribution on the Web API OData.

[2015-05-11 06:25] karataliu opened #337 "Split E2E tests run for trace"
Unleass placing the following:
[NuwaTrace(NuwaTraceAttribute.Tag.Off)]

All cases would run twice, one with trace and one without. Consider auto disable trace in VS, but enable it when running from command line.

[2015-05-11 19:56] ghost opened #339 "ODataModelBuilder doesn't support EnableLowerCamelCase()"
Using ODataConventionModelBuilder you can do:

[code]

Shouldn't ODataModelBuilder also have support for that?

[2015-05-11 20:07] esditm commented on #339
I had a quick look at the source and to me it seems like it just an oversight, and the EnableLowerCamelCase extension method should extend ODataModelBuilder instead.

I'll look into doing a PR for this, should I have some free time :)

[2015-05-12 09:10] congysu commented on #328
Consider to support named stream (aka stream property) or media link entry (i.e., media entry)
If named stream, we need to change OData entry serializer.
[code]

If media link entry, we need to create an entity type with HasStream set to true in OData v4.  E.g., use this ctor:
[code]
The change is in model builder.

[2015-05-12 09:16] congysu commented on #339
@esditm @sornaks Thank you very much for reporting the issue.  Can you please send a pull request for the issue?  Thanks.

[2015-05-12 09:22] esditm commented on #339
I will. It's not quite done yet. You can follow my progress in the commits :)

[2015-05-12 21:30] snebjorn commented on #339
Silly question. How do I run the tests?

I can see you use xUnit. I installed the xunit.runner.visualstudio nuget package in the test project but the test explorer didn't find any tests :/

[2015-05-13 01:57] xuzhg commented on #283
Updated in Commit: b64c038539858b705f8954831d852c5723b06e36

[2015-05-13 01:57] #283 closed

[2015-05-13 21:20] snebjorn commented on #339
I need some help writing a test.

This doesn't work with the ODataModelBuilder:
[code]
I've looked at the `model.SchemaElements` but can't find anything that would work. `.OfType<IEdmEntityType>()` actually returns null. So I'm not sure where to go from here.

Full test code
[code]

[2015-05-14 02:26] xuzhg opened #342 "Add test cases to verify Uri parser can't work for short data type (Edm.Int16) for function parameter"
ODL has a fix for [#154](https://github.com/OData/odata.net/issues/154).

Please add test cases in Web API to verify it works fine. Thanks.

[2015-05-14 02:48] xuzhg commented on #281
Checked in: d3eb5c5

[2015-05-14 02:48] #281 closed

[2015-05-14 11:07] congysu commented on #296
@jonjalberghini Thanks very much for your feedback.  We released 5.6 beta to nuget.org:
http://www.nuget.org/packages/Microsoft.AspNet.OData/5.6.0-beta1
http://odata.github.io/WebApi/#07-06-5-6-beta1

[2015-05-14 17:54] joshmouch commented on #31
How does one use the above UrlExtension for a bound odata function?
For example, to get to the URL:
/odata/Entities/Namespace.SearchName(name='curb')

It seems that the BoundFunctionPathSegment constructor has an internal contructor that would work... but... it's internal (why's Microsoft always do this?).

This is what I envision I would need:
@Url.ODataUrl("odata", new EntitySetPathSegment("Enti

[2015-05-15 11:25] congysu opened #346 "Support $all"
Example: `http://localhost/odata/$all`.  The related spec is:
[4.12 Addressing All Entities in a Service](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part2-url-conventions/odata-v4.0-errata02-os-part2-url-conventions-complete.html#_Toc406398091)

For now, it throws, if use attribute routing: `[ODataRoute("$all")]`:

[code]

This issue has a dependency on https://github.com/ODa

[2015-05-15 19:27] jonjalberghini opened #347 "The edm.Date type doesn't work in Microsoft.AspNet.OData.5.6.0-beta1-150428-Nightly if Declared as Nullable"
The edm.Date type doesn't work in Microsoft.AspNet.OData.5.6.0-beta1-150428-Nightly if Declared as Nullable. The EF doesn't seem to understand what it is and says field not declared.

[2015-05-15 19:30] jonjalberghini opened #348 "Correct url usage to expand child of a child and also filter the middle child."
This url works fine bt is this the correct way to call it?
version Microsoft.AspNet.OData.5.6.0-beta1-150428-Nightly
http://localhost:18832/Aas/Cases?&$filter=(SummaryDate ge 2012-08-09T00:00:00+02:00 and ModifiedById eq 114)&$expand=Schools,Activities($expand=ActivityAppUser),Activities($filter=Reminder ne null and IsComplete eq null)

see the 2 Activities entries? This works perfect just not sur

[2015-05-17 12:52] CarefreeXT opened #349 "$expand contain $count don't work"
Hi:
I use System.Web.OData[5.5.1.0]
http://localhost:3391/Suppliers?$count=true
http://localhost:3391/Suppliers?$count=true&$expand=Products
this url is OK.

But the url "$expand" contain "$count" can't work
For example: http://localhost:3391/Suppliers?$count=true&$expand=Products($count=true)

The [Products] property has't count.

[2015-05-19 02:25] LaylaLiu opened #352 "Update project site in nuget packages to http://odata.github.io/."

[2015-05-19 07:12] LianwMS commented on #330
Submit with https://github.com/OData/WebApi/pull/350

[2015-05-19 07:51] xuzhg commented on #352
Updated.

Please review:
https://odatateam.visualstudio.com/DefaultCollection/_git/webapitooling/commit/aefcb59f8c0ba88320f49a7ebe9fc50dbc7eddc2

[2015-05-19 07:51] #352 closed

[2015-05-19 08:02] xuzhg commented on #216
@pascalberger: please re-open or file new issue if you find further concern.

[2015-05-19 08:02] #216 closed

[2015-05-19 08:02] xuzhg commented on #317
Fixed at:  ef8c917

[2015-05-19 08:02] #317 closed

[2015-05-19 08:20] xuzhg commented on #215
Fixed at:  185ace5e4fbbdfa2c3699914ec2e6bad3762635e

[2015-05-19 08:20] #215 closed

[2015-05-19 08:27] xuzhg commented on #347
Hi, @jonjalberghini

Would you please give us more detail about your model? the usage scenario and the error message you got?

Edm.Date & Edm.TimeOfDay are new Primitive types, and the related CLR types are defined in ODL. the CLR types are structs as [Date](https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Edm/Library/Date.cs) and [TimeOfDay](https://github.com/OData/odata.net/bl

[2015-05-19 08:30] xuzhg commented on #339
@snebjorn, does your test case work now?

[2015-05-19 12:23] jonjalberghini commented on #347
I am not sure I understand. See below sample.
I have a date field in the database, I want odata to think it is a date field because it keeps rolling it back a day because the server is UTC and the client is one hour behind. I am not even sure how odata know the client timezone but it does I tested setting my time zone 2hr back and it turned it into datetiime day before 22:00:00 when I use datetime

[2015-05-19 12:23] jonjalberghini commented on #347
Sorry didn't mean to close it.

[2015-05-19 12:24] jonjalberghini commented on #347
I am not sure I understand. See below sample.
I have a date field in the database, I want odata to think it is a date field because it keeps rolling it back a day because the server is UTC and the client is one hour behind. I am not even sure how odata know the client timezone but it does I tested setting my time zone 2hr back and it turned it into datetiime day before 22:00:00 when I use datetime

[2015-05-19 12:25] jonjalberghini commented on #348
Please note ActivityAppUser is a set not one to one.

[2015-05-19 22:44] snebjorn commented on #339
I had another look, and it seems I was using the model builder incorrectly.

This is what is should look like, I believe:
[code]
Compared to this `[DataContract]`
[code]
But `EnableLowerCamelCase` sets all to lowercase. Think it's because it can't detect that that the name is being overwritten as it was with `[DataMember(Name = "xyz")]`... so I'll have to look into that. Not sure if that's possibl

[2015-05-20 02:35] xuzhg commented on #347
@jonjalberghini

In fact, EF doesn't know the "Date" type defined in ODL. It can't mapping <strong>IsComplete</strong> to any column in the DB. So, you can't do it.

You can change to use <strong>DateTime</strong> type, or mapping the column by yourself.

By the way, what is 'Occurred' property?

[2015-05-20 07:14] LianwMS commented on #348
Activities($expand=ActivityAppUser & $filter=Reminder ne null and IsComplete eq null) is more clearly, but our ODL lib also support if you separate them

[2015-05-21 15:02] Casimodo72 opened #355 "Convention model builder: duplicate properties"
Using ASP identity v2 (Microsoft.AspNet.Identity.EntityFramework v2), the ODataConventionModelBuilder creates duplicate properties.
I'm using "Microsoft.AspNet.OData" version="5.6.0-rc-150519-Nightly"

Scenario:

I'm deriving all identity classes.
E.g. `public class Role : IdentityRole<Guid, UserRole>`

I'm using the ODataConventionModelBuilder to build the identity EDM types. Note that I also hav

[2015-05-21 18:23] kpko opened #356 "Support SingleResult on POST action (OData v4)"
Hi,

currently we have the ability to use query options like $expand, $select, ... on the result of an update action (PUT) on an ODataController. We use this is several situations where we want to expand properties when updating foreign keys of an entity.

This is implemented via SingleResult<T> and Updated():

[code]

When using Prefer: return=representation header, it's possible to use $expand o

[2015-05-22 12:10] esditm commented on #126
:+1:

[2015-05-22 12:55] Casimodo72 commented on #355
- Is the ODataConventionModelBuilder intended to apply *additional* property configuration for an existing property (on the given type) explicitly at all?
Such a post-configuration would be great to have, if not being the most intuitively expected behavior.

- In MapEntityType, explicit navigation properties are effective, overwriting existing properties.

- In MapStructuralProperty, explicit stru

[2015-05-22 13:24] ghost opened #357 "Intercept OData query and alter it before execution"
I've run into a problem where I need to alter the where clause of the incoming OData query.

I have the following ODataController which sort of works.

[code]

The Product class is a hierarchy

[code]

So when I do the following OData query:

[code]

I want the children to also abide the where clause `Where(x => x.CategoryId == key)`

But I cannot alter the ODataQueryOptions object as all the prop

[2015-05-22 14:54] jonjalberghini commented on #348
This doesn't work.
http://localhost:18832/Aas/Cases?&$filter=(SummaryDate ge 2012-08-09T00:00:00Z and ModifiedById eq 114)&$expand=Schools,Activities($expand=ActivityAppUser & $filter=Reminder ne null and IsComplete eq null)

Error
{"message":"The controller for path \u0027/Aas/Cases\u0027 was not found or does not implement IController."}

function should call
	[ODataRoutePrefix("Cases")]
	public

[2015-05-22 20:28] snebjorn commented on #348
Your query is incorrect. When you need multiple statements inside nested statements ie. $expand=foo(...) you use ; instead of & to add them.

This should work:
[code]

Can't remember where I found it. But it was well hidden!

[2015-05-23 14:15] jonjalberghini commented on #348
Thanks so much! Someone told me & and they are the one writing the software. Thats scary.

[2015-05-23 14:18] jonjalberghini commented on #348
Thank you it works perfect they should really add that to the documentation

[2015-05-24 08:16] kindermansx opened #358 "Installing Web API OData V4 Prerelease 5.6.0-RC"
Hi,

I updated to Web Api 2.2 for OData 4 5.6RC to test if the datetime issue would now work. After nuget update the API referenced version of System.Web.OData is incorrect. After update it references 5.5.0 and the api returns errors stating that it cannot find system.web.odata.dll.

For testing purposes I manually changed the ref to System.Web.OData.dll 5.5.1 and it worked.

Is this a issue in th

[2015-05-24 08:28] kindermansx opened #359 "Order by Datetime in v5.6RC still not working"
Hi,

I updated to OData 4 prerelease but the issue of ordering by a datetime field is still there.

We use EF 6.1.3 to get data from db.

Am I perhaps doing someting wrong in the API?

Thanks, Xavier

Request (Modified is DateTime):
GET http://localhost:54142/odata/testrequests?$orderby=Modified HTTP/1.1
User-Agent: Fiddler
Host: localhost:54142
Content-Type: application/json

Response:
HTTP/1.1 5

[2015-05-24 12:57] jonjalberghini commented on #359
I cannot tell from this, but it does work with mssql EF / and mysql EF 6.1.3 and Microsoft.AspNet.OData.5.6.0-rc-150521-Nightly

Send the result of your $metadata url and the class and controller get fiunction definitions.

Jon

----- Original Message -----

From: "kindermansx" <notifications@github.com>
To: "OData/WebApi" <WebApi@noreply.github.com>
Sent: Sunday, May 24, 2015 4:28:10 AM
Subject:

[2015-05-24 12:58] jonjalberghini commented on #359
Even though the docs say it work only the 5.6 rc work with dates and datetimes.

----- Original Message -----

From: "kindermansx" <notifications@github.com>
To: "OData/WebApi" <WebApi@noreply.github.com>
Sent: Sunday, May 24, 2015 4:28:10 AM
Subject: [WebApi] Order by Datetime in v5.6RC still not working (#359)

Hi,

I updated to OData 4 prerelease but the issue of ordering by a datetime field is

[2015-05-24 16:15] Casimodo72 opened #360 "EnableUnqualifiedNameCall(true) has no effect?"
Hi,
when I enable the "unqualified function and name call" option with EnableUnqualifiedNameCall and omit the namespace of a function in the URL then the OData uri parser throws an exception. So I wonder if this option is not implemented correctly or if I'm not understanding the purpose of it.

Scenario:
[code]
This request works fine:
GET http://localhost:26162/odata/People/Ga.DoIt() HTTP/1.1

Th

[2015-05-25 01:44] LianwMS commented on #348
@jonjalberghini Sorry that the I make the mistake in response.

[2015-05-25 01:44] #348 closed

[2015-05-25 03:45] LianwMS commented on #358
Thanks Xavier, we will publish rc2 ASAP to fix the issue

[2015-05-25 05:32] kindermansx commented on #359
Jon, metadata doc;
HTTP/1.1 200 OK
Cache-Control: no-cache
Pragma: no-cache
Content-Type: application/xml
Expires: -1
Server: Microsoft-IIS/8.0
OData-Version: 4.0
X-AspNet-Version: 4.0.30319
X-SourceFiles: =?UTF-8?B?QzpcQ29kZVxpbmZvZmx1eC52aXN1YWxzdHVkaW8uY29tXEZsdXhMYWJcSW5mb0ZsdXguUmVmQXJjaFxJbmZvRmx1eC5SZWZBcmNoLk9EYXRhQXBpXG9kYXRhXCRtZXRhZGF0YQ==?=
X-Powered-By: ASP.NET
Date: Mon, 25 May 2015

[2015-05-25 06:20] kindermansx commented on #359
Jon

Quick update. Just to make sure my project might be causing the problem I started a new project referencing the nightly build and it seems to work now!

Taking a closer look at my original project I notice that updating the OData package caused my refs to be all mangled up. After update System.Web.OData is version 5.6 (which is correct) but the api throws exceptions when I call an endpoint co

[2015-05-25 07:09] LianwMS commented on #358
@kindermansx Just updated, please confirm

[2015-05-25 08:27] xuzhg commented on #360
@Kasimier

What Web API OData version did you refer to?

Before Web API OData V5.6, Unqualified name call doesn't wok on attribute routing. You can refer to: #280.

I think update to [Web API OData V5.6](http://www.nuget.org/packages/Microsoft.AspNet.OData/5.6.0-rc2) can resolve your problem.

And I create a simple project to verify it. You can refer to it [here](https://github.com/xuzhg/WebApiSam

[2015-05-25 08:34] xuzhg commented on #359
Thanks @jonjalberghini.

@kindermansx, Appreciate your feedback and look forward your investigation. Thanks all to improve the Web API OData usability.

[2015-05-25 13:57] congysu opened #361 "Some links are broken"
In http://odata.github.io/WebApi/#07-04-5-5, the following links don't work:
Abstract entity type without keys or properties 182
Complex type, Entity reference, Entity, and collection as function/action parameters 7
Edm.Date & Edm.TimeOfDay support 156
Open type and dynamic property on un-type scenario 171
Nested $filter in $expand 127

[2015-05-25 19:32] Casimodo72 commented on #360
@xuzhg,
I'm using the master branch of Web API OData and ODataLib.
I took the time and debugged my app using the ODataLib sources. It turned out to be an ODataLib issue related to open types. I.e. using EnableUnqualifiedNameCall(true) on open types has no effect. Is this a bug in ODataLib or does the spec mandate this?

In your example, change the type to the following, making it an open type. The

[2015-05-25 19:41] Casimodo72 commented on #360
Made the ODataLib team aware of this issue: https://github.com/OData/odata.net/issues/200

[2015-05-26 01:12] xuzhg commented on #360
@Casimodo72

Thanks your further feedback. I re-open this issue again to track the ODL fix and Web API OData verification.

Of course, you're warmly welcome to contribute the product codes and test codes by pulling request.

Regards,
Sam

[2015-05-26 01:21] xuzhg commented on #361
Updated the links at [here](https://github.com/OData/WebApi/commit/bb795a045e3c7046abe2439af1f4825332fd60c6)

[2015-05-26 01:21] #361 closed

[2015-05-27 02:27] sammym1982 commented on #328
thanks @congysu  Is this issue accepted for next release of libraries?

For interim do you have any suggestion on how we can go ahead and add the stream support.

[2015-05-27 03:08] VikingsFan commented on #355
Looks like duplicate reason is the same bug with #217 , but the fix may be a breaking change for us. But I think this is not a bug to block your scenario, first, if you have built the IdentityRole entityset, why declare Roles's Id is key, you should get Role through IdentityRole.
Or you just want the entityset is Roles, you can only build Role in convention model builder, and remove the explicit k

[2015-05-27 03:49] #330 closed

[2015-05-27 03:50] #319 closed

[2015-05-27 03:57] #293 closed

[2015-05-27 08:21] vojtechvit opened #362 "Calling functions that have no parameters without parentheses should not be allowed"
Mapping OData routes of functions without parameters like this:

`ODataRoute("getTime")`

should not be allowed. [OData-ABNF] specifies:

`functionParameters = OPEN [ functionParameter *( COMMA functionParameter ) ] CLOSE`

Hence, I assume that the only correct way to map a function route should be:

`ODataRoute("getTime()")`

Of course there may be some optional behavior relaxation, but it should

[2015-05-29 02:56] xuzhg commented on #168
I think it's supported as commit: aa53472

[2015-05-29 02:56] #168 closed

[2015-05-29 02:57] VikingsFan commented on #106
Checked in 07ae38d4cc1184285a826c72735d2df2c47c6354

[2015-05-29 02:57] #106 closed

[2015-05-29 04:56] DisgruntledDog commented on #216
Has this been resolved for ODataV3? I got the latest build and I still have this same problem.

I can't move to OData V4 as it appears that SharePoint (or at least the Visual Studio External Content Type generator) can't cope with V4.

Cheers,
Chris

[2015-05-29 11:35] devdorn commented on #170
One issue with the workaround is, that for odata function calls we also get a 404 because
base.GetODataPayloadSerializer(model, type, request) is null too in this case. Here is my version of dealing with this issue:
[code]

[2015-05-29 18:22] levicui opened #364 "Allow exposing/receiving enum types as integer type"
Currently, when we define an enum type in data entity, they are serialized and deserialized as enum type string, for example:

OData.Models.Color'1'
or
OData.Models.Color'Blue'

However, to support "adding an enum type" as a non-breaking change for clients, it would be nicer to also support integer type being exposed and consumed for enum property or parameter. This would also help to lower the tr

[2015-05-29 19:15] Casimodo72 commented on #355
@VikingsFan, you are right. My example using the IdentityRole is *incorrect*. The keys need to be defined explicitely only on IdentityUserRole, IdentityUserClaim and IdentityUserLogin:
[code]
[code]

Can you elaborate on: "the fix may be a breaking change for us". I interpret this as: "we have lots of duplicate properties defined on your side". In which case is it OK to have duplicate properties d

[2015-05-29 19:46] Casimodo72 commented on #355
This *is* a blocker for us because we can't *expand* user roles.
E.g. here the request "http://localhost:26162/odata/Users/Ga.Lookup()?$expand=Roles" throws an exception in ODataLib in ValidateIsExpectedPrimitiveType.ValidationUtils
```{BadAmbiguousElementBinding : The name 'UserId' is ambiguous.}```

This is due to the duplicate property "UserId" on the IdentityUserRole.

Regards,
Kasimier Buchci

[2015-05-29 20:09] Casimodo72 commented on #217
@xuzhg,
this issue is not related to the PropertyInfo type, because in ODataConventionModelBuilder.MapStructuralProperty the property is looked up by its name.
Here the explicit property is set on the reflected property:
``` addedEdmProperty.AddedExplicitly = addedExplicitly; ```
This results in duplicate properties, plus conventions will *not* be applied to any of both properties.
For me this beh

[2015-05-29 20:25] Casimodo72 commented on #217
@VikingsFan,
in the other thread you write that fixing this bug could break other assumptions. Can you point me to those assumptions or tests?

[2015-05-29 21:29] Casimodo72 commented on #355
This is *not* a blocker for me anymore. I just succeeded to work around this issue for the identity machinery: Since I derive all identity types and the relevant properties are virtual, I am able to override the key properties an set the [Key] attribute. Thus I don't need to explicitly define the keys thus can avoid the duplicate-property-bug.
E.g.:
[code]
Regards,
Kasimier Buchcik

[2015-06-01 01:26] VikingsFan commented on #355
Sorry for the misunderstanding, the breaking change for us means change the public API in OData WebAPI, we don't encourage to use explicite define and convention together, that's why duplicate properties occur in your scenario, your work around seems cool for me, the #217 is open so close this issue.

[2015-06-01 03:51] congysu opened #365 "Add a how to "Debug" section in readme.md"
Could be a link to the page in http://odata.github.io/
Related issue: https://github.com/OData/odata.github.io/issues/4

[2015-06-01 05:41] congysu commented on #328
@sammym1982 The related issue is https://github.com/OData/WebApi/issues/149.  Can start from a blog: http://blogs.msdn.com/b/mrtechnocal/archive/2013/12/31/10462258.aspx, although it is for OData v3 Web API.

[2015-06-01 06:03] congysu opened #366 "Support custom key syntax"
Extensibilility: e.g., key as segment, and custom ones, such as file/folder path in as key: ~/Folders/:/folder1/folder2:/

[2015-06-01 12:44] Casimodo72 commented on #355
@VikingsFan,
my work around may not apply to other scenarios. Any 3rd party types not giving us virtual key properties will not usable with the convention builder. This will be frustrating and create confusion, especially for newbies who can't or do not want to define all their models manually.

[2015-06-01 12:57] Casimodo72 commented on #217
Please, can someone clarify why the machinery can't just *ignore* the duplicate reflected property as it does already with navigation properties. This would fix the bug.
@VikingsFan: the API will not break by fixing this. The *current* API is broken as it has public methods which produce this bug when being used. For Thor's sake, just *define* the ODataConventionModelBuilder's property methods as

[2015-06-01 15:35] dtotzke opened #368 "Model-Database First Many-to-Many Relationship Problem"
Is it possible in v4 to make a many-to-many relationship work? I'm using EF 6, WebApi 2.2, OData v4, and the Client Generator for OData v4. Database first with EF model generated from that.  I am using the most recent release of all of the above.

I have a User, SecurityRole and a table that contains only the Id from each called UserSecurityRole as an intersection. The intersection entity is hidde

[2015-06-01 17:43] sammym1982 commented on #328
@congysu

I do tried porting that code to V4 but the issue as I mentioned in my original post on stackoverflow is there is currently no way available to mark an entity as HasStream = true. The original IEdmModel.SetHasDefaultStream  seems like no longer available.

Model we have is as followos:

Entity: Incident
NavigationProperties Collection: Attachments

Therefore We want all our attachment pos

[2015-06-01 18:37] saramgsilva commented on #368
I did not understood all your problem, you should provide more details about your controls and maybe your model + migrations + database is not correct.

Why are you defining RegisterEntitySets on WebApiConfig?  Why not in DbContext? You are mixing things, is not?

Normally I follow this http://www.entityframeworktutorial.net/code-first/configure-many-to-many-relationship-in-code-first.aspx

[2015-06-01 18:53] dtotzke commented on #368
This is NOT code-first. I have an existing database with an EF Model (edmx) generated from that.  I must build the IEdmModel manually and pass that to MapODataServiceRoute.  Everything works fine except for this many-to-many relationship.  It's the classic User and SecurityRoles.  One User can have Many SecurityRoles and many SecurityRoles can have the same User.

I am missing something either on

[2015-06-01 19:09] dtotzke commented on #273
Please be sure to support Model/Database-First EF with the tooling.  Ability to pick a type from an existing edmx and have it generate a controller.  Thanks.

[2015-06-01 19:11] dtotzke commented on #269
+1.  Please support model building form existing edmx generated DbContext classes.  Thank you.

[2015-06-01 20:52] congysu opened #369 "OData scaffolding in VS2015 should be with OData v4"
When building a new OData controller, we will see this, which we're told is OData V3.  Let’s get that renamed or removed for RTM.
![scaffolding](https://cloud.githubusercontent.com/assets/7425148/7923050/1d7f2db4-0865-11e5-8485-ee3a18f15f4d.PNG)

[2015-06-01 20:57] congysu opened #370 "nuget packages should be with clearer naming"
For now, it is hard to differentiate OData v4 from v3:
![nuget](https://cloud.githubusercontent.com/assets/7425148/7923165/e6a419c0-0865-11e5-9331-9b33308cb87f.png)

[2015-06-01 21:00] Tpeinoit commented on #94
+1 I would love it as well!

[2015-06-02 01:40] VikingsFan commented on #217
@Casimodo72: **This** issue is related to the PropertyInfo type, please check the content carefully.
And what you say about addedEdmProperty.AddedExplicitly is the issue that use ConventionModelBuilder and explicit declare key or navigation properties together.
Reopen #355

[2015-06-02 01:48] VikingsFan commented on #355
@Casimodo72 , pull request is very welcome, or I will help to follow up and fix this issue.

[2015-06-02 04:59] lewischeng-ms commented on #269
@dtotzke Yes, we shall support that.

[2015-06-02 07:21] lewischeng-ms opened #371 "[vNext] Verify that model builder works well when model classes (CLR types) are put into a separate assembly other than the service assembly"

[2015-06-02 17:45] pschmiedge commented on #357
I'd like to voice my support for this idea.  There are a lot of little scenarios where it would be nice to customize the OData-to-LINQ generation of `ODataQueryOption.ApplyQuery()`, either to inject custom filters (as the example above), or to tweak to the LINQ for different IQueryable providers.

The [NHibernate demo](https://github.com/OData/ODataSamples/tree/master/WebApi/v4/NHibernateQueryable

[2015-06-02 22:11] Casimodo72 commented on #355
@VikingsFan, I chose the option "or I will help to follow up and fix this issue" :-) assuming you meant with that, that you'll fix this issue.
Thanks

[2015-06-02 23:30] brjohnstmsft opened #373 "NullReferenceException during serialization with Microsoft.AspNet.OData 5.6.0"
When serializing a response that contains a complex type with another complex type as a property, and that inner complex type has a null value, a `NullReferenceException` is thrown in `ODataComplexTypeSerializer.CreateODataComplexValue()`.

The line with the nullref bug was introduced in 5.6.0 (it is not present in 5.5.1):

    if (propertyType != null && propertyType.IsComplex())
    {
        //

[2015-06-03 03:30] xuzhg commented on #373
@brjohnstmsft: I sent a pull request and try to fix this problem. Would you please help review it? And It will be great if you can try it out. For more concerns, please share us.

[2015-06-03 03:31] xuzhg commented on #373
@brjohnstmsft:  https://github.com/OData/WebApi/pull/374

[2015-06-03 06:22] vladbilyk commented on #94
I would love it too!

[2015-06-03 07:38] xuzhg commented on #352
See: https://www.nuget.org/packages/Microsoft.AspNet.OData/

[2015-06-03 08:48] lewischeng-ms opened #375 "Write two sample services to verify that model mutual reference works"
https://github.com/OData/odata.net/issues/208

[2015-06-03 11:38] weslleyleandro opened #376 "$orderBy with duplicate property in odata v4"
Using the last version of webAPI for Odata v4 (version 5.6) the following problem has been noted:

Considering a query where order by is needed in two fields with the same name from different tables, for example:

The following exception is thrown:

  "error":{
    "code":"","message":"The query specified in the URI is not valid. Duplicate property named 'Order' is not supported in '$orderby'.","i

[2015-06-03 19:04] brjohnstmsft commented on #373
Thanks. The PR looks good. I'll try the repro with the next nightly build.

[2015-06-03 20:02] krombipils commented on #158
I wonder why there is so little discussion on this issue. The Microsoft.OData.Client generates @odata.bind statements when trying to link to an existing entity and skips the ~/ref request. But web api OData does not support @odata.bind. Therefore Microsoft.OData.Client is quite useless right now...

Because I have to use Microsoft.OData.Client, I'm trying to use vojtechvit's ExtendedODataEntityDes

[2015-06-03 21:49] brjohnstmsft opened #377 "Please make it easier to implement server-driven paging with custom queries"
Currently server-driven paging is easy to support if you're using Web API OData with LINQ. `ODataQueryOptions.ApplyTo()` does the work for you. However, for services that don't use LINQ and instead process the OData query options ($filter, $orderby, etc.) and execute them directly, there is a lot of logic to implement. In particular, generating `@odata.nextLink` is non-trivial.

As a workaround, w

[2015-06-04 01:09] brjohnstmsft commented on #304
Agreed, this is a big pain point for us as well. Building the EdmModel directly is far more error-prone, but we have no choice because we need to set the namespace.

[2015-06-04 18:29] brjohnstmsft commented on #373
The repro app now succeeds on the latest nightly build. Thanks!

[2015-06-04 18:29] #373 closed

[2015-06-04 21:10] AskYous commented on #94
+1! Would love it too.

[2015-06-04 21:55] MrTomWhite commented on #94
This would be particularly nice for Apis that annotate fields in their metadata document with description annotations or similar autogebwrated doc comments

[2015-06-05 03:17] congysu commented on #105
Related issue: https://github.com/OData/WebApi/issues/366

[2015-06-05 06:02] lewischeng-ms commented on #375
Committed as https://github.com/OData/ODataSamples/commit/bb137b7b46149f3e46b7b3c30d7621bfe0145f97.

Run SampleService2 first before SampleService1.

[2015-06-05 06:02] #375 closed

[2015-06-05 07:00] congysu commented on #42
A sample is https://gist.github.com/raghuramn/6514213

[2015-06-05 10:16] Tornhoof commented on #135
+1 on this. Using complex types simplifies the data models, especially for nested structures

[2015-06-06 05:14] tschettler commented on #140
+1 The conversion from DBContext to IEdmModel works for OData 3, it seems reasonable to also have a method to do it for OData 4, hopefully sooner than later.

[2015-06-06 21:49] congysu commented on #377
Thanks @brjohnstmsft very much for the feedback.  Please feel free to submit a PR.

[2015-06-07 05:50] congysu opened #380 "Remove internal bug #"
Such as: https://github.com/OData/WebApi/search?utf8=%E2%9C%93&q=453795

[2015-06-07 06:13] congysu opened #381 "Action/Function Configurations are exposed via $metadata as ..."
The following is incorrect for OData v4:
`Action/Function Configurations are exposed via $metadata as a <FunctionImport/> element.`
https://github.com/OData/WebApi/blob/3c2f90ec7ca407ed9ba2be96330036fa513ba4a3/OData/src/System.Web.OData/OData/Builder/ActionConfiguration.cs#L15
https://github.com/OData/WebApi/blob/3c2f90ec7ca407ed9ba2be96330036fa513ba4a3/OData/src/System.Web.OData/OData/Builder/Fun

[2015-06-07 06:27] congysu opened #382 "Enable StyleCop for vNext folder"
Such as:
1. License header check
2. Using order, space check

[2015-06-07 06:44] congysu commented on #307
The KeyValuePathSegment's Values property is also internal:
[code]
https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Routing/KeyValuePathSegment.cs#L40-L51

[2015-06-07 07:00] congysu commented on #380
Also: https://github.com/OData/WebApi/search?utf8=%E2%9C%93&q=443884

[2015-06-07 07:06] congysu opened #383 "vNext: Remove ProcedureKind.ServiceOperation"
OData v4 does not have ServiceOperation.
https://github.com/OData/WebApi/blob/master/vNext/src/Microsoft.AspNet.OData/Builder/ProcedureKind.cs

[2015-06-07 07:10] congysu commented on #382
Such as:
https://github.com/OData/WebApi/blob/master/vNext/src/Microsoft.AspNet.OData/Extensions/EdmModelExtensions.cs

[2015-06-08 00:07] brjohnstmsft commented on #377
Created: https://github.com/OData/WebApi/pull/384

[2015-06-08 06:11] VikingsFan commented on #355
@Casimodo72 Would you please help to review my pr #385 :)

[2015-06-08 06:14] VikingsFan commented on #328
@sammym1982 I have a pr #379 , expose the HasStream Property, which is helpful to your customize, would you help to review?

[2015-06-08 07:58] CrazyViper commented on #274
Sory for delayed answer. It seems that bug was in 5.3.1. I've tried it with version 5.6 and it works fine!

Thanks anyway.

[2015-06-08 08:31] VikingsFan commented on #376
@weslleyleandro I have a pr #386 for this, would you help to review?

[2015-06-09 04:59] congysu commented on #373
The commit hash: https://github.com/OData/WebApi/commit/41b457a981b95545970b9ebf5a99bc517e66cff1

[2015-06-09 06:04] xuzhg opened #387 "Query an EdmEnumObject, get 406 response"
For example, I have an untype model:

[code]
I have a controller `CustomersController`, and a method as:

[code]

Now, I query:
[code]

I got a 406/NotAcceptable response. Please verify and fix.

[2015-06-09 07:21] #358 closed

[2015-06-09 11:44] congysu opened #389 "Add OData Web API vNext package to myget gallery"
Such as: https://www.myget.org/gallery/odatavnext

[2015-06-09 11:56] congysu opened #390 "Update version to 5.7"
Related code: https://github.com/OData/WebApi/blob/master/OData/src/CommonAssemblyInfo.cs#L29-L30

[2015-06-09 12:46] congysu commented on #389
Also update the package settings such as: Author, Tags, Description.  Package link: https://www.myget.org/feed/odatavnext/package/nuget/Microsoft.AspNet.OData

[2015-06-10 03:03] RichardSilveira commented on #94
Help pages are very helpfull, even on odata controller´s...

[2015-06-10 03:05] VikingsFan commented on #380
checked in 08a1b3b

[2015-06-10 03:05] #380 closed

[2015-06-10 03:05] VikingsFan commented on #381
Checked in 157e387

[2015-06-10 03:05] #381 closed

[2015-06-10 03:06] VikingsFan commented on #377
Checkin 604b16c

[2015-06-10 03:06] #377 closed

[2015-06-10 05:23] xuzhg commented on #149
Merged  1e57d2e

[2015-06-10 05:23] #149 closed

[2015-06-10 05:47] xuzhg commented on #387
Merged 95333a4

[2015-06-10 05:47] #387 closed

[2015-06-10 07:01] VikingsFan commented on #320
@fernandolguevara Hi, I can't reproduce the bug, can you share more code? and you are using WebApi V3 or V4?

[2015-06-10 07:12] xuzhg commented on #390
Merged 86886f5

[2015-06-10 07:12] #390 closed

[2015-06-10 08:12] Sedatk opened #394 "Web API OData $expand doesn't return complex types"
this issue is mentioned in the following stackoverflow question

http://stackoverflow.com/questions/20137681/web-api-odata-expand-doesnt-return-complex-types

[2015-06-10 09:41] MikalJ opened #395 "Service root (/odata/$metadata) does not comply with section 6.1 of the OData spec"
Entity endpoints correctly responds with 400 Bad Request when an unknown/unsupported query option is appended (/odata/products/?$nosuchqueryoption). The service root (/odata/?$nosuchqueryoption), however responds with a 200 response containing the metadata document.

This behaviour is incorrect according to the OData spec section 6.1 and the OData validator will fail a service based on this (http:

[2015-06-11 00:02] congysu opened #397 "MapODataRoute and Relax version constraints"
Add code snippet that customer can directly use, such as:
[code]

The page needs update:
http://odata.github.io/WebApi/version-constraint-relax-flag/

[2015-06-11 01:23] congysu opened #398 "Change IsRelaxedMatch's default value to True"
The change is for both OData v3 and v4, such as:
https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/src/System.Web.OData/OData/Routing/ODataVersionConstraint.cs#L44

[2015-06-11 01:24] congysu commented on #398
Related issue:
https://github.com/OData/WebApi/issues/397
https://github.com/OData/ODataSamples/issues/22

[2015-06-11 02:14] congysu commented on #395
Thanks @MikalJ for reporting the issue.  Does the current behavior break your user scenario?  Can we learn more about your user scenario?

[2015-06-11 02:20] congysu commented on #370
@markdstafford has a proposal.

[2015-06-11 02:23] congysu commented on #369
The change is in OData v3 scaffolding.

[2015-06-11 02:25] #365 closed

[2015-06-11 03:41] karataliu commented on #368
Should use following API to delete reference.
context.DeleteLink(myUser,"Roles",someRole);

Actually no extra work is needed for building model with many-to-many relationship. Offline synced with issue creater, this has solved the issue.

[2015-06-11 03:41] #368 closed

[2015-06-11 10:17] AndriyKuznetsov commented on #194
I have the same issue.

[2015-06-11 14:57] Casimodo72 commented on #355
@VikingsFan: Great! Thank you very much.
I had to learn today how to cherry-pick git commits before I could try out your fix.
The following configuration now works fine for me. No duplicates in the EDMX.

[code]

[2015-06-11 18:09] MikalJ commented on #395
It does not. To be honest I doubt any users is going to notice that the service root returns 200 OK just because some query options are added to the request, or even try it at all.

My company gathers data on our customers' utilities usage (electricity, water, etc.), which we use to help the customer save ressources and detect worn or broken equipment. But we also want to make the data available t

[2015-06-12 13:07] weslleyleandro commented on #376
Hi @VikingsFan, I have tried to test your solution however I didn't manage to integrate it with my project using the source codes. I am not used to do it without nuget package and I faced many reference errors (I am sorry for that).

I will keep trying to make it work and return to you as soon as I can.

[2015-06-12 14:15] hemantsathe commented on #282
I get following error on trying to build the WebAPI stack.
[code]

[2015-06-12 17:35] kpko opened #400 "Some system query options don't work with $expanded collections"
Hi,

I want to use a query like http://mysite.com/odata/Families?$expand=Members($oderby=FirstName;$top=1), but this doesn't work at all.

This should be supported as stated in the OData Spec regarding $expand:

[code]

[2015-06-12 18:16] CrazyViper opened #401 "Conversion error for DateTime.MinValue or MaxValue"
Conversion from DateTimeMinValaue to DateTimeOffset fails with ArgumentOutOfRangeException:

It happens in ODataPrimitiveSerializer on line:
[code]
I assume that min and max values must de converted without timezone.

[2015-06-15 00:39] congysu opened #403 "Support key alias syntax"
Such as:

[code]

When the key contains `/ :` etc.

[2015-06-15 07:41] cornem commented on #275
Is there an update on this?

[2015-06-15 14:19] Casimodo72 commented on #355
@VikingsFan, any estimation available as to when this fix will be merged in the master?

[2015-06-16 01:28] VikingsFan commented on #376
Try add this url https://www.myget.org/F/aspnetwebstacknightly/ in nuget to get our nightly build nuget package, upgrade to 5.7 can test it.

[2015-06-16 12:33] weslleyleandro commented on #376
Hi @VikingsFan, thank you very much for the link. With it I managed to install the **Microsoft ASP.NET Web API 2.2 for OData v4.0 (nightly 2015 Jun 15)**, however I still have the same problem with the order by.

Just to be sure, I create an another small project with 2 classes (Project and Supplier) and tried to order by the name of both entities and the error remains:

  "error":{
    "code":"",

[2015-06-16 22:08] brjohnstmsft opened #404 "EnableUnqualifiedNameCall not usable if you don't also use MapODataServiceRoute"
We'd like to use `EnableUnqualifiedNameCall()` but it is currently not possible in our scenario. It works by setting an internal property on `DefaultODataPathHandler`, but this only happens in `MapODataServiceRoute`. We don't use `MapODataServiceRoute` because we need to initialize the `ODataRoute` with an instance of a custom class derived from `ODataPathRouteConstraint`.

I can see two ways to e

[2015-06-17 01:26] VikingsFan commented on #376
@weslleyleandro  the code didn't checked in so the nightly can't work, you can review the test case in my PR, and after I check in, you can test with nightly build, or just use our master code to build dll.

[2015-06-17 02:17] xuzhg commented on #217
Merged. @Casimodo72, can you try it out and let us know nay issue. Thanks

[2015-06-17 02:17] #217 closed

[2015-06-17 02:18] xuzhg commented on #355
Merged. @Casimodo72, can you try it out and let us know nay issue. Thanks

[2015-06-17 02:18] #355 closed

[2015-06-17 06:23] lewischeng-ms commented on #308
A buggy V3 sample service related to this issue can be found in https://github.com/OData/ODataSamples/commit/ebf203b1eed4dfd21c7ea9bf5d85f3251f14e33e. Test with this project when the bug is fixed.

[2015-06-17 19:17] levicui opened #406 "Expose AddUnboundFunctionParameterToRouteData in OData V4 WebApi"
I am working on customizing the routing convention for unbound function calls with parameters support, similar to the example at https://github.com/OData/ODataSamples/blob/master/WebApi/v3/ODataActionsSample/ODataActionsSample/NonBindableActionRoutingConvention.cs, so that our customers won’t have to declare the routing template ([ODataRoute] attribute) on top of each unbound function with paramet

[2015-06-18 16:30] Casimodo72 commented on #355
@xuzhg, I already used it for a week. No problems on my side - but my side is tiny.
Good to have it officially! Thanks

[2015-06-18 22:42] rpawlaszek commented on #194
Same here.

[2015-06-19 06:14] congysu opened #408 "Handling of preference header 'continue-on-error' in user request"
Copy the issue from https://github.com/OData/odata.net/issues/9

[2015-06-19 12:51] skyarkitekten opened #409 "ODataRoutePrefix does not work in OWIN-hosted controller"
When using an OWIN-hosted controller, the ODataRoutePrefix does not work. It works fine if hosted in ASP.NET, and ODataRoute works fine in OWIN.

[2015-06-19 18:35] ificator opened #410 "Providing $select on a contained navigation without the key when odata.metadata=full fails"
GET http://foo.com/Roots('key')/Contained?$select=name
    Accept: application/json; odata.metadata=full
    {
      "error":{
        "code":"",
        "message":"An error has occurred.",
        "innererror":{
          "message":"The entity instance value of type 'OwinTest.ObjectModel.Contained' doesn't have a value for property 'Id'. To compute an entity's metadata, its key and concurrency-to

[2015-06-19 23:56] MaxWilsonMS opened #411 "Typeless scenario and $filter operator"
Hi,

I've got a scenario where I'm implementing typeless oData as described at http://blogs.msdn.com/b/leohu/archive/2013/11/05/typeless-entity-object-support-in-webapi.aspx. All of my controllers return an IEdmObject object which also implements IQueryable<MyEdmObject>. All this works just fine for pure Get() operations, but when I try to implement support for $filter, I get an error.

[code]

Th

[2015-06-21 13:29] congysu opened #412 "Allow serialization of additional properties of a non-open type"
Allow configure `EnableFullValidation` to false:

[code]

https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/ODataMediaTypeFormatter.cs#L81-L87

or Create a customer odata formatting attribute, and a custom OData controller base class:

[code]

Related ODataLib issue: https://github.com/OData/odata.net/issues/179

[2015-06-21 14:10] congysu opened #413 "Allow serialization of additional properties of a non-open type"
Allow configure `EnableFullValidation` to false:
[code]
https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/ODataMediaTypeFormatter.cs#L81-L87

or Create a customer odata formatting attribute, and a custom OData controller base class:
[code]
Related ODataLib issue: https://github.com/OData/odata.net/issues/179

[2015-06-21 14:12] congysu commented on #413
Dup of #412.

[2015-06-21 14:12] #413 closed

[2015-06-22 13:51] jaksmid opened #414 "InlineCount does not work when chaining V3 odata"
Hi all,

We have an internal backend webserver that provides access to our database through oData V3.
Then we have another web server that connects to the first one and provides some limited odata functionality.

Both uses the odata v3 - web api 5.5.1 and odata, spatial and edm in the version 5.6.4.

The api of the first server works flawlessly.
The second server passes the query to the second ser

[2015-06-23 01:33] congysu commented on #24
Related issue: https://github.com/OData/WebApi/issues/149

[2015-06-23 14:17] pascalberger opened #415 "Nullable foreign key for OData v3"
You marked https://github.com/OData/WebApi/issues/216 as fixed in 5.6, but it seems like 5.6 only get released for OData v4, but for different reasons I cannot switch to v4. Do you release also an update for OData v3?

(and why on earth this confusing naming/versioning? Does the Microsoft.AspNet.WebApi.OData NuGet Package now stays at 5.5 and Microsoft.AspNet.OData, the v4 version, NuGet Package c

[2015-06-23 14:18] pascalberger commented on #216
Unfortunately I cannot reopen this issue. I therefor opened a new issue asking for OData v3 support, since I also need it with v3. See https://github.com/OData/WebApi/issues/415

[2015-06-24 07:44] congysu commented on #415
Thanks @pascalberger very much for reporting the issue.  We have an issue about nuget package renaming: https://github.com/OData/odata.github.io/issues/6.  Very welcome your contribution to port the v4 change to v3.

[2015-06-24 07:50] congysu commented on #414
@jaksmid, can you take a look about our v3 end to end test case: https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/test/E2ETestV3/WebStack.QA.Test.OData/Formatter/ServerDrivenPagingTests.cs#L63-L68.  Thanks.

[2015-06-24 07:54] congysu commented on #412
@hotchandanisagar @gkasturi Can we know your option on the issue?

[2015-06-24 07:56] congysu commented on #411
Related issue #165, #175.

[2015-06-24 08:05] congysu commented on #409
@skyarkitekten, can you provide a sample code.  End to end test cases have OWIN hosting coverage: https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/build.cmd#L32-L35

[2015-06-24 11:45] pascalberger commented on #415
Unfortunately I don't have the overview of the code an time to port this change from v4 to v3 at the moment. Do you don't plan to release this fix also for v3?

[2015-06-24 23:56] congysu opened #417 "Public TypedEdmStructuredObject etc."
RESTier can use the [TypedEdmStructuredObject](https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/Serialization/TypedEdmStructuredObject.cs), and its derived classes etc. to make the Post, Update Update symmetric to Get.

[2015-06-25 04:35] brjohnstmsft opened #418 "ODataQueryOptions should allow duplicate non-OData query options"
Our Web API exposes both OData and custom query options. Some of our query options allow duplicate values, but  the `ODataQueryOptions` constructor throws an exception when it detects any duplicate query options (not just standard OData query options). This requires us to maintain a lot of code to work around this issue that we would rather not have to maintain.

WebAPI should have no opinions on

[2015-06-25 06:45] xuzhg commented on #98
Checked in.

[2015-06-25 06:45] #98 closed

[2015-06-25 06:47] xuzhg commented on #107
Checked in for capabilities vocabulary.

[2015-06-25 06:47] #107 closed

[2015-06-25 06:48] xuzhg commented on #258
Checked in for capabilities vocabulary.

[2015-06-25 06:48] #258 closed

[2015-06-25 07:36] congysu commented on #129
Key as segment is a scenario for this issue.

[2015-06-25 12:25] jaksmid commented on #414
@congysu, thanks for your response. Will look into that and update you.

Cheers,
Jakub

[2015-06-25 15:29] jaksmid commented on #414
Hi,

if I use just HttpClient client as in your test case, the total count is retrieved.

However when I use the DataServiceContext (v 5.6.4 from package or 4.0 from .Net), particularly the CreateQuery method, I get the error that $count' is not an action that can bind to 'Collection.

Any idea?
Thanks,
Jakub

[2015-06-26 15:20] kpko commented on #400
Hi,

is this project still active or is OData/WebApi development happening at another repo? Not only that I got no answer on this one so far, I created an issue several weeks ago and got no answer on this one, too. (https://github.com/OData/WebApi/issues/356)

[2015-06-29 06:00] xuzhg commented on #334
Merged the PR. Thanks.

[2015-06-29 06:00] #334 closed

[2015-06-30 08:28] xuzhg opened #420 "NotNavigable should work for non-navigation property in vol/cap"
[code]

It seems the if expression is wrong.

[2015-07-02 02:18] xuzhg commented on #420
From [Capabilities vocabulary spec](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/vocabularies/Org.OData.Capabilities.V1.xml):

It seems "Navigability" is only applied to "Navigation properties". So, this is not a bug.

[code]

[2015-07-02 02:18] #420 closed

[2015-07-02 02:35] xuzhg commented on #414
@jaksmid
[Web API OData v3](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.OData/) doesn't support "$count" segment.

for your request Uri, the codes will throw the exception. See the following code:
[code]

However, `$inlinecount=allpages` is supported in v3. So, you can query as:

[code]
It should work.

Summarily, in Web API OData v3,
1. `$inlinecount` is used in query option. it suppor

[2015-07-02 02:49] xuzhg commented on #129
Changed. Thanks.

[2015-07-02 02:49] #129 closed

[2015-07-02 02:53] xuzhg commented on #115
Currently, BuildEditLink()  and BuildReadLink() are public virtual function. Customers can overload these function to use `Uri idLink` or `Uri editLink`. So, let's keep them unmodified. Thanks.

[2015-07-02 02:53] #115 closed

[2015-07-02 02:55] xuzhg commented on #169
It should be fixed. See: https://github.com/OData/WebApi/pull/250
Thanks.

[2015-07-02 02:55] #169 closed

[2015-07-02 02:57] xuzhg commented on #42
Close it. If you find any more concern, please re-open it. Thanks.

[2015-07-02 02:57] #42 closed

[2015-07-02 03:02] xuzhg commented on #152
Close it. If you have any more concern, please reopen it. Thanks.

[2015-07-02 03:02] #152 closed

[2015-07-02 03:06] xuzhg commented on #154
It should be fixed. See: https://github.com/OData/WebApi/blob/master/OData/test/UnitTest/System.Web.OData.Test/OData/OpenEntityTypeTest.cs#L583-L653

[2015-07-02 03:06] #154 closed

[2015-07-02 03:10] xuzhg commented on #161
Related #165

[2015-07-02 05:30] xuzhg commented on #188
Enabled. Thanks.

[2015-07-02 05:30] #188 closed

[2015-07-02 11:56] jaksmid commented on #414
Hi,

thanks for your replies, I have found out what is wrong:
The second oData controllers accessing the first one was not lazy, so it immediately executed the query on the first odata service before adding the ODataQueryOptions.

It basically called something like odataEndpoint/MyCollection/$inlinecount=allpages resulting in the count error message because it thought that you have only a collecti

[2015-07-02 12:46] jaksmid commented on #414
This illustrates the rpoblem and our workaround:
![capture](https://cloud.githubusercontent.com/assets/3618465/8477257/02634746-20c9-11e5-92b1-652d6f4912a0.PNG)

[2015-07-02 15:02] esditm opened #421 "Possibly incorrect return type of indexof when no match"
The doc states:

http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part2-url-conventions/odata-v4.0-errata02-os-part2-url-conventions-complete.html#_Toc406398121

As the return type is `Edm.int32` it should probably return `-1` instead of the current `null` when there is no match.

I've opened an issue asking for clarification.
ODataOrg/odataorg.github.io#63

[2015-07-02 17:31] jcarter095 opened #422 "DateTime entity key causes route to not resolve"
If a Entity uses DateTime as a type in its key, the OData route does not resolve. The server returns a 404. The issue was initially discovered in a project using composite keys, in this case debugging showed the custom IODataRoutingConvention class was not being accessed. The 404 was returned before the custom route logic was executed.

The same route/endpoint using the OData1-3 libs works without

[2015-07-03 03:31] xuzhg commented on #57
Function parameter is not using "KeyValueParser.ParseKeys".

@sanderej would you please share us more information about your problem?

[2015-07-06 10:11] esditm commented on #421
indexof correctly uses -1, however there's an issue when using it on nullable types that are null. I'll open another issue.

[2015-07-06 10:11] #421 closed

[2015-07-06 10:57] esditm opened #423 "indexof doesn't work on null values (OData v4)"
Consider this query:
`Get ~/odata/Foos`

Will result in:
[code]

Then this query with a "does not contain 123" filter:
`Get ~/odata/Foos?$filter=indexof(SomeString, '123') eq -1`

Should return:
[code]

But it returns:
[code]

Which is incorrect if you ask me :)

[2015-07-06 18:46] ojasmaru commented on #43
+1

Very much needed. Need [Queryable] to work over <b>untyped</b> (non CLR) object like following.

<code>
var keyProperty = productEntity.AddStructuralProperty("Id", EdmPrimitiveTypeKind.Int32);
productEntity.AddStructuralProperty("Name", EdmPrimitiveTypeKind.String);
productEntity.AddStructuralProperty("Price", EdmPrimitiveTypeKind.Double);
productEntity.AddStructuralProperty("Category", EdmPri

[2015-07-07 08:56] jods4 commented on #229
:+1: really waiting for this to happen.

[2015-07-07 21:39] brjohnstmsft opened #425 "ODataQueryOptions and friends don't handle query options case correctly"
The casing of OData query options (`$filter`, `$orderby`, `$select`, `$expand`, `$top`, `$skip`, and `$count`) is handled inconsistently by `ODataQueryOptions`. For example, if a request is sent with `$Top` in the query string instead of `$top`, the `.Top` property of `ODataQueryOptions` is initialized in a weird state where accessing its `.Value` property always throws `InvalidOperationException`

[2015-07-09 02:13] xuzhg commented on #423
I tested it:

Get ~/odata/Foos?$filter=indexof(SomeString, '123') ne -1

only returns: `"Id": 3,`

So, for "null" scenario, we should have a clearer semantics.

[2015-07-09 05:15] xuzhg commented on #376
Merged the PR. Thanks.

[2015-07-09 05:15] #376 closed

[2015-07-09 05:20] VikingsFan commented on #325
Close as not repro, works fine in two months.

[2015-07-09 05:20] #325 closed

[2015-07-09 05:21] VikingsFan commented on #324
Close as not repro, works fine in two months.

[2015-07-09 05:21] #324 closed

[2015-07-09 06:00] congysu commented on #162
Workaround available, we might need a sample or page.

[2015-07-09 06:13] congysu commented on #328
We shall port the sample http://blogs.msdn.com/b/mrtechnocal/archive/2013/12/31/10462258.aspx to v4.

[2015-07-09 06:14] congysu commented on #24
Related issue https://github.com/OData/WebApi/issues/328

[2015-07-09 06:15] congysu commented on #195
See why Web API does not fallback to ODataLib.

[2015-07-09 08:58] VikingsFan commented on #342
Related bug in ODL https://github.com/OData/odata.net/issues/262

[2015-07-10 08:56] marinkobabic opened #427 "CultureInfo property can't be seraialized"
The entity type 'System.Globalization.Calendar' cannot be configured as a complex type because the derived type 'System.Globalization.GregorianCalendar' is already configured as an entity type.

To reproduce the exception:

            ODataModelBuilder modelBuilder = new ODataConventionModelBuilder();
            modelBuilder.EntitySet<CultureInfo>("cultureInfo");
            IEdmModel model = mo

[2015-07-11 08:10] Ghkuijer commented on #94
+1 really searching for a solution now to autogenerate the docs. I'm going to try all sorts of work arounds now but if some good solution came out of this I'll be very happy.

[2015-07-11 12:34] FlippieCoetser commented on #229
@lewischeng-ms, any progress to share yet? noticed you mentioned start date was in May...

[2015-07-13 02:02] xuzhg opened #429 "Do we need to add copy right for each files in E2E project?"
Do we need to add copy right for each files in E2E project?

[2015-07-13 02:54] xuzhg commented on #408
Merged. Thanks.

[2015-07-13 02:54] #408 closed

[2015-07-13 05:18] lewischeng-ms commented on #229
@FlippieCoetser We have completed an initial alpha version of it. Please see http://odata.github.io/WebApi/#07-07-6-0-0-alpha1 for detail and have a try. Any feedback would be warmly welcomed. We would like to apologize for the slow progress as the whole team was busy catching a very urgent schedule these two months. But we shall restart development on this before long. Thanks.

[2015-07-13 05:55] xuzhg commented on #398
Commit: 7abac59
Thanks.

[2015-07-13 05:55] #398 closed

[2015-07-13 06:41] xuzhg commented on #310
Merged the PR. Thanks.

[2015-07-13 06:41] #310 closed

[2015-07-13 18:54] FlippieCoetser commented on #229
@lewischeng-ms Great stuff! I already loaded the sample and all works well! I keep you posted.

[2015-07-13 20:30] jods4 commented on #229
@lewischeng-ms Excellent timing -- for me at least ;) You can be sure I'll try this and let you know if I encounter bugs or limitations. FYI I'm going to use it with a EF6 Oracle back-end inside ASP.NET 5 (I'm currently on beta 6).

[2015-07-13 22:48] grahamehorner opened #432 "allow support for odata $metadata formats"
the odata framework should allow extensions to the $metadata route to allow the support of other types of metadata formats; ie: support the JayData format via ../odata/$jaydata ../odata/$metadata?format=jaydata and/or via the http header accepts attribute.

[2015-07-14 02:07] lewischeng-ms commented on #229
@FlippieCoetser @jods4 Thanks you both for your support!

[2015-07-14 06:35] xuzhg commented on #401
Merged. Thanks.

[2015-07-14 06:35] #401 closed

[2015-07-14 13:49] Casimodo72 opened #433 "Trouble with installation of nightly nuget packages"
Hi,

I cannot build with the current nightly package. Essentially System.Web.OData seems now to reference Microsoft.OData.Core Version=6.13.0.0, which is not installable as described here: https://github.com/OData/odata.net/issues/255.

NuGet V 3.0.60602.486 installed on 2015-06-04
VS 2015 RC Enterprise
This is a .NET 4.5.1 Solution (no vNext)
Newest nightly ASP Web Stack packags installed (as of

[2015-07-14 14:17] Casimodo72 commented on #433
I'm really **stuck** now. I can't downgrade anymore to the version that worked for me.
The oldest downgradable package is 5.7.0-beta-150623-Nightly. Doesn't work.
Then there's only the option to downgrade to stoneage: 5.2.0-alpha1-140307.
Previously I had 150611 installed (I think).

[2015-07-14 14:59] Casimodo72 commented on #433
Wait a minute. I just created a pristine web application and installed only
id="Microsoft.AspNet.OData" version="5.7.0-beta-150713-Nightly"
from the ASP Web stack. Doing that, NuGet managed to fetch the needed ODataLib RC packages:
id="Microsoft.OData.Core" version="6.13.0-rc"

So there seems to be hope for me. Maybe the issue is that I used the OData nightly package source in my Solution (https:/

[2015-07-14 15:11] Casimodo72 commented on #433
Nope. Doesn't work.
The problem arises when one uses .NET 4.5.1 instead of .NET 4.5.
Using a pristine web application, setting it to .NET 4.5.1 and trying to install "Microsoft.AspNet.OData version="5.7.0-beta-150713-Nightly" produces the following error:

Attempting to gather dependencies information for package 'Microsoft.AspNet.OData.5.7.0-beta-150713-Nightly' with respect to project 'Ga.Web',

[2015-07-14 15:29] Casimodo72 commented on #433
Installation using .NET 4.5.2 fails as well, but with a lot more words:

Attempting to gather dependencies information for package 'Microsoft.AspNet.OData.5.7.0-beta-150713-Nightly' with respect to project 'Web04', targeting '.NETFramework,Version=v4.5.2'
Attempting to resolve dependencies for package 'Microsoft.AspNet.OData.5.7.0-beta-150713-Nightly' with DependencyBehavior 'Highest'
Resolving ac

[2015-07-14 16:22] Casimodo72 commented on #433
Solved!
After trying out various combinations of the .NET framework and highest/lowest dependency behavior, this is what worked for me:
1) Delete the local packages folder
2) Switch to .NET framework 4.5.2
3) Install Microsoft.AspNet.OData 5.7.0-beta-150713-Nightly with dependency behavior "highest" ("lowest" didn't work) from  (https://www.myget.org/F/aspnetwebstacknightly/)

Now I have:
<package

[2015-07-14 17:29] jods4 commented on #229
@lewischeng-ms I tried to include the library in my project but I couldn't get it to work. I have the impression that because the library currently references asp.net beta4, it won't work with a beta6 runtime.

BTW it could be easier if you aligned the beta labels with matching asp.net runtime. People using asp.net vnext know that it usually crashes horribly when you mix components from different

[2015-07-14 19:50] jods4 commented on #229
@lewischeng-ms Here's some early feedback:

1. I made it works in `-beta6`. It was really easy as I only had to update references inside `project.json` and change 8 `context.ActionContext.XYZ` by `context.XYZ` (the `ActionContext` property is now gone and flattend). If you want I can do a PR but this is really really trivial. I also had to change the `global.json` but I'm unsure what _you_ would p

[2015-07-15 06:55] congysu commented on #432
Related issue: https://github.com/OData/WebApi/issues/302

[2015-07-15 06:58] congysu commented on #429
Also update the StyleCop setting.  Handle it together with https://github.com/OData/WebApi/issues/259

[2015-07-15 07:00] congysu commented on #427
@marinkobabic Which versions does this work in?  Thanks.

[2015-07-15 07:17] congysu commented on #422
Need to support Key with alias, such as: `http://localhost:37197/AsString(@key)?@key='2015-01-01T00:00:00-05:00'`.  Handle it together with https://github.com/OData/WebApi/issues/307

[2015-07-15 07:27] congysu commented on #418
Pre-process the name value pairs, before creating the dictionary.

[2015-07-15 07:39] congysu commented on #417
@xuzhg and @karataliu have a sync on this.

[2015-07-15 13:28] congysu opened #434 "Verify if geo.intersects(point, polygon) works"
In Web API, and in ODataLib.

[2015-07-16 03:31] lewischeng-ms commented on #229
@jods4 Thanks very much for your valuable feedback. Regarding the versioning problem, I think what you suggest is quite reasonable but we need to work out a more flexible solution for both of us because we have our own schedule and our progress is not strictly synced with AspNet vNext.

Of course, we warmly welcome your pull request to make it work with `beta6`. Please feel free to do so. We can h

[2015-07-17 00:37] weitzhandler commented on #229
auesome stuff goin on in here!
tx for everyone working on this!

[2015-07-17 01:47] xuzhg commented on #434
ODL supports `geo.intersects` built-in function, while Web API OData doesn’t support it.

However, I have a [sample project](https://github.com/xuzhg/WebApiSample/tree/master/ODataSpatialSample) as work around.

[2015-07-17 01:57] VikingsFan commented on #356
@kpko Thanks for reporting this! Updated and Craeted's implement is different, you can find form [there](https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/ODataController.cs), can you share more detail with your controller Post method or tell us your scenario? why not just return return Created(entity) ?

[2015-07-17 02:03] VikingsFan commented on #400
Related https://github.com/OData/WebApi/issues/349 , those nested query options is not support yet

[2015-07-17 02:20] VikingsFan commented on #187
@MrTomWhite this seems to be done by now, any further suggestions?

[2015-07-17 03:29] MrTomWhite commented on #187
Yeah I think this issue can be closed.

I haven't had the time to take a serious look at anything Odata related. I can make some time over the weekend and see if I can follow your docs for most dev use cases. If there's anything that looks too bad I'll just open separate issues.

Thank you!

[2015-07-17 03:50] VikingsFan commented on #187
@MrTomWhite Cool, any suggestions is very appreciate!

[2015-07-17 03:50] #187 closed

[2015-07-17 03:57] LianwMS commented on #397
Fix with 7abac59d95b349c9f2d04c31473ef63b6b6fadbc

[2015-07-17 03:57] #397 closed

[2015-07-17 04:48] congysu commented on #302
Related issue: https://github.com/OData/odata.net/issues/129

[2015-07-17 06:45] kaspernortoft opened #436 "ODataRoutePrefixAttribute and navigation property routing is not working"
If I use the ODataRoutePrefix attribute on a Controller the routing to the navigation properties seems to fail.

Its possible to add [ODataRoute("{key}/property")] to the Get action of the navigation property to make it work, but it should not be necessary.

The Put/Post navigation property action does not work even with the ODataRoute attribute.

[2015-07-17 12:35] kpko commented on #356
Hi,

I have to use SingleResult, because otherwise options like $expand do not work at the result.

My controller method looks like this:

[code]

where service.Entities is a pre-filtered IQueryable (for things like row-level-security, soft deletion...)

I can't just return Ok(entity), because $expand, $select would not be applied this way. I do insertions like this:

POST http://.../odata/Address

[2015-07-17 15:39] Casimodo72 commented on #433
This issue was fixed by @congysu (see other thread) :-)

[2015-07-17 16:09] Casimodo72 opened #437 "Support recursive nullable complex types"
Hi,

I'm getting the following exception when trying to build a recursive complex type with the ODataConventionModelBuilder.

"The complex type 'DataAttachment' has a reference to itself through the property 'Items'. A recursive loop of complex types is not allowed.
Parametername: propertyInfo"

According to this post the issue may already be known (https://groups.google.com/forum/#!topic/odata-di

[2015-07-17 18:15] fazzamar commented on #194
According to the OData 4 standard this should work (http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part2-url-conventions/odata-v4.0-errata02-os-part2-url-conventions-complete.html#_Toc406398087).
Any word on this?

[2015-07-17 18:29] Casimodo72 opened #438 "Serialize content of Dictionary<string, string>"
Hi,

I have an entity with a property of type Dictionary<**string**, **string**>. Existing data in the dictionary is not serialized in responses.
Now, I don't know if such dictionaries are intended to be supported at all, but the dictionary property shows up nicely in the EDM so I thought this could work, but it doesn't. This is not related to open types, I just need a string dictionary.
Can someo

[2015-07-17 20:14] a99cl208 commented on #229
@lewischeng-ms Hi,

Is there any alpha/beta release train planning that has been defined, like asp.net team which seem to release a new beta each month from june to december. I ask you because the GitHub repo have no update since 2 months and i wonder if you are still working on it?

Thanks for you answers, and btw the new design i good i think, more lightweight.

[2015-07-18 18:22] weitzhandler commented on #229
Any chance OData will ever become first class citizen and be integrated with WebAPI?

[2015-07-20 08:43] mikila85 commented on #194
Should work.. same here just not with filter but with orderby for my example:

http://localhost:60760/odata/CurrentlyAdmitted?$top=50&$orderby=admissionsLastYear/$count

getting:
<pre>
{
  "error":{
    "code":"","message":"The query specified in the URI is not valid. The parent value for a property access of a property '$count' is not a single value. Property access can only be applied to a singl

[2015-07-20 08:46] karataliu commented on #53
Related stackoverflow question(with workaround):
http://stackoverflow.com/questions/30101625/webapi-odata-serialize-long-as-string

[2015-07-20 17:36] daboxu commented on #65
vote for adding this feature

[2015-07-21 04:00] lewischeng-ms opened #439 "WebApi should throw on invalid function import route without parameter name"
For example,

[code]

This is not allowed but no exception prompted. Instead we should write:

[code]

[2015-07-21 06:36] congysu commented on #400
Related issue https://github.com/OData/WebApi/issues/126, https://github.com/OData/WebApi/issues/127, https://github.com/OData/WebApi/issues/349.

[2015-07-21 17:24] escape-llc commented on #211
This also applies to Structural Properties in Entity Types!  Need this feature badly; front-end validation desperately wants these, maxlength in particular.

[2015-07-22 01:08] dmcallis opened #440 "ODataUriParser throws "Bad Request - Error in query syntax" when parsing navigation property with string composite primary key and referential constraint."
The scenario is:

I have an "Customer" entityType which has a string primary key and a contained navigation property "ShoppingCart", of type Product.  The Product entityType has a composite primary key consisting of the ProductId and the CustomerId, and it has a referential constraint that the customerId maps to the id of a Customer entity.

With this setup, I can access a product with odata path

[2015-07-22 07:32] VikingsFan commented on #296
checked in b2d93580e4a772c505a95d6be16aa1a9ec7915b9

[2015-07-22 07:32] #296 closed

[2015-07-22 07:44] VikingsFan opened #441 "Update WebApi to odl 6.13"
related pull request #419

[2015-07-22 07:55] VikingsFan commented on #103
Checked in ac72f756dcdedc967e5a37c388281d357f7ff980

[2015-07-22 07:55] #103 closed

[2015-07-22 07:57] VikingsFan commented on #273
Checked in be6f51b1fb02651f17143b3ffec82b4b315396d3

[2015-07-22 07:57] #273 closed

[2015-07-22 08:00] VikingsFan commented on #195
Checked in

[2015-07-22 08:00] #195 closed

[2015-07-22 09:56] Ilchert opened #442 "Possible incorrect translation checking for null to Expression."
Checking property for null translated to "($it.Property == null) | false" Tree expression. I think more correct to use OrElse (Conditional OR) operator  instead Or (Logical OR).

P. S. Method CheckIfArgumentsAreNull in FilterBinder.

[2015-07-22 13:23] cohenomri commented on #94
+1 any update on this?

[2015-07-22 21:21] trparham opened #443 "Expanded Collection - No Consistent Order"
When expanding into a set of data, the expanded collection is not returned in order by primary key.  If pagination is being used and the number of records in the collection exceeds the page limit, the provided nextLink does return results in order by primary key.  This causes some records to be skipped and others to be presented twice.

Example Project:
https://github.com/trparham/WebAPI-OData-Exp

[2015-07-23 01:36] xuzhg commented on #441
Updated. Thanks.

[2015-07-23 01:36] #441 closed

[2015-07-23 02:06] VikingsFan commented on #170
@devdorn Thanks for your solution, would you help to write a github page for us about your work around?
Send a pull request in https://github.com/OData/WebApi/tree/gh-pages/_posts
It will post in http://odata.github.io/WebApi/

[2015-07-23 02:33] congysu commented on #434
@xuzhg Can you create a pull request to ODataSamples repo?  Thanks.

[2015-07-23 09:10] VikingsFan commented on #311
Checked in d21a410fb1b36b9455796dd18d5bbdcf10c2f5ad

[2015-07-23 09:10] #311 closed

[2015-07-23 09:43] VikingsFan commented on #304
Checked in 483ce56fa63b6950fd54f8a9119f866c2164468e

[2015-07-23 09:43] #304 closed

[2015-07-24 09:42] vojtechvit commented on #304
Thanks guys!

[2015-07-24 09:43] karataliu opened #445 "BindDynamicPropertyAccessQueryNode should handle HandleNullPropagationOption"
https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/src/System.Web.OData/OData/Query/Expressions/FilterBinder.cs#L237

It should also handle HandleNullPropagationOption option here, as property access functions do.

[2015-07-24 20:39] brjohnstmsft commented on #304
Thanks!

[2015-07-27 00:48] congysu commented on #34
Related issue: #434

[2015-07-27 06:21] congysu commented on #264
667c079da9712cc94ee14c4e4a3fdc06697cd115

[2015-07-27 06:21] #264 closed

[2015-07-27 07:59] xuzhg commented on #438
It's not supported so far. Can you create a complex type and mark the Header as the collection of such complex type. For example
[code]

[code]

[2015-07-27 15:09] Casimodo72 commented on #438
@xuzhg: Thanks for pointing out a workaround.

My current workaround is to put everything into the open type dynamic properties container (IDictionary<string, object>) and wait until the generic dictionary is supported, because:
1) I can already now add the desired properties, but let them operate on the dynamic properties container. This involves some conversion, but the code is generated for me

[2015-07-27 16:10] mdavisRevSpringInc opened #446 "Error with $filter in nested $expand"
<b>The following URL works:</b>

http://localhost:59178/Regions?$expand=Facilities($filter=Active eq true;$expand=Departments)

<b>As soon as I add a filter to the nested "$expand" like:</b>

http://localhost:59178/Regions?$expand=Facilities($filter=Active eq true;$expand=Departments(<b>$filter=Active eq true</b>))

<b>I get the following error:</b>

{
  "ExceptionMessage": "Value cannot be null.\

[2015-07-28 05:39] karataliu opened #447 "Default behaviour change for batch error handling in 5.7.0-beta"
In previous version, the default behavior for handling batch is continue-on-error, but on 5.7.0 beta the default behavior becomes stop-on-error. This could be introduced by continue-on-error feature, please consider adding a flag to prevent this behavior change.

[2015-07-28 19:44] gte445e opened #448 "Support for DataAnnotations.MetadataTypeAttribute"
Can support be added for System.ComponentModel.DataAnnotations.MetadataTypeAttribute?

I have placed the Key Attribute on a metadata class however I still receive an error indicating that the Key attribute is missing.

[2015-07-29 02:01] #369 closed

[2015-07-29 07:53] congysu commented on #448
@gte445e What is your user scenario? We can use `[NotMapped]` to tell EF not create a column in DB, and add that property to OData metadata manually.

[2015-07-29 08:00] congysu commented on #447
This dues to fix of: https://github.com/OData/odata.net/issues/9.  We shall mention this in release notes, and allow service configured to use `continue-on-error`, and set batch preference-applied header.

[2015-07-29 08:17] congysu commented on #443
Thanks @trparham for reporting the issue and adding a PoC.  Would you please submit a pull request for a fix?

[2015-07-29 08:19] congysu commented on #442
Thanks @Ilchert for reporting the issue, and identified the method with problem.  Would you please submit a pull request?

[2015-07-29 14:35] gte445e commented on #448
I am using a ODataController that calls a stored procedure (Function Import) via Entity Framework which returns a list of objects (EF Complex Type).  I cannot specify a Key Attribute on the EF Complex Type since it is generated code.  What we normally do is to create a partial class for the EF Complex Type with the MetadataTypeAttribute to so that we can add the DataAnnotation attributes for the E

[2015-07-30 03:26] congysu commented on #433
The nightly package is with name, such as: Microsoft.AspNet.OData.5.7.0-*beta-*150729-Nightly.  It should be Microsoft.AspNet.OData.5.7.0-150729-Nightly, or Microsoft.AspNet.OData.5.7.0-150729.

[2015-07-30 07:09] VikingsFan commented on #445
Checked in d3e217b1595144af3f0ccd427664435c5035b8bb

[2015-07-30 07:09] #445 closed

[2015-07-30 08:06] LianwMS commented on #275
@cornem @DrNixx @b-butcher Do you still have the same issue? Could you repro the same issue locally?

[2015-07-30 16:09] geoffwc opened #452 "Intercepting Entities for Encryption"
Hi, I'm looking for some advice on a solution I've implemented:

I have a requirement to decrypt encrypted data before it's serialised. In my repository pattern for non OData consumption, I decrypt data using .AsEnumerable.Select(decrypt in here) which is fine once we have executed a query.

When implementing decryption in an OData controller it's not possible to do this since the controller (GET)

[2015-07-30 19:39] Ilchert commented on #442
Pull request #453.
It is my first pull request on github, so it may be not ideal.

[2015-07-31 02:07] VikingsFan commented on #443
@trparham Could you help to review my [pull request](https://github.com/OData/WebApi/pull/454)?

[2015-07-31 06:40] karataliu opened #455 "Client sends OData-Version higher than 4.0 would result in 404"
When the following is specified in request, the service would return 404.
OData-MaxVersion: 4.1

This goes against the following words in spec:

[code]

[2015-07-31 07:50] karataliu opened #456 "Accept header behaviour does not follow spec"
For now the following request would result a valid response
GET http://services.odata.org/TripPinWebApiService/People HTTP/1.1
Accept: application/unknown

This goes against the following statement in spec:
[code]
Also RFC7231:
[code]

[2015-07-31 12:24] gfrappier opened #458 "Migrate vNext to beta6"
Upgrade the vNext code to use the 1.0.0.beta6 runtime version .

[2015-07-31 13:48] trparham commented on #443
@VikingsFan I can help review.  Thanks for the fix.

[2015-07-31 20:38] tjones39 commented on #212
Curious why this fix isn't targeted for v5.7?

[2015-08-03 00:59] karataliu opened #459 "GetConcurrencyProperties should look at OptimisticConcurrency annoataion"
https://github.com/OData/WebApi/blob/d21a410fb1b36b9455796dd18d5bbdcf10c2f5ad/OData/src/System.Web.OData/OData/Formatter/EdmLibHelpers.cs#L421-L425

Here it refers to EdmConcurrencyMode, which is obsoleted in OData V4. This leads incorrect ETag computation in service.

[2015-08-03 03:36] congysu commented on #212
@tjones39 Can you check if the following could work?
`[EnableQuery(MaxExpansionDepth = 3)]`
https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/test/E2ETest/WebStack.QA.Test.OData/DollarFormat/DollarFormatController.cs#L30-L47

[2015-08-03 04:48] trparham commented on #443
@VikingsFan you are very close.  When testing with my sample project, one of the expanded rows is out of order (-233 replaces -245).  I haven't been able to identify the cause of the issue yet, but will continue looking.

Are you planning to implement for OData 3 as well?

[2015-08-03 05:06] VikingsFan commented on #443
@trparham please provide more information, I will fix it and add corresponding case, actually you can port this fix into V3 and send a pull request for us :) this is important for our community

[2015-08-03 05:29] trparham commented on #443
@VikingsFan I'm not sure what more I can provide.
With your changes in place, the expanded set is being sorted appropriately with the exception of 1 record.  My initial instinct was that was caused by taking 1 more than the page size.  However, after running it through debug, that didn't necessarily seem to be the case.  I'm still getting comfortable with the WebApi libraries, so my learning curve

[2015-08-03 07:04] VikingsFan commented on #443
@trparham can you repro it with in-memory data?

[2015-08-03 18:20] tjones39 commented on #212
Adding the MaxExpansionDepth didn't fix the issue.

[2015-08-03 20:42] trparham commented on #443
I have updated my POC to provide data from delegate.  To our surprise, we could not reproduce the issue after making that change.  As a result, we put in a database logger to see what the generated query looked like (see below).  When executing the generated query directly against Oracle, we get the same result.

I'll start digging into the syntax next.

<pre>
Opened connection at 8/3/2015 2:55:14

[2015-08-04 07:47] VikingsFan opened #460 "Need to resolve public Api review comments"

[2015-08-04 09:09] #433 closed

[2015-08-04 09:10] LianwMS commented on #433
Fixed, name of nightly package now is:  Microsoft.AspNet.OData.5.7.0-Nightly150803

[2015-08-05 06:10] VikingsFan commented on #447
checked in 9cbe805c0d75721d8ea5530fa7c12546c41aa3b9

[2015-08-05 06:10] #447 closed

[2015-08-05 06:11] VikingsFan commented on #460
checked in 2c0221a8eb9b2c7cdb16ab9afad7717ed58de7e1

[2015-08-05 06:11] #460 closed

[2015-08-05 17:11] zolotovvv opened #462 "OpenType, $expand and Entity Framework"
Microsoft.OData.Core - 6.13.0.0
EF - 6.3.0

I am using entity class (simple view):
[code]

with mapping in Fluent:
[code]
...and Odata config:
[code]

... and Odata controller:
[code]
Request "/odata/Entities" - works perfect, returns properties of an Entity and returns dynamic property.

But request "/odata/Entities?$expand=SecondEntity" return exception:

[code]

Is this an issue? Or have I misu

[2015-08-06 22:46] fazzamar commented on #158
I would love to see this implemented especially since it's generated by the Microsoft.OData.Client. As it stands right now I have to Add the parent item in one call and add the navigation references in a separate call.

[2015-08-07 01:05] congysu opened #463 "Support $expand=*"
[code]

Related spec:
It is also possible to expand all declared and dynamic navigation properties using a star (*)
http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part2-url-conventions/odata-v4.0-errata02-os-part2-url-conventions-complete.html#_Toc406398162

[2015-08-07 02:43] congysu commented on #463
Pending ODataLIb.

[2015-08-07 02:48] congysu commented on #458
@gfrappier  Could you help contribute the code change of upgrading?

[2015-08-07 02:52] congysu commented on #462
@zolotovvv How the `SecondEntity` is defined?

[2015-08-07 02:59] congysu commented on #456
Check the content type negotiation logic.

[2015-08-07 03:13] congysu commented on #452
Thanks @geoffwc for sharing a feasible solution.  Look like you're using OData v3, would you please try OData v4 http://odata.github.io/WebApi/ ?

[2015-08-07 03:16] congysu commented on #448
If you use code-first EF, the code generated via scaffolding is editable.

[2015-08-07 03:27] congysu commented on #439
@lewischeng-ms What is the result of 'no exception prompted' - a 404, or?

[2015-08-07 03:38] congysu commented on #438
We need a design for this, if we want to support generic type, such as dictionary:
1. what is the type name?
2. what are the property names?

[2015-08-07 03:44] congysu commented on #437
Complex type value is auto expanded by default.

[2015-08-07 03:48] congysu commented on #436
Need write a page about $ref with attribute routing.

[2015-08-07 05:00] lewischeng-ms commented on #439
@congysu I think we should throw sth like 500 internal error saying that the route is invalid.

[2015-08-09 20:08] zolotovvv commented on #462
Yes, SecondEntity is defined.
As a workaround, I created fork and comment single line
[code]
 in class System.Web.OData.Query.Expressions.SelectExpandBinder:

[code]
As seen all of the properties of open segment always added to expand clause. This logic, in my case, is  not correct...

[2015-08-09 20:21] Casimodo72 commented on #438
I don't know if the issue should be about all generic types or specifically Dictionary<TKey, TValue>.
But yes, what is the type name? Currently it is possible to have duplicate types names, demonstrated by the following example. This might be a bug worthy of fixing.
One gets (note the duplicate "Generic_1OfT"):
[code]
If one defines:
[code]

[2015-08-09 20:55] Casimodo72 commented on #438
If we put the Dictionary into focus, then I would differentiate between:

1) Property of type ```Dictionary<string, object>```:
This is handled as a dynamic properties container.
There can only be one such property on a type.
Effectively it's not treated as a property (especially on the JavaScript side), but just a container for overflow named values of any type.

2) Property of type ```Dictionary

[2015-08-09 22:46] Casimodo72 commented on #438
I just experimented a bit with dictionaries. I don't know yet what the outcome actually means for me, because it is getting late and I need some sleep.

Scenario type:
[code]

1) ```Dictionary<string, string>```:
Surprise, this is already supported.
One only needs to register the type explicitely:
It would be great if OData Web Api could make this easier and one could avoid registering each generi

[2015-08-10 00:37] Jagger911 commented on #158
Currently running into this issue of this not being supported. The client I am using uses @odata.bind and now an annoying workaround is needed. Please look into this issue.

[2015-08-10 02:00] #318 closed

[2015-08-10 03:11] congysu commented on #107
@xuzhg Is ETag done?  Related issue: https://github.com/OData/WebApi/issues/459

[2015-08-10 06:32] karataliu opened #465 "Service should reject unprocessed SYSTEM query options"
When EnableQuery is not specified on Controller, service should reject system query options by returning 501, instead of continuing processing the request.

[code]

[code]

[2015-08-10 06:44] dneimke commented on #458
Hi all, are there plans and timeframes for having a build which runs off of beta6 or higher?

[2015-08-10 06:48] karataliu commented on #465
[code]

[2015-08-10 07:40] VikingsFan commented on #442
Merged 35b7f5c & 2bcbe4c

[2015-08-10 07:40] #442 closed

[2015-08-10 12:11] ashuthinks opened #467 "In Odata Service unable to generate metadata for Dictionary property"
In Employee.cs

 public class Employee
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string test { get; set; }
        public Dictionary < string, object > _map;
    }
In WebApiConfig.cs
ODataConventionModelBuilder builder = new ODataConventionModelBuilder();
            builder.EntitySet<Employee>("Employees");
            config.MapODataService

[2015-08-10 12:47] kpko commented on #295
This feature would be great. Currently, we are performing row-level security and things like soft deletion with an entity framework query visitor/interceptor.This works, but it would be far more elegant, if the $expand method would just call the get method of the referenced controller.

[2015-08-10 13:56] object commented on #467
You can't expose any CLR type over OData protocol. Bear in mind that your OData service exposes your data over HTTP, and clients can run on various platforms, including mobile. Since "object" says nothing about the underlying type of an instance behind it, you must redesign your service to expose Edm-compatible types.

[2015-08-10 14:14] gfrappier commented on #458
I will create a pull request today that supports beta6.

[2015-08-10 16:53] ashuthinks commented on #467
but then how Dictionary< int, object > is working fine?

[2015-08-10 19:42] object commented on #467
Not sure what is exposed in that case. Can you check the service metadata? How is such dictionary exposed?

[2015-08-11 01:54] VikingsFan commented on #467
The Dictionary support in OData is Open Type, _map there called dynamic properties, it won't show in metadata, you should the attribute in metadata:

    <EntityType Name="Employee" OpenType="true">

FYI : http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/use-open-types-in-odata-v4

[2015-08-11 04:49] ashuthinks commented on #467
ok thanks but how to add OpenType="true" in metadata file ? as metadata is auto generated using following code.
ODataConventionModelBuilder builder = new ODataConventionModelBuilder();
            builder.EntitySet<Employee>("Employees");
            config.MapODataServiceRoute(
            routeName: "ODataRoute",
            routePrefix: "odata",
            model: builder.GetEdmModel());

[2015-08-11 04:53] ashuthinks commented on #467
Still not getting that dynamic property in metdata

I have used  public IDictionary<string, object> MyProperty7 { get; set; }

<edmx:Edmx xmlns:edmx="http://docs.oasis-open.org/odata/ns/edmx" Version="4.0">
<edmx:DataServices>
<Schema xmlns="http://docs.oasis-open.org/odata/ns/edm" Namespace="MyService.Models">
<EntityType Name="Employee" OpenType="true">
<Key>
<PropertyRef Name="Id"/>
</Key>
<Pro

[2015-08-11 05:00] VikingsFan commented on #467
Yes, the dynamic property won't show in metadata, you get the

    < EntityType Name="Employee" OpenType="true">

It represent Employee have a dictionary for dynamic property, you can see in the asp.net sample: POST an Entity, the entity Book didn't have property Price, but you can still post because it is an open type, there is no need to know the Dictionary name for client.

[2015-08-11 05:57] ashuthinks commented on #467
great thanks i'm facing same issue for java also in java instead of having IDictionary I'm having Map in java.
 private Map<String, MyClass> demo;
 public void setDemo(Map<String, MyClass> demo) {
        this.demo= demo;
    }

[2015-08-11 07:54] congysu opened #469 "Setup nightly nuget package for OData Web API vNext"
Set up, and publish nightly builds to myget, such as: https://www.myget.org/F/odatavnext/api/v2/Packages

[2015-08-11 14:02] gfrappier opened #470 "vNext - Discovery of actions and functions from the model and support for $expand"
During the BuildModel process, only  properties are discovered and reported in the metadata. We need to implement a process that discovers the action and functions defined in the model interface. Also, the $expand functionality needs to be put in place as it is not functional right now.

[2015-08-11 14:08] gfrappier opened #471 "vNext - Support for methods with the same method name but having a different signature"
If a model contains methods with the same name but using different signature, the call will fail for some of the method since only the name of the method is used to establish the which ActionDescriptor to use   for the current RouteContext. The first method name matched in the list of available actions is the one being returned at this point in time.

[2015-08-11 22:18] Ofer-Gal commented on #170
Wonderful code! where do I put it? I added to WebApiConfig and it did not like being in a static class

[2015-08-12 01:13] VikingsFan commented on #170
@Ofer-Gal There is a page for this http://odata.github.io/WebApi/#10-02-work-around-for-singleresult-create, check that

    var odataFormatters = ODataMediaTypeFormatters.Create(new NullSerializerProvider(), new DefaultODataDeserializerProvider());
    config.Formatters.InsertRange(0, odataFormatters);

[2015-08-12 02:08] xuzhg opened #472 "ETag cann't apply to the sub property of complex property."
For example, Web API OData only supports the direct property from declaring entity type. However, it should support the sub property in complex property form the declaring entity type.

[2015-08-12 07:40] congysu commented on #462
Check the query provider type, and decide whether to add dynamic properties in expand: https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/src/System.Web.OData/OData/Query/HandleNullPropagationOptionHelper.cs#L41-L47

[2015-08-12 07:50] congysu commented on #440
Pending ODataLib.

[2015-08-12 08:01] congysu commented on #467
Change field to a property should work with Dictionary:
[code]
=>
[code]

[2015-08-12 08:58] xuzhg opened #475 "ETag can't work for double type"
See the related information: https://github.com/OData/ODataSamples/issues/30

[2015-08-12 09:14] xuzhg commented on #434
@congysu I moved my sample into ODataSamples repo. See https://github.com/OData/ODataSamples/commit/2eb16717642a26bb0d3e262d9568eb75426237ea
thanks.

[2015-08-12 10:34] Ofer-Gal commented on #170
Thank! I am a step closer but I still have a problem when the key is not found.
In the line var response = request.GetOwinContext().Response; in the GetODataPayloadSerializer class.
the value of request.GetOwinContext() is null so the status "Not found" can't be sent.

Can this be because I use All System.Web.OData.... rather than System.Web.Http.OData.... ?

[2015-08-12 18:28] crgeee commented on #65
Any updates on adding this into a new release?

[2015-08-13 00:53] VikingsFan commented on #170
No, there is no problem with v4 that you are using, you may need to go check why this is null or provide more detail :) http://stackoverflow.com/questions/22598567/asp-net-webapi-cant-find-request-getowincontext

[2015-08-13 05:24] #459 closed

[2015-08-13 05:27] xuzhg commented on #107
@congysu See a9f309886fece9dd7fe7229e7b7bf87f355a8c2c for ETag. Thanks.

[2015-08-13 05:59] congysu commented on #440
Thanks @dmcallis for the investigation.  Would you like to submit a pull request for the code change to https://github.com/OData/odata.net/issues/299 ?

[2015-08-13 09:48] #467 closed

[2015-08-13 21:57] nirinchev commented on #34
I've written a [blog post](https://medium.com/@nirinchev/dealing-with-spatial-data-in-odata-4e4051434ddb) that proposes a workaround for working with spatial data in Web API OData. Unfortunately, it requires slight modifications to ```ClrCanonicalFunctions``` and ```FilterBinder``` to add support for spatial queries (```geo.distance``` and so on). Do you think it would be reasonable change to push

[2015-08-14 00:30] brunotarghetta commented on #275
Please, somebody could fix this issue?

[2015-08-14 11:49] keithhowie opened #477 "Timezone information is lost with $select and DateTime"
I have a database column of type timestamptz (pgsql) which stores date, time and timezone. OData now allows us to use DateTime, however due to an oddity in SelectExpandBinder, my timestamptz column in the resulting EF sql query is being cast to 'datetime', losing the timezone data. I traced this down to an old comment:
`// need to cast this to nullable as EF would fail while materializing if the p

[2015-08-15 04:05] congysu opened #478 "Update the 5.7 beta tag"
The v5.7.0-beta is on 2015-07-29, while the nuget package 'https://www.nuget.org/packages/Microsoft.AspNet.OData/5.7.0-beta' published on 2015-07-24.  They should match.

[2015-08-15 10:53] congysu opened #479 "xUnit runner extension to nuget"
The runner extension won't install, and it not supported.  Shall change to nuget runner.

[code]

[2015-08-17 03:33] xuzhg commented on #34
@nirinchev

Warmly welcome your PR for spatial support.

Best Regards.
Sam Xu

[2015-08-18 05:30] lewischeng-ms opened #482 "Web API does not support Edm.Date literal in $filter when the property is Edm.Date [Nullable=True] and the backend is EF"
I am using EF as the backend LINQ provider. If I have a property called `Birthday` of type `Edm.Date` with `Nullable=True`, the following query:

    $filter=Birthday eq 1986-01-01

would cause EF to throw exception:

    Unable to create a constant value of type 'System.Nullable`1[[Microsoft.OData.Edm.Library.Date, Microsoft.OData.Edm, Version=6.13.0.0, Culture=neutral, PublicKeyToken=31bf3856ad3

[2015-08-18 06:05] congysu opened #483 "Remove a navigation link via Patch"
For example, remove a link to a single-valued nav property:

[code]

http://docs.oasis-open.org/odata/odata-json-format/v4.0/errata02/os/odata-json-format-v4.0-errata02-os-complete.html#_Toc403940638

Related issue: https://github.com/OData/WebApi/issues/158

[2015-08-18 07:10] gordon-matt opened #484 "$count for actions/functions returning collections of complex types"
$count does not work for actions/functions returning collections of complex types. See details here:
http://stackoverflow.com/questions/31822755/passing-parameters-to-an-odata-get-method-which-returns-a-collection/31823976?noredirect=1#comment51621266_31823976

This is a big problem for me, as I need really @odata.count to be returned. Is there a workaround for now? Maybe I can get the source code

[2015-08-18 08:09] gkasturi opened #485 "Exceptions in RoutingConventions and PathHandler are not serialized in ODataV4 protocol compliant format"
Exceptions occurring during routing are not serialized in the format specified here (http://docs.oasis-open.org/odata/odata-json-format/v4.0/errata02/os/odata-json-format-v4.0-errata02-os-complete.html#_Toc403940655). Instead a 404 is thrown.

[2015-08-18 13:12] vojtechvit opened #486 "[EnableCorsAttribute] does not work with ODataController"
`[EnableCorsAttribute]` does not work with `ODataController`. If the attribute is set only on controller or action level, pre-flight requests get no response.

It would be nice to have an `ODataController`-compatible equivalent of `EnableCorsAttribute`.

[2015-08-19 08:53] congysu commented on #486
Related issue: https://github.com/OData/WebApi/issues/208

[2015-08-19 08:58] congysu commented on #485
Customize routing conventions, and add a catch all ODataController, in that controller, add a method: HandleUnmappedRequest
https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Routing/Conventions/UnmappedRequestRoutingConvention.cs

[2015-08-19 09:08] congysu commented on #483
A solution is to delete $ref `DELETE /api/data/v7.2/accounts(985519d9-e08e-4374-a7d4-d15763a448e7)/primarycontact`

[2015-08-19 12:14] MarkAPhillips commented on #400
What is the ETA for this feature? - it seems to have been hanging around on and off for over a year - is anyone proactively working on this - or does it constantly get pushed back?

[2015-08-19 13:37] katan4ig opened #487 "Filtering by OpenTypes doesn't work with Linq to Entity"
I store the data for the open types in the database, and I implemented dynamic initialization for them.
I'm using the latest version of OData v4 and EF 6.

My model:
[code]
"Attributes" field initialization:
[code]
This works fine, but if I try to use OData filters, Web API to throw next exception:
"Unknown LINQ expression of type 'Index'"

This exception thrown only with filtering by open types.

[2015-08-19 21:00] gel commented on #35
Extremely important feature IMO. Additional queries can't scale.

[2015-08-20 06:50] congysu commented on #487
Can @katan4ig share how the model is defined? and what is the $filter clause?

[2015-08-20 06:59] lewischeng-ms opened #489 "When creating ODataEntry from CLR object, DateTimeOffset value should be converted to Edm.Library.Date if the property type is Edm.Date"
https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/Serialization/ODataEntityTypeSerializer.cs#L205

[2015-08-20 07:05] congysu commented on #477
@keithhowie Can you use DateTimeOffset, given timestamptz has time zone info?

[2015-08-20 11:46] katan4ig commented on #487
Model defined into Linq To Entity expression, how it described above.
[code]
Property "Attributes" initialized into query.
Property "DynamicAttributes" from ExampleDto initialized based on "Attributes" property, when API causes him getter.

Result without $filter condition, for example:
[code]
Api returned objects with all dynamic properties(Open Types).

Filter condition which thrown exception:
[

[2015-08-21 05:39] xuzhg commented on #434
Close it because the verification has been done.

[2015-08-21 05:39] #434 closed

[2015-08-21 09:03] LianwMS commented on #479
Submit with 14e17e0474174eb0f78c3a063731853eadba53a4

[2015-08-21 09:03] #479 closed

[2015-08-21 14:54] #443 closed

[2015-08-21 15:00] congysu opened #490 "Serialize a null collection value as an empty collection"
Add a configuration, to change the default behavior that throws 500:

{
    "error": {
        "code": "",
        "message": "An error has occurred.",
        "innererror": {
            "message": "The 'ObjectContent`1' type failed to serialize the response body for content type 'application/json; odata.metadata=minimal'.",
            "type": "System.InvalidOperationException",
            "sta

[2015-08-24 07:21] pascalberger commented on #415
I see that [OData v3 5.7](http://odata.github.io/WebApi/5.7/) is released without mentioning this issue to be fixed?

[2015-08-24 07:27] pascalberger opened #491 "Versioning / Naming of OData Packages sucks"
As already mentioned in #415 the naming and versioning of the OData Packages is really confusing. Are the v3 and v4 vesions in any way related? For example you fixed #216 for OData v4 v5.6. In the meantime you now also have released OData v3 v5.7 which [doesn't include this issue](http://odata.github.io/WebApi/5.7/). On the other hand the versions between v3 and v4 seem to be related in some way,

[2015-08-24 10:56] ksureshhpk opened #492 "Odata Web API v4 - Open entity type and Unqualified Name call is not working."
Hi
We are migrating the odata web api from v3 and v4, as there is new feature to add the dynamic properties at run time in v4. ie open type entity. so we created one of the entity as open type entity and we have few actions bounded to this entity.

Users are started using the v3 service without namespace , so we wanted to have v4 also without namespace, odata v4 supports it when we make a call to

[2015-08-25 04:06] congysu opened #493 "Setting ODataError Details"
Related ODataLib issue: Add Target and Details properties to ODataError https://github.com/OData/odata.net/issues/76

Change ODataErrorSerializer and HttpErrorExtensions to support Details, or via extension points.
https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Formatter/Serialization/ODataErrorSerializer.cs
https://github.com/OData/WebApi/blob/master/OData/src/System

[2015-08-25 04:16] congysu opened #494 "Update release notes for OData v3 Web API"
Fix issue: Formatting issue in xml comments about True and False. #294
Fix comments localization issue. Merge PR #332
Remove the internal bug number. #380.
Issue #398: Default value of Relax OData Version Constraint Should Be True.
PR #453 Checking property for null changed from Or to OrElse. Possible incorrect translation checking for null to Expression. #442

[2015-08-25 04:16] congysu opened #495 "Update release notes for OData v4 Web API"
Include PR and related changes since 5.7 beta, such as:
PR #453 Checking propetry for null changed from Or to OrElse. Possible incorrect translation checking for null to Expression. #442

[2015-08-26 06:51] congysu commented on #275
OData v3 Web API depends on: Microsoft.AspNet.WebApi.Core (≥ 5.2.2 && < 5.3.0).  @brunotarghetta , can you describe the repro steps, or share a repro project?

[2015-08-26 06:55] congysu commented on #492
Related issue: https://github.com/OData/odata.net/issues/200

[2015-08-26 07:02] congysu commented on #487
What does the $metadata - model - look like?  Query options for dynamic properties support in-memory collection, but is yet to support EF.

[2015-08-26 12:00] katan4ig commented on #487
$metadata looks like:
[code]
EF doesn't support dictionaries, maybe a problem in this.

[2015-08-26 12:00] jhermsen commented on #229
Hi @lewischeng-ms and @markdstafford,
Any progress on the plans or development?
Really looking forward to be using OData on ASP.Net 5 WebAPI, but currently missing to much functionality to properly use it.

[2015-08-26 13:31] keithhowie commented on #477
I thought that might be the first question, and it's a fairly sensible one, however: Dates should be supported since #136 (with @xuzhg's suggestion to raise any problems as new issues!). I think this is one such issue.

[2015-08-26 19:07] garethsuarez commented on #170
having a similar issue as @Ofer-Gal.  the request.GetOwinContext() is returning null, due to the request.Properties not containing a "MS_OwinContext" key.

[2015-08-26 19:40] garethsuarez commented on #170
Figured out my issue, at least.  needed to add app.UseWebApi(GlobalConfiguration.Configuration); to the Startup.cs to make OWIN handle the webAPI calls.  works like a charm now.

[2015-08-26 21:00] Ofer-Gal commented on #170
Can you send some more? like which method did you add it to etc..

[2015-08-27 14:17] wei-zhou opened #496 "ETagMessageHandler.CreateETag method has a serious bug"
The source code is as below.

[code]

If the **navigation source** is a **contained entity set**, the **ETag** will become **null**. I think this is  NOT a right behavior. But it is right in the last release.

[2015-08-27 18:45] sixlettervariables opened #497 "Cannot include colons, periods, or dollar signs in URL's with IIS"
This has been a particularly vexing issue when dealing with IIS, so I understand if your team has absolutely zero idea how to fix it. In a nutshell: how do you make IIS route OData without failing?

The OData WebApi configuration is the following (redacted as necessary):

[code]

With the following example controller:

[code]

When you query something like, `http://localhost/OData/Xyz/$count`, you

[2015-09-01 01:36] xuzhg commented on #497
@sixlettervariables

Can it work to make `path=/*`? See detail in:
http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/odata-actions-and-functions

[2015-09-01 09:44] abkmr commented on #302
JSON metadata is also needed for Dynamics CRM

[2015-09-01 13:31] mgernand commented on #94
:+1: Any news on this?

[2015-09-01 13:32] MikalJ opened #498 "Early validation of query"
Currently if you use EnableQueryAttribute on an ODataController action, there's no way (besides reflection) to perform early validation on the query, using the same settings supplied in the attribute.

All the information needed to validate a query is in the request url, and there's no reason to let the action hit the database if the request is going to fail because of an invalid query.

Example:

[2015-09-01 16:11] korygin opened #499 "OData Web API (v 5.6) - routing returns 404 (NOT FOUND) when calling a function with enumerated parameter(s)"
Hi,

There seems to be a routing problem with calling OData 4 functions that have enumerated parameters. A work around is to use parameter aliasing, i.e.: http://localhost:4298/management/v1/AggregationBuckets(start=2015-08-26T20:00:00-05:00,end=2015-08-26T23:59:59-05:00,timeZone='US-Eastern',timeUnit=@p1,resolution=1,serviceId=null,clientId=null,userId=null)?@p1=Com.Ingr.ApiManagement.V1.TimeUnit

[2015-09-01 19:57] RemcoBlok opened #500 "Preference-Applied not added to response for update in batch in OData v3"
A batch request with a change set containing a MERGE operation with a Prefer header value of 'return-content' correctly returns the content in the response and with a status code 200 OK instead of 204 No Content, however it fails to add the Preference-Applied header (with value 'return-content') to the response. Moving from a WCF Data Service to web api odata v3, my JavaScript client code using da

[2015-09-03 11:21] lewischeng-ms commented on #470
Done in #476.

[2015-09-03 11:21] #470 closed

[2015-09-03 11:21] lewischeng-ms commented on #471
Done by @gfrappier in #476.

[2015-09-03 11:21] #471 closed

[2015-09-03 12:43] lewischeng-ms commented on #229
@a99cl208 @weitzhandler @jhermsen Really sorry for the very late response. Thank you all so much for your attention and great passion on OData Web API! **Please be assured that we will absolutely not give up OData Web API on ASP.NET 5**. The most important reason we are not specifically focusing on Web API for the time being is that we think the next brand-new version of OData Web API as a great o

[2015-09-03 15:37] alexschrod commented on #157
Is this a change since Web API 2 OData? To quote an article on [Web API 2 OData on www.asp.net](http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/using-$select,-$expand,-and-$value):

  "odata.metadata":"http://localhost/odata/$metadata#Categories&$select=Name,Products/Name",
  "value":[
    {
      "Products":[ {"Name":"Hat"},{"Name":"Scarf"},{"Name":"Socks"} ],
      "Name":"Ap

[2015-09-03 20:16] gfrappier opened #501 "Migrate vNext to Beta7"
Now that the beta7 framework is officially available, we should move vNext to this version.

[2015-09-04 13:00] sixlettervariables commented on #226
I've run into this same problem, however, only the switch to `EntitySet` seemed to work. Moreover, not all of my entities seem to be affected by this. Very hard to debug problem.

I suggest that an exception be thrown in the case that an Expand is requested and the service does not choose to expand it.

[2015-09-04 13:52] sixlettervariables commented on #497
That does not work if you host multiple applications under `/`.

[2015-09-06 02:20] xuzhg commented on #499
@korygin Would you please try your scenario in 5.7? Or Would you please share us more your codes? As I know, Enum is supported in Uri. For example:

https://github.com/OData/WebApi/blob/master/OData/test/UnitTest/System.Web.OData.Test/OData/Formatter/ODataFunctionTests.cs#L32-L33

[2015-09-06 05:28] lewischeng-ms commented on #501
Merged pull request #502. Thanks for the contribution.

[2015-09-06 05:28] #501 closed

[2015-09-06 12:15] julrichkieffer opened #503 "[vNext] GET /Customers(1)/Products returns a customer (vNext Navigation Properties)"
Using the vNext branch, and running ODataSample.Web from source (commit 3b774a) on dnxcore50 beta6...

Calling `GET http://localhost:9091/odata/Customers(1)/Products` returns

[code]

**instead of**

[code]

[2015-09-06 12:25] julrichkieffer opened #504 "[vNext] OData urls are case sensitive"
Using the vNext branch, and running ODataSample.Web from source (commit 3b774a) on dnxcore50 beta6...

`http://localhost:9091/odata/customers(1)/firstName` returns _500 Internal Server Error_ where
`http://localhost:9091/odata/Customers(1)/FirstName` does not.

Why is the C# class definition _bleeding into_ the public api exposed by OData, which should be platform / language agnostic to the caller

[2015-09-06 12:38] julrichkieffer opened #505 "[vNext] 404 Not Found should shortcircuit $expand etc"
Using the vNext branch, and running ODataSample.Web from source (commit 3b774a) on dnxcore50  beta6...

`GET http://localhost:9091/odata/Customers(2)` **correctly** returns *404 Not Found*. However `GET http://localhost:9091/odata/Customers(2)?$expand=Products` returns *500 Internal Server Error* **instead of** the expected *404 Not Found*.

That is, when an entity is not found (i.e. a known reque

[2015-09-06 13:32] cohenomri commented on #65
+1

[2015-09-06 20:09] korygin commented on #499
Hi,
It doesn't seem to work in 5.7 either. I am attaching a very simple test project to illustrate the problem. The first URL returns HTTP 404, while the second one with parameter aliasing gets the result back.
http://localhost:1622/odata/GetCountByCategory(category=ODataTest.Models.ProductCategories'Groceries')

http://localhost:1622/odata/GetCountByCategory(category=@p1)?@p1=ODataTest.Models.Pro

[2015-09-08 16:51] klac503 opened #506 "Exception when using $select within $expand"
The v5.7 release has broken the ability to use $select within $expand e.g. http://server/service/controller?$expand=NavProperty($select=Id). This has worked in prior versions including v5.6.

[2015-09-09 06:24] congysu opened #508 "Add pages for work items done in 5.5.1-5.7"
The release notes of 5.5.1-5.7 contains a set of changes, but lack of pages describing how to use them.
http://odata.github.io/WebApi/old-layout/

[2015-09-09 07:00] congysu opened #509 "Search engine cannot find any content in odata.github.io/WebApi"
Search for `release notes site:odata.github.io` returns no pages.

[2015-09-09 07:01] congysu commented on #506
@klac503 Can you provide a repro?  Thanks.

[2015-09-09 07:04] congysu commented on #505
$expand support is newly added.

[2015-09-09 07:06] congysu commented on #504
vCurrent support case insensitive Uri.  Welcome any contribution to port the change to vNext, or re-design.

[2015-09-09 07:12] congysu commented on #500
We have unit tests cover this scenario:
https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/test/UnitTest/System.Web.Http.OData.Test/OData/EntitySetControllerTest.cs#L164-L179

Is the issue specific to batch?

[2015-09-09 07:22] congysu commented on #498
With Option 2, you can new an ODataQuerySettings with the settings, validate, and then call ApplyTo.
[code]

[2015-09-09 07:40] congysu commented on #496
Need to change ODataLib's set ETag API:
https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Edm/ExtensionMethods/ExtensionMethods.cs#L1076

Need to confirm `EntitySet` includes contained entity set or not.
[code]

[2015-09-09 08:01] RemcoBlok commented on #500
yes the issue is specific to batch.

[2015-09-09 14:17] MikalJ commented on #498
That approach means I have to supply each setting twice, once in the the EnableQuery attribute, and once when newing up an ODataQuerySettings object.
That is not ideal, as it would lead to maintainance problems down the road, when some of the settings has to be changed.

Besides, I'm not interested in applying the OData queryoptions early, just in validating the request, and failing invalid reques

[2015-09-09 17:06] jayongg opened #510 "Need more hooks to mock a derived path handler"
We have a class which derives from DefaultODataPathHandler.  I want to test our setting case insensitivity (configuration.EnableCaseInsensitive(true)).

However, the _only_ way I can see to propagate this into the path handler’s resolver is to call the path handler’s MapODataServiceRoute() with some arbitrary values, because internally it does:
	DefaultODataPathHandler odataPathHandler = pathHandl

[2015-09-09 17:43] jayongg opened #511 "Bug: case insensitivity does not work for collections sometimes"
This path is failing in DefaultODataPathHandler.Parse:
me/notes/noTeBooks/12345

"me" is a User
"notes" is a navigationproperty
notebooks is a collection of notebooks

I get the ODataException:
The request URI is not valid. Since the segment 'notebooks' refers to a collection, this must be the last segment in the request URI or it must be followed by an function or action that can be bound to it o

[2015-09-09 20:42] RemcoBlok opened #512 "Content-ID references not working in batch using Web API ODATA V3"
I have been creating ODATA batches with Content-ID references in JavaScript using datajs successfully with a WCF Data Service. Now using a Web API ODATA V3 service, Content-ID references are not working (or not in the same way). I used to create them as follows (this is a batch which inserts a new Workflow and then updates a SampleContainer that references the new Workflow):

--batch_8a8a-0fc5-8d9

[2015-09-09 22:33] klac503 commented on #506
I should be able to add a sample project in the next day or two.

[2015-09-10 03:32] xuzhg commented on #499
@korygin

I wrote a test project to test. It works fine at my test project both for inline parameter or parameter alias for enum.  https://github.com/xuzhg/WebApiSample/tree/master/EnumParameterTest  is my project, it's a simple console application that you can run and debug it. and it refers to 5.6.  Please compare with your function definition and let us know any problem. Thanks.

[2015-09-11 19:48] RemcoBlok commented on #512
Could somebody give an indication whether this will be addressed as part of milestone 5.8? Not being able to reference requests in a batch like I could with WCF Data Services means I cannot send the changes as a single batch and therefore the changes cannot be processed as a single transaction.

Speaking about transactions, I implemented transactions using the example on codeplex

http://aspnet.co

[2015-09-11 21:43] skarpovru commented on #506
Hi, same problem after upgrade on 5.7

[2015-09-11 23:26] klac503 commented on #506
In order to reproduce the problem you need to have a query filter, a base class on your entity class, and use the Entity Framework.

I've attached a sample project that duplicates the issue. There is a sql script included that creates a SQL Server database that is required to duplicate the issue. There's also a web application that hosts the
service in IIS Express and a console application that ma

[2015-09-13 13:19] lensgrinder opened #513 "Client issue deserializing when API returns Abstract Complex Type"
Hello,
I have an OData v4 service running on WebApi and have defined a function like this:
Function Name="GetRevisionAggregates" IsBound="true"
  Parameter Name="bindingParameter" Type="ScenarioPortal.V1.Model.Measure"
  Parameter Name="pivotType" Type="ScenarioPortal.V1.Model.PivotType" Nullable="false"
  ReturnType Type="Collection(ScenarioPortal.V1.Model.MeasureWithRevisionAggregate)"
Function

[2015-09-16 07:46] congysu commented on #512
ODataEntityReferenceLinkDeserializer has the logic.  Need to add a few test cases to verify. https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/src/System.Web.Http.OData/OData/Formatter/Deserialization/ODataEntityReferenceLinkDeserializer.cs#L60-L81

[2015-09-16 08:01] congysu commented on #511
Need to support key-as-segment with case insensitive url: https://github.com/OData/WebApi/issues/105
Issue can be in ODataLib: https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/Metadata/ODataUriResolver.cs#L22

[2015-09-16 08:11] congysu commented on #510
Thanks @jayongg for the feedback. Would you like to send a pull request on this issue?  Add a method, or make the ResolverSetttings public.
https://github.com/OData/WebApi/blob/9cbe805c0d75721d8ea5530fa7c12546c41aa3b9/OData/src/System.Web.OData/OData/Routing/DefaultODataPathHandler.cs#L27

[2015-09-16 08:15] congysu commented on #506
@klac503 the download link seems broken: https://cloud.githubusercontent.com/assets/14183720/9828374/34fddc74-58a1-11e5-8c59-e09a350a2f73.jpg

[2015-09-16 08:18] congysu commented on #498
@MikalJ Would you like to submit a pull request for the change?  Thanks.

[2015-09-16 15:15] klac503 commented on #506
The link works for me. Opens in directly IE 11. For Chrome I have to right-click and select Save link as. Is there another way to upload a zip file?

[2015-09-16 21:40] MaxWilson opened #514 "Support now()"
Per oData v4 spec,

5.1.1.4.21 now
The now function has the following signature:
Edm.DateTimeOffset now()
The now function returns the current point in time (date and time with time zone) as a DateTimeOffset value.

This doesn't seem to be supported in version 5.6 of oData.

_Example:_ http://Example.com/ProductPrices?$count=true&$filter=SKU+eq+%274F3-00015%27+and+FutureEndDate+gt+now()

_Result:_

[2015-09-20 00:05] mj1856 commented on #477
@keithhowie - FYI, it's a common misunderstanding that `timestamptz` in PostgreSQL retains the time zone.  What happens instead is that the time zone offset is used to convert to UTC, then only the UTC time is stored.  The offset is discarded.  On retrieval, it converts back from UTC to the current time zone, which may or may not be the same time zone that it was original stored with.

In other wo

[2015-09-20 00:06] mj1856 commented on #477
So, even if something changed in OData, you'd still be in the same predicament because PostgreSQL has this behavior.

[2015-09-21 10:09] RemcoBlok commented on #512
Hi Congysu. Thanks for your reply. Have you managed to reproduce the issue?
many thanks
Remco

[2015-09-23 07:49] congysu commented on #514
Now() is not supported for now.

[2015-09-23 12:40] JoaoGlose opened #515 "WEB API Unit of Work, Batch SetLink Issue"
Hi all,

I have a Web Service Web API with Odata requests.

I have implemented Unit of Work and Batch handler.

I've been struggling with a batch request that have 1:1 related entities.

This entities are new and don't exist in the DB.

Example:

var work= new work();

var memo= new memo();

ctx.AddTowork(work);
ctx.AddTomemo(memo);
ctx.SetLink(work, nameof(memo), work.memo);
ctx.SaveChanges(SaveC

[2015-09-25 06:32] MikalJ opened #516 "Manually using ODataQueryOptions.Validate and setting SelectExpandQueryOption.LevelsMaxLiteralExpansionDepth"
When manually calling `ODataQueryOptions.Validate(...)`, with `MaxExpansionDepth` set to 1, for a request, with more than one expansion levels, will fail with the wrong exception being thrown (`InvalidExpansionDepthValue` rather than `MaxExpandDepthExceeded`) from line 44 in SelectExpandQueryValidator
[code]
The reason is that `SelectExpandQueryOption.LevelsMaxLiteralExpansionDepth` has not been c

[2015-09-27 16:25] Casimodo72 opened #517 "No nightly packages anymore?"
Hi,
the last nightly package is two months old: v5.7.0-beta-150729-Nightly.
(see https://www.myget.org/gallery/aspnetwebstacknightly)
Why are there no newer nightly packages?

When instead installing the newer v5.7.0 from nuget.org which is dated Friday, August 21 2015, then NuGet insists on installing ODataLib 6.13.0 dated Wednesday, July 22 2015.

This means I'm not able to use the nightly OData

[2015-09-27 17:00] Casimodo72 commented on #517
What I did to circumvent this strange version constraint:

1) Install v5.7.0 from nuget.org. This will also install the old ODataLib release packages.

2) Manually remove the entries for "Microsoft.OData.Client", "Microsoft.OData.Core", "Microsoft.OData.Edm", "Microsoft.Spatial" from packages.config and assembly references.

3) Open package manager console and select your OData nightly packages so

[2015-09-28 07:54] LianwMS commented on #517
Hi Casimodo72,
Sorry for this issue.We have made the fix and the latest nuget package has been uploaded to myget.
A little changes, the naming rule for WebAPI OData nuget package has been modified to align with ODatalib....
Please try to use and give the feedback.

Thanks,
Liang

[2015-09-29 07:28] MikalJ opened #521 "In memory filtering after ODataQueryOptions.ApplyTo()"
I need to perform ekstra in memory filtering of a query, after it has been retrieved from the DB, and before returning it to the client.

Using `ODataQueryOptions.ApplyTo(...)` I can let OData do all it's query magic on the DB. However if $expand or $select has been supplied, the returned IQueryable contains not the entities themselves, but `SelectExpandWrapper<TElement>` objects. Which it is impo

[2015-09-29 10:55] waldrix opened #522 "After update System.Web.OData to version 5.7.0.0 we get an "DbIsOfExpression requires ..." with $expand($select=...) OData query"
After update System.Web.OData to version 5.7.0.0 (from 5.6.0.0) we get a System.ArgumentException "DbIsOfExpression requires an expression argument with a polymorphic result type that is compatible with the type argument." when use expand options selecting only some field ex. $expand($select=...)

Some query that fails:

http://localhost:56961/odata/Domini?$expand=ServerAutenticazione($select=Id)

[2015-09-29 16:55] Casimodo72 commented on #517
Hi @LianwMS,
thank you for working on this issue and giving us as fresh 5.7.0-Nightly150929 :-)

The machinery is still confused somehow.

1) When installing Microsoft.AspNet.OData 5.7.0-Nightly150929, NuGet still wants to uninstall the nightly ODataLib packages and install the non-nightly ODataLib packages:

![odatalib-nightly-00](https://cloud.githubusercontent.com/assets/10551738/10171341/fc69f

[2015-09-30 03:05] lewischeng-ms opened #523 "Make members of ODataSegmentKinds const string"
https://github.com/OData/WebApi/blob/master/OData/src/System.Web.OData/OData/Routing/ODataSegmentKinds.cs

Users cannot use these constants in switch statement now.

[2015-09-30 06:45] congysu commented on #523
Change from static readonly to const?

[2015-09-30 06:52] congysu commented on #522
5.7 advertises concurrency annotation in $metadata.  Check if related.  Add test case with ConcurrencyCheck + Expand with Select + EF in e2e.

[2015-09-30 07:04] congysu commented on #521
SelectExpandWrapper is a dictionary, can you use the interface ISelectExpandWrapper? Would like to submit a pull request?

[2015-09-30 07:31] congysu commented on #516
update _levelsMaxLiteralExpansionDepth's default value to max expansion depth in validation setting:
https://github.com/OData/WebApi/blob/41b457a981b95545970b9ebf5a99bc517e66cff1/OData/src/System.Web.OData/OData/Query/SelectExpandQueryOption.cs#L264

[2015-09-30 07:36] congysu commented on #515
@JoaoGlose Would you like to give it a try with RESTier: https://nuget.org/Packages/Microsoft.Restier .  It supports batch with transaction.

[2015-09-30 08:18] waldrix commented on #522
I've read release notes for 5.7 (http://odata.github.io/WebApi/5.7/) and this issue https://github.com/OData/WebApi/issues/459 but I don't found any related information.

Now i've added a specific test to our e2e test suite to reproduce the problems, simple query like "http://localhost:9876/odata/Persone?$filter=CFPersona%20eq%20%27DCPRCR75B06H501E%27&$expand=Residenze($select=CFPersona,Indirizzo)

[2015-10-03 00:01] ilmax commented on #229
@lewischeng-ms any news on this? I'm a bit worried about the absence of any information/plan about porting OData to vnext.

RESTier can be a turn-key solution, but IIRC is not supported on vnext and since vnext is coming close, developers start poking around with tools and OData doesn't seem to be at the party, nor any plan is shared on OData vnext.

Actually I'm using this approach quite often wh

[2015-10-03 22:34] Casimodo72 commented on #517
Is it OK that the nightly packages try to uninstall the nightly ODataLib packages?

[2015-10-04 10:18] RemcoBlok commented on #515
RESTier currently has an issue to do with Content-ID references in batches as well, see
https://github.com/OData/RESTier/issues/82
This is also not the only issue in WebApi related to Content-ID references in batches, see
https://github.com/OData/WebApi/issues/512
Any update on when we may expect these issues to be resolved?
many thanks
Remco

[2015-10-05 13:37] lewischeng-ms commented on #523
@congysu Yes, directly declare some string const(s) and remove the static readonly fileds.

[2015-10-07 13:23] vojtechvit commented on #121
+1 !!

[2015-10-08 17:52] vanman314 commented on #256
Im on 5.7 and it doesnt work for me.  Even if I add EnsureStableOrdering = false,
 I have added  config.EnableCaseInsensitive(true);  to my webapiconfig.   Why cant OData options find my property PersonName when personName is the JsonContract resolver??? aaargh

[2015-10-09 06:11] karataliu commented on #456
Looks like the following would make it work for GET request, but POST still goes to fallback logic.
[code]

[2015-10-09 09:03] alexschrod commented on #295
I needed similar functionality and wrote a small "interception" class that lets you add `.Where(...)` calls onto expanded navigation properties. It's not the solution I wanted (would be nicer to have this built-in), but it serves me well for now. I posted my code on [Stack Overflow](http://stackoverflow.com/questions/32845222/controlling-what-is-returned-with-an-expand-request).

[2015-10-09 09:04] alexschrod commented on #357
I needed similar functionality and wrote a small "interception" class that lets you add `.Where(...)` calls onto expanded navigation properties. It's not the solution I wanted (would be nicer to have this built-in), but it serves me well for now. I posted my code on [Stack Overflow](http://stackoverflow.com/questions/32845222/controlling-what-is-returned-with-an-expand-request).

[2015-10-13 09:00] congysu opened #525 "Add documentation license"
Such as for, design docs, user guides, tutorials.

[2015-10-13 19:14] EvanMachusak opened #528 "[vNext] Support for beta8"
Is it forthcoming?  I'm forking it to get going with OData.  Biggest issue with beta8 compatibility appears to be the beta8 rename of the Microsoft.Framework to Microsoft.Extensions namespaces.

[2015-10-14 02:44] lewischeng-ms commented on #528
PR #527

[2015-10-14 03:37] xuzhg commented on #499
@korygin Please re-open it if you find any problem. Thanks your feedback.

[2015-10-14 03:37] #499 closed

[2015-10-14 03:39] xuzhg commented on #54
Resolved it as won't fix. Thanks.

[2015-10-14 03:39] #54 closed

[2015-10-14 03:40] xuzhg commented on #49
Resolved it as won't fix. Thanks.

[2015-10-14 03:40] #49 closed

[2015-10-14 18:20] s-granet commented on #400
I agree, this would be really useful. It seems kind of weird that I can't pull the top x records from an expanded record set.

[2015-10-16 05:50] VikingsFan commented on #528
Merged ec2047a

[2015-10-16 05:50] #528 closed

[2015-10-16 07:41] VikingsFan commented on #505
reason is

    context.HttpContext.Response's status code is always 200, even if controller return NotFound

at \src\Microsoft.AspNet.OData\EnableQueryAttribute.cs
consider change:

    if (!response.IsSuccessStatusCode())
    {
        return;
    }

to

    if (!response.IsSuccessStatusCode() || (context.Result as HttpStatusCodeResult != null))
    {
        return;
    }

[2015-10-19 16:51] vladbilyk commented on #490
Could you please suggest workaround? Should I use [Required] annotation for the collections?

[2015-10-20 03:31] xuzhg commented on #522
Fixed. Thanks.

[2015-10-20 03:31] #522 closed

[2015-10-20 12:37] EvanMachusak opened #531 "[vNext] Support for $count"
... is missing.

I've implemented it in my fork and am testing it.  $count is interesting in that it DOES apply $filter, but explicitly ignores $top and $skip.  This makes sense, as returning a $count is generally used to establish paging.

Pull request will be forthcoming.

[2015-10-20 14:10] klac503 commented on #506
Looks like this issue may be resolved with #522

[2015-10-20 17:30] EvanMachusak opened #533 "[vNext] UseOData<T> usage is unclear"
From what I have gathered from the samples, my own testing, and stepping through the source code, the only way to activate vNext OData is to:

* Define a class with a series of public properties - what they return is somewhat immaterial, but this class cannot be abstract or else an exception is thrown.
* Reflection is then used to find these public properties from which EDMs are built
* If anythin

[2015-10-20 23:04] tan00001 commented on #229
@PinpointTownes:
Microsoft just ditched WCF Data Service in favor of this more "open" WebAPI OData approach, and now you think this is "really really bad"?
We can deal with an approach that is more "chaotic", as long as it delivers on its promise of being more flexible. But now with its implementers doing a tug of war towards the abandoned WCF Data Service, we are not getting any benefits for taki

[2015-10-21 14:27] eloekset commented on #491
I'm also confused about this, but here's a blog post from one of the members of the ASP.NET team that may clear things up a bit: http://blogs.msdn.com/b/webdev/archive/2014/03/13/getting-started-with-asp-net-web-api-2-2-for-odata-v4-0.aspx

Read the section below **Important changes in this version**.

[2015-10-21 14:33] pascalberger commented on #491
Thanks. The naming/namespacing, which is also confiusing, is one thing, but I really don't get what the version numbers try to explain, and if or how they are related between OData versions.

[2015-10-22 03:09] luoyan0517 commented on #516
Committed as 618efe7 and 3a3ef57

[2015-10-22 03:10] #516 closed

[2015-10-23 11:13] esditm opened #536 "A way around MultipleActiveResultSets (MARS)"
I'm using a MySql db. MySql doesn't support MARS :(

I need to execute a fairly complex query on my OData endpoint which relies on MARS. At least it throws this exception:

So I was wondering if there was a way to turn MARS off in OData. If not then it's a feature request :)

[2015-10-24 13:26] encounter12 opened #537 "The type 'FromBodyAttribute' exists in both Microsoft.AspNet.Mvc.Core and Microsoft.AspNet.Mvc.ModelBinding (Error CS0433)"
#### Short Description:
After adding Microsoft.AspNet.OData package (<a href="https://www.myget.org/gallery/odatavnext" target="_blank">https://www.myget.org/gallery/odatavnext</a>, currently: 6.0.0-alpha1) to project an error message appears on Build.

#### Full Error Details:
D:\TestSystem\server\TestSystem.WebAPI\Controllers\TestsController.cs(38,27): DNXCore,Version=v5.0 error CS0433: The type

[2015-10-24 21:50] lelong37 commented on #229
@tan00001 totally disagree, anyhow, this thread is to move OData forward, not to downplay the folks that are hard at work for vNext. OData v4 is great, and overall OData is the greatest thing thats ever happen to REST from a query perspective. Hat's off to the team, and I have complete faith in the direction of where the this team and the community takes vNext.

[2015-10-24 22:26] weitzhandler commented on #229
@tan00001 I completely agree with @lelong37.

[2015-10-26 11:02] ghost opened #538 "AddEnumType only adds values not names"
Given this enum
[code]
And this model builder
[code]
The following isn't valid
[code]
However this is
[code]
In order to make queries by name work I have to do
[code]
Perhaps it's a deliberate design decision. But I was expecting the names to work "out of the box" when using `AddEnumType`. Can that be done?

[2015-10-26 21:11] ImGonaRot opened #540 "Properties of type Entity not returning when calling Action / Post"
Let's say there is a class called "Person" and there is another class called "Address".
Both of these are Entity Framework Entities (or even LINQ to SQL Entities).
Person has a Property called Address. It does not have to be a navigation property.
If I call the default GET on the Person controller and set the Address right before the return then I will notice that the JSON has the "Address" sent b

[2015-10-27 02:44] lewischeng-ms commented on #531
Related PR: #532

[2015-10-27 02:44] #531 closed

[2015-10-28 08:10] congysu commented on #538
@esditm Can you use ODataConventionModelBuilder?

[2015-10-28 08:28] esditm commented on #538
I have plans to switch to ODataConventionModelBuilder. But can't use it as this time :(

[2015-10-28 12:33] VikingsFan commented on #536
@esditm Did you check [this](http://stackoverflow.com/questions/20693216/there-is-already-an-open-datareader-associated-with-this-connection-which-must-b) out?

This problem is that there are multiple data retrieval commands executed on single connection (or single command with multiple selects) while next DataReader is executed before first one has completed the reading, OData didn't handle these

[2015-10-28 15:45] AviaW commented on #154
Hello,
I'm developing an OData service and still have this problem with version 5.7 of OData Lib.
In the OpenEntityTypeTest.cs above the response to the Post request is HTTP 200 OK and doesn't contain a Location header.
In the OData specification
(http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398326)
it sa

[2015-10-28 23:32] wkit23 opened #543 "EditLink is wrong in 5.7"
In order to obtain the URL of a referred entity, referred to by a navigation property we use the full metadata like e.g.

[code]

which will return the following result in 5.6

[code]

However when we upgraded to 5.7, the returned result became

[code]

which apparently is wrong.

I suspect this is caused by [https://github.com/OData/WebApi/pull/372]. Any idea? We mainly use this link to patch the

[2015-10-29 01:52] VikingsFan commented on #537
@encounter12 our project in myget is not updated for a long time, that version is for beta4, the newest version you can see in [here](https://github.com/OData/WebApi/tree/master/vNext), it's for newest version beta8, we didn't have plan to upload to myget recently, you can try that one with private build, any pull request is very welcome :)

[2015-10-29 08:47] AviaW commented on #154
Hi,
I did the following change to the code in order to workaround the problem. It works for me:

private static IEdmEntityTypeReference GetEntityType(IEdmModel model, object entity)
        {
            Type entityType = entity.GetType();
            **IEdmTypeReference edmType = null;
            if (entity is EdmEntityObject)
                edmType = ((EdmEntityObject)entity).GetEdmType();

[2015-10-30 01:38] xuzhg commented on #427
Fixed. Thanks.

[2015-10-30 01:38] #427 closed

[2015-10-30 02:44] xuzhg commented on #482
Fixed. Thanks.

[2015-10-30 02:44] #482 closed

[2015-11-01 21:11] encounter12 commented on #537
@VikingsFan I have cloned the OData WebApi vNext repository and tried to update its dependencies to the <a href="https://www.myget.org/gallery/aspnetvnext" target="_blank">latest nightly builds</a>, but there are many recent changes in AspNet vNext that break the OData code and I am not able to fix it for now. That is why, I will try to find a workaround. Thank you again very much for your reply a

[2015-11-01 21:11] #537 closed

[2015-11-02 01:20] VikingsFan commented on #543
@ificator I've found that your PR #372 is for navigation prop, not only for contained navigation prop, so it's a breaking change for `id` and `editlink`, I'm going to fix this bug but I'm not sure it will break your service or not because you just add one test case. Can your tell me your scenario or provide a fix?

[2015-11-03 19:00] chinese007 opened #544 "BoundActionPathSegment./BoundFunctionPathSegment.GetNavigationSource() returns null if the underlying EdmModel is constructed using CSDL."
We constructed EdmModel by following instructions from the wiki (http://blogs.msdn.com/b/odatateam/archive/2014/06/30/refer-other-models-when-constructing-edm-model.aspx). However, when trying to make any entityset/entity bound function/action requests to our OData service, there are some exceptions thrown during serialization.

Errors are like:

An error occurred while trying to send all bufferre

[2015-11-04 02:35] LianwMS commented on #544
So your model is constructed by refer another CSDLModel? Could you provide the model and some code details?

[2015-11-04 05:23] xuzhg commented on #540
@ImGonaRot

I can't understand that you create a custom Action Function and call the POST on  the controller.

Would you please share us your codes? about the models, edm model builder, controller, etc. That would be very help for us to dig the problem. Thanks a lot.

[2015-11-04 06:58] xuzhg opened #545 "support key-as-segment with case insensitive url"
see: https://github.com/OData/WebApi/issues/511

[2015-11-04 06:59] #545 closed

[2015-11-04 07:15] congysu commented on #475
Can we use the ConvertFromUriLiteral with reference to model:
[code]
https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/Query/ODataUriUtils.cs#L49

[code]
https://github.com/OData/WebApi/blob/f4573605bd88dabe882c4dc45e4a4ed0e55b32e0/OData/src/System.Web.OData/OData/Formatter/DefaultODataETagHandler.cs#L83

[2015-11-04 14:15] LianwMS commented on #544
@chinese007 Here is an example about model reference in webapi: https://github.com/OData/ODataSamples/tree/master/WebApi/v4/ODataModelReferenceSample

[2015-11-05 02:02] VikingsFan commented on #484
@gordon-matt This is working in 5.7, please check PR #546, I add a test case to test $count work for functions returning collections of complex types.

[2015-11-05 15:27] cwoodruff opened #548 "OData Query needs to error out based on ADO CommandTimeout Property"
We have a solution that is having issues when our OData queries are not adhering to the ADO CommandTimeout Property (which is the default 30 value). Is there a workaround or is this a really defect?

[2015-11-05 18:46] thebothead commented on #70
+1

[2015-11-05 23:09] GunterGlad commented on #533
I have similar issues. I am currently using clr: 1.0.0-rc-16048. I see the current build was done on beta4 (I may be wrong). Is there any plans to get this upgraded. So please if you can fix this issue it would be greatly appreciated.

[2015-11-08 23:00] gordon-matt commented on #484
It's working beautifully! Thanks!

[2015-11-08 23:00] #484 closed

[2015-11-09 05:02] taspeotis commented on #128
I have an entity with an `IEnumerable<byte>` full of binary data. It's not a collection in the navigation property sense, it's either `null` or `byte[16]`. I don't know why a `null` value here is a programming error, that's the value that Entity Framework puts there.

[2015-11-09 07:20] VikingsFan commented on #511
@jayongg Hi, you say : "However, this works with the (properly cased) path: me/notes/notebooks/12345"

How do you turn on key as segment in WebApi?

I add test case in ODL's [PathTest](https://github.com/OData/odata.net/blob/master/test/FunctionalTests/Tests/DataOData/Tests/OData.Scenario.Tests/UriParser/Path/PathTests.cs), the exception you mentioned was occurred when key as segment    was not en