[2019-04-25 18:00] victorlazaro commented on #1663
I'm also facing the same issue, which is blocking development. Are there any updates?

[2019-04-25 18:34] DaleyKD commented on #1282
This is now an issue when trying to use https://github.com/OData/WebApi/issues/31 for MVC. How are we to get the Model from an MVC Request?

[2019-04-25 18:38] xuzhg commented on #1282
@DaleyKD What do you mean? `Request.GetModel()` can not work for you?

[2019-04-25 18:53] DaleyKD commented on #1282
@xuzhg  - I can't find that Extension Method off of System.Web.HttpRequestBase, System.Web.Routing.RequestContext, or System.Web.HttpContextBase.

I'm trying to get the route to an OData Controller in a Razor cshtml page.

This is an MVC (NOT Core) 5.2.7 web app with Web API 5.2.2 and Microsoft.AspNet.OData 7.1.0.

[2019-04-26 15:29] DaleyKD opened #1798 "Localization of Enums?"
Given an enum like:

`public enum LogLevel
{
    [Display(Name = "Crazy Train Trace")]
    Trace = 0,

    [Display(Name = "Who Has Info?")]
    Info = 100,

    [Display(Name = "Lo and Behold: A Warning!")]
    Warning = 200,

    [Display(Name = "Exception")]
    Exception = 300,

    [Display(Name = "Uh oh, Jack...")]
    CriticalException = 400
}`

Is there ANY way that OData will/can localize

[2019-04-26 19:20] chuanboz commented on #953
We run into same issue and would like to see this being addressed.

[2019-04-26 20:22] xuzhg commented on #1796
@pochih Please check the example at: https://github.com/xuzhg/WebApiSample/tree/master/AspNetCore/OrderbyTest

[2019-04-26 20:22] xuzhg commented on #1796
@jeary49252000 it seems it's not supported now about the type-case in orderby.

[2019-04-27 01:15] jeary49252000 commented on #1796
@xuzhg That's strange because we do see it work for this case
https://www.sample.com/get?$expand=collections($orderby=Model.Type/value),

Besides, for this case https://www.sample.com/get?$orderby=Model.WrongType/value,
it will say that it can not cast to it if the casting type is wrong.

[2019-04-29 06:08] pochih commented on #1796
@xuzhg, these examples don't match my need.
"$orderby in $expand" means to sort inside the child.

What I want is "to use the value of child to sort in parent level".
This can be done if child is not a collection (or an array, a list). Since I can use Key3.KeyA as the sorting key, but I cannot use Key2[0] as the sorting key.

{
  "@odata.context": XXX,
  "value": [
    {
      "Key1": 123,
      "

[2019-04-30 15:04] christophedemey commented on #1705
Thanks , fixed it also for me.

[2019-04-30 20:00] JafarAmiri commented on #1721
Hi xuzhg,
Thank you for your reply.
I have implemented a custom ODataResourceSerializer and the problem has been solved.

[2019-04-30 20:00] #1721 closed

[2019-04-30 21:03] JafarAmiri opened #1800 "$top query option does not work properly on DTO based controller in .NET Core"
I'm migrating my application to .Net Core. I have some DTO based OData controllers that worked correctly on previous version of .Net. But in .Net Core the performance of these controllers are not good. I tried to find the cause of the problem and I realized that there is no "top" statement in queries sent to SQL server. It seems that when we have a OData controller on an entity, every thing is OK,

[2019-05-01 07:14] keatkeat87 commented on #1544
same problem here.. any update ?

[2019-05-01 11:02] keatkeat87 commented on #1744
for your information
if use conventional routing instead of creating Function GetProducts, it work fine.

[2019-05-01 20:04] kosinsky commented on #1800
You need to decorate Get() method with [EnableQuery] attribute. For example
https://github.com/OData/WebApi/blob/3b1ecc572088ff1c1abc5147b29191cfe3afbe58/samples/AspNetCoreODataSample.Web/Controllers/MoviesController.cs#L80

[2019-05-01 20:11] KanishManuja-MS commented on #1798
@DaleyKD This is not supported currently. We are open for contribution if you can generalize the solution that you end up having.

[2019-05-01 22:49] madansr7 commented on #1748
@JohnGalt1717, sorry for the delayed response. The team has this on the board now and we are investigating updates that need to be made.

[2019-05-02 08:00] JafarAmiri commented on #1800
Hi @kosinsky,
My Get method has [EnableQuery] attribute in real project and current issue comment does not contain entire implementation of my controller. But the issue is that the EF Core does not understand the expression generated by OData properly and executes a part of query on database side and loads related data to application and executes the rest of query on application side. So, this iss

[2019-05-02 15:58] bhagyesh20 opened #1801 "$count=true and $select not working on IQueryable"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

*What would happen if there wasn't a bug.*

### Actual result

*What is actuall

[2019-05-02 16:53] hlymca84 commented on #984
Hi, I am getting same error here i have specified as all steps mention. All working fine if i am executing from fiddler but when running from code with oData Client Code Generator it's giving error. here following is my setting.

ODataModelBuilder builder = new ODataConventionModelBuilder();

            builder.EntitySet<CustomerLookup>("Customers");
            builder.EntitySet<CustomerReachesV

[2019-05-02 19:00] bdebaere commented on #1264
[code]

[2019-05-02 19:00] #1264 closed

[2019-05-02 22:04] Kevat commented on #784
We are seeing a similar issue when using OData with Entity Framework Core 2.2. It even weirder that we only run into this issue when we specify a "select" for a given expand. Expanding 4 other tables does not cause an error. However, selecting a specific column for each of those expands somehow causes an overflow. Is that the same or similar to the issue you are facing @kevinayers?

[2019-05-02 22:53] kosinsky commented on #1800
Looks like an edge case for EF Core. AFAIK, WebAPI will execute two queries to implement '$count=true&$top=10' one to do $count and one to do $top.

Could you check what queries are executed when you do just `$top=10`?

EF Core could do "client side evaluation". Could you add into EF Context OnConfiguring() method following code:
`optionsBuilder.ConfigureWarnings(error =>  error.Throw(RelationalEv

[2019-05-03 00:52] kevinayers commented on #784
Yes, seems very similar.  Short term, we found turning change tracking off on entity framework prevents the issue - if you don't need to worry about updates

[2019-05-04 14:43] JafarAmiri commented on #1800
There is no difference between queries are executed with $count and without it. I added your code into EF Context OnConfiguring() method and this is detailed exception:

InvalidOperationException: Error generated for warning 'Microsoft.EntityFrameworkCore.Query.QueryClientEvaluationWarning: The LINQ expression 'orderby new ProductDto() {Id = [e].Id, Name = [e].Name, CategoryName = [e.Category].Nam

[2019-05-05 15:36] rahul7720 commented on #1045
It has been a long time. Any updates on this issue?

[2019-05-06 09:24] jeary49252000 commented on #1796
@xuzhg we use Microsoft.AspNet.OData 5.10.0

[2019-05-06 17:28] kosinsky commented on #1800
$top=10 requires Stable sorting to get the same 10 elements (no matter how DB decides to execute the query). You could try to  disable stable sorting with:
[EnableQuery(EnsureStableOrdering = false)]

[2019-05-07 11:34] saberone opened #1808 "Full Application Crash when using groupBy on field of type int"
When I try to perform a groupBy on a field that's of the type "int", the application crashes.

The following exception is thrown:
`System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt. `

on this line of code : https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/Expressions/DynamicType

[2019-05-07 22:36] DJackman123 opened #1802 "ODataEnumDeserializer.ReadInline fails with InvalidCastException when edmType comes from CsdlParser"
Our OData service uses a model that's generated from the CsdlParser parsing an EDMX string.  Because of this, when ODataEnumDeserializer.ReadInline is called for an enum type, an InvalidCastException is thrown when it tries to cast the edmType parameter to an IEdmEnumTypeReference.

### Assemblies affected

Microsoft.AspNetCore.OData/Microsoft.AspNet.OData v7.1.0

### Reproduce steps

Create a sim

[2019-05-08 09:31] BlasVilla commented on #1748
+1

[2019-05-09 07:29] CLFPosthumus commented on #1748
+ 1

[2019-05-09 08:25] henning-krause opened #1804 "Routing conventions are missing info for contained entities"
The [Routing conventions](http://odata.github.io/WebApi/#03-02-built-in-routing-conventions) seem to lack the required info for contained entities.

Given this entity:
[code]
and this controller:

[code]

Are there coventions for all actions? I have trouble finding the conventions for "DELETE".

In the controller above `PostToGroups` works just fine. But `DeleteFromGroups` only works when I apply

[2019-05-09 20:08] KanishManuja-MS opened #1805 "Improve query option and query option validator design"
The design of the query option classes is not good. They have the following issues -
1. Lack of inheritance. While most of the query options share the same properties, methods, and patterns, there is no base class which leads to duplication of code.
2.  Validator, which is a public property on all the query options have an exposed public setter.
3.  Dependency injection support for validators crea

[2019-05-10 10:23] aviezzi commented on #1748
+1

[2019-05-10 10:24] ycrespo commented on #1748
+1

[2019-05-10 15:37] cesfnc commented on #1748
+1

[2019-05-10 15:44] artemedea commented on #1748
+1

[2019-05-10 16:14] ace90210 commented on #1748
@LisaTehChatBot it's called feedback, you know the point in releasing a preview

[2019-05-10 17:30] PrisonerZERO opened #1806 "ODataActionParameters always empty when Posting an UNBOUND Complex Object"
When I post a `ShakeoutDocument` without the collections populated, the `OData Serializer` understands the `JSON` & populates the `ODataActionParameters` correctly.

However, when I add a child-record into either of the `ShakeoutDocument's` collection properties...the `Odata Controller's` `ODataActionParameters` parameter is null.  I have narrowed it down to the `OData EDM Model Configuration`.

[2019-05-10 20:38] robertmclaws commented on #1748
Let's keep this on topic please, folks. No need to be rude to each other.

[2019-05-10 20:48] Hantse commented on #1748
Idk if that can help,

But i have similar issue in versionning and find the problems
https://github.com/microsoft/aspnet-api-versioning/issues/499

The class ActionConstraintCache is now internal on last version of .NetCore 3.0

[2019-05-10 20:50] xuzhg commented on #1748
The problem is from the usage of `ActionConstraintCache` class in `ODataActionSelector`.
in .NET Core 3.0.0, the `ActionConstraintCache` class is not presented.

If I remove the
`
public ODataActionSelector(
            IActionDescriptorCollectionProvider actionDescriptorCollectionProvider,
            ActionConstraintCache actionConstraintProviders,
            ILoggerFactory loggerFactory)`

It

[2019-05-12 07:02] JafarAmiri commented on #1800
I Added EnsureStableOrdering = false to EnableQuery attribute and the issue has been fixed. but when I tries to call the following query with $filter:

/odata/ProductDto?$filter=Id eq 5&$count=true&$top=10

I get new error:
_An unhandled exception occurred while processing the request.
InvalidOperationException: Error generated for warning 'Microsoft.EntityFrameworkCore.Query.QueryClientEvaluation

[2019-05-13 07:14] zp978 commented on #1792
I am using Database first approach, so have created Geography Type Columns in my Database for Storing a Polygon as well as Point and then run the Scafold command now my models have

        public IGeometry CityBoundary { get; set; }
        public IGeometry Location{ get; set; }

As you see its IGeometry for both Polygon and Location Point in the properties and DB has column type Geography.

Is m

[2019-05-13 18:49] k-vekos opened #1807 "$expand + $filter throwing System.NotSupportedException"
OData API request like `/odata/Locations?$expand=DeviceEntitySet($filter=DeviceId eq '9999')` throws `System.NotSupportedException` exception:

### Assemblies affected

Microsoft.AspNet.OData (v7.01.0.21120), System.Data.Linq.dll (v4.07.3056.0)

### Reproduce steps

1. Unzip [NotSupportedExample.zip](https://github.com/OData/WebApi/files/3174338/NotSupportedExample.zip) and run it in Debug mode.
2

[2019-05-14 00:19] commonsensesoftware commented on #1754
After my own investigation on the API Versioning side of things, the issue described is a result of the feature not being copied. This issue isn't specific to API versioning. This could happen to any middleware that registers _features_. In this case, the features are not copied over to the batch request. In fairness, there isn't a simple way to do this since each feature is request-specific and n

[2019-05-15 13:35] rasmusolofssons commented on #1748
I have no idea what is going on but what solved it for me was to remove ApiVersioning from my project.

So in startup.cs i removed:
`  //services.AddApiVersioning(o =>
            //{
            //    o.AssumeDefaultVersionWhenUnspecified = true;
            //    o.DefaultApiVersion = new ApiVersion(1, 0);
            //});`

And removed the ApiVersion attribute from controllers.

I am using Web

[2019-05-15 20:15] madansr7 commented on #1808
@kosinsky , can you please help?

[2019-05-15 20:42] madansr7 commented on #1804
@henning-krause , thanks for bringing this to our attention. this scenario is not part of the routing conventions today so you can either use the ODataRoute attribute or extend NavigationRoutingConventions. Hope this helps.!

[2019-05-15 22:03] kosinsky commented on #1808
Fix and explanation are in PR https://github.com/OData/WebApi/pull/1728

[2019-05-16 14:03] mburbea opened #1809 "aspnet core Queries still try to run on error results."
If a route throws an error, and the user tries to query it, you will lose the error and get an error about how the query is invalid.

### Assemblies affected
using:
"Microsoft.AspNetCore.OData" Version="7.1.0"
"Microsoft.OData.Core" Version="7.5.4"
"Microsoft.AspnetCore.App" Version=2.24"
### Reproduce steps
Create a controller like so:
[code]
Now hit it with your web browser
`/Always400/?$top=1`

[2019-05-16 14:22] andyward commented on #1780
Did you get a chance to look at this @xuzhg ?

[2019-05-16 14:35] kosinsky commented on #1801
I think you looking for `all/$count` to get just count
For example: https://analytics.dev.azure.com/analytics-demo/PartsUnlimited/_odata/v3.0-preview/Areas/$count returns just number

all?$count=true returns count with collection as annotation @odata.count
http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#_Toc505771213

For example:
https://analy

[2019-05-16 16:08] mburbea commented on #1809
Investigating the error seems to be here
 https://github.com/OData/WebApi/blob/3b1ecc572088ff1c1abc5147b29191cfe3afbe58/src/Microsoft.AspNetCore.OData/EnableQueryAttribute.cs#L75-L76

Basically, `BadRequestObjectResult` and other `ObjectResult` errors do not inherit from `StatusCodeResult`.
The solution would be to use `IStatusCodeActionResult` like so::
[code]

[2019-05-16 22:21] cecilphillip commented on #1750
@xuzhg I think this is really important and seems like a simple fix

[2019-05-17 22:59] cecilphillip commented on #1177
@commonsensesoftware just curious. Wouldn't it be acceptable if the Raw ODataInputFormatter supported tex/plain as a media type?

[2019-05-19 08:18] alberk8 commented on #1748
I prefer that both endpoint-based routing and router-based routing be supported going forward as not to break legacy dotnet core apps.

[2019-05-19 19:51] NetTecture opened #1810 "NET 3.0 and Roadmap?"
This project is getting awfully dead by now. At the same time, between problems with Ef Core 2.2 (that just has ridiculous amount of errors around executing complex sql, like... count) and .NET 3 and the given total incompatibility that seems to make it totally unable to run Odata Webapi on .NET 3.0 - what is the roadmap?

I understand that you have a policy of showing little progress and never co

[2019-05-19 20:03] NetTecture commented on #1748
At this point I do not care about legacy because the only way to use Odata sensibly in terms of efficient (ror better: correct) sql generation is moving to either efcore 3.0 or entity framework (in net 3.0 preview), given taht theere are a TON of scenarios in which efcore 2.2 is throwing out grossly defective SQL.

Is there any roadmap to actually give us poor abused end users a chance to PLAN thi

[2019-05-20 00:30] robertmclaws commented on #1748
**I'm not a Microsoft employee**, just a community contributor with a little experience working with the OData team. So I'm gonna jump in here and see if I can provide some observations... but in order for that to happen, we need to have some real talk.

**TL;DR:** [WebAPI OData is currently supported on .NET Core 2.2](https://devblogs.microsoft.com/odata/asp-net-core-odata-now-available/). If you

[2019-05-20 02:28] robertmclaws commented on #1810
This post comes across as extremely rude. If that was the intention, fine... but there is nothing to be gained here with your wrongheaded and incorrect assertions. The EF query problem is NOT OData's fault,  I understand this might be an emotional issue for you, but you should step back and re-evaluate your architectural decisions. You keep trying to push forward... but there are more stable .NET

[2019-05-20 18:48] xuzhg commented on #1802
Merged at: https://github.com/OData/WebApi/commit/2cbf4e3cf48af96b41ec856d62df38d3eb475e70

[2019-05-20 18:48] #1802 closed

[2019-05-20 19:32] yadavvineet commented on #1463
this is a serious issue. please approve the PR or provide your own fix, but do something.

[2019-05-20 21:15] bschuth opened #1811 "$apply(groupby) failing on simple SQL Server example with comparison exception"
** This is for AspNetCore.OData.**

I am attempting to use `$apply=groupby((colname))` to obtain the unique values for a single column. This works correctly against a simple in-memory list. However, when running against the simplest possible SQL example (I am using SQL Server 2014), I get

Full stack trace is very long, appended at end.

### Assemblies affected

I was running against Microsoft.Asp

[2019-05-22 07:10] kuacci opened #1812 "When would you support $compute and $search?"
Is there any plan for $compute and $search in OData v4.01?

Thanks,

[2019-05-22 14:12] jhgbrt commented on #1707
Any updates on this?

[2019-05-22 17:27] kosinsky commented on #1811
In your sample you using Linq to SQL (even you csproj includes Microsoft.EntityFrameworkCore.SqlServer nuget reference). Is it intentional or you meant to use EF Core? If you goal is to use EF Core you mean to use DbContext instead DataContext

Unfortunately, WebAPI doesn't work well with Linq to SQL (another issue https://github.com/OData/WebApi/issues/1807)
In PR https://github.com/OData/WebApi/

[2019-05-22 17:31] kosinsky commented on #1812
ODL part needed for `$compute` is already done (https://github.com/OData/odata.net/pull/1425) and should go out with 7.6. I'm working on implementation of `$apply=compute(..)` first, however don't have ETA yet. I'll reference PR in that issue as soon as it will be ready.

[2019-05-22 17:52] alexandrevribeiro commented on #964
I was running into a similar problem, where I have an entity with many properties which are a reference to other entities (not exposed as resources), but for all of them what I wanted to expose is just a "simplified object" with `Id` and `Description`, like that:
[code]

**Thus**, since I wanted those properties to be interpreted as *Complex Objects* instead of *Navigation Properties* (which is au

[2019-05-22 17:57] alexandrevribeiro commented on #945
Hi @awaitJosh,

For what it's worth, if in your case it's acceptable having a nested object as *Complex Object* instead of *Navigation Property* check out [this answer](https://github.com/OData/WebApi/issues/964#issuecomment-494902891).

[2019-05-22 19:02] rdhainaut commented on #1784
@xuzhg There is something new after the investigating ?

[2019-05-22 19:22] bschuth commented on #1811
No, this sample reproduces an issue we found against a Linq-to-SQL code base. Turns out #1807 was submitted by my colleague across the hall to me working against the same code base.

I will look at the PR you reference to see if I can understand what is going on. Are WebApi's problems with LINQ to SQL something that can be fixed, or are we out of luck? Thank you!

[2019-05-22 20:50] kosinsky commented on #1811
I'm no sure that it will be easy fix to implement LINQ to SQL support.

To support $select/$expand/$apply we need generate IQueryable with arbitrary projection. It's achived by generation something like (very schematically)
[code]
Wrapper has Dictionary<string, object> property that used to reading that projection in generic way. Per my understanding LINQ to SQL looks at all public properties and

[2019-05-22 23:41] hikum opened #1813 "OData produces nextLink when deltaLink is set"
When I set odata.deltaLink in the first request, where nextLink or deltaLink are not provided in the request, the resulting output is not correct. It looks like:
"**@odata.nextLink**": "requestUrl?$deltatoken=deltaToken"

The link should actually look like:
"**@odata.deltaLink**": "requestUrl?$deltatoken=deltaToken"

### Reproduce steps

1. Query the delta sync API without specifying deltaToken or

[2019-05-23 01:37] kuacci commented on #1812
Cool. Thank you.

[2019-05-23 01:37] #1812 closed

[2019-05-28 20:43] JoshZA commented on #1675
👍 struggling with the same issue

[2019-05-28 20:50] JoshZA commented on #356
👍

[2019-05-29 10:04] phatcher opened #1814 "Can we have CreateODataResult<T>.Entity back please"
For the WebApi version CreateODataResult<T> had an Entity property which then allowed us to write integration tests for the controllers which proved the data had been passed through custom business logic,

For the .NET Core version, the Entity property has been removed and the result store in a private field _innerResult, so we have to resort to reflection to get this.

We are already coupled to T

[2019-05-29 11:52] phatcher commented on #1740
Can I also suggest including SourceLink support

[2019-05-29 15:43] pluraltouch commented on #1748
Thx, but with all my respect, the most polite I can say, you are not helping, (despite of the size of your answer). You touch many out of topic areas like the economical reasons, architecture lecture etc, but again we are seeking for a workaround/solution.

Regarding current implementation of OData is way behind AspNetCore 3... well we've  all been mislead by its package and assembly name "Microso

[2019-05-29 16:30] JohnGalt1717 opened #1815 "Lightweight version"
Currently there doesn't appear to be a way to just get $filter, $select, $top, $take, $count. It's all or nothing and you get all of the EDM. I would like to see a stripped down version of this for .NET Core 3.0 that has the commands broken out so that they alone can be applied with nothing else to any webapi endpoint that has the right attribute (and a way to have it apply to all endpoints that r

[2019-05-29 17:53] KanishManuja-MS commented on #1815
@JohnGalt1717 I am not sure if I understood your question. You can enable a subset of the query options. For instance, if you only want to support $filter, you can without enabling $select.

[2019-05-29 20:21] KanishManuja-MS commented on #1814
@phatcher Thanks for pointing out. We can consider making the getter public.

[2019-05-29 20:25] KanishManuja-MS commented on #1813
@hikum Can you please share with us the code that you are using to set the Delta link? We do not support delta queries as of now.

[2019-05-29 20:40] hikum commented on #1813
@KanishManuja-MS - I am using the following code to set the delta link:

string queryString = request.QueryString.ToString();
NameValueCollection nameValues = HttpUtility.ParseQueryString(queryString);

nameValues.Remove("$skipToken");
nameValues.Set("$deltatoken", continuationToken);

string pathString = request.Path.ToString();
Uri nextPageLink = new Uri(pathString + "?" + nameValues.ToString(),

[2019-05-29 22:40] robertmclaws commented on #1748
@pluraltouch How are you misled by the package?

![image](https://user-images.githubusercontent.com/1657085/58588716-42a92a80-822e-11e9-9554-abe11c8208d6.png)

It seems pretty clear to me. "ASP.NET Core 2.0". **Not 3.0.** There's no preview tag, it's not versioned the same as the rest of .NET Core 3.0... I would understand if it had a version 3.0.0-preview5-346731" or whatever, but it doesn't. Mis

[2019-05-30 08:52] phatcher commented on #1814
@KanishManuja-MS You need to do the same for UpdatedODataResult, here's the code I'm using in the meantime in case it's useful to someone else...

[code]

[2019-05-30 10:37] alberk8 opened #1816 "OData is skipping User Defined Data Type"
The AddressType class is skipped in the OData Output.   I am not sure if it is a bug or something that is not supported.

### Assemblies affected

Microsoft.AspNetCore.OData V.7.1.0

### Reproduce steps

[code]
### Expected result

{"@odata.context":"http://192.168.18.22/v2/odata/$metadata#Patient",
"value":[{"PersonId":"123","Name": "Smith","Gender":null,
"Address": {"AddressType":{"Type" : "Home

[2019-05-30 13:02] JohnGalt1717 commented on #1815
It's a feature request.

I want Odata to work without any EDM functionality as a separate library that does nothing but $filter, $select, $top, $take, $count etc.  I don't want to expose my EDM, I don't want any of the other overhead of Odata, I just want the library that acts upon IQueryable WebApi responses, which is what the vast majority of people adding this library are actually doing.

The r

[2019-05-30 21:40] bastienlemaitre commented on #1748
I agree, but with the implementation of integrated identification it is difficult to stay on netcore 2.0 .. Odata should pass as standard on future releases, and be integrated as is WEBAPI .. Despite everything, I  agree with you, it's written in black and white, it's incompatible at the moment :/

[2019-05-31 10:47] kvskranthikumar opened #1817 "Change the Urls of OData V4 when running behind reverse proxy"
With DotNet Core WebAPI I would like to change the OData URLs in the output. API is running behind a reverse proxy and I want all the URLs in the OData output to be relative to the gateway.

Current Output from API -

[code]
Change the url - "http://localhost:7004/Users/api/v1/odata" to "http://localhost:7000/Users"
I have already gone through this link - https://issues.oasis-open.org/browse/ODATA

[2019-05-31 10:52] kvskranthikumar commented on #869
Any updates on this, I am too looking for a fix.

[2019-06-03 08:21] ramil-mux opened #1818 "Use $count without IEdmModel with EnableDependencyInjection"
Hello!
I would like to know if I can use the $count method without creating an IEdmModel using only EnableDependencyInjection in Startup class ASP.NET Core web application and [EnableQuery] in Controller?
Using only EnableDependencyInjection and [EnableQuery] method $count=true don't work - returns only the list of records of the current object.
If I use IEdmModel and MapODataServiceRoute in Sturt

[2019-06-03 12:30] Danielku15 opened #1819 "DefaultValueAttribute not considered in EDM"
When you annotate a property with a `DefaultValueAttribute` in C# the generated CSDL/EDM does not contain a XML attribute `DefaultAttribute` as [per specification](http://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/cs01/odata-csdl-xml-v4.01-cs01.html#sec_DefaultValue). Also there is no way to manually set it afterwards as the `EdmStructuralProperty.DefaultValueString` is readonly.

### Assembli

[2019-06-03 17:58] Peter-Optiway opened #1820 "Bound collection functions ignore`ODataRoutePrefixAttribute while normal queries honor it"
Bound collection functions ignore `ODataRoutePrefixAttribute` while normal queries honor it.

### Assemblies affected
Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

1. Create a empty .net core 2.2 web api project with the name ODataTest
2. Add `Microsoft.AspNetCore.OData` nuget 7.1.0
3. Edit Startup.cs with the following code:
[code]
4. Run the urls below:

The following Queries work:
* ht

[2019-06-03 21:23] pistonexia commented on #1707
Any updates on this? We have a service running that will take a penalty if endpoint routing is disabled but yet we still want odata.

[2019-06-03 21:57] mikepizzo commented on #1707
We plan to have a release of WebAPI OData out around the end of the month. We'll look at this for that release, but it appears to be a larger and more fundamental change that may have to wait for our .NET Core 3 support.

[2019-06-04 04:51] adkg commented on #1622
Do we plan to support this anymore or any workaround ?

[2019-06-04 15:06] Danielku15 opened #1821 "Scoped IEdmModel breaks AttributeRouting"
When you use Scoped IEdmModel instances (as explained in [DynamicEdmModelCreation](https://github.com/OData/ODataSamples/tree/master/WebApiCore/DynamicEdmModelCreation), you cannot use `[ODataRoute]` because of wrongly created scopes.

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

1. Clone the ODataSamples and open the DynamicEdmModelCreation solution.
2. Change t

[2019-06-04 16:00] flipdoubt commented on #1818
I have the same **yes or no** question. Is using `IEdmModel` and `MapODataServiceRoute` required to get the full count using `$count=true`? If the answer is **yes**, then that is the approach we must take for now. If the answer is **no**, can someone point us to a working example?

[2019-06-04 16:14] ramil-mux commented on #1818
Yes, if you use `IEdmModel` and `MapODataServiceRoute`, then `$count` will return the value.
My question is whether `$count` can return a value without `IEdmModel` and `MapODataServiceRoute`?

[2019-06-04 19:31] KanishManuja-MS commented on #1813
@hikum It seems like WebAPI does not support delta links as of now. The page result constructor that you are using is specifying your deltalink for the nextlink parameter and therefore you see the response as you see.

[2019-06-05 17:25] hikum commented on #1813
@KanishManuja-MS - This happens in some cases (when a deltaLink or nextLink is not provided in the http request), but in rest of the cases, deltaLink is returned as expected. If the WebAPI does not support it, why does it work in the cases I described above?

[2019-06-05 18:54] anilraut30 commented on #1135
Any updates on this? seems its long time but here we are in June 2019 and we just observed this strange behavior ..not sure how long we can trust Odata paging mechanism

[2019-06-05 19:15] KanishManuja-MS commented on #1135
@anilraut30 value based paging will be available with the next WebAPI release. Can you share your code where you are appending the additional clause? If it is not part of the request then it will not get carry forwarded to the nextlink.

[2019-06-05 19:42] kosinsky opened #1822 "Leading (and trailing) spaces in query options lead to ignoring them"
When user adds leading and trailing space in query option, that query option will be ignored.
For example:
` $filter=Filter` (notice leading space), `$filter =Filter` (notice space before =), `%20$filter=Filter` will be ignored

### Assemblies affected

Up to OData WebApi lib 7.1.1-beta

### Reproduce steps
Consider following test
[code]

### Expected result

Test should be green

### Actual resul

[2019-06-06 15:52] anilraut30 commented on #1135
@KanishManuja-MS I'm just appending $count=true just to cross validate the records and there is no specific filter or order need as such as long as we get all records and no duplicate and no missing records in final consolidated unique set. The problem is record set is huge and logic makes hundreds of next page Odata requests , appends to List and then dump into csv file

Also, tried using appendi

[2019-06-06 18:02] xuzhg opened #1824 "Enum model alias deserialization has problem for the flag members"
We noticed some oddity in OData when it comes to Flag enumerations.
We have the following flag enumeration:

![image](https://user-images.githubusercontent.com/9426627/59055178-1d2da980-884a-11e9-9501-b940fc9ac101.png)

When I create an entity with a single value, I set and get the values with first character lower case which is expected:

![image](https://user-images.githubusercontent.com/9426627

[2019-06-06 18:52] xuzhg commented on #1824
It's a bug in : https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Formatter/Deserialization/ODataEnumDeserializer.cs#L74-L89

[2019-06-06 21:48] alexandrevribeiro opened #1826 "ODataRoutePrefix not working for 3rd level"
When I try to use a third level segment with `[ODataRoutePrefix]` attribute it throws an error like this:

*The path template '[TEMPLATE]' on the action 'Get' in controller 'CONTROLLER-NAME' is not a valid OData path template. Found an unresolved path segment '[LAST-SEGMENT]' in the OData path template '[TEMPLATE]'.*

- **ODataRoutePrefix for the parent segment that works**:
`[ODataRoutePrefix("la

[2019-06-07 11:49] vazavi commented on #1463
How long will it take to resolve this problem?

[2019-06-07 15:17] KanishManuja-MS commented on #1463
@vazavi This is on our list for the next WebAPI release unless something unexpected pops up.

[2019-06-07 23:22] JayCallas opened #1827 "$apply=groupby((some_enum_property)) throws NullReferenceException with EF Core"
Executing the simplest of queries with `EF Core 2.2.4` with a `groupby` aggregator results in `NullReferenceException` at `Microsoft.AspNet.OData.Query.Expressions.GroupByWrapper.GetHashCode` when the property is an `Enum`.

### Assemblies affected

Microsoft.OData.Core (7.6.0)
Microsoft.EntityFrameworkCore (2.2.4)
Microsoft.EntityFrameworkCore.SqlServer (2.2.4)

also happened with

Microsoft.ODat

[2019-06-09 08:44] ysmoradi commented on #1145
I've the same issue

[2019-06-10 13:31] alexandrevribeiro commented on #1826
Hi @xuzhg,
Sorry for directly mentioning you, but given your experience, do you know if it's possible to have more than 2 segments for a [resource path](http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-url-conventions.html#sec_ResourcePath)? For example:

`[service root URL]/resource/{parentId}/subResource/{subResourceId}/anotherSubResource/{id}`?

Tha

[2019-06-10 16:49] bverb commented on #1795
This seemed to be more of an implementation issue than an actual issue with the OData library. Closing as it has been resolved.

[2019-06-10 16:49] #1795 closed

[2019-06-10 17:13] SuricateCan opened #1828 "ODataResourceDeserializer Doesn't Preserve Request on ODataDeserializerContext for Nested Resource"
I am subclassing ODataResourceDeserializer and I noticed that when deserializing nested properties, the read context does not contain the Request information.
When deserializing a root level entity, the read context contains the information as expected.

### Assemblies affected

Microsoft.AspNetCore.OData, Version=7.0.1.20718, Culture=neutral, PublicKeyToken=31bf3856ad364e35

### Reproduce steps

[2019-06-10 17:23] kosinsky commented on #1827
I have open PR  #1728 that fixes bunch of issues with EF Core and $apply. I added tests (https://github.com/OData/WebApi/pull/1728/commits/78b0753b655040dde006b1a1c25c82862f1aa9d8) that ensures that grroupby((enum_property)) works

[2019-06-10 21:29] alexandrevribeiro commented on #1826
I've found what was the problem...

The *model* for the `depositsGuarantees` segment was missing a collection property of the *model* registered for the `customFields` segment. In practice this property was missing :

[code]

I still wonder if I should really use `lawsuits/{parentId}/depositsGuarantees/{subResourceId}/customFields` or just `depositsGuarantees/{parentId}/customFields` (even though

[2019-06-10 21:29] #1826 closed

[2019-06-10 23:15] KanishManuja-MS opened #1829 "Deprecate existing properties in favor of the new internal properties"
With skiptoken implementation, we added a bunch of properties which had richer information compared to the existing related properties. We would like to deprecate those older properties with the major version release.

Following are such properties -
SelectExpandClause for IWebAPIContext and IODataFeature.
ExpandedNavigationProperties for SelectExpandNode.
SelectExpandClause instead of ExpandedIte

[2019-06-12 13:21] NickBehrends commented on #1759
FYI if using EF Core you can setup a logging factory and odata queries will be logged as well. Something like:

        //Dump EF SQL to output window
        public static readonly LoggerFactory _myLoggerFactory =
            new LoggerFactory(new[] {
                new Microsoft.Extensions.Logging.Debug.DebugLoggerProvider()
            });

        public MyDbContext(DbContextOptions<MyDbConte

[2019-06-12 20:33] raheph commented on #1828
@SuricateCan Thanks for pointing this out. While we will add this to our backlog to fix, it would be great if you can contribute this change to the library, we would be happy to review that.

[2019-06-14 11:07] SuricateCan commented on #1828
@raheph I'd b happy to, but I'm having trouble to sign the CLA.

[2019-06-16 09:47] phatcher opened #1830 "ModelState validation and OData"
Is ASP.NET Core MVC model validation supposed to happen with an OData controller?

I have an entity marked up with `StringLength` attributes, but when it hits the controller the ModelState is valid.

This causes a problem as EF Core no longer validates before submitting, I just get a "String or binary data was truncated" error from SQL Server with no indication of which property has an issue.

###

[2019-06-17 15:19] Danielku15 commented on #1830
I haven't tried the `StringLengthAttribute` yet but I'm using `MinLengthAttribute` and `MaxLengthAttribute` and for me they work fine.  The ModelState is not valid as expected when the call hits the controller. Maybe you can give this a try until the actual problem is identified 😉

[2019-06-17 15:33] Danielku15 commented on #739
I am currently struggling with a similar problem. Just like in swagger there should be "writeOnly" and "readOnly" properties. Use cases:
- WriteOnly could be a password of a user which is only writable, but not readable. (not existing in the core OData vocabulary)
- ReadOnly is used for server side computed properties like "DateCreated" of a entity. (aka. Computed)
- WriteOnce could be a username

[2019-06-17 18:44] KanishManuja-MS opened #1831 "Storing the service root on the request or the context"
For generating nextlink for nested resources, we end up creating service root every time. Instead it should only be created once and stored off somewhere.

### Assemblies affected
OData WebAPI 7.1

### Additional detail
ODataResourceSetSerializer L395.

[2019-06-18 00:38] laec opened #1832 "Batch request with `odata.continue-on-error = false` is not respected"
The OData Protocol specifies the batch request preference `continue-on-error` can be associated with a boolean value `true` or `false` ([OData-ABNF](http://docs.oasis-open.org/odata/odata/v4.01/cs01/abnf/odata-abnf-construction-rules.txt)) to enable or disable continue on error semantic. However OData WebApi lib only checks the existence of the preference name and not the value of it ([ODataBatchH

[2019-06-18 22:57] prasadpkorhale opened #1833 "Optional Parameter doesn't work for actions?"
Not able to mark a action parameter as "optional". I need to mark it with "Nullable = false" to make it optional. But I do not want those parameters to be NULL.

### Assemblies affected

7.1.0

### Reproduce steps

            var actionFoo = builder.Action("ActionFoo");
            actionFoo.Parameter<double>("Id").Optional();
            actionFoo.Returns<bool>();

### Expected result

I should

[2019-06-21 08:22] cargt3 opened #1834 "Is it possible to use $count without OData endpoint?"
I have problem with count function in Odata. When I use https://localhost:44327/odata/Customers?$count=true its working correctly but with https://localhost:44327/Customers/Get?$count=true count is ignored.

### Assemblies affected

Microsoft.AspNetCore.OData OData WebApi lib 7.1.0

### Expected result

[code]

### Actual result

[
{
"FirstName": "First name 1",
"lastName": "Last name 1",
}
]

[2019-06-21 12:54] GoldenSlience opened #1835 "Operation could destabilize the runtime for appgregate after upgrading odata web api to 7.1"
*After we upgrade odata web api to v7.1, we got VerificationException: Operation could destabilize when querying data with aggregate*

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 7.1.0

### Reproduce steps
We have private project which implement IQuerable for Get request.

*A simple query will fail:
Get /odata/WebApiUsage?$apply=aggregate(

[2019-06-22 16:02] nmoreaud opened #1836 "OData rises an exception when it expands twice the same property with different case"
If I ask twice to expand a subresource in the url with 2 different cases, an exception happens and the Rest API response is generated partialy.
This also happens if I try to expand a subresource that is expanded by default ([AutoExpand]) with an alternative case.

### Assemblies affected

Microsoft.AspNetCore.OData 7.1.0

### Reproduce steps

    https://localhost:44381/api/offers?$expand=Category

[2019-06-24 03:37] mikeoconnor1980 commented on #1463
Do you guys know when you're planning on releasing the next release? When might it be available in Preview?

Cheers,
Mike

[2019-06-24 08:10] Megasware128 opened #1837 "SetDefaultODataOptions doesn't work/has dead code"
While browsing the source I came across [this piece of code](https://github.com/OData/WebApi/blob/3b4aa3ca5910d3393fdc5404f475ceb0cb1139e0/src/Microsoft.AspNetCore.OData/Extensions/ODataRouteBuilderExtensions.cs#L263). As you can see it [retrieves options from the service provider](https://github.com/OData/WebApi/blob/3b4aa3ca5910d3393fdc5404f475ceb0cb1139e0/src/Microsoft.AspNetCore.OData/Extensio

[2019-06-24 16:50] kosinsky commented on #1835
Are you using EF Core In-memory as IQueryable provider? If yes it will be fixed with https://github.com/OData/WebApi/pull/1728

[2019-06-24 19:52] GoldenSlience commented on #1835
No, we are not using EF core. Do you know what is the reason that causes the issue?

[2019-06-24 23:10] kosinsky commented on #1835
Before #1728 for everything except Linq-to-object:
We are generating expressions that look like (to make it compatible with EF6)
[code]
Value type is object, as a result proper .NET expression must look like as
[code]
or AccessViolationException will be thrown when executing on real objects.

As a result for IQueryable other than Linq-to-object and EF6 exception will be thrown. More details are in

[2019-06-25 21:51] kuttikrishnankodoth commented on #1196
iam facing the same issue, i only have one method in the controller and thats the Odata end point. if i remove the route i am getting 404

[2019-06-26 20:55] KanishManuja-MS commented on #1837
@Megasware128 Thanks for pointing out.

[2019-06-26 20:58] KanishManuja-MS commented on #1834
@cargt3 $count work only with the odata route.

[2019-06-26 23:35] agrabhi commented on #849
@xuzhg why is it marked P2? This impacts how a service api is created.

[2019-06-27 08:37] suadev opened #1838 ".net core - change default root node name "value""
How can i change default root name called "value" ?

I need to replace it with "results".  Is that possible?

[code]

[2019-06-28 09:36] keyhooon commented on #1748
ایشالله درست میشه، غصه نخورید.

[2019-06-28 11:13] suadev commented on #1838
@robward-ms Any idea?

[2019-06-28 19:13] mikepizzo commented on #1838
The WebApi OData libraries generate compliant OData payloads, which mandate that the wrapper for the top-level collection object is called "value", so we don't have a direct way to return a non-compliant value.

You could, however, get something similar to the output structure you describe by defining a top-level singleton with a single "results" navigation property of type Collection(rooms). The

[2019-06-28 20:45] mikepizzo commented on #1791
It appears from microsoft/aspnet-api-versioning#502 that this was an issue that will be addressed in the https://github.com/Microsoft/aspnet-api-versioning. Please confirm, and we will close this issue and the related PR (thanks @hippiehunter for the legwork on this!)

[2019-06-28 21:53] macoratti opened #1840 ".NET Core 3.0 Preview6-012264 support for Versioning"
It seems that Microsoft.AspNetCore.Mvc.Versioning cannot be used in .NET Core 3.0.0.100-preview6-012264 in API project

Startup.cs

    public void ConfigureServices(IServiceCollection services)
     {
            services.AddApiVersioning(o =>
            {
                o.AssumeDefaultVersionWhenUnspecified = true;
                o.DefaultApiVersion = new ApiVersion(1, 0);
                o.R

[2019-06-28 22:48] commonsensesoftware commented on #1791
This is effectively a duplicate of #1786. The fix for microsoft/aspnet-api-versioning#502 will resolve both issues. Thanks.

[2019-06-28 23:19] xuzhg commented on #1833
@prasadpkorhale

`Not able to mark a action parameter as "optional". `  I can't understand, because `actionFoo.Parameter<double>("Id").Optional();` can set the "Id" as optional.

I had a tested,

[code]

I sent the request as:

![image](https://user-images.githubusercontent.com/9426627/60375895-5cba6200-99c0-11e9-9d8d-6c5b4c2eefdd.png)

It can work:

![image](https://user-images.githubusercontent.

[2019-06-29 08:39] matdavies commented on #1725
@xuzhg Where is the nightly that you reference?  The 7.x nightly that is referred to in readme.md does not seem to exist any more?: https://www.myget.org/F/webapinetcore does not exist, so it's only possible to get the 6.x nightlies at the moment.  That doesn't work for me because we need to ensure a dependency on Microsoft.Extensions.DependencyInjection.Abstraction >= 2, and 6 requires >= 1 && <

[2019-06-29 12:13] si2030 commented on #1748
Is there a timeline for this upgrade to 3.0. I note this has been open getting on for 6 months now.

[2019-07-01 07:01] suadev commented on #1838
@mikepizzo thank you for detailed explanation.

I expected to be able to change easily, without using 'expand' keyword, which brings more complexity to all queries :(

[2019-07-01 08:07] matdavies opened #1841 "7.x nightlies don't exist any more?"
The readme.md file makes reference to nightly builds for the 7.x version:

https://github.com/OData/WebApi/blame/master/README.md#L81

They should, according to that document, be available here: https://www.myget.org/gallery/webapinetcore

However, there is no such package on MyGet.  So only the 6.x nightly builds are available.

Where are the 7.x nightlies?

[2019-07-01 09:09] andreyciocan commented on #1697
Any updates? I am facing the same issue...

[2019-07-01 16:24] xuzhg commented on #1725
@matdavies https://www.myget.org/F/webapinetcore is still there. Is there any problem for you to access the nightly build from this Nuget source?

[2019-07-02 01:47] SachinKotnala opened #1842 "Odata query search against string collection where string matches one or more value pattern"
I have data in the below format

    "value": [
        {
            "Id": 10274,
            "Name": "[Resident]",
            "EntityTypeId": 74,
            "CustomAttributes": [
                {
                    "Id": 1387,
                    "CustomAttributeTypeId": 1110,
                    "Value": "ACFI",
                    "EntityId": 10274
                },
                {

[2019-07-02 10:29] matdavies commented on #1725
@xuzhg Sorry, yes, you are right, that is still there, and there is no problem accessing the nightly build from there.  I was confused because https://www.myget.org/gallery/webapinetcore (7.x nightly gallery page) does not exist, whereas https://www.myget.org/gallery/webapinightly (6.x nightly gallery page) does.  I've raised an issue re the problem in the readme.md.  Can confirm that the nightly

[2019-07-02 10:31] matdavies commented on #1841
To confirm, the actual MyGet Feed for the 7.x nightlies DOES exist, here:

https://www.myget.org/F/webapinetcore

However, the readme makes reference to the gallery page, which does not exist - would probably be better to either have that gallery page exist, or to remove the reference to it in readme.md?

[2019-07-02 13:37] mburbea opened #1843 "OData sends literals instead of parameters to the Queryable."
Using aspnetcore 2.2 and odata 7.1

Create a table like so::
[code]
Create a controller for the following class
[code]

Now using your browser hit this end point with the following filter:
`/Issue1843?$filter=Enum eq 'F0' and DateTime2 eq 2019-07-02T00:00:00Z`

When you see the query generated it will be the following:
[code]

I would expect it instead to have generated a where clause using parame

[2019-07-03 17:12] mikepizzo commented on #1791
Chris confirmed this is an issue in aspnet-api-versioning, and I believe has already fixed it, so closing this PR.  Thanks for your help getting this resolved!

[2019-07-03 17:12] #1791 closed

[2019-07-03 19:35] #194 closed

[2019-07-03 20:58] xuzhg commented on #1842
@SachinKotnala Short answer is that IN operator is always using equal(eq), You maybe able to use something like following:

`.... and CustomAtributes/any(d:['ACFI', 'f6fe7a7a']/contains(d/value)) ...`

If that fails, you can use 'or' expression in the any.

`.... and CustomAtributes/any(d:contains(d/value, 'ACFI') or contains(d/value,  'f6fe7a7a')) ...`

[2019-07-04 05:17] robertmclaws opened #1845 "Delta.TryGetPropertyValue Changes for 7.2 Broke RESTier"
Recent changes to the WebAPI have broken RESTier's ability to detect the difference between a ComplexType and an EdmType for PATCH/POST/PUT requests.

### Assemblies affected

Microsoft.AspNet.OData 7.1.1.30703

### Reproduce steps

RESTier has a test [here](https://github.com/OData/RESTier/blob/master/src/Microsoft.Restier.Tests.AspNet/FeatureTests/UpdateTests.cs#L19) that tests PUTing an object

[2019-07-04 09:03] matdavies opened #1846 "Fix for EDM date coersion changes behaviour between 6.x and 7.x"
PR #1733 fixes issue #1725, but the fix highlights a different issue, which is that the behaviour has changed between 6.x and 7.x

### Assemblies affected

Microsoft.AspNet.OData 7.x

### Reproduce steps

Create a model with a property of type DateTime.  EG:

[code]

Create some data and set the DateTime value to be some date with a time included.  For example, 12/12/2019 09:00.

Perform the follo

[2019-07-04 15:13] nmoreaud commented on #158
Hello,
What are the other possibilities to create an entity which links to an existing related mandatory entity ? (in my case, offer must link to an already existing category).

Did anyone manage to make this work with version 7.0 ? (see here : https://stackoverflow.com/questions/51825765/odata-webapi-how-to-inject-a-odataresourcedeserializer-in-7-0-core)
With this fix, do we use the @odata.bind P

[2019-07-05 00:24] #1056 closed

[2019-07-05 00:26] #1068 closed

[2019-07-05 12:32] vincedan commented on #158
Any process for @odata.bind ? It is really the basic feature for production, why pending this so many years?

[2019-07-07 06:32] ZBAGI opened #1847 "Proper exclusion of 'write-only' property ?"
I'm a bit confused about OData entities structure. Let's take an example of user entity:
[code]
Fair enough but... Of course we don't want to expose Password. Fortunately there is a lot of way to exclude password from exposure. One of them is to just set it to null on return which in my opinion feels wrong as the field is marked as Required and returning null just feels wrong.

More common one is

[2019-07-07 08:16] #1847 closed

[2019-07-08 10:20] flibustier7seas commented on #1676
Any updates?

[2019-07-08 14:43] mburbea commented on #1843
Also of ntoe that if the `DateTime2` property was actually a `DateTime` it would still try to send `'2019-07-02T00:00:00.000000'` to the column which would lead to this error:

As Sql server's `DateTime` only support miliseconds, e.g. (3 digits of sub-second precision.)

[2019-07-08 15:16] Stephan-Hoffmann commented on #1574
Pretty basic stuff missing … please advise when this will be available...

[2019-07-08 15:17] guispre commented on #1694
@reznr Did you get any new information regarding the issue? I have the exact some problem but I cannot find any solution or further details why it is not working.

[2019-07-09 10:33] LarsKemmann commented on #1613
I see a "P4" label on this issue and I'm assuming that means something like "quite low on our priority list." While I can understand that (begrudgingly :)), can you at least (please) call out this issue prominently in the documentation? It cost me over an hour of troubleshooting this morning before finally figuring out that there might be a reason all of the announcement blog posts don't show any

[2019-07-09 14:44] bdebaere opened #1850 "How to use OData's Display.FormattedValue"
I've been trying to use the ability of OData's `Display.FormattedValue`, but I cannot find any good source on how to implement it. I've searched the code in the entire OData organization (which yields no code for `formattedvalue`, `displayablevalue`).

I've read many links, including the following:

- http://odata.github.io/WebApi/04-19-odataIncludeAnnotations/
- https://github.com/OData/odata.net

[2019-07-09 15:20] jannikbuschke commented on #438
I tested your custom dictionary implementation with odata on asp.net core.
It works!

[2019-07-09 15:52] djseng commented on #1583
I can replicate this using this against EfCore + SqlServer, I just need to change the "data source" property in my connection string to an known unknown server name... `"data source=xxx;initial catalog=notexists;persist security info=True;Trusted_Connection=True;"` Controller is as basic as the one provided.

[2019-07-09 16:29] robertmclaws commented on #1845
In the triage, we determined that the test may be incorrect. Publisher is an Entity so that is returning properly, so we might have been relying on incorrect behavior. Need to potentially move the test to Publisher instead of Book so we can test the complex type.

[2019-07-09 16:40] djseng commented on #1583
The workaround I came up with was to try opening the connection before return...

[code]

[2019-07-09 21:14] madansr7 commented on #1133
@manojmore , Do you still need assistance with this issue? Can we close it?

[2019-07-10 06:49] #1845 closed

[2019-07-10 06:55] si2030 commented on #1748
Not a word after 11 days.. I guess these guys are on holiday...

[2019-07-10 06:58] Hantse commented on #1748
Look on
https://github.com/microsoft/aspnet-api-versioning/issues/499

[2019-07-10 14:26] TheAifam5 commented on #1461
It's been already much more than 5 months. I'm getting similar error with a following code:
[code]

[2019-07-11 04:58] genusP commented on #1850
After build model use `AddVocabularyAnnotation` method for add annotation instance linked to entity property.
http://odata.github.io/odata.net/#02-07-define-annotations

[2019-07-11 12:00] kenanilgun commented on #1413
Hi SenyaMur, Can you give example to here please.

[2019-07-11 12:09] SenyaMur commented on #1413
What example you need? Request url or fix the bug?
If you want to fix the bug, then just clone the repository, change code as i writed and build it.

[2019-07-11 17:16] bdebaere commented on #1850
@genusP Do you have sample code on what kind of annotation I have to add to enable FormattedValue? Because there are multiple annotations. And most importantly how does OData know what to property to show?

[2019-07-11 19:38] KanishManuja-MS commented on #1748
Thanks @Hantse. The above-mentioned issue might be fixed with preview 7 and there might be other issues that may need to be handled. We will be able to provide support for the preview versions but we are planning on supporting aspnetcore 3.0 by the time it releases.

@si2030 Apologies for the not being very responsive, we were focussing more on the upcoming 7.2 release but hopefully, you understan

[2019-07-15 13:41] TehWardy commented on #1611
Tell me about it ...

I wish there was a way I could just say "See that OPTIONS header and just return OK" as CORS is a blight on the internet.

All it does is force all clients to hit the servers twice since there's literally no way to verify the information in the request is valid it boils  down to trusting the client to tell you they care about this and are giving you the right information. Muc

[2019-07-15 18:24] #1639 closed

[2019-07-15 18:30] #1722 closed

[2019-07-15 18:31] #1756 closed

[2019-07-15 18:31] KanishManuja-MS commented on #1756
#1724 fixes this.

[2019-07-15 19:06] #1638 closed

[2019-07-15 19:07] #15 closed

[2019-07-15 20:27] kosinsky commented on #1413
Issue should be fixed by: https://github.com/OData/WebApi/pull/1728 Could you try nightly build to check that fix works for you?

[2019-07-15 21:15] bdkoepke opened #1853 "Setting PageSizeValue causes $top to be ignored"
Spent a couple of days trying to track down this issue, using $top in a query is implicitly ignored if you specify a default page size value. If I set the default page size value to null then $top is respected but if I set it to any other value then regardless of whether $top is specified or not I received the default page size value worth of results.

### Assemblies affected

Microsoft.AspNetCore

[2019-07-15 21:41] KanishManuja-MS commented on #1853
@bdkoepke Can you share what query got executed on your backend? This does not happen at least when I try to use EF InMemory data source. Are you using the enable query attribute for your controller methods?

[2019-07-15 21:54] bdkoepke commented on #1853
Hello @KanishManuja-MS, I'm using a MySQL backend. The code above is actually the entire thing, I will create a public repo (since the one I'm using has sensitive data/passwords). I will also try an in-memory database as well to rule that out.

[2019-07-15 23:50] si2030 commented on #1748
Sure no problem.. can you guys tell me what needs to happen for Odata to be up and running on Asp.net core 3.0

I get the impression it might be working on preview 7.

I require Slickgrid which unfortunately uses Odata and I upgraded to 3.0.. bummer.

Just like to know what is the road block and what chance it might be available in the short term..

Cheers

[2019-07-16 01:12] alberk8 opened #1856 "Does Odata support $filter Contains syntax against MongoDB"
*Short summary (3-5 sentences) describing the issue.*
I have Odata working with MongoDB doing normal Query (like all and exact match). But I cannot search data based on "Like" condition.

### Assemblies affected
Microsoft.AspNetCore.Odata v7.1.0.
MongoDB.Driver v2.8.1

### Reproduce steps
I have posted the issue on slackoverflow
https://stackoverflow.com/questions/56962714/asp-net-core-odata-on-mo

[2019-07-16 05:17] bdkoepke commented on #1853
Hmm, it seems to work using an in-memory database. I switched to using linq2db to work around a different bug. (Was using Entity Framework but it doesn't support aggregate queries: https://github.com/OData/odata.net/issues/463).

I'm hosting a repo here: https://github.com/bdkoepke/factsetapi. Will add the simplest linq2db example tomorrow to confirm.

Thank you.

[2019-07-16 05:20] bdkoepke commented on #1853
Ah, here is the exact article that pushed me to linq2db in the first place: https://stackoverflow.com/questions/51918056/aggregation-with-group-by-using-aspnet-core-odata-and-entity-framework-core. Will confirm tomorrow, is there an easy way to hook into the framework to see how it is actually setting up the query? (I've implemented the IQueryable interface before so I'm quite familiar with that,

[2019-07-16 05:55] genusP commented on #1850
@bdebaere
if you need add annotation to metadata document use solution from previous comment.
if you need add annotation to entity serialization result, see https://docs.microsoft.com/ru-ru/odata/webapi/customize-formatter

[2019-07-16 08:52] GoldenSlience commented on #1835
Thanks for the explain. We implement our own handling of apply query in our project.

[2019-07-16 08:52] #1835 closed

[2019-07-16 15:31] RMHR commented on #1463
Do we know when this release is, any information available?

[2019-07-16 16:11] KanishManuja-MS commented on #1748
@si2030 It is high on our priority list, however I won't be comfortable committing to a date as of now because there may be other unknowns but we are trying to have it supported by the time of 3.0 RTM.

[2019-07-16 18:19] PaulGilchrist commented on #1463
We are waiting on this fix also.  It has critically slowed down expands for us since switching from full framework to .Net core, and making OData almost unusable for us.

[2019-07-17 01:13] sdyalor commented on #1748
Support .Net Core 3.0 please

[2019-07-17 23:00] bdebaere commented on #1850
@genusP Thanks

[2019-07-17 23:00] #1850 closed

[2019-07-18 01:58] Tiberriver256 opened #1857 "Question: Is ODATA-316 implemented?"
https://issues.oasis-open.org/browse/ODATA-316

This references that there is some capability to specify if a client neglects to send a $select statement that you can specify to only return a subset of the available properties instead of treating it as if they had specified $select=*

[2019-07-18 08:03] TehWardy opened #1858 "net::ERR_SPDY_PROTOCOL_ERROR 200"
I'm not sure which this is more relvant to so i'm reposting this from the main aspnet core bug ticket I have created mainly for cross team visibility on your end ...

https://github.com/aspnet/AspNetCore/issues/12301

... any assistance you guys can provide would be awesome.

[2019-07-19 04:05] genusP commented on #1856
@alberk8  try disable [HandleNullPropagation](https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/Query/ODataQuerySettings.cs#L70). This option enable additional checks to null value.

[2019-07-19 06:06] alberk8 commented on #1856
Thank you do much.  It fixed the issue.

[2019-07-19 06:06] #1856 closed

[2019-07-19 13:52] frabriziocontin commented on #1748
Please help!!! Support .Net Core 3.0

[2019-07-19 14:53] adzhilyanov opened #1859 "Support groupby with property path length greater than 2"
**This issue is dependant of https://github.com/OData/odata.net/issues/1505**

$apply=groupby((SingleValuedProp)) **works**.
$apply=groupby((SingleNavProp/SingleValuedProp)) **works**.
$apply=groupby((SingleNavProp/SingleNavProp/SingleValuedProp)) **does not work**.
$apply=groupby((SingleNavProp/SingleNavProp/SingleNavProp/SingleValuedProp)) **does not work**.
and so on...

### Assemblies affected

[2019-07-19 15:04] adzhilyanov commented on #1859
@kosinsky Most of the changes made in this PR are over changes added in https://github.com/OData/WebApi/pull/875 by you. Would you take a look and give some feedback over this PR? Thank you!

[2019-07-22 10:44] TehWardy opened #1861 "Globally setting odata options doesn't appear to work in .Net Core"
During model construction add these lines (Or similar) ...

**In ConfigureServices**

[code]

In the Model Builder (i have a wrapper class for OData model builders as I created them before the framework had model builders) But it looks something like this ...

[code]

Making an API call in to sets built this way with an expand depth of > 2 doesn't work unless I additional put the EnableQuery attri

[2019-07-22 18:36] paulkroener opened #1862 "$expand on ZeroOrOne navigation property with nested $orderby"
My model contains a single navigation property that can be null. The type of the navigation property contains more navigation properties. Ordering by a property in one of these nested collections fails.

### Assemblies affected
Tested:
Microsoft.AspNet.OData 7.0.1.20718
Microsoft.AspNet.OData 7.1.0.21120

### Reproduce steps

Minimal test case can be found here: https://github.com/paulkroener/expa

[2019-07-23 15:08] erjicles commented on #1463
I'm shocked this isn't receiving a higher priority. This bug can result in thousands of round trips to the database and kill performance. Until this gets fixed, $expand and in turn OData is effectively unusable in many situations.

[2019-07-23 15:42] NetTecture commented on #1463
This is actually a non issue. Took me 2 days to extract all possible includes from the query graph. Now I get nice efficiency because I can INCLUDE what I need on the query ;)

I use AutoMapper ProjectTo, so I can take the business level expands and directly hand them in as array of includes from the business side. Voila. As I said - about 2 days of work.

MUCH worse are the significant bugs on th

[2019-07-23 16:30] erjicles commented on #1463
If I'm understanding this correctly, you're manually parsing the expands in your controller and adding Includes to the LINQ query before it even hits the OData pipeline so they're already built into the query?

[2019-07-23 18:45] NetTecture commented on #1463
Actually no. I am intercepting the generated LINQ decision tree and parsing it for all necessary expansions ;)

[2019-07-23 18:49] erraineon commented on #1463
this could help greatly until the issue is addressed.  could you please share excerpts of your code here

[2019-07-24 06:54] christophedemey opened #1863 "Delta Patch"
I am doing a Delta<> patch, the request comes in fine, but some of these properties are not allowed for updating on the database, how do i tell the patch operation not to update or ignore

[2019-07-24 16:01] mvbios commented on #1748
I tried to use odata in preview 7 and also nothing
Please, .Net Core 3 + odata

[2019-07-24 17:37] dorbacao commented on #1748
I tried to use odata in preview 7 and also nothing

[2019-07-24 17:56] daumasmatheus opened #1864 "Is ODataActionParameters limited to work only with Json?"
I have an API using OData and one of my endpoints is using ODataActionParameters to pass a list of objects to the method.

Route:

    var builder = new ODataConventionModelBuilder();
    builder.EntityType<SetorDTO>().Collection.Action("AddListSetoresSimples").Returns<string>().CollectionEntityParameter<SetorDTO>("setores");
    builder.EntityType<SetorDTO>().Collection.Action("AddListSetoresComL

[2019-07-24 18:13] robertmclaws commented on #1748
Folks, they know they need to support .NET Core 3.0, and have already said it will happen. Your additional comments on the matter are noise and unhelpful. Please use GitHub's reaction features if you'd like to voice to supporting .NET Core 3.0... it generates fewer emails and makes the thread easier to read.

[2019-07-25 07:32] kuldip1490 opened #1870 "How to Handle OData Optional Parameter in C# Web API"
@xuzhg  i need EmpId as a optional

i found resource  from here [https://docs.microsoft.com/en-us/odata/odatalib/optional-parameters](url) but i don't know how to use

- Microsoft.Aspnet.OData = 7.1.0.21120

- Model

public class Employee

   {

        [Key]
        public string Id { get; set; }

        public string EmpID { get; set; }

        public string Name { get; set; }

        public

[2019-07-25 20:43] nissimlevy opened #1865 "OData error using $select and $expand"
I am using:

.NET Framework 4.7.2
Visual Studio 2017
OData V4
Web API V 5.2.4 with Entity Framework V6.2 code first with existing MS SQL DB

My $expand and $select commands are generating an error. For example, when I use the select command as follows:

http://localhost:62681/data/Advances?$select=Description
I get the following error:

The query specified in the URI is not valid. Could not find a

[2019-07-29 07:03] weitzhandler opened #1866 "The operation cannot be completed because no ODataPath is available for the request."
Hi,
I'm trying to use

### Assemblies affected
`Assembly Microsoft.AspNetCore.OData, Version=7.1.0.21120`

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

Here's my OData setup:
[code]

### Expected result

### Actual result
When posting data using OData, it gets to the controller and data saves just fine, but then I get the following excep

[2019-07-29 20:27] #1463 closed

[2019-07-29 20:38] #1822 closed

[2019-07-29 20:49] #1552 closed

[2019-07-29 21:37] jtrout commented on #1463
Why was this closed? Has it been resolved somehow?

[2019-07-30 08:19] SenyaMur commented on #1413
It's worked on build 7.1.1-Nightly201907241245.
When it will be in nuget?

[2019-07-31 21:44] KanishManuja-MS commented on #1865
@nissimlevy Can you please share your csdl? Also, an example where $filter is working against the Description field and stacktrace if you have it. Did something change between when it worked and it did not?

[2019-07-31 21:46] KanishManuja-MS commented on #1864
@daumasmatheus OData V4 does not support XML format.

[2019-07-31 21:48] KanishManuja-MS commented on #1863
@christophedemey Can you provide more information about how you are processing the patch in the controller method and what the underlying store provider is?

[2019-08-01 00:31] robertmclaws opened #1872 "Current assembly versioning structure breaks upgrades"
## The Problem
In the current build system for both ODL and WebApi, the versioning system puts a build number in the AssemblyVersionAttribute. This then gets put in the NuGet package, and that version is added to the web.config assembly binding redirects.

When you upgrade a NuGet package, the binding redirects are not automatically updated, and your app breaks at runtime. This can happen even if

[2019-08-01 05:53] #1863 closed

[2019-08-01 09:17] Discjoggy commented on #328
Would be very glad to hear if this issue will be fixed or not.

[2019-08-01 19:13] cdarrigo opened #1873 "'StartArray' node was found when reading from the JSON reader. A 'StartObject' node was expected."
When attempting to consume my odata feed of my EF Core DbContext, I get the following error message:

 An unexpected 'StartArray' node was found when reading from the JSON reader. A 'StartObject' node was expected.

### Assemblies affected

"Microsoft.AspNetCore.All" Version="2.1.5"
"Microsoft.AspNetCore.OData" Version="7.1.0"

### Reproduce steps

New api project, add an EF data context.

Add Oda

[2019-08-01 19:49] brjohnstmsft opened #1874 "Deserialization of unknown collection property fails with NullReferenceException"
When `ODataMessageReaderSettings.ReadUntypedAsString` is set to `false`, deserialization of a resource with an undeclared non-empty collection property will fail with `NullReferenceException`, resulting in a useless error message for customers. The same happens when deserializing a complex collection of an abstract type where the resources in the collection are missing the `@odata.type` annotation

[2019-08-02 09:38] emturner commented on #255
also facing this!

[2019-08-02 20:43] kosinsky commented on #1808
#1728 was merge. Could you validate with 7.2.x?

[2019-08-02 20:44] kosinsky commented on #1221
Fix #1728 was merged. Could you validate with 7.2.x?

[2019-08-02 20:53] kosinsky commented on #1827
#1728 was merged. Could you validate your scenario with 7.2.x or nightly build?

[2019-08-02 20:59] kosinsky commented on #1873
Controller should derive from ODataController or use ODataFormatting attribute to generate standard OData serialization in a form
[code]
instead of base JSON serialization
[code]

[2019-08-02 22:15] brjohnstmsft commented on #1874
@mikepizzo Per the stack trace above, it is being thrown in ODataLib.

[2019-08-03 11:59] cdarrigo commented on #1873
Adding the attribute and changing the controller base didn't seem to resolve this issue:

[code]

![image](https://user-images.githubusercontent.com/5930755/62411641-2924b600-b5c4-11e9-8ccf-b484ea587ce0.png)

I've also noticed that commands like count aren't working, but expand is.  the Count argument seems to be ignored, and instead It just returns the default payload
![image](https://user-images

[2019-08-05 17:49] mburbea commented on #1676
Still broken in 7.2 :(

[2019-08-05 18:21] KanishManuja-MS commented on #1676
@mburbea It is likely that this is still unfixed as it was not prioritized for the set of fixes for this release. I can work with you if you are willing to contribute a fix.
There were some IN operator improvements in ODL in some previous releases if that may have fixed this. Do  you know what ODL version you are using?

[2019-08-05 18:37] mburbea commented on #1809
This is also broken in 7.2 still. It's disappointing that very little was fixed.

[2019-08-05 18:41] mburbea commented on #1676
I'm using Microsoft.OData.Core 7.6 when I tried just now.
As a workaround, my webapp is translating expressions that should be `in` to `or`. (e.g.
color eq 'Red' or color eq 'Blue' or color eq 'Green', as opposed to the simpler `color in ('Red','Blue','Green')`

[2019-08-06 11:02] JannyM85 opened #1878 "$Expand does not work when i get one item"
I prepare Odata API for mobile application, and i have a problem with $Expand. When i use this query everything works ok.

Query: .../odata/forms?$expand=FormFields($expand=FormFieldRadios)&$filter=FormId eq 1

But when i use this query:

.../odata/forms(1)?$expand=FormFields($expand=FormFieldRadios)

Expand does not work and items collection si empy.

More information about configuration here: ht

[2019-08-06 15:29] mburbea commented on #1843
Still broken in the latest version. This is problematic as it prevents sql server from caching plan shapes. It also prevent usage of legacy types like `DateTime` and `SmallDateTime` which do not support this transmission format.

[2019-08-07 00:19] KyleMcMaster commented on #1870
@kuldip1490
Can you explain your issue with a little more detail? In my experience, I have OData functions that take in multiple parameters that can be "optional" by passing empty strings in the request url for the values in the function parameters. An example request url might be something like
`
localhost:62891/odata/employee/getemployee(Id='123',EmpId='')
` where empid is passed in as an empty

[2019-08-07 06:20] kuldip1490 commented on #1870
@KyleMcMaster  thank you for your feedback, that is good explanations and this example will help me to resolve my issues but one doubt that is it possible to  URL should be possible like  [localhost:62891/odata/employee/getemployee(Id='123')](url) instead of [localhost:62891/odata/employee/getemployee(Id='123',EmpId='')](url)  with the same function ?

[2019-08-07 13:51] tfabian opened #2071 "Add related object to a newly created entity with ODataController and DataServiceContext"
I would like to save a newly created entity with a newly created child in a single changeset (batch), with Microsoft.OData.Client 7.6.0 and Microsoft.AspNet.OData 7.1.0. The relationship between them is required: [dbo].[BoxInstance].[IdTemplateInstance] (FK, int, not null)
I've tried to call this:
[code]

This doesn't work because BoxInstance.IdTemplateInstance is 0 during the post, (ForeignKey vi

[2019-08-07 20:40] RetrotecEd commented on #1773
For what it is worth I followed all the steps here and ended up in the same position as ImGonaRot.

![image](https://user-images.githubusercontent.com/25186698/62656303-bc3d5300-b918-11e9-92de-15a61d390d53.png)

I finally decided to bite the bullet and refactor all the code using the OData generated clients. It was a ton of work.

[2019-08-08 14:21] SenyaMur commented on #1413
It's worked on 7.2.0. Thank you!

[2019-08-08 21:22] kosinsky commented on #1873
From your screenshot I can see that output is vanilla JSON instead of proper OData format (not @odata.context and values collection present).
I was able to reproduce issue. Looks like basic ASP.Net Core routing break formatting for OData. As a result you need to remove `[Route("odata/transactions")]`
OData uses own route selection based on conventions.
Following two lines:
` routeBuilder.MapODataS

[2019-08-08 21:42] JairoMarques opened #1879 "$count=true is considering $top in count result"
My problem is when using $top, @odata.count always return the number informed in $top when according with the specification "The returned count MUST NOT be affected by $top, $skip, $orderby, or $expand".

### Assemblies affected

Microsoft.AspNetCore.OData 7.2.1

### Reproduce steps

My solution was inspired in the solution from this link: https://stackoverflow.com/questions/48662826/automapper-do

[2019-08-08 21:50] JairoMarques commented on #1210
If you don't care about a Stable Ordering, a simple way is put EnableQuery attribute like this:
`[EnableQuery(EnsureStableOrdering = false)]`

[2019-08-09 15:42] SuricateCan opened #1880 "Redirect response converted to 404"
When returning a redirect response (302) from inside a function, the response is being converted into a not found (404).

### Assemblies affected

Microsoft.AspNetCore.OData, Version=7.0.1.20718, Culture=neutral, PublicKeyToken=31bf3856ad364e35

### Reproduce steps

Create a simple model to host a parameterless function.
In the funcion's action, return a redirect:

[code]
Request the function from

[2019-08-09 22:43] JairoMarques commented on #1879
After a very deep research in **Microsoft.AspNetCore.OData** code, I detected that the problem is in **ODataResourceSetSerializer.cs**

[code]
**At this point the Select Count(*) is executed but using then entire query, including TOP**

I tried to change the **QueryOptions** to remove the TOP, but the things is more complex. Any help?

[2019-08-10 06:52] genusP commented on #1879
@JairoMarques, for this scenario you should manually calculate total records count.
For this, you should setup `TotalCount` or `TotalCountFunc` property of `ODataFeature` on action your controller.
[code]

[2019-08-10 22:56] JairoMarques commented on #1879
@genusP,

it's a nice workaround and I'm use it and it works brilliant! Thanks a lot!

But, in your opinion, and inspecting the Microsoft.AspNet.OData Library,  this TotalCount couldn't be easily calculated based in the query and should be automatic?

[2019-08-11 06:26] genusP commented on #1879
Library waits in actionresult query without apply query options. If you have applied them, then for correct calculate counts of records you need implement its self.

[2019-08-12 06:05] luanle1106 opened #1881 "ArgumentException: 'select' and 'expand' cannot be both null or empty."
Hi, i get this error when run request below:

http://localhost:60365/odata/Orders?select=

ArgumentException: 'select' and 'expand' cannot be both null or empty.
Microsoft.AspNet.OData.Query.SelectExpandQueryOption..ctor(string select, string expand, ODataQueryContext context, ODataQueryOptionParser queryOptionParser)

How can i handle this error?
And this error should be from 400 client error ins

[2019-08-12 06:10] genusP commented on #1881
What you expecting from this request?

[2019-08-12 07:03] luanle1106 commented on #1881
If select or $select is null or empty. I wan't to get all properties of entity.
How can i do that?

[2019-08-12 07:07] genusP commented on #1881
For this you must use this request:
http://localhost:60365/odata/Orders?select=*

[2019-08-12 07:22] luanle1106 commented on #1881
If the user request like this: http://localhost:60365/odata/Orders?select=
So, i must translate to http://localhost:60365/odata/Orders?select=*, is it's right?

I using QueryBuilder to build new query with select=*.

But i think this is not the best way for handle this scenario.

Do you have any better idea?

[2019-08-12 07:25] genusP commented on #1881
Yes all right.

[2019-08-13 13:00] #1881 closed

[2019-08-13 15:31] KanishManuja-MS commented on #1841
@matdavies Yes, you are right. The feed existed but it was not available in the gallery. Now, it is available in the gallery.

[2019-08-13 15:31] #1841 closed

[2019-08-13 15:40] matdavies commented on #1841
Thanks @KanishManuja-MS !

[2019-08-13 16:56] luanle1106 opened #1882 "ODataQuerySettings missing copy EnableCorrelatedSubqueryBuffering in ODataQuerySettings .CopyFrom function."
I have this issue when try to set `EnableCorrelatedSubqueryBuffering = true`, but nothing happen.

I realized `ODataQuerySettings` is missing copy `EnableCorrelatedSubqueryBuffering` in `ODataQuerySettings .CopyFrom` function.

Please fix this bug for `EnableCorrelatedSubqueryBuffering`.

[2019-08-13 16:59] karanb22 opened #1883 "Action with Created() returns BadRequest"
I have a scenario where I make a POST call to a bound Action which is supposed to return a 201 Created, however ends up resulting in a failure to serialize and turns into a 400 BadRequest.

### Assemblies affected

Microsoft.AspNet.OData 7.2.0

### Reproduce steps

Models:
    Application:
                // from Microsoft Graph, the `Application` entity
    ServicePrincipal:
                // fr

[2019-08-14 12:25] XardasLord commented on #230
It would be great to have support for case-insensitive ordering using EF Core with via OData.

[2019-08-14 16:50] JairoMarques commented on #1879
I agree with @genusP and could solve my problem. Thanks a lot!

[2019-08-14 16:52] JairoMarques commented on #1879
I apply the following solution:

[code]

[2019-08-14 20:31] KanishManuja-MS commented on #1883
@karanb22 Can you please add another issue regarding the serialization error that you were getting?

@mikepizzo Does the spec consider a complex type to be a resource implying that we need to support Created() for complex types?

[2019-08-14 20:32] xuzhg commented on #1883
@karanb22 besides, did you try to call "ReturnsFromEntitySet("..")" when creating the action?

[2019-08-14 20:35] KanishManuja-MS commented on #1880
@SuricateCan Can you share your entire controller method?

[2019-08-14 20:39] KanishManuja-MS commented on #1878
@JannyM85 It may be a bug, can you try removing the expand query option enabling code from the model builder and instead only use routeBuilder to enable to query option.

[2019-08-14 20:43] xuzhg commented on #1873
@cdarrigo Can you try to use really model type not the 'object' in the action result of `public ActionResult<IEnumerable<object>> Get()`

[2019-08-14 20:50] xuzhg commented on #1870
@kuldip1490 can you try call `Optional()` fluent API after setting the parameter. Sams as `getEmployeeOptional.Parameter<string>("EmpId").Optional(); // need this optional`

Let me know whether it works or not

[2019-08-15 08:15] TehWardy commented on #1858
As per the above linked issue can someone please explain why outgoing entities are validated?
Also I think this could be better handled so that regular exception handling catches this.

[2019-08-16 06:47] kuldip1490 commented on #1870
I m not using Entity frame work so i cant use fluent API in my custom Emplyee class

[2019-08-16 07:15] genusP commented on #1870
@kuldip1490
This code in your Edm model defenition

[code]

[2019-08-16 09:10] kuldip1490 commented on #1870
yes, that's exactly

[2019-08-16 12:13] JannyM85 commented on #1878
I found the error. When i build EDM model i use bad type in .EntitySet<BadType>("Devices"). Thanks.

[2019-08-16 12:18] JannyM85 commented on #1878
Hi i was try it, but does not help.

[2019-08-16 15:01] JairoMarques commented on #1879
Hi @genusP,

using the solution above, $count works great, but if I use $skip the result is not serialized.

I'm using:
`http://localhost:5000/odata/users?$select=name,usercode&$orderby=usercode&$top=15&$count=true&$skip=99`

The query in Profiler is:
[code]
And is resulting 15 records:

[code]

But the result is not serialized:
[code]
I'm using **Microsoft.AspNetCore.OData 7.2.1**

Any idea how t

[2019-08-16 20:49] JairoMarques commented on #1879
``

[2019-08-16 20:49] #1879 closed

[2019-08-17 04:21] genusP commented on #1879
I see your expression double applied skip and take. If you use EnableQuery on controller method, remove it.

[2019-08-17 07:58] JairoMarques commented on #1879
I already did it. But when I remove EnableQuery, all Fields in the query are returned.
But instead I want only the select or expand fields.

This only happen when I apply skip

[2019-08-18 10:21] genusP commented on #1879
EnableQueryAttribute implements apply query options. If you customize this logic, you need remove this attribute and manual implement apply all query options.

[2019-08-18 20:50] vladkolodka commented on #1562
@biaol-odata but there is still XML formatter in the source code (see ODataOutputFormatterFactory.Create())

[2019-08-19 15:58] JairoMarques commented on #1879
Thanks @genusP.

I override ApplyQuery from EnableQueryAttribute and remove the $skip from QueryString. So, the skip was not doubling executing.

Problem solved!

[2019-08-19 22:41] farlock85 commented on #1441
@jvitor83 did you manage to find a solution for this? I'm running in the same issue where the example doesn't work when you use Expand.

[2019-08-19 23:08] KanishManuja-MS commented on #1874
@brjohnstmsft We finished the investigation on this. This is fixed in ODL >= 7.6.0, you don't get a null reference exception anymore but since reading untyped values is not supported in WebAPI, you get an error complaining about the properties in the payload that are not on the class.  Please let us know if you want to have a discussion around the previous issue.

[2019-08-19 23:27] brjohnstmsft commented on #1874
@KanishManuja-MS Glad to hear it's been fixed. We will increase the priority of upgrading ODL on our side. Regarding the [related issue](https://github.com/OData/odata.net/issues/1372), we only require one of the two issues to be fixed in order to avoid the nullref error message. However, in the long run it would still be great if that issue could be fixed so we can remove the workaround from our

[2019-08-20 00:10] jvitor83 commented on #1441
@farlock85 you should change to return IQueryable without generic. Like i said (did) at https://github.com/OData/WebApi/issues/1441#issuecomment-427190007

[2019-08-20 01:34] farlock85 commented on #1441
@jvitor83 sorry I meant to say, using the PageResult. We are upgrading from .NET 4 to .NET Core and it seems this is the only thing not compatible.

Before you were able to do `.ApplyTo` which would update the collection you are passing in, no need to use the return value, but now this doesn't seem to be the case anymore.

[2019-08-20 02:10] jvitor83 commented on #1441
Sorry @farlock85 i not have used the `PageResult` myself. Don't know if there is some way to use it with `ODataQueryOptions`.

The trouble is with the return of a Generic type (`PageResult<SomeModel>`) where don't use the `Queryable` Attribute. The Model can be changed by the options send from the client with Select, Expand and Apply, so the `ApplyTo` will return a different (and incompatible) Mod

[2019-08-20 08:09] saberone commented on #1748
@robertmclaws I understand that you're "defending" the OData team. I don't think it's about the team. It has to do with the fact that Microsoft has abandoned a lot of promising tech before. So if you say : "The OData team at Microsoft is under the auspices of the Microsoft Graph team. Even though Graph is super-important to Microsoft, it is a DRASTICALLY **underfunded** team. They do not have anyw

[2019-08-20 08:55] #1498 closed

[2019-08-20 14:36] farlock85 commented on #1441
I think the simplest solution here is to create a new `PageResult` object, something like this:

[code]

[2019-08-20 16:15] robertmclaws commented on #1748
The OData team doesn't need "defending", they need to be able to focus on their task list. I'm just pointing out realities as *I* see them, so people can understand perspectives. I think "Microsoft, the company" doesn't care about whether OData or GraphQL "wins". We're beyond protocol battles as an industry. They care if Azure wins. The fact that they hitched OData to Microsoft Graph is probably t

[2019-08-21 08:43] Andos25 opened #1885 "No MapODataServiceRoute() extension method with both ODataBatchHandler and HttpMessageHandler"
Currently I'm trying to add per-route delegating handler. but seems there is no proper method in src/Microsoft.AspNet.OData/Extensions/HttpConfigurationExtensions.cs which can support both ODataBatchHandler and HttpMessageHandler as parameters. It is a common case if we want use ODataBatchHandler + HttpMessageHandler

### Assemblies affected

*Which assemblies and versions are known to be affected

[2019-08-21 20:22] madansr7 commented on #1885
@Andos25 Thanks for your inputs. It seems that you have your own solution, and is it useful for every person? By the way, can you achieve it by calling couple "MapODataServiceRoute"?

[2019-08-22 04:32] Andos25 commented on #1885
@madansr7 Thanks for you reply. The version of OData WebApi  library I'm using is 5.9.0.
The code I shared above just an example, I need to change a little bit if we want to make it be useful to every person.
[code]
Per my investigation, there is no way to simply achieve it by calling different "MapODataServiceRoute", especially for adding ODataBatchDelegatingHandler part.

[2019-08-22 10:28] prochnowc opened #1886 "UriParser throws NullReferenceException when trying to filter by unknown property"
The OData.UriParser throws `NullReferenceException` when passing a filter which references an unknown collection property.

### Assemblies affected

Microsoft.OData.Core 7.6.0

### Reproduce steps

Define entity with a collection property and try to filter on a non-existent property.

[code]

### Expected result

`ODataException` with appropriate message should be thrown.

### Actual result

Excep

[2019-08-23 17:50] bdebaere commented on #1843
@mburbea This is EntityFrameworkCore's doing. Use the TypeName of the ColumnAttribute to specify the type, like below. That should solve it. In general, it's is a good idea to add the TypeName, because of index usage optimization. For example without it string values are passed as NVARCHAR instead of whatever type you specify in the TypeName of the ColumnAttribute, potentially leading to IMPLICIT_

[2019-08-23 18:05] mburbea commented on #1843
@bdebaere , this only happens with Odata. When I write a query like so::
[code]
The query generated uses a variable not a literal string.

[2019-08-23 18:12] bdebaere commented on #1843
@mburbea I wasn't arguing that OData shouldn't pass a parameter. You still have a good point there!
But it is only because T-SQL provides an implicit conversion that this works with a parameter. It is definitely still a good idea to use TypeName of the ColumnAttribute, should this behavior ever change. Consider the T-SQL below.

[code]

[2019-08-23 21:08] Discjoggy opened #1887 "OData Complex type in navigation property is null when expanded"
OData complex types in navigation properties are always serialized as `null` when the navigation property gets expanded. I am using Entity Framework Core in conjunction with ASP.NET Core + OData.

### Assemblies affected

Microsoft.AspNetCore.OData 7.2.1

### Reproduce steps

I have exactly the same issue as described on [Stackoverflow](https://stackoverflow.com/questions/57446122/odata-complex-ty

[2019-08-24 09:50] bdebaere opened #1888 "How to support nested JSON"
When following the [ODataOpenTypeSample](https://github.com/OData/ODataSamples/tree/master/WebApiCore/ODataOpenTypeSample), everything seems to work as expected, as long as the open type does not contain additional nested open complex types.

This means that this will work fine:

[code]

While this throws an exception

[code]

The exception is as follows:

`The given model does not contain the typ

[2019-08-25 20:21] bdebaere commented on #1888
I implemented a solution at https://stackoverflow.com/questions/50682776/how-to-support-a-nested-open-complex-type-in-the-odata-c-sharp-driver/57647035#57647035.

[2019-08-25 20:21] #1888 closed

[2019-08-30 00:17] RamjotSingh commented on #1707
@mikepizzo .NET Core 3 is going to GA soon (https://github.com/dotnet/core/blob/master/roadmap.md mentions Sep 2019). Has the work started on this issue?

[2019-08-30 11:44] buchatsky commented on #1179
If you use
`app.UseOData("odata", "odata", GetEdmModel());`
instead of
[code]
there is no need for explicit calling the line above just for OData routes

[2019-08-31 07:08] jinhong- commented on #1780
Any updates? We seem to be experiencing the same issue

[2019-09-04 02:54] billnguyentvlk opened #1892 "Unable to PATCH nested OpenType properties"
`PATCH` does not work with a nested `OpenType` property (a property which is `OpenType` and contains another `OpenType` property).

### Assemblies affected

`"Microsoft.AspNetCore.OData" Version="7.0.0"`

### Reproduce steps

_**POST and entity with nested OpenType, then try to PATCH it**_

(Source code forked from [SamXu's BookStore](https://github.com/xuzhg/AspNetCore/tree/master/src/BookStore))

[2019-09-04 02:59] billnguyentvlk commented on #1892
Hi @xuzhg , can you please help to take a look? Thank you so much!

[2019-09-06 15:20] grahamehorner opened #1893 "Q: new types of data table types/relationships"
with the advent of new types of data tables/query in SQL 2017 namely nodes/edges how would odata expose/present an this type of data via an API ?

[2019-09-08 09:58] FolkCoder opened #1894 "Skip token does not respect EnableLowerCamelCase convention"
When an `ODataConventionModelBuilder` enables camel-case formatting of property names via the `EnableLowerCamelCase` extension, generated skip tokens use the model's original property name rather than the formatted camel-case name. In models with non-integer key properties, the difference in casing between the skip token and the EDM property causes an exception to be throw when navigating to the n

[2019-09-09 04:22] groogiam opened #1896 "[FromBody] parameter null when using Microsoft.OData.Client 7.6.0"
Model binding does not seem to work for PUT/PATCH and POST operations when using the Microsoft.OData.Client in ASP.NET CORE 2.2 ODATA

### Assemblies affected

Microsoft.AspNetCore.OData 7.2.0

### Reproduce steps

entity parameter is always null on the controller action below when a PATCH/PUT request is generated from Microsoft.OData.Client

[code]

Example Request

[code]

### Expected result

[

[2019-09-09 05:10] groogiam commented on #1896
There was another issue causing the serialization to fail.

[2019-09-09 05:10] #1896 closed

[2019-09-09 13:20] jonjanelle commented on #1282
@DaleyKD
It should be in Microsoft.AspNet.OData.Extensions

[2019-09-10 10:15] billnguyense commented on #1767
@KanishManuja-MS  We are also facing the same issue. It happens when we are using multi-segment keys.

Is there any update on this? Thanks.

[2019-09-10 11:02] ErikNell commented on #1843
Using the TypeName property of the ColumnAttribute used to work for us as a workaround. But after upgrading from version 7.1.0 to 7.2.1 this stopped working.

[2019-09-10 13:32] xiaotupansy opened #1897 "post processing for ODataQueryOptions"
I face same problem as :
[https://github.com/OData/WebApi/issues/1257](url)

### Assemblies affected

Microsoft.AspNetCore.OData v7.2.1.

### Reproduce steps

[HttpGet]
public IActionResult Export(ODataQueryOptions<Employee> queryOptions)
{
    var query = queryOptions.ApplyTo(DbContext.Set<Employee>()) as IQueryable<Employee>;
    return Ok(query);
}

### Expected result

continue to modify data

[2019-09-10 16:05] KanishManuja-MS commented on #1767
@billnguyense This got missed in the last release. I will tag this appropriately so that we fix this in the next release. If you have investigated this and know a fix for it, we would be happy to review the PR as well.

[2019-09-11 07:45] mabouwhui opened #1898 "Some OData exceptions are not caught by the WebApi, but swallowed by Odata"
We have a WebApi in AspNet core 2.2 that uses AspNetCore.OData version 7.2.1.
For security reasons we want to have full control over the responses when exceptions are thrown, so OData stacktraces are not send back to our Api consumers.
However, some OData exceptions cannot be caught in the API; They are swallowed by the OData layer.

We are looking for a way to catch these exceptions, but are unab

[2019-09-11 11:36] SuricateCan commented on #1880
Hi @KanishManuja-MS , sorry for the delay.

Answering your question, the method can be just the return statement with no particular implementation.

One observation: I added the EnableQuery at global level. IDK if this would change anything.

[2019-09-11 17:03] KanishManuja-MS commented on #1887
@Discjoggy I have gotten it added to the backlog since I was not able to spare time to figure out the issue. Someone will pick this up before the next release.

[2019-09-12 04:54] komdil opened #1899 "AmbiguousMatchException in ApplyTo method"
As you know in C# we can create the same properties in different cases. For example, I can create `Title `and `TITLE `properties. When I create properties like that in $select query of these properties I'm getting `AmbiguousMatchException `

### Reproduce steps
Create the same properties with different cases:
`public class Product
{
    [Key]
    public Guid Id { get; set; }
    public string Name

[2019-09-14 09:23] savelievser opened #1900 "Make SelectExpandBinder public and register it in RequestContainer (the same way as FilterBinder)"
**FilterBinder** is a good example of class that is open for expanding. I can derive from it and override some methods. Then I can register my class in container, so i will be used instead of original FilterBinder. But I can't do the same with **SelectExpandBinder**. I would be great to refactor it in the same way and make public.

[2019-09-15 09:22] FolkCoder commented on #1690
Any update on this issue? I'm happy to put together a PR with a fix for this, but I'm not sure if the fix should be implemented in OData.WebApi or in the odata.net repository.

Odata.WebApi uses the core odata.net library to resolve the $count query option value (in the `ODataQueryOptionParser` class). It would be far easier to parse nonlowercase values there than attempt to deal with it in the OD

[2019-09-16 11:53] marcuskrahl opened #1901 "$filter with $count throws System.NotSupportedException exception"
A query to filter an expand field by the count of its children returns HTTP Status Code 400 containing a NotSupportedException

The PR #1844 should have fixed the issue, but it still does not work using the latest version.

### Assemblies affected

Microsoft.AspNetCore.Odata 7.2.1 (stable)

### Reproduce steps

Create a query like `/odata/Users?$filter=Groups/$count eq 0`.
If the issue is hard to

[2019-09-16 14:25] NimaAra commented on #196
@mikepizzo @xuzhg Any idea on when we can expect to get this feature?

[2019-09-16 16:19] axelgenus commented on #1866
It happened also to me and I cannot understand why... is there any update on this problem?

[2019-09-17 10:32] sherland commented on #1748
I'm having the same issue with [.NET Core 3.0 rc1](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-release-candidate-1/) released today.

Is there a timeline for when OData will be supported in .NET Core 3.0?

[2019-09-17 14:06] marcuskrahl commented on #1901
There is a workaround for some use cases by using an any query which is always true:

`/odata/Users?$filter=Groups/$count eq 0` is equal to `/odata/Users?$filter=not Groups/any(item: 1 eq 1)`

This workaround will not work if you depend on a `$count` which is not 0

[2019-09-17 15:23] mikepizzo commented on #1894
Addressed  PR #1895

[2019-09-17 15:23] #1894 closed

[2019-09-17 16:30] engenb commented on #1153
I think this needs to be reopened.  I am encountering this exact issue with Microsoft.AspNetCore.Odata / Microsoft.AspNetCore.OData.Versioning.ApiExplorer

[2019-09-17 21:16] madansr7 commented on #1872
@robertmclaws , we are investigating this issue and will fix with our next release.
+@xuzhg

[2019-09-17 21:21] robertmclaws commented on #1748
As @mikepizzo [mentioned on The OData Show last week, supporting 3.0 is going to take significant engineering effort to implement the new routing system. They have been busy implementing OData v4.01 and have not had a chance to work on that. Since they still need to support older versions of .NET Core, they'll have to break out the Routing like they broke out ASP.NET and ASP.NET Core in the first

[2019-09-17 21:27] NetTecture commented on #1748
Is there a link to that show? Because the constant refusal by the team to communicate anything resembling a release schedule is what leads to this mess. And if they went onto a show - I would love to see it.

What does "significant effort" mean? Weeks? MONTHS? A year? Because seriously, we are stuck in 2.2 with an EfCore implementation that breaks on trivial SQL - so bad that as a workaround I am

[2019-09-17 21:47] robertmclaws commented on #1748
First off, it's not a "refusal", they are busy and are a small team. It gets done when it gets done. They just finished moving all of the OData docs to docs.microsoft.com, which was a *massive* undertaking.

There was a recording of the live show, but the audio was bad. I'll ask him again on the show next week... tune it at 12pm EST on https://bit.ly/RESTierYouTube. It's part of our bi-weekly comm

[2019-09-19 07:39] darkterror-jl opened #1902 "Can't transfer int into ENUM type in POST request"
can't transfer int into ENUM type

### Assemblies affected

I'm using Microsoft.AspNet.OData.7.2.1

### Reproduce steps

1. create a POST API(mvc/web api/odata) and with one incoming parameter in ENUM type
example uri: `public async Task Post(System.Net.HttpStatusCode code)`
2. send request within application/json format and without quotation
example:
uri - https://localhost/SomeController/
body -

[2019-09-19 09:46] norcino opened #1903 "Using MapODataServiceRoute to register OData route prevent query operations"
Setting up OData route using **MapODataServiceRoute** causes the controller to block all operations such, selection, filtering and ordering.
I tried to use SetDefaultQuerySettings enabling everything, or whitelisting everything in the EnableQuery attribute but with no success.
The only way I could solve my problem was to use app.UseOData to register odata route.

### Assemblies affected

Microsoft

[2019-09-19 15:40] MYoucef opened #1904 "Question: Extend IQueryable to add properties without altering the payload"
Hello

Is it possible to extend the IQueryable to include extra properties which were not selected in the query without altering the payload (uri)

Right now, we can accomplish this by overriding the ApplyQuey method

`
public class EnableAdvancedQueryAttribute : EnableQueryAttribute
    {
        public override IQueryable ApplyQuery(
                 IQueryable queryable,
                 ODataQ

[2019-09-19 21:35] #1698 closed

[2019-09-19 22:07] Olli64 opened #1905 "Feature suggestion?: EnableQuery without controllers."
Hey,
Is it possible to add` [EnableQuery] `support for requests without having Controller with Actions to put them into?

I'm using a middleware library that uses Endpoints(Extension for endpoints.MapGet<>()) to handle routing forward to handlers to do the work after it.

But the question pretty much just is, is it possible to enable OData queries without having actions?
In .NET there was method`

[2019-09-19 22:17] xuzhg commented on #1904
@MYoucef , Would you please describe your scenario more detail for us better understanding?

[2019-09-19 22:33] xuzhg commented on #1902
@darkterror-jl  It seems not supported yet. Any contribution is welcome.

[2019-09-19 22:37] xuzhg commented on #1901
@marcuskrahl It's not supported in ODL, see https://github.com/OData/odata.net/pull/1336.

[2019-09-19 22:41] xuzhg commented on #1900
@savelievser Would you please contribute it? we'd happy to review and merge it.

[2019-09-19 22:48] xuzhg commented on #1899
@komdil We should first search the property using exact naming, then using the case insensitive. It seems it's a bug in the code. Are you interested in contributing it?

[2019-09-20 06:43] savelievser commented on #1900
@xuzhg sure

[2019-09-20 07:17] Danielku15 commented on #1904
@MYoucef We achieve this with unwrapping the result object again.

[code]

@xuzhg Possible scenarios are to apply additional global filters, sorting etc. Or we are calling some entity framework specific methods like `IgnoreQueryFilters`

[2019-09-20 08:04] si2030 commented on #1748
Ok so it was clear I would be white before I see anything I could use in 3.0 so I have had to write my own generic extension method for filtering and sorting via IQueryable and using dynamic Linq (builds and expression tree and executes it once the tree is finished). They can take all the time they want now.. anyway as I understand it OData may not be able to do filters across multiple tables etc

[2019-09-20 08:28] MYoucef commented on #1904
I'll try to explain our scenario with the following example.
So, basically, we have an entityset with properties. some properties may depend on others.

[code]
To calculate FullName, we need to get both FirstName and LastName. Note that this is a very basic calculation. But, in real scenario, we have more complex calculation which depends on the context of the user.

So, When we request the proper

[2019-09-20 08:31] NetTecture commented on #1748
Where you get that from? We do that with the current implementation all the time.

[2019-09-20 08:33] MYoucef commented on #1904
Thank you for your answer.
This is quite similar to what we're doing to include extra properties in the IQueryable.
My question was to check if there is a better way to do it with extensible points in the OData implementation. Because basically, the current implementation of OData manage all properties, we need just to add a separation of requested properties (uri) and needed properties (dependenc

[2019-09-20 11:26] norcino commented on #1903
I had to remove the routing tag from the controller.
`[Route("{tenant}/odata/[controller]")]`
Turns out that this messes completely OData, and in fact having the rout specified in the controller, I get exception when I add another get method, for example to Get all and Get(int key) by Id.

In this case the error is:

I am not closing this issue, because I tried to change the base controller from O

[2019-09-20 11:39] norcino opened #1906 "IHttpContextAccessor.HttpContext.GetRouteData() always null - How to get RouteData in OData?"
Using OData I can no longer retrieve the RouteData from the HttpContext.
So fare I been using the HttpContextAccessor to extract from the url, the tenant name as configured in the mvc routing.
But because the endpointrouting must be disabled when using OData, the RouteData is not populated therefore available anymore.

### Assemblies affected
Microsoft.AspNetCore.App 2.2.0
Microsoft.AspNetCore.ODa

[2019-09-20 15:35] shatteredarm commented on #1635
I just ran into this issue. Is there a workaround, besides not using batch requests?

[2019-09-20 16:34] norcino commented on #1265
@biaol-odata  I been trying to understand the logic behind _ODataServiceCollectionExtensions.AddODataQueryFilter(IActionFilter)_ but still to me does not make sense.

So to recap, we have different options we can use to configure OData capabilities.

1) Service collection AddODataQueryFilter (allow to set page size)
2) In UseMvc RouteBuilder extension methods: .Select().Filter().OrderBy() .. (no p

[2019-09-22 00:22] si2030 commented on #1748
My apologies, I went back and reread the suggestion regarding complex nested tables and it appears its to do with the program that writes the queries for OData and not OData itself.

[2019-09-23 09:58] olsh opened #1908 "PageSize on global HttpConfiguration is ignored"
PageSize on global HttpConfiguration is ignored.

### Assemblies affected

Microsoft.AspNet.OData 7.2.1

### Reproduce steps

1. Set the global configuration with `PageSize = 5`

[code]

2. Add `[EnableQuery]` to an action
3. Send an HTTP request to the action with `$top=100`

### Expected result

Only 5 entries are returned from the server.

### Actual result

100 entries are returned from the se

[2019-09-23 12:23] robertmclaws commented on #1908
I can confirm this behavior in my apps.

[2019-09-23 17:42] engenb opened #1909 "Question: configure EF where clause for open type $filter"
Hello,

I have a model with an open type, represented as ```IDictionary<string, object> Data { get; set; }```.  In EF, this property has a converter defined, to deserialize/serialize the property as JSON when it is written/read to/from the database as such:

[code]
Generally speaking, this is working great, except a new requirement requires me to fetch records based on a dynamic property, if it ex

[2019-09-23 18:02] KanishManuja-MS commented on #1908
@olsh Seems like a bug got introduced with the paging changes in the last release.

[2019-09-23 20:37] BuairtRi commented on #1707
.NET Core 3 went to GA today - do I have to turn off endpoint routing for my OData API to work? What's the update on this?

[2019-09-23 20:53] BuairtRi commented on #1748
@robertmclaws There's nothing wrong with developers communicating their needs and desires to the OData team and to Microsoft in general. If, in fact, the OData team is underfunded, then hopefully the OData team can take this thread to the higher-ups at Microsoft in order to advocate for additional funding.

I would argue that Microsoft, and particularly the OData team, needs to be better about com

[2019-09-23 21:35] NetTecture commented on #1804
Is there any proper documentation on using ODataRoute? I have it working in some scenarios, but it fails totally for tw level containment (I.e. entity, contained entity (collection), contained entnty (collection). I am referring to using manual routing, but then the return fails to properly serialize.

[2019-09-23 21:40] robertmclaws commented on #1748
@BuairtRi I'll bring it up with Mike tomorrow and see what can be done about communicating the timeline.

Folks, I know it's disappointing/frustrating. I was in your shoes with OData's RESTier project for a long time. I'm working on articles to help guide people through how to structure your apps when requirements mean that the API and the front-end can't be on the same .NET. I've been doing it fo

[2019-09-23 21:46] NetTecture commented on #1748
Well, for most of my API's the API and the server HAVE to run on the same .NET instance otherwise I have a slution for a manager - totally useless. Bear with me.

Most of my servers actually are real time persistent data connection servers. Not web server with datbase style, but servers processing large amounts of data that partially MAY have a database behind them but keep a lot of data in memory

[2019-09-23 21:50] BuairtRi commented on #1748
I think we'd all appreciate that.

This isn't just about front-end/back-end architecture differences. I do virtually no front-end development in .NET - it's all in Angular. All I build in .NET Core these days are APIs. But I work with Microsoft AspNetCore Identity along with OData. This would require me to split my APIs into two separate projects, and possibly host them in different places, which

[2019-09-23 21:52] sinadell commented on #1758
@dh97243 @xuzhg I'm running into same issue. How can we workaround this issue?

[2019-09-24 04:19] #1401 closed

[2019-09-24 06:21] Danielku15 commented on #1676
I quickly debugged the library and the issue is in the `FilterBinder.BindCollectionConstantNode`:

https://github.com/OData/WebApi/blob/7ab7dbf5e7f814c19f140e27404061036dff49fa/src/Microsoft.AspNet.OData.Shared/Query/Expressions/FilterBinder.cs#L384-L405

The method creates a new `List<EnumType>` via reflection, but the `ContantNode item` contains a `ODataEnumValue`. For other queries like with in

[2019-09-24 08:06] Danielku15 commented on #1676
I just opened a PR which should fix the issue. Sorry to state it that bad but the way how the OData project is maintained sometimes is really poor. Communication is not happening and even when stuff is put to "investigating" or "ready-for-review" nothing happens. It was literaly 1 line of code to be changed and it took me a few minutes to get it fixed.

[2019-09-24 11:33] Danielku15 commented on #1748
I would also really like to know how the future of this project looks like. The old ASP.net is more or less dead. ASP.net core and EF core on desktop framework are dead. The future is asp.net core on .net core 3.0 and .net 5. For me it would be great to know:

1. **Is there a clear roadmap for supporting asp.net core 3.0 (and by this .net core 3.0)?**
We just started a new project based on OData.

[2019-09-24 13:24] savelievser opened #1911 "30+ unit tests fail when system date format is "Russian (Russia)" or other not similar to "English (United States)""
I want to contribute to the project.
Before creating new branch and make code changes I decided to build and run unit tests of [current version](https://github.com/OData/WebApi/commit/c88241562000cc0ceb8a90b3455e0076b7573f14) to be sure that all tests pass. Unfortunately they don't. There are 34 failed tests.

Is there a stable version that passes all tests that I should branch from? Or I should t

[2019-09-24 14:46] NetTecture commented on #1748
Here is another little thing. Unless you are happy to run under .NET core 2.1 - you run out of support 3 months. Period. .NET core 2.2 is end of life end of the year. Now, it will not fail immediately - but it means that for a supported runtime you either need 2.1 (3 year long ter mstable version) or - .NET Core 3.0.

[2019-09-24 14:48] JohnGalt1717 commented on #1748
@NetTecture Agreed it's that bad. But it will be .NET Core 3.1 by then. Hopefully they get their act together and sync up Odata to .NET Core 3.1 at least.

[2019-09-24 16:05] mikepizzo commented on #1748
Thank you all for your comments.  I get that you're frustrated, and I do appreciate your passion.

The drastic changes that .NET Core 3.0 introduces are a challenge for us, as we still have customers on .NET Classic as well as .NET Core 2.  While we are able to absorb the new framework releases in our lower level libraries fairly easily, the close integration of the WebAPI OData stack makes it muc

[2019-09-24 16:10] BuairtRi commented on #1748
@mikepizzo Thank you for your reply!

Can I ask - are there ways that we, as the community, can help advocate for OData? Can we be emailing higher ups at Microsoft asking them to hire more people for the OData team? Can we be raising noise with the AspNet Core teams, asking them to coordinate more carefully with you or lend you team members to help with this project?

I definitely don't want to be

[2019-09-24 16:53] KanishManuja-MS commented on #1911
@savelievser The unit tests pass. There might be an issue with E2E tests that we are looking into but I suspect that you don't have the right environment setup. Can you share with me the tests output?

Thanks!

[2019-09-24 17:47] savelievser commented on #1911
@KanishManuja-MS sure.
That's my [mstest.log](https://github.com/OData/WebApi/files/3648681/mstest.log)
I followed instructions on the main page (run build.cmd). I also tried to run "build.cmd EnableSkipStrongNames" before that.
I tried it on 2 different machines and got the same result.

[2019-09-24 18:49] NetTecture commented on #1748
@mikepizzo You know, here is a little hint on how to keep people askingaround for SOME roadmap quiet.

Head over to https://docs.microsoft.com/en-us/azure/devops/release-notes/features-timeline and look at the feature pipeline for Azure. VERY rough outlines, in quarters, with very small points each. Note how the future elements are NOT hyperlinks (and the existing ones lead to the azure ticket ite

[2019-09-24 21:22] mikepizzo commented on #1748
@BuairtRi -- Thanks for looking to find ways to help!

The best way to get Microsoft to invest more deeply in OData is to use it -- and to let Microsoft and others know you use it, and how.

One of the challenges of OData has always been that we don't know who all is using it, and for what, which makes it hard to gauge what the value of ongoing investments in the community. We use it a great deal

[2019-09-25 07:27] MYoucef commented on #1904
@xuzhg
Do you have any update on this question please?

[2019-09-25 11:19] savelievser commented on #1911
@KanishManuja-MS I run Microsoft.AspNet.OData.Test.DateTimeTest.FunctionsWorksOnDateTime test in debug mode and caught following exception inside _client.SendAsync(request)_ call:
`System.InvalidOperationException: 'The parameter conversion from type 'System.String' to type 'System.DateTimeOffset' failed. See the inner exception for more information.'`
`Inner Exception (1/2)
System.FormatException

[2019-09-25 13:05] rvanmaanen commented on #1887
A similar (but different) issue here:

**Entity Employee**
- has many Assignments

**Entity Assignment**
- has required Jobprofile (navigation property)
- has WorkingAmount (complex type)

**Entity Jobprofile**
- just has 2 properties

Strangely, in my case when selecting an Employee and expanding the Assignments the following happens:
* Assignment.Jobprofile = null
* Assignment.WorkingAmount = fi

[2019-09-25 14:54] AALGate opened #1913 "[compatibility Issue] (WebAPI) Microsoft.AspNet.OData restored my project to Framework v4.6"
hello,

I have a Web API project using .NET Core v2.2 , but  it looks like this package doesn't support this new framework of Web API

### Assemblies affected

Microsoft.AspNet.OData  which also install Web.API package of the old 4.6 framework

[2019-09-25 16:02] KanishManuja-MS commented on #1911
@savelievser Thanks for pointing that out. Yes, you are right that the tests should be locale-independent. Can you change the issue title to reflect the same?

[2019-09-25 17:27] Danielku15 commented on #1904
_Disclaimer: I just digged already quite deep into various parts of the OData library for some extensions and bug analysis. I am not related to Microsoft and not part the OData team._

I wouldn't know that there is a built-in feature for your example usecase where you have inter-property dependencies for `$select` clauses. It will need to be built on top of the existing infrastructure. As the ODat

[2019-09-25 17:55] bdebaere opened #1912 "Support filtering string arrays"
What would it take to support filtering inside string arrays?

Suppose I had the class below, and wanted to filter on Contacts?$filter=any(PhoneNumbers, contains(item, '001')).

[code]

[2019-09-25 18:00] KanishManuja-MS commented on #1912
@bdebaere Can you try Contacts?$filter=PhoneNumbers/any(p: contains(p,'001') ? I am not sure if it would work but this would be the correct syntax in my opinion.

[2019-09-25 18:10] bdebaere commented on #1912
@KanishManuja-MS Thanks, one more ) leads to a working solution: $filter=PhoneNumbers/any(p: contains(p,'001')).
I also tested $filter=PhoneNumbers/any(p: p eq '001') which returns the expected result.

[2019-09-25 18:10] #1912 closed

[2019-09-25 18:25] Danielku15 commented on #1792
Here an update on what I found out on my own so far: The OData library builds on Microsoft.Spatial types. The serialization/deserialization will work based on these classes when you manually register a spatial type to your EDM. If your property uses the NetTopology Suite GeoAPI types, this will result in a conversion error  as `Microsoft.AspNet.OData.Formatter.EdmPrimitiveHelpers.ConvertPrimitiveV

[2019-09-25 19:50] Galad commented on #1085
This seems fixed, I guess it can be closed :)

[2019-09-25 20:33] KanishManuja-MS commented on #1913
@AALGate Please try installing Microsoft.AspNetCore.OData which is build for dotnet core.

[2019-09-25 20:34] #1913 closed

[2019-09-25 20:39] KanishManuja-MS commented on #1911
@savelievser The serialization format should not vary based on the locale setting.

If it is, it is actually a code bug. If the tests are expecting a different string based on locale, it is a test bug.

[2019-09-25 20:43] KanishManuja-MS commented on #1909
@engenb You can try looking at the FilterBinder code and inject your own FilterBinder through dependency injection that just handles the open properties differently.

[2019-09-25 20:50] KanishManuja-MS commented on #1906
@norcino Asp.Net OData does not currently support endpoint routing. We have it in our backlog and will support endpoint routing with Asp.Net core 3.0 support.

[2019-09-25 21:32] dhruvb14 commented on #1707
Also interested in this as We want to add OData to our API which is .NetCore 3 serving data to our Blazor Client

[2019-09-26 00:53] KanishManuja-MS commented on #1908
@olsh Does this filter ever get called? I tried debugging, it does set the pageSize correctly but the OnActionExecuted for the EnableQueryAttribute gets called.

[2019-09-26 02:33] weitzhandler commented on #1748
Hi!
Now that .NET Core 3.0 has been released, are there any steps that can be done internally to make it OData work in 3.0 projects? I'm willing to contribute.

[2019-09-26 14:05] behrouz-s commented on #1694
You need to add filter:
`/principals?$filter=(isof('example.Data.Entities.Person'))&$expand=BillingAddress`

[2019-09-26 14:21] behrouz-s commented on #1643
I have same problem.
Is there any update?

[2019-09-26 16:19] KanishManuja-MS commented on #1748
@weitzhandler There are workarounds but I don't think those workarounds can be part of product code. What we are considering is going down this path - https://github.com/aspnet/AspNetCore/pull/8955.
If you want to take a shot at it, feel free.

[2019-09-26 23:04] luckyycode commented on #1748
the only thing we can't update our project to net core 3.0 is because of OData, we all would be super glad if it will be available as fast as possible ;)

[2019-09-27 01:05] weitzhandler commented on #1748
@KanishManuja-MS Thanks a lot for this direction!
Gonna play with it, hopefully I can put something together.

[2019-09-27 01:24] weitzhandler commented on #1810
I agree to the necessity, not to the way it's requested.
[Here](https://github.com/OData/WebApi/issues/1748#issuecomment-535579249)'s a comment that points to a potential direction we'd want to take in implementing the routes to make OData work in .NET Core 3 (by @KanishManuja-MS).

[2019-09-27 01:25] weitzhandler commented on #1748
@enchev Since this issue applies to .NET Core 3 in general, could you please update the title?

[2019-09-27 01:27] weitzhandler commented on #1810
Looks like this issue is a duplicate of this one, that was opened earlier: https://github.com/OData/WebApi/issues/1748. Might be a good idea to keep the discussion in one place.

[2019-09-27 05:19] NetTecture commented on #1893
You do not?

Odata WebApi is the implementation of the OData standard. So, basically - before you start implementing new data types, they must be implemented into the OData standard. And then obviously there is a brutally large backlog on the API. And remember, that the committee that at some point removed a simple DateTime data type and took YEARS to actually see the benefit of an IN query operat

[2019-09-27 06:57] hirre commented on #1748
@mikepizzo We really need OData to work with .NET Core 3.0 and future releases... When it comes to giving it a "buzz", OData is critical in our new server platform. We are the leading supplier of access control systems in the nordic countries.

[2019-09-27 07:30] Danielku15 commented on #1909
In your case you likely want to extend the `BindDynamicPropertyAccessQueryNode` method of the FilterBinder and register your custom variant . This method translates the access to a dynamic property of an open type to an Expression. In your case you likely want to translate it to a custom function call that unwraps a property. e.g. a `$filter=DynProp eq 1` would need to become `.Where(x => JsonExte

[2019-09-27 07:35] alc86 commented on #1748
Is there any workaround to use the current version with .Net Core 3 ?

[2019-09-27 11:09] obujeiromhginsurance commented on #1748
In summary waste of time to read all of this

[2019-09-27 16:46] #1906 closed

[2019-09-27 22:11] xuzhg commented on #1872
@robertmclaws Would you take a look the PR?

[2019-09-30 12:46] Nerevarin117 commented on #1221
I also had this issue and upgrading to 7.2.x fixed it, thanks!

[2019-09-30 14:26] KrzysztofPajak commented on #1748
When OData will be available for NET Core 3.0 (estimate time)?

[2019-10-01 20:43] JohanOtto opened #1917 "OData for ASP.NET Core 3.x"
The OData API is not backwards compatible because of the removal of Microsoft.AspNetCore.Mvc.Core.Internal and also does not support the new endpoint model. When do we expect this to work?

### Assemblies affected

Microsoft.AspNetCore.OData

### Reproduce steps

Even using the getting started guide and not using endpoints I get the following behavior

In an ASP.NET Core 3.x app in the `startup.cs

[2019-10-01 22:40] KanishManuja-MS opened #1918 "Bound functions and actions for complex types."
*Short summary (3-5 sentences) describing the issue.*

In the library today, actions and functions can only be bound to entity types. The protocol allows for associating operations to complex types as well, the library should include support for that.

### Assemblies affected
OData WebAPI 7.2.1

[2019-10-02 09:45] josalper commented on #1748
This is crazy, I can't update my project to Net Core 3.0 only for this reason... :(

Please, an estimation date for the compatible release?

[2019-10-02 09:53] TheAifam5 commented on #1785
As far I checked, theoretically that case could be solved by customizing `ODataEnumSerializer`:
https://github.com/OData/WebApi/blob/12d998c0e60ed9bcf1a45dbdc650a51a3578b763/src/Microsoft.AspNet.OData.Shared/Formatter/Serialization/ODataEnumSerializer.cs#L83

It also can be required for deserializer:
https://github.com/OData/WebApi/blob/12d998c0e60ed9bcf1a45dbdc650a51a3578b763/src/Microsoft.AspNet

[2019-10-02 14:55] mikepizzo commented on #1748
I don't have a solid date yet (sorry) but I wanted to update on status --

Based on overwhelming community feedback (thanks!) that this is high on our priority list for implementing this quarter (which started yesterday). We have done an initial investigation and are working with the ASP.NET team to get this functionality delivered as quickly as possible.

More excitingly, this engagement is leadi

[2019-10-02 15:07] BenjaminCharlton commented on #1748
:-D

Hooray!!!

For me, I prefer option 2, especially if it can be completed this year as you suggest it might be.

[2019-10-02 15:09] hirre commented on #1748
I think the second option is better for making the lib more future proof. We want to be able to use OData i the future whether it's .NET 5, 6, 7 and so on...

[2019-10-02 15:11] BuairtRi commented on #1748
@mikepizzo Thanks for providing an update!

A lot of it depends on the differences in timelines. If we're talking about a matter of a couple of extra weeks, then I'd opt for the method which supported endpoint routing. However, if we're talking the difference between getting something out this quarter or something out in the spring, I'd prefer to just move to .NET Core 3 without endpoint routing,

[2019-10-02 15:14] tjrobinson commented on #1748
@mikepizzo Thanks for the update.

Would option 1 make option 2 not possible at all, or is it just a matter of which you work on first? I think the answer to that would influence people's choices, including those already posted.

I would prefer option 1 in the short-term as we're not using endpoint routing but are currently unable to upgrade the rest of our application to .NET Core 3.0 to advantag

[2019-10-02 15:17] JohnGalt1717 commented on #1748
We don't use any of the routing at all. We simply [EnableQuery] on webapi endpoints and we're done.  So if you can simplify it so that that functionality works without having to enable anything else that would be a major win and simplify everything greatly.

Then the rest is gravy.

[2019-10-02 15:19] mikepizzo commented on #1748
@BuairtRi -- thanks for the support. Looking forward to seeing that blog post!

@everyoneelse -- thanks for the feedback on options 1 versus 2.  I don't know the difference in how long each option would take, but your feedback helps balance the two options.  Long term we'll definitely make sure we have something that will continue to grow with .NET n++. This thread has kicked off discussions with

[2019-10-02 15:38] mgernand commented on #1748
I would like to share the experience I made when trying to create a version that runs on ASP.NET Core 3 and the legacy routing system (mentioned by @mikepizzo). The result of this experiment is a working OData service running on ASP.NET Core 3.0. The code can be found in my fork of this repository:
[OData-Core3](https://github.com/mgernand/WebApi)

 There are several thing I ran into trying to mak

[2019-10-02 15:40] BuairtRi commented on #1748
Oh, my @mgernand!  Thanks for that!

[2019-10-02 15:50] luckyycode commented on #1748
Meh we just gotta make own OData version lol

[2019-10-02 20:15] olsh commented on #1908
Hi @KanishManuja-MS
Sorry for the late response, yes, it seems like `AddODataQueryFilter` doesn't change anything.

[2019-10-02 21:38] xuzhg commented on #1872
Merged and close it. Thanks.

[2019-10-02 21:38] #1872 closed

[2019-10-02 23:55] xuzhg commented on #1819
Fixed and close it.

[2019-10-02 23:55] #1819 closed

[2019-10-02 23:57] xuzhg commented on #65
It should support after https://github.com/OData/WebApi/pull/1738. Please open new issue if you have further concerns. Thanks.

[2019-10-02 23:57] #65 closed

[2019-10-03 00:20] xuzhg commented on #1814
.NET Classic has have the proposal.
So, add that for .NET Core version.

[2019-10-03 00:21] xuzhg commented on #1814
Fixed and Close it.

[2019-10-03 00:21] #1814 closed

[2019-10-03 03:58] weitzhandler commented on #1748
@mikepizzo thank you so much for tuning in!
If option 2 would take longer to implement I'd want to go with option 1.
But I guess this will also have impact on the development of RESTier, which I'm also looking at, though I'm still not familiar with its internals, so would pick an option depending on how it will delay/speed up the support of RESTier for .NET Core and .NET Core 3.
<sup><sub>
BTW, I

[2019-10-03 08:08] vladimirstemberk commented on #1748
@mgernand
In your AspNetCore3ODataSample.Web in startup.cs you have no ActionConstraintCache as singleton, but it seems its working anyway..

[2019-10-03 08:27] mgernand commented on #1748
@vladimirstemberk I added the singleton in the `AddOData `extension method not in the `Startup.cs`. Have a look at `ODataServiceCollectionExtensions.cs`.

[2019-10-03 09:09] Danielku15 commented on #1748
@mikepizzo If I need to choose I would vote for option 2, longer but more sustainable. If I could propose the path I would say: start from scratch on a .net core 3 only version and deprecate the current one. Drop the old-style ASP.net support completely and focus on using only new ASP.net core features. I saw a lot of technical dept in the codebase by trying to support both worlds. You always need

[2019-10-03 09:44] weitzhandler commented on #1748
These two are duplicates #1748 #1810. I think one of them should be closed so we can keep the discussion in one arena.

[2019-10-03 12:42] casperOne commented on #1755
@KanishManuja-MS I can't speak for @rossbuggins but now that `IAsyncEnumerable` is out in the wild, I think the best ask would be to support allowing controllers to return an `IAsyncEnumerable<T>` implementation (or `Task<IAsyncEnumerable<T>>`).

This would probably require a change in the `TypeHelper` class here:

https://github.com/OData/WebApi/blob/9e447bd77d177cf4cd1e285c318ffc3185a34c12/src/M

[2019-10-03 13:25] TehWardy opened #1922 "Posting Arrays"
I have an entity that looks something like this ...

[code]

In postman I can build my json blob like this ...

[code]

... then in my OData (WebApi) controller action I have ...

[code]

When sent to the server, this post succeeds just like I would expect.

Now Lets do the same in .Net ...

[code]

This for some reason gives me a ModelState error that reads "A node of type 'PrimitiveValue' was re

[2019-10-03 14:06] TehWardy commented on #1873
Probably related to this ...

https://stackoverflow.com/questions/37993788/odata-collection-parameter-bindings-do-they-actually-work/38051214#38051214

... hopefully my experience might offer some insight here.

[2019-10-03 14:08] btull89 commented on #1748
Option 2 gets my vote.

[2019-10-03 14:49] TehWardy commented on #777
https://github.com/OData/WebApi/issues/1922 is probably related to this in some way.

[2019-10-03 15:09] mikepizzo commented on #1810
See longer discussion in #1748. Closing this thread to consolidate discussion.

[2019-10-03 15:09] #1810 closed

[2019-10-03 15:18] TehWardy commented on #1922
So looking at this it's not looking like it's specifically an issue with Arrays.
I've managed to come up with this "workaround" for my situation as a couple extension methods ...

[code]

One for adds, and one for updates (since i also have an equiv update all method on my controllers too.

I have also noticed that I can't just define a controller action like this ...

[HttpPost]
public virtual as

[2019-10-03 15:30] weitzhandler commented on #1810
Maybe a good idea to rename the other one to just ".NET Core 3.0", the current title is a bit out of date and deceiving.

[2019-10-03 22:52] norcino opened #1923 "Use EntitySetConfiguration to setup MediaEntity"
**Goal**
As described here: http://docs.oasis-open.org/odata/odata-json-format/v4.0/cs01/odata-json-format-v4.0-cs01.html#_Toc365464710
I would like my entity to return mediaReadLink and mediaContentType when getting by ID an entity.

**Expectation**
Given a valid setup code as the following:

[code]
I would like to be able to add something like the below:

[code]
or alternatively:
[code]

For a r

[2019-10-03 23:08] xuzhg commented on #1922
to set an empty array value for the property "RelatedStuff" may also resolve your problem?

[2019-10-03 23:10] xuzhg commented on #1917
Duplicated with #1748 . Can you close it and let us use that issue to track on the .NET Core 3.0 implementation. Thanks

[2019-10-04 09:45] TehWardy commented on #1922
Yeh it would @xuzhg

My thinking on the situation here is that it's reporting the .Net generated JSON for a valid object as invalid unless I allocate more ram to construct these empty collections prior to serialization when in fact the value "null" is fine according to the metadata.

Using the above code I can omit the null properties which causes it all to work but it would be a much nicer user e

[2019-10-04 17:37] TehWardy opened #1924 "EF Core Many to Many join tables"
So in short ...
How do we expose many to many join table entity sets in odata for full crud usage just like any other entity?

And here's the longer version of the question ...

Now that EF Core is forcing exposure of the "Many to Many" join tables as entities in our models is there some advice for exposing controllers so that we can CRUD on this new entity type with a complex / multi column key d

[2019-10-05 13:57] JohanOtto commented on #1917
Apologies

[2019-10-05 13:57] #1917 closed

[2019-10-05 14:03] JohanOtto commented on #1748
My workaround is splitting my OData from the rest of the app with some middleware on the netcoreapp3 main app to relay the requests securely and lock it down. Once you released an initial update I can change the OData net46 asp core app to be a class library targeting netstandard1.1 and add the assembly as a webpart - remove the middleware. Lets get rolling!

[2019-10-07 09:12] NetTecture commented on #1748
I wish i could do that, but it would lead to the fact that I would have to implement a protocol between the odata layer and the backend that exposes all of odata -basically doing odata myself. Total non issue. Mixing with EfCore 3.0 is ALSO not possible due to netcoreapp 2.2 not supporting netstandard 2.1 - dead end. So, I can simply not split the API. Not sure how ou guys do it - what the heck do

[2019-10-07 16:58] #1908 closed

[2019-10-07 17:15] olsh commented on #1908
Emm, but why the issue was closed?
From my perspective, it's at least a misleading API design. Could you please explain the purpose of `AddODataQueryFilter`?

[2019-10-07 21:17] NetTecture commented on #1815
Dude, you are ranting - and sadly not with a  too much sense at times. Let me explain:

Only those that are not using tooling and i.e. pointing Excel to an Odata source. Or using code generators to - well - generate code for a client. And work in small enough projjects that this is not an issue, which I sort of do not see. Every single client I use comes out of a generator, and that generator is u

[2019-10-08 10:02] NetTecture commented on #1923
You are not alonw. The whole streaming thing is a mess right now, not helped by the documentation at https://docs.microsoft.com/en-us/odata/ not having a single line mentioning streaming and media url's anymore.

[2019-10-08 10:09] NetTecture commented on #574
Cna someone pick this up and at least add some basic documentation?

Note that the links http://odata.github.io/WebApi/#06-04-streamEntity which was given on April 23rd 2016 is no longe rworking at all because of the new documentation. Which is significantly improoved, EXCEPT it removed all but the most basic information - there is now NO mention of streams like at all anymore.

[2019-10-08 11:20] pmispel commented on #1777
Same issue here. It does work when 'EnsureStableOrdering = false'. But we would like this option enabled.
'c' is not part of any entity key.

using
Microsoft.AspNetCore.App 2.2.0
Microsoft.AspNetCore.OData 7.2.1
Microsoft.AspNetCore.OData.Versioning 3.2.4

[2019-10-08 12:23] NetTecture opened #1925 "Streams: Please provide basic documentation under https://docs.microsoft.com/en-us/odata/"
Once upon a time, https://docs.microsoft.com/en-us/odata/ was different and it had information about streams and other advanced ideas.

Then it got reworked.

Today the term"stream" does not show up at all in the table of contents and an hour of searching provides zero starting information about how to implement stream properties in odata these days.

This is definitely a lack. I just spent a good

[2019-10-08 15:41] robertmclaws opened #1926 "Make library debuggable"
Need to add [SourceLink](https://github.com/dotnet/sourcelink) to the project and configure .snupkg compliation so that packages deployed to NuGet contain the information necessary to step into the source code during debugging.

Related issues:
- OData.net: https://github.com/OData/odata.net/issues/1563
- WebApi: #1740

[2019-10-09 10:11] DerAlbertCom commented on #1748
Option 2 must be the final goal. BUT ASP.NET Core 2.2 Support is running out soon. So having the possibility to Update to 3.0/3.1 soon would be nice. So if Option 2 takes longer then the End of Core 2.2 Support then go for Option 1.

[2019-10-09 11:11] xiaotupansy commented on #1897
@xuzhg Can you help me?

[2019-10-09 19:51] kosinsky commented on #1897
After `queryOptions.ApplyTo(DbContext.Set<Employee>())` you will not have `IQueryable<Employee>` if $select, $expand or $apply is used. it will be `IQueryable<ISelectWrapper<Employee>>` (for $select $expand) or `IQueryable<DynamicWrapper>`  (for $apply).

It's the same as
`DbContext.Set<Employee>().Select(e => new { e.Name, Orders=e.Orders.Select(o => o.Total)})' isn't `IQueryable<Employee>` anymo

[2019-10-09 20:50] KanishManuja-MS commented on #1925
@madansr7 Can you please follow-up on this?

[2019-10-09 20:57] KanishManuja-MS commented on #1924
@TehWardy You can use [key] attribute on the model to annotate them as part of the key in a composite key.

[2019-10-10 07:27] RamjotSingh commented on #1748
@mikepizzo I am glad to know that OData team is considering fundamental rewrites to the SDK. Having contributed to the codebase I can agree the SDK has grown too complex (partially due to code being shared being MVC5 and 6) and can definitely benefit from a large scale rewrite to align better with the NetCore\NetStandard vision.

That being said, if there is enough zeal to take up that project, I

[2019-10-10 07:39] xiaotupansy commented on #1897
Can you specify how many opertions should I apply to IQueryable:
$select , $expand, $top ?
Any example will be very appreciated.

[2019-10-10 11:07] ciranmc opened #1929 ".Net core OData EnableQueryAttribute not working with $select"
My controller action works fine with OData $select operation (without EnableQueryAttribute). However as I need a default pageSize to be specified I need to use the `EnableQuery(PageSize=100)` on my controller action. Once I do this OData throws and ODataException with message

This only happens when I use the EnableQueryAttribute.

(NB. I am aware that I can specify a pageSize with the ODataQueryO

[2019-10-10 12:50] ciranmc commented on #886
Any progress on this?

[2019-10-10 18:01] jamie-tillman commented on #1748
After some internal conflict, I've decided to leave a note here documenting something that might be useful to this team.  Please take it in the spirit of critique, rather than whining.

I was looking to use oData in a new DotNetCore API I'm building.  I have to make a choice between oData and GraphQL.  oData seems like far less work and more flexible, but I am going with GraphQL specifically becau

[2019-10-10 18:06] JohnGalt1717 commented on #1815
@NetTecture Dude: I use ActionResult<IQueryable<xyz>> all of the time.  The rest of your rant is a distraction.

Stop exposing your data model!

All I want to do is provide an IQueryable and let customers filter, select and page as they wish based on that. I don't want them to have anything else.  Obviously paging is easy and I don't need oData really. Select and filter are harder.

All of the res

[2019-10-10 22:23] robertmclaws commented on #1815
Guys, be civil please. Seriously. This is a feature request not an architectural discussion.

WebAPI 2 used to have the ability to opt into the URL syntax without the EDM stuff. It looks like that went away in .NET Core. It might be possible to bring it back in the .NET Core 3.0 Routing refactor, but that would take some time. We talked about it a little bit during the RESTier Community Standup th

[2019-10-10 22:43] JohanOtto commented on #1748
Something like this?
[code]
And in for fluff
[code]

[2019-10-11 10:29] mikenorgate opened #1930 "Case insensitive dynamic properties in $select"
In version 7 the ability to have case insensitive URLs was added, this seems to work fine for predefined properties but when using an object with dynamic properties it doesn't

### Assemblies affected

Microsoft.AspNetCore.OData 7.2.1

### Reproduce steps

Create a type which has a dynamic properties dictionary which uses a case insensitive string comparer for the key
Run a query with a $filter an

[2019-10-11 17:46] Olli64 commented on #1905
Any news about this?

[2019-10-12 05:21] genusP commented on #1905
This library use WebApi infrastructure. For this case use OData.net library.

[2019-10-13 16:37] TehWardy commented on #1924
@kanishmanuja-MS I think you've misunderstood the problem ... Odata routes require THE key ... How does a pair of values go in to the single value expected in say a delete call for a join table row?

[2019-10-14 19:00] cilerler commented on #1748
I'm frustrated by uncertainty on OData.  OData is a significant part of my life, how it can not support .NET CORE 3? If we already build projects on top of OData, how can we move further?

I appreciate what you guys doing, and support you from the bottom of my heart, however, forcing our hand to "wait" without a time-frame is killing me.  Major things should move together. Please be more transpare

[2019-10-14 19:48] mikepizzo commented on #1748
@jamie-tillman, @cilerler  and others -- We really do understand, and I wish I could pull a few all-nighters and get this working. The reality, though, is that we are very closely tied to how ASP.NET does routing, and .NET Core 3.0 radically changed how routing is done which makes it non-trivial to get this working (especially if we have to mantain existing codebases for .NET Core 2 and .NET Class

[2019-10-14 20:06] jccdev commented on #1748
I would warn you graphql is not like odata at all. I tried using it in a similar way as odata and the functionality it just not there. Its just a query specification that you have to manually implement yourself.

[2019-10-14 20:23] jamie-tillman commented on #1748
I had gathered that, and oData was my preference.  HotChocolate is a
project that appears to get close to a low-code implementation if one is
using EntityFramework.  Their use of IQueryable to automatically generate a
graphql schema (complete with paging, sorting, and filtering) is pretty
good.  Granted, there is definitely more work involved than with oData, but
so far it seems like it might be o

[2019-10-14 21:05] cilerler commented on #1748
@mikepizzo I really appreciate the time you took and provide a detailed explanation. The paragraph above gave me great hope. Looks like future is bright, thanks again. 🤗

![bitmoji](https://render.bitstrips.com/v2/cpanel/c2b30773-81da-48f8-a618-2ae9193aeb5c-1d989a62-ae8a-48a8-b04f-0f575358153a-v1.png?transparent=1&palette=1&width=246)

[2019-10-15 06:32] weitzhandler commented on #1748
What's encouraging, and should also be encouraging for Microsoft to dedicate resources to the OData team, is that it looks like quite an amount of people use OData.

[2019-10-15 06:40] NetTecture commented on #1748
It is. In part because it actually gets the job done - while other attempts to standardize REST are half. At best. There are a ton of rough edges around odata (less with 4.01 that FINALLY added an IN clause) and the implementation of some features is complex (to be nice), but it acutally does an amazing work on providing a cross platform language between the most important layers in a tiered appli

[2019-10-15 09:31] NetTecture opened #1931 "Documentation? ODataRoute for root level actions - totally unclear."
if you head over to https://docs.microsoft.com/en-us/odata/webapi/attribute-routing you get a ton of information about routing (conventions and this page with attribttes) but EVERY single example is starting with an entity set.

This is not all there is.

There are unbound actions, too. And I now have to refer to REST (i.e. non odata) beause I can not get it working. And there is no documentation.

[2019-10-15 13:13] ciranmc commented on #1929
Hope this helps someone but in the end here is a workaround as EnableQueryAttribute simply does not work with $select. Firstly I removed the EnableQueryAtrribute completely. To achieve the default page size I needed I called ApplyTo without specifying the ODataQuerySettings(When you specify PageSize it incorrectly forces execution against the db server). Then using the IQueryable returned from App

[2019-10-15 14:43] tfabian commented on #1748
DLL hell....

[2019-10-15 15:54] russharding commented on #1748
Throwing my hat into this. I'm working on a project to migrate from .NET to .NET Core and the project uses OData enough that backing out is a non-starter right now. Downgrading to .NET Core 2.2 is also off the table because of the extensive use of EntityFramework, which requires us to be at 6.3/.NET Core 3.0.

Getting this fixed is a high priority for our project. If we have a fix in the .NET Core

[2019-10-15 18:54] tfabian commented on #1748
Here is the long story: I changed our common web service dll to target .net core 3. Everything successfully compiled. It was very suspicious for me, and I found out that Microsoft architects invented a new kind of dll hell. It will be called multitargeting dll hell.
I ported my brand new .net core 3 web api to use **.Net Framework** Microsoft.AspNet.OData. The correct package name is Microsoft.Asp

[2019-10-16 01:20] aderderian commented on #1748
Hoping to get this supported as well.

[2019-10-16 06:33] Danielku15 commented on #1924
@TehWardy In OData you can specify multiple keys either as path segments or via the explicit key names in the URL: http://docs.oasis-open.org/odata/odata/v4.01/csprd05/part2-url-conventions/odata-v4.01-csprd05-part2-url-conventions.html#sec_URLsforRelatedEntitieswithReferentia

[code]

The only special thing of the OData WebApi library is that you **must** prefix the method parameters with `key`.

[2019-10-16 06:58] suadev commented on #196
@robward-ms, @xuzhg is there any news on this feature?

[2019-10-16 11:51] emouawad commented on #1748
Any timeline update on this? even a nightly would do!
Anyone found a workaround?

[2019-10-16 16:19] xuzhg commented on #196
@suadev Thanks for querying. I am busy on this feature now. I hope I can finish it quickly and release it in the next version.

[2019-10-16 22:15] fiksen99 commented on #939
We aren't able to use this alongside Swashbuckle with ASP.NET Core 2.1 and .NET Framework 4.6.2 due to soemthing related to these issues

https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/581
https://github.com/rbeauchamp/Swashbuckle.OData/issues/154

Is there a plan to get OData working seamlessly with tools such as swashbuckle? We've had to remove our usage of OData given this iss

[2019-10-16 23:51] davidyee commented on #1929
We seem to have the same problem after upgrading from 7.2.1 to 7.2.2. Reverting back to 7.2.1 seems to resolve this issue.

Our URL with problems looks like this with $select, $filter, and $orderby:
https://localhost:5001/api/v1/odata/MyModel?$select=rowUid,title&$filter=contains(title,%27%27)&$orderby=title

Like @ciranmc, our affected endpoints also have the `[EnableQuery]` attribute.

Exception

[2019-10-17 08:35] suadev commented on #230
@robward-ms, @xuzhg i am really surprised to see that case-sensitive sorting is not supported yet. Really?

[2019-10-17 11:53] blueghostuk commented on #1676
The fix, which I assume in in 7.2.2, doesnt work when your enum is nullable on the model. Shall I raise another issue?

Model:
[code]

**Products?$filter=(Required in ('A', 'B'))** succeeds.

**Products?$filter=(Optional in ('A', 'B'))** fails with error:

[code]

Example repo: https://github.com/blueghostuk/ODataService

[2019-10-17 13:34] Danielku15 commented on #1676
The bug seems to be related to the same area of code that was touched for the initial fix. I would see it to be fixed as part of this issue.

The nullable type is always unwrapped for parsing the value. It would currently also fail for scenarios where you want to check if the enum value is null like `Products?$filter=(Optional in ('A', null))`.

https://github.com/OData/WebApi/blob/5061dcad757599b

[2019-10-17 17:13] TehWardy commented on #1924
omg .... that's awesome @Danielku15 Defintely something to try!!!

[2019-10-18 09:06] Danielku15 commented on #1924
Yes, we also use this key-handling for all our operations on Many-to-Many entities.

[2019-10-18 09:21] WuyanLee commented on #1748
如果你们需要的话我做了一个支持 .Net Core 3.0的版本[https://gitee.com/wusanwa/WebApi.git](url)
I've made a version that supports. Net core 3.0 if you need it.[https://gitee.com/wusanwa/WebApi.git](url)

[2019-10-18 09:30] WuyanLee commented on #1748
github : [https://github.com/WuyanLee/WebApi.git](url)

[2019-10-18 09:47] Echarnus commented on #1153
Can confirm. Having the same issue over here.

[2019-10-18 11:48] SiberaIndustries commented on #1748
I guess you are talking about this branch? https://github.com/WuyanLee/WebApi/tree/aspnetcore3
I will try :)

[2019-10-18 12:27] rossbuggins opened #1934 "Function optional parameters on unbound functions"
Add support for optional parameters on unbound odata functions.

### Assemblies affected

OData WebApi lib 7.2.2

### Expected result

Expect to be able to specify an unbound function on ODataConventionModelBuilder and be able to use optional paramters. At present they must be set to null for it to work or specify all overloads on the [ODataRoute] attribute.

[2019-10-18 13:46] rossbuggins opened #1935 "Support stripping of quotes from GUIDs"
Some BI platforms (PowerBI for one) don't support Guids as a data type so send them to Odata as a string enclosed in single quotes. These are then not picked up as valid as a route for the odata function as it is expecting guid data not enclosed in quotes. (this probably one for asp.net web core rather than here, but discussion would be useful).

When it trys to parse value to guid to test if the

[2019-10-18 15:36] tfabian commented on #1748
I am trying @WuyanLee's solution, but it doesn't return any data.
GET http://localhost:63580/efcore/Movies
HttpStatus is 200 Ok, but the data is not in the response.

In my case http://localhost:63580/efcore/$metadata is also empty

[2019-10-18 15:56] mgernand commented on #1748
@SiberaIndustries @tfabian
Try what I described here: https://github.com/OData/WebApi/issues/1748#issuecomment-537551659
My fork; https://github.com/mgernand/WebApi

@WuyanLee
There are some more tweaks you have to do to make things work. See links above.

[2019-10-21 03:08] WuyanLee commented on #1748
@tfabian @mgernand
Thanks!
"IIS Express"无法工作的原因是没有正确的配置"AllowSynchronousIO",抱歉我忘了添加
"IIS express" can't work because "AllowSynchronousIO" is not configured correctly. I'm sorry I forgot to add it.

你可以使用下面的方法添加
You can use the following methods to add
`  services.Configure<IISServerOptions>(options =>
            {
                options.AllowSynchronousIO = true;
            });`

[2019-10-21 08:34] alc86 commented on #1748
Are you planning to fully integrate odata into asp.net core 3.0 (routing, API explorer, etc.)?
We would like to take advantage of the IApplicationModelConvention and IControllerModelConvention interfaces. Our goal is to use swashbuckle with the default configuration (default API explorer of asp.net core 3.0). Currently odata controllers were not recognized by the API explorer.

[2019-10-21 09:38] EnthusedDragon commented on #1801
I'm experiencing a similar issue with OData V7.2.1 and V7.2.2, Versioning V3.2.4, and ApiExplorer V3.2.3.

Controller has both [ODataFormatting] and [ODataRouting] attributes, also tried changing the ControllerBase to ODataController.

All $select, $filter, $top, $skip, etc works fine for me.

I'm just experiencing issues using $count, which doesn't return the count value alongside the result arra

[2019-10-21 10:15] suadev opened #1936 "Support $search for .Net Core"
Is there any plan for $search support for asp.net core?

[2019-10-21 19:08] GustavoAmerico commented on #1177
This answer should be in the documentation

[2019-10-22 08:14] rodrigocmoreira commented on #1463
Even with the suggested fix, I could not make it work. The proposed fix really worked for someone?

[2019-10-22 09:46] suadev commented on #1936
@xuzhg

[2019-10-22 11:21] vvopenka commented on #1463
We managed to fix it by upgrading to Microsoft.AspNetCore.OData version 7.2.2 and adding EnableQuery to the Get method in the controller:
`[EnableQuery(EnableCorrelatedSubqueryBuffering = true)]
public IQueryable<T> Get()`

[2019-10-22 14:40] rodrigocmoreira commented on #1463
Works great 👍

[2019-10-22 14:54] tfabian commented on #1748
Hi,
@mgernand @WuyanLee Get is working in both solutions, but Post contains only default values. For example a string Name property is null. I'm testing it with a working .net framework client app. Did you try to Post some value?

thx Tomas

[2019-10-22 17:47] VenuMadhavPerumalla commented on #196
@xuzhg - We're extending our Api to support Complex Properties and getting the same error during serialization. Kindly let me know if the fix that you're implementing is part of System.Web.OData v5.x and when can we expect the fix to be released

Version of System.Web.Odata being used - 5.9.1

[2019-10-22 21:21] mgernand commented on #1748
@tfabian
I just tried POSTing and it works as intended. Maybe you forgot to add the `[FromBody]` attribute to the model parameter. I added a Post-Method in the `MoviesController `if you want to have a look at it.

[2019-10-22 21:32] xuzhg commented on #196
@VenuMadhavPerumalla  Thanks for letting us know your scenarios. Unfortunately, We are focus on 7.x version and 5.x is in maintenance status.

[2019-10-23 07:32] keatkeat87 commented on #1748
I will vote Option 2.
does the the decision come out, option 1 or 2 will be make ?
will this publish end of this year ?

[2019-10-23 10:31] tfabian commented on #1748
@mgernard I'm converting a Katana web api to Kestrel. In .NET Framework 4.7.2 Microsoft.AspNet.OData 7.6.0 Post-Method does not require the [FromBody] attribute, so it is another breaking change I found out :( . It's obviously not based on convention anymore in Microsoft.AspNetCore.OData.

Thx for your branch, it helps me with the whole migration.

[2019-10-23 21:07] bdebaere opened #1937 "string.Replace is missing"
The replace functionality on string properties is missing. For example /odata/MyEntity?$filter=replace(string, 'query', 'query2') eq 'query2' throws with exception "Unknown function 'replace'".

[2019-10-23 22:11] bdebaere commented on #1936
@suadev Can you clarify what you mean, and what you need search for?

You can query for multiple options with the in operator in .NET Core e.g. /odata/MyEntity?$filter=property in (1, 2, 3)

[2019-10-23 22:24] bdebaere commented on #1935
In my humble opinion it is not up to OData to conform to consumers passing parameters in the wrong way. Implementing a stripping of quotes for a GUID parameter seems like a crude patch to me, whereas ideally it is the consumer that adjusts the code.

[2019-10-23 23:50] itanex commented on #1707
I encountered this problem myself. Instead of the workaround proposed above:

[code]

You can instead decorate each endpoint (controller.action) that you want with the `[EnableQuery]` attribute. It only takes a few lines of code and things just light up. Now this might not be the ideal solution for most in this post. But is does solve the solution differently without having to sacrifice any versio

[2019-10-24 07:10] Karthickraju2690 opened #1982 "Question: An open collection property 'FieldName' was found. In OData, open collection properties are not supported."
I am trying to create a list on SharePoint online. One of the fields is Multi-choice field.

If I run below code without passing value for Multi-choice, it's working fine now. But, does not work when run along with multi choice.

        app_settings = {
            'url': 'url',
            'client_id': 'clientid',
            'client_secret': 'secret'
        }

        context_auth = Authentica

[2019-10-24 13:38] suadev commented on #1936
@bdebaere I am talking about this.

$search | The $search system query option allows clients to request entities matching a free-text search expression.For example:http://host/service/Products?$search=blue OR green
-- | --

https://help.nintex.com/en-us/insight/OData/HE_CON_ODATAQueryCheatSheet.htm#Query

[2019-10-24 16:39] shahriarhossain commented on #1748
I've tried with .NET Core 3.0.100 .  But still having the same issue. Any update on this?

[2019-10-25 18:45] itanex commented on #1936
The reason to support this would be to comply with the specification set forth and referred to throughout the documentation for this library.

http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_The_$format_System

[2019-10-26 08:12] bdebaere commented on #1936
@suadev @itanex I don't understand how $search works. $filter uses a property to filter against, but what does $search target with its predicate?
@itanex The specs you linked show how the query option is supposed to be presented, but not how it is supposed to filter. If I knew how, and it's not too much work, I could try my hand at implementing it.

[2019-10-28 07:28] albertwoo opened #1939 "Any plan for .net core 3.0.0?"
I find that the latest version only support Microsoft.AspNetCore.Mvc.Core (>= 2.0.0 && < 3.0.0). But .net core 3.0.0 is already release for a while, so is any time schedule to support that?

[2019-10-28 12:00] SiberaIndustries commented on #1887
Hm... `7.2.2` was released and this issue is still **not** fixed @KanishManuja-MS :/

[2019-10-28 12:35] TehWardy opened #1940 "ODataRoutePrefix Attribute is not honored as expected"
I am using .Net Core 2.2 as my underlying framework here, so this information might not be inkeeping with how things are currently done (if so please, I welcome the feedback on how to put this right).

I have an Api App that initializes multiple OData contexts that happen to have some crossover in entity set names and thus controller names.

In this case I have a "Core" OData context + model and a

[2019-10-28 14:03] KrzysztofPajak commented on #1748
According from information with Hassan Habib (Sr. Software Engineer, Microsoft) - OData will be available on the 2nd Quarter of 2020 - https://devblogs.microsoft.com/odata/optimizing-web-applications-with-odata-select/

[2019-10-28 14:08] cilerler commented on #1748
@KrzysztofPajak according to @mikepizzo we will have a release by the end of 2019

[2019-10-28 14:59] keatkeat87 commented on #196
It block me to use ef core owned type, any workaround for this ?
@xuzhg nice to hear that you are start doing this feature. Can give a estimate time when the next version release ?
is it possible end of this year ?

[2019-10-28 19:07] NetTecture commented on #1748
Maybe @mikepizzo can give up an update on the current progress?

[2019-10-28 19:20] cilerler commented on #1748
@NetTecture give him a breathing room, he is continuously get bombarded with this question, and I bet he is doing his best to lay it to the team. He is well aware of the situation and has a great understanding of the pain we have. So let's have a little bit of patience, we will get there pretty soon. The info I have is from last week's RESTier community standup.

[2019-10-28 19:28] NetTecture commented on #1939
Have a look at https://github.com/OData/WebApi/issues/1748

[2019-10-28 19:29] NetTecture commented on #1936
There is no standard approach to $search. " The definition of what it means to match is dependent upon the implementation." - that said, you can always parse $search yourself and add it to the IQueryable you return for processing in Odata as prefilter-condition.

[2019-10-28 19:47] mikepizzo commented on #1748
Not much new to report; we are working on the second option (full support for endpoint routing) and it is one of the highest prioritized features for this quarter (next to completing some work that was already underway around supporting $select options, and onboarding new team members). In the meantime, it's been great to see the community support, including what appears to be a short term solutio

[2019-10-28 19:49] mikepizzo commented on #1939
Closing as a duplicate of #1748. Short answer: yes, support for .NET Core 3.0 is a top priority and we are working to have a solution by the end of the year.

[2019-10-28 19:49] #1939 closed

[2019-10-28 21:55] mikepizzo commented on #1748
I suspect Hassan was referring to 2nd Quarter of *Fiscal 2020*, which is the current quarter that ends December 31, 2019.

From: Krzysztof Pajak <notifications@github.com>
Sent: Monday, October 28, 2019 7:04 AM
To: OData/WebApi <WebApi@noreply.github.com>
Cc: Michael Pizzo <mikep@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OData/WebApi] .NET Core 3.0 support? (#1748)

Accord

[2019-10-28 22:27] xuzhg commented on #196
@keatkeat87 Thanks for querying this. I just created a PR to enable it. Hope i can finish it as soon as possible if the code review works well.
BTW, for any one who is interested in this feature are welcome to leave any comments to the PR at #1941.

[2019-10-29 12:00] Zzarek commented on #1748
@mikepizzo Hi Mike, thanks for prioritizing this. I'm yet another person stuck on the upgrade.  I just wanted to clarify option2 does not include support for option1, correct? So I will not be able to use EnableEndpointRouting = false?

I can live with it (despite my problem, i also would have voted option 2), but id like verification. I have a separate library that opted to go with option one, so

[2019-10-29 15:00] mikepizzo commented on #1748
@Zzarek; As I understand it, EnableEndpointRouting=false was a stop-gap solution that is not fully supported in the release version of .NET Core and planned to be deprecated/removed in the future, so I think our efforts would go into fully supporting endpoint routing and not include EnableEndpointRouting=false.

[2019-10-29 16:19] Zzarek commented on #1748
I completely agree with that priority @mikepizzo , and i had the same understanding. I was just confirming it wouldn't be a byproduct of your effort.

[2019-10-29 17:43] itanex commented on #1936
The specification of OData 4.0 says:

So the details are not explicit. Let's look at how another implementation works.

Salesforce implements this to search all fields returned by the entity or `$select` and reduce the content returned. Such that the expression from the specification `http://host/service/Products?$search=bike` would return all products that contains the string bike in any fields r

[2019-10-30 07:18] spaasis opened #1942 "Validate ODataQueryOptions by EntitySet configuration?"
As far as I know, currently in order to get e.g. $filter to work, I have to have
the entityset IModelConfiguration:
[code]
as well as `[EnableQuery(AllowedQueryOptions = Filter...` added to the controller action.
Alternatively, in the controller I could do
[code]
which also has double configuration to enable $filter.

There's also the global catchall option to enable $filter to every possible cont

[2019-10-30 13:05] ghost opened #1943 "$Skiptoken pagination issue when combined with $orderby"
Pagination is not working when it is based on the $skiptoken and combined with $orderby on properties of type Byte or nullable integer (int?).

I get this error on OData WebApi lib 7.2.1 and 7.2.2

You can reproduce the issue using the solution available [here](https://github.com/MYoucef/OData-skiptoken-issue/tree/master/skiptoken)

The whole error message is:
[code]

[2019-10-30 13:09] TehWardy commented on #1940
Having dug a little deeper I think my issue is that I can't map a controller as the handler to a set explicitly.

so when my OData routes are added it says stuff like "there's a CRUD set at Core/User and a CRUD set at Members/User" but there's no way to state "but when resolving a user controller here's how we do it".

I looked at implementing a custom controller factory / controller activator but

[2019-10-30 13:25] TehWardy commented on #1942
Couldn't you write that as an extension method to the ODataQueryOptions class?
If done right too you could make that available in the service provider so you can inject it as a controllers ctor arg for use in all controller actions as needed.

[2019-10-30 13:30] TehWardy commented on #1943
What query are you giving it?
Seems like a standard casting exception you might get from C# code doing something like ...

`var x = ((bool?)null) == false;`

... since bool is a different type to nullable bool you get implicit failure.

[2019-10-30 13:32] TehWardy commented on #1935
I agree ... this is essentially asking "please support bad client practice" ... that could be a deep rabbit hole the OData team may never come out of.

[2019-10-30 13:37] MYoucef commented on #1943
Hello

I'm not doing any thing in the c# code. I get the error when i try to access the second page of the payload using the @odata.nextLink

http://localhost:8880/odata/people?$orderby=code&$skiptoken=Code-2,Id-2

For more information please take a look at the example i provided. It's quite simple to reproduce.

[2019-10-30 13:58] TehWardy commented on #1943
I don't know enough about $skiptoken to be sure but somethings triggering me about that.

You could use $skip and $take (which as I understand it is the more common approach.
For my UI scenarios I combine my webapi OData endpoints with Kendo UI which builds $kip and $take params from a client side data source.

This also works with $orderby parameters.

[2019-10-30 15:24] rossbuggins opened #1944 "Should skip token handler be respecting ensure stable ordering false"

[2019-10-30 15:34] #1944 closed

[2019-10-30 16:37] TehWardy commented on #1943
According to the examples given here: https://docs.microsoft.com/en-us/odata/webapi/skiptoken-for-server-side-paging
... I think the example you gave might be wrong ... perhaps that's your issue?

$skiptoken=Code-2,Id-2

... should be something like ..,.

$skiptoken=Code:2,Id:2

... surely ???

Or have i misunderstood this ?

[2019-10-30 16:37] xuzhg commented on #1595
@rossbuggins No, the latest version symbol is not, owing to the cert problem. And it seems there's no one maintaining that server. Later, i'd think to include the PDB using snupkg. See https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg

[2019-10-30 16:42] MYoucef commented on #1943
The link i provided was generated by odata itself and i confirm you that's a valid url.
For information, since the last update of the skiptokenHanlder, they change the format of the skiptoken, they replace the : by a dash

I provided the link just to show you how to reproduce quickly.

[code]

[2019-10-30 16:48] spaasis commented on #1942
I tried to fiddle around a bit, but I didn't find a straightforward way to actually enumerate the allowed options from the EntityType configuration. If such a thing exists, then for sure an extension method might be the best way to implement this kind of behaviour.

[2019-10-31 03:13] mikepizzo commented on #1937
We actually intentionally omit string.Replace because it was identified as a possible DOS attack surface. Using string.Replace, a bad actor could potentially create a request that would overflow the server.

Life was some much easier before we really had security...

[2019-10-31 03:13] #1937 closed

[2019-10-31 05:57] bdebaere commented on #1937
@mikepizzo Interesting, would you consider adding Regex.Match?

[2019-10-31 09:47] rossbuggins opened #1945 "Custom Serializer ODataProperty DateTime ODataPrimitiveValue can only wrap values which can be represented as primitive EDM types.'"
When implementing a custom serializer I'm getting the below exception when a DateTime object is added to ODataProperty. DateTimeOffset is fine. Looking at Microsoft.Odata.Core, there are some ifs around DateTime but not DateTimeOffset, lines 104 and 115 at https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/Metadata/EdmLibraryExtensions.cs

Whats the reason behind this?

### As

[2019-10-31 11:34] Danielku15 commented on #1748
@commonsensesoftware

One small extension to this. It must be considered that the `IEdmModel` might be dynamic and not static. In our case we have per tenant an own model generated with user defined entities. The EDM is generated on-the-fly and cached on access. But in the end you are right, also in our case it is still clear which route ends up at which controller as user defined entities all end

[2019-10-31 11:40] NetTecture commented on #1748
@commonsensesoftware How can EdmModel be dynamic? One model per tenant is still a static model per tenant.

I am way more concerned about the intricacies how OData allows for thigns like casts in the URL - the amount of valid URL's - if you prebuild them - will get BRTUALLY high extremely fast, particualrly with casts (as) in part of the URL as additional entries. You may end up with 20+ URL#s for

[2019-10-31 11:51] Danielku15 commented on #1748
@NetTecture

We have this in place by allowing the customer do define additional custom properties and entities. This is quite common in ERP systems, but also other pieces of software like forums, wikis, project management systems allow the operator to define new fields and items during runtime. We develop a [multi-tenant app with database-per-tenant](https://docs.microsoft.com/en-us/azure/sql-dat

[2019-10-31 12:47] commonsensesoftware commented on #1748
@NetTecture you're right that you would not want nor need to build _every_ possible URL combination. You need the core route templates and the rest would come from a request. I'm not sure it would make sense to have route templates with the cast in it already. At least to me, I think of the cast operator as more of  a route parameter that the client must specify. I rarely use cast so maybe I'm mis

[2019-11-01 10:45] bdebaere opened #1947 "ODataValueProvider is not used"
The `ODataValueProvider` which is being added is not being used due to an ASP.NET implementation taking precedence.

The problem lies in `ODataServiceCollectionExtensions.AddOData(this IServiceCollection services)` which performs an add instead of an insert for

[code]

[2019-11-04 10:46] suadev commented on #230
@mikepizzo It would be great to have support to case-insensitive ordering

[2019-11-04 14:18] kephouzz commented on #1943
Hello @msftclas,

it's a blocking issue for our project.
Do you have any updates on this ticket?

[2019-11-04 20:42] KanishManuja-MS commented on #1943
@kephouzz These types are not supported in the default implementation. Perhaps you can inject a custom implementation to handle these types. I can help you to do that.

One other temporary workaround can be to enable skiptoken only for the routes which deal with supported types and fall back to $skip and $top for other routes.

[2019-11-05 00:02] pawel-zolty commented on #1866
it happened to me too :/

[2019-11-05 08:38] albertwoo commented on #1525
I am facing this issue too 🙁

[2019-11-05 09:23] kephouzz commented on #1943
But, will you work on it for fixing it?

Thanks

[2019-11-05 16:47] KanishManuja-MS commented on #1943
@kephouzz Yes, I will at some point. I will have this added to the backlog. If you feel it is urgent for you to be fixed then let me know.

[2019-11-05 17:15] MYoucef commented on #1943
@KanishManuja-MS
Thank you for your answer.

Regarding the workaround based on $skip and $top, we faced performance issues with this solution and this is why we switched to the $skiptoken.

Could we have an estimation on when do you plan to fix this issue?

Thanks

[2019-11-05 17:48] KanishManuja-MS commented on #1943
@MYoucef Performance for $skip and $top will be better than skiptoken for paging. Skiptoken definitely does more computation for processing the results but is more robust in case of deletions and additions.

Can you share why you consider $skip and $top has performance issues?

[2019-11-06 13:32] Zzarek commented on #1750
Is this issue dead?

[2019-11-06 21:15] rschiefer opened #1950 "ApplyTo not ignoring expand as instructed"
ApplyTo is not fully ignoring the expand query options as instructed.  When debugging in the controller method the ApplyTo works as expected and I can see the correct data results but then after the controller action completes some further validation is occurring and the following error is thrown.

### Assemblies affected

Microsoft.OData.Core 7.6.0
Microsoft.AspNetCore.OData 7.2.1

### Reproduce

[2019-11-06 21:22] xuzhg commented on #1945
@rossbuggins DateTime is removed from OData built-in primitive type. Can you change to use "DateTimeOffset"?

[2019-11-07 07:13] northtyphoon opened #1951 "ODataRouteBuilderExtensions.SetDefaultQuerySettings does nothing"
The following code just assigns `defaultQuerySettings` to a local variable `querySettings`. It doesn't update any properties of the DefaultQuerySettings.

### Assemblies affected

https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNetCore.OData/Extensions/ODataRouteBuilderExtensions.cs#L35

        public static IRouteBuilder SetDefaultQuerySettings(this IRouteBuilder builder, DefaultQue

[2019-11-07 10:04] Mhirji opened #1952 "Bug doing $apply=groupby((DisbursementYear),aggregate(DisbursementAmount with sum as total)) ??"
*I have a method which returns an IQueryable from a db context with a series of .Includes.  When hitting https://localhost:port/{version}/{odatacontroller}/?$apply=groupby((DisbursementYear),aggregate(DisbursementAmount with sum as total)), I get an error (stack trace below).  $select, $expand, $filter all seem to work without issue.  If the db context returns an IEnumerable however this works (as

[2019-11-07 10:41] mikuam commented on #812
Hi, I'm trying to achieve the same thing in vb.net, but somehow it doesn't work. Do you know what might be a problem?

    Imports System.Web.Http
    Imports Guestline.RezLynx.Persistence
    Imports Microsoft.AspNet.OData.Builder
    Imports Microsoft.AspNet.OData.Extensions
    Imports Microsoft.OData
    Imports Microsoft.OData.UriParser

    Public Class WebApiConfig

        Private Shared P

[2019-11-07 11:28] MasiumDev commented on #1748
in .Net Core 2.2, I used **app.UseMvc** and set
routes.EnableDependencyInjection();
routes.Select().Filter().Expand().MaxTop(null).OrderBy().Count();
through IRoutingBuilder extension methods.
Now, in .Net Core 3.0, when I use **app.UseEndpoints**, how can I do this for injecting **ODataQueryOptions**?

[2019-11-07 13:14] wurst0815 commented on #1832
I can confirm that this is true.
Even if I omit the header `Prefer: odata.continue-on-error`, the `DefaultODataBatchHandler` continues processing requests even after an error occured, which is not standard compliant (see [http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_Preference_odata.continue-on-error](http://do

[2019-11-07 13:22] Mhirji commented on #1952
As a follow-up, I did stumble upon https://github.com/OData/WebApi/issues/1221#issuecomment-368709958 .  Also,  .UseLazyLoadingProxies() is enabled on the DbContext.  and all properties on the entity classes are virtual.

[2019-11-08 20:40] itanex commented on #1936
A `$search`  expression as defined by the specification follows the following grammar.

[code]
Extracted from [odata-abnf-construction-rules.txt](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/abnf/odata-abnf-construction-rules.txt) as referenced by [[OData-ABNF]](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol

[2019-11-09 14:49] Galad opened #1953 "Skiptoken cannot be generated with a DateTime value"
Given the following entity CLR type
[code]

The skiptoken value cannot be generated and throws an exception.

### Assemblies affected

OData WebApi lib 7.6.1

### Reproduce steps
Create an OData endpoint with the following configuration:
[code]
Query the endpoint `/Dates`.

### Expected result

Skiptoken is correctly generated with the value of the last record in the page.

### Actual result

Exce

[2019-11-11 11:56] savelievser opened #1955 "Resolving an Entity-Id is not supported"
According to
https://docs.oasis-open.org/odata/odata/v4.01/csprd06/part1-protocol/odata-v4.01-csprd06-part1-protocol.html#sec_ResolvinganEntityId
the following query should work:

http://host/$entity?$id=http://host/Categories(1)

but it doesn't.

[2019-11-11 15:17] Mhirji commented on #1952
@robward-ms , as you had identified this, or something similar in https://github.com/OData/WebApi/issues/1221#issuecomment-368709958 , I am just wondering if you would know if this has been resolved since EF 2.2 supposidly doesn support lazy loading.  Please do let us know.  Thanks!!

[2019-11-11 16:54] jayoungers commented on #1748
I'm also trying to get this setup in a new dotnet core 3.0 project: for my use case all I really need is `ODataQueryOptions<TEntity>` and its `ApplyTo` method (my business logic only requires an `Expression`).

Is there a slimmed down package I should be using?  I feel like there's a massive amount of setup going on that's not needed for what I'm looking to do (parse odata parameters into an expre

[2019-11-11 20:20] hairlesshobo commented on #1748
Please let me know if you find anything that satisfies this requirement! This is my exact use case as well, I just need to parse the oData params and get an Expression from it.

[2019-11-11 20:24] DenisAgarev commented on #1748
Also same case... I also need ODataQueryOptions and ApplyTo to move my project to NetCore 3.0.

[2019-11-11 20:58] jannikbuschke commented on #1748
interesting, I would actually also like to see something like this. I feel like the odata querying part is super useful and easy to use, whereas the command part is a bit overengineered and does not meet my requirements often (its more pain than joy to use). Thats why I started to use odata only for my read model, whereas my write models are implemented with webapi + mediator.
Slimmed/core package

[2019-11-11 22:18] chaseaucoin opened #1956 "$select,$expand,$filter not working in linux deployment"
When I deploy the application to a linux environment none of the commands work such as $select,$filter,$expand but work locally on a windows environment

### Assemblies affected

Microsoft.AspNetCore.OData Version="7.2.1"

### Reproduce steps

Start a AWS lambda serverless project. Add odata package controller with EnableQuery

`var builder = new ODataConventionModelBuilder(app.ApplicationServices

[2019-11-12 03:55] #1956 closed

[2019-11-12 03:55] chaseaucoin commented on #1956
My google-foo was weak found the solution here: https://github.com/OData/WebApi/issues/1227

[2019-11-12 08:45] Mhirji commented on #1952
Closing this issue as this does actually work.  By enabling lazy loading, I should not have been also doing eager loading at the same time.  Not sure what I was thinking at the time.

[2019-11-12 08:45] #1952 closed

[2019-11-12 12:43] Izharsa commented on #1574
Any update?

[2019-11-12 16:10] mikepizzo commented on #230
We should look at simple expressions in orderby.
@suadev; if you have time to take a look at the code and submit a PR, we'd be happy to review it.

[2019-11-12 17:04] MYoucef commented on #1943
@KanishManuja-MS
It seems that in same cases the performance of the $skip and $top is very poor especially where we have a lot of records in the data table.

Here a concrete example where we faced this issue;

[code]
These two requests generate the following execution plan

![execplan](https://user-images.githubusercontent.com/7900116/68692601-0ff1b500-0576-11ea-8037-e0120ae63ff6.png)

It seems th

[2019-11-12 20:52] mikepizzo commented on #1748
Update on this; good news and bad.  We've been working with the .NET Core Team, and the solution we were planning on using for plugging OData routing logic into endpoint routing uses a DynamicTransformer mechanism designed for custom routing logic. Unfortunately, this mechanism doesn't support everything that we need in order to do OData routing (in particular, the DynamicTransformer returns a con

[2019-11-12 21:04] NetTecture commented on #1748
Damn, that is not nice. .NET 5.0 timeframe is brutal - according to https://devblogs.microsoft.com/dotnet/introducing-net-5/ taht targets November 2020, so a year from now. I hope your workaround works nice and I also hope someone manages an API Explorer integration (please keep that in mind, make sure all the routes can be asked for on the outside) to integrate with Swashbuckle.

Looking forward

[2019-11-12 21:05] jayoungers commented on #1748
Hey @mikepizzo - any thoughts on the direction those of us that use the library strictly for parsing the odata parameters to an expression should be taking?

I know there are a few hacky examples out there of manually creating an EDM and using the uri parse class to build an expression, but I wasn't sure if the library was layered in such a way that something similar could be done without building

[2019-11-12 23:15] weitzhandler commented on #1748
@mikepizzo

Thanks for the update. That is great news. We could live without the endpoint routing so long it works with .NET Core 3.
I wish OData gets back the flashlights, because it's so much more powerful than GraphQL, also in the client-side option choice.

[2019-11-12 23:58] gordon-matt commented on #1748
It's good news that a workaround will be available soon. However, is there any chance that from .NET 5 onwards that OData can become a "first-class citizen" in .NET? It always seems to be an after thought, which is very puzzling considering just how useful OData really is. One would think that by now it should be a part of the default MVC setup or at least very easily enabled without all this trou

[2019-11-13 08:28] mikepizzo commented on #1748
Absolutely. The silver lining to this cloud is that the OData and ASP.NET teams are more engaged and we are looking not just at how to support endpoint routing, and not just making sure that future versions of .NET don't break OData, but we are looking at how we can better factor/integrate the OData functionality into ASP.NET so you can do things like opt into individual pieces, for example, suppo

[2019-11-13 09:05] vincedan opened #1957 "Question: How to hardcode OrderBy in Function？"
I posted question on [stackOverflow ](https://stackoverflow.com/questions/58771676/odata-webapi-how-to-hardcode-orderby-in-function?r=SearchResults), and nobody respond me by now. sorry for me to copy the post here, wish I could get help from community.

I am using OData WebAPI (Microsoft.AspNet.OData). for some reasons, I need hardcore OrderBy in a function. for example and return like the follow

[2019-11-13 12:04] commonsensesoftware commented on #1748
@mikepizzo This is great news and certainly in the right direction, even if we have to wait for a bit. The concept of _Dynamic_ concerns me though. What is actually dynamic? Without the full details and context, I suspect this may have limitations to things like API exploration for tools like Swagger/OpenAPI. None of the current OData APIs support URL generation based on user-defined route templat

[2019-11-13 12:15] aderderian commented on #1748
I am for anything that gets it up and working even with non dynamic routing. Currently I have to keep all my Data and Common classes at Core 2.1 because that is the last version where ODATA works. Can you confirm we will get a working version in December, just no endpoint routing?

[2019-11-13 12:18] NetTecture commented on #1748
@commonsensesoftware I think the problem with dynamic is that it makes NO SENSE to actualyl generate a static list of all variants of URL's - a tool like Swagger and an explorer should give you a basic overview of what is in the API (similar and based on $metadata) but should NOT interfere with the dynamic additions.

What am I talking about?

* URL's that only return one property
* URL's that lim

[2019-11-13 12:35] commonsensesoftware commented on #1748
@NetTecture fair, but I wouldn't really call that _dynamic_. You have a route template with a parameter for the property name (e.g. `orders/{navigationProperty}`). Ultimately, the mapping is what the EDM says unless you get into truly _dynamic_, _loosey-goosey_ open types. I'm totally onboard with opting out of the behavior. There's likely even multiple ways it might be done. For example, opting o

[2019-11-13 13:39] hidegh commented on #1748
**As in many times the querying is what matters, wondering if a decoupling into simpler architecture for the base usage would be possible (and would get support):**

Actually with .NET core 2.2 (but even in old OWIN) by overriding the EnableQueryAttribute I was able to allow OData queries on any API/MVC route, **without any extra configurations** (like adding entities to the ODataConventionModelBu

[2019-11-13 13:54] svrooij commented on #1748
Everybody using only the `$select` part of odata, to limit the amount of data transfered. Check-out this code https://gist.github.com/svrooij/8fef0289385257722fd344e79ad2e84a

[2019-11-13 15:29] hidegh commented on #1748
@svrooij actually I use aggregates (special grouping grid), paging, complex select clauses (as grid has a flexible filtering header). the $select is the least important part at the moment. I'd prefer a slick integration out of the box (as I suggested and i'm using outside EF Core - that would require changes in my code).

[2019-11-14 12:26] SenyaMur commented on #1045
Any updates ?

[2019-11-15 13:55] savelievser opened #1958 "Does the library supports filter path segment (/$filter) ?"
According to
http://docs.oasis-open.org/odata/odata/v4.01/cs01/part2-url-conventions/odata-v4.01-cs01-part2-url-conventions.html#sec_AddressingaSubsetofaCollection
there should be support of /$filter path segment. Does the library support it now?

[2019-11-15 18:42] Dzivo commented on #1748
Is there any news on this are we going to get support for .netcore 3 ?

[2019-11-15 18:54] Danielku15 commented on #1748
While I was also very hyped on OData and its capabilities I found out in the meanwhile that the main things we actually need are only some core features of the OData query language: `$count`, `$skip`, `$top`, `$expand`, `$orderby`.

Those are features that could work on top of any API, without the need of having all the heavyweights of OData. In the last 2-3 days I worked a bit on a prototype/proo

[2019-11-15 19:21] jannikbuschke commented on #1748
@Danielku15 totally agree.
Not sure if this is well known, but several odata operations work on normal webapi controllers if the `EnableQuery` attribute is applied (https://www.jannikbuschke.de/blog/webapi-enable-query/). At least pagination, filtering, ordering and selecting works. One thing that does not work is expanding.

[2019-11-15 23:04] neilmiaowang opened #1959 "DeserializationHelper.ConvertPrimitiveValue(string value) should unescape string value"
We have an open type and string properties in this open type.
When this open type is used in POST/PATCH/PUT request, the value of string properties is still escaped after deserialization.
DeserializationHelper.ConvertPrimitiveValue(string value) should unescape the string value.

### Assemblies affected

Microsoft.AspNetCore.OData  7.1.0

### Reproduce steps

    public class OpenTypeData
    {

[2019-11-16 08:46] engenb opened #1960 "Unable to GET by key"
works: authorization/v1/groups
doesn't work: authorization/v1/groups(3)

### Assemblies affected

Microsoft.AspNetCore.App 2.2
Microsoft.AspNetCore.OData 7.2.2
Microsoft.AspNetCore.Odata.Versioning.ApiExplorer 4.0.0

### Reproduce steps
#### Startup.cs
[code]
#### ModelConfiguration.cs
[code]
#### GroupsController.cs
[code]

### Additional detail
My actual goal is for ```key``` to be a ```Guid```

[2019-11-16 11:42] EamonNerbonne commented on #1748
Yeah, I would love to see OData split into components.  One component I'd use in a heartbeat would be a query-serializer, which is essentially what $query-op syntax provides, but not in a way that's reusable outside of HTTP.  Even where OData-lib functionality is combined with HTTP, being able to more easily use just a subset would be nice.

[2019-11-16 14:29] hairlesshobo commented on #1748
@jannikbuschke I am not where I can check this right now, but do you know if this limited functionality works in .NET Core 3.0? This functionality would be exactly what I need, assuming it works. I will check this Monday if you haven't already tested.

[2019-11-16 18:26] engenb commented on #1960
Just to update:
I set up a project this morning from scratch, that only had OData + ApiVersioning and one simple controller - it works!  So now that I have a working baseline, I'll keep adding components of my api back until it breaks again.  Hopefully, I'll be able to report back with what configuration is causing routing to no longer work.

[2019-11-16 19:41] jannikbuschke commented on #1748
@hairlesshobo all my projects are stuck on 2.2 because odata, so I didn't yet experiment with 3.0 :/

[2019-11-17 03:31] Dzivo commented on #1748
@jannikbuschke same here

[2019-11-18 06:24] #1960 closed

[2019-11-18 06:32] engenb commented on #1960
I created a new api from scratch, got configured only OData, and everything works now!  I've added my api's features back one by one, and everything works now.  Not exactly sure what's different, but all's well that ends well I guess.

[2019-11-18 07:59] NetTecture commented on #1935
Actually I can see both points, BUT - this is the wrong place to ask for this change. It should be raised with the odata committee for a POSSIBLE change in the odata specs. That is the right palce for such a discussion, not here, which is merely implementing the functionality.

[2019-11-18 12:58] vincedan commented on #1957
Thank @NetTecture  for your response. I suggest OData team to implement it as new feature so that user could predefine orderby in function.

[2019-11-18 13:22] NetTecture commented on #1957
@vincedan It would have to happen at some sort of edm / model level ;) But yeah, I have been missing this quite long. Thanks a lot.

[2019-11-18 17:16] KanishManuja-MS commented on #1957
One workaround to implement is by making CompanyName a part of composite key and specifying Column attribute. I doubt that it will work without making the property part of the key and just using Column attribute but you can quickly try that out.

One other workaround is to insert a orderby clause in ODataQueryOptions in your controller.

[2019-11-18 18:02] NetTecture commented on #1957
Given that the key is also the key for fast entity access this simply does not work. It also is non practical if the database is not particularly and only written for the odata access side.

[2019-11-18 19:21] KanishManuja-MS commented on #1957
@NetTecture Yes, you are correct. If for a schema it makes sense to have a composite key, first workaround can be chosen. Otherwise, the second approach would let you inject a custom order by in your controller action.

[2019-11-18 23:20] TimonFeldmann opened #1961 "$apply aggregation failing to convert enumerable to string"
When executing an aggregate function e.g. ?$apply=groupby((Enumerable)) on an entity's enumerable property, the returned aggregation's value is not converted to the enumerable's EnumMember value counterpart and the raw value is returned instead.

Performing an OData operation against the same entity without an aggregation returns the entity with all enumerables converted to their EnumMember values

[2019-11-19 10:05] tbalakpm commented on #1748
Any update on support odata in asp.net core 3.0?

[2019-11-19 10:57] KrzysztofPajak commented on #1748
Nightly package does not supported odata for net core 3.0 yet :(

[2019-11-19 14:56] vincedan commented on #1957
Thank @KanishManuja-MS's response and your two workarounds. as @NetTecture said, my system is using Guid as PK for each entity and I need to add meaningful business logic in orderby.  In addition, the orderby rules are different based on entity composition(for example, a function may return entity A with orderby principal navigation which is entity B). LINQ expression is best solution for handling

[2019-11-19 22:27] KanishManuja-MS opened #1962 "Filtering on a property of casted object fails"
### Issue
Filtering on a property of a casted object fails with the following error message -
Instance property 'PropertyName' is not defined for type 'System.Object'.

### Assemblies affected
WebAPI 7.2.0

### Reproduce steps
Create an entity set of vehicles and you want to get all the 4-door cars from the entity set. One would expect the following query to work -

[code]
### Expected result

Car

[2019-11-20 11:57] TehWardy commented on #1940
@xuzhg Hey Sam ... any thoughts on this?
Sorry but I really need to get a solution to this ASAP.

[2019-11-20 12:07] TehWardy commented on #1861
This is an old ticket, but to cut a long story short I took the hit and stopped being concerned with different expand depths per type in favour of a smarter business logic tier behind this, the net result is that this is how I now init the OData contexts in my stack ...

[code]

As discussed above, the model builders added to the "builders" collection are my builder wrappers that construct IEdmMod

[2019-11-20 12:07] #1861 closed

[2019-11-20 12:08] TehWardy commented on #1858
This doesn't appear to be important nor an issue worth investigating if my business logic is always forced to return valid entities (hardly bad practice) so i'm going to close this.

[2019-11-20 12:13] TehWardy commented on #777
3 years later nothing has changed here, even pulling the latest .Net core based build hasn't changed the situation.
I figure that the reasoning here is something to do with the way the OData standard is defined / works and given that there's way more important stuff i would like to see resolved (as i'm sure many others would too).

As long as we are aware of OData's "peculiarities" we as consumers

[2019-11-20 12:13] #777 closed

[2019-11-20 16:46] mburbea opened #1964 "InvalidOperationException when trying to access a resource that contains a / inside double quotes"
If you try to visit a controller by a key that contains a `/` it will throw an invalid operation exception.
### Assemblies affected
Microsoft.OData.Core 7.6.1
Microsoft.AspnetCore.Odata 7.2.2

### Reproduce steps
Add the following to an Odata project.
[code]
Visit the url `/odata/issue1964('"%2F"')`

### Expected result

You would get back the element which contains the `{"key":"\"/\""}`.
### Actu

[2019-11-21 13:23] PJPWF1 commented on #1748
likewise for me, all my projects are stuck on 2.2 because odata

[2019-11-21 16:56] KanishManuja-MS commented on #1595
@rossbuggins The symbols should be available on the same server now. Please let me know if you run into problems.

[2019-11-21 17:03] rossbuggins commented on #1595
Great, I’ll take a look next week, thanks

[2019-11-21 18:28] DerAlbertCom commented on #1748
Please! Stop complaining now and asking for when it will happens, read the comments first, it's coming.

This comment: https://github.com/OData/WebApi/issues/1748#issuecomment-553109029

[2019-11-21 18:44] weitzhandler commented on #1748
@DerAlbertCom you're right, but OTOH, it gives an insight of how much traffic there actually is.

[2019-11-21 19:01] robertmclaws commented on #1748
@weitzhandler No it doesn't, @DerAlbertCom is right, it just spams everyone. People should use reaction emojis, it lets you gauge traffic without cluttering up the thread.

For those that are unable to follow what is going on, the ASP.NET Team broke stuff for the OData team in .NET Core 3.0, and they're working together to get it fixed. There should be a build ready in December 2019. You can whine

[2019-11-21 21:23] julealgon opened #1965 "Inconsistent behavior on 'key' parameter convention for OData routes"
The OData standard route convention for entity sets with a single ID property does not behave consistently when using composite key convention: the entityset route is matched, but binding does not occur and arguments have default values.

My team spent a couple hours trying to figure out why the value was 0 on the controller even though they were passing the correct value in the URL.

### Assembli