[2018-05-03 08:54] ShudderPig opened #1427 "$filter=date(Field) throws 'Function 'date' is not allowed' error"
Hello,
We have just upgraded to version 6 and found that using `~/odata/Customers?$apply=filter(date(Birthday) eq 2015-03-23)`
seems to work, however
`~/odata/Customers?$filter=date(Birthday) eq 2015-03-23`
throws Error:
`The query specified in the URI is not valid. Function 'date' is not allowed. To allow it, set the 'AllowedFunctions' property on EnableQueryAttribute or QueryValidationSettings.`

[2018-05-03 09:10] #1427 closed

[2018-05-03 09:15] ShudderPig commented on #1427
This was not an odata issue and in fact an issue with my own code

[2018-05-03 11:45] dozer75 commented on #1376
Added a PR with better error handling, a PR (OData/odata.net#1158) that is requested in the odata.net project will also make this better.

[2018-05-03 13:16] stephenpope commented on #1059
Blocked also.

[2018-05-03 13:36] cilerler commented on #1059
Please also click on 👍 in the initial request, so owner can see at first glance this shouldn't be P4

[2018-05-03 14:30] lesair commented on #1059
@cilerler Done.

[2018-05-03 14:54] justintoth commented on #1059
It doesn't seem to be as simple as the package owner just upgrading the DI nuget packages. I forked their repo and tried the upgrade myself, but was blocked because the DI 2.0 nuget packages require .NET Standard 2.0 and the Microsoft.AspNet.OData project is .NET Framework v4.5. I tried upgrading it to v4.7.1 but still no dice. See my [SO post](https://stackoverflow.com/questions/50157978/installi

[2018-05-03 14:56] justintoth commented on #1119
Reposting my comment from #1059 for more visibility:

It doesn't seem to be as simple as the package owner just upgrading the DI nuget packages. I forked their repo and tried the upgrade myself, but was blocked because the DI 2.0 nuget packages require .NET Standard 2.0 and the Microsoft.AspNet.OData project is .NET Framework v4.5. I tried upgrading it to v4.7.1 but still no dice. See my SO post,

[2018-05-03 14:57] justintoth commented on #1419
Reposting my comment from #1059 for more visibility:

It doesn't seem to be as simple as the package owner just upgrading the DI nuget packages. I forked their repo and tried the upgrade myself, but was blocked because the DI 2.0 nuget packages require .NET Standard 2.0 and the Microsoft.AspNet.OData project is .NET Framework v4.5. I tried upgrading it to v4.7.1 but still no dice. See my [SO post]

[2018-05-03 15:17] stephenpope commented on #1059
@justintoth This is exactly what I've started to do today. The reasons you listed in your SO post are pretty much identical to mine. We have a product we are trying to upgrade to use netcore 2.0 libraries even though we still run some parts on full framework and this is where we ran into this issue. If I figure anything out I'll let you know !

[2018-05-03 15:49] JohnGalt1717 commented on #1419
@justintoth Multi-targeting.  the csproj file needs to target 4.5 and .NET Standard 2.0. If it is consumed by a project using 4.5 it needs to have the dependancies for 4.5 which will lock you back on the DI stuff. But if consumed on .NET Standard 2.0 it should have the new dependencies which will work fine with .NET Standard 2.0 and away you go.

[2018-05-03 15:53] fabienDaou opened #1429 "Delta deleted entities are missing the Context and Reason when serialized."
Hello,
I am using version 6.1.0 of the Microsoft.AspNet.OData nuget package. I used the ODataController to serve delta feeds to clients. I followed the documentation there: http://odata.github.io/WebApi/DeltaFeed_support.
Code is quite similar to the documentation:
[code]

I am having trouble when adding EdmDeltaDeletedEntityObject to the collection.

### Expected result
I would expect to have a s

[2018-05-03 16:02] justintoth commented on #1419
@JohnGalt1717 So I think you're saying that either...

1. The DI packages need to multi-target, in which case we're going further down the rabbit hole, having to update both the DI and OData packages.

or...

2. Create a new .NET Standard project in the OData solution, and all of the DI-related code needs to reside in there and then be referenced by the main .NET Framework project. This might be d

[2018-05-03 16:17] JohnGalt1717 commented on #1419
No.  All csproj files allow you to multi-target.  Just make the odata package target 4.5 and 4.7.1 even and it will handle it and build 2 packages and nuget will automatically package both properly and deploy both and the right version will be used by the project it's included in with the correct limitations or not.

[2018-05-03 16:40] justintoth commented on #1419
I think you mean .NET Framework 4.7.1 and .NET Standard 2.0. If Microsoft.AspNet.OData isn't .NET Standard 2.0 then it can't install the DI 2.0 nuget packages. However, it's not trivial to multi-target Microsoft.AspNet.OData to support .NET Standard 2.0, it's not just a simple csproj change AFAIK.

[2018-05-03 16:41] JohnGalt1717 commented on #1419
4.7.1 fully implements .NET Standard 2.0 so you can just target that and the .NET Standard 2.0 dependencies will work fine.

[2018-05-03 17:11] justintoth commented on #1419
That's what I thought too, but it's not the case. As mentioned, I upgraded Microsoft.AspNet.OData to 4.7.1 however it still gives the error when trying to upgrade the DI nuget packages:

[2018-05-03 17:35] JohnGalt1717 commented on #1419
That's a configuration issue because per this: [https://docs.microsoft.com/en-us/dotnet/standard/net-standard] 4.6.1 is all that's needed to support .net standard 2.0

Thus this should be straight forward for the people in MS to resolve.

[2018-05-03 23:03] RamjotSingh opened #1432 "[Feature/netcore] EnableQueryAttribute performs verification during OnActionExecuted instead of OnActionExecuting"
EnableQuery attribute allows controllers to performs checks like MaxTop etc. These checks however are done post the execution of Controller instead of doing before.

### Assemblies affected

Microsoft.AspNetCore.OData (7.0.0 - beta2)

### Reproduce steps

[EnableQuery(MaxTop = 100, AllowedQueryOptions = AllowedQueryOptions.Top)] on the controller and make a request with more than 100 value as $top

[2018-05-04 08:14] wurst0815 opened #1434 "OData version-Header missing on Delete"
According the the [specification](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_Toc453752219), an OData Service must respond with the OData Version Header.

But this Header is missing on Delete.
![image](https://user-images.githubusercontent.com/13557494/39618103-6a4f2d8a-4f82-11e8-8db1-3a8cbca48344.png)

Micros

[2018-05-04 08:31] marcuskrahl opened #1435 "[feature/netcore] $batch endpoint returns 404 error"
After adding the DefaultODataBatchHandler I am still unable to issue batch requests.
Every call to the endpoint `/odata/$batch` results in a `404 - Not Found` error.

### Assemblies affected

OData WebApi .Net Core Nightly (7.0.0-Nightly201805031241)

### Reproduce steps

- copy the AspNetCore Sample App or use any existing OData .Net Core app

- change the OData Route Mapping to use the `DefaultO

[2018-05-04 09:52] fabienDaou commented on #1429
It turns out that, in the solution I am working in, another serializer provider was added in place of the default one. That explains the weird behavior :)

[2018-05-04 09:52] #1429 closed

[2018-05-04 10:46] stephenpope commented on #1059
**!! Hack warning !!**

Thought I would post what we found when looking at ways to get around this .. you can disable some error/warning messages using the MSBuild features if you are using PackageReferences in your `csproj` (rather than using `packages.config`)

[code]
So your project *should* now build happily so you get DI v2 + oData 6.10 .. but then the issue is the breaking change between DI

[2018-05-04 12:07] justintoth commented on #1059
@stephenpope I went down this path originally, unfortunately I found that it made it so that the nuget package manager would no longer upgrade ANY package. Let me know what your experience is.

[2018-05-04 21:27] cilerler commented on #1059
@stephenpope I appreciate if you may share a sample repository that demonstrates it so far no luck on my end.  😭 🔮

[2018-05-07 18:58] xuzhg commented on #1434
@wurst0815 the link you provided for the spec is targeting to the OData spec v4. However, the libraries you're using are targeting to OData spec v3. Would you please take a look?  Besides, we are working on the OData spec v4 and its .NET implementation, meanwhile the spec V3 and its implementations are in maintenance status.

[2018-05-08 07:59] wurst0815 commented on #1434
Hi,
you are right, the used libraries are
Microsoft.AspNet.OData  v6.1.0
Microsoft.OData.Core 7.4.4

The issue seems to affect all actions that respond with an 'No Content' payload, not only DELETE actions.

[2018-05-08 17:32] NetTecture commented on #939
Actually yesterday MS release dotnet core 2.1 Rc1 with GoLive. Starting to use it next week - and desperately in need of an odata server component asap for 2 projects.

[2018-05-08 18:12] xuzhg commented on #1376
Please re-open or file new issue if you have further concern. Thanks

[2018-05-08 18:12] #1376 closed

[2018-05-08 18:58] NetTecture commented on #1401
Ah, no?

That link returns an XML document with the content...

<service xmlns="http://www.w3.org/2007/app" xmlns:atom="http://www.w3.org/2005/Atom" xml:base="https://www.myget.org/F/webapinetcore/">
<workspace>
<atom:title>Default</atom:title>
<collection href="Packages">
<atom:title>Packages</atom:title>
</collection>
<collection href="Screenshots">
<atom:title>Screenshots</atom:title>
</collect

[2018-05-08 19:05] xuzhg commented on #939
@chuanboz @NetTecture Would you please share us the reasons  "have to update to 2.1 or high"?

[2018-05-08 19:08] NetTecture commented on #939
Simple. Entity Framework 2.1 - 2.0 is unusable for us thanks to missing Group By.

This is a long term project and I am opening an evaluaton branch for 2.1. We are getting a go for a refactoring of a quite old and convoluted codebase and given a 12 month timeframe I am really not planning to go with full dotnet.

On top, 2.1 does actually have a golive license,

Sad how - sadly - Odata is now the

[2018-05-08 19:11] raffaeler commented on #939
EF2.1 do support group by:
https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-entity-framework-core-2-1-preview-1/

[2018-05-08 19:12] robward-ms commented on #1401
@NetTecture:

It's a Nuget feed, as in:

[2018-05-08 19:14] NetTecture commented on #939
Please please please read what I said again and then have someone explain it to you. You obviously misunderstand plain english.

Yes, 2.1 does group by - this is why we need to use 2.1 and can not use 2.0.

Sadly 2.1 has no odata release yet ;(

[2018-05-08 19:18] NetTecture commented on #1401
I stand corrected - yeah, empty xml, but once you point nuget at it, something shows up ;)

[2018-05-08 19:27] NetTecture commented on #939
Ah, please. Rude is... misunderstanding...

"Simple. Entity Framework 2.1 - 2.0 is unusable for us thanks to missing Group By."

A little more complex english than in comic books.  The answer to:

"Would you please share us the reasons "have to update to 2.1 or high"?"

Simple. EF 2.1

2.0 is unusable for us thanks to missing GroupBy.

It is quite easy to understand (once you get over the SJW atti

[2018-05-08 19:28] robward-ms commented on #939
@NetTecture - Sorry you feel that OData is not adequate for your project. Also, I've met @raffaeler and he's well spoken and understands English pretty well.

All,
  I've updated the Code of Conduct in the README.md to reflect the Microsoft Open Source Code of Conduct. You can review it [here](https://opensource.microsoft.com/codeofconduct).

[2018-05-08 19:36] NetTecture commented on #939
Says tthe next person. I don't think that OData is not adequate - in fact, I think OData is probably the best solution for a very crappy problem that anyone so far has come up with. But OData is a piece of paper - a specification. And you yourself said that your are behind schedule with ressources being pulled left and right. That IS the definition of a stepchild project - something falling on the

[2018-05-08 19:43] xuzhg commented on #1435
@marcuskrahl

Please add `UseODataBatching()` before `UseMvc`:

[code]

I tested using your repo. It can work and give you the result:

[code]

[2018-05-08 19:54] robward-ms commented on #939
@NetTecture - The code of conduct is explicit, please read and abide by it. Again, you can review it [here](https://opensource.microsoft.com/codeofconduct).

All opinions are welcome and we value constructive conversations. However, your tone is aggresive and insulting.

[2018-05-08 19:59] NetTecture commented on #939
You are right. That definitly invalidates every argument I ever made. Robert. Better not make arguments at all because they are insulting to you. Quite understood.

[2018-05-08 21:17] xuzhg commented on #1370
@granthoff1107 Have you been checked the latest?

[2018-05-08 21:25] xuzhg commented on #1302
Close it and please re-open or file new issue if you have further concern. Thanks.

[2018-05-08 21:25] #1302 closed

[2018-05-08 21:27] xuzhg commented on #1299
Close it and please re-open it or file new issue if you have further concern. Thanks.

[2018-05-08 21:27] #1299 closed

[2018-05-08 21:35] xuzhg commented on #1256
Similar issue with : https://github.com/OData/WebApi/issues/1299

[2018-05-08 21:41] xuzhg commented on #1231
@robward-ms are you still willing to work on this?

[2018-05-08 21:43] xuzhg commented on #1230
@biaol-odata Is it ready to close?

[2018-05-08 21:48] xuzhg commented on #1220
@neothoms What do you mean to use the annotation from the Url? Would you please give us an url example?

[2018-05-08 21:49] xuzhg commented on #1219
Close it. Please re-open it or file new issue if you have further concern. Thanks.

[2018-05-08 21:49] #1219 closed

[2018-05-08 21:50] xuzhg commented on #1217
Fixed and close it. Please re-open it or file new issue if you have further concern. Thanks.

[2018-05-08 21:50] #1217 closed

[2018-05-08 21:52] xuzhg commented on #1215
close it. please let us know any further question and problem. Thanks.

[2018-05-08 21:52] #1215 closed

[2018-05-08 21:54] biaol-odata commented on #1230
This is also ported to current WebApi/master as well: https://github.com/OData/WebApi/pull/1425
Closed. Thanks.

[2018-05-08 21:54] #1230 closed

[2018-05-08 21:57] xuzhg commented on #1197
closed as duplicate. Thanks.

[2018-05-08 21:57] #1197 closed

[2018-05-08 21:59] xuzhg commented on #1194
close it and please file new issue if you have further concern. Thanks.

[2018-05-08 21:59] #1194 closed

[2018-05-08 22:06] robward-ms commented on #1231
@xuzhg - Actually, I never started. Can you handle this?

[2018-05-09 00:18] robward-ms commented on #939
@NetTecture

You make a very good point that EF 2.1 and GroupBy support.
You make a very good point on resource allocations for OData.
You make a very good point that the schedule delays:

Again, all opinions are welcome and we value constructive conversations. Thank you for participating in the conversation.

When I said your tone is aggressive and insulting, I was responding to:

When I used the

[2018-05-09 02:33] lelong37 commented on #939
agree w/ @robward-ms, as for the mention/comment:

Wanted to mention that this is not necessarily negative, and actually somewhat by **design**, dotnet core is **heavily** modularized especially when compared to legacy .NET pre-core. Therefore frameworks/stacks built upon it will also likely share/follow this design feature and in architectural principle: modularization e.g. ASP.NET Core (Web API)

[2018-05-09 09:36] dozer75 commented on #1257
@techniq What is your query string? I have a similar issue that it creates an `IQueryable` of `IEdmStructuredObject` and with that a very ineffective expression to handle for SQL server, I have not investigated this enough yet, but I have a suspicion that my issue relates to filtering navigational entities using `$expand`, I am thinking about reporting this issue, but just want to see if it is sim

[2018-05-09 21:45] mikepizzo commented on #825
We have released OData Client support for 7.x which is compatible with the latest OData WebAPI 6.x.

[2018-05-09 21:45] #825 closed

[2018-05-09 21:51] mikepizzo commented on #429
All of the files in the new master branch should have copyright information.

[2018-05-09 21:51] #429 closed

[2018-05-10 00:36] xuzhg commented on #1386
@maximpashuk Would you please take a look about #1436. Thanks

[2018-05-10 02:44] maximpashuk commented on #1386
@xuzhg approved, this is exactly a was talking about

[2018-05-10 22:15] xuzhg commented on #1386
Merged the PR #1436. Thanks your contribution!

[2018-05-10 22:15] #1386 closed

[2018-05-11 02:04] brjohnstmsft commented on #1248
@Compufreak345 Would you mind sharing your model? I'm still able to repro this issue in three different scenarios for both version 6 and the latest nightly of version 7.0.0-Nightly201805101240, both running on .NET Framework 4.6.1.

[2018-05-11 05:59] brjohnstmsft commented on #1248
I believe I've figured out why this issue seems to persist for some of us while others report that it's been resolved. It's because there are distinct types of recursive models, and the original bug and its fix only affect some of them. The overall scenario of supporting recursive data structures as complex types is definitely still broken.

Here are the four scenarios I tested:

**Scenario 1: Dir

[2018-05-11 18:14] biaol-odata commented on #1223
@RalfSeidel #1390 is a PR, which provides a fix for issue #1286.
Looks like issues #1286 and #1223 are similar (both related to using multiple MapODataServiceRoute).

[2018-05-11 18:31] biaol-odata commented on #1223
This issue should be fixed by PR #1390 now.

[2018-05-11 18:31] #1223 closed

[2018-05-11 23:59] biaol-odata commented on #1223
@ImGonaRot According to the description, it has no error for the first case ( single MapODataServiceRoute ), but the parenthesis when route attribute is specified ( [ODataRoute("GetSomeID()")] ) does seems unusual  to me. We will try to have a repo on WebApi v6.1, but can you confirm that [ODataRoute("GetSomeID")] still won't work for you? Thanks.

[2018-05-14 09:44] popovanastas commented on #1223
@biaol-odata Hello,
Both [ODataRoute("GetSomeID()")]  and [ODataRoute("GetSomeID")] works if only single MapODataServiceRoute is used and both are failing if multiple MapODataServiceRoute are used.

A workaround is to use custom AttrubuteRoutingConvention to separate the controllers per ServiceRoutes:

`public class MultipleServiceRoutesAttributeRoutingConvention : AttributeRoutingConvention
    {

[2018-05-14 11:00] Compufreak345 commented on #1248
@brjohnstmsft Unfortunately I don't think I have the permission to publish my model here as it's from a customer project. I had a look at it but it isn't inheritance (as it's an auto-generated EFCore-model), I think it's a combination of collections, direct reference collections and compositions over multiple classes like this - I hope I modeled it right as our database model is a bit strange as i

[2018-05-14 16:40] brjohnstmsft commented on #1248
@Compufreak345 I should have mentioned above that none of my testing involves any navigation properties whatsoever (because we don't use them in my scenario). Are any of the recursive relationships in your model above *not* modeled as navigation properties?

[2018-05-14 17:28] biaol-odata commented on #1223
@popovanastas Thanks for the info. Let's flag it as a bug first.

[2018-05-14 19:17] popovanastas commented on #1223
@biaol-odata Basically an exception is thrown if particular ODataController has [ODataRoute("GetSomeID()")] attribute on some UnboundFunction and that controller is mapped to any additional ODataServiceRoute besides the one where we declared the Unbound function.

The exception message is the one @ImGonaRot mentioned.

Regards,
Anastas

[2018-05-14 20:31] ajcvickers commented on #1413
@karelz I was unable even to repro the issue.

[2018-05-14 21:52] xuzhg commented on #1413
@karelz @ajcvickers
I think it's easy to repo using our sample project.

1. Git clone:

[code]

2. VS2017 opens solution: https://github.com/OData/WebApi/blob/master/sln/WebApiOData.AspNetCore.sln

3.  Build and run: `AspNetCoreODataSample.Web` project
4.  Postman file request at: http://localhost:5913/efcore/Movies?$apply=groupby((ReleaseDate))
5. Check the response, you will get the **sehexcepti

[2018-05-14 22:04] karelz commented on #1413
@xuzhg that is exactly what I tried. Attached windbg to IISExpress - no exception. Even no sehexception in VS, just 502 as I posted in https://github.com/dotnet/corefx/issues/29526#issuecomment-388932741

[2018-05-14 23:29] biaol-odata commented on #1263
@catalinis Do you have any code that you might be able to share for repo? That way we can understand the exact scenario.

[2018-05-15 07:45] mysticdotnet commented on #1413
@xuzhg Sorry Sam, what do you mean by repo it ?

[2018-05-15 07:47] mysticdotnet commented on #1413
@xuzhg I think the same issue [1221 ](https://github.com/OData/WebApi/issues/1221) is reported

[2018-05-15 07:48] marcuskrahl commented on #1435
Adding `app.UseODataBatching()` does indeed work. I am going to close this issue because everything is working as expected afterwards, but it might be helpful to add this information to the official documentation.

[2018-05-15 07:48] #1435 closed

[2018-05-15 15:42] Compufreak345 commented on #1248
@brjohnstmsft Oh - no, all of my relationships are modeled as navigation properties.

[2018-05-15 22:05] xuzhg commented on #1413
@mysticdotnet  Sorry. I mean to reproduce it.

[2018-05-15 22:57] xuzhg commented on #1054
@raffaeler
I totally agree with what you proposed.
I originially think the structure of ASP.NET Core OData will be same as ASP.NET Core structure, it includes several small packages and develop/build/publish one by one or as a whole metapackage.

For the ASP.NET Core Web API OData, just like you mentioned, it can be include parts seperatly as:

1. Model builder. it can be "Microsoft.OData.Builder"

[2018-05-16 00:40] divega commented on #1221
@robward-ms are you still seeing these issues with EF Core 2.1 RC1? BTW, we have support for lazy loading, but [it needs to be enabled explicitly](https://docs.microsoft.com/en-us/ef/core/querying/related-data#lazy-loading).

I would expect this to work. Where is the exception coming from?

EF Core 2.1 also supports translating LINQ GroupBy with aggregates to GROUP BY in SQL. I am not super famili

[2018-05-16 07:00] raffaeler commented on #1054
@xuzhg thanks for the feedback Sam.
I really hope to see the new structure coming soon :)

[2018-05-16 08:10] mysticdotnet commented on #1413
@xuzhg the exception occurs every time
Repro:

1. Clone / unzip https://github.com/OData/WebApi
2. Open sln\WebApiOData.AspNetCore.sln
3. Make samples\AspNetCoreODataSamples.Web project as StartUp project
4. Run the project in **Debug mode** (F5) - Browser opens URL http://localhost:5912/efcore/Movies
Browser will show:
`{"@odata.context":"http://localhost:5912/efcore/$metadata#Movies","value":[{"

[2018-05-16 15:11] CatalinStafieTest commented on #1263
It looks like we agree, the current code does not implement the section 11.4.3 of the spec.
What is the plan for a fix?

[2018-05-16 16:58] xuzhg commented on #1413
@karelz did you follow up @mysticdotnet 's step?

[2018-05-16 17:40] karelz commented on #1413
@xuzhg I am able to repro problem (only in first F5 run in VS), but the exception is not coming from IISExpress process (nothing shows up in windbg) - see https://github.com/dotnet/corefx/issues/29526#issuecomment-388932741.
It is quite possible that the dialog is just a decoy / bug in VS itself, or it comes from other processes -- IMO we need to focus on what happens in IISExpress process (where

[2018-05-16 18:48] mysticdotnet commented on #1413
@karelz Repro without iisexpress:

1. Open cmd prompt
2. cd to debug folder: ...\WebApi\samples\AspNetCoreODataSample.Web\bin\Debug\netcoreapp2.0
3. run this cmd: **dotnet AspNetCoreODataSample.Web.dll**
4. launch Windbg
5. Go to: File > Attach to Process
6. The list of processes appear
7. Select dotnet.exe process opened in step 3
8. this output appear with some exceptions: [output.txt](https://g

[2018-05-16 20:04] karelz commented on #1413
Can you please get a callstack from the AV? (`k` command in windbg, `sxe eh` or `sxe av` will stop on first-chance exceptions)

[2018-05-16 20:35] Metaphis opened #1439 "Unbound function do not work with asp.net core"
Unbound functions cannot be called using asp.net core and OData. When calling a function I'm getting a 404 back.

### Assemblies affected
using the following nugets:
    Microsoft.AspNetCore.All 2.0.6
    Microsoft.AspNetCore.OData 7.0.0-beta2

### Reproduce steps
Create a blank asp.net core project. The startup should look like this:

    public class Startup
    {
        public void ConfigureSe

[2018-05-16 22:16] biaol-odata commented on #1263
Adding one related issue: https://github.com/OData/WebApi/issues/135

[2018-05-17 00:50] xuzhg commented on #1059
@christophwille  @justintoth @stephenpope @cilerler @hikalkan and others

Would you please try the nightly build **Microsoft.AspNet.OData**, version 7.0.0-Nightly201805162258.
The source is: https://www.myget.org/F/webapinetcore/api/v3/index.json

![image](https://user-images.githubusercontent.com/9426627/40150858-090cb282-5931-11e8-8b3f-73d96b15f62e.png)

It seems work at my side, please make sur

[2018-05-17 06:03] christophwille commented on #1059
Did a test on our real solution (heck, that's why we have source control). Target FW 4.6.2.

Step 1 - added the Nuget you specified. Had to touch a total of 14 files. (old was 6.1)

using System.Web.OData; -> using Microsoft.AspNet.OData;
using System.Web.OData.Routing;  -> using Microsoft.AspNet.OData.Routing;
using System.Web.OData.Builder; -> using Microsoft.AspNet.OData.Builder;
(and a few mor

[2018-05-17 06:56] Asido commented on #1439
I won't go much into the problem, but I'll tell you that I implemented an unbound action yesterday and had no problems. Except I use .NET Core 2.1 RC1 and OData 7.0.0-beta2.

[code]

[code]

![unbound-odata](https://user-images.githubusercontent.com/678800/40160956-91f66dbc-59af-11e8-9895-a7e21a5a0ee1.png)

[2018-05-17 16:35] xuzhg commented on #1059
@christophwille Thanks for your trying.

[2018-05-17 16:50] xuzhg commented on #1419
@all Would you please take a look the latest comments in #1059 and give us a try?

[2018-05-17 22:30] premiaware commented on #1247
I have update spatial to 7.4.4 but the problem is the same, how can fix this?

[2018-05-17 23:31] AlanWong-MS commented on #1195
@TonyValenti we're currently reviewing open issues in preparation for our upcoming WebAPI 7.x release. Is the behavior that you're seeing still applicable? Please review Rob's post above. Thank you.

[2018-05-17 23:44] AlanWong-MS commented on #1189
@ErliSoares we're currently reviewing open issues in preparation for our upcoming WebAPI 7.x release. Is the behavior that you're seeing still applicable? Please review the posts from Rob and Igor above. Thank you.

[2018-05-17 23:51] AlanWong-MS commented on #1204
@genusP we're currently reviewing open issues in preparation for our upcoming WebAPI 7.x release. Per Rob's comment, just so we can trace the problem down better, do you know if it's a problem existent in a WebAPI 6.x?

[2018-05-18 12:48] justintoth commented on #1059
@xuzhg @christophwille How are you guys installing the nightly build?

[2018-05-18 12:50] cilerler commented on #1059
@justintoth you need to target https://www.myget.org/F/webapinetcore/api/v3/index.json not **nuget**

[2018-05-18 12:53] justintoth commented on #1059
Just figured that out, never used a source other than nuget before. Unfortunately it didn't work for me, the nightly build still shows as not supporting DI 2.0.

![odata](https://user-images.githubusercontent.com/1443831/40235644-e78f1d72-5a78-11e8-90f4-133ff8251e81.PNG)

[2018-05-18 16:37] xuzhg commented on #1059
@justintoth Please select version: **7.0.0-Nightly201805162258** to try.

  Not all version can work because i haven't merge my PR yet.

[2018-05-18 20:46] AlanWong-MS commented on #1365
Looks like this issue has been addressed by #1366. @robward-ms / @xuzhg, can we close this one?

[2018-05-18 20:54] #1365 closed

[2018-05-18 21:00] AlanWong-MS commented on #1402
@offbeatful, per Rob's comment, would you be able to share details of the Startup.cs code and model class for more info?

[2018-05-18 21:38] AlanWong-MS commented on #1358
@egbertn regarding "Fact 1) WOrks on .NET framework 4.7.", that's interesting. Have you tried this on WebAPI OData 6.x?

[2018-05-19 05:58] egbertn commented on #1358
Let me clarify. "Works on .NET Framework 4.x" means that the same feature works there, with OData 6.x. Sure it _does_ work. But not on this feature branch. A simple $expand=company($expand=subtypesetc) does work.

[2018-05-19 14:50] FordSoft commented on #1257
A similar case (but .net 46). But at the same time I get a full result without formatting ODATA (e.g. "@odata.metadata", "value:". Only array of JSON format), apparently the serializer does not understand how to resolve just IQueryable.

How to get the formatting with (e.g. "@odata.metadata", "value:") used for IQueryable<SomeType> ?

[2018-05-20 07:12] thnder opened #1441 "AspNetCore.Odata $expand clause"
When i try to apply the following statement the IQueryable<T> is null:
patientQueryable = options.SelectExpand.ApplyTo(patientQueryable, new ODataQuerySettings()) as IQueryable<Patient>;

### Assemblies affected

Microsoft.AspNetCore.All 2.0.8
Microsoft.AspNetCore.OData 7.0.0-beta2
     Microsoft.AspNet.Odata 7.4.4

### Reproduce steps

Create a webapi blank project.
This is the Startup class:

`

[2018-05-20 15:59] S1r-Lanzelot commented on #1006
Updated url: https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNet.OData.Shared/DeltaOfTStructuralType.cs#L237

[2018-05-21 06:55] genusP commented on #1204
This issue exits on 6.x. I don't understand, why properties expand when build expression tree and not serialize to response. If this query option not support need error else serialize data.

[2018-05-21 17:45] AlanWong-MS commented on #1204
Thanks for the feedback and the issue description. We will take this into consideration in further investigation.

[2018-05-21 17:49] AlanWong-MS commented on #1358
Got it, thanks for the clarification and feedback. We're reviewing open issues for our pending 7.x release. We're going to investigate this further.

[2018-05-21 19:21] xuzhg commented on #1136
@PietheinHeemskerk @jcannata Do you try the latest 7.0 version?

I can't repro your problem in the 7.0 version. I had a test like:

1. Create EdmModel by enable lower camel case.
2. Build and run the service.
3. File a request at:
![image](https://user-images.githubusercontent.com/9426627/40325550-0e619aea-5cf1-11e8-841a-58eb16c27b58.png)
4. Debug it, it can show as below
![image](https://user-ima

[2018-05-21 19:21] #1136 closed

[2018-05-21 19:55] xuzhg commented on #465
In 6.x and 7.x, a custom query setting is introduced, it can do query option validation before the executive.

For example, if customer want to use "$select", he should call "Select()" from configuration. If he doesn't call this method, and file a $select clause in the request, for example:
[code]
he will get an error message as below:

![image](https://user-images.githubusercontent.com/9426627/40

[2018-05-21 19:55] #465 closed

[2018-05-21 21:05] xuzhg commented on #1059
Merged the PR. #1440. Please let us know if you have further concerns or questions.

[2018-05-21 21:05] #1059 closed

[2018-05-21 21:29] xuzhg commented on #1358
@egbertn Would you please share us your metadata document?

[2018-05-21 22:10] xuzhg commented on #1391
@rmadisonhaynie I also think it's by design. And we are working on the RTM of 7.0. Updating documentation will be later.
Please let us know any other concerns or file new issues.

[2018-05-21 22:10] #1391 closed

[2018-05-21 22:11] xuzhg commented on #1419
Merged the PR #1440. Please let us know any problem or file new issues. Thanks your input.

[2018-05-21 22:11] #1419 closed

[2018-05-21 22:50] xuzhg commented on #1441
@thnder Did you have any chance take a look about the comments in issue #1087.

I am wondering that you are facing the same problem with EFCore.
![image](https://user-images.githubusercontent.com/9426627/40333050-5aab76ea-5d0b-11e8-8d07-d081aa723383.png)

If not, Would you please take a look the comments in #1087 and let us know any result? Thanks

[2018-05-21 23:03] xuzhg commented on #1388
Merged. Thanks.

[2018-05-21 23:03] #1388 closed

[2018-05-22 00:11] Pangamma commented on #842
I am also running into this issue. Any fixes yet?

[2018-05-22 05:54] jpiquot commented on #939
I dont agree with the @NetTecture message form but the OData team have to understand that early adopters spend a lot of energy in OData and make design choices. Not having a clear roadmap and seeing the very low number of commits last weeks can make people think that they where misled into a dead end.

I agree with the fact that EF Core 2.0 is not usable in an application. We really need EF Core 2

[2018-05-22 07:39] egbertn commented on #1358
Sure, but not in public. Where can i sent it?

[2018-05-22 12:53] adeelsheikh opened #1442 "Microsoft.AspNetCore.OData 7.0.0-beta2 with ASP.NET Core 2.0.6 - Plain JSON Response"
*I have an ASP.NET Core 2 (version 2.0.6) project and I am trying to expose OData endpoint using Microsoft.AspNetCore.OData library. I am facing a weird issue that the response I am getting is plain JSON. It does not include either `@odata.context` property or `value` property. I simply returns me object / collection like ASP.NET Web API.*

### ASP.NET Core Configuration

public void ConfigureServ

[2018-05-22 17:27] thnder commented on #1441
Ok i've found a workaround:

`

        public PageResult<Patient> Get(ODataQueryOptions<Patient> options)
        {
            IQueryable<Patient> result = null;
            int count = 0;

            var validationSettings = new ODataValidationSettings
            {
                AllowedQueryOptions = AllowedQueryOptions.All,
                AllowedFunctions = AllowedFunctions.All,

[2018-05-22 22:28] AlanWong-MS commented on #1209
@suadev, are you still seeing the issue? To reiterate, the current advice is to try writing a separate method to handle GUIDs themselves, e.g. Get(Guid id). I may be missing something but according the sample code you've provided
[code]
it seems like you may be returning a list each time (where the list could be a single item at times). Is that intended?

@andrew-laughlin, thanks for the report. I

[2018-05-22 22:47] xuzhg commented on #1442
@adeelsheikh

Please:
1. remove `routeBuilder.EnableDependencyInjection();`
2. remove `[Route("odata/[controller]")]`

you will get the odata payload.

Reason is that: `[Route(...)]` is web api routing attribute. OData uses convention routing or attribute routing decorated by `[ODataRoute(...)]`.

[2018-05-22 22:48] xuzhg commented on #1442
close it and please re-open it or file new issue if you have further concern or question. Thanks your input.

[2018-05-22 22:48] #1442 closed

[2018-05-23 08:11] adeelsheikh commented on #1442
Thanks @xuzhg. That was it 👍

[2018-05-23 13:03] cilerler opened #1444 "Latest Microsoft.AspNet.OData (7.0.0-Nightly201805221243) breaks RESTIER"
reference https://github.com/OData/WebApi/issues/1059
cc @xuzhg

I just updated [RESTIER](https://github.com/OData/RESTier) with latest nightly build **7.0.0-Nightly201805221243** _(and all I had to do was changing the all System.Web.OData to Microsoft.AspNet.OData)_ and started to receive error below.

[code]

[2018-05-23 16:39] xuzhg commented on #1247
Merged the PR. Please re-open it or file new issue if you have further concern. Thanks.

[2018-05-23 16:39] #1247 closed

[2018-05-23 19:54] mikepizzo commented on #1239
I believe WebAPI OData is intentionally adding the orderby in order to enforce a consistent ordering of the results when using Top.

It looks like Cosmos DB is correctly building the query; is there a problem when the query is executed, or does everything work as expected, you just weren't expecting to see the order by?

[2018-05-23 22:00] xuzhg commented on #1444
@cilerler Thanks for trying our new version nightly build.

For your problem, I took some time to update the Restier project and added one sample project to test the nightly package. It seems it can work at my side and most of Restier test cases also can work based on the nightly package.

![image](https://user-images.githubusercontent.com/9426627/40453362-d254f542-5e99-11e8-9873-b995ff3a7c48.png)

[2018-05-23 22:16] xuzhg commented on #1358
@egbertn

It seems your zip file are invalid.  Please re-send me the working version.

![image](https://user-images.githubusercontent.com/9426627/40454088-407bab0e-5e9c-11e8-910b-9f0ad5492628.png)

[2018-05-23 23:01] xuzhg commented on #1208
I read through the whole comments in this issue, and I think @robward-ms gave us a detail summary about the above multiple problems coming from the mix-usage of OData and ASP.NET MVC/Web API.

the document at http://odata.github.io/ can help both of you to understand what's OData and how to use it in your project.

For this issue itself, i don't think any fix required. So, i close it.

Please file

[2018-05-23 23:01] #1208 closed

[2018-05-23 23:02] mikepizzo commented on #1402
Note that I'm surprised WebAPI OData lets you define a key property as nullable; by OData protocol, key properties must be non-nullable.  see http://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/cs01/odata-csdl-xml-v4.01-cs01.html#sec_Key:

"An entity type’s key refers to the set of properties that uniquely identify an instance of the entity type within an entity set. The key MUST consist of at l

[2018-05-23 23:13] mikepizzo commented on #1209
If I understand the issue correctly, this is by design.

ApplyTo applies the filter, select, expand, top, skip, etc. *query options* to controller methods that return a collection.  Similarly, the [EnableQuery] attribute applies the same query options to a controller method that handles a path that represents a collection.

Neither were designed to support an individual key-lookup expression which

[2018-05-23 23:13] #1209 closed

[2018-05-23 23:26] mikepizzo commented on #1190
This appears to be an issue in ODL.  @robward-ms has opened OData/odata.net#1071 to track.  We will wait to close this issue until the ODL issue is resolved and we can verify that it works correctly in WebAPI.

[2018-05-23 23:27] mikepizzo commented on #1231
Fixed by PR #1426.

[2018-05-23 23:27] #1231 closed

[2018-05-24 00:41] cilerler commented on #1444
So far the only difference I see between your updates and mine is https://github.com/xuzhg/RESTier/blob/UpdateToWebAPIOData7x/src/Microsoft.Restier.Publishers.OData/Routing/HttpConfigurationExtensions.cs#L30 Mine is `Microsoft.AspNet.*` where your's is still `System.Web.*`

Even I believe you missed that, I tried to use it the way you provided and it thrown the same error.

I will create a sample

[2018-05-24 17:11] xuzhg commented on #1444
@cilerler

I can't find any place referencing to this field:
`private const string RootContainerKey = "System.Web.OData.RootContainerMappingsKey";`

I am wondering that you used "Find and Replace All" functionality to replace all "System.Web.OData" to "Microsoft.AspNet.OData". 😆 .

I removed this field (see https://github.com/xuzhg/RESTier/commit/99742065fe6a4da9a8e02b02dfb68224f1201802) and it gi

[2018-05-24 17:25] cilerler commented on #1444
😆 well I tested yours and it works fine.  However mine is using almost every single feature exist in RESTier.  Trying to cut off all the non related parts so I can isolate the exact location.

Also I realized that your example is not based on DI2 by the way ;-) just saying... 😂

[2018-05-24 18:55] xuzhg commented on #1444
@cilerler

Ok. Now I know the problem.

The problem is that DI version 2.0 has a breaking change for the `BuildServiceProvider` extension method for `IServiceCollection`.  See issue at: https://github.com/aspnet/DependencyInjection/issues/550

Web API OData has a workaround and I merged into Restier, now it can work with DI2 at my side.

See at: https://github.com/xuzhg/RESTier/commit/e714052085a5

[2018-05-24 21:29] xuzhg commented on #1358
@egbertn

The zip file works. I try to create a repro based on your metadata. However, it looks work at my side.

I push my tests codes at: https://github.com/xuzhg/WebApi/commit/293267c46dc399f22d84984887e4172c0f8527b4

When i build and run the web api app, i use the postman to query:

[code]
I can get the result:

![image](https://user-images.githubusercontent.com/9426627/40514614-9e8c97e0-5f5e-

[2018-05-24 22:09] cilerler commented on #1444
I added `httpConfiguration.EnsureInitialized();` at the end of the configuration and then I did be able to see what is causing the issue.  Actual reason was `[ODataRoute("ImportQueues({key})/organization/$ref")]` part which I commented it out.  _(I can figure out why it is not happy with it since I have an actual error message)_

When I comment that out, I started to receive error message below.

[2018-05-24 22:13] xuzhg commented on #1444
@cilerler A working repro (as simple as possible) can help us a lot. Would you please create one?

[2018-05-25 00:03] cilerler commented on #1444
@xuzhg I'm on it...  I will get back to you...

[2018-05-25 02:16] cilerler commented on #1444
Took while but pin-pointed the issue.

Just change the line [here](https://github.com/xuzhg/RESTier/blob/UpdateToWebAPIOData7x/test/MyWebApplication/Global.asax.cs#L14) in your sample project with code below

[code]

it will work fine.

Then un-comment the commented line and you will get the error.

[2018-05-25 06:53] egbertn commented on #1358
Wow, that’s weird. Do you have IEnumerable<> collections?

Van: Sam Xu <notifications@github.com>
Verzonden: donderdag 24 mei 2018 23:30
Aan: OData/WebApi <WebApi@noreply.github.com>
CC: Egbert Nierop <egbert_nierop@outlook.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [OData/WebApi] [feature/dotnetcore]: Could not find a property named 'locations' on type 'Microsoft.AspNet.OData.Query

[2018-05-25 07:56] mickdelaney commented on #939
I have a very large global client that wants an OData endpoint for use with Microsoft Power BI. We’re using .net core heavily at the moment, is .net core support usable ?
Seems to be a bit on tension on here from users etc ?
In reference to ‘group by’ is it supported, or are there work around’s ?
Would you expect a typical power bi user’s needs convered by .net core OData as is ?
(i do realise it’

[2018-05-25 08:17] sherland commented on #939
I think this whole discussion about group by support++ is confusing. It seems you discuss features that should not be part of / is not part of OData. Or am I wrong? My understanding is that the OData library is an abstraction over IQueryable (Ok, maybe too much of a simplification, but you get the idea)
If some of the “IQueryable  implementations” out there in the wild (like Entity Framework) does

[2018-05-25 08:39] dialeggio opened #1446 "Delta Parameter in the Patch function doesn't listed changed fields"
When I submit Patch Request with changes for an entity, the Delta Entity parameter doesn't listed the changed fields and hence doesn't update the DB with the changes.

### Assemblies affected

Abp.AspNetCore.OData v3.6.2
Microsoft.AspNet.WebApi.OData v5.7.0
Microsoft.Data.OData v5.8.3

### Reproduce steps

I've reproduced the same issue using the aspnet boilerplate odata example that can be found

[2018-05-25 08:46] memilavi commented on #939
@mickdelaney We're using OData with ASP.NET Core 2.0 on a huge project.
So far, the only challenge we encountered is the JSON query support, which is a problem with EF Core, and not OData.
We don't need group by support, so I can't comment on this.

Bottom line - Use it, but with caution. Make sure you understand exactly how it works, and work against a well defined set of requirements, so you can

[2018-05-25 08:56] rldjenkins commented on #939
@mickdelaney Its been a while since I used PowerBI with OData... but my experience so far has been that it simply sucks all the data out of the source with really simple queries and then does any operations the user wants (grouping, filtering etc.) on its internal copy of the data - I don't think you need $groupby support for PowerBI to make use of your data source. Note that if you have a low def

[2018-05-25 09:00] Compufreak345 commented on #939
@mickdelaney Take my word with a grain of salt, but we are currently migrating a sharepoint-data-based application (for a global customer as well) to a database-based application using the [nightly .net core builds](https://www.myget.org/F/webapinetcore/api/v3/index.json). We also plan on using PowerBI in the future and I think the features needed for this are mature enough. We currently have some

[2018-05-25 12:55] jpiquot commented on #939
@mickdelaney, We are using .Net Core WebApi OData in an application using EF7/Orchardcore/Syncfusion controls. All sorting/filtering/grouping commands generated by the Syncfusion Grids work very well. The only issues we have comme from EF7 2.0 that have missing features like In memory group by instead of sql grouping and a bad support for Oracle (Oracle is very late on their .Net Core driver and E

[2018-05-25 13:38] gordon-matt opened #1447 "[feature/netcore] Broken with .NET Core 2.1"
When using .NET Core 2.1, OData does not return the expected response. For instance, when making a standard Get request to pass `ODataQueryOptions<TEntity>` for querying against an `IQueryable<T>`, it simply returns a JSON array instead of the expected response with `@odata.count`, the `value` property and metadata. Will this be an easy fix? When can we expect it to be working? Thanks.

[2018-05-25 14:03] gordon-matt commented on #939
@Compufreak345 Thanks for the mention. I am glad to see that code is useful to you. Feel free to contribute back to the repo if you'd like to do so.

As for my opinion on the maturity of OData for .NET Core, I use it everywhere throughout my own framework/CMS and a few issues did come up, but they were pretty much all dealt with. I am quite happy about the state of it at the moment. However, there

[2018-05-25 16:16] mickdelaney commented on #939
Thanks so much everyone for the comments, really appreciated...

I feel alot better about going down this road now !!!

Regards

[2018-05-26 00:33] biaol-odata opened #1448 "Patch nested resources: mismatched types scenarios"
*Common use case of patching is using the same type as that of the original resource in the delta payload.*
*Even though same-type patch should be the encouraged approach, when working on issue #1263, questions have come up related to using different types in the delta payload. This issue is opened to discussed whether we need to support patching resource using delta payload types different from t

[2018-05-26 01:41] biaol-odata commented on #1448
RFC for HTTP PATCH: https://tools.ietf.org/html/rfc5789

[2018-05-27 06:54] CShelton11 commented on #1154
Using core version 2.1.0 preview 1.  Still getting this issue as mentioned above.  {"@odata.context":"http://localhost:5000/odata/$metadata#Employees(AvgHoursPerWeek)","value":[
Is this fixed?  Is there a newer version that's required?

[2018-05-28 16:51] jbuschke opened #1449 "Patch/Delta vs Post: inconsistent parsing of camelCase json"
I have a patch method where the Delta< MyModel > request object **only** gets correctly populated when the body uses **UpperCase**:
[code]

The following Post method however parses **both UpperCase and camelCase**:
[code]

What is the correct expected behaviour?

[2018-05-28 16:58] jbuschke commented on #1446
Does it help adding a [FromBody] attribute for the Delta parameter?

[2018-05-28 22:20] dialeggio commented on #1446
That worked, magnificent. Thanks so much for your help.

Cheers

[2018-05-28 22:20] #1446 closed

[2018-05-29 06:09] mysticdotnet commented on #1413
@karelz With k command i have this output now: [output.txt](https://github.com/OData/WebApi/files/2046924/output.txt)

[2018-05-29 12:11] bdebaere opened #1451 "Contains does not perform a search"
A contains does not perform a search, instead it searches for complete matches.

### Assemblies affected

Latest.

### Reproduce steps

Test contains().

### Expected result

When entering the following OData query /Customers?$filter=contains('a', Name). I should receive a result of all customers containing an "a" in their Name e.g. Amazon.

### Actual result

I receive nothing.

### Additional de

[2018-05-29 15:57] nstubi commented on #1368
Hello,

I've the same issue with Microsoft.AspNet.OData 6.1.0

Having to downgrade is a shame.

But I am considering to do it now ...

Best Regards,
Nicolas Stübi

[2018-05-29 19:55] biaol-odata commented on #1263
Merged. This issue can be closed now.

[2018-05-29 19:55] #1263 closed

[2018-05-29 20:41] xuzhg commented on #1451
@bdebaere

From OData spec, it says : The contains function with string parameter values returns true if the *second* string is a substring of the first string, otherwise it returns false. "

In your example, the value of `Name` is a substring of `a`?  So, I think you suppose to use :  `$filter=contains(Name, 'a')`.

If you try our [sample project](https://github.com/OData/WebApi/tree/master/sampl

[2018-05-29 20:42] xuzhg commented on #1451
Close it and please let us know further concerns. Thanks.

[2018-05-29 20:42] #1451 closed

[2018-05-30 16:17] Vaccano commented on #136
Pinging this again to see if there is any comment.

I still would love to be able to use OData again, but I can't use DateTimeOffset.  There are many times that I don't know the Time Zone.

Adding one implies a precision that I don't have!  It would not be responsible as an API creator to just add local timezone information, implying that the timezone was in fact local, when it could have been any

[2018-05-30 16:53] TehWardy commented on #136
From what i can see V6 now supports DateTimes.
However i think older versions also map datetimes as datetimeoffsets too ...

http://odata.github.io/WebApi/datetime-support

... essentially this is a well and truely solved problem ... I just wish the team would be more communicative in letting the community know when they do something right :)

[2018-05-30 17:03] Vaccano commented on #136
@TehWardy - Sadly no.  Mapping to DateTimeOffset is nice for some cases.

But many times you don't control the types of data in your source of your information.  In my case I get information from a system which in turn gets it from over a thousand different systems around the USA.  None of which I control.

None of these systems give me a timezone!  So converting to DateTimeOffset implies a precis

[2018-05-30 20:38] AlanWong-MS commented on #1447
@gordon-matt, can you please provide more info regarding what your metadata looks like and a code sample of your controller?

[2018-05-30 20:42] AlanWong-MS commented on #1444
@cilerler, based on the conversation, we're going to close this issue and please feel free to open this one against RESTier. Thanks.

[2018-05-30 20:42] #1444 closed

[2018-05-30 20:52] AlanWong-MS commented on #1439
Can you try deriving from ODataController?

[2018-05-30 20:57] robertmclaws commented on #136
@Vaccano Here is the thing you might be missing in this equation: The human concept of time *always* exists in a time zone, even if that information didn't get passed on in the formatting. If you a) don't know what time zone the time is happening in, and/or b) can't guarantee that it's correct, then I hate to break it to you, but the system that is broken in this equation is not OData, and here's

[2018-05-30 21:09] ImGonaRot commented on #136
@robertmclaws Neither the Telerik nor DevExpress (Win form or Web form aspx) support DateTimeOffset.
Not only that but DateTimeOffset is a Microsoft standard not a web standard.
I will admit that javascript based controls HTML5 grids from Telerik (Kendo) and DevExpress work fine is you also have moment.js handy on site.
This is assuming that we store our date times in MSSQL with SQL DataType DateT

[2018-05-30 21:42] Vaccano commented on #136
@robertmclaws -  OData did not even support DateTimeOffset till V2/V3 (can't recall for sure).  In 3 short years it went from no support for DateTimeOffset to fully removing DateTime and only supporting DateTimeOffset.

Both extremes are wrong.

DateTime is a native type of almost every system and language on the planet.  It, or something like it, has been in use since almost the dawn of programmi

[2018-05-30 22:36] mikepizzo commented on #1441
@thnder: I suspect the issue is not with typed/untyped queryable, but with the fact that EF Core 2.0 doesn't support the lazy loading required to make the $expand work.  Your work-around avoids this problem by reading the data into memory and then does an in-memory filter over the results, which is *far* from ideal, but suggests that the issue is with EF Core, not with the WebAPI OData layer.

Can

[2018-05-30 23:12] mikepizzo commented on #136
For some historical background:

In the OData standards group we spent a lot of time discussing DateTime vs DateTimeOffset.  While we understood that DateTime has been around longer than DateTimeOffset, we saw inherit issues with propagating its use in a global environment. As @robertmclaws  says, DateTime without offset is meaningless, and prone to mis-interpretation. DateTimeOffset was invented

[2018-05-30 23:28] biaol-odata commented on #170
Verified this is not an issue any more on WebApi/master branch.
This issue can be closed.

[2018-05-30 23:28] #170 closed

[2018-05-31 00:51] gordon-matt commented on #1447
@AlanWong-MS OK I've updated my [OData_Test](https://github.com/gordon-matt/OData_Test) project for you. Checkout branch **feature/SDK2_1** and go to this URL: https://localhost:44367/odata/RegionApi. You should see the metadata for OData, but instead all you get is an array of the records.

[2018-05-31 01:12] brjohnstmsft commented on #989
@xuzhg I propose closing this issue since it is a duplicate of #196. If you agree, please close this.

[2018-05-31 01:15] brjohnstmsft commented on #196
This issue affects Azure Search as well. We are expanding the semantics of $select in our API to handle complex types.

I investigated this issue to the point where I have a sense of the scope of the fix, and it's not small. I already have a workaround in place, so unfortunately it's not worth the effort for my team to take this on. However, I did write an E2E test that will be useful for the next

[2018-05-31 04:14] thnder commented on #1441
Ok i will try.

Thanks

[2018-05-31 07:44] dr-noise commented on #170
So slow, I don't even use OData anymore :D

[2018-05-31 13:18] mysticdotnet commented on #1413
@karelz @xuzhg I have more information now:
1-I edit AspNetCoreODataSample.Web.csproj, i add this PropertyGroup:
`<PropertyGroup>
    <RuntimeIdentifier>win10-x86</RuntimeIdentifier>
  </PropertyGroup>`
2-After that i run the app in **Debug Mode** (F5)
3-open browser with this link: localhost:5000/efcore/Movies?$apply=groupby((ReleaseDate))
4-Line 80 of DynamicTypeWrapper.cs throw this exception:

[2018-05-31 16:14] karelz commented on #1413
The stack trace above (https://github.com/OData/WebApi/issues/1413#issuecomment-392662943) is missing some symbols :(
@xuzhg can you please help to get the right callstack form the repro for further routing?

[2018-05-31 18:11] biaol-odata commented on #170
@dr-noise sorry that you feel it that way. Apparently this issue just came back to our radar screen during recent triage. If you have any other similar issues related to WebApi, please ping us via github to trigger proper triage.

[2018-05-31 19:50] Vaccano commented on #136
@mikepizzo - Of course the privilege to make that choice rests with the standard makers.

And I understand why the choice was made.  It was to provide a "pit of success" for those who are making APIs that don't have to integrate with the wider world, or if they do, have the luxury of integrating with newer APIs.  By removing the choice for them, you force the right decision on them.

I think that

[2018-05-31 20:15] keithnicholson opened #1456 "Example Documentation Extension Does Not Filter on 7.x (Beta 4)"
I  have gone to http://odata.github.io/WebApi/#14-01-netcore-beta1 to see where the OData/WebApi provides some examples down at the bottom of the page for 7.X in section 14.  I have done the example project and it works as provided.  However the beauty of OData is to call parameters and get different results.  That does not seem to work here for even filter.

### Assemblies affected

Microsoft.Asp

[2018-05-31 20:15] Metaphis commented on #1439
@AlanWong-MS that actually works, should I be using ODataController for all OData routes? using the asp.net core Controller class as a base works for other odata requests.

[2018-05-31 20:17] robertmclaws commented on #136
@vaccano, I'm just having a hard time seeing why this is such a problem. There are other ways of solving the data-entry problem, depending on how the data is coming in and out of the system. If other parties are submitting data to you through the OData endpoint, why don't you make the date field on the input methods a string, and just parse the string in the POST method and convert it to a DateTim

[2018-05-31 20:58] Vaccano commented on #136
@robertmclaws Sadly it is much more complex than simple data entry.  Here is one scenario (just one) of the data flow of one (just one) of the DateTime fields in my system.

A nurse draws blood from a patient at a clinic somewhere in the United States.  The DateTime value in this scenario is the date and time that the blood was drawn from the patient.  The nurse enters the blood draw time and date

[2018-05-31 21:10] robertmclaws commented on #136
@I think you should re-read my post because I gave you a workaround that would apply to your situation.

[2018-05-31 21:58] robertmclaws commented on #136
Yes you can, if you implement the getters and setters properly. In WinForms you can also use a Model  that inherits from your Client object and does the conversions for you.

[2018-05-31 22:35] xuzhg commented on #1456
@keithnicholson

Thanks for trying beta4. Yes, documentation is a little bit behind the release.

For your problem, please add the following line codes in the "UseMvc"
[code]
And please remove the `routeBuilder.EnableDependencyInjection();`.

[2018-06-01 00:32] mysticdotnet commented on #1413
@karelz  With .symfix[+] [LocalSymbolCache] cmd, i have this output
[output.txt](https://github.com/OData/WebApi/files/2060576/output.txt) and this stack [stack.txt](https://github.com/OData/WebApi/files/2060577/stack.txt)

[2018-06-01 02:52] ImGonaRot commented on #136
@robertmclaws You can't implement your own getters / setters and get LINQ to work properly when querying the OData service.
The OData libraries don't know how to convert LINQ queries into OData "URL" queries when using custom get / set.
Both Telerik and DevExpress have their own custom OData Data Source and neither of those data sources work with querying the OData service when you implement a Dat

[2018-06-01 05:53] gordon-matt commented on #1447
Any idea when this can be fixed? There are features in 2.1 that I'd like to make use of, but I can't upgrade until this issue with OData is fixed.

[2018-06-01 22:05] AlanWong-MS commented on #1447
We don't have a fix estimate at this moment but we're currently reviewing bugs to determine whether we'll be able to fix them for the GA release of WebAPI 7.0. Please stay tuned.

[2018-06-02 00:07] brjohnstmsft commented on #1248
I'm working on pinning tests for all the above cases now, and I learned something interesting about scenario 3 that I wanted to share for posterity. It appears that the `StackOverflowException` doesn't happen when adding the complex type to the model directly via the `.ComplexType<T>()` method. However, when using `.EntitySet<T>("name")` method, it does happen. Unfortunately calling `ComplexType`

[2018-06-02 00:49] AlanWong-MS commented on #1439
If you have OData endpoints, you should stick with the ODataController for better interoperability.

[2018-06-03 14:45] phatcher opened #1457 "Auto-typing of dynamic properties?"
Given that the serializer processes dynamic properties as untyped unless the json carries explicit type information, is there any code to automatically emit/consume type information?

All we have server-side currently is a Dictionary<string, object> to hold dynamic properties, but is should be possible for the serializer to look at the base type of the data and provide that.  If not, then it impli

[2018-06-03 22:58] brjohnstmsft commented on #930
This was not completely fixed. See this issue for broader context: https://github.com/OData/WebApi/issues/1248

[2018-06-03 22:58] brjohnstmsft commented on #437
This was not completely fixed. See this issue for broader context: https://github.com/OData/WebApi/issues/1248

[2018-06-04 03:41] NetTecture opened #1459 "OData not handling EF Core Lambda Correctly"
I am (trying to) use OData + Automapper + EntityFramework in the current dotnet core iteration. I have a sequence of mappings that gets botchered by Odata. They work fine when materializing the view using ToArray, so there is something happening qith the IQueryable that makes it generate invalid nodes.

The controller with this method:

        [HttpGet]
        [EnableQuery()]
        public IQue

[2018-06-04 06:42] maximpashuk opened #1460 "Add IEEE754Compatible to input\output ODataFormatters supported media types"
I using Microsoft.AspNetCore.OData 7.0.0-beta4

If you take a look at
[ODataInputFormatterFactory.cs](https://github.com/OData/WebApi/blob/f9d10191efcb13fee7f995fa4ec2188860d8c6fd/src/Microsoft.AspNetCore.OData/Formatter/ODataInputFormatterFactory.cs#L59)
[ODataOutputFormatterFactory.cs](https://github.com/OData/WebApi/blob/f9d10191efcb13fee7f995fa4ec2188860d8c6fd/src/Microsoft.AspNetCore.OData/Fo

[2018-06-04 07:42] mysticdotnet commented on #1413
@karelz @xuzhg did you see [the Jan analysis](https://github.com/dotnet/coreclr/issues/18215) about this issue ?

[2018-06-04 16:25] NetTecture opened #1461 "Lambda Error: No coercion operator is defined between types"
System.InvalidOperationException
  HResult=0x80131509
  Message=No coercion operator is defined between types 'Microsoft.AspNet.OData.Query.Expressions.SelectExpandBinder+SelectAllAndExpand`1[Api.Odata.OpsTenant]' and 'Api.Odata.OpsTenant'.
  Source=System.Linq.Expressions
  StackTrace:
   at System.Linq.Expressions.Expression.GetUserDefinedCoercionOrThrow(ExpressionType coercionType, Expression e

[2018-06-04 16:50] NetTecture commented on #1210
This is extremely bad design - firing bad. Without an order by, TOP on a SQL level is not stable. I.e. you can get different results in different queries. SQL basics demand that you define an order if you need one, and as top is used in paging, you need the paging to be stable. How unstable? Well, it may change with a hotfix. Sometimtes it may really change between requests.

That makes sense - $t

[2018-06-04 17:48] thnder commented on #1441
Ok, the last stack is Microsoft.AspNetCore.All 2.1.0 Microsoft.AspNetCore.OData 7.0.0-beta4 and Microsoft.EntityFrameworkCore 2.1.0. The stacktrace result is:
ArgumentNullException: Value cannot be null.
Parameter name: data
Microsoft.AspNet.OData.PageResult<T>..ctor(IEnumerable<T> items, Uri nextPageLink, Nullable<long> count)
ArgumentNullException: Value cannot be null.
 Parameter name: data
Mic

[2018-06-05 02:47] smasherprog opened #1463 "expand causes N +1 query problem"
[Table("Tracker", Schema = "HR")]
    public class Tracker
    {
       [System.ComponentModel.DataAnnotations.Key]
        public int Id { get; set; }
        [Required, MinLength(6), MaxLength(48), Column(TypeName = "varchar(48)")]
        public string EmployeeSid { get; set; }
        public virtual ICollection<TrackerInfo> TrackerInfos { get; set; }
    }
    [Table("TrackerInfo", Schema = "H

[2018-06-05 10:22] mysticdotnet commented on #1413
@xuzhg Did you expect a fix for this issue in the beta phase ?

[2018-06-05 17:30] biaol-odata commented on #1265
@aelij I believe HttpConfiguration.AddODataQueryFilter should work and it is supported on the classic Aspnet.OData side. But you mentioned AspNetCore assembly, How did you invoke the method? Thanks.

[2018-06-05 21:09] biaol-odata commented on #1265
@aelij Looks like you are using ODataServiceCollectionExtensions.AddODataQueryFilter(IActionFilter)? Can you add/ensure the followings in your service:

- Invoke AddODataQueryFilter above during service startup.
- Enable needed query settings in route builder. For example, app.UseMvc(builder => { builder.Select().Expand().Filter().OrderBy().MaxTop(100).Count();...});

You can refer to the modified

[2018-06-06 00:58] biaol-odata commented on #1086
@a-elnajjar Any other questions, please re-open or submit new issues. I am closing this issue since the last update was in last October.

[2018-06-06 00:58] #1086 closed

[2018-06-06 01:12] biaol-odata commented on #1256
@mdufrasne Isn't POST supposed to create a top level entity object (including a new Feature nested object)? I believe the method handling this POST request in your controller is handling it correctly.
What you have observed on PATCH about in-place update (vs creating new object) is expected as well.

Looks like it is all related to controller method, not WebApi/OData. And your controller is doing

[2018-06-06 01:12] #1256 closed

[2018-06-06 08:22] ilya-chumakov commented on #1403
I have the same question but about `snake_case`. Could anyone from OData team let us know if there are any plans to allow custom JSON settings in future?

[2018-06-06 08:58] aelij commented on #1265
@biaol-odata  This is how our startup looks:

[code]

I will try the latest version when I get a chance and see if there's any change.

[2018-06-06 11:14] maximpashuk commented on #1380
In beta4 ODataUriResolver.EnableNoDollarQueryOptions works fine so I close my issue

[2018-06-06 11:14] #1380 closed

[2018-06-06 13:10] Mhirji opened #1464 "ODataRoute sample in samples/AspNetCoreODataSample"
Regarding the samples/AspNetCoreODataSample.Web project, would it be possible to update it with the latest bits (Beta4) and dotnet 2.1.  I am specifically looking for an example which the ODataRoute decorator because for some reason I am not able to wire it up correctly; keep getting a 404.  When changing ODataRoute to Route, I get a response, but its a json array.  This may have to do with #1447

[2018-06-06 13:32] Mhirji commented on #1464
Forgot to mention, that I get a response with Route only if keeping EnableDependencyInjection(); after MapODataServiceRoute(xx,xx,model).  Otherwise I get InvalidOperationException: Cannot find the services container for the non-OData route.

[2018-06-06 16:47] xuzhg commented on #1313
@nmg196 The corresponding PR was merged already and the merged changes are in beta4. Would you please verify it in the latest beta4? Thanks!

[2018-06-06 17:13] xuzhg commented on #1464
@Mhirji Thanks for feedback. May I have your requirement/usage to update to 2.1.

By the way, the samles/AspNetCoreODataSample.Web project is targeting the Microsoft.AspNetCore.OData project reference, which in turn is the latest codes.

again by the way, if you are looking for the dotnet 2.1 updating. You can refer to my testing project at:
https://github.com/xuzhg/WebApiSample/tree/master/AspNet

[2018-06-06 17:13] #1464 closed

[2018-06-06 20:34] madansr7 commented on #1398
closing because the fix is merged.

[2018-06-06 20:34] #1398 closed

[2018-06-06 20:36] biaol-odata commented on #1265
@aelij Please let us know whether this issue has been resolved. We are trying to scrub the issues.

[2018-06-06 22:15] xuzhg commented on #1403
@alxsj

I built the sample project to verify your problem. It seems the enable camel case works fine at my side.
you can take a look about my sample at: https://github.com/xuzhg/WebApi/tree/issue1403

It seems all the requests in the following picture can work:

![image](https://user-images.githubusercontent.com/9426627/41067939-4124429a-699c-11e8-95dd-a271482eeffc.png)

Would you please take a lo

[2018-06-06 23:59] xuzhg commented on #1402
@offbeatful I can't seem your error message at my side. And I tested it, it can work at my side. See my repro: https://github.com/xuzhg/WebApi/tree/issue1402

@mikepizzo To define a key property as nullable is not prohibited in Web API OData model builder. However, if you run the model validation, you will get the error message as below:

![image](https://user-images.githubusercontent.com/9426627/

[2018-06-07 13:16] DHoefakker opened #1467 "OData returns 500 when a 400 is expected"
A couple of requests return a HTTP 500 when a 400 is expected due to incorrect format of the request.
The requests are :

- $top=
- $skip=
- $select=
- $top=-0 (this returns a 200, i know it's doubtful)

### Assemblies affected

OData WebApi lib 6.1.0

### Reproduce steps

Just call your OData endpoint with the above (empty) operators

### Expected result

I expect a HTTP 400

### Actual result

I

[2018-06-07 16:04] biaol-odata commented on #1265
@aelij I believe the ODataServiceCollectionExtensions.AddODataQueryFilter(IActionFilter) works as expected, therefore I am closing it now. Feel free to re-open it if it is not the case; or open new issues for other observations so that we can address them properly. Thanks.

[2018-06-07 16:04] #1265 closed

[2018-06-07 17:01] #1375 closed

[2018-06-07 23:34] biaol-odata commented on #1239
@rbugginsvia Any updates whether this still an issue? Looks like adding the orderby is expected behavior of WebAPI. Thanks.

[2018-06-08 06:42] volgyesitamas90 opened #1468 "Odata request by Guid not working"
*Short summary (3-5 sentences) describing the issue.*

GET and POST  request are working fine, but if I need
to find an item by Guid, it does not work.

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

The query for a get request

[2018-06-08 08:09] egbertn commented on #1358
Beta4 does not have this issue.

[2018-06-08 10:00] alxsj commented on #1403
I have tested it again and could not reproduce my issue on my current source code...
I do not uderstand what was the exact scenario for which I got this exception last time.
I am sorry if I wrongly reported this issue and wasted your time but I had tried a lot before posting...
I will double check more scenarios on Monday and will report the results here.

[2018-06-08 11:29] ilya-chumakov opened #1469 "How to handle snake_case OData queries together with PascalCase entities?"
Is it possible to have `PascalCase` C# entities but build `snake_case` OData queries and get `snake_case` JSON responses? I tried to set ASP.NET Core custom JSON options but OData ignores it.

### Assemblies affected

Microsoft.AspNetCore.OData (7.0.0-beta4)

### Reproduce steps
Entity:
[code]
Controller:
[code]
Startup.cs:
[code]
[SnakeCaseNamingStrategy](https://stackoverflow.com/a/3938546/51124

[2018-06-08 11:31] ilya-chumakov commented on #1403
@xuzhg I've posted a separate [issue ](https://github.com/OData/WebApi/issues/1469) providing more details. Thanks.

[2018-06-08 18:36] biaol-odata commented on #1370
@granthoff1107 Both [beta4](https://www.nuget.org/packages/Microsoft.AspNetCore.OData/7.0.0-beta4) and [EFCore 2.1](https://www.nuget.org/packages/Microsoft.AspNetCore/2.1.0) have been available since end of May. Can you please try and let's know any updates.

[2018-06-08 18:43] xuzhg commented on #1387
@vsopko I took a look.

From the Linq, we have the following highlight projection:

![image](https://user-images.githubusercontent.com/9426627/41172993-4ede268e-6b0a-11e8-875f-c042f6c19998.png)

I have a separate test, it seem if i remove the "Instance", it will only return the given property.
However, i am still looking whether it's ok to remove it from our source code.

[2018-06-08 19:08] granthoff1107 commented on #1370
Yeah upgrading is the next task on my list,  I’m just working on a production  issue I’ll post an update as soon as I upgrade

[2018-06-08 20:19] biaol-odata commented on #1377
@Compufreak345 Please let's know whether you have successfully applied the new aspnetcore.odata alternative above and get your issue at hand resolved. Thanks.

[2018-06-08 22:15] xuzhg commented on #1387
@vsopko

I built a [nightly](https://www.myget.org/feed/webapinetcore/package/nuget/Microsoft.AspNetCore.OData/7.0.0-Nightly201806082048) with some codes changed. Would you please try it and let us know the performance?

Also, I created a [sample project](https://github.com/xuzhg/WebApiSample/tree/master/AspNetCore/BasicEFCoreTest) based on the above nightly, it show me the different query. Feel f

[2018-06-08 23:12] #1286 closed

[2018-06-09 00:17] Aaronls79 opened #1471 "Microsoft.AspNet.OData [EnableQueryAttribute] fails when combined with [Route] attribute"
I am using the nuget package Microsoft.AspNet.OData 6.1.0. to create an odata enabled endpoint. If the [Route] attribute is present it throws an ArgumentNullException when it evaluates an 'Any' statement.

### Assemblies affected

*Microsoft.AspNet.OData 6.1.0*

### Reproduce steps
[code]
### Expected result

The Get all action would accept odata queries that contain an "Any" statement.

### Actua

[2018-06-09 01:14] vsopko commented on #1387
@xuzhg

My tests with 7.0.0-Nightly201806082048 and above configuration:

Url `http://localhost:61734/api/values/?$select=UserName&$top=5&$orderby=Age%20desc`

Test 1.
[code]
Sql result: Partially correct (extra Id column)
exec sp_executesql N'SELECT TOP(@__TypedProperty_1) [$it].[UserName] AS [Value0], [$it].[Id] AS [Value]
FROM (
    SELECT [Age], [FirstName], [Id], [LastName], [UserName] FROM [

[2018-06-10 15:35] robertmclaws opened #1472 "Turn the internal VSTS build project into a VSTS Public Project"
VSTS is piloting a new feature that will allow projects to have public-facing elements, like the Build and Release workflows. You can find more information here: https://blogs.msdn.microsoft.com/devops/2018/04/27/vsts-public-projects-limited-preview/

I think adding this project to the preview would allow us to see if giving people insight into PR build failures will help streamline and accelerate

[2018-06-10 17:05] Compufreak345 commented on #1377
@biaol-odata
We unfortunately already have changed our approach to use seperate (empty) controllers that inherit from a base-controller instead of using the generic approach before this issue was answered, so we did not try the alternative until now. I'm currently not working on this project anymore, I'll pass this issue to a colleague if they want to change the approach in the future. I'll close

[2018-06-10 17:05] #1377 closed

[2018-06-11 04:05] #1248 closed

[2018-06-11 04:13] visatyam commented on #943
Actually, edmmodel might also be based on the request (prefer request headers)
Prefer: odata.behavior='bla'

if the factory is based on request it would be even better

[2018-06-11 05:25] khodaie opened #1473 "Comparing Date or DateTime properties with date constant."
Comparing Date or DateTime properties with date constants throws the following exception:

### Assemblies affected

*Microsoft.AspNet.OData, Version=7.0.0.20530

### Reproduce steps

1. Declare an entity with `Date` or `DateTime` SQL type. (for example: `Operation` with `EffectiveDate` property of type `DateTime` and `Date` SQL type)
2. Create OData endpoints for the entity.
3. Execute this OData

[2018-06-11 05:33] khodaie commented on #1473
Proposed fix: [https://github.com/OData/WebApi/pull/1474](url)

[2018-06-11 14:03] bdebaere commented on #1210
This is simply untrue. If you have a primary key in your table the order in which the results are returned will always be determined by it.

[2018-06-11 14:08] NetTecture commented on #1210
That is a typical beginner mistake, sorry.

It is stable as long as the query plan does not change (and is reused). Which may happen when the underlying data changes.

There is no guarantee - the specific issue here is quarantee - tat the primary key will be used. In particular, the PK on database level will only be used if it is also the clustered index (in case of SQL server). But unless you can

[2018-06-11 14:22] bdebaere commented on #1210
If the primary key is not also the clustered index then that is just bad database design. Even so, the original question was how to remove the order by clause, meaning the order by is not necessary and the order does not matter.

Can you show me an example where a SELECT returns results in a different order when the primary key is the clustered index? If so, then today I learned.

[2018-06-11 14:36] NetTecture commented on #1210
Examples are hard to come by, but they generally go around this:

* You have a where clause
* Due to database changes the statistics change enough so that a better query path is assumed.

Remember that I think statisatics are only updated when 20% of the rows have changed - over time. So it is possible that you are just on the threshhold for days, then some changes mean a new statistics and thus a

[2018-06-11 14:43] rmadisonhaynie commented on #1432
This seems like the same issue as #1397

[2018-06-11 15:17] rmadisonhaynie commented on #1467
I experience this issue in Microsoft.AspNetCore.OData 7.0.0-beta4 as well

[2018-06-11 16:37] Compufreak345 commented on #1180
FYI: This is still an issue for the current nightly release for feature/netcore (Odata 7.0.0). It can easily be reproduced if you set the setter for a property to private.

Working:
`public string Title { get;set; }`
Not working:
`public string Title { get;private set; }`

The Title-column is calculated server-side thus a private setter would be correct to prevent setting of the property.
[code]

[2018-06-11 18:31] bdebaere commented on #1210
Thanks for taking the time for your explanation.

[2018-06-11 22:33] xuzhg commented on #1456
@keithnicholson I updated the corresponding docs. Thanks your input.

Close it. if you have further concerns or questions, please file new issue for us. Thanks.

[2018-06-11 22:33] #1456 closed

[2018-06-11 23:05] xuzhg commented on #1473
@khodaie Thank you for filing issue and sending us PR to fix. However, I am wondering what's your data source or DB?

[2018-06-12 00:44] xuzhg commented on #1469
@ilya-chumakov

I think you can use [DataContract] and [DataMember] attributes to control the property name.

For example:
[code]

you will get the edm model as:

[code]

[2018-06-12 00:52] xuzhg commented on #1471
@Aaronls79 I think you are mix-using Web API routing and OData routing.

[Route] is web api routing, meantime, OData use [ODataRoute]. Both are called attribute routing.

OData also supports convention routing. You can refer more detail about routing in OData from http://odata.github.io/WebApi/#03-01-routing-abstract

Besides, OData use ODataController, even though it can work when you call Enable

[2018-06-12 01:03] xuzhg commented on #1468
@volgyesitamas90 You are mix-using Web API and Web API OData.

1. you add Web API OData routes MapHttpRoute, meantime, you call MapODataServiceRoute. Each route will pick up in their register order to do routing.

2.  [Route] is web api routing attribute, OData use [ODataRoute].

3.  your method parameter is `[FromODataUri] Guid id`. `id` here is routed using route template `odata/{controller}/{id

[2018-06-12 01:03] #1468 closed

[2018-06-12 05:44] khodaie commented on #1473
@xuzhg I created a sample data source:

[code]

The controller class:

[code]

And the WebApiConfig:

[code]

The sample OData queries:
[code]

[2018-06-12 06:16] prochnowc opened #1478 "OData AspNetCore + EF Core contains on string value which is null throws NullReferenceException"
If i try to filter records using eg. `$filter=contains(firstName,'Alan')` and the value of `firstName` is `null` for some record i receive NullReferenceException.

### Assemblies affected

- Microsoft.AspNetCore.OData 7.0.0-beta4
- Microsoft.EntityFrameworkCore 2.1.0

### Reproduce steps

Create a OData query ontop of EF core entity and try to filter records which have null strings using contains.

[2018-06-12 06:16] eyalkapah commented on #1387
same problem here

requesting the following url: https://localhost:44356/odata/Groups(1)?$expand=Teams($select=Name)

results with all entities of Team

public class Team
{
    public int Id { get; set; }
    public int GroupId { get; set; }

    public string Name { get; set; }
    public int Rank { get; set; }

    // Navigation properties
    public Group Group { get; set; }
    public ICollect

[2018-06-12 08:08] TehWardy commented on #136
Where i get annoyed is that UI frameworks refuse to support datetimeoffset because they build for multiple back ends and Microsoft seems to be the owner of the datetimeoffset definition.

Personally though i can see a situation for just collecting or returning a date or a time and not a whole datetime and the fact that I can't seem to declare either is baffling to me.

for example ... when an invo

[2018-06-12 08:19] TehWardy commented on #136
@Vaccano in your case ...
so you have an api that is accepting datetimes?
are these values a representation of a point in time from the source system or just a date on which an event occurred.

I find this distinction important but agree that your api should ALWAYS store utc data and do the conversion internally if one is required.
I have found ... much like you though ... there's a difference bet

[2018-06-12 16:52] Aaronls79 commented on #1471
Is there anyway to have an odata enable filters on an action without inheriting from the ODataController? This breaks swagger for all my endpoints and also breaks all my other actions.

[2018-06-12 17:25] ghost opened #1479 "Custom implementation of IETagHandler that returns null as ETag is not supported"
*Custom implementation of IETagHandler that returns null as ETag is not supported.*

### Assemblies affected

*Microsoft.AspNetCore.OData 7.0.0.20307

### Reproduce steps

Created and injected the following ETagHandler in attempt to disable ETag handling on OData side

    public class NullETagHandler : IETagHandler
    {
        public EntityTagHeaderValue CreateETag(IDictionary<string, object> p

[2018-06-12 18:57] xuzhg commented on #1387
@vsopko @eyalkapah

I have a test project named "BasicEFCoreTest" that you can find https://github.com/xuzhg/WebApiSample/tree/master/AspNetCore

When i issue a request like:

![image](https://user-images.githubusercontent.com/9426627/41310814-73a444a0-6e37-11e8-9789-b5c773243648.png)

I can get the following logging:

![image](https://user-images.githubusercontent.com/9426627/41310836-8845f9b2-6e

[2018-06-12 20:44] xuzhg commented on #1473
@khodaie I think you should use `date()` method.

For example:
[code]

[2018-06-12 20:54] xuzhg commented on #1471
@Aaronls79 I think it's ok to use ApiController if you don't want the functionality in ODataController. You can try and let me know any feedback. Thanks.

[2018-06-12 21:16] xuzhg commented on #1478
@prochnowc

I had the test and it looks work fine at my side.

Would you please take a look at: https://github.com/xuzhg/WebApiSample/commit/99c0eba3a91a2b5a9fe530041c4a79ebdbb298f3

And please feel free to clone and try. Let me know your found. Thanks.

[2018-06-12 21:21] Aaronls79 commented on #1471
@xuzhg OK, I don't want any of the odata functionality other than a single action that can take $filter, $top, $skip. The problem now is I have an conflicting rout and by applying the  [Route] attribute it breaks that action but only for $filter queries that include an 'any' clause.

[2018-06-12 21:31] xuzhg commented on #1479
@abasyuk Would you please create repro for us to investigate? Thanks.

[2018-06-12 21:34] xuzhg commented on #1471
@Aaronls79 Would you create repro for us to investigate?

[2018-06-12 21:38] vsopko commented on #1387
@xuzhg With your samples everything is okay. The point is that you are not using any projections in your test project. In real app we want to get `IQueryiable<T>`, then project it to dto (that exists in IEdmModel), then process dto with OData, and only then execute sql. With this sample there is noting to make client side evaluation of IQueryable but with this changes in your CustomersController.c

[2018-06-12 22:11] Vaccano commented on #136
@TehWardy - I have kind of given up on this (really I gave up on OData several years ago).  I got my hopes back up by misinterpreting one of the their tags.

It is kind of a lost cause because @mikepizzo and the others that control the project have made up their minds on this.  And not enough people voice a dissenting opinion to make a difference.

But I agree that it seems they have never had to

[2018-06-12 22:54] Aaronls79 commented on #1471
@xuzhg absolutely thank you for the help. Here is a repo that demonstrates the problem:
[https://github.com/Aaronls79/OdataWebAPIBug](https://github.com/Aaronls79/OdataWebAPIBug)

[2018-06-13 00:38] mikepizzo commented on #136
I truly appreciate this thread because, contrary to how it may appear, I agree that this is an issue and I don't yet understand how best to address it.

The OData TC made a very hard decision to remove DateTime when adopting OData as an ISO standard, and I've tried (as impartially as possible) to convey the thinking behind that decision.

While I believe in the reasons for making this decision, I

[2018-06-13 01:03] ImGonaRot commented on #136
@mikepizzo I original opened this issue back in 2014 on CodePlex when I had first moved from OData V3 into OData V4.
"https://archive.codeplex.com/?p=aspnetwebstack -- OData V4 service should support DateTime"
Our company adopted the OData standard even back when it was just a WCF extension (AKA Data Services).
Using proxy generators with WCF and importing those into both MS WinForms and MS WebFor

[2018-06-13 01:38] Vaccano commented on #136
@mikepizzo - I personally don't see any way to make it work in the current OData standard.

That is why I said the choice to abandon DateTime was shortsighted.

I thought long and hard back when you cut out DateTime on how I could find a way around the issue and still not have to lie to the consumers of my APIs.

As I said, I was a total OData fanboy back then and had planned to get my whole enter

[2018-06-13 08:03] eyalkapah commented on #1387
@xuzhg I put a sample project in my github
https://github.com/eyalkapah/OdataSample

please run

and see the sql generated is

for

the sql is

so all properties are queried...

[2018-06-13 08:03] prochnowc commented on #1478
Thanks for your help - i found the issue.
`HandleNullPropagation` was set to `False`.

[2018-06-13 08:03] #1478 closed

[2018-06-13 10:12] craghavendra21 opened #1480 "Need to add filter enum using string functionality"
*Need to add filter enum using string functionality*

### Reproduce steps
I have a Odata Control which is working fine. But when I pass value to filter enum type column i am getting error like below. I have pasted the code in startup. Please help me what i am missing here.

Error
`{"@odata.context":"http://localhost:57168/odata/$metadata#Edm.String","value":"The query specified in the URI is not v

[2018-06-13 10:42] craghavendra21 commented on #1480
routes.MapODataServiceRoute("odata", "odata", containerBuilder =>
                    containerBuilder.AddService(Microsoft.OData.ServiceLifetime.Singleton, sp => GetOdataModel().GetEdmModel())
                        .AddService<IEnumerable<IODataRoutingConvention>>(Microsoft.OData.ServiceLifetime.Singleton, sp => ODataRoutingConventions.CreateDefaultWithAttributeRouting("odata", routes))

[2018-06-13 10:42] #1480 closed

[2018-06-13 13:08] ilya-chumakov commented on #1469
@xuzhg
I tried to add these attributes to my EF Core entity, but:

1) It doesn't work: `InvalidOperationException` is thrown on app startup.
2) It means UI logic leaking to DAL level.
3) It's error-prone: easy to forget adding/updating the attribute, hard to maintain.

Entity:

    [Table("pz_event", Schema = "bar")]
    [DataContract]
    public partial class PzEvent
    {
        [Key]
        [

[2018-06-13 15:36] freeranger opened #1481 "Is it possible to disable ETag support to stop it blowing up?"
I am generating my own Etags for my GET controller actions using custom middleware and would like to disable OData Etag handling because it blows up as it is unable to handle the custom format.

### Assemblies affected

Microsoft.AspNetCore.OData 7.0.0.20307

### Reproduce steps

Call any end point that has an ODataQueyOptions parameter and include an If-None-Match header with any made up value yo

[2018-06-13 16:50] xuzhg commented on #1478
You are welcome. Please let us know any further concerns and questions.

[2018-06-13 17:43] TehWardy commented on #136
@mikepizzo I agree with the others here ...
Whilst having a standard is great this particular standard (the OData one) is short sighted and doesn't resolve the fact that the real world isn't perfect and often API providers don't control both ends.

I urge you to consider the following scenarios ...

 1. The unknown assumption
A remote system sending a "date" that the current implementation can par

[2018-06-13 20:15] madansr7 commented on #1481
Can you please provide an example of the invalid ETag that throws an exception?

[2018-06-13 20:49] mikepizzo commented on #1288
By default, we write JSON in a concise format.  It is possible to use DependencyInjection in order to set the JsonWriterSettings to write indented.

[2018-06-13 22:43] xuzhg commented on #1407
See PR #1483

[2018-06-13 23:14] xuzhg commented on #1397
@rmadisonhaynie I took a look and try to use your sample codes to repro it. You can find my codes at:
https://github.com/xuzhg/WebApi/tree/issue1397

However, it seems each request can hit the customize validation logic. Would you please help us to check and point me what I am missing. Thanks.

[2018-06-13 23:41] Aaronls79 commented on #1471
@xuzhg, where there any problems with the repo?
The 2 interesting files in that repo are:
https://github.com/Aaronls79/OdataWebAPIBug/blob/master/src/Controllers/KISSController.cs
https://github.com/Aaronls79/OdataWebAPIBug/blob/master/src/App_Start/WebApiConfig.cs

let me know if there is anything else you need any help on this problem is appreciated.

[2018-06-14 00:29] xuzhg commented on #1471
@Aaronls79 I use your codes and test in the latest master codes.

My codes are at: https://github.com/xuzhg/WebApi/tree/issue1471

 I can work as:

![image](https://user-images.githubusercontent.com/9426627/41385233-125b0c08-6f2f-11e8-9444-0e614ffd8064.png)

The old version is in maintenance status. Would you please try use our latest version: https://www.nuget.org/packages/Microsoft.AspNet.OData/

[2018-06-14 06:17] freeranger commented on #1481
If I set it to literally X, no quotes, then I get this:
[code]

If I set it to "X", ie with quotes, I get:
[code]

And finally, if I set it to one of my generated tags, which is an MD5 hash of the body of the (json) response:  "7DA93857D637AD1EE0CA1B67F822607F"
then I get the response I posted originally.

[2018-06-14 09:42] rbmanian75 commented on #1288
@mikepizzo could you please provide a sample on how to do it? thanks

[2018-06-14 17:20] xuzhg commented on #1469
@ilya-chumakov The error message `the entity 'PzEvent' does not have a key define` is very clear that OData model build can't find the property can be used to define as `key`. So, you can find that you miss adding the `[DataMember]` to the `RowId` property.

I think once you add `[DataMember]` to `RowId`, the error will disappear. Please let me know any other problem.

[2018-06-14 18:01] freeranger commented on #1352
This may or may not be useful to you.
Our use case was an action filter to validation the options, so to unit test we needed an ActionExecutingContext which had an ODataQueryOptions action argument.
This is the "meat" of the test class which tested passing a $top=1 query.
[code]

[2018-06-14 18:23] xuzhg commented on #1402
Close it and please file new issue or re-open it if you have further concerns. Thanks.

[2018-06-14 18:23] #1402 closed

[2018-06-14 18:43] xuzhg commented on #1407
Merged. Thanks.

[2018-06-14 18:43] #1407 closed

[2018-06-14 18:53] xuzhg commented on #1481
@freeranger would you please share us your repro project and sample data?

[2018-06-14 19:17] xuzhg commented on #1449
@jbuschke I am testing your problem. However, it can work at my side. Would you please try my sample [here](https://github.com/xuzhg/WebApi/tree/issue1449) and let us know any problem?

For example:

I issue a `PATCH` request with the following information, and I can get the corresponding updated response.

![image](https://user-images.githubusercontent.com/9426627/41432925-48ea1e2e-6fcc-11e8-8c9c

[2018-06-14 19:58] Vaccano commented on #136
@mikepizzo - This is a very good idea.  It will require clients to create custom code to properly understand it, but it is workable.

It keeps with the goal of OData to discourage the use of DateTime, while allowing a way forward for those of us who have to use it.  (I still maintain that OData should not be in the business of choosing the good datatypes from the bad, but rather creating a protoco

[2018-06-14 21:12] ImGonaRot commented on #136
@mikepizzo Assuming that they add back the "edm.DataTime" (was in OData V3) into the metadata generated from the odata service, this would be great.

This is also great since the models on the OData service don't have to change if the developer left them as DateTime properties.
BUT it will cause issues since any dev using the DateTime property in their models currently get that property mapped to

[2018-06-14 21:18] xuzhg commented on #1447
@gordon-matt I tested your code.

If I change the `Get` method in your `GenericODataController.cs` as:

[code]
I will get the following result for the uri: https://localhost:44367/odata/RegionApi

![image](https://user-images.githubusercontent.com/9426627/41438913-bbdf5fb4-6fdd-11e8-9026-4b88313e2312.png)

[2018-06-14 21:21] freeranger commented on #1481
@xuzhg I don’t have a project I can share with you at the moment - all you need is a controller action that has an ODataQueryOptins argument and use Postman to supply an ETag like the ones I supplied.
Is that not enough to recreate the issue?

[2018-06-15 00:41] gordon-matt commented on #1447
Thanks, @xuzhg , but it seems it's nothing to do with `ToHashSet`. After all, that was working perfectly fine in .NET Core 2.0. It seems the following works just as well:

[code]

So, we have to return an `OkObjectResult` now - where before we could just return any `IEnumerable` directly. It's a breaking change, but it should be easy to fix in all my code - especially since most of it uses the gen

[2018-06-15 00:54] gordon-matt commented on #1447
Another breaking change seems to be with returning `SingleResult` as well. Example from my **GenericODataController**:

[code]

The JSON is now serialized with camel casing. This is probably a good thing actually, but it's going to be a nuisance to fix, because I will need to fix 100s of lines of code in my JavaScript (huge project). SO it's quite a big breaking change there. 2 questions:

1. Is t

[2018-06-15 01:07] gordon-matt commented on #1447
One more broken thing: `PUT` is not longer working. `POST` still binds the model fine, but with `PUT`, the update comes through as null (not binding the model for some reason). You can see this in my other project here: https://github.com/gordon-matt/Extenso/tree/develop. Checkout the develop branch and run the following demo project: **Demo.Extenso.AspNetCore.Mvc.OData**. Just click the OData pag

[2018-06-15 01:12] xuzhg commented on #1447
@gordon-matt OData doesn't use camel case by default except you enable camel case supporting. I tested it that OData formatter can't be selected again for your `Get(TKey key)`.

If I change it to:
[code]

it can give me
![image](https://user-images.githubusercontent.com/9426627/41445447-73b34248-6ffe-11e8-93be-ff72e901bc3a.png)

[2018-06-15 07:43] ilya-chumakov commented on #1469
@xuzhg  I added `[DataContract]` to all relevant entity properties and the app started successfully. However, if `user_email` is used in an OData query, then the server response is `500` with the empty body because of this unhandled exception:

[code]

[2018-06-15 08:34] alxsj commented on #1403
I confirm I could not reproduce the issue this week. Sorry for that.

[2018-06-15 09:29] TehWardy commented on #136
@mikepizzo thanks for the persistence in this ... much appreciated.

consider this object definition ...

[code]

... that raises lots of questions for me ...
If DateTime is hated so much why not remove the obscurity altogether and do this ...

[code]

In short ...
I think the best solution is to allow for WebAPI OData to "configure the assumption to be made" for a DateTime value, but "prefer" usi

[2018-06-15 11:52] wmccullough commented on #939
@gordon-matt I will second your statements. I've been using it since Beta-1 and it has fulfilled the majority of our simple use cases. We've only had a few minor issues that I wouldn't consider to be showstopping for a major app (combining a filter with an expand on a field that is a calculated SQL view column).

To the folks that made this possible, I give thanks. It has enabled me to keep moving

[2018-06-15 12:15] freeranger commented on #1481
@xuzhg Actually I had some spare cycles today and created something quickly: https://github.com/freeranger/ODataETagTest
Run this and then use Postman or similar to send an If-None-Match header to api/values using the various values I mentioned before - you get a different error each time.
I think you should get no error and/or we should have the ability to turn off OData trying to process etags.

[2018-06-15 12:48] ImGonaRot commented on #136
@TehWardy Unfortunately TestObject2 does not work well with grid controls and filtering.
On the client side, devs would have to "merge" the two columns "ADate + TimeAmount" into one column (assuming they want one column containing date + time) and then intercept the filter events on the grid controls to query the OData service based on the data in the "merged" column.
It gets even more complicated

[2018-06-15 17:56] xuzhg commented on #1403
@alxsj It doesn't matter. Any concerns or questions are welcome.

[2018-06-15 18:41] xuzhg commented on #1469
@ilya-chumakov See my codes at: https://github.com/xuzhg/WebApi/tree/issue1469

That works well.

![image](https://user-images.githubusercontent.com/9426627/41484280-15844c1a-7091-11e8-895d-aebcb09e971d.png)

[2018-06-15 18:53] xuzhg commented on #1413
@mysticdotnet Sorry for later response. What do you mean beta? That's in OData side or EFCore side?

[2018-06-15 19:59] Aaronls79 commented on #1471
@xuzhg I tried your code and commited it to the sample repo, but did not get the same result.
![image](https://user-images.githubusercontent.com/294966/41487017-b7f17234-709b-11e8-9053-156c398ac43b.png)

[2018-06-15 20:30] xuzhg commented on #1439
@Metaphis It seems the issue resolved. Close it and please file new issue for us if you have further questions or concerns. Thank for your input.

[2018-06-15 20:30] #1439 closed

[2018-06-15 20:55] markdreyer commented on #1008
Any idea on the priority of this request? I would be willing to contribute if nobody else is working on this.

[2018-06-15 22:39] xuzhg commented on #1471
@Aaronls79 Ok. I got the difference.

In your code, you add the `[DataContract(Name = "keyValue")]` to `class KeyValue`.
Pay attention that you make the lower came case for the name "keyValue", while the class name is upper case of `KeyValue`.

OData try to use the lower case to find the type, it failed. So, that's why my sample can work, your sample can't work.

However, i think that's OData Web

[2018-06-16 00:28] xuzhg commented on #1471
@Aaronls79 Would you please take a look or try the PR #1484.
 to see whether it can work or not at your side?

I tested it using your code, it can work.

[2018-06-16 00:59] biaol-odata opened #1485 "GH pages updates related to AspNetCore.OData"
*GH pages need update to accommodate changes introduced in AspNetCore.OData V7.0.*

### Assemblies affected

*N/A --- doc updates only*

### Reproduce steps

*N/A --- doc updates only*

### Expected result

*N/A --- doc updates only*

### Actual result

*N/A --- doc updates only*

### Additional detail

*Optional, details of the root cause if known. Delete this section if you have no additional de

[2018-06-16 01:19] xuzhg commented on #1008
@markdreyer Any contribution is welcome.

[2018-06-16 06:16] Aaronls79 commented on #1471
@xuzhg, I think you are on to something, if I change the DataContract attribute to match the class casing exactly it works.

Thanks for all the help I look forward to your change in v7.

[2018-06-17 14:46] TehWardy commented on #136
@ImGonaRot  I disagree ... if you are combining the two fields then either use DateTime (which lacks precision and therefore results in assumptions ... or use DateTimeOffset which is the correct way to determine a point on calendar which is the binding scenario you are describing and works perfectly fine today (i have examples of exactly this scenario working perfectly with Kendo UI in business ap

[2018-06-18 01:49] ImGonaRot commented on #136
@TehWardy Like @robertmclaws, you are assuming devs are using HTML5 controls like Kendo with JavaScript libraries like Moment.js.
I am a dev that lives in the "past" with WinForms, WPF, and ASP.NET WebForms.
I currently still develop and maintain apps in this "legacy" world and I'm 99.9% sure I will remain in that "legacy" world for 10 more years. Anyway...
As such, I still use MS Grids, Telerik G

[2018-06-18 02:05] ImGonaRot commented on #136
I think if OData is not going to support "DateTime" then they should throw an exception when the dev tries to create a class with DateTime properties RATHER than automatically converting them into DateTimeOffset in the metadata and the serializer / deserializer.

So this should FAIL if the OData team does not want to support DateTime
[code]

This way any proxy generators would also fail and it wou

[2018-06-18 07:39] rmadisonhaynie commented on #1352
@freeranger yikes that's a lot of setup :). My setup up is a little different but I think I can adapt your example to get something to work for myself. In fact I didn't realize you could use ODataQueryOptions in an ActionFilter which is actually probably what I'll refactor to doing, so this is perfect thank you!

[2018-06-18 10:48] TehWardy commented on #136
@ImGonaRot  I use telerik controls both on the web and for desktop clients.
I have code running in WPF and winforms apps ... the lack of support for DateTime is not an issue if you know what to do.

I have OData V4 working on top of an EF model that exposes a legacy database with DateTime values bound to UI in both desktop and web components.

At this point i'm actually confused as to what your pr

[2018-06-18 11:49] freeranger opened #1487 "How can I get a count of filtered results before any top/paging is applied?"
I am accepting OData queries but not using the EDM and not returning OData formatted results - just a collection of results that match the supplied OData filter, top and skip options.

I would like to return the count of all items matching the filter, which I believe is what $count would do if we were using ODataController(?) as well as a count of items after top/skip have been applied.

Currently

[2018-06-18 15:11] ImGonaRot commented on #136
@TehWardy I never said it doesn't work. I said it is more difficult than it was in OData V3.
Yes I can bind grids in WinForms, WebForms, and WPF to OData V4 datasources BUT with OData V3 and WCF, I don't have to make any code changes on the client to get things like filtering, sorting, editing to work once they are bound to an OData V3 datasource.
When binding to OData V4 I have to edit the filter

[2018-06-18 20:00] xuzhg commented on #1473
@khodaie Close it, please file new issue or re-open it if you have further concerns.

[2018-06-18 20:00] #1473 closed

[2018-06-18 22:31] mikepizzo opened #1488 "Add support for optional parameters to WebAPI OData stack"
*We have added support for optional parameters to OData Library.  This work item is to track exposing that support through the WebAPI OData stack.*

### Assemblies affected

OData WebApi lib 6.x

### Reproduce steps

See https://github.com/OData/odata.net/issues/782 for a good example.

### Additional detail

WebAPI OData 6.x and before has an "Optional" property on a parameter; however, it really

[2018-06-18 23:00] xuzhg commented on #1471
@Aaronls79 Merged. Thanks. Please let us know any other problems.

[2018-06-18 23:00] #1471 closed

[2018-06-18 23:03] xuzhg commented on #1447
@gordon-matt Close it. Please file new issue or reopen it if you have any other further concerns.

[2018-06-18 23:03] #1447 closed

[2018-06-18 23:39] gordon-matt commented on #1447
@xuzhg You haven't yet addressed [this comment](https://github.com/OData/WebApi/issues/1447#issuecomment-397483456) about PUT not working anymore. It's still related to this same issue - because it was working fine in 2.0 and now it's not working in 2.1

[2018-06-18 23:51] gordon-matt commented on #1447
Nevermind - PUT seems to be working now. Maybe because I updated to the latest nightly version. Not sure. Anyway, no longer a problem. Thanks.

[2018-06-19 00:31] biaol-odata opened #1490 "Design doc: WebApi V7 new default settings"
*Create design doc for the following updated default settings in WebApi V7.*

- Support KeyAsSegment by default;
- Support unqualified (namespace-free) Operations by default.

### Assemblies affected

OData WebApi lib 7.0

### Reproduce steps

*N/A*

### Expected result

*N/A*

### Actual result

*N/A*

### Additional detail

*Optional, details of the root cause if known. Delete this section if yo

[2018-06-19 08:22] genusP commented on #1204
If for EntityType not register EntitySet expand not work.
For request

If entity CurrentTaskAssignment not register as EntitySet property Assignment not expand else work fine. Data selected from DB contains values for this properties.

[2018-06-19 08:43] TehWardy commented on #136
Ah I c ... I use telerik stuff but only the JS based pieces with my web apps.
Doing so means I can take the raw DateTimeOffset string and treat it like a DateTime leveraging the fact that the browser supports both types and treats them equally as a "new Date" when given a string representation in a known format.

In short ... your problem is caused by strong typing in .Net languages and your choic

[2018-06-19 08:55] genusP commented on #1387
@xuzhg After upgrade to 7.0.0-Nightly201806181242, SelectAllAndExpand not work.
Throws exception:

If add $select clause work fine.
Add back Instance property for SelectAllAndExpand.

[2018-06-19 16:46] xuzhg commented on #1487
@freeranger maybe you can skip/ignore the filter clause after applying that to avoid applying twice.

[2018-06-19 17:06] xuzhg commented on #1481
@freeranger If I run your sample, I can get:

![image](https://user-images.githubusercontent.com/9426627/41612659-69f91f22-73a8-11e8-8048-789b60dac67e.png)

[2018-06-19 17:09] xuzhg commented on #1469
@ilya-chumakov Close this and please feel free to open new issue or re-open it if you have further concern. Thanks.

[2018-06-19 17:09] #1469 closed

[2018-06-19 21:21] biaol-odata commented on #1485
Closed as merged.

[2018-06-19 21:21] #1485 closed

[2018-06-19 21:42] xuzhg commented on #1463
@smasherprog I am trying to understanding your problem. In my testing, I have the following debug information:

When I issue a request: 1http://localhost:5000/odata/Trackers?$expand=TrackerInfos1

I can get the following debug information:
![image](https://user-images.githubusercontent.com/9426627/41625145-ad69c9fe-73cc-11e8-986e-107425683182.png)

So, two DB executions is your concern? It should

[2018-06-19 22:27] xuzhg commented on #1447
@gordon-matt Never mind. Please feel free to file new issue for us if you have further concerns. Thanks.

[2018-06-19 22:35] xuzhg commented on #1412
@andrew-laughlin is your problem resolved?

[2018-06-20 00:05] xuzhg commented on #1387
@genusP Would you please try the latest nightly version: 7.0.0-Nightly201806192313

[2018-06-20 00:44] xuzhg commented on #1387
@eyalkapah I created a PR for your project. https://github.com/eyalkapah/OdataSample/pull/1
Would you please take a look and try it?

For the detail information about my changes and testing, I added a `Readme.md` file in my PR. Please take a try and let me know any problem?

[2018-06-20 02:39] freeranger commented on #1481
@xuzhg interesting.  Did you use the same version as me or a later one?
Did you try the two other examples I gave?  All three were throwing different errors?
What did you use to submit to the API?  I used postman

[2018-06-20 02:41] freeranger commented on #1487
@xuzhg How can I do that?  I can’t create a new ODataqueryOptions containing everything except the filter, which is what I would like to do, but there is no public constructor I can use

[2018-06-20 09:10] vsopko commented on #1387
@xuzhg with 7.0.0-Nightly201806192313, your BasicEFCoreTest app and dto simulation as desribed in [my previous comment](https://github.com/OData/WebApi/issues/1387#issuecomment-396743220), i have this results:
1. `http://localhost:2361/odata/customers?$select=Age`
SELECT [x].[Age] AS [Value0], [x].[Id] AS [Value] FROM [Customers] AS [x]
2. `http://localhost:2361/odata/customers?$select=Age&$top=2`

[2018-06-20 09:37] mysticdotnet commented on #1413
@xuzhg I mean OData.

[2018-06-20 16:17] #1481 closed

[2018-06-20 17:16] xuzhg commented on #1387
@genusP Thank for your verification. Would you please take a look my PR at: #1493?

[2018-06-20 17:19] xuzhg commented on #1387
@vsopko
#1, I think that's correct. It retrieves the "Age" and "Id". "Age" is in the $select, "Id" is by design to make sure the stable sorting.
#2, I will test it.
#3, What's the problem?

[2018-06-20 17:27] vsopko commented on #1387
@xuzhg incorrect is only #2 with $top param

[2018-06-20 17:37] genusP commented on #1387
@xuzhg this build not from PR?

[2018-06-20 17:45] xuzhg commented on #1387
@genusP this build is from the PR. But the PR is not merged, there's some test cases failed need to fix.

[2018-06-20 17:51] xuzhg commented on #1387
@vsopko Interesting. I am testing your project, you're using my project.

With your project, when i issue `http://localhost:5009/odata/Teams?$select=Name&$top=3`

![image](https://user-images.githubusercontent.com/9426627/41675550-d0f5e9c4-7477-11e8-9709-48f5c6ada80c.png)

For my project, would you please create a PR with your changes to me to dig more?

[2018-06-20 17:53] xuzhg commented on #1481
@freeranger Thank for your verification. Please feel free file other issues if you have any concerns or questions.

[2018-06-20 18:43] andrew-laughlin opened #1494 "Routing to controllers with the same name"
I have 2 controllers with the same name, but in different namespaces. Both have GET actions with differing parameter lists. I'm using convention-based routing.

[code]
This is successful:
http://localhost:3000/v2/odata/tenants/myTidGuid/Sensors

This results in the exception below:
http://localhost:3000/odata/Sensors

As shown above, the v2 controller is selected for the v1 route. In the code belo

[2018-06-21 02:39] smasherprog commented on #1463
Ill try to get you more information on this

[2018-06-21 06:38] eyalkapah commented on #1387
@xuzhg I have tested with the latest nightly and now seems like it's working good.
thanks

[2018-06-21 07:08] vsopko commented on #1387
@xuzhg There is no my project, you are using eyalkapah ) I've proposed a [PR](https://github.com/xuzhg/WebApiSample/pull/4) for yours, please test it with $top clause.

[2018-06-21 21:31] xuzhg commented on #1387
@vsopko Sorry, I can't understand why you did a mapping as below:
`
var query = _db.Customers.Select(x => new Customer
            {
                Age = x.Age,
                FavoriateColor = x.FavoriateColor,
                FirstName = x.FirstName,
                HomeAddress = x.HomeAddress,
                Id = x.Id,
                LastName = x.LastName,
                Order = x.Order,

[2018-06-21 21:58] davidmorissette commented on #1447
I noticed that returning a "async Task<IQueryable<xyz>>" instead of a "IQueryable<xyz>" produces that behavior.

[2018-06-21 22:33] xuzhg commented on #1487
@freeranger http://odata.github.io/WebApi/#04-16-ignore-query-option maybe help to you.

[2018-06-21 23:51] vsopko commented on #1387
@xuzhg this query ( IQueryable projection, then another projection and then take first)
[code]
executes with this sql:
exec sp_executesql N'SELECT TOP(@__p_0) ([x].[FirstName] + N'' '') + [x].[LastName] AS [FullName]
FROM [Customers] AS [x]',N'@__p_0 int',@__p_0=1

So I guess OData in your app with my query should work this way, or am i missing something?

Why I consider such tests: In our applica

[2018-06-22 00:02] xuzhg commented on #1387
@vsopko

Why do i get the different log:

[code]

![image](https://user-images.githubusercontent.com/9426627/41751146-da2dfb96-7574-11e8-97cc-cb5e7a70e9ae.png)

[2018-06-22 00:07] xuzhg commented on #1387
@vsopko My test project can be found [here](https://github.com/xuzhg/AspNetCore/tree/master/src/EFCore/EFCoreLinqTest)

[2018-06-22 00:28] vsopko commented on #1387
@xuzhg Interesting, with last query from your new project
[code]
I have this in SQL Profiler:

exec sp_executesql N'SELECT TOP(@__p_0) ([e].[FirstName] + N'' '') + [e].[LastName] AS [FullName]
FROM [Customers] AS [e]',N'@__p_0 int',@__p_0=1

and this in project logs:
[code]

[2018-06-22 06:57] mysticdotnet commented on #1413
@xuzhg I don't have more information about the root cause. Sorry for that and thank you very much

[2018-06-22 14:02] andrew-laughlin commented on #1494
@xuzhg thanks very much for the info. I'll look for an alternate solution. Should this be closed?

[2018-06-22 14:03] andrew-laughlin commented on #1412
@xuzhg We've worked around the issue by separating the entities.

[2018-06-22 14:03] #1412 closed

[2018-06-22 16:57] xuzhg commented on #1387
@vsopko  The version referencing to EFCore is different. EFCore 2.0 vs EFCore 2.1.

[2018-06-22 17:13] vsopko commented on #1387
@xuzhg i have the same query result with EFCore 2.0, 2.1 and 2.1.1
exec sp_executesql N'SELECT TOP(@__p_0) ([e].[FirstName] + N'' '') + [e].[LastName] AS [FullName]
FROM [Customers] AS [e]',N'@__p_0 int',@__p_0=1
Please tell me, we are looking for common ground to solve the problem or in my tests there is some fundamental misunderstanding of what I would like to achieve from the OData?

[2018-06-22 17:32] xuzhg commented on #1387
@vsopko Sorry, please allow me to summary it:

1.  if we do  `Select(...).Take(...).Select(...)`

![image](https://user-images.githubusercontent.com/9426627/41790309-009ec7d2-7607-11e8-9d15-d83571a21536.png)

2. If we put the Take(…) at the end, for example, `Select(….).Select(…).Take(…)`

we get different SQL as:
[code]

So, what i am thinking is that:

1. At OData side, it's better to switch the

[2018-06-22 18:46] xuzhg commented on #1494
@andrew-laughlin I'd love to keep it open because I think it's a nice to have feature in the next version.

[2018-06-22 18:52] renatotozzi opened #1496 "Not Mapped Attributes"
Hi everibody

I want to show in response Not Mapped attributes from Entity Framework. Is it known that I can do that by adding it in EdmModel at this way:

`builder.StructuralTypes.First(t => t.ClrType == typeof(MyEntity)).AddProperty(typeof(MyEntity).GetProperty("NotMappedProperty"));`

The problem is that it only works if I don't use `$select` clause in my request, for example:
If I request `htt

[2018-06-22 21:24] xuzhg commented on #1496
@renatotozzi can [ DTO ](https://docs.microsoft.com/en-us/aspnet/web-api/overview/data/using-web-api-with-entity-framework/part-5) work for your scenario?

[2018-06-22 21:29] vsopko commented on #1387
@xuzhg for OData apply Take after all Selects would resolved this issue for me. I think OData url means this: firstly select, expand, filter and then count and take top what was selected. But i'm not shure that its logically right for everyone. May be the order of $top and $select params in the url must be significant, but if i remember there was and old issue where people asks to make params orde

[2018-06-22 22:21] xuzhg commented on #1387
@vsopko I create an issue at EFCore side. See: https://github.com/aspnet/EntityFrameworkCore/issues/12453

Would you please help us file a new issue at: [webapi/issues](https://github.com/odata/webapi/issues) for OData part.

[2018-06-22 23:06] vsopko commented on #1387
@xuzhg what do you mean under "file a new issue"? My thoughts on the order of the $top and $select url params, or to move linq Take() at the end? For the order of params i don't know what the people need and I guess it is about OData url conventions and specifications, i believe this is up to you. For making Take() on final query i think this issue enough, isn't it? Without digging in EFCore linq

[2018-06-22 23:12] xuzhg commented on #1387
@vsopko Sorry to confusing you. What I mean a new issue is related to adjust the "Take()" because I think a new issue is easy for us to track the "Take()" order problem. However, if you think this issue is enough, I am ok.

By the way, I got the following respond from EFCore team in aspnet/EntityFrameworkCore#12453
*
This is by design, Take operator forces us to produce a subquery, which complicat

[2018-06-22 23:20] vsopko commented on #1387
Great, waiting for fix, thanks a lot. Recommendations of the EFCore team are completely in the mainstream of our conversation: "In general you will get better queries if operators like Skip/Take/Distinct are used as late as possible"

[2018-06-25 07:09] aelij opened #1498 "ASP.NET Core 2.1 - Task-returning methods do not return OData envelope"
After upgrading to ASP.NET Core 2.1 (from 2.0), the OData endpoints do not return the envelope for task-returning methods.

### Assemblies affected

* OData WebApi 7 Beta 4

### Reproduce steps

* Create a task-returning method in an OData controller:
[code]

### Expected result
Returned JSON:

[code]

### Actual result

[code]

[2018-06-25 07:10] aelij commented on #1498
cc: @davidmorissette

[2018-06-25 08:39] freeranger commented on #1487
Awesome, thanks!

[2018-06-25 08:39] #1487 closed

[2018-06-25 12:57] renatotozzi commented on #1496
@xuzhg that is not a good idea because I use entity framework entities as odata models

[2018-06-25 14:54] jpiquot opened #1499 "LimitResults null reference exception"
NullReferenceException is thown when calling this OData request :

Method : ODataQueryOptions/LimitResults

[code]
.Call System.Linq.Queryable.Select(
    .Call System.Linq.Queryable.Take(
        .Call System.Linq.Queryable.Skip(
            .Call System.Linq.Queryable.OrderBy(
                .Constant<Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[Procurement.ProcurementType]>(M

[2018-06-25 15:02] jpiquot commented on #1499
The procurement type entity class is :
[code]

[2018-06-25 15:11] jpiquot commented on #1499
If i don't do expand select, everything works :

[code]

[2018-06-25 18:22] xuzhg commented on #1499
@jpiquot
I did a quick test, it works fine at my side:

![image](https://user-images.githubusercontent.com/9426627/41868162-1503988c-786a-11e8-8e96-e08a72c5a3dd.png)

Would you please share me a repro to dig more?

[2018-06-25 20:56] #1490 closed

[2018-06-25 22:17] AlanWong-MS commented on #1352
Closing this thread for now. Please comment if new issues arise.

[2018-06-25 22:17] #1352 closed

[2018-06-26 00:45] keatkeat87 commented on #669
when can we migrate from asp.net 4.x + ef + web api + odata
to asp.net core, Is there an estimate time ?
or it's still a long way off.

[2018-06-26 00:58] xuzhg commented on #669
@keatkeat87 OData has already released beta version for ASP.NET Core OData, see https://www.nuget.org/packages/Microsoft.AspNetCore.OData/7.0.0-beta4.

You can use it as a starting point. Besides, we are planning to release 7.0 RTM this week.

If you want some sample code, you can refer to:
https://github.com/OData/ODataSamples/tree/master/WebApi/v7.x/AspNetCoreODataBasicSample

Please let us know

[2018-06-26 01:09] techniq commented on #669
@xuzhg Any plans to support `$aggregate` before the release of `7.0.0`?

- https://github.com/OData/WebApi/issues/1154
- https://github.com/OData/WebApi/issues/1221

I'm currently on `beta2` and noticed [feature/netcore](https://github.com/OData/WebApi/tree/feature/netcore) hadn't been updated in about 2 months, but now that I look, it appears that that development might have moved backed to `mast

[2018-06-26 01:10] techniq commented on #669
@xuzhg `$aggregate` and https://github.com/OData/WebApi/issues/1257 (Ability to modify query after applying queryOptions) are my 2 biggest blockers right now

[2018-06-26 01:16] xuzhg commented on #669
@techniq Yes. we have moved to master branch for v7.0 for almost 2 months.

For the $aggregate, would you please test your scenarios with beta4 and EFCore 2.1.x? I had some tests before, it seems the basic scenario can work.

[2018-06-26 01:35] techniq commented on #669
@xuzhg I'm upgrading now and will report back.  Want me to respond within #1154 (and I'll close #1221 if resolved).

Any thoughts on #1257?

[2018-06-26 07:17] rmadisonhaynie commented on #1352
@AlanWong-MS ok 👍🏻

Also just want to mention @freeranger I used your solution and it’s working great for me, thank you!

[2018-06-26 10:53] artemvalmus opened #1502 "EF owned types support"
I have an entity with owned type:

[code]

EF context:

[code]

Model builder:

[code]

When running obviously the following exception is thrown:

`System.InvalidOperationException: 'The entity 'Person' does not have a key defined.'`

But obviously an owned type doesn't have a key.

What I primarily need is filtering over a complex property's property (in the example  `Application.Person.FirstName

[2018-06-26 13:11] techniq commented on #1221
Still crashing/killing the process when running on dotnet/EF Core/ASP.NET `2.1.1` with OData `7.0.0-beta4`

[2018-06-26 14:42] freeranger commented on #1352
No problem, glad I could help!

[2018-06-26 17:41] vsopko commented on #1387
@xuzhg, nothing changes in 7.0.0-Nightly201806261242, projected query with $select and $top fetch all columns.

[2018-06-26 18:02] biaol-odata opened #1503 "Enable support for batch in Json format in WebApi V7"
*ODL 7.4.4+ supports [batch in Json format](http://docs.oasis-open.org/odata/odata-json-format/v4.01/csprd04/odata-json-format-v4.01-csprd04.html#_Toc499716905), and it needs to be enabled in WebApi layer.*

### Assemblies affected

*OData WebApi lib 7.0*

### Reproduce steps

*N/A(new feature).*

### Expected result

*N/A(new feature).*

### Actual result

*N/A(new feature).*

### Additional deta

[2018-06-26 19:14] xuzhg commented on #1387
@vsopko
Below is my test for the latest nightly.

![image](https://user-images.githubusercontent.com/9426627/41934044-6cbbba3e-793a-11e8-8a7a-d396109993f9.png)

However, if you have a mapping in the controller, it will retrieve all the given properties.

[2018-06-26 20:19] biaol-odata commented on #1503
Close as merged.

[2018-06-26 20:19] #1503 closed

[2018-06-26 20:52] davidmorissette opened #1505 "Data annotations are not being validated on open complex types"
Data annotations (validators) are not being validated on objects containing open complex types.

### Assemblies affected

OData WebApi 7 Beta 4

### Reproduce steps

1- Define an object containing an open complex type and configure it accordingly:

[code]

2- Define another object and decorate one of its properties with i.e. DataRange:

[code]

3- POST (or PUT) a JSON body that violates the condit

[2018-06-26 21:07] vsopko commented on #1387
@xuzhg of course i have mapping in controller, your test app was not changed and i have mapping as explained in [this comment](https://github.com/OData/WebApi/issues/1387#issuecomment-396743220) and was proposed as PR for your test app. Moreover, we are working here with a simplest case of organizing a sequence of projections. In our real app we've generate complex projections in external dll and

[2018-06-26 22:17] xuzhg commented on #1387
@vsopko I closed it accidently.

[2018-06-27 01:18] xuzhg commented on #1387
@vsopko:

Let’s look at the Linq expression from Web API OData, the Red number in the picture is same as the items in the “Investigation”.
![image](https://user-images.githubusercontent.com/9426627/41947531-ed118c36-796c-11e8-8a6c-dfd882693efb.png)

The final SQL execution is as follows (it retrieves “Name” along with “Age” )
![image](https://user-images.githubusercontent.com/9426627/41947542-fc95

[2018-06-27 03:58] trampster opened #1507 "DataMember names don't work in filter queries"
When using a DataContract and DataMember to rename a property (to add a space) The result is serialized correctly with the rename, however the filter ?$filter='name with space' eq 'value' doesn't work (finds zero matches). I thought maybe it wasn't considering the rename so tried without the rename, this produces the following exception:
System.Reflection.TargetInvocationException: Exception has b

[2018-06-27 08:54] drMerf commented on #204
When will this be implemented? We currently have use for this functionality. :)

[2018-06-27 14:42] Meyce commented on #1463
I am seeing a similar behavior.  When adding a $expand={ChildEntity}.  A query is issued that retrieves the parent record(s).  Then for each parent record a query is issued for the child records.  So if I use /parent?$top=10&$expand=Children, 11 queries would be issued assuming 10 parents came back. 1 query for all the parent records, and a query for the children by parent id.

Ideally this would

[2018-06-27 16:42] aelij commented on #1498
FYI I've verified this is fixed in ASP.NET 2.1.1: https://github.com/aspnet/Mvc/pull/7834

[2018-06-27 17:58] xuzhg commented on #1498
@aelij Thank for your information. However, i think we should:
1. do what i have done in the PR #1501 to make sure it can work in 2.0 and 2.1 version.
2. upgrade to v2.1?

[2018-06-27 18:02] xuzhg commented on #204
@drMerf What do you think to be implemented?  Issue at client side https://github.com/OData/odata.net/issues/73?

[2018-06-27 18:31] xuzhg commented on #1507
@trampster DataContract/DataMember works in correct renaming scenario.

for example:
[code]
Then, i can do `http://localhost:5000/p/People?$filter=myName eq 'Peter'`

However, if you add a space into the renaming, for example:
[code]

Then, It's not acceptable when file a GET request: `http://localhost:5000/p/People?$filter=my Name eq 'Peter'`
So, Do not rename a property to violate the identifier

[2018-06-27 18:31] #1507 closed

[2018-06-27 22:29] xuzhg commented on #1369
@gordon-matt
I took a look this issue. It seems you did a wrong way to add the return for the function `GetCurrentVersion`.

I modified your model builder codes as:

[code]

I can get the result:
![image](https://user-images.githubusercontent.com/9426627/42003148-d6292148-7a1e-11e8-90e2-60839feb2bc1.png)

[2018-06-27 22:29] #1369 closed

[2018-06-28 14:06] vsopko commented on #1387
@xuzhg those currently OData have two mutually exclusive situations to fix this issue:
1. If Take() will be at the end of query - OData functions would not work?
2. If Take() beetwen select statement for columns from $select and select statement needed for OData functions to work - we'll get all columns because of EF Core [#12453](https://github.com/aspnet/EntityFrameworkCore/issues/12453)? By the

[2018-06-28 18:05] xuzhg opened #1510 "$top & $skip should move to execute as late as possible"
*Short summary (3-5 sentences) describing the issue.*

### Assemblies affected

* OData WebApi lib 7.x

### Reproduce steps

* See related issue:
     . https://github.com/OData/WebApi/issues/1387
     . EF Core https://github.com/aspnet/EntityFrameworkCore/issues/12453

If we put "Take()" in the different place, we will get different SQL.

## 1
[code]

If output the log, I can get the following i

[2018-06-29 01:58] granthoff1107 commented on #1370
Okay, let me know if there's any I can do to help

[2018-06-29 17:05] xuzhg commented on #802
See #1497

[2018-06-29 17:59] biaol-odata commented on #1460
@maximpashuk The convention in WebApi and ODL has been providing the permutation of parameter values for content-type header, including the  parameter. ODL implementation includes the odata.streaming and odata.IEEE754Compatible as parameter same way as here.
This is what is done in #1495. We need to have  further discuss whether we should make the list more concise in WebApi. See discussion [here]

[2018-06-29 20:59] AlanWong-MS commented on #802
Addressed with #1497 and the feature will be available in our incoming release. Thanks for the ongoing interest!

[2018-06-29 20:59] #802 closed

[2018-06-29 22:38] xuzhg commented on #939
@all

ASP.NET Web API OData 7.0 is available on [Nuget.org](https://www.nuget.org/) now, you can download it from:
1. [Microsoft.AspNetCore.OData](https://www.nuget.org/packages/Microsoft.AspNetCore.OData/7.0.0) is based on ASP.NET Core 2.0.
2. [Microsoft.AspNet.OData](https://www.nuget.org/packages/Microsoft.AspNet.OData/7.0.0) is based on ASP.NET Web API.

Please try it out and let us know any p

[2018-06-29 22:40] xuzhg commented on #772
@all

ASP.NET Web API OData 7.0 is available on [Nuget.org](https://www.nuget.org/) now, you can download it from:
1. [Microsoft.AspNetCore.OData](https://www.nuget.org/packages/Microsoft.AspNetCore.OData/7.0.0) is based on ASP.NET Core 2.0.
2. [Microsoft.AspNet.OData](https://www.nuget.org/packages/Microsoft.AspNet.OData/7.0.0) is based on ASP.NET Web API.

Please try it out and let us know any p

[2018-06-29 22:40] xuzhg commented on #229
@all

ASP.NET Web API OData 7.0 is available on [Nuget.org](https://www.nuget.org/) now, you can download it from:
1. [Microsoft.AspNetCore.OData](https://www.nuget.org/packages/Microsoft.AspNetCore.OData/7.0.0) is based on ASP.NET Core 2.0.
2. [Microsoft.AspNet.OData](https://www.nuget.org/packages/Microsoft.AspNet.OData/7.0.0) is based on ASP.NET Web API.

Please try it out and let us know any p

[2018-06-30 09:12] rmadisonhaynie commented on #1467
I also want to add a 500 gets returned for query params like

$select=Props

where Props doesn't actually exist on the entity, similarly for $expand

[2018-07-02 15:35] mitchdowd opened #1515 "Case mismatch on select/expand results in non-OData route"
Adding OData query handling to an existing controller results in non-camelCase resulting property names when $select or $expand is used.  Ideally the results should be consistent.

### Assemblies affected

Currently using Microsoft.AspNetCore.OData v7.0.0

### Reproduce steps

Have an existing controller with a non-OData route.
[code]
Configure the OData EDM route, and also enable dependency injec

[2018-07-02 17:21] ceouten commented on #1473
I would prefer not to have to ask all my consumers to change how they are currently using my REST API because I want to upgrade an internal framework. Is there a way I can implement the proposed fix as a custom ExpressionBinder?

[2018-07-03 00:02] biaol-odata commented on #1460
The issue reported [here](https://github.com/OData/WebApi/issues/1177#issuecomment-353738261) is due to empty supported content type.
Looking at AspNetCore.Mvc.Core's implementation related to to the [GetSupportedContentTypes](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Formatters/InputFormatter.cs#L127), I believe that the InputFormatter is required to have the comple

[2018-07-03 06:55] mitchdowd commented on #1515
Closing.  Explicitly setting JSON `SerializerSettings.ContractResolver = new CamelCasePropertyNamesContractResolver()` fixes it up.

[2018-07-03 06:55] #1515 closed

[2018-07-04 14:19] jpiquot commented on #1499
If I do this request : http://localhost:5000/odata/WarehouseProcurements/?$expand=Warehouse&$top=1

It is OK :
`{"@odata.context":"http://localhost:5000/odata/$metadata#WarehouseProcurements","value":[{"@odata.etag":"W/\"YmluYXJ5J0FBQUFBQUFBaVpjPSc=\"","RowVersion":"AAAAAAAAiZc=","Id":1,"Cancelled":false,"HierarchyNodeId":null,"InventoryItemId":null,"ProcurementTypeId":1,"SendManually":false,"Sour

[2018-07-05 06:56] eyalkapah opened #1516 "filtering DateTime objects results with "bad array""
trying to make a $filter query on DateTime object result with "Bad array" error.

`http://localhost:5002/odata/Rolls?$filter=StartTime gt 2018-02-02T00:00:00.00Z`

### Assemblies affected

Using .net core 2.1 (the latest)
and upgrade to the odata GA.

### Reproduce steps

just run it in postman.

### Expected result

get records where StartTime is bigger then 2018-02

### Actual result

Bad array

[2018-07-05 15:49] biaol-odata commented on #1516
@eyalkapah To gather more information, can you please provide answers to the following questions:
- Does it work prior to upgrade? If yes, what was the WebApi version?
- Any further details for the error, such as service side stack trace?

[2018-07-05 16:16] sorcer1 opened #1517 "Getting error 404 when calling /odata"
When i calling my localhost project (https://localhost:88/odata) i get a 404 error.

### Assemblies affected

I'm using Microsoft.AspNetCore.OData 7.0

### Reproduce steps

Configuring :
[code]

`services.AddOData();`

### Expected result

odata metadata

### Actual result

404 status code

### Additional detail
My controller inherits form different base classes :

My controller :
[code]

[2018-07-05 18:39] commonsensesoftware opened #1518 "Microsoft.AspNet.OData 7.0.0 Has Undeclared NuGet Dependencies"
Version 7.0.0 of the **Microsoft.AspNet.OData** package has undeclared NuGet dependencies. The offending dependency is at least **Newtonsoft.Json**, but there may be others.

For reasons that are unclear, the [source project](../blob/master/src/Microsoft.AspNet.OData/Microsoft.AspNet.OData.csproj#L40) references **Newtonsoft.Json 10.0.0**, but this reference is not declared in the [\*.nuspec](../b

[2018-07-05 21:51] xuzhg commented on #1518
@commonsensesoftware I filed a PR to downgrade the reference version. See #1519.

[2018-07-05 21:55] commonsensesoftware commented on #1518
Great! Thanks for the quick turnaround. Pending the test run, the changes looks good to me.

[2018-07-06 17:23] xuzhg commented on #1517
@sorcer1

To get data metadata doesn't need any other controller.  Can you share us your startup.cs?

[2018-07-06 17:55] xuzhg commented on #1518
Merged. Thanks.

[2018-07-06 17:55] #1518 closed

[2018-07-06 21:43] stumpykilo opened #1520 "Expand Filter Not Working"
Expand seems to work fine but when I go to filter it like this:
https://localhost:5006/api/Items?$expand=Skus($filter=VendorId eq 5)
It still brings back all items with empty Skus except for one item that matches the filter.

That's not how this is supposed to work, right? I'd expect to only get back the one item.

I'm using the Latest stable 7.0.0 version in a .NET Core 2.1.1 web api.

[2018-07-06 21:51] stumpykilo commented on #1520
Actually, I just read this documentation and I'm getting the expected results:
http://odata.github.io/WebApi/#04-03-filter-in-expand

How would I get back only the items that do have children that satisfy the filter?

[2018-07-06 21:57] xuzhg commented on #1520
@stumpykilo would you please give an example about "How would I get back only the items that do have children that satisfy the filter?"

[2018-07-06 22:05] stumpykilo commented on #1520
{
	Id = 1,
	Name = "abc",
	Orders = new[]
	{
		new Order { Id = 10, Name = "xyz" },
                new Order { Id = 11, Name = "def" },
	}
},
{
	Id = 2,
	Name = "def",
	Orders = new[]
	{
		new Order { Id = 12, Name = "lmn" },
                new Order { Id = 13, Name = "ghi" },
	}
}
https://localhost/api/Items?$expand=Orders($filter=Name eq 'ghi')
I would want just the 2nd item to return.

[2018-07-06 23:29] xuzhg commented on #1520
@stumpykilo
I think you are looking the following query option:
`
~/Items?$filter=Orders/any(o:o/Name eq 'ghi')

`

It will only give you the 2nd one.

[2018-07-06 23:29] #1520 closed

[2018-07-07 08:13] alkozlov opened #1521 "[.net core/odata] OData query with $skip doesn't work."
Hi guys.
I have a pretty simple .NET Core v2.1 application with OData v4.0 (NuGet package Microsoft.AspNetCore.OData v7.0.0). I faced problem with $skip query parameter. As only I add this parameter to request I couldn't get response.
This query works as expected: http://localhost:54229/odata/Apartment?$top=10
This query doesn't work: http://localhost:54229/odata/Apartment?$skip=10&$top=10

Genera

[2018-07-07 08:40] alkozlov commented on #1521
One more note: I deploy my application to Azure and it's works properly. Probably there are some problems with the system settings on my work computer. But I do not know what the problem is.

[2018-07-07 21:45] biaol-odata commented on #1521
@alkozlov Since it works on both laptop and Azure deployment, it doesn't sound like a code issue. Instead, it seems like an environment issue on your office dev box. Here is [one link](https://www.getpostman.com/docs/v6/postman/sending_api_requests/troubleshooting_api_requests) that might be helpful to resolve the connectivity issue.
Please let us know what you find out.

[2018-07-08 05:41] eyalkapah commented on #1516
@biaol-odata
1. Prior to the upgrade it did work yes. I used the nightly builds (updating ~2 weeks)
I am using .net core 2.1.3 so i guess the latest web api (2.2?)

2. I'm not running it even from a C# code, but from postman...
I attached a detailed stack trace for the command:

http://localhost:5002/odata/Rolls?$filter=StartTime gt 2018-02-02T00:00:00.00Z

[logger-all-2018-07-08.log](https://gith

[2018-07-09 07:39] xBorus commented on #1196
Is there a way to make this work ? I use Odata in controllers that have many methods, i want to describe routes in the controller.

[2018-07-09 09:07] sorcer1 commented on #1517
Hi,
This is my Startup.cs

[Startup.zip](https://github.com/OData/WebApi/files/2175421/Startup.zip)

[2018-07-09 15:57] InariTheFox opened #1522 "Provide Query support like .NET Framework version of OData"
The older OData (v4) functionality allowed for the use of the OData Query extensions on Web API projects without the full use of OData. This was exceptionally handy for creating much simpler OData-like REST endpoints, or essentially a mixed environment, where OData and Web API could co-exist in the same controller if needed. I realize this is not exactly the expected use case, but this functionali

[2018-07-09 16:19] KyryloLehonkov commented on #1463
I faced with same issue in 7.0 Release

[2018-07-09 16:28] adzhiljano opened #1523 "PageSize on EnableQuery attr does not respect EnableConstantParameterization"
**First of all, great lib ! : )**

Now, when `PageSize` is set on the `EnableQuery` attribute and `EnableConstantParameterization` is set to true (the default value), there is no SQL parameter in the resulting query. Which might pollute the SQL Server query plan cache with unwanted query plans (containing constants).

### Assemblies affected

OData WebApi lib 6.1.0

### Reproduce steps
[code]

###

[2018-07-09 17:40] NetTecture opened #1525 "PageResult example not working. Is a cast missing?"
Current 7.0 Nuget. This contains a number of correlated issues.

The following code:

            var objectList = query.ToList();
            var results = (IQueryable) options.ApplyTo(objectList.AsQueryable());
            return new PageResult<Api.Odata.Tenant>(results as IEnumerable<Api.Odata.Tenant>, new System.Uri("http://blabla/"), 55);

results in an exception as the PageResult first line

[2018-07-09 17:45] NetTecture commented on #1459
SLwoly nailin it down. Close it for now.

[2018-07-09 17:45] #1459 closed

[2018-07-09 18:17] NetTecture opened #1526 "aspnetcoreodatasample.web does not compile"
Current Git (master branch Commit 4fd6ce54)

The project does not compile.

Error on my computer is:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1105	Unable to find project information for 'C:\Work\WebApi-OData\src\Microsoft.AspNetCore.OData\Microsoft.AspNetCore.OData.csproj'. The project file may be invalid or missing targets required for restore.	AspNetCoreODataSample.

[2018-07-09 18:18] freeranger commented on #1522
@InariTheFox could you provide a bit more detail on what you are trying to do?
Your description sounds like exactly what we do with OData now in Asp.NetCore

We accept OData queries via an ODataQueryOptions parameter to a controller action and then apply that to an iQueryable
We don’t use EDMs or any of that and our controllers are just normal ones, not based on ODataController

If this is the sor

[2018-07-09 18:18] biaol-odata commented on #1523
Hi @adzhiljano, WebApi v6.1 is in maintenance mode. The master branch supports WebApi v7 (for classic AspNet and the new AspNetCore). Can you check this solution is applicable to the master branch and port accordingly? Thanks.

[2018-07-09 18:30] biaol-odata commented on #1526
@NetTecture CI build on master branch shows the build is in good state. Would you please check whether [this link related to NU1105](https://stackoverflow.com/questions/47695504/error-nu1105-unable-to-find-project-information-the-project-file-may-be-invali) can help to resolve the issue on your box?

[2018-07-09 18:52] NetTecture commented on #1526
Ah, yes.

You reference a project, but it is not in the solution. The moment I add it to the solution, it works.

I try this on a current VS - 2017. 15.7.4 - this could be some feature that older versions lack? Project reference seems not to be valid unless the referenced project is also in the solution containing the referencing project.

MSBuild or othersstuff may not care - Visual Studio seems

[2018-07-09 19:01] biaol-odata commented on #1526
@NetTecture yes, the sample project is contained in the WebApiOData.AspNetCore.sln, which is used to open the sample project along with aspnetcore.OData project.

[2018-07-09 19:12] #1526 closed

[2018-07-09 20:32] xuzhg commented on #1517
@sorcer1 It seems you call the "AddOData()" and Map the OData route in your "Startup.cs". Would you please debug it at your side to verify its routing to the "OData" route? Or, would you please share a repro for me to debug?

[2018-07-09 20:35] xuzhg commented on #1516
@eyalkapah

It looks similar to https://github.com/OData/WebApi/issues/1473. Would you please take a look the comments in #1473. If it can't work, please share us your metadata?

[2018-07-09 20:46] biaol-odata commented on #1516
@xuzhg #1473 is an issue of datatiemoffset / date conversion resulting in exception during parsing. Here the issue is BadArray, which appears that the parsing is OK, right?
Anyway, @eyalkapah, if you are OK with using a different url, you can try date() as in #1473, or other functions such as time(), to see whether the error will go away.

[2018-07-09 22:02] xuzhg commented on #1520
@rdmpark I think that's by design.

See the comments from OData spec:

_Example 40: for each customer entity within the Customers entity set, the value of those related Orders whose Amount is greater than 100 will be represented inline
`GET http://host/service.svc/Customers?$expand=Orders($filter=Amount gt 100)`_

So,

- `GET http://host/service.svc/Customers`  returns all customers
- `GET http://

[2018-07-10 08:56] sorcer1 commented on #1517
@xuzhg Hi, this is the trace from ASP.NET Core Web Server Output.
As you can see the endpoint is called, but i get an error 404.

[2018-07-10 09:38] eyalkapah commented on #1516
using casting to date() solved the problem for now... thanks

[2018-07-10 15:37] InariTheFox commented on #1522
@freeranger The older .NET framework version would hook in to the controller pipeline and apply the ODataQueryOptions directly on the result of the method automatically, without the need for all the boilerplate code that would be necessary. Now obviously the flexibility of .NET Core is meant to be just that a "core" implementation, but I am wondering if there's a way to inject the same functionali

[2018-07-10 18:06] biaol-odata commented on #1516
Thanks for the updates. Closing this issue; feel free to re-open or submit new issues.

[2018-07-10 18:06] #1516 closed

[2018-07-10 18:42] xuzhg commented on #1517
@sorcer1 Ok. Can you please share your link for your repro?

[2018-07-11 07:48] alkozlov commented on #1521
@biaol-odata Thank you for help. I solved my problem. But the solution was not at all where I was looking for it. When writing my application, I was guided by this article [https://blogs.msdn.microsoft.com/odatateam/2018/07/03/asp-net-core-odata-now-available/](url).
It turned out that the .NET Core dispose data before they can serialize. And the example described in the article above does not wor

[2018-07-11 07:58] freeranger commented on #1522
Hi,

Not sure what you mean about "all" the boilerplate.  We did little more than:
[code]
and then our controller acitons accept an `ODataQurtyOptions<T> options`  and  then `options.ApplyTo(<some IQueryable<T>)`

[2018-07-11 10:07] adzhiljano commented on #1523
Hello @biaol-odata, does that mean WebApi 6.1 won't get any fixes/updates and there won't be a 6.2 version for example? If yes, is it safe to upgrade to 7.0?

I checked and yes, the solution is applicable. I will send a PR later today/tomorrow.

[2018-07-11 19:12] andrew-laughlin commented on #1494
In case anyone is interested, to work around this issue in the interim, we've implement a custom routing solution based on info here --> http://odata.github.io/WebApi/#03-04-custom-routing-convention

Essentially the code implements `IODataRoutingConvention` and inserts itself as the first routing convention. It then processes all existing conventions and, if necessary disambiguates the results (r

[2018-07-12 01:00] biaol-odata commented on #1521
@alkozlov Thanks for the update. The addition information provided above is not environment-related, maybe your laptop and azure deployment were working and didn't hit the exact cases that were failing on you dev box? This needs to be looked into further for sure.

[2018-07-12 01:13] biaol-odata commented on #1523
@adzhiljano:
Correct, we don't have plan for 6.2 release at this moment.
Upgrading to 7.0 should be safe but, unfortunately, there will be some breaking changes along with the major version release. We have tried to reduce the breaking changes to as minimum as possible. Please refer to details [here](http://odata.github.io/WebApi/#14-04-netcore-7-0).
Please also let me know when your PR on master

[2018-07-12 06:58] christianquirante commented on #1177
Good day everyone, how come when I added MediaTypeHeaderValue I got this error

'cannot convert from 'System.Net.Http.Headers.MediaTypeHeaderValue' to 'Microsoft.Net.Http.Headers.MediaTypeHeaderValue'?

Is there something I am missing here?

[2018-07-12 08:45] christianquirante commented on #1177
if I put this code

r.MapODataServiceRoute("ODataRoute","odata", builder.GetEdmModel(), new DefaultODataBatchHandler());

the odata doesn't show up and it says this "This localhost page can’t be found"

but when I use this code the odata shows up

r.MapODataServiceRoute("odata",null, builder.GetEdmModel(), new DefaultODataBatchHandler());

can someone explain why this is happens?

[2018-07-12 10:16] christianquirante commented on #1177
there is no paths and definitions when I clicked this "/swagger/v1/swagger.json" at swagger

https://localhost:44361/swagger/v1/swagger.json

{"swagger":"2.0","info":{"version":"v1","title":"OData API"},"paths":{},"definitions":{}}

Is this related as to why it shows 'No operations defined in spec!' at localhost:44361/swagger/…?

[2018-07-12 12:16] jpiquot opened #1529 "ETag missing on derived entities"
The ETag is missing in the json query result on derived entities.

### Assemblies affected

OData WebApi lib 7 lastest from master branch.
.NET Core SDK 2.1.300
EF Core 2.1

### Reproduce steps
[code]
### Expected result

[code]
### Actual result

[code]
### Additional detail
If I query the base class, everything is OK :

[code]

[2018-07-12 12:44] jpiquot opened #1530 "Expand bug on derived entities"
The Json response is incomplete when querying a derived object with a expand.

### Assemblies affected

OData WebApi lib 7 lastest from master branch.
.NET Core SDK 2.1.300
EF Core 2.1

### Reproduce steps
[code]
### Expected result

[code]
### Actual result

[code]
the data and the closing ]} are missing

### Additional detail
If I query the base class, everything is OK :

[code]
The error is lin

[2018-07-12 13:59] jpiquot commented on #920
I have the same issue.

[2018-07-12 17:53] DavTheSuave commented on #1488
Any clue how far off into the horizon this is? I don't need it for my current project but it would be really nice to have.

[2018-07-12 21:19] flieks commented on #33
any progress on this one ?
Thanks

[2018-07-12 21:40] flieks opened #1531 "graphql on top of odata"
Hi,

I want to put a graphQL layer on top of Odata Queryables.
GraphQL is missing filtering so you have to program it yourself. Easier would be to add a string field "odata" which accepts an odata query which then can be parsed and executed against an IQueryable object.

Is this a good idea ?

For the moment i came not further then this (on net core), but how to convert FilterClause or OrderByClau

[2018-07-12 21:43] adzhiljano commented on #1523
Hello @biaol-odata,
Thanks for responding! I went through the breaking changes and I think we'll be able to upgrade to 7.0.

As for the PR, I'm running in some issues with building the solutions. When I tried to run the `build.cmd` at first I got ` Build WebApiOData.AspNet.sln FAILED.` with lots of errors like this:

Here is the `msbuild.log` : https://gist.github.com/adzhiljano/395a582548bafa652d

[2018-07-13 11:48] igor-moskvitin opened #1532 "Unable to get batch response in json format"
*Unable to get batch response in json format*

### Assemblies affected

*OData WebApi lib 7.0*

### Reproduce steps

For AspNetCoreODataSample.Web:
[code]

[code]

### Expected result

Result as JSON

### Actual result

[code]

[2018-07-13 17:08] wierzba3 opened #1533 "Unable use different EdmModels for different routes"
We currently have one shared EdmModel for all of our route prefixes, but we desire two.

For one route prefix, we wish to explicitly block ( return 404) for a subset of the API functionality described in the EdmModel. We wish to define a second EdmModel that only describes this subset of functionality. It seems that this is not supported, because we are receiving errors when we do this.

Full, det

[2018-07-13 22:09] wierzba3 commented on #1533
Closing this issue and opening another one with a clearer description

[2018-07-13 22:09] #1533 closed

[2018-07-13 22:11] wierzba3 opened #1534 "Unable use different EdmModels for different routes"
We are receiving an error when attempting to use two EdmModel in our service. One model is mapped to one route prefix, and the other model is mapped to another route prefix.

We have a need to restrict a certain subset of our OData API surface for one route prefix. We wish to return 404 when an API is accessed that is not supported for that route. We need to know how we can (and how we should) acc

[2018-07-14 00:16] xuzhg commented on #1529
@jpiquot The title looks a misleading. The etag can work on derived type as test.

![image](https://user-images.githubusercontent.com/9426627/42718679-f23ab574-86bf-11e8-8c43-5b740d22e306.png)

Your problem seems the etag can't present in the response if the $select doesn't include the concurrent property.  I'd like @mikepizzo maybe has some hint from the spec itself.

[2018-07-15 09:13] jpiquot commented on #1529
Hi @xuzhg,

Thank you for your quick answer but when I query the base class without the RowVersion I have the ETAG. So the duplicate RowVersion field is not required. I doubt that the specification requires to duplicate concurrency (RowVersion + ETAG).

Regards,

[2018-07-16 06:06] ShenglinGuo commented on #1521
I am just going to add another possible cause of $skip not working. We use odata controller to drive UI grid so, paging is important feature. We notice that the first page worked when $skip is not apply, but as soon as $skip is apply the count is still correctly returned but the value collection is empty array.

I been digging and looking at all the configuration and settings. Eventually I found t

[2018-07-16 08:16] adzhiljano commented on #1523
I managed to fix my issues by installing VS 2015 : ) I thought that the VS2015 build tools would be enough, but that was not the case. But still I had issues with building the `AspNetCore` project. With VS 2017 I got:

[code]
and those errors led me to the [following analyzer issue](https://github.com/dotnet/roslyn-analyzers/issues/1275) and then I temporarily upgraded the `Microsoft.CodeAnalysis.

[2018-07-16 18:03] InariTheFox commented on #1522
@freeranger Previous incarnations of OData would automatically bind to the ODataQueryOptions<T> during the appropriate time, and also call options.ApplyTo() once the request was being finalized to send to the client, without having to code this. I guess for the time being I could create the appropriate blocks of code and plug them in to the ActionFilters or wherever they may go.

[2018-07-16 23:10] biaol-odata commented on #1532
@igor-moskvitin The PR #1536 above should fix the issue. Thanks for reporting.

[2018-07-17 03:39] GavinHome commented on #1262
Microsoft.AspNetCore.OData： 7.0.0
.net core 2.0： 2.0.7

I use postman to get results.  There is no response result.
![image](https://user-images.githubusercontent.com/5460850/42795124-1b082e08-89b5-11e8-8a72-718a3b857ae7.png)

with out '$skip', it is working fine:
![image](https://user-images.githubusercontent.com/5460850/42795195-8ac323c4-89b5-11e8-84fa-d7ad6857ee3e.png)

I add this line of code,

[2018-07-17 12:09] thqnhat commented on #1522
@InariTheFox: you can do the same thing in .Net Core as .Net Framework with the lastest version of Microsoft.AspnetCore.Odata (v7.0.0). It would automatically bind to the ODataQueryOptions and also call options.ApplyTo() for you. Firstly, you need enable ODataQueryOptions in Startup file like @freeranger mentioned. Then, you can place the attribute [EnableQuery] on the methods you want et that's a

[2018-07-17 13:06] jpiquot commented on #1529
Hi @xuzhg, thank you for the quick fix.

[2018-07-17 13:07] jpiquot commented on #1530
I think this is EF Model issue in my application. The issue can be closed.

[2018-07-17 13:08] jpiquot commented on #1499
This is a EF Model issue in my application. The issue can be closed.

[2018-07-17 13:22] JohnGalt1717 commented on #1498
I'm using .NET Core 2.1.2 (latest) and the release version of oData for .NET core.

Using the documentation, I've set it up but the output is always simple json.

Adding these mvc options:

options.RespectBrowserAcceptHeader = true;
options.ReturnHttpNotAcceptable = true;

results in a 406 error when requesting odata formats as if it isn't registering the formatters properly.

[2018-07-17 13:40] JohnGalt1717 commented on #1522
The problem is that $count=true doesn't work resulting in the output staying the same base json [] instead of {Results: [], InlineCount: xxx}

So it's impossible to do pagination.

[2018-07-17 16:31] JohnGalt1717 opened #1538 "Manually Add $count when not using odata route in ASP.NET Core?"
While all of the extra stuff for odata is great if that's what you need, all we need is standard webapi with the commands for querying.  We have created our own JsonOutputFormatter that creates our own object that returns values.

In gold old ASP.NET we could do this: requestMessage.ODataProperties().TotalCount to get the count and set it to our count property of our serialized value.

But we cann

[2018-07-17 16:35] xuzhg commented on #1530
close it. Thanks.

[2018-07-17 16:35] #1530 closed

[2018-07-17 21:54] biaol-odata commented on #1532
PR has been Merged. This issue can be closed now.

[2018-07-17 21:54] #1532 closed

[2018-07-18 09:38] dbenzhuser commented on #158
The workaround from @peter172sp above broke again as `ODataMediaTypeFormatters.Create()` no longer takes Serializer arguments as of commit [46fb5319374438b6e3a55f82f97e30549ba7cd42](https://github.com/OData/WebApi/commit/46fb5319374438b6e3a55f82f97e30549ba7cd42#diff-30fa2070b13e611e0d4dada631ca8c57) by @robward-ms. I have not yet found a solution that works with the current version (7.0).

[2018-07-18 13:07] NetTecture commented on #1525
Anyone cares about those? Because right now the ONLY way to get OData working with Entity Framework Core is for me to pull all data into memory and then hand that over to Odata - which is like the antithesis of how you should use sql server.

[2018-07-18 15:10] Galad commented on #1085
Hello,
@AlanWong-MS
I'm trying to fix some performance issue in our application and I noticed the problem mentioned in this issue.
So I tried to use a version of AspNet.OData containing the fix from PR #1106  (6.2.0-Nightly20180717112 from the maintenance-6.x branch I believe), but without success, the orderby clauses are still ordered by name in the SQL query, meaning that the Column.Order proper

[2018-07-18 17:20] robward-ms commented on #158
@dbenzhuser - In that commit, look at ODataFormatterTests.cs for how inject a custom deserializer/deserializer provider. You can still use a custom DeserializerProvider but it's injected through DI instead of injecting it through ODataMediaTypeFormatters.

[2018-07-18 19:17] sckid1108 opened #1540 "System.Reflection System.TypeInitializationException using ODataConventionModelBuilder (Totally Breaks V7)"
*Short summary (3-5 sentences) describing the issue.*
var modelBuilder = new ODataConventionModelBuilder();
modelBuilder.GetEdmModel();
Produces this:
System.TypeInitializationException

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 6.1.0
Microsoft.AspNet.OData V7.0.0.20629

### Reproduce steps

Using .NET Framework 4.6.2 using Web Api 2

va

[2018-07-18 22:26] adzhiljano opened #1541 "ModelID does not get parameterized in resulting SQL queries"
Correct me if I'm wrong, but as what I saw the ability to have multiple models (IEdmModel) in a single project/service/etc. resulted in mapping a _Guid_ to every model, so that when having a select/expand you know which model should be used (I guess for serialization). I'm referring to the [following line](https://github.com/OData/WebApi/blob/b1890153f85b07571560179a27f288f19da05930/src/Microsoft.

[2018-07-18 22:53] xuzhg commented on #1540
@sckid1108
From the codes, it looks you're using OWin to host the service. I have a test and it can work fine. Would you please take a look at: https://github.com/xuzhg/WebApiSample/tree/master/ODataOWin
Please let me know if something wrong.
Thanks.

[2018-07-19 00:55] vsopko commented on #1387
@xuzhg can be closed, thanks.

[2018-07-19 08:39] igor-moskvitin commented on #1532
@biaol-odata excuse me, but PR doesnt fix issue, or maybe i do something wrong:
[code]
and getting that:
[code]

[2018-07-19 09:10] igor-moskvitin commented on #1532
Find out that need to use `Accept: application/json` and it works now

[2018-07-19 14:07] JohnGalt1717 commented on #1538
To answer my own question, here's how you can get it:

var totalCount = Microsoft.AspNet.OData.Extensions.HttpContextExtensions.ODataFeature(context.HttpContext).TotalCount;

[2018-07-19 14:07] #1538 closed

[2018-07-19 18:11] AlanWong-MS commented on #1085
Hi @Galad, thank you for the detailed write-up.

You are correct that 6.2.0 nightly is from the maintenance-6.x branch. Unfortunately, we don't have any plans at this time to update the maintenance branches unless they're security issues. The fix will currently be in 7.x and above.

I'll take a look at this.

The tests were moved to a new folder in the [master branch](https://github.com/OData/WebA

[2018-07-20 11:28] igor-moskvitin opened #1543 "Json batch response body if 404"
*Json batch respone when 404 produce invalid json*

### Assemblies affected

*Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps

Make get batch request when some of items not in collection

### Expected result

[code]

### Actual result

[code]

### Additional detail

[2018-07-20 14:03] osemyonov commented on #1085
I would also appreciate to see this fix in next release asap, because I wait this fix already 9 month

[2018-07-20 18:55] biaol-odata commented on #1543
@igor-moskvitin This is probably an issue in ODL. It would be great if you can provide you sample data for confirmation. Thanks.

[2018-07-21 15:31] igor-moskvitin commented on #1543
@biaol-odata cant get my own sample data now, but repro in _AspNetCoreODataSample.Web_ works like this:

Request is
[code]
Response is
[code]
**"body":}** is presented.

In [spec](http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_BatchResponse) wrote that should be `"body": <Error message>`

[2018-07-22 15:47] Loongle opened #1544 "ASP.NET Core using attribute routing have no effect"
I see the [documentation ](http://odata.github.io/WebApi/#03-03-attrribute-routing)for building applications in ASP.NET CORE. But it doesn't seem to work. the document describes the code used in the.net Framework.
The way I use it in the Controller is as follows:
[code]

There are no more USES cases for asp.net core.
After all, documents refer to the previous.net framework
Thanks

[2018-07-23 17:30] biaol-odata commented on #1543
@igor-moskvitin Thanks for the information. It turns out to be an issue on the WebApi issue on the AspNetCore side which should skip the serialization of empty response body. See the PR above.

The serialization of error message should work if the response body is not empty.

[2018-07-23 18:54] NetTecture commented on #1257
TOTALLY not closed and a showstopper.

Somehow this works for me when I materialize the whole result.

i.e. if I have this:

            var data = query.ToList();
            return data.AsQueryable();

it works nicely, but if I use this:

            var q2 = options.ApplyTo(query);
            return ((IQueryable<D>) q2);

I get 'Unable to cast object of type 'Microsoft.EntityFrameworkCore.Quer

[2018-07-23 19:24] NetTecture commented on #1201
Is it possible that we can get that without PageSize on the server based on $skip and $top that the client sends? Right now this is NOT client driven - some clients are prepared to deal with a lot of data, some not. Some want to only show a page and can switch how many items that is.

The static PageSize server side as a maximum - great,- but it should not be a requirement. If there is one line mo

[2018-07-24 09:22] OlivierDeRivoyre opened #1546 "$batch returns a 200 OK instead of 401 Unauthorized"
When calling a method protected by the Authorize attribute with a $batch, the returned value is a 200 OK instead of 401 Unauthorized. The bug do not occurs for the first request of the batch, only for the one after.

### Assemblies affected

Seen in Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps

Use the branch feature/netcore of WebApiOData.AspNetCore.
Add the $batch ability:

    public v

[2018-07-24 17:22] Eilon opened #1547 "OData libraries shouldn't be using ASP.NET Core internal types"
Some of the libraries in this repo appear to use `.Internal` types from ASP.NET Core, which is not a supported scenario.

For example:
https://github.com/OData/WebApi/blob/master/src/Microsoft.AspNetCore.OData/Routing/ODataActionSelector.cs#L13

### Assemblies affected

* Microsoft.AspNetCore.OData
* And possibly others

### Reproduce steps

N/A

### Expected result

Only supported (non-`.Internal

[2018-07-24 18:30] biaol-odata commented on #1546
@OlivierDeRivoyre The batch is in multipart/mixed format. The response for the overall $batch should be 200 as per [OData spec](http://docs.oasis-open.org/odata/odata/v4.01/csprd04/part1-protocol/odata-v4.01-csprd04-part1-protocol.html#sec_MultipartBatchResponse), since all sub-requests have been processed.

As for the sub requests with response code 200, for comparison, do you have information ab

[2018-07-24 18:39] smitpatel commented on #1413
I investigated based on data provided and information given by .NET team and we may have possible cause of the issue here.

Ref: thread on EF Core repo which has more details (https://github.com/aspnet/EntityFrameworkCore/issues/12733)

Particularly posting last outcome from corefx team

From @jkotas

The crash is caused by invalid IL generated via Reflection.Emit.

[code]

The method with invalid

[2018-07-24 18:54] techniq commented on #1463
Could this useful in this situation? [Optimization of correlated sub-queries](https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-entity-framework-core-2-1/#user-content-optimization-of-correlated-sub-queries)

[2018-07-25 11:59] sorcerb opened #1548 "Custom errors json format. app.UseExceptionHandler not work"
Http errors with AspNetCore.OData is not json format.
app.UseExceptionHandler(); - not work with Odata / work not as expected

### Reproduce steps
[code]

### Expected result

Status: 401
Body: {ErrorCode = "401", Message= "token expired"}

### Actual result

Status: 401
Body: nothing

### Additional detail

May be it can be do it with another method, but is not enough information or samples about

[2018-07-25 15:38] OlivierDeRivoyre commented on #1546
Hi @biaol-odata

I completly agree with you that the overall $batch response sould be (and is) 200. The problem is on the sub responses that should be 401 instead of 200.

I do not have information with the Microsoft.AspNet.OData 6.x version. I'm working in AspNetCore, and I do not know the AspNet version. Sorry for that.

Meanwhile, I have found a complementary workaround that consist to forbid t

[2018-07-25 19:09] TehWardy opened #1549 "Trouble with routing to custom functions"
Currently running **v6.1.0 of the odata framework** in my solution.

I'm having some trouble understanding routing in an api scenario where I have an app collection and I want to provide a download method on the controller for a file at a given path for example ...

As per the docs, I add to my existing working "CRUD" controller the download method ...

[code]

Having defined my method I have adde

[2018-07-25 19:40] dozer75 commented on #1257
@NetTecture

What you are experiencing is not a bug, it is by design, if you see in your exception the result of ApplyTo encapsulates your `Api.Odata.Account` into a generic `SelectAndExpand` object, and you can't just cast this. The reason why `ApplyTo` does this is because of the internal handling after OData has called your get action which needs this `SelectAndExpand` for further handling to s

[2018-07-26 07:36] OlivierDeRivoyre opened #1550 "$batch MessageQuotas.MaxOperationsPerChangeset has no effect"
Setting the MessageQuotes in the ODataBatchHandler has no effect. If we try to do a $batch with more than 100 sub requests, we have the following error:

    ODataException: The current batch message contains too many parts. A maximum number of '100' query operations and change sets are allowed in a batch message.

To increase the default limit from 100 to 10000, I'm setting the MaxOperationsPerCh

[2018-07-26 10:58] NetTecture commented on #1463
Hardly. Actually OData right now is willfully ignoring dotnetcore entity framework functionality it seems.

I execute the same query

THe Lambda runs down to:

.Call System.Linq.Queryable.Select(
    .Call Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions.Include(
        .Constant<Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[Data.Core.IDTLogin]>(Microsoft.EntityFr

[2018-07-26 11:02] NetTecture commented on #1257
@dozer75  You know, returning IActionResult NEARLY worked. Now I get N+x round trips as every relationship is a separate request.

Funny.

The following code:

            IEnumerable<string> includes = EmptyIncludes;
            if (options != null) {
                includes = GetIncludesFromExpandClause(options.SelectExpand);
            }

            var query = Repository.Set<E>()

[2018-07-26 14:11] NetTecture opened #1551 "Documentation/Code: How to set up cotained entity in code?"
Current Version.

The examples are very nice in using the [Contained]attribute. Sadly - like all odata attributes-  that comes with tremendous costs (namely pulling in the whole stack up to asp.net) and is not feasible if you want to share an assembly.

As such, I set up all properties in code.

Containment fails.

            var bb2 = builder.EntityType<Event>().ContainsOptional(x => x.Response)

[2018-07-26 14:12] NetTecture commented on #877
How do you do that without the Contained attribuite, i.e. in code? There is no documentation and i seem t obe unable to suppress the entity set creation.

[2018-07-26 14:49] NetTecture opened #1552 "BUG: Odata ignoring EntityFrameworkCore included data, forces a requery and N+1"
Current 7.0.2

I finally got EF data working and I am astonished by being hit by an N+1 phenomeon on expand althuogh I actually do not need it.

I know ENtityFrameworkCore is not really smart with auto includes. Which is why I am.

Given:
* get method written with fully parsing of the ODataQueryOptions to get the proper includes:

We work on 2 entiteis, User and Expand=Account.

public ActionResul

[2018-07-26 15:00] NetTecture opened #1553 "ApplyTo not working, behavior differs from just returning query with ActionResult"
Current.

Given the following code:

        public ActionResult<D> Get([FromQuery] ODataQueryOptions<D> options = null)
        {
            IEnumerable<string> includes = EmptyIncludes;
            if (options != null) {
                includes = GetIncludesFromExpandClause(options.SelectExpand);
            }
            var query = Repository.Set<E>()
                .ProjectTo<D>(new Dictio

[2018-07-26 16:28] JohnGalt1717 opened #1554 "odata interfering with pre-expanded IQueryable even when Expand() not called and explicitly prevented on endpoint"
Using Aspnet Core and simple endpoints (not the odata endpoint) so that querying and filtering is enabled and with odata setup like so:

			app.UseMvc(builder =>
			{
				builder.Select().Filter().OrderBy().MaxTop(1000).Count();
				builder.EnableDependencyInjection();
			});

If you have an endpoint that has [EnableQuery] on it and it returns an IQueryable with a pre-expanded IEnumerableArray ASP

[2018-07-26 23:04] biaol-odata commented on #1550
@OlivierDeRivoyre As an overview, the ODataBatchHandler in WebApi coordinates the batch processing via the ODL's batch reader & writer.

Therefore, the ODataBatchHandler does not contain logic to limit the batch size of the request message, and ODataBatchHandler.MessageQuota, which you are trying to use as config setting, is not the one that gets populated to the ODL reader, which does the batch s

[2018-07-27 01:52] biaol-odata commented on #1546
@OlivierDeRivoyre I don't think in your case specific response code matters, either it be 400, 401, or even 500. With that said, I tried out some batch with failed operations followed by successful operation, using Microsoft.AspNetCore.OData 7.0.1, and am able to receive expected batch response.
[code]

Note that in the above response, response code 500 is set correctly for first two failed operat

[2018-07-27 10:47] maximpashuk opened #1555 "aspnetcore ETagMessageHandler throws then ClrType property name and EdmModel property name differs"
Hi, I am using **Microsoft.AspNetCore.OData 7.0.1**

My model
[code]

Registred with ODataModelBuilder property 'ConcurrencyStamp' has different name 'concurrency'.
[code]

In metadata document I have
[code]

**BUT**, when I decorate controller with [ETagMessageHandler] attribute, and call а GET method, I get an error.
[code]

Then I name property as "ConcurrencyStamp", then all the things is fine

[2018-07-27 11:19] rcreynolds53 commented on #912
I am still experiencing issues when trying to groupby a DateTime, is there a work around for this or has it been resolved?

[2018-07-27 11:33] NetTecture opened #1556 "Filter in a Guid property does not work, odata not recognizing guid literal"
Given an object Building with a Guid Identity
[code]
the following should work:

https://localhost:44361/Building?$filter=Identity%20eq%2027ca08f36c-c08a-42e6-9293-e4243377e505

but I do get:

{"error":{"code":"","message":"The query specified in the URI is not valid. Syntax error at position 50 in 'Identity eq 27ca08f36c-c08a-42e6-9293-e4243377e505'.","details":[],"innererror":{"message":"Syntax

[2018-07-27 17:02] xuzhg commented on #1529
Close it.

[2018-07-27 17:02] #1529 closed

[2018-07-27 17:04] xuzhg commented on #1488
@DavTheSuave We implemented it in the latest [7.0.1](https://www.nuget.org/packages/Microsoft.AspNetCore.OData/7.0.1) version. Thanks.

[2018-07-27 17:04] #1488 closed

[2018-07-29 05:52] JeffreyZZ opened #1557 "EnableLowerCamelCase doesn't apply to Enum type and Enum values"
Microsoft REST API Guidelines recommends camelCased for the names of entity, property, enum and enum values. In our OData WebAPI implement, we use EnableLowerCamelCase to help do the CamelCase conversion for the entity’s property name. But it does NOT work for enum values, so we have to name enum value in camelCase as a workaround like this. This is NOT good from C# coding perspective. Is there a

[2018-07-29 14:31] NetTecture commented on #1473
@AlanWong-MS @xuzhg This is a ridiculous fix, totally in violation of the odata standards. Literals do not need conversion methods.

At the end this is a problem of parsing literals. And there are way moer than that - guid's also do not work.

Soneone needs to write unit tests for the whole set in http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part2-url-conventions.html and then sit down a

[2018-07-30 08:11] OlivierDeRivoyre commented on #1550
Hi Bill,

Thank you for your help, it solved my problem.

For googler, and since I've lost some time on this trick, note that there is two ODataMessageReaderSettings:
 - Microsoft.OData.ODataMessageReaderSettings
 - Microsoft.Data.OData.ODataMessageReaderSettings
The one you need to inject is Microsoft.OData.ODataMessageReaderSettings.

[2018-07-30 08:11] #1550 closed

[2018-07-30 09:38] NetTecture commented on #158
Is anyone working on that? JOtherwise i may pick it up becasue like so many things, we have data models with integrity (which somehow the odata team does not seem to have) and that means certain relationships MUST be set at insert time, period. And like so many issues, it seems that for every line of OData relevant code I write, I find basic functionality not working.

@robward-ms Can you get me s

[2018-07-30 17:22] biaol-odata commented on #1550
Microsoft.Data.OData.ODataMessageReaderSettings is for OData 5.x only. We only have Microsoft.OData.ODataMessageReaderSettings in OData 6 and beyond.

[2018-07-30 17:43] Kizmar commented on #1177
@christianquirante As far as I can tell, Swagger doesn't support using OData in AspNetCore. If all you have are OData endpoints, that message is likely pointing this fact out. We have regular Controllers in our API in addition to the OData controller, and our Swagger works, but we aren't seeing the OData endpoints.

[2018-07-31 00:27] KanishManuja-MS commented on #1556
I tried reproducing this with no luck. The filter query works for me for GUID, can you please share with me the entire metadata? Did your query have quotes or other special characters?

[2018-07-31 08:40] Galad commented on #1085
I noticed the issue in 6.x but I am pretty sure it is present in 7.x as well, because the code did not change since then.
I can try to reproduce it in 7.x in order to confirm that when I have some time.

Thanks for looking into it.

[2018-07-31 12:49] NikoNagy commented on #135
Hi, @egbertn your link is now dead :(

[2018-08-01 00:39] biaol-odata commented on #1557
@JeffreyZZ See https://github.com/OData/WebApi/pull/1558.
Looks like this is a duplicate of #850?

[2018-08-01 14:02] andrewlock opened #1559 "Don't assume port 80 for nextLink when request was HTTPS"
I just spent half a day debugging this issue, where Power BI could connect to an ASP.NET Core OData api over HTTP, but not over HTTPS. I finally figured out that the `@odata.nextLink` was returning an invalid port in the URL when accessed over HTTPS - port 80 instead of port 443.

### Assemblies affected

 OData WebApi lib 7.0.0

### Reproduce steps

The issue only appeared when the app was behind

[2018-08-01 17:58] biaol-odata commented on #1559
Ideally, we should relying on the ASP.NET Core to handle the reverse proxy scenario correctly, instead of trying to patch up in WebAPI?

[2018-08-01 17:59] biaol-odata commented on #1559
Adding ASP.NET Core issue link: https://github.com/aspnet/BasicMiddleware/issues/204

[2018-08-01 22:11] biaol-odata commented on #1559
@andrewlock I have pinged the ASP.NET Core issue owner for timeline of resolution of the underlying issue. If we don't get concrete information, we can consider patching it up in WebAPI as work around. Therefore, feel free to submit a PR. Thanks.

[2018-08-02 07:39] goethalsf commented on #1559
Hi,

I just wanted to add that i also encountered this issue where the "@odata.nextLink" has the wrong port 80 added instead of 443 , and would like to have it fixed :-)

I think no default-port assumptions should be used, as in my case , as for internal company development we uses different http/https ports then 80, 443

[2018-08-02 17:29] xuzhg commented on #1556
@NetTecture Filtering by Guid has been supporting for a while. Would you please share your non-working re-pro for us to investigate?

[2018-08-02 18:05] xuzhg commented on #1551
@NetTecture Thank for your input.

Let me provide some test as below:

[code]

The model build will create as following with `Response` as a contained navigation property, meantime, the `Response2` is a structural property.

[code]

[2018-08-02 18:05] #1551 closed

[2018-08-02 18:43] xuzhg commented on #1549
@TehWardy

First, I would say that you don't need to add your own routing convention to route the function call. It's built in Web API OData.

Second, Your codes maybe change a little bit to work.

1. The controller should be derived from "ODataController"
2. The controller name should be "{entitySetName}Controller"
3. `[ODataRoute("Download({p})")]` is wrong, and it can be removed.
4. You should

[2018-08-02 18:43] #1549 closed

[2018-08-02 19:39] NetTecture commented on #1551
@xuzhg  Ah - no? Does not work. Now, I made a complete test, so... no Schema document. And Iget exceptions ;) Exceptions.

According to the documentation at https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/odata-containment-in-web-api-22 I shall cotrol containment with an Attribute on the navigation property. Reasons not to do that is mostly - I don

[2018-08-02 20:16] xuzhg commented on #1551
Would you please point me where do you get the rule: "And the rule says that basically a contained type does not need a primary key".

[2018-08-03 07:31] sorcerb commented on #1521
@alkozlov, didn't help to me

http://localhost:5001/api/Customers?$skip=10&$top=10

http://localhost:5001/api/Customers?$top=10

[2018-08-03 07:42] alkozlov commented on #1521
@sorcerb Did you configure serialization in Startup.cs?
`.AddJsonOptions(options => { options.SerializerSettings.ReferenceLoopHandling = ReferenceLoopHandling.Ignore; })`

I noticed that there is any problems with serializations of objects with complex structure. And options specified above is required for solving this problem.

[2018-08-03 07:56] sorcerb commented on #1521
@alkozlov yes,
here is my startup class:

[code]

[2018-08-03 09:17] alkozlov commented on #1521
@sorcerb I compared your and my code. It looks the same. The only difference is that I overrided GetEdmModel() method. This is my code:

`static class Kpd37ODataConventionModelBuilder
    {
        public static IEdmModel GetEdmModel()
        {
            ODataConventionModelBuilder builder = new ODataConventionModelBuilder();

            builder.EntitySet<Apartment>("Apartment");
            b

[2018-08-03 20:35] xuzhg commented on #1555
Merged

[2018-08-03 20:35] #1555 closed

[2018-08-03 21:06] KanishManuja-MS commented on #1556
@NetTecture I see that you have the guid that you have used for the filtering query is not valid. Removing the prepended 27 to your guid - "27ca08f36c-c08a-42e6-9293-e4243377e505" shall fix the error thrown at you.

[2018-08-03 21:06] #1556 closed

[2018-08-05 20:28] bastienlemaitre commented on #836
Same issue..

[2018-08-06 06:45] sorcerb commented on #1521
@alkozlov , thanks for try, but not help to me...

[2018-08-07 13:59] droyad opened #1562 "How to return data as XML"
I'm trying to port an application from ASP.NET OData 5.7.0 to .NET Core. The application returns the results in XML. However, despite my best efforts, it just keeps returning JSON, despite the `Accept: application/atom+xml, application/xml` header.

OData WebApi Core lib 7.0.1

I've created my own `OutputFormatterSelector` that returns the XML formatter first, then also set the content type on my

[2018-08-07 16:47] JohnGalt1717 commented on #1554
Bump

[2018-08-08 09:08] maximpashuk commented on #255
I am also failing into this issue :(
@xuzhg, can I ask your attention please.

@vojtechvit created a pull request for fixing this issue in odata.net repo
https://github.com/OData/odata.net/pull/111

I don't know why this pull request is not merged and just closed, I saw the code and it looks good for me.
Can you spent some time on this issue?
This issue is still actual  in **Microsoft.AspNetCore.O

[2018-08-08 20:43] #939 closed

[2018-08-08 21:01] biaol-odata commented on #328
@madansr7 please prioritize.

[2018-08-08 21:07] xuzhg commented on #669
@techniq Any help needed for your problem?

[2018-08-09 00:05] swhillance-mphn commented on #1421
This issue is causing massive headaches for our team

[2018-08-09 11:53] NetTecture commented on #1544
Same here. Basic OData routes are working perfectly (Query), but actions are simply not called.

[2018-08-09 13:28] DavTheSuave opened #1563 "Is it currently possible to write your own logic to apply system query options?"
I have an OData service that indirectly exposes SQL tables. I want to convert system query options like $filter into part of the SQL call itself. I'm able to do this currently, but not without OData then taking my return value in the Get method and applying the query to it. This means my data is being filtered on twice, not the end of the world but not ideal either. I can't seem to find any way to

[2018-08-09 14:54] albertoVieiraNeto opened #1564 "Odata count inside Expand [.Net Core]"
### Short summary

Odata count function does not work properly when inside the expand property. either throws a exception or displays incorrect values.

### Assemblies affected

Version affected/Tested :
Microsoft.AspNetCore.OData @7.0.1

### Reproduce steps

Create 2 models

[code]
[code]

[code]

register the odata endpoint as per documentation, and try to hit the following url

`http://<serverA

[2018-08-09 15:09] albertoVieiraNeto opened #1565 "Odata Count Incorrect values on Odata Function [.Net Core]"
### Short Description

After creating a custom Function on odata if one the navigation properties is expanded and a count added inside this expand, the numbers returned are completely wrong.

### Assemblies affected

Version affected/Tested :
Microsoft.AspNetCore.OData @7.0.1

### Reproduce steps

register a custom function on the model builder:
[code]

Create a function on the controller:
[code]

[2018-08-09 18:42] biaol-odata commented on #1563
@DavTheSuave I believe currently query options is *always and automatically* applied on the Get result, and I am not aware of any settings to achieve what you describe. IMHO, the current design helps to achieve a simple design with good usability.

[2018-08-09 18:45] biaol-odata commented on #1564
Set to P2 due to NullValueExeception.

[2018-08-10 07:59] NetTecture commented on #1564
That is actually supposed to work?

I am asking because a similar URL does not even pass parsing in ODL libraries (which would be tracked under 809). This would actually possibly be a workaround one that is made working. So, this is actually supposed to work? NICE.

[2018-08-10 08:07] NetTecture commented on #1563
How does your method signature look? Because this is what happens when YOU apply and then there is an EnableQuery attribute. It happens more if you ahve two EnableQuery (i.e. filters applied twice). But you do not NEED EnableQuery if you handle it yourself.

[2018-08-10 11:23] NetTecture opened #1566 "Actions require return type? How to bypass"
Deleted

[2018-08-10 11:24] #1566 closed, assigned to nobody

[2018-08-10 12:16] NetTecture opened #1567 "Action with one optional parameter requires 2 implementations"
Not good. The following action:

            builder.EntityType<ServiceProvider>()
                .Action("Invite")
                .InNamespace("Operations")
                .WithParameter<string>("Email", c =>
                {
                    c.Optional();
                })
                .Returns<System.Guid>();

successfully maps to

        [HttpPost()]
        [ODataRoute("ServicePro

[2018-08-10 14:50] DavTheSuave commented on #1563
@NetTecture Good call! I assumed OData would reject query options if I removed the [EnableQuery] attribute, so I never thought to do it. This solved my issue, thank you.

[2018-08-10 18:15] biaol-odata commented on #1563
@DavTheSuave @NetTecture In retrospective, that actually makes sense. Thanks for pointing that out.

[2018-08-10 18:54] biaol-odata commented on #1565
maybe related to https://github.com/OData/WebApi/issues/1564, since both are related to $count inside expand.

[2018-08-10 22:17] #1559 closed

[2018-08-10 22:29] biaol-odata commented on #1562
Closed. Feel free to reopen or open new one as needed.

[2018-08-10 22:29] #1562 closed

[2018-08-10 22:30] biaol-odata commented on #1563
Closed. Feel free to re-open or open new one as needed.

[2018-08-10 22:30] #1563 closed

[2018-08-10 22:38] biaol-odata commented on #1567
We should look into obscure message "Unsupported Media Type."

[2018-08-11 14:58] bearkat2173 opened #1568 "Make it possible to only select fields from a parent entity (i.e. navigation property)?"
In OData V3, I can select just fields from parent/ancestor entities like this: http://services.odata.org/V3/Northwind/Northwind.svc/Order_Details(OrderID=10248,ProductID=11)?&$select=Product/Category/CategoryName&$expand=Product/Category

That query returns only CategoryName, it does not include any fields from Order_Details or Product. This behavior is very important to our application for perfor

[2018-08-11 22:49] jbuschke commented on #255
Im also facing this issue

[2018-08-12 14:38] techniq commented on #669
@xuzhg Yes please :).  Sorry, I've been swamped and haven't had a chance to reply.  I'm currently using `7.0.0` (I haven't gotten around to upgrading to `7.0.2` yet) but I just tested `$apply=aggregate` and still throwing an exception:

[code]

I have been experimenting with https://github.com/voronov-maxim/OdataToEntity which supports EF Core and `$apply=aggregate` so I don't thin the issue is on

[2018-08-13 10:41] NetTecture opened #1569 "Action without return type required special coding in controller level, returns false 200"
The standard way in asp.net (core and not) to write a method that returns nothing is to write a method that returns void (or Task for async).

This does not work for odata because asp.net returns status code 200, instead of the required 204 (no content). This is an inconvenience. Minor, but hey, difference between working and good api.

A function defined as

[code]
mapes to an action

[code]

No

[2018-08-13 15:11] #1387 closed

[2018-08-13 17:00] biaol-odata commented on #1568
@bearkat2173 Can you provide additional information about which version of WebApi you are using?

[2018-08-13 23:00] bearkat2173 commented on #1568
Microsoft.OData.Core: 7.4.4
Microsoft.AspNet.WebApi.Core: 5.2.4

Would this behavior have changed in the latest version?

[2018-08-13 23:38] biaol-odata commented on #1568
@bearkat2173 Microsoft.AspNet.WebApi.Core: 5.2.4 is the general WebApi for AspNet, not WebApi for OData, which should be the Microsoft.AspNet.OData.
What I was trying to point out is that the reference service is not using the latest WebApi-OData, so it might not be reflecting the current implementation.

[2018-08-14 02:02] bearkat2173 commented on #1568
@biaol-odata The issue still exists in the master branch.
You can see in [SelectBinder.cs] (https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/UriParser/Binders/SelectBinder.cs) the comments clearly state on line 50 that all fields get selected by default:

I am currently having to alter line 52 to pass in false to SetAllSelected: `this.visitor.DecoratedExpandClause.SetAllSele

[2018-08-14 11:44] wurst0815 opened #1570 "groupby on nested entities returns empty results"
Microsoft.AspNet.OData, Version=7.0.1

When applying groupby on a navigation properties attribute, the result is as expected like $apply=groupby((t_global_buildings/id)) returns the correct grouped result.

![image](https://user-images.githubusercontent.com/13557494/44089439-1084b2c6-9fc7-11e8-88d1-dddd76f61b7d.png)

But when I want to apply groupby on a nested navigation property's attribute, the

[2018-08-14 15:55] albertoVieiraNeto opened #1571 "Function bound to entity routing error [.Net Core]"
*Short summary (3-5 sentences) describing the issue.*
functions bound to entity dont seem to be working

### Assemblies affected

Version affected/Tested :
Microsoft.AspNetCore.OData @7.0.1

### Reproduce steps

on the builder create a simple function bound to the entity:

[code]
on the controller for that type create new simple function and leave a default one with enable query:

[code]
then hit:

[2018-08-14 16:00] albertoVieiraNeto commented on #1565
indeed they are related, I've found both of these issues when working on the same task when used with a function the counts works in this crazy way and when used on a default function it throws a error like the other issue.

[2018-08-14 18:14] albertoVieiraNeto commented on #1571
changing the code to something like the example below, makes the routing works but i wanted something a little like what we could do with the older version [example](https://blogs.msdn.microsoft.com/odatateam/2014/12/08/tutorial-sample-functions-actions-in-web-api-v2-2-for-odata-v4-0-type-scenario/#comments)

declaration:
[code]
function inside the controller
[code]

[2018-08-15 05:10] nkilzer opened #1572 "OData deserializer swallows errors if ILogger service is registered"
Model binding errors for malformed data when invoking Post() methods (and probably others) are not propagated to the controller method if a service with the `Microsoft.Extensions.Logging.ILogger` interface is registered.

### Assemblies tested
Microsoft.AspNetCore.OData 7.0.1 (from Nuget)

### Reproduction steps

I haven't had time to put together a complete sample project for the issue (my test p

[2018-08-15 09:41] flieks opened #1573 "display vocabulary"
It's quite unclear how to implement the odata.include-annotations defined in the [odata web api docs](http://odata.github.io/WebApi/#04-19-odataIncludeAnnotations)

Is the [ODataConventionModelBuilder](https://github.com/OData/odata.net/issues/1229) the way to do it, which seems super limited.
Or better by overriding ODataResourceSerializer and DefaultODataSerializerProvider and using CreateODataV

[2018-08-15 14:55] akorchev opened #1574 "How to do error handling in ASP.NET Core?"
How should one handle exceptions and return some message in the OData error format `{ error: { message: 'error' }`?

If I have an invalid OData query I get the exception in JSON format as expected. If however something in the controller throws an error (SQL connection error, Entity Framework exception) I get the developer exception page which is HTML. If it is disabled I get empty response.

### A

[2018-08-15 20:31] smasherprog commented on #1552
https://github.com/OData/WebApi/issues/1463

[2018-08-16 12:03] iamkinetic opened #1575 "Custom serialization/deserialization for certain property type"
So I'm using OData (7.0.1) for Asp.Net Core (2.1) with EFCore (PgSql + Postgis).  We have one model with a property of type Point (NetTopologySuite.Geometries.Point).

For whatever reason, OData is not correctly handling this type.  I'm getting this exception when I'm selecting only this field with no expand at all:

`
Microsoft.OData.ODataException: The depth limit for entries in nested expanded

[2018-08-17 01:52] maximpashuk opened #1576 "HttpRequestExtensions.GetNextPageLink does hot honor EnableNoDollarQueryOptions"
Hi I am using **Microsoft.AspNetCore.OData 7.0.1**

If I have an option

```ODataUriResolver.EnableNoDollarQueryOptions = true```

I can use **select** instead of **$select**, **top** instead of **$top** and all these things works fine.

The only thing that is does not work is "@odata.nextLink",
if I pass **?skip=100** for example, then "@odata.nextLink" generated as "?skip=100&**$skip=100**"

In

[2018-08-17 01:54] maximpashuk commented on #1576
@biaol-odata , recently you worked on #1559, can you take a look on this also, this issue also about "@odata.nextLink" generation.

[2018-08-17 09:00] ZeroNightzz opened #1577 "Documentation is bad, creating decoupled system using OData is impossible(?), applying filters outside of controllers"
I'm trying to use OData with ASP.NET Core but there's almost no documentation for it. I'm learning from samples but still, it's very hard to understand all the mechanics like should all of my controllers derive from `ODataController`? Should ASP.NET Core MVC routing still be used or should I use only OData route to communicate?

I'm sure many people like me easily gave up on using it because of th

[2018-08-17 16:10] Angelinsky7 commented on #1179
for me with version 7.0.1 this
[code]
in
[code]
is not working anymore without adding this to each controller
[code]

Is this normal ? How can i set by default for all my controllers thoses options ?
Thanks

[2018-08-17 20:04] hidegh commented on #1107
@gorillapower i had this issue, were using OData.Core 7.4.1 and AspNetCore.Odata 7.0.0-beta1. upgrading to Odata.Core 7.5.0 and AspNetCore.OData 7.0.1 solved this issue.

[2018-08-18 09:36] flieks commented on #1573
it seems this is the way to go

[code]

To insert a "computed" property pointing to a navigation propertie's field
But how can you combine 2 fields - for example LastName & FirstName - with EdmPathExpressions ?

[2018-08-19 10:54] xmichaelx opened #1578 "OData group by yields VerificationException on EF Core & Asp.Net Core"
Simple group by operation fails on Entity Framework Core (SQL Sever) and Asp.Net Core:

`https://localhost:44398/odata/file?$apply=groupby((FileType))`

Probably due to inability to translate used GroupBy LINQ expression.

### Assemblies affected

Microsoft.AspNetCore.OData 7.0.1
Microsoft.EntityFrameworkCore.SqlServer 2.1.1
Microsoft.AspNetCore 2.1.2

### Reproduce steps

I've made repo illustrat

[2018-08-20 10:23] maximpashuk opened #1579 "Star select ($select=*) not returning dynamic properties"
Hi I am using **Microsoft.AspNetCore.OData 7.0.1**

I always think that call to "**/movies**" should be equals to call to "**/movies?$select=***".
But this is not true in a case of dynamic properties.

This behavior can be simply reproduced in sample app in this repo **([AspNetCoreODataSample.Web](https://github.com/OData/WebApi/tree/master/samples/AspNetCoreODataSample.Web)).**

If you add to Mov

[2018-08-20 13:37] JohnGalt1717 commented on #1554
Wow. I guess it's safe to say that oData is a dead duck in Microsoft...

[2018-08-20 15:11] TehWardy commented on #912
so it's been a good 18 months ... any movement on this  @mtroth-microsoft ?

[2018-08-20 16:23] smariussorin opened #1580 "Migrating OData InlineCount from Net Framework to Net Core"
Hi guys, I looked on every post/thread and I only found the new OData functionality and all the links showed the implementation using IQuarable. I`m trying to keep the result not quarable, as I filter the data in the data layer. So good, so far.

The only problem I have is with the following code:
 var pageResult = new PageResult<T>(results as IEnumerable<InfectionInfoWrapper>, Request.ODataProper

[2018-08-20 19:14] #1577 closed

[2018-08-20 23:34] hippiehunter opened #1582 "$value requires that the key parameter be called 'key' in order to bind the value at runtime"
### Assemblies affected

Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps
add the following code to the bottom of the movies controller in samples\AspNetCoreODataSample.Web\
[code]

Run the project, navigate to http://localhost:5913/efcore/Movies(1)/Title/$value
### Expected result

should return "Conan" in raw form without the quotes

### Actual result

null reference because SomeKindOfKey w

[2018-08-21 09:12] CrazyBaran opened #1583 "Strange 200 OK return"
I find strange issue with odata core and NgSQL for entity framework core. When I get timeout on EFcore cause port block, EFCore raise exception, but this exception is cover up by 200 OK response somehow. DeveloperExceptionPageMiddleware didnt show up.

### Assemblies affected

Microsoft.AspNetCore.OData 7.0.1

### Reproduce steps

1. Make controller with EnableQuery
2. Query db with blocked port
3

[2018-08-21 14:39] smariussorin commented on #1580
I`m interesed how to get the 'Request.ODataProperties().TotalCount'. The NextLink I found how.

[2018-08-21 14:57] Angelinsky7 opened #1584 "CreatedAtAction raise "No route matches the supplied values""
If i use odata controller to build an api i cannot call the `CreatedAtAction` method to return the correct url of the created resource.

### Assemblies affected

[code]

### Reproduce steps

[code]

### Expected result

The route should be created correctly... if i revert back to ControllerBase and only use WebApi everything is working correctly

### Actual result

[code]